.aquaHotPink7,
.hover_aquaHotPink7:hover,
.active_aquaHotPink7:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(201, 0, 120, .39),
           inset 0 -0.5em 0.9em 0 #ff30c8,
           inset 0 -0.5em 0em 0.65em rgb(150, 0, 87),
           inset 0 0em 0.5em 2em rgb(220, 57, 152);
    -moz-box-shadow: 0 0.63em 0.75em rgba(201, 0, 120, .39),
           inset 0 -0.5em 0.9em 0 #ff30c8,
           inset 0 -0.5em 0em 0.65em rgb(150, 0, 87),
           inset 0 0em 0.5em 2em rgb(220, 57, 152);
    box-shadow: 0 0.63em 0.75em rgba(201, 0, 120, .39),
           inset 0 -0.5em 0.9em 0 #ff30c8,
           inset 0 -0.5em 0em 0.65em rgb(150, 0, 87),
           inset 0 0em 0.5em 2em rgb(220, 57, 152);
}

.aquaHotPink7h,
.hover_aquaHotPink7h:hover,
.active_aquaHotPink7h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(226, 0, 136, .55),
           inset 0 -0.5em 0.9em 0 #ff63d5,
           inset 0 -0.5em 0em 0.65em #fc0093,
           inset 0 0em 0.5em 2em #fb66bd;
    -moz-box-shadow:0 0.63em 1em rgba(226, 0, 136, .55),
           inset 0 -0.5em 0.9em 0 #ff63d5,
           inset 0 -0.5em 0em 0.65em #fc0093,
           inset 0 0em 0.5em 2em #fb66bd;
    box-shadow:0 0.63em 1em rgba(226, 0, 136, .55),
           inset 0 -0.5em 0.9em 0 #ff63d5,
           inset 0 -0.5em 0em 0.65em #fc0093,
           inset 0 0em 0.5em 2em #fb66bd;
}

.aquaHotPink7a,
.hover_aquaHotPink7a:hover,
.active_aquaHotPink7a:active {
    /*background: #d20069;*/

    -webkit-box-shadow:0 0.63em 1em rgba(150, 0, 90, .55),
           inset 0 -0.5em 0.9em 0 #ff49ce,
           inset 0 -0.5em 0em 0.65em #c30072,
           inset 0 0em 0.5em 2em #ff169e;
    -moz-box-shadow:0 0.63em 1em rgba(150, 0, 90, .55),
           inset 0 -0.5em 0.9em 0 #ff49ce,
           inset 0 -0.5em 0em 0.65em #c30072,
           inset 0 0em 0.5em 2em #ff169e;
    box-shadow:0 0.63em 1em rgba(150, 0, 90, .55),
           inset 0 -0.5em 0.9em 0 #ff49ce,
           inset 0 -0.5em 0em 0.65em #c30072,
           inset 0 0em 0.5em 2em #ff169e;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaHotPink7,
.hover_color_aquaHotPink7:hover,
.active_color_aquaHotPink7:active {
    color: #c8c8c8;
}

.color_aquaHotPink7h,
.hover_color_aquaHotPink7h:hover,
.active_color_aquaHotPink7h:active {
    color: #c8c8c8;
}

.color_aquaHotPink7a,
.hover_color_aquaHotPink7a:hover,
.active_color_aquaHotPink7a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaHotPink7,
.hover_border_aquaHotPink7:hover,
.active_border_aquaHotPink7:active {
    border-color: #8c0046 #8c0046 #8c0046 #8c0046;
}

.border_aquaHotPink7h,
.hover_border_aquaHotPink7h:hover,
.active_border_aquaHotPink7h:active {
    border-color: #8c0046 #8c0046 #8c0046 #8c0046;
}

.border_aquaHotPink7a,
.hover_border_aquaHotPink7a:hover,
.active_border_aquaHotPink7a:active  {
    border-color: #8c0046 #8c0046 #8c0046 #8c0046;
}

