.background_glassyGreenYellow3,
.hover_background_glassyGreenYellow3:hover,
.active_background_glassyGreenYellow3:active:hover {
    background: #84da00;
    background-image: -moz-linear-gradient(top,  rgb(119, 196, 0) 0%, rgb(106, 175, 0) 50%, rgb(93, 153, 0) 55%, rgb(132, 218, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(119, 196, 0)), color-stop(50%, rgb(106, 175, 0)), color-stop(55%, rgb(93, 153, 0)), color-stop(100%, rgb(132, 218, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(119, 196, 0) 0%, rgb(106, 175, 0) 50%, rgb(93, 153, 0) 55%, rgb(132, 218, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(119, 196, 0) 0%, rgb(106, 175, 0) 50%, rgb(93, 153, 0) 55%, rgb(132, 218, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(119, 196, 0) 0%, rgb(106, 175, 0) 50%, rgb(93, 153, 0) 55%, rgb(132, 218, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(119, 196, 0) 0%, rgb(106, 175, 0) 50%, rgb(93, 153, 0) 55%, rgb(132, 218, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77c400', endColorstr='#84da00',GradientType=0 );
}

.background_glassyGreenYellow3h,
.hover_background_glassyGreenYellow3h:hover,
.active_background_glassyGreenYellow3h:active:hover {
    background: #84da00;
    background-image: -moz-linear-gradient(top,  rgb(143, 236, 0) 0%, rgb(127, 209, 0) 50%, rgb(111, 183, 0) 55%, rgb(157, 255, 7) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(143, 236, 0)), color-stop(50%, rgb(127, 209, 0)), color-stop(55%, rgb(111, 183, 0)), color-stop(100%, rgb(157, 255, 7)));
    background-image: -webkit-linear-gradient(top,  rgb(143, 236, 0) 0%, rgb(127, 209, 0) 50%, rgb(111, 183, 0) 55%, rgb(157, 255, 7) 100%);
    background-image: -o-linear-gradient(top,  rgb(143, 236, 0) 0%, rgb(127, 209, 0) 50%, rgb(111, 183, 0) 55%, rgb(157, 255, 7) 100%);
    background-image: -ms-linear-gradient(top, rgb(143, 236, 0) 0%, rgb(127, 209, 0) 50%, rgb(111, 183, 0) 55%, rgb(157, 255, 7) 100%);
    background-image: linear-gradient(to bottom,  rgb(143, 236, 0) 0%, rgb(127, 209, 0) 50%, rgb(111, 183, 0) 55%, rgb(157, 255, 7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fec00', endColorstr='#9dff07',GradientType=0 );
}

.background_glassyGreenYellow3a,
.hover_background_glassyGreenYellow3a:hover,
.active_background_glassyGreenYellow3a:active:hover {
    background: #84da00;
    background-image: -moz-linear-gradient(top,  rgb(157, 255, 7) 0%, rgb(111, 183, 0) 50%, rgb(127, 209, 0) 55%, rgb(143, 236, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(157, 255, 7)), color-stop(50%, rgb(111, 183, 0)), color-stop(55%, rgb(127, 209, 0)), color-stop(100%, rgb(143, 236, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(157, 255, 7) 0%, rgb(111, 183, 0) 50%, rgb(127, 209, 0) 55%, rgb(143, 236, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(157, 255, 7) 0%, rgb(111, 183, 0) 50%, rgb(127, 209, 0) 55%, rgb(143, 236, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(157, 255, 7) 0%, rgb(111, 183, 0) 50%, rgb(127, 209, 0) 55%, rgb(143, 236, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(157, 255, 7) 0%, rgb(111, 183, 0) 50%, rgb(127, 209, 0) 55%, rgb(143, 236, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dff07', endColorstr='#8fec00',GradientType=0 );
}

.background_glassyGreenYellow3s,
.hover_background_glassyGreenYellow3s:hover,
.active_background_glassyGreenYellow3s:active:hover {
    background: #84da00;
    background-image: -moz-linear-gradient(top,  rgb(170, 255, 40) 0%, rgb(157, 255, 7) 50%, rgb(139, 229, 0) 55%, rgb(183, 255, 72) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(170, 255, 40)), color-stop(50%, rgb(157, 255, 7)), color-stop(55%, rgb(139, 229, 0)), color-stop(100%, rgb(183, 255, 72)));
    background-image: -webkit-linear-gradient(top,  rgb(170, 255, 40) 0%, rgb(157, 255, 7) 50%, rgb(139, 229, 0) 55%, rgb(183, 255, 72) 100%);
    background-image: -o-linear-gradient(top,  rgb(170, 255, 40) 0%, rgb(157, 255, 7) 50%, rgb(139, 229, 0) 55%, rgb(183, 255, 72) 100%);
    background-image: -ms-linear-gradient(top, rgb(170, 255, 40) 0%, rgb(157, 255, 7) 50%, rgb(139, 229, 0) 55%, rgb(183, 255, 72) 100%);
    background-image: linear-gradient(to bottom,  rgb(170, 255, 40) 0%, rgb(157, 255, 7) 50%, rgb(139, 229, 0) 55%, rgb(183, 255, 72) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaff28', endColorstr='#b7ff48',GradientType=0 );
}

.background_color_glassyGreenYellow3,
.hover_background_color_glassyGreenYellow3:hover,
.active_background_color_glassyGreenYellow3:active:hover {
    background-color:#84da00;
}

.background_first_color_glassyGreenYellow3,
.hover_background_first_color_glassyGreenYellow3:hover,
.active_background_first_color_glassyGreenYellow3:active:hover {
    background-color:#77c400;
}

.background_last_color_glassyGreenYellow3,
.hover_background_last_color_glassyGreenYellow3:hover,
.active_background_color_last_glassyGreenYellow3:active:hover {
   background-color:#84da00;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyGreenYellow3,
.hover_color_glassyGreenYellow3:hover,
.active_color_glassyGreenYellow3:active:hover {
    color: #282828;
}

.color_glassyGreenYellow3h,
.hover_color_glassyGreenYellow3h:hover,
.active_color_glassyGreenYellow3h:active:hover {
    color: #282828;
}

.color_glassyGreenYellow3a,
.hover_color_glassyGreenYellow3a:hover,
.active_color_glassyGreenYellow3a:active:hover {
    color: #ff0;
}

.color_glassyGreenYellow3s,
.hover_color_glassyGreenYellow3s:hover,
.active_color_glassyGreenYellow3s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyGreenYellow3,
.hover_border_glassyGreenYellow3:hover,
.active_border_glassyGreenYellow3:active:hover {
    border-color: #5f9d00 #4f8300 #4f8300 #5f9d00;
}

.border_glassyGreenYellow3h,
.hover_border_glassyGreenYellow3h:hover,
.active_border_glassyGreenYellow3h:active:hover {
    border-color: #5f9d00 #4f8300 #4f8300 #5f9d00;
}

.border_glassyGreenYellow3a,
.hover_border_glassyGreenYellow3a:hover,
.active_border_glassyGreenYellow3a:active:hover {
    border-color: #4a7a00 #4a7a00 #4a7a00 #4a7a00;
}

.border_glassyGreenYellow3s,
.hover_border_glassyGreenYellow3s:hover,
.active_border_glassyGreenYellow3s:active:hover {
    border-color: #4a7a00 #4a7a00 #4a7a00 #4a7a00;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyGreenYellow3,
.hover_shadow_expand_glassyGreenYellow3:hover,
.active_shadow_expand_glassyGreenYellow3:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(132, 218, 0, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(132, 218, 0, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(132, 218, 0, .39);
}

.shadow_expand_glassyGreenYellow3h,
.hover_shadow_expand_glassyGreenYellow3h:hover,
.active_shadow_expand_glassyGreenYellow3h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(157, 255, 7, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(157, 255, 7, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(157, 255, 7, .50);
}

.shadow_expand_glassyGreenYellow3a,
.hover_shadow_expand_glassyGreenYellow3a:hover,
.active_shadow_expand_glassyGreenYellow3a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(143, 236, 0, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(143, 236, 0, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(143, 236, 0, .63);
}

.shadow_expand_glassyGreenYellow3s,
.hover_shadow_expand_glassyGreenYellow3s:hover,
.active_shadow_expand_glassyGreenYellow3s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(143, 236, 0, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(143, 236, 0, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(143, 236, 0, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyGreenYellow3,
.hover_shadow_left_glassyGreenYellow3:hover,
.active_shadow_left_glassyGreenYellow3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(132, 218, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(132, 218, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(132, 218, 0, .39);
}

.shadow_left_glassyGreenYellow3h,
.hover_shadow_left_glassyGreenYellow3h:hover,
.active_shadow_left_glassyGreenYellow3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 255, 7, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 255, 7, .50);
    box-shadow: -0.5em -0.5em 1em rgba(157, 255, 7, .50);
}

.shadow_left_glassyGreenYellow3a,
.hover_shadow_left_glassyGreenYellow3a:hover,
.active_shadow_left_glassyGreenYellow3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(143, 236, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(143, 236, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(143, 236, 0, .63);
}

.shadow_left_glassyGreenYellow3s,
.hover_shadow_left_glassyGreenYellow3s:hover,
.active_shadow_left_glassyGreenYellow3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(143, 236, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(143, 236, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(143, 236, 0, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyGreenYellow3,
.hover_shadow_right_glassyGreenYellow3:hover,
.active_shadow_right_glassyGreenYellow3:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(132, 218, 0, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(132, 218, 0, .39);
    box-shadow: 0.5em 0em 1em rgba(132, 218, 0, .39);
}

.shadow_right_glassyGreenYellow3h,
.hover_shadow_right_glassyGreenYellow3h:hover,
.active_shadow_right_glassyGreenYellow3h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(157, 255, 7, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(157, 255, 7, .50);
    box-shadow: 0.5em 0em 1em rgba(157, 255, 7, .50);
}

.shadow_right_glassyGreenYellow3a,
.hover_shadow_right_glassyGreenYellow3a:hover,
.active_shadow_right_glassyGreenYellow3a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(143, 236, 0, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(143, 236, 0, .63);
    box-shadow: 0.5em 0em 1em rgba(143, 236, 0, .63);
}

.shadow_right_glassyGreenYellow3s,
.hover_shadow_right_glassyGreenYellow3s:hover,
.active_shadow_right_glassyGreenYellow3s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(143, 236, 0, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(143, 236, 0, .78);
    box-shadow: 0.5em 0em 1em rgba(143, 236, 0, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyGreenYellow3,
.hover_shadow_top_glassyGreenYellow3:hover,
.active_shadow_top_glassyGreenYellow3:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(132, 218, 0, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(132, 218, 0, .39);
    box-shadow: 0em -0.5em 1em rgba(132, 218, 0, .39);
}

.shadow_top_glassyGreenYellow3h,
.hover_shadow_top_glassyGreenYellow3h:hover,
.active_shadow_top_glassyGreenYellow3h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(157, 255, 7, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(157, 255, 7, .50);
    box-shadow: 0em -0.5em 1em rgba(157, 255, 7, .50);
}

.shadow_top_glassyGreenYellow3a,
.hover_shadow_top_glassyGreenYellow3a:hover,
.active_shadow_top_glassyGreenYellow3a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(143, 236, 0, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(143, 236, 0, .63);
    box-shadow: 0em -0.5em 1em rgba(143, 236, 0, .63);
}

.shadow_top_glassyGreenYellow3s,
.hover_shadow_top_glassyGreenYellow3s:hover,
.active_shadow_top_glassyGreenYellow3s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(143, 236, 0, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(143, 236, 0, .78);
    box-shadow: 0em -0.5em 1em rgba(143, 236, 0, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyGreenYellow3,
.hover_shadow_bottom_glassyGreenYellow3:hover,
.active_shadow_bottom_glassyGreenYellow3:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(132, 218, 0, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(132, 218, 0, .39);
    box-shadow: 0em 0.5em 1em rgba(132, 218, 0, .39);
}

.shadow_bottom_glassyGreenYellow3h,
.hover_shadow_bottom_glassyGreenYellow3h:hover,
.active_shadow_bottom_glassyGreenYellow3h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(157, 255, 7, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(157, 255, 7, .50);
    box-shadow: 0em 0.5em 1em rgba(157, 255, 7, .50);
}

.shadow_bottom_glassyGreenYellow3a,
.hover_shadow_bottom_glassyGreenYellow3a:hover,
.active_shadow_bottom_glassyGreenYellow3a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(143, 236, 0, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(143, 236, 0, .63);
    box-shadow: 0em 0.5em 1em rgba(143, 236, 0, .63);
}

.shadow_bottom_glassyGreenYellow3s,
.hover_shadow_bottom_glassyGreenYellow3s:hover,
.active_shadow_bottom_glassyGreenYellow3s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(143, 236, 0, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(143, 236, 0, .78);
    box-shadow: 0em 0.5em 1em rgba(143, 236, 0, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyGreenYellow3,
.hover_shadow_top_left_glassyGreenYellow3:hover,
.active_shadow_top_left_glassyGreenYellow3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(132, 218, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(132, 218, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(132, 218, 0, .39);
}

.shadow_top_left_glassyGreenYellow3h,
.hover_shadow_top_left_glassyGreenYellow3h:hover,
.active_shadow_top_left_glassyGreenYellow3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 255, 7, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 255, 7, .50);
    box-shadow: -0.5em -0.5em 1em rgba(157, 255, 7, .50);
}

.shadow_top_left_glassyGreenYellow3a,
.hover_shadow_top_left_glassyGreenYellow3a:hover,
.active_shadow_top_left_glassyGreenYellow3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(143, 236, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(143, 236, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(143, 236, 0, .63);
}

.shadow_top_left_glassyGreenYellow3s,
.hover_shadow_top_left_glassyGreenYellow3s:hover,
.active_shadow_top_left_glassyGreenYellow3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(143, 236, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(143, 236, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(143, 236, 0, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyGreenYellow3,
.hover_shadow_top_right_glassyGreenYellow3:hover,
.active_shadow_top_right_glassyGreenYellow3:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(132, 218, 0, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(132, 218, 0, .39);
    box-shadow: 0.5em -0.5em 1em rgba(132, 218, 0, .39);
}

.shadow_top_right_glassyGreenYellow3h,
.hover_shadow_top_right_glassyGreenYellow3h:hover,
.active_shadow_top_right_glassyGreenYellow3h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(157, 255, 7, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(157, 255, 7, .50);
    box-shadow: 0.5em -0.5em 1em rgba(157, 255, 7, .50);
}

.shadow_top_right_glassyGreenYellow3a,
.hover_shadow_top_right_glassyGreenYellow3a:hover,
.active_shadow_top_right_glassyGreenYellow3a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(143, 236, 0, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(143, 236, 0, .63);
    box-shadow: 0.5em -0.5em 1em rgba(143, 236, 0, .63);
}

.shadow_top_right_glassyGreenYellow3s,
.hover_shadow_top_right_glassyGreenYellow3s:hover,
.active_shadow_top_right_glassyGreenYellow3s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(143, 236, 0, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(143, 236, 0, .78);
    box-shadow: 0.5em -0.5em 1em rgba(143, 236, 0, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyGreenYellow3,
.hover_shadow_bottom_left_glassyGreenYellow3:hover,
.active_shadow_bottom_left_glassyGreenYellow3:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(132, 218, 0, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(132, 218, 0, .39);
    box-shadow: -0.5em 0.5em 1em rgba(132, 218, 0, .39);
}

.shadow_bottom_left_glassyGreenYellow3h,
.hover_shadow_bottom_left_glassyGreenYellow3h:hover,
.active_shadow_bottom_left_glassyGreenYellow3h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(157, 255, 7, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(157, 255, 7, .50);
    box-shadow: -0.5em 0.5em 1em rgba(157, 255, 7, .50);
}

.shadow_bottom_left_glassyGreenYellow3a,
.hover_shadow_bottom_left_glassyGreenYellow3a:hover,
.active_shadow_bottom_left_glassyGreenYellow3a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(143, 236, 0, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(143, 236, 0, .63);
    box-shadow: -0.5em 0.5em 1em rgba(143, 236, 0, .63);
}

.shadow_bottom_left_glassyGreenYellow3s,
.hover_shadow_bottom_left_glassyGreenYellow3s:hover,
.active_shadow_bottom_left_glassyGreenYellow3s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(143, 236, 0, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(143, 236, 0, .78);
    box-shadow: -0.5em 0.5em 1em rgba(143, 236, 0, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyGreenYellow3,
.hover_shadow_bottom_right_glassyGreenYellow3:hover,
.active_shadow_bottom_right_glassyGreenYellow3:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(132, 218, 0, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(132, 218, 0, .39);
    box-shadow: 0.5em 0.5em 1em rgba(132, 218, 0, .39);
}

.shadow_bottom_right_glassyGreenYellow3h,
.hover_shadow_bottom_right_glassyGreenYellow3h:hover,
.active_shadow_bottom_right_glassyGreenYellow3h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(157, 255, 7, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(157, 255, 7, .50);
    box-shadow: 0.5em 0.5em 1em rgba(157, 255, 7, .50);
}

.shadow_bottom_right_glassyGreenYellow3a,
 .hover_shadow_bottom_right_glassyGreenYellow3a:hover,
 .active_shadow_bottom_right_glassyGreenYellow3a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(143, 236, 0, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(143, 236, 0, .63);
     box-shadow: 0.5em 0.5em 1em rgba(143, 236, 0, .63);
 }

 .shadow_bottom_right_glassyGreenYellow3s,
 .hover_shadow_bottom_right_glassyGreenYellow3s:hover,
 .active_shadow_bottom_right_glassyGreenYellow3s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(143, 236, 0, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(143, 236, 0, .78);
     box-shadow: 0.5em 0.5em 1em rgba(143, 236, 0, .78);
 }