.background_glassyGreenYellow6,
.hover_background_glassyGreenYellow6:hover,
.active_background_glassyGreenYellow6:active:hover {
    background: #518600;
    background-image: -moz-linear-gradient(top,  rgb(73, 121, 0) 0%, rgb(65, 107, 0) 50%, rgb(57, 94, 0) 55%, rgb(81, 134, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(73, 121, 0)), color-stop(50%, rgb(65, 107, 0)), color-stop(55%, rgb(57, 94, 0)), color-stop(100%, rgb(81, 134, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(73, 121, 0) 0%, rgb(65, 107, 0) 50%, rgb(57, 94, 0) 55%, rgb(81, 134, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(73, 121, 0) 0%, rgb(65, 107, 0) 50%, rgb(57, 94, 0) 55%, rgb(81, 134, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(73, 121, 0) 0%, rgb(65, 107, 0) 50%, rgb(57, 94, 0) 55%, rgb(81, 134, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(73, 121, 0) 0%, rgb(65, 107, 0) 50%, rgb(57, 94, 0) 55%, rgb(81, 134, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#497900', endColorstr='#518600',GradientType=0 );
}

.background_glassyGreenYellow6h,
.hover_background_glassyGreenYellow6h:hover,
.active_background_glassyGreenYellow6h:active:hover {
    background: #518600;
    background-image: -moz-linear-gradient(top,  rgb(88, 145, 0) 0%, rgb(78, 129, 0) 50%, rgb(68, 113, 0) 55%, rgb(97, 161, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(88, 145, 0)), color-stop(50%, rgb(78, 129, 0)), color-stop(55%, rgb(68, 113, 0)), color-stop(100%, rgb(97, 161, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(88, 145, 0) 0%, rgb(78, 129, 0) 50%, rgb(68, 113, 0) 55%, rgb(97, 161, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(88, 145, 0) 0%, rgb(78, 129, 0) 50%, rgb(68, 113, 0) 55%, rgb(97, 161, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(88, 145, 0) 0%, rgb(78, 129, 0) 50%, rgb(68, 113, 0) 55%, rgb(97, 161, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(88, 145, 0) 0%, rgb(78, 129, 0) 50%, rgb(68, 113, 0) 55%, rgb(97, 161, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#589100', endColorstr='#61a100',GradientType=0 );
}

.background_glassyGreenYellow6a,
.hover_background_glassyGreenYellow6a:hover,
.active_background_glassyGreenYellow6a:active:hover {
    background: #518600;
    background-image: -moz-linear-gradient(top,  rgb(97, 161, 0) 0%, rgb(68, 113, 0) 50%, rgb(78, 129, 0) 55%, rgb(88, 145, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(97, 161, 0)), color-stop(50%, rgb(68, 113, 0)), color-stop(55%, rgb(78, 129, 0)), color-stop(100%, rgb(88, 145, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(97, 161, 0) 0%, rgb(68, 113, 0) 50%, rgb(78, 129, 0) 55%, rgb(88, 145, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(97, 161, 0) 0%, rgb(68, 113, 0) 50%, rgb(78, 129, 0) 55%, rgb(88, 145, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(97, 161, 0) 0%, rgb(68, 113, 0) 50%, rgb(78, 129, 0) 55%, rgb(88, 145, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(97, 161, 0) 0%, rgb(68, 113, 0) 50%, rgb(78, 129, 0) 55%, rgb(88, 145, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61a100', endColorstr='#589100',GradientType=0 );
}

.background_glassyGreenYellow6s,
.hover_background_glassyGreenYellow6s:hover,
.active_background_glassyGreenYellow6s:active:hover {
    background: #518600;
    background-image: -moz-linear-gradient(top,  rgb(110, 181, 0) 0%, rgb(97, 161, 0) 50%, rgb(85, 141, 0) 55%, rgb(122, 201, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(110, 181, 0)), color-stop(50%, rgb(97, 161, 0)), color-stop(55%, rgb(85, 141, 0)), color-stop(100%, rgb(122, 201, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(110, 181, 0) 0%, rgb(97, 161, 0) 50%, rgb(85, 141, 0) 55%, rgb(122, 201, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(110, 181, 0) 0%, rgb(97, 161, 0) 50%, rgb(85, 141, 0) 55%, rgb(122, 201, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(110, 181, 0) 0%, rgb(97, 161, 0) 50%, rgb(85, 141, 0) 55%, rgb(122, 201, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(110, 181, 0) 0%, rgb(97, 161, 0) 50%, rgb(85, 141, 0) 55%, rgb(122, 201, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6eb500', endColorstr='#7ac900',GradientType=0 );
}

.background_color_glassyGreenYellow6,
.hover_background_color_glassyGreenYellow6:hover,
.active_background_color_glassyGreenYellow6:active:hover {
    background-color:#518600;
}

.background_first_color_glassyGreenYellow6,
.hover_background_first_color_glassyGreenYellow6:hover,
.active_background_first_color_glassyGreenYellow6:active:hover {
    background-color:#497900;
}

.background_last_color_glassyGreenYellow6,
.hover_background_last_color_glassyGreenYellow6:hover,
.active_background_color_last_glassyGreenYellow6:active:hover {
   background-color:#518600;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyGreenYellow6,
.hover_color_glassyGreenYellow6:hover,
.active_color_glassyGreenYellow6:active:hover {
    color: #c8c8c8;
}

.color_glassyGreenYellow6h,
.hover_color_glassyGreenYellow6h:hover,
.active_color_glassyGreenYellow6h:active:hover {
    color: #c8c8c8;
}

.color_glassyGreenYellow6a,
.hover_color_glassyGreenYellow6a:hover,
.active_color_glassyGreenYellow6a:active:hover {
    color: #ff0;
}

.color_glassyGreenYellow6s,
.hover_color_glassyGreenYellow6s:hover,
.active_color_glassyGreenYellow6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyGreenYellow6,
.hover_border_glassyGreenYellow6:hover,
.active_border_glassyGreenYellow6:active:hover {
    border-color: #3a6000 #315000 #315000 #3a6000;
}

.border_glassyGreenYellow6h,
.hover_border_glassyGreenYellow6h:hover,
.active_border_glassyGreenYellow6h:active:hover {
    border-color: #3a6000 #315000 #315000 #3a6000;
}

.border_glassyGreenYellow6a,
.hover_border_glassyGreenYellow6a:hover,
.active_border_glassyGreenYellow6a:active:hover {
    border-color: #2d4b00 #2d4b00 #2d4b00 #2d4b00;
}

.border_glassyGreenYellow6s,
.hover_border_glassyGreenYellow6s:hover,
.active_border_glassyGreenYellow6s:active:hover {
    border-color: #2d4b00 #2d4b00 #2d4b00 #2d4b00;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyGreenYellow6,
.hover_shadow_expand_glassyGreenYellow6:hover,
.active_shadow_expand_glassyGreenYellow6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(81, 134, 0, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(81, 134, 0, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(81, 134, 0, .39);
}

.shadow_expand_glassyGreenYellow6h,
.hover_shadow_expand_glassyGreenYellow6h:hover,
.active_shadow_expand_glassyGreenYellow6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(97, 161, 0, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(97, 161, 0, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(97, 161, 0, .50);
}

.shadow_expand_glassyGreenYellow6a,
.hover_shadow_expand_glassyGreenYellow6a:hover,
.active_shadow_expand_glassyGreenYellow6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(88, 145, 0, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(88, 145, 0, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(88, 145, 0, .63);
}

.shadow_expand_glassyGreenYellow6s,
.hover_shadow_expand_glassyGreenYellow6s:hover,
.active_shadow_expand_glassyGreenYellow6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(88, 145, 0, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(88, 145, 0, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(88, 145, 0, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyGreenYellow6,
.hover_shadow_left_glassyGreenYellow6:hover,
.active_shadow_left_glassyGreenYellow6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(81, 134, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(81, 134, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(81, 134, 0, .39);
}

.shadow_left_glassyGreenYellow6h,
.hover_shadow_left_glassyGreenYellow6h:hover,
.active_shadow_left_glassyGreenYellow6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(97, 161, 0, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(97, 161, 0, .50);
    box-shadow: -0.5em -0.5em 1em rgba(97, 161, 0, .50);
}

.shadow_left_glassyGreenYellow6a,
.hover_shadow_left_glassyGreenYellow6a:hover,
.active_shadow_left_glassyGreenYellow6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(88, 145, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(88, 145, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(88, 145, 0, .63);
}

.shadow_left_glassyGreenYellow6s,
.hover_shadow_left_glassyGreenYellow6s:hover,
.active_shadow_left_glassyGreenYellow6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(88, 145, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(88, 145, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(88, 145, 0, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyGreenYellow6,
.hover_shadow_right_glassyGreenYellow6:hover,
.active_shadow_right_glassyGreenYellow6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(81, 134, 0, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(81, 134, 0, .39);
    box-shadow: 0.5em 0em 1em rgba(81, 134, 0, .39);
}

.shadow_right_glassyGreenYellow6h,
.hover_shadow_right_glassyGreenYellow6h:hover,
.active_shadow_right_glassyGreenYellow6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(97, 161, 0, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(97, 161, 0, .50);
    box-shadow: 0.5em 0em 1em rgba(97, 161, 0, .50);
}

.shadow_right_glassyGreenYellow6a,
.hover_shadow_right_glassyGreenYellow6a:hover,
.active_shadow_right_glassyGreenYellow6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(88, 145, 0, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(88, 145, 0, .63);
    box-shadow: 0.5em 0em 1em rgba(88, 145, 0, .63);
}

.shadow_right_glassyGreenYellow6s,
.hover_shadow_right_glassyGreenYellow6s:hover,
.active_shadow_right_glassyGreenYellow6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(88, 145, 0, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(88, 145, 0, .78);
    box-shadow: 0.5em 0em 1em rgba(88, 145, 0, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyGreenYellow6,
.hover_shadow_top_glassyGreenYellow6:hover,
.active_shadow_top_glassyGreenYellow6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(81, 134, 0, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(81, 134, 0, .39);
    box-shadow: 0em -0.5em 1em rgba(81, 134, 0, .39);
}

.shadow_top_glassyGreenYellow6h,
.hover_shadow_top_glassyGreenYellow6h:hover,
.active_shadow_top_glassyGreenYellow6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(97, 161, 0, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(97, 161, 0, .50);
    box-shadow: 0em -0.5em 1em rgba(97, 161, 0, .50);
}

.shadow_top_glassyGreenYellow6a,
.hover_shadow_top_glassyGreenYellow6a:hover,
.active_shadow_top_glassyGreenYellow6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(88, 145, 0, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(88, 145, 0, .63);
    box-shadow: 0em -0.5em 1em rgba(88, 145, 0, .63);
}

.shadow_top_glassyGreenYellow6s,
.hover_shadow_top_glassyGreenYellow6s:hover,
.active_shadow_top_glassyGreenYellow6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(88, 145, 0, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(88, 145, 0, .78);
    box-shadow: 0em -0.5em 1em rgba(88, 145, 0, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyGreenYellow6,
.hover_shadow_bottom_glassyGreenYellow6:hover,
.active_shadow_bottom_glassyGreenYellow6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(81, 134, 0, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(81, 134, 0, .39);
    box-shadow: 0em 0.5em 1em rgba(81, 134, 0, .39);
}

.shadow_bottom_glassyGreenYellow6h,
.hover_shadow_bottom_glassyGreenYellow6h:hover,
.active_shadow_bottom_glassyGreenYellow6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(97, 161, 0, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(97, 161, 0, .50);
    box-shadow: 0em 0.5em 1em rgba(97, 161, 0, .50);
}

.shadow_bottom_glassyGreenYellow6a,
.hover_shadow_bottom_glassyGreenYellow6a:hover,
.active_shadow_bottom_glassyGreenYellow6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(88, 145, 0, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(88, 145, 0, .63);
    box-shadow: 0em 0.5em 1em rgba(88, 145, 0, .63);
}

.shadow_bottom_glassyGreenYellow6s,
.hover_shadow_bottom_glassyGreenYellow6s:hover,
.active_shadow_bottom_glassyGreenYellow6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(88, 145, 0, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(88, 145, 0, .78);
    box-shadow: 0em 0.5em 1em rgba(88, 145, 0, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyGreenYellow6,
.hover_shadow_top_left_glassyGreenYellow6:hover,
.active_shadow_top_left_glassyGreenYellow6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(81, 134, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(81, 134, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(81, 134, 0, .39);
}

.shadow_top_left_glassyGreenYellow6h,
.hover_shadow_top_left_glassyGreenYellow6h:hover,
.active_shadow_top_left_glassyGreenYellow6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(97, 161, 0, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(97, 161, 0, .50);
    box-shadow: -0.5em -0.5em 1em rgba(97, 161, 0, .50);
}

.shadow_top_left_glassyGreenYellow6a,
.hover_shadow_top_left_glassyGreenYellow6a:hover,
.active_shadow_top_left_glassyGreenYellow6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(88, 145, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(88, 145, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(88, 145, 0, .63);
}

.shadow_top_left_glassyGreenYellow6s,
.hover_shadow_top_left_glassyGreenYellow6s:hover,
.active_shadow_top_left_glassyGreenYellow6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(88, 145, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(88, 145, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(88, 145, 0, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyGreenYellow6,
.hover_shadow_top_right_glassyGreenYellow6:hover,
.active_shadow_top_right_glassyGreenYellow6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(81, 134, 0, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(81, 134, 0, .39);
    box-shadow: 0.5em -0.5em 1em rgba(81, 134, 0, .39);
}

.shadow_top_right_glassyGreenYellow6h,
.hover_shadow_top_right_glassyGreenYellow6h:hover,
.active_shadow_top_right_glassyGreenYellow6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(97, 161, 0, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(97, 161, 0, .50);
    box-shadow: 0.5em -0.5em 1em rgba(97, 161, 0, .50);
}

.shadow_top_right_glassyGreenYellow6a,
.hover_shadow_top_right_glassyGreenYellow6a:hover,
.active_shadow_top_right_glassyGreenYellow6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(88, 145, 0, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(88, 145, 0, .63);
    box-shadow: 0.5em -0.5em 1em rgba(88, 145, 0, .63);
}

.shadow_top_right_glassyGreenYellow6s,
.hover_shadow_top_right_glassyGreenYellow6s:hover,
.active_shadow_top_right_glassyGreenYellow6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(88, 145, 0, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(88, 145, 0, .78);
    box-shadow: 0.5em -0.5em 1em rgba(88, 145, 0, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyGreenYellow6,
.hover_shadow_bottom_left_glassyGreenYellow6:hover,
.active_shadow_bottom_left_glassyGreenYellow6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(81, 134, 0, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(81, 134, 0, .39);
    box-shadow: -0.5em 0.5em 1em rgba(81, 134, 0, .39);
}

.shadow_bottom_left_glassyGreenYellow6h,
.hover_shadow_bottom_left_glassyGreenYellow6h:hover,
.active_shadow_bottom_left_glassyGreenYellow6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(97, 161, 0, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(97, 161, 0, .50);
    box-shadow: -0.5em 0.5em 1em rgba(97, 161, 0, .50);
}

.shadow_bottom_left_glassyGreenYellow6a,
.hover_shadow_bottom_left_glassyGreenYellow6a:hover,
.active_shadow_bottom_left_glassyGreenYellow6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(88, 145, 0, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(88, 145, 0, .63);
    box-shadow: -0.5em 0.5em 1em rgba(88, 145, 0, .63);
}

.shadow_bottom_left_glassyGreenYellow6s,
.hover_shadow_bottom_left_glassyGreenYellow6s:hover,
.active_shadow_bottom_left_glassyGreenYellow6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(88, 145, 0, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(88, 145, 0, .78);
    box-shadow: -0.5em 0.5em 1em rgba(88, 145, 0, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyGreenYellow6,
.hover_shadow_bottom_right_glassyGreenYellow6:hover,
.active_shadow_bottom_right_glassyGreenYellow6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(81, 134, 0, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(81, 134, 0, .39);
    box-shadow: 0.5em 0.5em 1em rgba(81, 134, 0, .39);
}

.shadow_bottom_right_glassyGreenYellow6h,
.hover_shadow_bottom_right_glassyGreenYellow6h:hover,
.active_shadow_bottom_right_glassyGreenYellow6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(97, 161, 0, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(97, 161, 0, .50);
    box-shadow: 0.5em 0.5em 1em rgba(97, 161, 0, .50);
}

.shadow_bottom_right_glassyGreenYellow6a,
 .hover_shadow_bottom_right_glassyGreenYellow6a:hover,
 .active_shadow_bottom_right_glassyGreenYellow6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(88, 145, 0, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(88, 145, 0, .63);
     box-shadow: 0.5em 0.5em 1em rgba(88, 145, 0, .63);
 }

 .shadow_bottom_right_glassyGreenYellow6s,
 .hover_shadow_bottom_right_glassyGreenYellow6s:hover,
 .active_shadow_bottom_right_glassyGreenYellow6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(88, 145, 0, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(88, 145, 0, .78);
     box-shadow: 0.5em 0.5em 1em rgba(88, 145, 0, .78);
 }