.background_glassyWheat4,
.hover_background_glassyWheat4:hover,
.active_background_glassyWheat4:active:hover {
    background: #e29f22;
    background-image: -moz-linear-gradient(top,  rgb(207, 144, 27) 0%, rgb(184, 128, 24) 50%, rgb(161, 112, 21) 55%, rgb(226, 159, 34) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(207, 144, 27)), color-stop(50%, rgb(184, 128, 24)), color-stop(55%, rgb(161, 112, 21)), color-stop(100%, rgb(226, 159, 34)));
    background-image: -webkit-linear-gradient(top,  rgb(207, 144, 27) 0%, rgb(184, 128, 24) 50%, rgb(161, 112, 21) 55%, rgb(226, 159, 34) 100%);
    background-image: -o-linear-gradient(top,  rgb(207, 144, 27) 0%, rgb(184, 128, 24) 50%, rgb(161, 112, 21) 55%, rgb(226, 159, 34) 100%);
    background-image: -ms-linear-gradient(top, rgb(207, 144, 27) 0%, rgb(184, 128, 24) 50%, rgb(161, 112, 21) 55%, rgb(226, 159, 34) 100%);
    background-image: linear-gradient(to bottom,  rgb(207, 144, 27) 0%, rgb(184, 128, 24) 50%, rgb(161, 112, 21) 55%, rgb(226, 159, 34) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf901b', endColorstr='#e29f22',GradientType=0 );
}

.background_glassyWheat4h,
.hover_background_glassyWheat4h:hover,
.active_background_glassyWheat4h:active:hover {
    background: #e29f22;
    background-image: -moz-linear-gradient(top,  rgb(228, 167, 53) 0%, rgb(221, 154, 29) 50%, rgb(193, 135, 25) 55%, rgb(232, 179, 80) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(228, 167, 53)), color-stop(50%, rgb(221, 154, 29)), color-stop(55%, rgb(193, 135, 25)), color-stop(100%, rgb(232, 179, 80)));
    background-image: -webkit-linear-gradient(top,  rgb(228, 167, 53) 0%, rgb(221, 154, 29) 50%, rgb(193, 135, 25) 55%, rgb(232, 179, 80) 100%);
    background-image: -o-linear-gradient(top,  rgb(228, 167, 53) 0%, rgb(221, 154, 29) 50%, rgb(193, 135, 25) 55%, rgb(232, 179, 80) 100%);
    background-image: -ms-linear-gradient(top, rgb(228, 167, 53) 0%, rgb(221, 154, 29) 50%, rgb(193, 135, 25) 55%, rgb(232, 179, 80) 100%);
    background-image: linear-gradient(to bottom,  rgb(228, 167, 53) 0%, rgb(221, 154, 29) 50%, rgb(193, 135, 25) 55%, rgb(232, 179, 80) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4a735', endColorstr='#e8b350',GradientType=0 );
}

.background_glassyWheat4a,
.hover_background_glassyWheat4a:hover,
.active_background_glassyWheat4a:active:hover {
    background: #e29f22;
    background-image: -moz-linear-gradient(top,  rgb(232, 179, 80) 0%, rgb(193, 135, 25) 50%, rgb(221, 154, 29) 55%, rgb(228, 167, 53) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(232, 179, 80)), color-stop(50%, rgb(193, 135, 25)), color-stop(55%, rgb(221, 154, 29)), color-stop(100%, rgb(228, 167, 53)));
    background-image: -webkit-linear-gradient(top,  rgb(232, 179, 80) 0%, rgb(193, 135, 25) 50%, rgb(221, 154, 29) 55%, rgb(228, 167, 53) 100%);
    background-image: -o-linear-gradient(top,  rgb(232, 179, 80) 0%, rgb(193, 135, 25) 50%, rgb(221, 154, 29) 55%, rgb(228, 167, 53) 100%);
    background-image: -ms-linear-gradient(top, rgb(232, 179, 80) 0%, rgb(193, 135, 25) 50%, rgb(221, 154, 29) 55%, rgb(228, 167, 53) 100%);
    background-image: linear-gradient(to bottom,  rgb(232, 179, 80) 0%, rgb(193, 135, 25) 50%, rgb(221, 154, 29) 55%, rgb(228, 167, 53) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8b350', endColorstr='#e4a735',GradientType=0 );
}

.background_glassyWheat4s,
.hover_background_glassyWheat4s:hover,
.active_background_glassyWheat4s:active:hover {
    background: #e29f22;
    background-image: -moz-linear-gradient(top,  rgb(237, 194, 115) 0%, rgb(232, 179, 80) 50%, rgb(227, 164, 46) 55%, rgb(241, 209, 149) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(237, 194, 115)), color-stop(50%, rgb(232, 179, 80)), color-stop(55%, rgb(227, 164, 46)), color-stop(100%, rgb(241, 209, 149)));
    background-image: -webkit-linear-gradient(top,  rgb(237, 194, 115) 0%, rgb(232, 179, 80) 50%, rgb(227, 164, 46) 55%, rgb(241, 209, 149) 100%);
    background-image: -o-linear-gradient(top,  rgb(237, 194, 115) 0%, rgb(232, 179, 80) 50%, rgb(227, 164, 46) 55%, rgb(241, 209, 149) 100%);
    background-image: -ms-linear-gradient(top, rgb(237, 194, 115) 0%, rgb(232, 179, 80) 50%, rgb(227, 164, 46) 55%, rgb(241, 209, 149) 100%);
    background-image: linear-gradient(to bottom,  rgb(237, 194, 115) 0%, rgb(232, 179, 80) 50%, rgb(227, 164, 46) 55%, rgb(241, 209, 149) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edc273', endColorstr='#f1d195',GradientType=0 );
}

.background_color_glassyWheat4,
.hover_background_color_glassyWheat4:hover,
.active_background_color_glassyWheat4:active:hover {
    background-color:#e29f22;
}

.background_first_color_glassyWheat4,
.hover_background_first_color_glassyWheat4:hover,
.active_background_first_color_glassyWheat4:active:hover {
    background-color:#cf901b;
}

.background_last_color_glassyWheat4,
.hover_background_last_color_glassyWheat4:hover,
.active_background_color_last_glassyWheat4:active:hover {
   background-color:#e29f22;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyWheat4,
.hover_color_glassyWheat4:hover,
.active_color_glassyWheat4:active:hover {
    color: #282828;
}

.color_glassyWheat4h,
.hover_color_glassyWheat4h:hover,
.active_color_glassyWheat4h:active:hover {
    color: #282828;
}

.color_glassyWheat4a,
.hover_color_glassyWheat4a:hover,
.active_color_glassyWheat4a:active:hover {
    color: #ff0;
}

.color_glassyWheat4s,
.hover_color_glassyWheat4s:hover,
.active_color_glassyWheat4s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyWheat4,
.hover_border_glassyWheat4:hover,
.active_border_glassyWheat4:active:hover {
    border-color: #a67416 #8a6012 #8a6012 #a67416;
}

.border_glassyWheat4h,
.hover_border_glassyWheat4h:hover,
.active_border_glassyWheat4h:active:hover {
    border-color: #a67416 #8a6012 #8a6012 #a67416;
}

.border_glassyWheat4a,
.hover_border_glassyWheat4a:hover,
.active_border_glassyWheat4a:active:hover {
    border-color: #815a11 #815a11 #815a11 #815a11;
}

.border_glassyWheat4s,
.hover_border_glassyWheat4s:hover,
.active_border_glassyWheat4s:active:hover {
    border-color: #815a11 #815a11 #815a11 #815a11;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyWheat4,
.hover_shadow_expand_glassyWheat4:hover,
.active_shadow_expand_glassyWheat4:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(226, 159, 34, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(226, 159, 34, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(226, 159, 34, .39);
}

.shadow_expand_glassyWheat4h,
.hover_shadow_expand_glassyWheat4h:hover,
.active_shadow_expand_glassyWheat4h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(232, 179, 80, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(232, 179, 80, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(232, 179, 80, .50);
}

.shadow_expand_glassyWheat4a,
.hover_shadow_expand_glassyWheat4a:hover,
.active_shadow_expand_glassyWheat4a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(228, 167, 53, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(228, 167, 53, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(228, 167, 53, .63);
}

.shadow_expand_glassyWheat4s,
.hover_shadow_expand_glassyWheat4s:hover,
.active_shadow_expand_glassyWheat4s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(228, 167, 53, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(228, 167, 53, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(228, 167, 53, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyWheat4,
.hover_shadow_left_glassyWheat4:hover,
.active_shadow_left_glassyWheat4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(226, 159, 34, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(226, 159, 34, .39);
    box-shadow: -0.5em -0.5em 1em rgba(226, 159, 34, .39);
}

.shadow_left_glassyWheat4h,
.hover_shadow_left_glassyWheat4h:hover,
.active_shadow_left_glassyWheat4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(232, 179, 80, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(232, 179, 80, .50);
    box-shadow: -0.5em -0.5em 1em rgba(232, 179, 80, .50);
}

.shadow_left_glassyWheat4a,
.hover_shadow_left_glassyWheat4a:hover,
.active_shadow_left_glassyWheat4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(228, 167, 53, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(228, 167, 53, .63);
    box-shadow: -0.5em -0.5em 1em rgba(228, 167, 53, .63);
}

.shadow_left_glassyWheat4s,
.hover_shadow_left_glassyWheat4s:hover,
.active_shadow_left_glassyWheat4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(228, 167, 53, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(228, 167, 53, .78);
    box-shadow: -0.5em -0.5em 1em rgba(228, 167, 53, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyWheat4,
.hover_shadow_right_glassyWheat4:hover,
.active_shadow_right_glassyWheat4:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(226, 159, 34, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(226, 159, 34, .39);
    box-shadow: 0.5em 0em 1em rgba(226, 159, 34, .39);
}

.shadow_right_glassyWheat4h,
.hover_shadow_right_glassyWheat4h:hover,
.active_shadow_right_glassyWheat4h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(232, 179, 80, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(232, 179, 80, .50);
    box-shadow: 0.5em 0em 1em rgba(232, 179, 80, .50);
}

.shadow_right_glassyWheat4a,
.hover_shadow_right_glassyWheat4a:hover,
.active_shadow_right_glassyWheat4a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(228, 167, 53, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(228, 167, 53, .63);
    box-shadow: 0.5em 0em 1em rgba(228, 167, 53, .63);
}

.shadow_right_glassyWheat4s,
.hover_shadow_right_glassyWheat4s:hover,
.active_shadow_right_glassyWheat4s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(228, 167, 53, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(228, 167, 53, .78);
    box-shadow: 0.5em 0em 1em rgba(228, 167, 53, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyWheat4,
.hover_shadow_top_glassyWheat4:hover,
.active_shadow_top_glassyWheat4:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(226, 159, 34, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(226, 159, 34, .39);
    box-shadow: 0em -0.5em 1em rgba(226, 159, 34, .39);
}

.shadow_top_glassyWheat4h,
.hover_shadow_top_glassyWheat4h:hover,
.active_shadow_top_glassyWheat4h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(232, 179, 80, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(232, 179, 80, .50);
    box-shadow: 0em -0.5em 1em rgba(232, 179, 80, .50);
}

.shadow_top_glassyWheat4a,
.hover_shadow_top_glassyWheat4a:hover,
.active_shadow_top_glassyWheat4a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(228, 167, 53, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(228, 167, 53, .63);
    box-shadow: 0em -0.5em 1em rgba(228, 167, 53, .63);
}

.shadow_top_glassyWheat4s,
.hover_shadow_top_glassyWheat4s:hover,
.active_shadow_top_glassyWheat4s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(228, 167, 53, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(228, 167, 53, .78);
    box-shadow: 0em -0.5em 1em rgba(228, 167, 53, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyWheat4,
.hover_shadow_bottom_glassyWheat4:hover,
.active_shadow_bottom_glassyWheat4:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(226, 159, 34, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(226, 159, 34, .39);
    box-shadow: 0em 0.5em 1em rgba(226, 159, 34, .39);
}

.shadow_bottom_glassyWheat4h,
.hover_shadow_bottom_glassyWheat4h:hover,
.active_shadow_bottom_glassyWheat4h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(232, 179, 80, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(232, 179, 80, .50);
    box-shadow: 0em 0.5em 1em rgba(232, 179, 80, .50);
}

.shadow_bottom_glassyWheat4a,
.hover_shadow_bottom_glassyWheat4a:hover,
.active_shadow_bottom_glassyWheat4a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(228, 167, 53, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(228, 167, 53, .63);
    box-shadow: 0em 0.5em 1em rgba(228, 167, 53, .63);
}

.shadow_bottom_glassyWheat4s,
.hover_shadow_bottom_glassyWheat4s:hover,
.active_shadow_bottom_glassyWheat4s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(228, 167, 53, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(228, 167, 53, .78);
    box-shadow: 0em 0.5em 1em rgba(228, 167, 53, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyWheat4,
.hover_shadow_top_left_glassyWheat4:hover,
.active_shadow_top_left_glassyWheat4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(226, 159, 34, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(226, 159, 34, .39);
    box-shadow: -0.5em -0.5em 1em rgba(226, 159, 34, .39);
}

.shadow_top_left_glassyWheat4h,
.hover_shadow_top_left_glassyWheat4h:hover,
.active_shadow_top_left_glassyWheat4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(232, 179, 80, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(232, 179, 80, .50);
    box-shadow: -0.5em -0.5em 1em rgba(232, 179, 80, .50);
}

.shadow_top_left_glassyWheat4a,
.hover_shadow_top_left_glassyWheat4a:hover,
.active_shadow_top_left_glassyWheat4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(228, 167, 53, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(228, 167, 53, .63);
    box-shadow: -0.5em -0.5em 1em rgba(228, 167, 53, .63);
}

.shadow_top_left_glassyWheat4s,
.hover_shadow_top_left_glassyWheat4s:hover,
.active_shadow_top_left_glassyWheat4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(228, 167, 53, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(228, 167, 53, .78);
    box-shadow: -0.5em -0.5em 1em rgba(228, 167, 53, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyWheat4,
.hover_shadow_top_right_glassyWheat4:hover,
.active_shadow_top_right_glassyWheat4:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(226, 159, 34, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(226, 159, 34, .39);
    box-shadow: 0.5em -0.5em 1em rgba(226, 159, 34, .39);
}

.shadow_top_right_glassyWheat4h,
.hover_shadow_top_right_glassyWheat4h:hover,
.active_shadow_top_right_glassyWheat4h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(232, 179, 80, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(232, 179, 80, .50);
    box-shadow: 0.5em -0.5em 1em rgba(232, 179, 80, .50);
}

.shadow_top_right_glassyWheat4a,
.hover_shadow_top_right_glassyWheat4a:hover,
.active_shadow_top_right_glassyWheat4a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(228, 167, 53, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(228, 167, 53, .63);
    box-shadow: 0.5em -0.5em 1em rgba(228, 167, 53, .63);
}

.shadow_top_right_glassyWheat4s,
.hover_shadow_top_right_glassyWheat4s:hover,
.active_shadow_top_right_glassyWheat4s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(228, 167, 53, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(228, 167, 53, .78);
    box-shadow: 0.5em -0.5em 1em rgba(228, 167, 53, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyWheat4,
.hover_shadow_bottom_left_glassyWheat4:hover,
.active_shadow_bottom_left_glassyWheat4:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(226, 159, 34, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(226, 159, 34, .39);
    box-shadow: -0.5em 0.5em 1em rgba(226, 159, 34, .39);
}

.shadow_bottom_left_glassyWheat4h,
.hover_shadow_bottom_left_glassyWheat4h:hover,
.active_shadow_bottom_left_glassyWheat4h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(232, 179, 80, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(232, 179, 80, .50);
    box-shadow: -0.5em 0.5em 1em rgba(232, 179, 80, .50);
}

.shadow_bottom_left_glassyWheat4a,
.hover_shadow_bottom_left_glassyWheat4a:hover,
.active_shadow_bottom_left_glassyWheat4a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(228, 167, 53, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(228, 167, 53, .63);
    box-shadow: -0.5em 0.5em 1em rgba(228, 167, 53, .63);
}

.shadow_bottom_left_glassyWheat4s,
.hover_shadow_bottom_left_glassyWheat4s:hover,
.active_shadow_bottom_left_glassyWheat4s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(228, 167, 53, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(228, 167, 53, .78);
    box-shadow: -0.5em 0.5em 1em rgba(228, 167, 53, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyWheat4,
.hover_shadow_bottom_right_glassyWheat4:hover,
.active_shadow_bottom_right_glassyWheat4:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(226, 159, 34, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(226, 159, 34, .39);
    box-shadow: 0.5em 0.5em 1em rgba(226, 159, 34, .39);
}

.shadow_bottom_right_glassyWheat4h,
.hover_shadow_bottom_right_glassyWheat4h:hover,
.active_shadow_bottom_right_glassyWheat4h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(232, 179, 80, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(232, 179, 80, .50);
    box-shadow: 0.5em 0.5em 1em rgba(232, 179, 80, .50);
}

.shadow_bottom_right_glassyWheat4a,
 .hover_shadow_bottom_right_glassyWheat4a:hover,
 .active_shadow_bottom_right_glassyWheat4a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(228, 167, 53, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(228, 167, 53, .63);
     box-shadow: 0.5em 0.5em 1em rgba(228, 167, 53, .63);
 }

 .shadow_bottom_right_glassyWheat4s,
 .hover_shadow_bottom_right_glassyWheat4s:hover,
 .active_shadow_bottom_right_glassyWheat4s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(228, 167, 53, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(228, 167, 53, .78);
     box-shadow: 0.5em 0.5em 1em rgba(228, 167, 53, .78);
 }