.background_azure7,
.hover_background_azure7:hover,
.active_background_azure7:active:hover {
    background: #009b9b;
    background-image: -moz-linear-gradient(top,  rgb(0, 193, 193) 0%, rgb(0, 155, 155) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 193, 193)), color-stop(100%, rgb(0, 155, 155)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 193, 193) 0%, rgb(0, 155, 155) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 193, 193) 0%, rgb(0, 155, 155) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 193, 193) 0%, rgb(0, 155, 155) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 193, 193) 0%, rgb(0, 155, 155) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c1c1', endColorstr='#009b9b',GradientType=0 );
}

.background_azure7h,
.hover_background_azure7h:hover,
.active_background_azure7h:active:hover {
    background: #009b9b;
    background-image: -moz-linear-gradient(top,  rgb(0, 232, 232) 0%, rgb(0, 186, 186) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 232, 232)), color-stop(100%, rgb(0, 186, 186)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 232, 232) 0%, rgb(0, 186, 186) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 232, 232) 0%, rgb(0, 186, 186) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 232, 232) 0%, rgb(0, 186, 186) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 232, 232) 0%, rgb(0, 186, 186) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e8e8', endColorstr='#00baba',GradientType=0 );
}

.background_azure7a,
.hover_background_azure7a:hover,
.active_background_azure7a:active:hover {
    background: #009b9b;
    background-image: -moz-linear-gradient(top,  rgb(0, 186, 186) 0%, rgb(0, 232, 232) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 186, 186)), color-stop(100%, rgb(0, 232, 232)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 186, 186) 0%, rgb(0, 232, 232) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 186, 186) 0%, rgb(0, 232, 232) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 186, 186) 0%, rgb(0, 232, 232) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 186, 186) 0%, rgb(0, 232, 232) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00baba', endColorstr='#00e8e8',GradientType=0 );
}

.background_azure7s,
.hover_background_azure7s:hover,
.active_background_azure7s:active:hover {
    background: #009b9b;
    background-image: -moz-linear-gradient(top,  rgb(35, 255, 255) 0%, rgb(0, 232, 232) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(35, 255, 255)), color-stop(100%, rgb(0, 232, 232)));
    background-image: -webkit-linear-gradient(top,  rgb(35, 255, 255) 0%, rgb(0, 232, 232) 100%);
    background-image: -o-linear-gradient(top,  rgb(35, 255, 255) 0%, rgb(0, 232, 232) 100%);
    background-image: -ms-linear-gradient(top, rgb(35, 255, 255) 0%, rgb(0, 232, 232) 100%);
    background-image: linear-gradient(to bottom,  rgb(35, 255, 255) 0%, rgb(0, 232, 232) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23ffff', endColorstr='#00e8e8',GradientType=0 );
}

.background_color_azure7,
.hover_background_color_azure7:hover,
.active_background_color_azure7:active:hover {
    background-color:#009b9b;
}

.background_first_color_azure7,
.hover_background_first_color_azure7:hover,
.active_background_first_color_azure7:active:hover {
    background-color:#00c1c1;
}

.background_last_color_azure7,
.hover_background_last_color_azure7:hover,
.active_background_color_last_azure7:active:hover {
   background-color:#009b9b;
}

/* ------------------------------ color settings -------------------------------*/
.color_azure7,
.hover_color_azure7:hover,
.active_color_azure7:active:hover {
    color: #c8c8c8;
}

.color_azure7h,
.hover_color_azure7h:hover,
.active_color_azure7h:active:hover {
    color: #c8c8c8;
}

.color_azure7a,
.hover_color_azure7a:hover,
.active_color_azure7a:active:hover {
    color: #ff0;
}

.color_azure7s,
.hover_color_azure7s:hover,
.active_color_azure7s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_azure7,
.hover_border_azure7:hover,
.active_border_azure7:active:hover {
    border-color: #009b9b #009b9b #009b9b #009b9b;
}

.border_azure7h,
.hover_border_azure7h:hover,
.active_border_azure7h:active:hover {
    border-color: #008b8b #008b8b #008b8b #008b8b;
}

.border_azure7a,
.hover_border_azure7a:hover,
.active_border_azure7a:active:hover {
    border-color: #007c7c #007c7c #007c7c #007c7c;
}

.border_azure7s,
.hover_border_azure7s:hover,
.active_border_azure7s:active:hover {
    border-color: #00e8e8 #00e8e8 #00e8e8 #00e8e8;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_azure7,
.hover_shadow_expand_azure7:hover,
.active_shadow_expand_azure7:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 155, 155, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 155, 155, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 155, 155, .39);
}

.shadow_expand_azure7h,
.hover_shadow_expand_azure7h:hover,
.active_shadow_expand_azure7h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 186, 186, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 186, 186, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 186, 186, .50);
}

.shadow_expand_azure7a,
.hover_shadow_expand_azure7a:hover,
.active_shadow_expand_azure7a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 232, 232, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 232, 232, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 232, 232, .63);
}

.shadow_expand_azure7s,
.hover_shadow_expand_azure7s:hover,
.active_shadow_expand_azure7s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 232, 232, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 232, 232, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 232, 232, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_azure7,
.hover_shadow_left_azure7:hover,
.active_shadow_left_azure7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 155, 155, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 155, 155, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 155, 155, .39);
}

.shadow_left_azure7h,
.hover_shadow_left_azure7h:hover,
.active_shadow_left_azure7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 186, 186, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 186, 186, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 186, 186, .50);
}

.shadow_left_azure7a,
.hover_shadow_left_azure7a:hover,
.active_shadow_left_azure7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 232, 232, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 232, 232, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 232, 232, .63);
}

.shadow_left_azure7s,
.hover_shadow_left_azure7s:hover,
.active_shadow_left_azure7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 232, 232, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 232, 232, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 232, 232, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_azure7,
.hover_shadow_right_azure7:hover,
.active_shadow_right_azure7:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 155, 155, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 155, 155, .39);
    box-shadow: 0.5em 0em 1em rgba(0, 155, 155, .39);
}

.shadow_right_azure7h,
.hover_shadow_right_azure7h:hover,
.active_shadow_right_azure7h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 186, 186, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 186, 186, .50);
    box-shadow: 0.5em 0em 1em rgba(0, 186, 186, .50);
}

.shadow_right_azure7a,
.hover_shadow_right_azure7a:hover,
.active_shadow_right_azure7a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 232, 232, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 232, 232, .63);
    box-shadow: 0.5em 0em 1em rgba(0, 232, 232, .63);
}

.shadow_right_azure7s,
.hover_shadow_right_azure7s:hover,
.active_shadow_right_azure7s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 232, 232, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 232, 232, .78);
    box-shadow: 0.5em 0em 1em rgba(0, 232, 232, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_azure7,
.hover_shadow_top_azure7:hover,
.active_shadow_top_azure7:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 155, 155, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 155, 155, .39);
    box-shadow: 0em -0.5em 1em rgba(0, 155, 155, .39);
}

.shadow_top_azure7h,
.hover_shadow_top_azure7h:hover,
.active_shadow_top_azure7h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 186, 186, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 186, 186, .50);
    box-shadow: 0em -0.5em 1em rgba(0, 186, 186, .50);
}

.shadow_top_azure7a,
.hover_shadow_top_azure7a:hover,
.active_shadow_top_azure7a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 232, 232, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 232, 232, .63);
    box-shadow: 0em -0.5em 1em rgba(0, 232, 232, .63);
}

.shadow_top_azure7s,
.hover_shadow_top_azure7s:hover,
.active_shadow_top_azure7s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 232, 232, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 232, 232, .78);
    box-shadow: 0em -0.5em 1em rgba(0, 232, 232, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_azure7,
.hover_shadow_bottom_azure7:hover,
.active_shadow_bottom_azure7:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 155, 155, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 155, 155, .39);
    box-shadow: 0em 0.5em 1em rgba(0, 155, 155, .39);
}

.shadow_bottom_azure7h,
.hover_shadow_bottom_azure7h:hover,
.active_shadow_bottom_azure7h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 186, 186, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 186, 186, .50);
    box-shadow: 0em 0.5em 1em rgba(0, 186, 186, .50);
}

.shadow_bottom_azure7a,
.hover_shadow_bottom_azure7a:hover,
.active_shadow_bottom_azure7a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 232, 232, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 232, 232, .63);
    box-shadow: 0em 0.5em 1em rgba(0, 232, 232, .63);
}

.shadow_bottom_azure7s,
.hover_shadow_bottom_azure7s:hover,
.active_shadow_bottom_azure7s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 232, 232, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 232, 232, .78);
    box-shadow: 0em 0.5em 1em rgba(0, 232, 232, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_azure7,
.hover_shadow_top_left_azure7:hover,
.active_shadow_top_left_azure7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 155, 155, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 155, 155, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 155, 155, .39);
}

.shadow_top_left_azure7h,
.hover_shadow_top_left_azure7h:hover,
.active_shadow_top_left_azure7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 186, 186, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 186, 186, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 186, 186, .50);
}

.shadow_top_left_azure7a,
.hover_shadow_top_left_azure7a:hover,
.active_shadow_top_left_azure7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 232, 232, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 232, 232, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 232, 232, .63);
}

.shadow_top_left_azure7s,
.hover_shadow_top_left_azure7s:hover,
.active_shadow_top_left_azure7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 232, 232, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 232, 232, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 232, 232, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_azure7,
.hover_shadow_top_right_azure7:hover,
.active_shadow_top_right_azure7:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 155, 155, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 155, 155, .39);
    box-shadow: 0.5em -0.5em 1em rgba(0, 155, 155, .39);
}

.shadow_top_right_azure7h,
.hover_shadow_top_right_azure7h:hover,
.active_shadow_top_right_azure7h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 186, 186, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 186, 186, .50);
    box-shadow: 0.5em -0.5em 1em rgba(0, 186, 186, .50);
}

.shadow_top_right_azure7a,
.hover_shadow_top_right_azure7a:hover,
.active_shadow_top_right_azure7a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 232, 232, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 232, 232, .63);
    box-shadow: 0.5em -0.5em 1em rgba(0, 232, 232, .63);
}

.shadow_top_right_azure7s,
.hover_shadow_top_right_azure7s:hover,
.active_shadow_top_right_azure7s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 232, 232, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 232, 232, .78);
    box-shadow: 0.5em -0.5em 1em rgba(0, 232, 232, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_azure7,
.hover_shadow_bottom_left_azure7:hover,
.active_shadow_bottom_left_azure7:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 155, 155, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 155, 155, .39);
    box-shadow: -0.5em 0.5em 1em rgba(0, 155, 155, .39);
}

.shadow_bottom_left_azure7h,
.hover_shadow_bottom_left_azure7h:hover,
.active_shadow_bottom_left_azure7h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 186, 186, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 186, 186, .50);
    box-shadow: -0.5em 0.5em 1em rgba(0, 186, 186, .50);
}

.shadow_bottom_left_azure7a,
.hover_shadow_bottom_left_azure7a:hover,
.active_shadow_bottom_left_azure7a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 232, 232, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 232, 232, .63);
    box-shadow: -0.5em 0.5em 1em rgba(0, 232, 232, .63);
}

.shadow_bottom_left_azure7s,
.hover_shadow_bottom_left_azure7s:hover,
.active_shadow_bottom_left_azure7s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 232, 232, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 232, 232, .78);
    box-shadow: -0.5em 0.5em 1em rgba(0, 232, 232, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_azure7,
.hover_shadow_bottom_right_azure7:hover,
.active_shadow_bottom_right_azure7:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 155, 155, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 155, 155, .39);
    box-shadow: 0.5em 0.5em 1em rgba(0, 155, 155, .39);
}

.shadow_bottom_right_azure7h,
.hover_shadow_bottom_right_azure7h:hover,
.active_shadow_bottom_right_azure7h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 186, 186, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 186, 186, .50);
    box-shadow: 0.5em 0.5em 1em rgba(0, 186, 186, .50);
}

.shadow_bottom_right_azure7a,
 .hover_shadow_bottom_right_azure7a:hover,
 .active_shadow_bottom_right_azure7a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 232, 232, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 232, 232, .63);
     box-shadow: 0.5em 0.5em 1em rgba(0, 232, 232, .63);
 }

 .shadow_bottom_right_azure7s,
 .hover_shadow_bottom_right_azure7s:hover,
 .active_shadow_bottom_right_azure7s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 232, 232, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 232, 232, .78);
     box-shadow: 0.5em 0.5em 1em rgba(0, 232, 232, .78);
 }