.background_burlyWood2,
.hover_background_burlyWood2:hover,
.active_background_burlyWood2:active:hover {
    background: #cb8f41;
    background-image: -moz-linear-gradient(top,  rgb(217, 174, 117) 0%, rgb(203, 143, 65) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(217, 174, 117)), color-stop(100%, rgb(203, 143, 65)));
    background-image: -webkit-linear-gradient(top,  rgb(217, 174, 117) 0%, rgb(203, 143, 65) 100%);
    background-image: -o-linear-gradient(top,  rgb(217, 174, 117) 0%, rgb(203, 143, 65) 100%);
    background-image: -ms-linear-gradient(top, rgb(217, 174, 117) 0%, rgb(203, 143, 65) 100%);
    background-image: linear-gradient(to bottom,  rgb(217, 174, 117) 0%, rgb(203, 143, 65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ae75', endColorstr='#cb8f41',GradientType=0 );
}

.background_burlyWood2h,
.hover_background_burlyWood2h:hover,
.active_background_burlyWood2h:active:hover {
    background: #cb8f41;
    background-image: -moz-linear-gradient(top,  rgb(232, 205, 170) 0%, rgb(214, 167, 107) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(232, 205, 170)), color-stop(100%, rgb(214, 167, 107)));
    background-image: -webkit-linear-gradient(top,  rgb(232, 205, 170) 0%, rgb(214, 167, 107) 100%);
    background-image: -o-linear-gradient(top,  rgb(232, 205, 170) 0%, rgb(214, 167, 107) 100%);
    background-image: -ms-linear-gradient(top, rgb(232, 205, 170) 0%, rgb(214, 167, 107) 100%);
    background-image: linear-gradient(to bottom,  rgb(232, 205, 170) 0%, rgb(214, 167, 107) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8cdaa', endColorstr='#d6a76b',GradientType=0 );
}

.background_burlyWood2a,
.hover_background_burlyWood2a:hover,
.active_background_burlyWood2a:active:hover {
    background: #cb8f41;
    background-image: -moz-linear-gradient(top,  rgb(214, 167, 107) 0%, rgb(232, 205, 170) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(214, 167, 107)), color-stop(100%, rgb(232, 205, 170)));
    background-image: -webkit-linear-gradient(top,  rgb(214, 167, 107) 0%, rgb(232, 205, 170) 100%);
    background-image: -o-linear-gradient(top,  rgb(214, 167, 107) 0%, rgb(232, 205, 170) 100%);
    background-image: -ms-linear-gradient(top, rgb(214, 167, 107) 0%, rgb(232, 205, 170) 100%);
    background-image: linear-gradient(to bottom,  rgb(214, 167, 107) 0%, rgb(232, 205, 170) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6a76b', endColorstr='#e8cdaa',GradientType=0 );
}

.background_burlyWood2s,
.hover_background_burlyWood2s:hover,
.active_background_burlyWood2s:active:hover {
    background: #cb8f41;
    background-image: -moz-linear-gradient(top,  rgb(253, 251, 249) 0%, rgb(232, 205, 170) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(253, 251, 249)), color-stop(100%, rgb(232, 205, 170)));
    background-image: -webkit-linear-gradient(top,  rgb(253, 251, 249) 0%, rgb(232, 205, 170) 100%);
    background-image: -o-linear-gradient(top,  rgb(253, 251, 249) 0%, rgb(232, 205, 170) 100%);
    background-image: -ms-linear-gradient(top, rgb(253, 251, 249) 0%, rgb(232, 205, 170) 100%);
    background-image: linear-gradient(to bottom,  rgb(253, 251, 249) 0%, rgb(232, 205, 170) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfbf9', endColorstr='#e8cdaa',GradientType=0 );
}

.background_color_burlyWood2,
.hover_background_color_burlyWood2:hover,
.active_background_color_burlyWood2:active:hover {
    background-color:#cb8f41;
}

.background_first_color_burlyWood2,
.hover_background_first_color_burlyWood2:hover,
.active_background_first_color_burlyWood2:active:hover {
    background-color:#d9ae75;
}

.background_last_color_burlyWood2,
.hover_background_last_color_burlyWood2:hover,
.active_background_color_last_burlyWood2:active:hover {
   background-color:#cb8f41;
}

/* ------------------------------ color settings -------------------------------*/
.color_burlyWood2,
.hover_color_burlyWood2:hover,
.active_color_burlyWood2:active:hover {
    color: #c8c8c8;
}

.color_burlyWood2h,
.hover_color_burlyWood2h:hover,
.active_color_burlyWood2h:active:hover {
    color: #c8c8c8;
}

.color_burlyWood2a,
.hover_color_burlyWood2a:hover,
.active_color_burlyWood2a:active:hover {
    color: #ff0;
}

.color_burlyWood2s,
.hover_color_burlyWood2s:hover,
.active_color_burlyWood2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_burlyWood2,
.hover_border_burlyWood2:hover,
.active_border_burlyWood2:active:hover {
    border-color: #cb8f41 #cb8f41 #cb8f41 #cb8f41;
}

.border_burlyWood2h,
.hover_border_burlyWood2h:hover,
.active_border_burlyWood2h:active:hover {
    border-color: #bd8134 #bd8134 #bd8134 #bd8134;
}

.border_burlyWood2a,
.hover_border_burlyWood2a:hover,
.active_border_burlyWood2a:active:hover {
    border-color: #a8732e #a8732e #a8732e #a8732e;
}

.border_burlyWood2s,
.hover_border_burlyWood2s:hover,
.active_border_burlyWood2s:active:hover {
    border-color: #e8cdaa #e8cdaa #e8cdaa #e8cdaa;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_burlyWood2,
.hover_shadow_expand_burlyWood2:hover,
.active_shadow_expand_burlyWood2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(203, 143, 65, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(203, 143, 65, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(203, 143, 65, .39);
}

.shadow_expand_burlyWood2h,
.hover_shadow_expand_burlyWood2h:hover,
.active_shadow_expand_burlyWood2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(214, 167, 107, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(214, 167, 107, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(214, 167, 107, .50);
}

.shadow_expand_burlyWood2a,
.hover_shadow_expand_burlyWood2a:hover,
.active_shadow_expand_burlyWood2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(232, 205, 170, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(232, 205, 170, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(232, 205, 170, .63);
}

.shadow_expand_burlyWood2s,
.hover_shadow_expand_burlyWood2s:hover,
.active_shadow_expand_burlyWood2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(232, 205, 170, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(232, 205, 170, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(232, 205, 170, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_burlyWood2,
.hover_shadow_left_burlyWood2:hover,
.active_shadow_left_burlyWood2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(203, 143, 65, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(203, 143, 65, .39);
    box-shadow: -0.5em -0.5em 1em rgba(203, 143, 65, .39);
}

.shadow_left_burlyWood2h,
.hover_shadow_left_burlyWood2h:hover,
.active_shadow_left_burlyWood2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(214, 167, 107, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(214, 167, 107, .50);
    box-shadow: -0.5em -0.5em 1em rgba(214, 167, 107, .50);
}

.shadow_left_burlyWood2a,
.hover_shadow_left_burlyWood2a:hover,
.active_shadow_left_burlyWood2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(232, 205, 170, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(232, 205, 170, .63);
    box-shadow: -0.5em -0.5em 1em rgba(232, 205, 170, .63);
}

.shadow_left_burlyWood2s,
.hover_shadow_left_burlyWood2s:hover,
.active_shadow_left_burlyWood2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(232, 205, 170, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(232, 205, 170, .78);
    box-shadow: -0.5em -0.5em 1em rgba(232, 205, 170, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_burlyWood2,
.hover_shadow_right_burlyWood2:hover,
.active_shadow_right_burlyWood2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(203, 143, 65, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(203, 143, 65, .39);
    box-shadow: 0.5em 0em 1em rgba(203, 143, 65, .39);
}

.shadow_right_burlyWood2h,
.hover_shadow_right_burlyWood2h:hover,
.active_shadow_right_burlyWood2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(214, 167, 107, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(214, 167, 107, .50);
    box-shadow: 0.5em 0em 1em rgba(214, 167, 107, .50);
}

.shadow_right_burlyWood2a,
.hover_shadow_right_burlyWood2a:hover,
.active_shadow_right_burlyWood2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(232, 205, 170, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(232, 205, 170, .63);
    box-shadow: 0.5em 0em 1em rgba(232, 205, 170, .63);
}

.shadow_right_burlyWood2s,
.hover_shadow_right_burlyWood2s:hover,
.active_shadow_right_burlyWood2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(232, 205, 170, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(232, 205, 170, .78);
    box-shadow: 0.5em 0em 1em rgba(232, 205, 170, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_burlyWood2,
.hover_shadow_top_burlyWood2:hover,
.active_shadow_top_burlyWood2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(203, 143, 65, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(203, 143, 65, .39);
    box-shadow: 0em -0.5em 1em rgba(203, 143, 65, .39);
}

.shadow_top_burlyWood2h,
.hover_shadow_top_burlyWood2h:hover,
.active_shadow_top_burlyWood2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(214, 167, 107, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(214, 167, 107, .50);
    box-shadow: 0em -0.5em 1em rgba(214, 167, 107, .50);
}

.shadow_top_burlyWood2a,
.hover_shadow_top_burlyWood2a:hover,
.active_shadow_top_burlyWood2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(232, 205, 170, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(232, 205, 170, .63);
    box-shadow: 0em -0.5em 1em rgba(232, 205, 170, .63);
}

.shadow_top_burlyWood2s,
.hover_shadow_top_burlyWood2s:hover,
.active_shadow_top_burlyWood2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(232, 205, 170, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(232, 205, 170, .78);
    box-shadow: 0em -0.5em 1em rgba(232, 205, 170, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_burlyWood2,
.hover_shadow_bottom_burlyWood2:hover,
.active_shadow_bottom_burlyWood2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(203, 143, 65, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(203, 143, 65, .39);
    box-shadow: 0em 0.5em 1em rgba(203, 143, 65, .39);
}

.shadow_bottom_burlyWood2h,
.hover_shadow_bottom_burlyWood2h:hover,
.active_shadow_bottom_burlyWood2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(214, 167, 107, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(214, 167, 107, .50);
    box-shadow: 0em 0.5em 1em rgba(214, 167, 107, .50);
}

.shadow_bottom_burlyWood2a,
.hover_shadow_bottom_burlyWood2a:hover,
.active_shadow_bottom_burlyWood2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(232, 205, 170, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(232, 205, 170, .63);
    box-shadow: 0em 0.5em 1em rgba(232, 205, 170, .63);
}

.shadow_bottom_burlyWood2s,
.hover_shadow_bottom_burlyWood2s:hover,
.active_shadow_bottom_burlyWood2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(232, 205, 170, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(232, 205, 170, .78);
    box-shadow: 0em 0.5em 1em rgba(232, 205, 170, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_burlyWood2,
.hover_shadow_top_left_burlyWood2:hover,
.active_shadow_top_left_burlyWood2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(203, 143, 65, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(203, 143, 65, .39);
    box-shadow: -0.5em -0.5em 1em rgba(203, 143, 65, .39);
}

.shadow_top_left_burlyWood2h,
.hover_shadow_top_left_burlyWood2h:hover,
.active_shadow_top_left_burlyWood2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(214, 167, 107, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(214, 167, 107, .50);
    box-shadow: -0.5em -0.5em 1em rgba(214, 167, 107, .50);
}

.shadow_top_left_burlyWood2a,
.hover_shadow_top_left_burlyWood2a:hover,
.active_shadow_top_left_burlyWood2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(232, 205, 170, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(232, 205, 170, .63);
    box-shadow: -0.5em -0.5em 1em rgba(232, 205, 170, .63);
}

.shadow_top_left_burlyWood2s,
.hover_shadow_top_left_burlyWood2s:hover,
.active_shadow_top_left_burlyWood2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(232, 205, 170, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(232, 205, 170, .78);
    box-shadow: -0.5em -0.5em 1em rgba(232, 205, 170, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_burlyWood2,
.hover_shadow_top_right_burlyWood2:hover,
.active_shadow_top_right_burlyWood2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(203, 143, 65, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(203, 143, 65, .39);
    box-shadow: 0.5em -0.5em 1em rgba(203, 143, 65, .39);
}

.shadow_top_right_burlyWood2h,
.hover_shadow_top_right_burlyWood2h:hover,
.active_shadow_top_right_burlyWood2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(214, 167, 107, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(214, 167, 107, .50);
    box-shadow: 0.5em -0.5em 1em rgba(214, 167, 107, .50);
}

.shadow_top_right_burlyWood2a,
.hover_shadow_top_right_burlyWood2a:hover,
.active_shadow_top_right_burlyWood2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(232, 205, 170, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(232, 205, 170, .63);
    box-shadow: 0.5em -0.5em 1em rgba(232, 205, 170, .63);
}

.shadow_top_right_burlyWood2s,
.hover_shadow_top_right_burlyWood2s:hover,
.active_shadow_top_right_burlyWood2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(232, 205, 170, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(232, 205, 170, .78);
    box-shadow: 0.5em -0.5em 1em rgba(232, 205, 170, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_burlyWood2,
.hover_shadow_bottom_left_burlyWood2:hover,
.active_shadow_bottom_left_burlyWood2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(203, 143, 65, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(203, 143, 65, .39);
    box-shadow: -0.5em 0.5em 1em rgba(203, 143, 65, .39);
}

.shadow_bottom_left_burlyWood2h,
.hover_shadow_bottom_left_burlyWood2h:hover,
.active_shadow_bottom_left_burlyWood2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(214, 167, 107, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(214, 167, 107, .50);
    box-shadow: -0.5em 0.5em 1em rgba(214, 167, 107, .50);
}

.shadow_bottom_left_burlyWood2a,
.hover_shadow_bottom_left_burlyWood2a:hover,
.active_shadow_bottom_left_burlyWood2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(232, 205, 170, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(232, 205, 170, .63);
    box-shadow: -0.5em 0.5em 1em rgba(232, 205, 170, .63);
}

.shadow_bottom_left_burlyWood2s,
.hover_shadow_bottom_left_burlyWood2s:hover,
.active_shadow_bottom_left_burlyWood2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(232, 205, 170, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(232, 205, 170, .78);
    box-shadow: -0.5em 0.5em 1em rgba(232, 205, 170, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_burlyWood2,
.hover_shadow_bottom_right_burlyWood2:hover,
.active_shadow_bottom_right_burlyWood2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(203, 143, 65, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(203, 143, 65, .39);
    box-shadow: 0.5em 0.5em 1em rgba(203, 143, 65, .39);
}

.shadow_bottom_right_burlyWood2h,
.hover_shadow_bottom_right_burlyWood2h:hover,
.active_shadow_bottom_right_burlyWood2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(214, 167, 107, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(214, 167, 107, .50);
    box-shadow: 0.5em 0.5em 1em rgba(214, 167, 107, .50);
}

.shadow_bottom_right_burlyWood2a,
 .hover_shadow_bottom_right_burlyWood2a:hover,
 .active_shadow_bottom_right_burlyWood2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(232, 205, 170, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(232, 205, 170, .63);
     box-shadow: 0.5em 0.5em 1em rgba(232, 205, 170, .63);
 }

 .shadow_bottom_right_burlyWood2s,
 .hover_shadow_bottom_right_burlyWood2s:hover,
 .active_shadow_bottom_right_burlyWood2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(232, 205, 170, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(232, 205, 170, .78);
     box-shadow: 0.5em 0.5em 1em rgba(232, 205, 170, .78);
 }