.background_glassySkyBlue5,
.hover_background_glassySkyBlue5:hover,
.active_background_glassySkyBlue5:active:hover {
    background: #1d84ae;
    background-image: -moz-linear-gradient(top,  rgb(26, 119, 156) 0%, rgb(23, 105, 139) 50%, rgb(20, 92, 122) 55%, rgb(29, 132, 174) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(26, 119, 156)), color-stop(50%, rgb(23, 105, 139)), color-stop(55%, rgb(20, 92, 122)), color-stop(100%, rgb(29, 132, 174)));
    background-image: -webkit-linear-gradient(top,  rgb(26, 119, 156) 0%, rgb(23, 105, 139) 50%, rgb(20, 92, 122) 55%, rgb(29, 132, 174) 100%);
    background-image: -o-linear-gradient(top,  rgb(26, 119, 156) 0%, rgb(23, 105, 139) 50%, rgb(20, 92, 122) 55%, rgb(29, 132, 174) 100%);
    background-image: -ms-linear-gradient(top, rgb(26, 119, 156) 0%, rgb(23, 105, 139) 50%, rgb(20, 92, 122) 55%, rgb(29, 132, 174) 100%);
    background-image: linear-gradient(to bottom,  rgb(26, 119, 156) 0%, rgb(23, 105, 139) 50%, rgb(20, 92, 122) 55%, rgb(29, 132, 174) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a779c', endColorstr='#1d84ae',GradientType=0 );
}

.background_glassySkyBlue5h,
.hover_background_glassySkyBlue5h:hover,
.active_background_glassySkyBlue5h:active:hover {
    background: #1d84ae;
    background-image: -moz-linear-gradient(top,  rgb(31, 142, 188) 0%, rgb(28, 127, 167) 50%, rgb(24, 111, 146) 55%, rgb(35, 158, 209) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(31, 142, 188)), color-stop(50%, rgb(28, 127, 167)), color-stop(55%, rgb(24, 111, 146)), color-stop(100%, rgb(35, 158, 209)));
    background-image: -webkit-linear-gradient(top,  rgb(31, 142, 188) 0%, rgb(28, 127, 167) 50%, rgb(24, 111, 146) 55%, rgb(35, 158, 209) 100%);
    background-image: -o-linear-gradient(top,  rgb(31, 142, 188) 0%, rgb(28, 127, 167) 50%, rgb(24, 111, 146) 55%, rgb(35, 158, 209) 100%);
    background-image: -ms-linear-gradient(top, rgb(31, 142, 188) 0%, rgb(28, 127, 167) 50%, rgb(24, 111, 146) 55%, rgb(35, 158, 209) 100%);
    background-image: linear-gradient(to bottom,  rgb(31, 142, 188) 0%, rgb(28, 127, 167) 50%, rgb(24, 111, 146) 55%, rgb(35, 158, 209) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f8ebc', endColorstr='#239ed1',GradientType=0 );
}

.background_glassySkyBlue5a,
.hover_background_glassySkyBlue5a:hover,
.active_background_glassySkyBlue5a:active:hover {
    background: #1d84ae;
    background-image: -moz-linear-gradient(top,  rgb(35, 158, 209) 0%, rgb(24, 111, 146) 50%, rgb(28, 127, 167) 55%, rgb(31, 142, 188) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(35, 158, 209)), color-stop(50%, rgb(24, 111, 146)), color-stop(55%, rgb(28, 127, 167)), color-stop(100%, rgb(31, 142, 188)));
    background-image: -webkit-linear-gradient(top,  rgb(35, 158, 209) 0%, rgb(24, 111, 146) 50%, rgb(28, 127, 167) 55%, rgb(31, 142, 188) 100%);
    background-image: -o-linear-gradient(top,  rgb(35, 158, 209) 0%, rgb(24, 111, 146) 50%, rgb(28, 127, 167) 55%, rgb(31, 142, 188) 100%);
    background-image: -ms-linear-gradient(top, rgb(35, 158, 209) 0%, rgb(24, 111, 146) 50%, rgb(28, 127, 167) 55%, rgb(31, 142, 188) 100%);
    background-image: linear-gradient(to bottom,  rgb(35, 158, 209) 0%, rgb(24, 111, 146) 50%, rgb(28, 127, 167) 55%, rgb(31, 142, 188) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#239ed1', endColorstr='#1f8ebc',GradientType=0 );
}

.background_glassySkyBlue5s,
.hover_background_glassySkyBlue5s:hover,
.active_background_glassySkyBlue5s:active:hover {
    background: #1d84ae;
    background-image: -moz-linear-gradient(top,  rgb(53, 172, 221) 0%, rgb(35, 158, 209) 50%, rgb(30, 138, 183) 55%, rgb(79, 183, 226) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(53, 172, 221)), color-stop(50%, rgb(35, 158, 209)), color-stop(55%, rgb(30, 138, 183)), color-stop(100%, rgb(79, 183, 226)));
    background-image: -webkit-linear-gradient(top,  rgb(53, 172, 221) 0%, rgb(35, 158, 209) 50%, rgb(30, 138, 183) 55%, rgb(79, 183, 226) 100%);
    background-image: -o-linear-gradient(top,  rgb(53, 172, 221) 0%, rgb(35, 158, 209) 50%, rgb(30, 138, 183) 55%, rgb(79, 183, 226) 100%);
    background-image: -ms-linear-gradient(top, rgb(53, 172, 221) 0%, rgb(35, 158, 209) 50%, rgb(30, 138, 183) 55%, rgb(79, 183, 226) 100%);
    background-image: linear-gradient(to bottom,  rgb(53, 172, 221) 0%, rgb(35, 158, 209) 50%, rgb(30, 138, 183) 55%, rgb(79, 183, 226) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35acdd', endColorstr='#4fb7e2',GradientType=0 );
}

.background_color_glassySkyBlue5,
.hover_background_color_glassySkyBlue5:hover,
.active_background_color_glassySkyBlue5:active:hover {
    background-color:#1d84ae;
}

.background_first_color_glassySkyBlue5,
.hover_background_first_color_glassySkyBlue5:hover,
.active_background_first_color_glassySkyBlue5:active:hover {
    background-color:#1a779c;
}

.background_last_color_glassySkyBlue5,
.hover_background_last_color_glassySkyBlue5:hover,
.active_background_color_last_glassySkyBlue5:active:hover {
   background-color:#1d84ae;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassySkyBlue5,
.hover_color_glassySkyBlue5:hover,
.active_color_glassySkyBlue5:active:hover {
    color: #c8c8c8;
}

.color_glassySkyBlue5h,
.hover_color_glassySkyBlue5h:hover,
.active_color_glassySkyBlue5h:active:hover {
    color: #c8c8c8;
}

.color_glassySkyBlue5a,
.hover_color_glassySkyBlue5a:hover,
.active_color_glassySkyBlue5a:active:hover {
    color: #ff0;
}

.color_glassySkyBlue5s,
.hover_color_glassySkyBlue5s:hover,
.active_color_glassySkyBlue5s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassySkyBlue5,
.hover_border_glassySkyBlue5:hover,
.active_border_glassySkyBlue5:active:hover {
    border-color: #155f7d #114f68 #114f68 #155f7d;
}

.border_glassySkyBlue5h,
.hover_border_glassySkyBlue5h:hover,
.active_border_glassySkyBlue5h:active:hover {
    border-color: #155f7d #114f68 #114f68 #155f7d;
}

.border_glassySkyBlue5a,
.hover_border_glassySkyBlue5a:hover,
.active_border_glassySkyBlue5a:active:hover {
    border-color: #104a61 #104a61 #104a61 #104a61;
}

.border_glassySkyBlue5s,
.hover_border_glassySkyBlue5s:hover,
.active_border_glassySkyBlue5s:active:hover {
    border-color: #104a61 #104a61 #104a61 #104a61;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassySkyBlue5,
.hover_shadow_expand_glassySkyBlue5:hover,
.active_shadow_expand_glassySkyBlue5:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(29, 132, 174, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(29, 132, 174, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(29, 132, 174, .39);
}

.shadow_expand_glassySkyBlue5h,
.hover_shadow_expand_glassySkyBlue5h:hover,
.active_shadow_expand_glassySkyBlue5h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(35, 158, 209, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(35, 158, 209, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(35, 158, 209, .50);
}

.shadow_expand_glassySkyBlue5a,
.hover_shadow_expand_glassySkyBlue5a:hover,
.active_shadow_expand_glassySkyBlue5a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(31, 142, 188, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(31, 142, 188, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(31, 142, 188, .63);
}

.shadow_expand_glassySkyBlue5s,
.hover_shadow_expand_glassySkyBlue5s:hover,
.active_shadow_expand_glassySkyBlue5s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(31, 142, 188, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(31, 142, 188, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(31, 142, 188, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassySkyBlue5,
.hover_shadow_left_glassySkyBlue5:hover,
.active_shadow_left_glassySkyBlue5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(29, 132, 174, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(29, 132, 174, .39);
    box-shadow: -0.5em -0.5em 1em rgba(29, 132, 174, .39);
}

.shadow_left_glassySkyBlue5h,
.hover_shadow_left_glassySkyBlue5h:hover,
.active_shadow_left_glassySkyBlue5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(35, 158, 209, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(35, 158, 209, .50);
    box-shadow: -0.5em -0.5em 1em rgba(35, 158, 209, .50);
}

.shadow_left_glassySkyBlue5a,
.hover_shadow_left_glassySkyBlue5a:hover,
.active_shadow_left_glassySkyBlue5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(31, 142, 188, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(31, 142, 188, .63);
    box-shadow: -0.5em -0.5em 1em rgba(31, 142, 188, .63);
}

.shadow_left_glassySkyBlue5s,
.hover_shadow_left_glassySkyBlue5s:hover,
.active_shadow_left_glassySkyBlue5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(31, 142, 188, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(31, 142, 188, .78);
    box-shadow: -0.5em -0.5em 1em rgba(31, 142, 188, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassySkyBlue5,
.hover_shadow_right_glassySkyBlue5:hover,
.active_shadow_right_glassySkyBlue5:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(29, 132, 174, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(29, 132, 174, .39);
    box-shadow: 0.5em 0em 1em rgba(29, 132, 174, .39);
}

.shadow_right_glassySkyBlue5h,
.hover_shadow_right_glassySkyBlue5h:hover,
.active_shadow_right_glassySkyBlue5h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(35, 158, 209, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(35, 158, 209, .50);
    box-shadow: 0.5em 0em 1em rgba(35, 158, 209, .50);
}

.shadow_right_glassySkyBlue5a,
.hover_shadow_right_glassySkyBlue5a:hover,
.active_shadow_right_glassySkyBlue5a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(31, 142, 188, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(31, 142, 188, .63);
    box-shadow: 0.5em 0em 1em rgba(31, 142, 188, .63);
}

.shadow_right_glassySkyBlue5s,
.hover_shadow_right_glassySkyBlue5s:hover,
.active_shadow_right_glassySkyBlue5s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(31, 142, 188, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(31, 142, 188, .78);
    box-shadow: 0.5em 0em 1em rgba(31, 142, 188, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassySkyBlue5,
.hover_shadow_top_glassySkyBlue5:hover,
.active_shadow_top_glassySkyBlue5:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(29, 132, 174, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(29, 132, 174, .39);
    box-shadow: 0em -0.5em 1em rgba(29, 132, 174, .39);
}

.shadow_top_glassySkyBlue5h,
.hover_shadow_top_glassySkyBlue5h:hover,
.active_shadow_top_glassySkyBlue5h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(35, 158, 209, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(35, 158, 209, .50);
    box-shadow: 0em -0.5em 1em rgba(35, 158, 209, .50);
}

.shadow_top_glassySkyBlue5a,
.hover_shadow_top_glassySkyBlue5a:hover,
.active_shadow_top_glassySkyBlue5a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(31, 142, 188, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(31, 142, 188, .63);
    box-shadow: 0em -0.5em 1em rgba(31, 142, 188, .63);
}

.shadow_top_glassySkyBlue5s,
.hover_shadow_top_glassySkyBlue5s:hover,
.active_shadow_top_glassySkyBlue5s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(31, 142, 188, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(31, 142, 188, .78);
    box-shadow: 0em -0.5em 1em rgba(31, 142, 188, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassySkyBlue5,
.hover_shadow_bottom_glassySkyBlue5:hover,
.active_shadow_bottom_glassySkyBlue5:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(29, 132, 174, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(29, 132, 174, .39);
    box-shadow: 0em 0.5em 1em rgba(29, 132, 174, .39);
}

.shadow_bottom_glassySkyBlue5h,
.hover_shadow_bottom_glassySkyBlue5h:hover,
.active_shadow_bottom_glassySkyBlue5h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(35, 158, 209, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(35, 158, 209, .50);
    box-shadow: 0em 0.5em 1em rgba(35, 158, 209, .50);
}

.shadow_bottom_glassySkyBlue5a,
.hover_shadow_bottom_glassySkyBlue5a:hover,
.active_shadow_bottom_glassySkyBlue5a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(31, 142, 188, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(31, 142, 188, .63);
    box-shadow: 0em 0.5em 1em rgba(31, 142, 188, .63);
}

.shadow_bottom_glassySkyBlue5s,
.hover_shadow_bottom_glassySkyBlue5s:hover,
.active_shadow_bottom_glassySkyBlue5s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(31, 142, 188, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(31, 142, 188, .78);
    box-shadow: 0em 0.5em 1em rgba(31, 142, 188, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassySkyBlue5,
.hover_shadow_top_left_glassySkyBlue5:hover,
.active_shadow_top_left_glassySkyBlue5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(29, 132, 174, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(29, 132, 174, .39);
    box-shadow: -0.5em -0.5em 1em rgba(29, 132, 174, .39);
}

.shadow_top_left_glassySkyBlue5h,
.hover_shadow_top_left_glassySkyBlue5h:hover,
.active_shadow_top_left_glassySkyBlue5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(35, 158, 209, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(35, 158, 209, .50);
    box-shadow: -0.5em -0.5em 1em rgba(35, 158, 209, .50);
}

.shadow_top_left_glassySkyBlue5a,
.hover_shadow_top_left_glassySkyBlue5a:hover,
.active_shadow_top_left_glassySkyBlue5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(31, 142, 188, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(31, 142, 188, .63);
    box-shadow: -0.5em -0.5em 1em rgba(31, 142, 188, .63);
}

.shadow_top_left_glassySkyBlue5s,
.hover_shadow_top_left_glassySkyBlue5s:hover,
.active_shadow_top_left_glassySkyBlue5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(31, 142, 188, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(31, 142, 188, .78);
    box-shadow: -0.5em -0.5em 1em rgba(31, 142, 188, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassySkyBlue5,
.hover_shadow_top_right_glassySkyBlue5:hover,
.active_shadow_top_right_glassySkyBlue5:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(29, 132, 174, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(29, 132, 174, .39);
    box-shadow: 0.5em -0.5em 1em rgba(29, 132, 174, .39);
}

.shadow_top_right_glassySkyBlue5h,
.hover_shadow_top_right_glassySkyBlue5h:hover,
.active_shadow_top_right_glassySkyBlue5h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(35, 158, 209, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(35, 158, 209, .50);
    box-shadow: 0.5em -0.5em 1em rgba(35, 158, 209, .50);
}

.shadow_top_right_glassySkyBlue5a,
.hover_shadow_top_right_glassySkyBlue5a:hover,
.active_shadow_top_right_glassySkyBlue5a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(31, 142, 188, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(31, 142, 188, .63);
    box-shadow: 0.5em -0.5em 1em rgba(31, 142, 188, .63);
}

.shadow_top_right_glassySkyBlue5s,
.hover_shadow_top_right_glassySkyBlue5s:hover,
.active_shadow_top_right_glassySkyBlue5s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(31, 142, 188, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(31, 142, 188, .78);
    box-shadow: 0.5em -0.5em 1em rgba(31, 142, 188, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassySkyBlue5,
.hover_shadow_bottom_left_glassySkyBlue5:hover,
.active_shadow_bottom_left_glassySkyBlue5:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(29, 132, 174, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(29, 132, 174, .39);
    box-shadow: -0.5em 0.5em 1em rgba(29, 132, 174, .39);
}

.shadow_bottom_left_glassySkyBlue5h,
.hover_shadow_bottom_left_glassySkyBlue5h:hover,
.active_shadow_bottom_left_glassySkyBlue5h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(35, 158, 209, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(35, 158, 209, .50);
    box-shadow: -0.5em 0.5em 1em rgba(35, 158, 209, .50);
}

.shadow_bottom_left_glassySkyBlue5a,
.hover_shadow_bottom_left_glassySkyBlue5a:hover,
.active_shadow_bottom_left_glassySkyBlue5a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(31, 142, 188, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(31, 142, 188, .63);
    box-shadow: -0.5em 0.5em 1em rgba(31, 142, 188, .63);
}

.shadow_bottom_left_glassySkyBlue5s,
.hover_shadow_bottom_left_glassySkyBlue5s:hover,
.active_shadow_bottom_left_glassySkyBlue5s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(31, 142, 188, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(31, 142, 188, .78);
    box-shadow: -0.5em 0.5em 1em rgba(31, 142, 188, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassySkyBlue5,
.hover_shadow_bottom_right_glassySkyBlue5:hover,
.active_shadow_bottom_right_glassySkyBlue5:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(29, 132, 174, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(29, 132, 174, .39);
    box-shadow: 0.5em 0.5em 1em rgba(29, 132, 174, .39);
}

.shadow_bottom_right_glassySkyBlue5h,
.hover_shadow_bottom_right_glassySkyBlue5h:hover,
.active_shadow_bottom_right_glassySkyBlue5h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(35, 158, 209, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(35, 158, 209, .50);
    box-shadow: 0.5em 0.5em 1em rgba(35, 158, 209, .50);
}

.shadow_bottom_right_glassySkyBlue5a,
 .hover_shadow_bottom_right_glassySkyBlue5a:hover,
 .active_shadow_bottom_right_glassySkyBlue5a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(31, 142, 188, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(31, 142, 188, .63);
     box-shadow: 0.5em 0.5em 1em rgba(31, 142, 188, .63);
 }

 .shadow_bottom_right_glassySkyBlue5s,
 .hover_shadow_bottom_right_glassySkyBlue5s:hover,
 .active_shadow_bottom_right_glassySkyBlue5s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(31, 142, 188, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(31, 142, 188, .78);
     box-shadow: 0.5em 0.5em 1em rgba(31, 142, 188, .78);
 }