.background_glossyAqua1,
.hover_background_glossyAqua1:hover,
.active_background_glossyAqua1:active:hover {
    background: #00ffff;
    background-image: -moz-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .30)), color-stop(50%, rgba(255, 255, 255, .00)), color-stop(51%, rgba(0, 0, 0, .10)), color-stop(100%, rgba(0, 0, 0, .04)));
    background-image: -webkit-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -o-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: linear-gradient(to bottom,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
}

.background_glossyAqua1h,
.hover_background_glossyAqua1h:hover,
.active_background_glossyAqua1h:active:hover {
    background: #00ffff;
    background-image: -moz-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .30)), color-stop(50%, rgba(255, 255, 255, .00)), color-stop(51%, rgba(0, 0, 0, .10)), color-stop(100%, rgba(0, 0, 0, .04)));
    background-image: -webkit-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -o-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: linear-gradient(to bottom,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
}

.background_glossyAqua1a,
.hover_background_glossyAqua1a:hover,
.active_background_glossyAqua1a:active:hover {
    background: #00ffff;
    background-image: -moz-linear-gradient(top,  rgba(0, 0, 0, .04) 0%, rgba(0, 0, 0, .10) 50%, rgba(255, 255, 255, .00) 51%, rgba(255, 255, 255, .30) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .04)), color-stop(50%, rgba(0, 0, 0, .10)), color-stop(51%, rgba(255, 255, 255, .00)), color-stop(100%, rgba(255, 255, 255, .30)));
    background-image: -webkit-linear-gradient(top,  rgba(0, 0, 0, .04) 0%, rgba(0, 0, 0, .10) 50%, rgba(255, 255, 255, .00) 51%, rgba(255, 255, 255, .30) 100%);
    background-image: -o-linear-gradient(top,  rgba(0, 0, 0, .04) 0%, rgba(0, 0, 0, .10) 50%, rgba(255, 255, 255, .00) 51%, rgba(255, 255, 255, .30) 100%);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, .04) 0%, rgba(0, 0, 0, .10) 50%, rgba(255, 255, 255, .00) 51%, rgba(255, 255, 255, .30) 100%);
    background-image: linear-gradient(to bottom,  rgba(0, 0, 0, .04) 0%, rgba(0, 0, 0, .10) 50%, rgba(255, 255, 255, .00) 51%, rgba(255, 255, 255, .30) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 );
}

.background_glossyAqua1s,
.hover_background_glossyAqua1s:hover,
.active_background_glossyAqua1s:active:hover {
    background: #00ffff;
    background-image: -moz-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .30)), color-stop(50%, rgba(255, 255, 255, .00)), color-stop(51%, rgba(0, 0, 0, .10)), color-stop(100%, rgba(0, 0, 0, .04)));
    background-image: -webkit-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -o-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: linear-gradient(to bottom,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
}

.background_color_glossyAqua1,
.hover_background_color_glossyAqua1:hover,
.active_background_color_glossyAqua1:active:hover {
    background-color:#00ffff;
}

.background_first_color_glossyAqua1,
.hover_background_first_color_glossyAqua1:hover,
.active_background_first_color_glossyAqua1:active:hover {
    background-color:#ffffff;
}

.background_last_color_glossyAqua1,
.hover_background_last_color_glossyAqua1:hover,
.active_background_color_last_glossyAqua1:active:hover {
   background-color:#000000;
}

/* ------------------------------ color settings -------------------------------*/
.color_glossyAqua1,
.hover_color_glossyAqua1:hover,
.active_color_glossyAqua1:active:hover {
    color: #282828;
}

.color_glossyAqua1h,
.hover_color_glossyAqua1h:hover,
.active_color_glossyAqua1h:active:hover {
    color: #282828;
}

.color_glossyAqua1a,
.hover_color_glossyAqua1a:hover,
.active_color_glossyAqua1a:active:hover {
    color: #282828;
}

.color_glossyAqua1s,
.hover_color_glossyAqua1s:hover,
.active_color_glossyAqua1s:active:hover {
    color: #282828;
}

/* -------------------------- border color settings -----------------------------*/
.border_glossyAqua1,
.hover_border_glossyAqua1:hover,
.active_border_glossyAqua1:active:hover {
    border-color: #00cccc #00cccc #00cccc #00cccc;
}

.border_glossyAqua1h,
.hover_border_glossyAqua1h:hover,
.active_border_glossyAqua1h:active:hover {
    border-color: #00a6a6 #00a6a6 #00a6a6 #00a6a6;
}

.border_glossyAqua1a,
.hover_border_glossyAqua1a:hover,
.active_border_glossyAqua1a:active:hover {
    border-color: #008080 #008080 #008080 #008080;
}

.border_glossyAqua1s,
.hover_border_glossyAqua1s:hover,
.active_border_glossyAqua1s:active:hover {
    border-color: #00cccc #00cccc #00cccc #00cccc;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glossyAqua1,
.hover_shadow_expand_glossyAqua1:hover,
.active_shadow_expand_glossyAqua1:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 255, 255, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 255, 255, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 255, 255, .39);
}

.shadow_expand_glossyAqua1h,
.hover_shadow_expand_glossyAqua1h:hover,
.active_shadow_expand_glossyAqua1h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(51, 255, 255, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(51, 255, 255, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(51, 255, 255, .50);
}

.shadow_expand_glossyAqua1a,
.hover_shadow_expand_glossyAqua1a:hover,
.active_shadow_expand_glossyAqua1a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 230, 230, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 230, 230, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 230, 230, .63);
}

.shadow_expand_glossyAqua1s,
.hover_shadow_expand_glossyAqua1s:hover,
.active_shadow_expand_glossyAqua1s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 230, 230, .71);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 230, 230, .71);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 230, 230, .71);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glossyAqua1,
.hover_shadow_left_glossyAqua1:hover,
.active_shadow_left_glossyAqua1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 255, 255, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 255, 255, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 255, 255, .39);
}

.shadow_left_glossyAqua1h,
.hover_shadow_left_glossyAqua1h:hover,
.active_shadow_left_glossyAqua1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(51, 255, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(51, 255, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(51, 255, 255, .50);
}

.shadow_left_glossyAqua1a,
.hover_shadow_left_glossyAqua1a:hover,
.active_shadow_left_glossyAqua1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 230, 230, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 230, 230, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 230, 230, .63);
}

.shadow_left_glossyAqua1s,
.hover_shadow_left_glossyAqua1s:hover,
.active_shadow_left_glossyAqua1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 230, 230, .71);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 230, 230, .71);
    box-shadow: -0.5em -0.5em 1em rgba(0, 230, 230, .71);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glossyAqua1,
.hover_shadow_right_glossyAqua1:hover,
.active_shadow_right_glossyAqua1:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 255, 255, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 255, 255, .39);
    box-shadow: 0.5em 0em 1em rgba(0, 255, 255, .39);
}

.shadow_right_glossyAqua1h,
.hover_shadow_right_glossyAqua1h:hover,
.active_shadow_right_glossyAqua1h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(51, 255, 255, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(51, 255, 255, .50);
    box-shadow: 0.5em 0em 1em rgba(51, 255, 255, .50);
}

.shadow_right_glossyAqua1a,
.hover_shadow_right_glossyAqua1a:hover,
.active_shadow_right_glossyAqua1a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 230, 230, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 230, 230, .63);
    box-shadow: 0.5em 0em 1em rgba(0, 230, 230, .63);
}

.shadow_right_glossyAqua1s,
.hover_shadow_right_glossyAqua1s:hover,
.active_shadow_right_glossyAqua1s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 230, 230, .71);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 230, 230, .71);
    box-shadow: 0.5em 0em 1em rgba(0, 230, 230, .71);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glossyAqua1,
.hover_shadow_top_glossyAqua1:hover,
.active_shadow_top_glossyAqua1:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 255, 255, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 255, 255, .39);
    box-shadow: 0em -0.5em 1em rgba(0, 255, 255, .39);
}

.shadow_top_glossyAqua1h,
.hover_shadow_top_glossyAqua1h:hover,
.active_shadow_top_glossyAqua1h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(51, 255, 255, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(51, 255, 255, .50);
    box-shadow: 0em -0.5em 1em rgba(51, 255, 255, .50);
}

.shadow_top_glossyAqua1a,
.hover_shadow_top_glossyAqua1a:hover,
.active_shadow_top_glossyAqua1a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 230, 230, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 230, 230, .63);
    box-shadow: 0em -0.5em 1em rgba(0, 230, 230, .63);
}

.shadow_top_glossyAqua1s,
.hover_shadow_top_glossyAqua1s:hover,
.active_shadow_top_glossyAqua1s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 230, 230, .71);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 230, 230, .71);
    box-shadow: 0em -0.5em 1em rgba(0, 230, 230, .71);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glossyAqua1,
.hover_shadow_bottom_glossyAqua1:hover,
.active_shadow_bottom_glossyAqua1:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 255, 255, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 255, 255, .39);
    box-shadow: 0em 0.5em 1em rgba(0, 255, 255, .39);
}

.shadow_bottom_glossyAqua1h,
.hover_shadow_bottom_glossyAqua1h:hover,
.active_shadow_bottom_glossyAqua1h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(51, 255, 255, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(51, 255, 255, .50);
    box-shadow: 0em 0.5em 1em rgba(51, 255, 255, .50);
}

.shadow_bottom_glossyAqua1a,
.hover_shadow_bottom_glossyAqua1a:hover,
.active_shadow_bottom_glossyAqua1a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 230, 230, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 230, 230, .63);
    box-shadow: 0em 0.5em 1em rgba(0, 230, 230, .63);
}

.shadow_bottom_glossyAqua1s,
.hover_shadow_bottom_glossyAqua1s:hover,
.active_shadow_bottom_glossyAqua1s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 230, 230, .71);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 230, 230, .71);
    box-shadow: 0em 0.5em 1em rgba(0, 230, 230, .71);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glossyAqua1,
.hover_shadow_top_left_glossyAqua1:hover,
.active_shadow_top_left_glossyAqua1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 255, 255, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 255, 255, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 255, 255, .39);
}

.shadow_top_left_glossyAqua1h,
.hover_shadow_top_left_glossyAqua1h:hover,
.active_shadow_top_left_glossyAqua1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(51, 255, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(51, 255, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(51, 255, 255, .50);
}

.shadow_top_left_glossyAqua1a,
.hover_shadow_top_left_glossyAqua1a:hover,
.active_shadow_top_left_glossyAqua1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 230, 230, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 230, 230, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 230, 230, .63);
}

.shadow_top_left_glossyAqua1s,
.hover_shadow_top_left_glossyAqua1s:hover,
.active_shadow_top_left_glossyAqua1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 230, 230, .71);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 230, 230, .71);
    box-shadow: -0.5em -0.5em 1em rgba(0, 230, 230, .71);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glossyAqua1,
.hover_shadow_top_right_glossyAqua1:hover,
.active_shadow_top_right_glossyAqua1:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 255, 255, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 255, 255, .39);
    box-shadow: 0.5em -0.5em 1em rgba(0, 255, 255, .39);
}

.shadow_top_right_glossyAqua1h,
.hover_shadow_top_right_glossyAqua1h:hover,
.active_shadow_top_right_glossyAqua1h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(51, 255, 255, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(51, 255, 255, .50);
    box-shadow: 0.5em -0.5em 1em rgba(51, 255, 255, .50);
}

.shadow_top_right_glossyAqua1a,
.hover_shadow_top_right_glossyAqua1a:hover,
.active_shadow_top_right_glossyAqua1a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 230, 230, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 230, 230, .63);
    box-shadow: 0.5em -0.5em 1em rgba(0, 230, 230, .63);
}

.shadow_top_right_glossyAqua1s,
.hover_shadow_top_right_glossyAqua1s:hover,
.active_shadow_top_right_glossyAqua1s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 230, 230, .71);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 230, 230, .71);
    box-shadow: 0.5em -0.5em 1em rgba(0, 230, 230, .71);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glossyAqua1,
.hover_shadow_bottom_left_glossyAqua1:hover,
.active_shadow_bottom_left_glossyAqua1:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 255, 255, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 255, 255, .39);
    box-shadow: -0.5em 0.5em 1em rgba(0, 255, 255, .39);
}

.shadow_bottom_left_glossyAqua1h,
.hover_shadow_bottom_left_glossyAqua1h:hover,
.active_shadow_bottom_left_glossyAqua1h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(51, 255, 255, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(51, 255, 255, .50);
    box-shadow: -0.5em 0.5em 1em rgba(51, 255, 255, .50);
}

.shadow_bottom_left_glossyAqua1a,
.hover_shadow_bottom_left_glossyAqua1a:hover,
.active_shadow_bottom_left_glossyAqua1a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 230, 230, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 230, 230, .63);
    box-shadow: -0.5em 0.5em 1em rgba(0, 230, 230, .63);
}

.shadow_bottom_left_glossyAqua1s,
.hover_shadow_bottom_left_glossyAqua1s:hover,
.active_shadow_bottom_left_glossyAqua1s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 230, 230, .71);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 230, 230, .71);
    box-shadow: -0.5em 0.5em 1em rgba(0, 230, 230, .71);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glossyAqua1,
.hover_shadow_bottom_right_glossyAqua1:hover,
.active_shadow_bottom_right_glossyAqua1:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 255, 255, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 255, 255, .39);
    box-shadow: 0.5em 0.5em 1em rgba(0, 255, 255, .39);
}

.shadow_bottom_right_glossyAqua1h,
.hover_shadow_bottom_right_glossyAqua1h:hover,
.active_shadow_bottom_right_glossyAqua1h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(51, 255, 255, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(51, 255, 255, .50);
    box-shadow: 0.5em 0.5em 1em rgba(51, 255, 255, .50);
}

.shadow_bottom_right_glossyAqua1a,
 .hover_shadow_bottom_right_glossyAqua1a:hover,
 .active_shadow_bottom_right_glossyAqua1a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 230, 230, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 230, 230, .63);
     box-shadow: 0.5em 0.5em 1em rgba(0, 230, 230, .63);
 }

 .shadow_bottom_right_glossyAqua1s,
 .hover_shadow_bottom_right_glossyAqua1s:hover,
 .active_shadow_bottom_right_glossyAqua1s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 230, 230, .71);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 230, 230, .71);
     box-shadow: 0.5em 0.5em 1em rgba(0, 230, 230, .71);
 }