.background_glassyWhiteSmoke3,
.hover_background_glassyWhiteSmoke3:hover,
.active_background_glassyWhiteSmoke3:active:hover {
    background: #b1b1b1;
    background-image: -moz-linear-gradient(top,  rgb(159, 159, 159) 0%, rgb(142, 142, 142) 50%, rgb(124, 124, 124) 55%, rgb(177, 177, 177) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(159, 159, 159)), color-stop(50%, rgb(142, 142, 142)), color-stop(55%, rgb(124, 124, 124)), color-stop(100%, rgb(177, 177, 177)));
    background-image: -webkit-linear-gradient(top,  rgb(159, 159, 159) 0%, rgb(142, 142, 142) 50%, rgb(124, 124, 124) 55%, rgb(177, 177, 177) 100%);
    background-image: -o-linear-gradient(top,  rgb(159, 159, 159) 0%, rgb(142, 142, 142) 50%, rgb(124, 124, 124) 55%, rgb(177, 177, 177) 100%);
    background-image: -ms-linear-gradient(top, rgb(159, 159, 159) 0%, rgb(142, 142, 142) 50%, rgb(124, 124, 124) 55%, rgb(177, 177, 177) 100%);
    background-image: linear-gradient(to bottom,  rgb(159, 159, 159) 0%, rgb(142, 142, 142) 50%, rgb(124, 124, 124) 55%, rgb(177, 177, 177) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f9f9f', endColorstr='#b1b1b1',GradientType=0 );
}

.background_glassyWhiteSmoke3h,
.hover_background_glassyWhiteSmoke3h:hover,
.active_background_glassyWhiteSmoke3h:active:hover {
    background: #b1b1b1;
    background-image: -moz-linear-gradient(top,  rgb(191, 191, 191) 0%, rgb(170, 170, 170) 50%, rgb(149, 149, 149) 55%, rgb(212, 212, 212) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(191, 191, 191)), color-stop(50%, rgb(170, 170, 170)), color-stop(55%, rgb(149, 149, 149)), color-stop(100%, rgb(212, 212, 212)));
    background-image: -webkit-linear-gradient(top,  rgb(191, 191, 191) 0%, rgb(170, 170, 170) 50%, rgb(149, 149, 149) 55%, rgb(212, 212, 212) 100%);
    background-image: -o-linear-gradient(top,  rgb(191, 191, 191) 0%, rgb(170, 170, 170) 50%, rgb(149, 149, 149) 55%, rgb(212, 212, 212) 100%);
    background-image: -ms-linear-gradient(top, rgb(191, 191, 191) 0%, rgb(170, 170, 170) 50%, rgb(149, 149, 149) 55%, rgb(212, 212, 212) 100%);
    background-image: linear-gradient(to bottom,  rgb(191, 191, 191) 0%, rgb(170, 170, 170) 50%, rgb(149, 149, 149) 55%, rgb(212, 212, 212) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#d4d4d4',GradientType=0 );
}

.background_glassyWhiteSmoke3a,
.hover_background_glassyWhiteSmoke3a:hover,
.active_background_glassyWhiteSmoke3a:active:hover {
    background: #b1b1b1;
    background-image: -moz-linear-gradient(top,  rgb(212, 212, 212) 0%, rgb(149, 149, 149) 50%, rgb(170, 170, 170) 55%, rgb(191, 191, 191) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(212, 212, 212)), color-stop(50%, rgb(149, 149, 149)), color-stop(55%, rgb(170, 170, 170)), color-stop(100%, rgb(191, 191, 191)));
    background-image: -webkit-linear-gradient(top,  rgb(212, 212, 212) 0%, rgb(149, 149, 149) 50%, rgb(170, 170, 170) 55%, rgb(191, 191, 191) 100%);
    background-image: -o-linear-gradient(top,  rgb(212, 212, 212) 0%, rgb(149, 149, 149) 50%, rgb(170, 170, 170) 55%, rgb(191, 191, 191) 100%);
    background-image: -ms-linear-gradient(top, rgb(212, 212, 212) 0%, rgb(149, 149, 149) 50%, rgb(170, 170, 170) 55%, rgb(191, 191, 191) 100%);
    background-image: linear-gradient(to bottom,  rgb(212, 212, 212) 0%, rgb(149, 149, 149) 50%, rgb(170, 170, 170) 55%, rgb(191, 191, 191) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#bfbfbf',GradientType=0 );
}

.background_glassyWhiteSmoke3s,
.hover_background_glassyWhiteSmoke3s:hover,
.active_background_glassyWhiteSmoke3s:active:hover {
    background: #b1b1b1;
    background-image: -moz-linear-gradient(top,  rgb(239, 239, 239) 0%, rgb(212, 212, 212) 50%, rgb(186, 186, 186) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(239, 239, 239)), color-stop(50%, rgb(212, 212, 212)), color-stop(55%, rgb(186, 186, 186)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(239, 239, 239) 0%, rgb(212, 212, 212) 50%, rgb(186, 186, 186) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(239, 239, 239) 0%, rgb(212, 212, 212) 50%, rgb(186, 186, 186) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(239, 239, 239) 0%, rgb(212, 212, 212) 50%, rgb(186, 186, 186) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(239, 239, 239) 0%, rgb(212, 212, 212) 50%, rgb(186, 186, 186) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 );
}

.background_color_glassyWhiteSmoke3,
.hover_background_color_glassyWhiteSmoke3:hover,
.active_background_color_glassyWhiteSmoke3:active:hover {
    background-color:#b1b1b1;
}

.background_first_color_glassyWhiteSmoke3,
.hover_background_first_color_glassyWhiteSmoke3:hover,
.active_background_first_color_glassyWhiteSmoke3:active:hover {
    background-color:#9f9f9f;
}

.background_last_color_glassyWhiteSmoke3,
.hover_background_last_color_glassyWhiteSmoke3:hover,
.active_background_color_last_glassyWhiteSmoke3:active:hover {
   background-color:#b1b1b1;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyWhiteSmoke3,
.hover_color_glassyWhiteSmoke3:hover,
.active_color_glassyWhiteSmoke3:active:hover {
    color: #282828;
}

.color_glassyWhiteSmoke3h,
.hover_color_glassyWhiteSmoke3h:hover,
.active_color_glassyWhiteSmoke3h:active:hover {
    color: #282828;
}

.color_glassyWhiteSmoke3a,
.hover_color_glassyWhiteSmoke3a:hover,
.active_color_glassyWhiteSmoke3a:active:hover {
    color: #ff0;
}

.color_glassyWhiteSmoke3s,
.hover_color_glassyWhiteSmoke3s:hover,
.active_color_glassyWhiteSmoke3s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyWhiteSmoke3,
.hover_border_glassyWhiteSmoke3:hover,
.active_border_glassyWhiteSmoke3:active:hover {
    border-color: #7f7f7f #6a6a6a #6a6a6a #7f7f7f;
}

.border_glassyWhiteSmoke3h,
.hover_border_glassyWhiteSmoke3h:hover,
.active_border_glassyWhiteSmoke3h:active:hover {
    border-color: #7f7f7f #6a6a6a #6a6a6a #7f7f7f;
}

.border_glassyWhiteSmoke3a,
.hover_border_glassyWhiteSmoke3a:hover,
.active_border_glassyWhiteSmoke3a:active:hover {
    border-color: #636363 #636363 #636363 #636363;
}

.border_glassyWhiteSmoke3s,
.hover_border_glassyWhiteSmoke3s:hover,
.active_border_glassyWhiteSmoke3s:active:hover {
    border-color: #636363 #636363 #636363 #636363;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyWhiteSmoke3,
.hover_shadow_expand_glassyWhiteSmoke3:hover,
.active_shadow_expand_glassyWhiteSmoke3:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(177, 177, 177, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(177, 177, 177, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(177, 177, 177, .39);
}

.shadow_expand_glassyWhiteSmoke3h,
.hover_shadow_expand_glassyWhiteSmoke3h:hover,
.active_shadow_expand_glassyWhiteSmoke3h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(212, 212, 212, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(212, 212, 212, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(212, 212, 212, .50);
}

.shadow_expand_glassyWhiteSmoke3a,
.hover_shadow_expand_glassyWhiteSmoke3a:hover,
.active_shadow_expand_glassyWhiteSmoke3a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(191, 191, 191, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(191, 191, 191, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(191, 191, 191, .63);
}

.shadow_expand_glassyWhiteSmoke3s,
.hover_shadow_expand_glassyWhiteSmoke3s:hover,
.active_shadow_expand_glassyWhiteSmoke3s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(191, 191, 191, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(191, 191, 191, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(191, 191, 191, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyWhiteSmoke3,
.hover_shadow_left_glassyWhiteSmoke3:hover,
.active_shadow_left_glassyWhiteSmoke3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(177, 177, 177, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(177, 177, 177, .39);
    box-shadow: -0.5em -0.5em 1em rgba(177, 177, 177, .39);
}

.shadow_left_glassyWhiteSmoke3h,
.hover_shadow_left_glassyWhiteSmoke3h:hover,
.active_shadow_left_glassyWhiteSmoke3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(212, 212, 212, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(212, 212, 212, .50);
    box-shadow: -0.5em -0.5em 1em rgba(212, 212, 212, .50);
}

.shadow_left_glassyWhiteSmoke3a,
.hover_shadow_left_glassyWhiteSmoke3a:hover,
.active_shadow_left_glassyWhiteSmoke3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(191, 191, 191, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(191, 191, 191, .63);
    box-shadow: -0.5em -0.5em 1em rgba(191, 191, 191, .63);
}

.shadow_left_glassyWhiteSmoke3s,
.hover_shadow_left_glassyWhiteSmoke3s:hover,
.active_shadow_left_glassyWhiteSmoke3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(191, 191, 191, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(191, 191, 191, .78);
    box-shadow: -0.5em -0.5em 1em rgba(191, 191, 191, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyWhiteSmoke3,
.hover_shadow_right_glassyWhiteSmoke3:hover,
.active_shadow_right_glassyWhiteSmoke3:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(177, 177, 177, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(177, 177, 177, .39);
    box-shadow: 0.5em 0em 1em rgba(177, 177, 177, .39);
}

.shadow_right_glassyWhiteSmoke3h,
.hover_shadow_right_glassyWhiteSmoke3h:hover,
.active_shadow_right_glassyWhiteSmoke3h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(212, 212, 212, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(212, 212, 212, .50);
    box-shadow: 0.5em 0em 1em rgba(212, 212, 212, .50);
}

.shadow_right_glassyWhiteSmoke3a,
.hover_shadow_right_glassyWhiteSmoke3a:hover,
.active_shadow_right_glassyWhiteSmoke3a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(191, 191, 191, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(191, 191, 191, .63);
    box-shadow: 0.5em 0em 1em rgba(191, 191, 191, .63);
}

.shadow_right_glassyWhiteSmoke3s,
.hover_shadow_right_glassyWhiteSmoke3s:hover,
.active_shadow_right_glassyWhiteSmoke3s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(191, 191, 191, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(191, 191, 191, .78);
    box-shadow: 0.5em 0em 1em rgba(191, 191, 191, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyWhiteSmoke3,
.hover_shadow_top_glassyWhiteSmoke3:hover,
.active_shadow_top_glassyWhiteSmoke3:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(177, 177, 177, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(177, 177, 177, .39);
    box-shadow: 0em -0.5em 1em rgba(177, 177, 177, .39);
}

.shadow_top_glassyWhiteSmoke3h,
.hover_shadow_top_glassyWhiteSmoke3h:hover,
.active_shadow_top_glassyWhiteSmoke3h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(212, 212, 212, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(212, 212, 212, .50);
    box-shadow: 0em -0.5em 1em rgba(212, 212, 212, .50);
}

.shadow_top_glassyWhiteSmoke3a,
.hover_shadow_top_glassyWhiteSmoke3a:hover,
.active_shadow_top_glassyWhiteSmoke3a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(191, 191, 191, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(191, 191, 191, .63);
    box-shadow: 0em -0.5em 1em rgba(191, 191, 191, .63);
}

.shadow_top_glassyWhiteSmoke3s,
.hover_shadow_top_glassyWhiteSmoke3s:hover,
.active_shadow_top_glassyWhiteSmoke3s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(191, 191, 191, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(191, 191, 191, .78);
    box-shadow: 0em -0.5em 1em rgba(191, 191, 191, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyWhiteSmoke3,
.hover_shadow_bottom_glassyWhiteSmoke3:hover,
.active_shadow_bottom_glassyWhiteSmoke3:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(177, 177, 177, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(177, 177, 177, .39);
    box-shadow: 0em 0.5em 1em rgba(177, 177, 177, .39);
}

.shadow_bottom_glassyWhiteSmoke3h,
.hover_shadow_bottom_glassyWhiteSmoke3h:hover,
.active_shadow_bottom_glassyWhiteSmoke3h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(212, 212, 212, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(212, 212, 212, .50);
    box-shadow: 0em 0.5em 1em rgba(212, 212, 212, .50);
}

.shadow_bottom_glassyWhiteSmoke3a,
.hover_shadow_bottom_glassyWhiteSmoke3a:hover,
.active_shadow_bottom_glassyWhiteSmoke3a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(191, 191, 191, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(191, 191, 191, .63);
    box-shadow: 0em 0.5em 1em rgba(191, 191, 191, .63);
}

.shadow_bottom_glassyWhiteSmoke3s,
.hover_shadow_bottom_glassyWhiteSmoke3s:hover,
.active_shadow_bottom_glassyWhiteSmoke3s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(191, 191, 191, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(191, 191, 191, .78);
    box-shadow: 0em 0.5em 1em rgba(191, 191, 191, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyWhiteSmoke3,
.hover_shadow_top_left_glassyWhiteSmoke3:hover,
.active_shadow_top_left_glassyWhiteSmoke3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(177, 177, 177, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(177, 177, 177, .39);
    box-shadow: -0.5em -0.5em 1em rgba(177, 177, 177, .39);
}

.shadow_top_left_glassyWhiteSmoke3h,
.hover_shadow_top_left_glassyWhiteSmoke3h:hover,
.active_shadow_top_left_glassyWhiteSmoke3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(212, 212, 212, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(212, 212, 212, .50);
    box-shadow: -0.5em -0.5em 1em rgba(212, 212, 212, .50);
}

.shadow_top_left_glassyWhiteSmoke3a,
.hover_shadow_top_left_glassyWhiteSmoke3a:hover,
.active_shadow_top_left_glassyWhiteSmoke3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(191, 191, 191, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(191, 191, 191, .63);
    box-shadow: -0.5em -0.5em 1em rgba(191, 191, 191, .63);
}

.shadow_top_left_glassyWhiteSmoke3s,
.hover_shadow_top_left_glassyWhiteSmoke3s:hover,
.active_shadow_top_left_glassyWhiteSmoke3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(191, 191, 191, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(191, 191, 191, .78);
    box-shadow: -0.5em -0.5em 1em rgba(191, 191, 191, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyWhiteSmoke3,
.hover_shadow_top_right_glassyWhiteSmoke3:hover,
.active_shadow_top_right_glassyWhiteSmoke3:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(177, 177, 177, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(177, 177, 177, .39);
    box-shadow: 0.5em -0.5em 1em rgba(177, 177, 177, .39);
}

.shadow_top_right_glassyWhiteSmoke3h,
.hover_shadow_top_right_glassyWhiteSmoke3h:hover,
.active_shadow_top_right_glassyWhiteSmoke3h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(212, 212, 212, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(212, 212, 212, .50);
    box-shadow: 0.5em -0.5em 1em rgba(212, 212, 212, .50);
}

.shadow_top_right_glassyWhiteSmoke3a,
.hover_shadow_top_right_glassyWhiteSmoke3a:hover,
.active_shadow_top_right_glassyWhiteSmoke3a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(191, 191, 191, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(191, 191, 191, .63);
    box-shadow: 0.5em -0.5em 1em rgba(191, 191, 191, .63);
}

.shadow_top_right_glassyWhiteSmoke3s,
.hover_shadow_top_right_glassyWhiteSmoke3s:hover,
.active_shadow_top_right_glassyWhiteSmoke3s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(191, 191, 191, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(191, 191, 191, .78);
    box-shadow: 0.5em -0.5em 1em rgba(191, 191, 191, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyWhiteSmoke3,
.hover_shadow_bottom_left_glassyWhiteSmoke3:hover,
.active_shadow_bottom_left_glassyWhiteSmoke3:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(177, 177, 177, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(177, 177, 177, .39);
    box-shadow: -0.5em 0.5em 1em rgba(177, 177, 177, .39);
}

.shadow_bottom_left_glassyWhiteSmoke3h,
.hover_shadow_bottom_left_glassyWhiteSmoke3h:hover,
.active_shadow_bottom_left_glassyWhiteSmoke3h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(212, 212, 212, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(212, 212, 212, .50);
    box-shadow: -0.5em 0.5em 1em rgba(212, 212, 212, .50);
}

.shadow_bottom_left_glassyWhiteSmoke3a,
.hover_shadow_bottom_left_glassyWhiteSmoke3a:hover,
.active_shadow_bottom_left_glassyWhiteSmoke3a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(191, 191, 191, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(191, 191, 191, .63);
    box-shadow: -0.5em 0.5em 1em rgba(191, 191, 191, .63);
}

.shadow_bottom_left_glassyWhiteSmoke3s,
.hover_shadow_bottom_left_glassyWhiteSmoke3s:hover,
.active_shadow_bottom_left_glassyWhiteSmoke3s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(191, 191, 191, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(191, 191, 191, .78);
    box-shadow: -0.5em 0.5em 1em rgba(191, 191, 191, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyWhiteSmoke3,
.hover_shadow_bottom_right_glassyWhiteSmoke3:hover,
.active_shadow_bottom_right_glassyWhiteSmoke3:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(177, 177, 177, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(177, 177, 177, .39);
    box-shadow: 0.5em 0.5em 1em rgba(177, 177, 177, .39);
}

.shadow_bottom_right_glassyWhiteSmoke3h,
.hover_shadow_bottom_right_glassyWhiteSmoke3h:hover,
.active_shadow_bottom_right_glassyWhiteSmoke3h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(212, 212, 212, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(212, 212, 212, .50);
    box-shadow: 0.5em 0.5em 1em rgba(212, 212, 212, .50);
}

.shadow_bottom_right_glassyWhiteSmoke3a,
 .hover_shadow_bottom_right_glassyWhiteSmoke3a:hover,
 .active_shadow_bottom_right_glassyWhiteSmoke3a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(191, 191, 191, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(191, 191, 191, .63);
     box-shadow: 0.5em 0.5em 1em rgba(191, 191, 191, .63);
 }

 .shadow_bottom_right_glassyWhiteSmoke3s,
 .hover_shadow_bottom_right_glassyWhiteSmoke3s:hover,
 .active_shadow_bottom_right_glassyWhiteSmoke3s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(191, 191, 191, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(191, 191, 191, .78);
     box-shadow: 0.5em 0.5em 1em rgba(191, 191, 191, .78);
 }