.background_glassySandyBrown2,
.hover_background_glassySandyBrown2:hover,
.active_background_glassySandyBrown2:active:hover {
    background: #f4a15b;
    background-image: -moz-linear-gradient(top,  rgb(241, 143, 60) 0%, rgb(239, 125, 28) 50%, rgb(219, 109, 15) 55%, rgb(244, 161, 91) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(241, 143, 60)), color-stop(50%, rgb(239, 125, 28)), color-stop(55%, rgb(219, 109, 15)), color-stop(100%, rgb(244, 161, 91)));
    background-image: -webkit-linear-gradient(top,  rgb(241, 143, 60) 0%, rgb(239, 125, 28) 50%, rgb(219, 109, 15) 55%, rgb(244, 161, 91) 100%);
    background-image: -o-linear-gradient(top,  rgb(241, 143, 60) 0%, rgb(239, 125, 28) 50%, rgb(219, 109, 15) 55%, rgb(244, 161, 91) 100%);
    background-image: -ms-linear-gradient(top, rgb(241, 143, 60) 0%, rgb(239, 125, 28) 50%, rgb(219, 109, 15) 55%, rgb(244, 161, 91) 100%);
    background-image: linear-gradient(to bottom,  rgb(241, 143, 60) 0%, rgb(239, 125, 28) 50%, rgb(219, 109, 15) 55%, rgb(244, 161, 91) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18f3c', endColorstr='#f4a15b',GradientType=0 );
}

.background_glassySandyBrown2h,
.hover_background_glassySandyBrown2h:hover,
.active_background_glassySandyBrown2h:active:hover {
    background: #f4a15b;
    background-image: -moz-linear-gradient(top,  rgb(245, 175, 116) 0%, rgb(243, 154, 78) 50%, rgb(240, 132, 41) 55%, rgb(248, 197, 153) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(245, 175, 116)), color-stop(50%, rgb(243, 154, 78)), color-stop(55%, rgb(240, 132, 41)), color-stop(100%, rgb(248, 197, 153)));
    background-image: -webkit-linear-gradient(top,  rgb(245, 175, 116) 0%, rgb(243, 154, 78) 50%, rgb(240, 132, 41) 55%, rgb(248, 197, 153) 100%);
    background-image: -o-linear-gradient(top,  rgb(245, 175, 116) 0%, rgb(243, 154, 78) 50%, rgb(240, 132, 41) 55%, rgb(248, 197, 153) 100%);
    background-image: -ms-linear-gradient(top, rgb(245, 175, 116) 0%, rgb(243, 154, 78) 50%, rgb(240, 132, 41) 55%, rgb(248, 197, 153) 100%);
    background-image: linear-gradient(to bottom,  rgb(245, 175, 116) 0%, rgb(243, 154, 78) 50%, rgb(240, 132, 41) 55%, rgb(248, 197, 153) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5af74', endColorstr='#f8c599',GradientType=0 );
}

.background_glassySandyBrown2a,
.hover_background_glassySandyBrown2a:hover,
.active_background_glassySandyBrown2a:active:hover {
    background: #f4a15b;
    background-image: -moz-linear-gradient(top,  rgb(248, 197, 153) 0%, rgb(240, 132, 41) 50%, rgb(243, 154, 78) 55%, rgb(245, 175, 116) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(248, 197, 153)), color-stop(50%, rgb(240, 132, 41)), color-stop(55%, rgb(243, 154, 78)), color-stop(100%, rgb(245, 175, 116)));
    background-image: -webkit-linear-gradient(top,  rgb(248, 197, 153) 0%, rgb(240, 132, 41) 50%, rgb(243, 154, 78) 55%, rgb(245, 175, 116) 100%);
    background-image: -o-linear-gradient(top,  rgb(248, 197, 153) 0%, rgb(240, 132, 41) 50%, rgb(243, 154, 78) 55%, rgb(245, 175, 116) 100%);
    background-image: -ms-linear-gradient(top, rgb(248, 197, 153) 0%, rgb(240, 132, 41) 50%, rgb(243, 154, 78) 55%, rgb(245, 175, 116) 100%);
    background-image: linear-gradient(to bottom,  rgb(248, 197, 153) 0%, rgb(240, 132, 41) 50%, rgb(243, 154, 78) 55%, rgb(245, 175, 116) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c599', endColorstr='#f5af74',GradientType=0 );
}

.background_glassySandyBrown2s,
.hover_background_glassySandyBrown2s:hover,
.active_background_glassySandyBrown2s:active:hover {
    background: #f4a15b;
    background-image: -moz-linear-gradient(top,  rgb(251, 224, 200) 0%, rgb(248, 197, 153) 50%, rgb(245, 170, 107) 55%, rgb(254, 251, 247) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(251, 224, 200)), color-stop(50%, rgb(248, 197, 153)), color-stop(55%, rgb(245, 170, 107)), color-stop(100%, rgb(254, 251, 247)));
    background-image: -webkit-linear-gradient(top,  rgb(251, 224, 200) 0%, rgb(248, 197, 153) 50%, rgb(245, 170, 107) 55%, rgb(254, 251, 247) 100%);
    background-image: -o-linear-gradient(top,  rgb(251, 224, 200) 0%, rgb(248, 197, 153) 50%, rgb(245, 170, 107) 55%, rgb(254, 251, 247) 100%);
    background-image: -ms-linear-gradient(top, rgb(251, 224, 200) 0%, rgb(248, 197, 153) 50%, rgb(245, 170, 107) 55%, rgb(254, 251, 247) 100%);
    background-image: linear-gradient(to bottom,  rgb(251, 224, 200) 0%, rgb(248, 197, 153) 50%, rgb(245, 170, 107) 55%, rgb(254, 251, 247) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe0c8', endColorstr='#fefbf7',GradientType=0 );
}

.background_color_glassySandyBrown2,
.hover_background_color_glassySandyBrown2:hover,
.active_background_color_glassySandyBrown2:active:hover {
    background-color:#f4a15b;
}

.background_first_color_glassySandyBrown2,
.hover_background_first_color_glassySandyBrown2:hover,
.active_background_first_color_glassySandyBrown2:active:hover {
    background-color:#f18f3c;
}

.background_last_color_glassySandyBrown2,
.hover_background_last_color_glassySandyBrown2:hover,
.active_background_color_last_glassySandyBrown2:active:hover {
   background-color:#f4a15b;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassySandyBrown2,
.hover_color_glassySandyBrown2:hover,
.active_color_glassySandyBrown2:active:hover {
    color: #282828;
}

.color_glassySandyBrown2h,
.hover_color_glassySandyBrown2h:hover,
.active_color_glassySandyBrown2h:active:hover {
    color: #282828;
}

.color_glassySandyBrown2a,
.hover_color_glassySandyBrown2a:hover,
.active_color_glassySandyBrown2a:active:hover {
    color: #ff0;
}

.color_glassySandyBrown2s,
.hover_color_glassySandyBrown2s:hover,
.active_color_glassySandyBrown2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassySandyBrown2,
.hover_border_glassySandyBrown2:hover,
.active_border_glassySandyBrown2:active:hover {
    border-color: #e17010 #bc5d0d #bc5d0d #e17010;
}

.border_glassySandyBrown2h,
.hover_border_glassySandyBrown2h:hover,
.active_border_glassySandyBrown2h:active:hover {
    border-color: #e17010 #bc5d0d #bc5d0d #e17010;
}

.border_glassySandyBrown2a,
.hover_border_glassySandyBrown2a:hover,
.active_border_glassySandyBrown2a:active:hover {
    border-color: #af570c #af570c #af570c #af570c;
}

.border_glassySandyBrown2s,
.hover_border_glassySandyBrown2s:hover,
.active_border_glassySandyBrown2s:active:hover {
    border-color: #af570c #af570c #af570c #af570c;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassySandyBrown2,
.hover_shadow_expand_glassySandyBrown2:hover,
.active_shadow_expand_glassySandyBrown2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(244, 161, 91, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(244, 161, 91, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(244, 161, 91, .39);
}

.shadow_expand_glassySandyBrown2h,
.hover_shadow_expand_glassySandyBrown2h:hover,
.active_shadow_expand_glassySandyBrown2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(248, 197, 153, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(248, 197, 153, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(248, 197, 153, .50);
}

.shadow_expand_glassySandyBrown2a,
.hover_shadow_expand_glassySandyBrown2a:hover,
.active_shadow_expand_glassySandyBrown2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(245, 175, 116, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(245, 175, 116, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(245, 175, 116, .63);
}

.shadow_expand_glassySandyBrown2s,
.hover_shadow_expand_glassySandyBrown2s:hover,
.active_shadow_expand_glassySandyBrown2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(245, 175, 116, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(245, 175, 116, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(245, 175, 116, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassySandyBrown2,
.hover_shadow_left_glassySandyBrown2:hover,
.active_shadow_left_glassySandyBrown2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(244, 161, 91, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(244, 161, 91, .39);
    box-shadow: -0.5em -0.5em 1em rgba(244, 161, 91, .39);
}

.shadow_left_glassySandyBrown2h,
.hover_shadow_left_glassySandyBrown2h:hover,
.active_shadow_left_glassySandyBrown2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(248, 197, 153, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(248, 197, 153, .50);
    box-shadow: -0.5em -0.5em 1em rgba(248, 197, 153, .50);
}

.shadow_left_glassySandyBrown2a,
.hover_shadow_left_glassySandyBrown2a:hover,
.active_shadow_left_glassySandyBrown2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(245, 175, 116, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(245, 175, 116, .63);
    box-shadow: -0.5em -0.5em 1em rgba(245, 175, 116, .63);
}

.shadow_left_glassySandyBrown2s,
.hover_shadow_left_glassySandyBrown2s:hover,
.active_shadow_left_glassySandyBrown2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(245, 175, 116, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(245, 175, 116, .78);
    box-shadow: -0.5em -0.5em 1em rgba(245, 175, 116, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassySandyBrown2,
.hover_shadow_right_glassySandyBrown2:hover,
.active_shadow_right_glassySandyBrown2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(244, 161, 91, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(244, 161, 91, .39);
    box-shadow: 0.5em 0em 1em rgba(244, 161, 91, .39);
}

.shadow_right_glassySandyBrown2h,
.hover_shadow_right_glassySandyBrown2h:hover,
.active_shadow_right_glassySandyBrown2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(248, 197, 153, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(248, 197, 153, .50);
    box-shadow: 0.5em 0em 1em rgba(248, 197, 153, .50);
}

.shadow_right_glassySandyBrown2a,
.hover_shadow_right_glassySandyBrown2a:hover,
.active_shadow_right_glassySandyBrown2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(245, 175, 116, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(245, 175, 116, .63);
    box-shadow: 0.5em 0em 1em rgba(245, 175, 116, .63);
}

.shadow_right_glassySandyBrown2s,
.hover_shadow_right_glassySandyBrown2s:hover,
.active_shadow_right_glassySandyBrown2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(245, 175, 116, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(245, 175, 116, .78);
    box-shadow: 0.5em 0em 1em rgba(245, 175, 116, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassySandyBrown2,
.hover_shadow_top_glassySandyBrown2:hover,
.active_shadow_top_glassySandyBrown2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(244, 161, 91, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(244, 161, 91, .39);
    box-shadow: 0em -0.5em 1em rgba(244, 161, 91, .39);
}

.shadow_top_glassySandyBrown2h,
.hover_shadow_top_glassySandyBrown2h:hover,
.active_shadow_top_glassySandyBrown2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(248, 197, 153, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(248, 197, 153, .50);
    box-shadow: 0em -0.5em 1em rgba(248, 197, 153, .50);
}

.shadow_top_glassySandyBrown2a,
.hover_shadow_top_glassySandyBrown2a:hover,
.active_shadow_top_glassySandyBrown2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(245, 175, 116, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(245, 175, 116, .63);
    box-shadow: 0em -0.5em 1em rgba(245, 175, 116, .63);
}

.shadow_top_glassySandyBrown2s,
.hover_shadow_top_glassySandyBrown2s:hover,
.active_shadow_top_glassySandyBrown2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(245, 175, 116, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(245, 175, 116, .78);
    box-shadow: 0em -0.5em 1em rgba(245, 175, 116, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassySandyBrown2,
.hover_shadow_bottom_glassySandyBrown2:hover,
.active_shadow_bottom_glassySandyBrown2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(244, 161, 91, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(244, 161, 91, .39);
    box-shadow: 0em 0.5em 1em rgba(244, 161, 91, .39);
}

.shadow_bottom_glassySandyBrown2h,
.hover_shadow_bottom_glassySandyBrown2h:hover,
.active_shadow_bottom_glassySandyBrown2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(248, 197, 153, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(248, 197, 153, .50);
    box-shadow: 0em 0.5em 1em rgba(248, 197, 153, .50);
}

.shadow_bottom_glassySandyBrown2a,
.hover_shadow_bottom_glassySandyBrown2a:hover,
.active_shadow_bottom_glassySandyBrown2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(245, 175, 116, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(245, 175, 116, .63);
    box-shadow: 0em 0.5em 1em rgba(245, 175, 116, .63);
}

.shadow_bottom_glassySandyBrown2s,
.hover_shadow_bottom_glassySandyBrown2s:hover,
.active_shadow_bottom_glassySandyBrown2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(245, 175, 116, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(245, 175, 116, .78);
    box-shadow: 0em 0.5em 1em rgba(245, 175, 116, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassySandyBrown2,
.hover_shadow_top_left_glassySandyBrown2:hover,
.active_shadow_top_left_glassySandyBrown2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(244, 161, 91, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(244, 161, 91, .39);
    box-shadow: -0.5em -0.5em 1em rgba(244, 161, 91, .39);
}

.shadow_top_left_glassySandyBrown2h,
.hover_shadow_top_left_glassySandyBrown2h:hover,
.active_shadow_top_left_glassySandyBrown2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(248, 197, 153, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(248, 197, 153, .50);
    box-shadow: -0.5em -0.5em 1em rgba(248, 197, 153, .50);
}

.shadow_top_left_glassySandyBrown2a,
.hover_shadow_top_left_glassySandyBrown2a:hover,
.active_shadow_top_left_glassySandyBrown2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(245, 175, 116, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(245, 175, 116, .63);
    box-shadow: -0.5em -0.5em 1em rgba(245, 175, 116, .63);
}

.shadow_top_left_glassySandyBrown2s,
.hover_shadow_top_left_glassySandyBrown2s:hover,
.active_shadow_top_left_glassySandyBrown2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(245, 175, 116, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(245, 175, 116, .78);
    box-shadow: -0.5em -0.5em 1em rgba(245, 175, 116, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassySandyBrown2,
.hover_shadow_top_right_glassySandyBrown2:hover,
.active_shadow_top_right_glassySandyBrown2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(244, 161, 91, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(244, 161, 91, .39);
    box-shadow: 0.5em -0.5em 1em rgba(244, 161, 91, .39);
}

.shadow_top_right_glassySandyBrown2h,
.hover_shadow_top_right_glassySandyBrown2h:hover,
.active_shadow_top_right_glassySandyBrown2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(248, 197, 153, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(248, 197, 153, .50);
    box-shadow: 0.5em -0.5em 1em rgba(248, 197, 153, .50);
}

.shadow_top_right_glassySandyBrown2a,
.hover_shadow_top_right_glassySandyBrown2a:hover,
.active_shadow_top_right_glassySandyBrown2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(245, 175, 116, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(245, 175, 116, .63);
    box-shadow: 0.5em -0.5em 1em rgba(245, 175, 116, .63);
}

.shadow_top_right_glassySandyBrown2s,
.hover_shadow_top_right_glassySandyBrown2s:hover,
.active_shadow_top_right_glassySandyBrown2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(245, 175, 116, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(245, 175, 116, .78);
    box-shadow: 0.5em -0.5em 1em rgba(245, 175, 116, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassySandyBrown2,
.hover_shadow_bottom_left_glassySandyBrown2:hover,
.active_shadow_bottom_left_glassySandyBrown2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(244, 161, 91, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(244, 161, 91, .39);
    box-shadow: -0.5em 0.5em 1em rgba(244, 161, 91, .39);
}

.shadow_bottom_left_glassySandyBrown2h,
.hover_shadow_bottom_left_glassySandyBrown2h:hover,
.active_shadow_bottom_left_glassySandyBrown2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(248, 197, 153, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(248, 197, 153, .50);
    box-shadow: -0.5em 0.5em 1em rgba(248, 197, 153, .50);
}

.shadow_bottom_left_glassySandyBrown2a,
.hover_shadow_bottom_left_glassySandyBrown2a:hover,
.active_shadow_bottom_left_glassySandyBrown2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(245, 175, 116, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(245, 175, 116, .63);
    box-shadow: -0.5em 0.5em 1em rgba(245, 175, 116, .63);
}

.shadow_bottom_left_glassySandyBrown2s,
.hover_shadow_bottom_left_glassySandyBrown2s:hover,
.active_shadow_bottom_left_glassySandyBrown2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(245, 175, 116, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(245, 175, 116, .78);
    box-shadow: -0.5em 0.5em 1em rgba(245, 175, 116, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassySandyBrown2,
.hover_shadow_bottom_right_glassySandyBrown2:hover,
.active_shadow_bottom_right_glassySandyBrown2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(244, 161, 91, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(244, 161, 91, .39);
    box-shadow: 0.5em 0.5em 1em rgba(244, 161, 91, .39);
}

.shadow_bottom_right_glassySandyBrown2h,
.hover_shadow_bottom_right_glassySandyBrown2h:hover,
.active_shadow_bottom_right_glassySandyBrown2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(248, 197, 153, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(248, 197, 153, .50);
    box-shadow: 0.5em 0.5em 1em rgba(248, 197, 153, .50);
}

.shadow_bottom_right_glassySandyBrown2a,
 .hover_shadow_bottom_right_glassySandyBrown2a:hover,
 .active_shadow_bottom_right_glassySandyBrown2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(245, 175, 116, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(245, 175, 116, .63);
     box-shadow: 0.5em 0.5em 1em rgba(245, 175, 116, .63);
 }

 .shadow_bottom_right_glassySandyBrown2s,
 .hover_shadow_bottom_right_glassySandyBrown2s:hover,
 .active_shadow_bottom_right_glassySandyBrown2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(245, 175, 116, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(245, 175, 116, .78);
     box-shadow: 0.5em 0.5em 1em rgba(245, 175, 116, .78);
 }