.background_glassyPaleGreen3,
.hover_background_glassyPaleGreen3:hover,
.active_background_glassyPaleGreen3:active:hover {
    background: #2cf72c;
    background-image: -moz-linear-gradient(top,  rgb(16, 246, 16) 0%, rgb(9, 224, 9) 50%, rgb(8, 196, 8) 55%, rgb(44, 247, 44) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(16, 246, 16)), color-stop(50%, rgb(9, 224, 9)), color-stop(55%, rgb(8, 196, 8)), color-stop(100%, rgb(44, 247, 44)));
    background-image: -webkit-linear-gradient(top,  rgb(16, 246, 16) 0%, rgb(9, 224, 9) 50%, rgb(8, 196, 8) 55%, rgb(44, 247, 44) 100%);
    background-image: -o-linear-gradient(top,  rgb(16, 246, 16) 0%, rgb(9, 224, 9) 50%, rgb(8, 196, 8) 55%, rgb(44, 247, 44) 100%);
    background-image: -ms-linear-gradient(top, rgb(16, 246, 16) 0%, rgb(9, 224, 9) 50%, rgb(8, 196, 8) 55%, rgb(44, 247, 44) 100%);
    background-image: linear-gradient(to bottom,  rgb(16, 246, 16) 0%, rgb(9, 224, 9) 50%, rgb(8, 196, 8) 55%, rgb(44, 247, 44) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10f610', endColorstr='#2cf72c',GradientType=0 );
}

.background_glassyPaleGreen3h,
.hover_background_glassyPaleGreen3h:hover,
.active_background_glassyPaleGreen3h:active:hover {
    background: #2cf72c;
    background-image: -moz-linear-gradient(top,  rgb(67, 248, 67) 0%, rgb(33, 246, 33) 50%, rgb(9, 235, 9) 55%, rgb(100, 249, 100) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(67, 248, 67)), color-stop(50%, rgb(33, 246, 33)), color-stop(55%, rgb(9, 235, 9)), color-stop(100%, rgb(100, 249, 100)));
    background-image: -webkit-linear-gradient(top,  rgb(67, 248, 67) 0%, rgb(33, 246, 33) 50%, rgb(9, 235, 9) 55%, rgb(100, 249, 100) 100%);
    background-image: -o-linear-gradient(top,  rgb(67, 248, 67) 0%, rgb(33, 246, 33) 50%, rgb(9, 235, 9) 55%, rgb(100, 249, 100) 100%);
    background-image: -ms-linear-gradient(top, rgb(67, 248, 67) 0%, rgb(33, 246, 33) 50%, rgb(9, 235, 9) 55%, rgb(100, 249, 100) 100%);
    background-image: linear-gradient(to bottom,  rgb(67, 248, 67) 0%, rgb(33, 246, 33) 50%, rgb(9, 235, 9) 55%, rgb(100, 249, 100) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43f843', endColorstr='#64f964',GradientType=0 );
}

.background_glassyPaleGreen3a,
.hover_background_glassyPaleGreen3a:hover,
.active_background_glassyPaleGreen3a:active:hover {
    background: #2cf72c;
    background-image: -moz-linear-gradient(top,  rgb(100, 249, 100) 0%, rgb(9, 235, 9) 50%, rgb(33, 246, 33) 55%, rgb(67, 248, 67) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(100, 249, 100)), color-stop(50%, rgb(9, 235, 9)), color-stop(55%, rgb(33, 246, 33)), color-stop(100%, rgb(67, 248, 67)));
    background-image: -webkit-linear-gradient(top,  rgb(100, 249, 100) 0%, rgb(9, 235, 9) 50%, rgb(33, 246, 33) 55%, rgb(67, 248, 67) 100%);
    background-image: -o-linear-gradient(top,  rgb(100, 249, 100) 0%, rgb(9, 235, 9) 50%, rgb(33, 246, 33) 55%, rgb(67, 248, 67) 100%);
    background-image: -ms-linear-gradient(top, rgb(100, 249, 100) 0%, rgb(9, 235, 9) 50%, rgb(33, 246, 33) 55%, rgb(67, 248, 67) 100%);
    background-image: linear-gradient(to bottom,  rgb(100, 249, 100) 0%, rgb(9, 235, 9) 50%, rgb(33, 246, 33) 55%, rgb(67, 248, 67) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64f964', endColorstr='#43f843',GradientType=0 );
}

.background_glassyPaleGreen3s,
.hover_background_glassyPaleGreen3s:hover,
.active_background_glassyPaleGreen3s:active:hover {
    background: #2cf72c;
    background-image: -moz-linear-gradient(top,  rgb(142, 251, 142) 0%, rgb(100, 249, 100) 50%, rgb(58, 247, 58) 55%, rgb(184, 252, 184) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(142, 251, 142)), color-stop(50%, rgb(100, 249, 100)), color-stop(55%, rgb(58, 247, 58)), color-stop(100%, rgb(184, 252, 184)));
    background-image: -webkit-linear-gradient(top,  rgb(142, 251, 142) 0%, rgb(100, 249, 100) 50%, rgb(58, 247, 58) 55%, rgb(184, 252, 184) 100%);
    background-image: -o-linear-gradient(top,  rgb(142, 251, 142) 0%, rgb(100, 249, 100) 50%, rgb(58, 247, 58) 55%, rgb(184, 252, 184) 100%);
    background-image: -ms-linear-gradient(top, rgb(142, 251, 142) 0%, rgb(100, 249, 100) 50%, rgb(58, 247, 58) 55%, rgb(184, 252, 184) 100%);
    background-image: linear-gradient(to bottom,  rgb(142, 251, 142) 0%, rgb(100, 249, 100) 50%, rgb(58, 247, 58) 55%, rgb(184, 252, 184) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8efb8e', endColorstr='#b8fcb8',GradientType=0 );
}

.background_color_glassyPaleGreen3,
.hover_background_color_glassyPaleGreen3:hover,
.active_background_color_glassyPaleGreen3:active:hover {
    background-color:#2cf72c;
}

.background_first_color_glassyPaleGreen3,
.hover_background_first_color_glassyPaleGreen3:hover,
.active_background_first_color_glassyPaleGreen3:active:hover {
    background-color:#10f610;
}

.background_last_color_glassyPaleGreen3,
.hover_background_last_color_glassyPaleGreen3:hover,
.active_background_color_last_glassyPaleGreen3:active:hover {
   background-color:#2cf72c;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyPaleGreen3,
.hover_color_glassyPaleGreen3:hover,
.active_color_glassyPaleGreen3:active:hover {
    color: #282828;
}

.color_glassyPaleGreen3h,
.hover_color_glassyPaleGreen3h:hover,
.active_color_glassyPaleGreen3h:active:hover {
    color: #282828;
}

.color_glassyPaleGreen3a,
.hover_color_glassyPaleGreen3a:hover,
.active_color_glassyPaleGreen3a:active:hover {
    color: #ff0;
}

.color_glassyPaleGreen3s,
.hover_color_glassyPaleGreen3s:hover,
.active_color_glassyPaleGreen3s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyPaleGreen3,
.hover_border_glassyPaleGreen3:hover,
.active_border_glassyPaleGreen3:active:hover {
    border-color: #08ca08 #07a807 #07a807 #08ca08;
}

.border_glassyPaleGreen3h,
.hover_border_glassyPaleGreen3h:hover,
.active_border_glassyPaleGreen3h:active:hover {
    border-color: #08ca08 #07a807 #07a807 #08ca08;
}

.border_glassyPaleGreen3a,
.hover_border_glassyPaleGreen3a:hover,
.active_border_glassyPaleGreen3a:active:hover {
    border-color: #069d06 #069d06 #069d06 #069d06;
}

.border_glassyPaleGreen3s,
.hover_border_glassyPaleGreen3s:hover,
.active_border_glassyPaleGreen3s:active:hover {
    border-color: #069d06 #069d06 #069d06 #069d06;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyPaleGreen3,
.hover_shadow_expand_glassyPaleGreen3:hover,
.active_shadow_expand_glassyPaleGreen3:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(44, 247, 44, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(44, 247, 44, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(44, 247, 44, .39);
}

.shadow_expand_glassyPaleGreen3h,
.hover_shadow_expand_glassyPaleGreen3h:hover,
.active_shadow_expand_glassyPaleGreen3h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(100, 249, 100, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(100, 249, 100, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(100, 249, 100, .50);
}

.shadow_expand_glassyPaleGreen3a,
.hover_shadow_expand_glassyPaleGreen3a:hover,
.active_shadow_expand_glassyPaleGreen3a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(67, 248, 67, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(67, 248, 67, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(67, 248, 67, .63);
}

.shadow_expand_glassyPaleGreen3s,
.hover_shadow_expand_glassyPaleGreen3s:hover,
.active_shadow_expand_glassyPaleGreen3s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(67, 248, 67, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(67, 248, 67, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(67, 248, 67, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyPaleGreen3,
.hover_shadow_left_glassyPaleGreen3:hover,
.active_shadow_left_glassyPaleGreen3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(44, 247, 44, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(44, 247, 44, .39);
    box-shadow: -0.5em -0.5em 1em rgba(44, 247, 44, .39);
}

.shadow_left_glassyPaleGreen3h,
.hover_shadow_left_glassyPaleGreen3h:hover,
.active_shadow_left_glassyPaleGreen3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(100, 249, 100, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(100, 249, 100, .50);
    box-shadow: -0.5em -0.5em 1em rgba(100, 249, 100, .50);
}

.shadow_left_glassyPaleGreen3a,
.hover_shadow_left_glassyPaleGreen3a:hover,
.active_shadow_left_glassyPaleGreen3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(67, 248, 67, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(67, 248, 67, .63);
    box-shadow: -0.5em -0.5em 1em rgba(67, 248, 67, .63);
}

.shadow_left_glassyPaleGreen3s,
.hover_shadow_left_glassyPaleGreen3s:hover,
.active_shadow_left_glassyPaleGreen3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(67, 248, 67, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(67, 248, 67, .78);
    box-shadow: -0.5em -0.5em 1em rgba(67, 248, 67, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyPaleGreen3,
.hover_shadow_right_glassyPaleGreen3:hover,
.active_shadow_right_glassyPaleGreen3:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(44, 247, 44, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(44, 247, 44, .39);
    box-shadow: 0.5em 0em 1em rgba(44, 247, 44, .39);
}

.shadow_right_glassyPaleGreen3h,
.hover_shadow_right_glassyPaleGreen3h:hover,
.active_shadow_right_glassyPaleGreen3h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(100, 249, 100, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(100, 249, 100, .50);
    box-shadow: 0.5em 0em 1em rgba(100, 249, 100, .50);
}

.shadow_right_glassyPaleGreen3a,
.hover_shadow_right_glassyPaleGreen3a:hover,
.active_shadow_right_glassyPaleGreen3a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(67, 248, 67, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(67, 248, 67, .63);
    box-shadow: 0.5em 0em 1em rgba(67, 248, 67, .63);
}

.shadow_right_glassyPaleGreen3s,
.hover_shadow_right_glassyPaleGreen3s:hover,
.active_shadow_right_glassyPaleGreen3s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(67, 248, 67, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(67, 248, 67, .78);
    box-shadow: 0.5em 0em 1em rgba(67, 248, 67, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyPaleGreen3,
.hover_shadow_top_glassyPaleGreen3:hover,
.active_shadow_top_glassyPaleGreen3:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(44, 247, 44, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(44, 247, 44, .39);
    box-shadow: 0em -0.5em 1em rgba(44, 247, 44, .39);
}

.shadow_top_glassyPaleGreen3h,
.hover_shadow_top_glassyPaleGreen3h:hover,
.active_shadow_top_glassyPaleGreen3h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(100, 249, 100, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(100, 249, 100, .50);
    box-shadow: 0em -0.5em 1em rgba(100, 249, 100, .50);
}

.shadow_top_glassyPaleGreen3a,
.hover_shadow_top_glassyPaleGreen3a:hover,
.active_shadow_top_glassyPaleGreen3a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(67, 248, 67, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(67, 248, 67, .63);
    box-shadow: 0em -0.5em 1em rgba(67, 248, 67, .63);
}

.shadow_top_glassyPaleGreen3s,
.hover_shadow_top_glassyPaleGreen3s:hover,
.active_shadow_top_glassyPaleGreen3s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(67, 248, 67, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(67, 248, 67, .78);
    box-shadow: 0em -0.5em 1em rgba(67, 248, 67, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyPaleGreen3,
.hover_shadow_bottom_glassyPaleGreen3:hover,
.active_shadow_bottom_glassyPaleGreen3:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(44, 247, 44, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(44, 247, 44, .39);
    box-shadow: 0em 0.5em 1em rgba(44, 247, 44, .39);
}

.shadow_bottom_glassyPaleGreen3h,
.hover_shadow_bottom_glassyPaleGreen3h:hover,
.active_shadow_bottom_glassyPaleGreen3h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(100, 249, 100, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(100, 249, 100, .50);
    box-shadow: 0em 0.5em 1em rgba(100, 249, 100, .50);
}

.shadow_bottom_glassyPaleGreen3a,
.hover_shadow_bottom_glassyPaleGreen3a:hover,
.active_shadow_bottom_glassyPaleGreen3a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(67, 248, 67, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(67, 248, 67, .63);
    box-shadow: 0em 0.5em 1em rgba(67, 248, 67, .63);
}

.shadow_bottom_glassyPaleGreen3s,
.hover_shadow_bottom_glassyPaleGreen3s:hover,
.active_shadow_bottom_glassyPaleGreen3s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(67, 248, 67, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(67, 248, 67, .78);
    box-shadow: 0em 0.5em 1em rgba(67, 248, 67, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyPaleGreen3,
.hover_shadow_top_left_glassyPaleGreen3:hover,
.active_shadow_top_left_glassyPaleGreen3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(44, 247, 44, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(44, 247, 44, .39);
    box-shadow: -0.5em -0.5em 1em rgba(44, 247, 44, .39);
}

.shadow_top_left_glassyPaleGreen3h,
.hover_shadow_top_left_glassyPaleGreen3h:hover,
.active_shadow_top_left_glassyPaleGreen3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(100, 249, 100, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(100, 249, 100, .50);
    box-shadow: -0.5em -0.5em 1em rgba(100, 249, 100, .50);
}

.shadow_top_left_glassyPaleGreen3a,
.hover_shadow_top_left_glassyPaleGreen3a:hover,
.active_shadow_top_left_glassyPaleGreen3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(67, 248, 67, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(67, 248, 67, .63);
    box-shadow: -0.5em -0.5em 1em rgba(67, 248, 67, .63);
}

.shadow_top_left_glassyPaleGreen3s,
.hover_shadow_top_left_glassyPaleGreen3s:hover,
.active_shadow_top_left_glassyPaleGreen3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(67, 248, 67, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(67, 248, 67, .78);
    box-shadow: -0.5em -0.5em 1em rgba(67, 248, 67, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyPaleGreen3,
.hover_shadow_top_right_glassyPaleGreen3:hover,
.active_shadow_top_right_glassyPaleGreen3:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(44, 247, 44, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(44, 247, 44, .39);
    box-shadow: 0.5em -0.5em 1em rgba(44, 247, 44, .39);
}

.shadow_top_right_glassyPaleGreen3h,
.hover_shadow_top_right_glassyPaleGreen3h:hover,
.active_shadow_top_right_glassyPaleGreen3h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(100, 249, 100, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(100, 249, 100, .50);
    box-shadow: 0.5em -0.5em 1em rgba(100, 249, 100, .50);
}

.shadow_top_right_glassyPaleGreen3a,
.hover_shadow_top_right_glassyPaleGreen3a:hover,
.active_shadow_top_right_glassyPaleGreen3a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(67, 248, 67, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(67, 248, 67, .63);
    box-shadow: 0.5em -0.5em 1em rgba(67, 248, 67, .63);
}

.shadow_top_right_glassyPaleGreen3s,
.hover_shadow_top_right_glassyPaleGreen3s:hover,
.active_shadow_top_right_glassyPaleGreen3s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(67, 248, 67, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(67, 248, 67, .78);
    box-shadow: 0.5em -0.5em 1em rgba(67, 248, 67, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyPaleGreen3,
.hover_shadow_bottom_left_glassyPaleGreen3:hover,
.active_shadow_bottom_left_glassyPaleGreen3:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(44, 247, 44, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(44, 247, 44, .39);
    box-shadow: -0.5em 0.5em 1em rgba(44, 247, 44, .39);
}

.shadow_bottom_left_glassyPaleGreen3h,
.hover_shadow_bottom_left_glassyPaleGreen3h:hover,
.active_shadow_bottom_left_glassyPaleGreen3h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(100, 249, 100, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(100, 249, 100, .50);
    box-shadow: -0.5em 0.5em 1em rgba(100, 249, 100, .50);
}

.shadow_bottom_left_glassyPaleGreen3a,
.hover_shadow_bottom_left_glassyPaleGreen3a:hover,
.active_shadow_bottom_left_glassyPaleGreen3a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(67, 248, 67, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(67, 248, 67, .63);
    box-shadow: -0.5em 0.5em 1em rgba(67, 248, 67, .63);
}

.shadow_bottom_left_glassyPaleGreen3s,
.hover_shadow_bottom_left_glassyPaleGreen3s:hover,
.active_shadow_bottom_left_glassyPaleGreen3s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(67, 248, 67, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(67, 248, 67, .78);
    box-shadow: -0.5em 0.5em 1em rgba(67, 248, 67, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyPaleGreen3,
.hover_shadow_bottom_right_glassyPaleGreen3:hover,
.active_shadow_bottom_right_glassyPaleGreen3:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(44, 247, 44, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(44, 247, 44, .39);
    box-shadow: 0.5em 0.5em 1em rgba(44, 247, 44, .39);
}

.shadow_bottom_right_glassyPaleGreen3h,
.hover_shadow_bottom_right_glassyPaleGreen3h:hover,
.active_shadow_bottom_right_glassyPaleGreen3h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(100, 249, 100, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(100, 249, 100, .50);
    box-shadow: 0.5em 0.5em 1em rgba(100, 249, 100, .50);
}

.shadow_bottom_right_glassyPaleGreen3a,
 .hover_shadow_bottom_right_glassyPaleGreen3a:hover,
 .active_shadow_bottom_right_glassyPaleGreen3a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(67, 248, 67, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(67, 248, 67, .63);
     box-shadow: 0.5em 0.5em 1em rgba(67, 248, 67, .63);
 }

 .shadow_bottom_right_glassyPaleGreen3s,
 .hover_shadow_bottom_right_glassyPaleGreen3s:hover,
 .active_shadow_bottom_right_glassyPaleGreen3s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(67, 248, 67, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(67, 248, 67, .78);
     box-shadow: 0.5em 0.5em 1em rgba(67, 248, 67, .78);
 }