.background_glassyTomato3,
.hover_background_glassyTomato3:hover,
.active_background_glassyTomato3:active:hover {
    background: #ff5a3d;
    background-image: -moz-linear-gradient(top,  rgb(255, 63, 29) 0%, rgb(253, 38, 0) 50%, rgb(221, 34, 0) 55%, rgb(255, 90, 61) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 63, 29)), color-stop(50%, rgb(253, 38, 0)), color-stop(55%, rgb(221, 34, 0)), color-stop(100%, rgb(255, 90, 61)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 63, 29) 0%, rgb(253, 38, 0) 50%, rgb(221, 34, 0) 55%, rgb(255, 90, 61) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 63, 29) 0%, rgb(253, 38, 0) 50%, rgb(221, 34, 0) 55%, rgb(255, 90, 61) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 63, 29) 0%, rgb(253, 38, 0) 50%, rgb(221, 34, 0) 55%, rgb(255, 90, 61) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 63, 29) 0%, rgb(253, 38, 0) 50%, rgb(221, 34, 0) 55%, rgb(255, 90, 61) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3f1d', endColorstr='#ff5a3d',GradientType=0 );
}

.background_glassyTomato3h,
.hover_background_glassyTomato3h:hover,
.active_background_glassyTomato3h:active:hover {
    background: #ff5a3d;
    background-image: -moz-linear-gradient(top,  rgb(255, 112, 86) 0%, rgb(255, 80, 48) 50%, rgb(255, 47, 10) 55%, rgb(255, 144, 124) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 112, 86)), color-stop(50%, rgb(255, 80, 48)), color-stop(55%, rgb(255, 47, 10)), color-stop(100%, rgb(255, 144, 124)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 112, 86) 0%, rgb(255, 80, 48) 50%, rgb(255, 47, 10) 55%, rgb(255, 144, 124) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 112, 86) 0%, rgb(255, 80, 48) 50%, rgb(255, 47, 10) 55%, rgb(255, 144, 124) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 112, 86) 0%, rgb(255, 80, 48) 50%, rgb(255, 47, 10) 55%, rgb(255, 144, 124) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 112, 86) 0%, rgb(255, 80, 48) 50%, rgb(255, 47, 10) 55%, rgb(255, 144, 124) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7056', endColorstr='#ff907c',GradientType=0 );
}

.background_glassyTomato3a,
.hover_background_glassyTomato3a:hover,
.active_background_glassyTomato3a:active:hover {
    background: #ff5a3d;
    background-image: -moz-linear-gradient(top,  rgb(255, 144, 124) 0%, rgb(255, 47, 10) 50%, rgb(255, 80, 48) 55%, rgb(255, 112, 86) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 144, 124)), color-stop(50%, rgb(255, 47, 10)), color-stop(55%, rgb(255, 80, 48)), color-stop(100%, rgb(255, 112, 86)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 144, 124) 0%, rgb(255, 47, 10) 50%, rgb(255, 80, 48) 55%, rgb(255, 112, 86) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 144, 124) 0%, rgb(255, 47, 10) 50%, rgb(255, 80, 48) 55%, rgb(255, 112, 86) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 144, 124) 0%, rgb(255, 47, 10) 50%, rgb(255, 80, 48) 55%, rgb(255, 112, 86) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 144, 124) 0%, rgb(255, 47, 10) 50%, rgb(255, 80, 48) 55%, rgb(255, 112, 86) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff907c', endColorstr='#ff7056',GradientType=0 );
}

.background_glassyTomato3s,
.hover_background_glassyTomato3s:hover,
.active_background_glassyTomato3s:active:hover {
    background: #ff5a3d;
    background-image: -moz-linear-gradient(top,  rgb(255, 184, 171) 0%, rgb(255, 144, 124) 50%, rgb(255, 104, 76) 55%, rgb(255, 224, 218) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 184, 171)), color-stop(50%, rgb(255, 144, 124)), color-stop(55%, rgb(255, 104, 76)), color-stop(100%, rgb(255, 224, 218)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 184, 171) 0%, rgb(255, 144, 124) 50%, rgb(255, 104, 76) 55%, rgb(255, 224, 218) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 184, 171) 0%, rgb(255, 144, 124) 50%, rgb(255, 104, 76) 55%, rgb(255, 224, 218) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 184, 171) 0%, rgb(255, 144, 124) 50%, rgb(255, 104, 76) 55%, rgb(255, 224, 218) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 184, 171) 0%, rgb(255, 144, 124) 50%, rgb(255, 104, 76) 55%, rgb(255, 224, 218) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb8ab', endColorstr='#ffe0da',GradientType=0 );
}

.background_color_glassyTomato3,
.hover_background_color_glassyTomato3:hover,
.active_background_color_glassyTomato3:active:hover {
    background-color:#ff5a3d;
}

.background_first_color_glassyTomato3,
.hover_background_first_color_glassyTomato3:hover,
.active_background_first_color_glassyTomato3:active:hover {
    background-color:#ff3f1d;
}

.background_last_color_glassyTomato3,
.hover_background_last_color_glassyTomato3:hover,
.active_background_color_last_glassyTomato3:active:hover {
   background-color:#ff5a3d;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyTomato3,
.hover_color_glassyTomato3:hover,
.active_color_glassyTomato3:active:hover {
    color: #c8c8c8;
}

.color_glassyTomato3h,
.hover_color_glassyTomato3h:hover,
.active_color_glassyTomato3h:active:hover {
    color: #c8c8c8;
}

.color_glassyTomato3a,
.hover_color_glassyTomato3a:hover,
.active_color_glassyTomato3a:active:hover {
    color: #ff0;
}

.color_glassyTomato3s,
.hover_color_glassyTomato3s:hover,
.active_color_glassyTomato3s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyTomato3,
.hover_border_glassyTomato3:hover,
.active_border_glassyTomato3:active:hover {
    border-color: #e32300 #bd1d00 #bd1d00 #e32300;
}

.border_glassyTomato3h,
.hover_border_glassyTomato3h:hover,
.active_border_glassyTomato3h:active:hover {
    border-color: #e32300 #bd1d00 #bd1d00 #e32300;
}

.border_glassyTomato3a,
.hover_border_glassyTomato3a:hover,
.active_border_glassyTomato3a:active:hover {
    border-color: #b11b00 #b11b00 #b11b00 #b11b00;
}

.border_glassyTomato3s,
.hover_border_glassyTomato3s:hover,
.active_border_glassyTomato3s:active:hover {
    border-color: #b11b00 #b11b00 #b11b00 #b11b00;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyTomato3,
.hover_shadow_expand_glassyTomato3:hover,
.active_shadow_expand_glassyTomato3:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 90, 61, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 90, 61, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 90, 61, .39);
}

.shadow_expand_glassyTomato3h,
.hover_shadow_expand_glassyTomato3h:hover,
.active_shadow_expand_glassyTomato3h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 144, 124, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 144, 124, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 144, 124, .50);
}

.shadow_expand_glassyTomato3a,
.hover_shadow_expand_glassyTomato3a:hover,
.active_shadow_expand_glassyTomato3a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 112, 86, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 112, 86, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 112, 86, .63);
}

.shadow_expand_glassyTomato3s,
.hover_shadow_expand_glassyTomato3s:hover,
.active_shadow_expand_glassyTomato3s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 112, 86, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 112, 86, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 112, 86, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyTomato3,
.hover_shadow_left_glassyTomato3:hover,
.active_shadow_left_glassyTomato3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 90, 61, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 90, 61, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 90, 61, .39);
}

.shadow_left_glassyTomato3h,
.hover_shadow_left_glassyTomato3h:hover,
.active_shadow_left_glassyTomato3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 144, 124, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 144, 124, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 144, 124, .50);
}

.shadow_left_glassyTomato3a,
.hover_shadow_left_glassyTomato3a:hover,
.active_shadow_left_glassyTomato3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 112, 86, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 112, 86, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 112, 86, .63);
}

.shadow_left_glassyTomato3s,
.hover_shadow_left_glassyTomato3s:hover,
.active_shadow_left_glassyTomato3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 112, 86, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 112, 86, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 112, 86, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyTomato3,
.hover_shadow_right_glassyTomato3:hover,
.active_shadow_right_glassyTomato3:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 90, 61, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 90, 61, .39);
    box-shadow: 0.5em 0em 1em rgba(255, 90, 61, .39);
}

.shadow_right_glassyTomato3h,
.hover_shadow_right_glassyTomato3h:hover,
.active_shadow_right_glassyTomato3h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 144, 124, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 144, 124, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 144, 124, .50);
}

.shadow_right_glassyTomato3a,
.hover_shadow_right_glassyTomato3a:hover,
.active_shadow_right_glassyTomato3a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 112, 86, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 112, 86, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 112, 86, .63);
}

.shadow_right_glassyTomato3s,
.hover_shadow_right_glassyTomato3s:hover,
.active_shadow_right_glassyTomato3s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 112, 86, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 112, 86, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 112, 86, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyTomato3,
.hover_shadow_top_glassyTomato3:hover,
.active_shadow_top_glassyTomato3:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 90, 61, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 90, 61, .39);
    box-shadow: 0em -0.5em 1em rgba(255, 90, 61, .39);
}

.shadow_top_glassyTomato3h,
.hover_shadow_top_glassyTomato3h:hover,
.active_shadow_top_glassyTomato3h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 144, 124, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 144, 124, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 144, 124, .50);
}

.shadow_top_glassyTomato3a,
.hover_shadow_top_glassyTomato3a:hover,
.active_shadow_top_glassyTomato3a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 112, 86, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 112, 86, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 112, 86, .63);
}

.shadow_top_glassyTomato3s,
.hover_shadow_top_glassyTomato3s:hover,
.active_shadow_top_glassyTomato3s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 112, 86, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 112, 86, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 112, 86, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyTomato3,
.hover_shadow_bottom_glassyTomato3:hover,
.active_shadow_bottom_glassyTomato3:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 90, 61, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 90, 61, .39);
    box-shadow: 0em 0.5em 1em rgba(255, 90, 61, .39);
}

.shadow_bottom_glassyTomato3h,
.hover_shadow_bottom_glassyTomato3h:hover,
.active_shadow_bottom_glassyTomato3h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 144, 124, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 144, 124, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 144, 124, .50);
}

.shadow_bottom_glassyTomato3a,
.hover_shadow_bottom_glassyTomato3a:hover,
.active_shadow_bottom_glassyTomato3a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 112, 86, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 112, 86, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 112, 86, .63);
}

.shadow_bottom_glassyTomato3s,
.hover_shadow_bottom_glassyTomato3s:hover,
.active_shadow_bottom_glassyTomato3s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 112, 86, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 112, 86, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 112, 86, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyTomato3,
.hover_shadow_top_left_glassyTomato3:hover,
.active_shadow_top_left_glassyTomato3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 90, 61, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 90, 61, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 90, 61, .39);
}

.shadow_top_left_glassyTomato3h,
.hover_shadow_top_left_glassyTomato3h:hover,
.active_shadow_top_left_glassyTomato3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 144, 124, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 144, 124, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 144, 124, .50);
}

.shadow_top_left_glassyTomato3a,
.hover_shadow_top_left_glassyTomato3a:hover,
.active_shadow_top_left_glassyTomato3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 112, 86, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 112, 86, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 112, 86, .63);
}

.shadow_top_left_glassyTomato3s,
.hover_shadow_top_left_glassyTomato3s:hover,
.active_shadow_top_left_glassyTomato3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 112, 86, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 112, 86, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 112, 86, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyTomato3,
.hover_shadow_top_right_glassyTomato3:hover,
.active_shadow_top_right_glassyTomato3:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 90, 61, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 90, 61, .39);
    box-shadow: 0.5em -0.5em 1em rgba(255, 90, 61, .39);
}

.shadow_top_right_glassyTomato3h,
.hover_shadow_top_right_glassyTomato3h:hover,
.active_shadow_top_right_glassyTomato3h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 144, 124, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 144, 124, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 144, 124, .50);
}

.shadow_top_right_glassyTomato3a,
.hover_shadow_top_right_glassyTomato3a:hover,
.active_shadow_top_right_glassyTomato3a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 112, 86, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 112, 86, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 112, 86, .63);
}

.shadow_top_right_glassyTomato3s,
.hover_shadow_top_right_glassyTomato3s:hover,
.active_shadow_top_right_glassyTomato3s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 112, 86, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 112, 86, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 112, 86, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyTomato3,
.hover_shadow_bottom_left_glassyTomato3:hover,
.active_shadow_bottom_left_glassyTomato3:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 90, 61, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 90, 61, .39);
    box-shadow: -0.5em 0.5em 1em rgba(255, 90, 61, .39);
}

.shadow_bottom_left_glassyTomato3h,
.hover_shadow_bottom_left_glassyTomato3h:hover,
.active_shadow_bottom_left_glassyTomato3h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 144, 124, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 144, 124, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 144, 124, .50);
}

.shadow_bottom_left_glassyTomato3a,
.hover_shadow_bottom_left_glassyTomato3a:hover,
.active_shadow_bottom_left_glassyTomato3a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 112, 86, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 112, 86, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 112, 86, .63);
}

.shadow_bottom_left_glassyTomato3s,
.hover_shadow_bottom_left_glassyTomato3s:hover,
.active_shadow_bottom_left_glassyTomato3s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 112, 86, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 112, 86, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 112, 86, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyTomato3,
.hover_shadow_bottom_right_glassyTomato3:hover,
.active_shadow_bottom_right_glassyTomato3:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 90, 61, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 90, 61, .39);
    box-shadow: 0.5em 0.5em 1em rgba(255, 90, 61, .39);
}

.shadow_bottom_right_glassyTomato3h,
.hover_shadow_bottom_right_glassyTomato3h:hover,
.active_shadow_bottom_right_glassyTomato3h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 144, 124, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 144, 124, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 144, 124, .50);
}

.shadow_bottom_right_glassyTomato3a,
 .hover_shadow_bottom_right_glassyTomato3a:hover,
 .active_shadow_bottom_right_glassyTomato3a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 112, 86, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 112, 86, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 112, 86, .63);
 }

 .shadow_bottom_right_glassyTomato3s,
 .hover_shadow_bottom_right_glassyTomato3s:hover,
 .active_shadow_bottom_right_glassyTomato3s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 112, 86, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 112, 86, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 112, 86, .78);
 }