.background_aquamarine5,
.hover_background_aquamarine5:hover,
.active_background_aquamarine5:active:hover {
    background: #00a06a;
    background-image: -moz-linear-gradient(top,  rgb(0, 199, 132) 0%, rgb(0, 160, 106) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 199, 132)), color-stop(100%, rgb(0, 160, 106)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 199, 132) 0%, rgb(0, 160, 106) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 199, 132) 0%, rgb(0, 160, 106) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 199, 132) 0%, rgb(0, 160, 106) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 199, 132) 0%, rgb(0, 160, 106) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c784', endColorstr='#00a06a',GradientType=0 );
}

.background_aquamarine5h,
.hover_background_aquamarine5h:hover,
.active_background_aquamarine5h:active:hover {
    background: #00a06a;
    background-image: -moz-linear-gradient(top,  rgb(0, 239, 159) 0%, rgb(0, 191, 127) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 239, 159)), color-stop(100%, rgb(0, 191, 127)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 239, 159) 0%, rgb(0, 191, 127) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 239, 159) 0%, rgb(0, 191, 127) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 239, 159) 0%, rgb(0, 191, 127) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 239, 159) 0%, rgb(0, 191, 127) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ef9f', endColorstr='#00bf7f',GradientType=0 );
}

.background_aquamarine5a,
.hover_background_aquamarine5a:hover,
.active_background_aquamarine5a:active:hover {
    background: #00a06a;
    background-image: -moz-linear-gradient(top,  rgb(0, 191, 127) 0%, rgb(0, 239, 159) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 191, 127)), color-stop(100%, rgb(0, 239, 159)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 191, 127) 0%, rgb(0, 239, 159) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 191, 127) 0%, rgb(0, 239, 159) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 191, 127) 0%, rgb(0, 239, 159) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 191, 127) 0%, rgb(0, 239, 159) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bf7f', endColorstr='#00ef9f',GradientType=0 );
}

.background_aquamarine5s,
.hover_background_aquamarine5s:hover,
.active_background_aquamarine5s:active:hover {
    background: #00a06a;
    background-image: -moz-linear-gradient(top,  rgb(44, 255, 184) 0%, rgb(0, 239, 159) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(44, 255, 184)), color-stop(100%, rgb(0, 239, 159)));
    background-image: -webkit-linear-gradient(top,  rgb(44, 255, 184) 0%, rgb(0, 239, 159) 100%);
    background-image: -o-linear-gradient(top,  rgb(44, 255, 184) 0%, rgb(0, 239, 159) 100%);
    background-image: -ms-linear-gradient(top, rgb(44, 255, 184) 0%, rgb(0, 239, 159) 100%);
    background-image: linear-gradient(to bottom,  rgb(44, 255, 184) 0%, rgb(0, 239, 159) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cffb8', endColorstr='#00ef9f',GradientType=0 );
}

.background_color_aquamarine5,
.hover_background_color_aquamarine5:hover,
.active_background_color_aquamarine5:active:hover {
    background-color:#00a06a;
}

.background_first_color_aquamarine5,
.hover_background_first_color_aquamarine5:hover,
.active_background_first_color_aquamarine5:active:hover {
    background-color:#00c784;
}

.background_last_color_aquamarine5,
.hover_background_last_color_aquamarine5:hover,
.active_background_color_last_aquamarine5:active:hover {
   background-color:#00a06a;
}

/* ------------------------------ color settings -------------------------------*/
.color_aquamarine5,
.hover_color_aquamarine5:hover,
.active_color_aquamarine5:active:hover {
    color: #c8c8c8;
}

.color_aquamarine5h,
.hover_color_aquamarine5h:hover,
.active_color_aquamarine5h:active:hover {
    color: #c8c8c8;
}

.color_aquamarine5a,
.hover_color_aquamarine5a:hover,
.active_color_aquamarine5a:active:hover {
    color: #ff0;
}

.color_aquamarine5s,
.hover_color_aquamarine5s:hover,
.active_color_aquamarine5s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_aquamarine5,
.hover_border_aquamarine5:hover,
.active_border_aquamarine5:active:hover {
    border-color: #00a06a #00a06a #00a06a #00a06a;
}

.border_aquamarine5h,
.hover_border_aquamarine5h:hover,
.active_border_aquamarine5h:active:hover {
    border-color: #00905f #00905f #00905f #00905f;
}

.border_aquamarine5a,
.hover_border_aquamarine5a:hover,
.active_border_aquamarine5a:active:hover {
    border-color: #008055 #008055 #008055 #008055;
}

.border_aquamarine5s,
.hover_border_aquamarine5s:hover,
.active_border_aquamarine5s:active:hover {
    border-color: #00ef9f #00ef9f #00ef9f #00ef9f;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_aquamarine5,
.hover_shadow_expand_aquamarine5:hover,
.active_shadow_expand_aquamarine5:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 160, 106, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 160, 106, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 160, 106, .39);
}

.shadow_expand_aquamarine5h,
.hover_shadow_expand_aquamarine5h:hover,
.active_shadow_expand_aquamarine5h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 191, 127, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 191, 127, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 191, 127, .50);
}

.shadow_expand_aquamarine5a,
.hover_shadow_expand_aquamarine5a:hover,
.active_shadow_expand_aquamarine5a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 239, 159, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 239, 159, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 239, 159, .63);
}

.shadow_expand_aquamarine5s,
.hover_shadow_expand_aquamarine5s:hover,
.active_shadow_expand_aquamarine5s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 239, 159, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 239, 159, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 239, 159, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_aquamarine5,
.hover_shadow_left_aquamarine5:hover,
.active_shadow_left_aquamarine5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 160, 106, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 160, 106, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 160, 106, .39);
}

.shadow_left_aquamarine5h,
.hover_shadow_left_aquamarine5h:hover,
.active_shadow_left_aquamarine5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 191, 127, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 191, 127, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 191, 127, .50);
}

.shadow_left_aquamarine5a,
.hover_shadow_left_aquamarine5a:hover,
.active_shadow_left_aquamarine5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 239, 159, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 239, 159, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 239, 159, .63);
}

.shadow_left_aquamarine5s,
.hover_shadow_left_aquamarine5s:hover,
.active_shadow_left_aquamarine5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 239, 159, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 239, 159, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 239, 159, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_aquamarine5,
.hover_shadow_right_aquamarine5:hover,
.active_shadow_right_aquamarine5:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 160, 106, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 160, 106, .39);
    box-shadow: 0.5em 0em 1em rgba(0, 160, 106, .39);
}

.shadow_right_aquamarine5h,
.hover_shadow_right_aquamarine5h:hover,
.active_shadow_right_aquamarine5h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 191, 127, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 191, 127, .50);
    box-shadow: 0.5em 0em 1em rgba(0, 191, 127, .50);
}

.shadow_right_aquamarine5a,
.hover_shadow_right_aquamarine5a:hover,
.active_shadow_right_aquamarine5a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 239, 159, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 239, 159, .63);
    box-shadow: 0.5em 0em 1em rgba(0, 239, 159, .63);
}

.shadow_right_aquamarine5s,
.hover_shadow_right_aquamarine5s:hover,
.active_shadow_right_aquamarine5s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 239, 159, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 239, 159, .78);
    box-shadow: 0.5em 0em 1em rgba(0, 239, 159, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_aquamarine5,
.hover_shadow_top_aquamarine5:hover,
.active_shadow_top_aquamarine5:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 160, 106, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 160, 106, .39);
    box-shadow: 0em -0.5em 1em rgba(0, 160, 106, .39);
}

.shadow_top_aquamarine5h,
.hover_shadow_top_aquamarine5h:hover,
.active_shadow_top_aquamarine5h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 191, 127, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 191, 127, .50);
    box-shadow: 0em -0.5em 1em rgba(0, 191, 127, .50);
}

.shadow_top_aquamarine5a,
.hover_shadow_top_aquamarine5a:hover,
.active_shadow_top_aquamarine5a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 239, 159, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 239, 159, .63);
    box-shadow: 0em -0.5em 1em rgba(0, 239, 159, .63);
}

.shadow_top_aquamarine5s,
.hover_shadow_top_aquamarine5s:hover,
.active_shadow_top_aquamarine5s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 239, 159, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 239, 159, .78);
    box-shadow: 0em -0.5em 1em rgba(0, 239, 159, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_aquamarine5,
.hover_shadow_bottom_aquamarine5:hover,
.active_shadow_bottom_aquamarine5:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 160, 106, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 160, 106, .39);
    box-shadow: 0em 0.5em 1em rgba(0, 160, 106, .39);
}

.shadow_bottom_aquamarine5h,
.hover_shadow_bottom_aquamarine5h:hover,
.active_shadow_bottom_aquamarine5h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 191, 127, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 191, 127, .50);
    box-shadow: 0em 0.5em 1em rgba(0, 191, 127, .50);
}

.shadow_bottom_aquamarine5a,
.hover_shadow_bottom_aquamarine5a:hover,
.active_shadow_bottom_aquamarine5a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 239, 159, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 239, 159, .63);
    box-shadow: 0em 0.5em 1em rgba(0, 239, 159, .63);
}

.shadow_bottom_aquamarine5s,
.hover_shadow_bottom_aquamarine5s:hover,
.active_shadow_bottom_aquamarine5s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 239, 159, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 239, 159, .78);
    box-shadow: 0em 0.5em 1em rgba(0, 239, 159, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_aquamarine5,
.hover_shadow_top_left_aquamarine5:hover,
.active_shadow_top_left_aquamarine5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 160, 106, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 160, 106, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 160, 106, .39);
}

.shadow_top_left_aquamarine5h,
.hover_shadow_top_left_aquamarine5h:hover,
.active_shadow_top_left_aquamarine5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 191, 127, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 191, 127, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 191, 127, .50);
}

.shadow_top_left_aquamarine5a,
.hover_shadow_top_left_aquamarine5a:hover,
.active_shadow_top_left_aquamarine5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 239, 159, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 239, 159, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 239, 159, .63);
}

.shadow_top_left_aquamarine5s,
.hover_shadow_top_left_aquamarine5s:hover,
.active_shadow_top_left_aquamarine5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 239, 159, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 239, 159, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 239, 159, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_aquamarine5,
.hover_shadow_top_right_aquamarine5:hover,
.active_shadow_top_right_aquamarine5:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 160, 106, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 160, 106, .39);
    box-shadow: 0.5em -0.5em 1em rgba(0, 160, 106, .39);
}

.shadow_top_right_aquamarine5h,
.hover_shadow_top_right_aquamarine5h:hover,
.active_shadow_top_right_aquamarine5h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 191, 127, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 191, 127, .50);
    box-shadow: 0.5em -0.5em 1em rgba(0, 191, 127, .50);
}

.shadow_top_right_aquamarine5a,
.hover_shadow_top_right_aquamarine5a:hover,
.active_shadow_top_right_aquamarine5a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 239, 159, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 239, 159, .63);
    box-shadow: 0.5em -0.5em 1em rgba(0, 239, 159, .63);
}

.shadow_top_right_aquamarine5s,
.hover_shadow_top_right_aquamarine5s:hover,
.active_shadow_top_right_aquamarine5s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 239, 159, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 239, 159, .78);
    box-shadow: 0.5em -0.5em 1em rgba(0, 239, 159, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_aquamarine5,
.hover_shadow_bottom_left_aquamarine5:hover,
.active_shadow_bottom_left_aquamarine5:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 160, 106, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 160, 106, .39);
    box-shadow: -0.5em 0.5em 1em rgba(0, 160, 106, .39);
}

.shadow_bottom_left_aquamarine5h,
.hover_shadow_bottom_left_aquamarine5h:hover,
.active_shadow_bottom_left_aquamarine5h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 191, 127, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 191, 127, .50);
    box-shadow: -0.5em 0.5em 1em rgba(0, 191, 127, .50);
}

.shadow_bottom_left_aquamarine5a,
.hover_shadow_bottom_left_aquamarine5a:hover,
.active_shadow_bottom_left_aquamarine5a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 239, 159, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 239, 159, .63);
    box-shadow: -0.5em 0.5em 1em rgba(0, 239, 159, .63);
}

.shadow_bottom_left_aquamarine5s,
.hover_shadow_bottom_left_aquamarine5s:hover,
.active_shadow_bottom_left_aquamarine5s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 239, 159, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 239, 159, .78);
    box-shadow: -0.5em 0.5em 1em rgba(0, 239, 159, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_aquamarine5,
.hover_shadow_bottom_right_aquamarine5:hover,
.active_shadow_bottom_right_aquamarine5:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 160, 106, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 160, 106, .39);
    box-shadow: 0.5em 0.5em 1em rgba(0, 160, 106, .39);
}

.shadow_bottom_right_aquamarine5h,
.hover_shadow_bottom_right_aquamarine5h:hover,
.active_shadow_bottom_right_aquamarine5h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 191, 127, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 191, 127, .50);
    box-shadow: 0.5em 0.5em 1em rgba(0, 191, 127, .50);
}

.shadow_bottom_right_aquamarine5a,
 .hover_shadow_bottom_right_aquamarine5a:hover,
 .active_shadow_bottom_right_aquamarine5a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 239, 159, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 239, 159, .63);
     box-shadow: 0.5em 0.5em 1em rgba(0, 239, 159, .63);
 }

 .shadow_bottom_right_aquamarine5s,
 .hover_shadow_bottom_right_aquamarine5s:hover,
 .active_shadow_bottom_right_aquamarine5s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 239, 159, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 239, 159, .78);
     box-shadow: 0.5em 0.5em 1em rgba(0, 239, 159, .78);
 }