.background_aquamarine6,
.hover_background_aquamarine6:hover,
.active_background_aquamarine6:active:hover {
    background: #00885a;
    background-image: -moz-linear-gradient(top,  rgb(0, 169, 113) 0%, rgb(0, 136, 90) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 169, 113)), color-stop(100%, rgb(0, 136, 90)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 169, 113) 0%, rgb(0, 136, 90) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 169, 113) 0%, rgb(0, 136, 90) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 169, 113) 0%, rgb(0, 136, 90) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 169, 113) 0%, rgb(0, 136, 90) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a971', endColorstr='#00885a',GradientType=0 );
}

.background_aquamarine6h,
.hover_background_aquamarine6h:hover,
.active_background_aquamarine6h:active:hover {
    background: #00885a;
    background-image: -moz-linear-gradient(top,  rgb(0, 203, 135) 0%, rgb(0, 163, 108) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 203, 135)), color-stop(100%, rgb(0, 163, 108)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 203, 135) 0%, rgb(0, 163, 108) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 203, 135) 0%, rgb(0, 163, 108) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 203, 135) 0%, rgb(0, 163, 108) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 203, 135) 0%, rgb(0, 163, 108) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cb87', endColorstr='#00a36c',GradientType=0 );
}

.background_aquamarine6a,
.hover_background_aquamarine6a:hover,
.active_background_aquamarine6a:active:hover {
    background: #00885a;
    background-image: -moz-linear-gradient(top,  rgb(0, 163, 108) 0%, rgb(0, 203, 135) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 163, 108)), color-stop(100%, rgb(0, 203, 135)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 163, 108) 0%, rgb(0, 203, 135) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 163, 108) 0%, rgb(0, 203, 135) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 163, 108) 0%, rgb(0, 203, 135) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 163, 108) 0%, rgb(0, 203, 135) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a36c', endColorstr='#00cb87',GradientType=0 );
}

.background_aquamarine6s,
.hover_background_aquamarine6s:hover,
.active_background_aquamarine6s:active:hover {
    background: #00885a;
    background-image: -moz-linear-gradient(top,  rgb(0, 254, 169) 0%, rgb(0, 203, 135) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 254, 169)), color-stop(100%, rgb(0, 203, 135)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 254, 169) 0%, rgb(0, 203, 135) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 254, 169) 0%, rgb(0, 203, 135) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 254, 169) 0%, rgb(0, 203, 135) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 254, 169) 0%, rgb(0, 203, 135) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fea9', endColorstr='#00cb87',GradientType=0 );
}

.background_color_aquamarine6,
.hover_background_color_aquamarine6:hover,
.active_background_color_aquamarine6:active:hover {
    background-color:#00885a;
}

.background_first_color_aquamarine6,
.hover_background_first_color_aquamarine6:hover,
.active_background_first_color_aquamarine6:active:hover {
    background-color:#00a971;
}

.background_last_color_aquamarine6,
.hover_background_last_color_aquamarine6:hover,
.active_background_color_last_aquamarine6:active:hover {
   background-color:#00885a;
}

/* ------------------------------ color settings -------------------------------*/
.color_aquamarine6,
.hover_color_aquamarine6:hover,
.active_color_aquamarine6:active:hover {
    color: #c8c8c8;
}

.color_aquamarine6h,
.hover_color_aquamarine6h:hover,
.active_color_aquamarine6h:active:hover {
    color: #c8c8c8;
}

.color_aquamarine6a,
.hover_color_aquamarine6a:hover,
.active_color_aquamarine6a:active:hover {
    color: #ff0;
}

.color_aquamarine6s,
.hover_color_aquamarine6s:hover,
.active_color_aquamarine6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_aquamarine6,
.hover_border_aquamarine6:hover,
.active_border_aquamarine6:active:hover {
    border-color: #00885a #00885a #00885a #00885a;
}

.border_aquamarine6h,
.hover_border_aquamarine6h:hover,
.active_border_aquamarine6h:active:hover {
    border-color: #007a51 #007a51 #007a51 #007a51;
}

.border_aquamarine6a,
.hover_border_aquamarine6a:hover,
.active_border_aquamarine6a:active:hover {
    border-color: #006c48 #006c48 #006c48 #006c48;
}

.border_aquamarine6s,
.hover_border_aquamarine6s:hover,
.active_border_aquamarine6s:active:hover {
    border-color: #00cb87 #00cb87 #00cb87 #00cb87;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_aquamarine6,
.hover_shadow_expand_aquamarine6:hover,
.active_shadow_expand_aquamarine6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 136, 90, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 136, 90, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 136, 90, .39);
}

.shadow_expand_aquamarine6h,
.hover_shadow_expand_aquamarine6h:hover,
.active_shadow_expand_aquamarine6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 163, 108, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 163, 108, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 163, 108, .50);
}

.shadow_expand_aquamarine6a,
.hover_shadow_expand_aquamarine6a:hover,
.active_shadow_expand_aquamarine6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 203, 135, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 203, 135, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 203, 135, .63);
}

.shadow_expand_aquamarine6s,
.hover_shadow_expand_aquamarine6s:hover,
.active_shadow_expand_aquamarine6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 203, 135, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 203, 135, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 203, 135, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_aquamarine6,
.hover_shadow_left_aquamarine6:hover,
.active_shadow_left_aquamarine6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 136, 90, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 136, 90, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 136, 90, .39);
}

.shadow_left_aquamarine6h,
.hover_shadow_left_aquamarine6h:hover,
.active_shadow_left_aquamarine6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 163, 108, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 163, 108, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 163, 108, .50);
}

.shadow_left_aquamarine6a,
.hover_shadow_left_aquamarine6a:hover,
.active_shadow_left_aquamarine6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 203, 135, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 203, 135, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 203, 135, .63);
}

.shadow_left_aquamarine6s,
.hover_shadow_left_aquamarine6s:hover,
.active_shadow_left_aquamarine6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 203, 135, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 203, 135, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 203, 135, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_aquamarine6,
.hover_shadow_right_aquamarine6:hover,
.active_shadow_right_aquamarine6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 136, 90, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 136, 90, .39);
    box-shadow: 0.5em 0em 1em rgba(0, 136, 90, .39);
}

.shadow_right_aquamarine6h,
.hover_shadow_right_aquamarine6h:hover,
.active_shadow_right_aquamarine6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 163, 108, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 163, 108, .50);
    box-shadow: 0.5em 0em 1em rgba(0, 163, 108, .50);
}

.shadow_right_aquamarine6a,
.hover_shadow_right_aquamarine6a:hover,
.active_shadow_right_aquamarine6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 203, 135, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 203, 135, .63);
    box-shadow: 0.5em 0em 1em rgba(0, 203, 135, .63);
}

.shadow_right_aquamarine6s,
.hover_shadow_right_aquamarine6s:hover,
.active_shadow_right_aquamarine6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 203, 135, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 203, 135, .78);
    box-shadow: 0.5em 0em 1em rgba(0, 203, 135, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_aquamarine6,
.hover_shadow_top_aquamarine6:hover,
.active_shadow_top_aquamarine6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 136, 90, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 136, 90, .39);
    box-shadow: 0em -0.5em 1em rgba(0, 136, 90, .39);
}

.shadow_top_aquamarine6h,
.hover_shadow_top_aquamarine6h:hover,
.active_shadow_top_aquamarine6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 163, 108, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 163, 108, .50);
    box-shadow: 0em -0.5em 1em rgba(0, 163, 108, .50);
}

.shadow_top_aquamarine6a,
.hover_shadow_top_aquamarine6a:hover,
.active_shadow_top_aquamarine6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 203, 135, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 203, 135, .63);
    box-shadow: 0em -0.5em 1em rgba(0, 203, 135, .63);
}

.shadow_top_aquamarine6s,
.hover_shadow_top_aquamarine6s:hover,
.active_shadow_top_aquamarine6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 203, 135, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 203, 135, .78);
    box-shadow: 0em -0.5em 1em rgba(0, 203, 135, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_aquamarine6,
.hover_shadow_bottom_aquamarine6:hover,
.active_shadow_bottom_aquamarine6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 136, 90, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 136, 90, .39);
    box-shadow: 0em 0.5em 1em rgba(0, 136, 90, .39);
}

.shadow_bottom_aquamarine6h,
.hover_shadow_bottom_aquamarine6h:hover,
.active_shadow_bottom_aquamarine6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 163, 108, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 163, 108, .50);
    box-shadow: 0em 0.5em 1em rgba(0, 163, 108, .50);
}

.shadow_bottom_aquamarine6a,
.hover_shadow_bottom_aquamarine6a:hover,
.active_shadow_bottom_aquamarine6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 203, 135, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 203, 135, .63);
    box-shadow: 0em 0.5em 1em rgba(0, 203, 135, .63);
}

.shadow_bottom_aquamarine6s,
.hover_shadow_bottom_aquamarine6s:hover,
.active_shadow_bottom_aquamarine6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 203, 135, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 203, 135, .78);
    box-shadow: 0em 0.5em 1em rgba(0, 203, 135, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_aquamarine6,
.hover_shadow_top_left_aquamarine6:hover,
.active_shadow_top_left_aquamarine6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 136, 90, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 136, 90, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 136, 90, .39);
}

.shadow_top_left_aquamarine6h,
.hover_shadow_top_left_aquamarine6h:hover,
.active_shadow_top_left_aquamarine6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 163, 108, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 163, 108, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 163, 108, .50);
}

.shadow_top_left_aquamarine6a,
.hover_shadow_top_left_aquamarine6a:hover,
.active_shadow_top_left_aquamarine6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 203, 135, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 203, 135, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 203, 135, .63);
}

.shadow_top_left_aquamarine6s,
.hover_shadow_top_left_aquamarine6s:hover,
.active_shadow_top_left_aquamarine6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 203, 135, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 203, 135, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 203, 135, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_aquamarine6,
.hover_shadow_top_right_aquamarine6:hover,
.active_shadow_top_right_aquamarine6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 136, 90, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 136, 90, .39);
    box-shadow: 0.5em -0.5em 1em rgba(0, 136, 90, .39);
}

.shadow_top_right_aquamarine6h,
.hover_shadow_top_right_aquamarine6h:hover,
.active_shadow_top_right_aquamarine6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 163, 108, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 163, 108, .50);
    box-shadow: 0.5em -0.5em 1em rgba(0, 163, 108, .50);
}

.shadow_top_right_aquamarine6a,
.hover_shadow_top_right_aquamarine6a:hover,
.active_shadow_top_right_aquamarine6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 203, 135, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 203, 135, .63);
    box-shadow: 0.5em -0.5em 1em rgba(0, 203, 135, .63);
}

.shadow_top_right_aquamarine6s,
.hover_shadow_top_right_aquamarine6s:hover,
.active_shadow_top_right_aquamarine6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 203, 135, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 203, 135, .78);
    box-shadow: 0.5em -0.5em 1em rgba(0, 203, 135, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_aquamarine6,
.hover_shadow_bottom_left_aquamarine6:hover,
.active_shadow_bottom_left_aquamarine6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 136, 90, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 136, 90, .39);
    box-shadow: -0.5em 0.5em 1em rgba(0, 136, 90, .39);
}

.shadow_bottom_left_aquamarine6h,
.hover_shadow_bottom_left_aquamarine6h:hover,
.active_shadow_bottom_left_aquamarine6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 163, 108, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 163, 108, .50);
    box-shadow: -0.5em 0.5em 1em rgba(0, 163, 108, .50);
}

.shadow_bottom_left_aquamarine6a,
.hover_shadow_bottom_left_aquamarine6a:hover,
.active_shadow_bottom_left_aquamarine6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 203, 135, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 203, 135, .63);
    box-shadow: -0.5em 0.5em 1em rgba(0, 203, 135, .63);
}

.shadow_bottom_left_aquamarine6s,
.hover_shadow_bottom_left_aquamarine6s:hover,
.active_shadow_bottom_left_aquamarine6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 203, 135, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 203, 135, .78);
    box-shadow: -0.5em 0.5em 1em rgba(0, 203, 135, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_aquamarine6,
.hover_shadow_bottom_right_aquamarine6:hover,
.active_shadow_bottom_right_aquamarine6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 136, 90, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 136, 90, .39);
    box-shadow: 0.5em 0.5em 1em rgba(0, 136, 90, .39);
}

.shadow_bottom_right_aquamarine6h,
.hover_shadow_bottom_right_aquamarine6h:hover,
.active_shadow_bottom_right_aquamarine6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 163, 108, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 163, 108, .50);
    box-shadow: 0.5em 0.5em 1em rgba(0, 163, 108, .50);
}

.shadow_bottom_right_aquamarine6a,
 .hover_shadow_bottom_right_aquamarine6a:hover,
 .active_shadow_bottom_right_aquamarine6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 203, 135, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 203, 135, .63);
     box-shadow: 0.5em 0.5em 1em rgba(0, 203, 135, .63);
 }

 .shadow_bottom_right_aquamarine6s,
 .hover_shadow_bottom_right_aquamarine6s:hover,
 .active_shadow_bottom_right_aquamarine6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 203, 135, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 203, 135, .78);
     box-shadow: 0.5em 0.5em 1em rgba(0, 203, 135, .78);
 }