.background_antiqueWhite1,
.hover_background_antiqueWhite1:hover,
.active_background_antiqueWhite1:active:hover {
    background: #f0c284;
    background-image: -moz-linear-gradient(top,  rgb(250, 235, 215) 0%, rgb(240, 194, 132) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(250, 235, 215)), color-stop(100%, rgb(240, 194, 132)));
    background-image: -webkit-linear-gradient(top,  rgb(250, 235, 215) 0%, rgb(240, 194, 132) 100%);
    background-image: -o-linear-gradient(top,  rgb(250, 235, 215) 0%, rgb(240, 194, 132) 100%);
    background-image: -ms-linear-gradient(top, rgb(250, 235, 215) 0%, rgb(240, 194, 132) 100%);
    background-image: linear-gradient(to bottom,  rgb(250, 235, 215) 0%, rgb(240, 194, 132) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faebd7', endColorstr='#f0c284',GradientType=0 );
}

.background_antiqueWhite1h,
.hover_background_antiqueWhite1h:hover,
.active_background_antiqueWhite1h:active:hover {
    background: #f0c284;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(248, 227, 198) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(248, 227, 198)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(248, 227, 198) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(248, 227, 198) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(248, 227, 198) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(248, 227, 198) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8e3c6',GradientType=0 );
}

.background_antiqueWhite1a,
.hover_background_antiqueWhite1a:hover,
.active_background_antiqueWhite1a:active:hover {
    background: #f0c284;
    background-image: -moz-linear-gradient(top,  rgb(248, 227, 198) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(248, 227, 198)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(248, 227, 198) 0%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(248, 227, 198) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(248, 227, 198) 0%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(248, 227, 198) 0%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8e3c6', endColorstr='#ffffff',GradientType=0 );
}

.background_antiqueWhite1s,
.hover_background_antiqueWhite1s:hover,
.active_background_antiqueWhite1s:active:hover {
    background: #f0c284;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_color_antiqueWhite1,
.hover_background_color_antiqueWhite1:hover,
.active_background_color_antiqueWhite1:active:hover {
    background-color:#f0c284;
}

.background_first_color_antiqueWhite1,
.hover_background_first_color_antiqueWhite1:hover,
.active_background_first_color_antiqueWhite1:active:hover {
    background-color:#faebd7;
}

.background_last_color_antiqueWhite1,
.hover_background_last_color_antiqueWhite1:hover,
.active_background_color_last_antiqueWhite1:active:hover {
   background-color:#f0c284;
}

/* ------------------------------ color settings -------------------------------*/
.color_antiqueWhite1,
.hover_color_antiqueWhite1:hover,
.active_color_antiqueWhite1:active:hover {
    color: #282828;
}

.color_antiqueWhite1h,
.hover_color_antiqueWhite1h:hover,
.active_color_antiqueWhite1h:active:hover {
    color: #282828;
}

.color_antiqueWhite1a,
.hover_color_antiqueWhite1a:hover,
.active_color_antiqueWhite1a:active:hover {
    color: #ff0;
}

.color_antiqueWhite1s,
.hover_color_antiqueWhite1s:hover,
.active_color_antiqueWhite1s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_antiqueWhite1,
.hover_border_antiqueWhite1:hover,
.active_border_antiqueWhite1:active:hover {
    border-color: #f0c284 #f0c284 #f0c284 #f0c284;
}

.border_antiqueWhite1h,
.hover_border_antiqueWhite1h:hover,
.active_border_antiqueWhite1h:active:hover {
    border-color: #ecb163 #ecb163 #ecb163 #ecb163;
}

.border_antiqueWhite1a,
.hover_border_antiqueWhite1a:hover,
.active_border_antiqueWhite1a:active:hover {
    border-color: #e7a142 #e7a142 #e7a142 #e7a142;
}

.border_antiqueWhite1s,
.hover_border_antiqueWhite1s:hover,
.active_border_antiqueWhite1s:active:hover {
    border-color: #ffffff #ffffff #ffffff #ffffff;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_antiqueWhite1,
.hover_shadow_expand_antiqueWhite1:hover,
.active_shadow_expand_antiqueWhite1:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(240, 194, 132, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(240, 194, 132, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(240, 194, 132, .39);
}

.shadow_expand_antiqueWhite1h,
.hover_shadow_expand_antiqueWhite1h:hover,
.active_shadow_expand_antiqueWhite1h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(248, 227, 198, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(248, 227, 198, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(248, 227, 198, .50);
}

.shadow_expand_antiqueWhite1a,
.hover_shadow_expand_antiqueWhite1a:hover,
.active_shadow_expand_antiqueWhite1a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .63);
}

.shadow_expand_antiqueWhite1s,
.hover_shadow_expand_antiqueWhite1s:hover,
.active_shadow_expand_antiqueWhite1s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_antiqueWhite1,
.hover_shadow_left_antiqueWhite1:hover,
.active_shadow_left_antiqueWhite1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(240, 194, 132, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(240, 194, 132, .39);
    box-shadow: -0.5em -0.5em 1em rgba(240, 194, 132, .39);
}

.shadow_left_antiqueWhite1h,
.hover_shadow_left_antiqueWhite1h:hover,
.active_shadow_left_antiqueWhite1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(248, 227, 198, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(248, 227, 198, .50);
    box-shadow: -0.5em -0.5em 1em rgba(248, 227, 198, .50);
}

.shadow_left_antiqueWhite1a,
.hover_shadow_left_antiqueWhite1a:hover,
.active_shadow_left_antiqueWhite1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_left_antiqueWhite1s,
.hover_shadow_left_antiqueWhite1s:hover,
.active_shadow_left_antiqueWhite1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_antiqueWhite1,
.hover_shadow_right_antiqueWhite1:hover,
.active_shadow_right_antiqueWhite1:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(240, 194, 132, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(240, 194, 132, .39);
    box-shadow: 0.5em 0em 1em rgba(240, 194, 132, .39);
}

.shadow_right_antiqueWhite1h,
.hover_shadow_right_antiqueWhite1h:hover,
.active_shadow_right_antiqueWhite1h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(248, 227, 198, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(248, 227, 198, .50);
    box-shadow: 0.5em 0em 1em rgba(248, 227, 198, .50);
}

.shadow_right_antiqueWhite1a,
.hover_shadow_right_antiqueWhite1a:hover,
.active_shadow_right_antiqueWhite1a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .63);
}

.shadow_right_antiqueWhite1s,
.hover_shadow_right_antiqueWhite1s:hover,
.active_shadow_right_antiqueWhite1s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_antiqueWhite1,
.hover_shadow_top_antiqueWhite1:hover,
.active_shadow_top_antiqueWhite1:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(240, 194, 132, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(240, 194, 132, .39);
    box-shadow: 0em -0.5em 1em rgba(240, 194, 132, .39);
}

.shadow_top_antiqueWhite1h,
.hover_shadow_top_antiqueWhite1h:hover,
.active_shadow_top_antiqueWhite1h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(248, 227, 198, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(248, 227, 198, .50);
    box-shadow: 0em -0.5em 1em rgba(248, 227, 198, .50);
}

.shadow_top_antiqueWhite1a,
.hover_shadow_top_antiqueWhite1a:hover,
.active_shadow_top_antiqueWhite1a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_top_antiqueWhite1s,
.hover_shadow_top_antiqueWhite1s:hover,
.active_shadow_top_antiqueWhite1s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_antiqueWhite1,
.hover_shadow_bottom_antiqueWhite1:hover,
.active_shadow_bottom_antiqueWhite1:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(240, 194, 132, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(240, 194, 132, .39);
    box-shadow: 0em 0.5em 1em rgba(240, 194, 132, .39);
}

.shadow_bottom_antiqueWhite1h,
.hover_shadow_bottom_antiqueWhite1h:hover,
.active_shadow_bottom_antiqueWhite1h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(248, 227, 198, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(248, 227, 198, .50);
    box-shadow: 0em 0.5em 1em rgba(248, 227, 198, .50);
}

.shadow_bottom_antiqueWhite1a,
.hover_shadow_bottom_antiqueWhite1a:hover,
.active_shadow_bottom_antiqueWhite1a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_bottom_antiqueWhite1s,
.hover_shadow_bottom_antiqueWhite1s:hover,
.active_shadow_bottom_antiqueWhite1s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_antiqueWhite1,
.hover_shadow_top_left_antiqueWhite1:hover,
.active_shadow_top_left_antiqueWhite1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(240, 194, 132, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(240, 194, 132, .39);
    box-shadow: -0.5em -0.5em 1em rgba(240, 194, 132, .39);
}

.shadow_top_left_antiqueWhite1h,
.hover_shadow_top_left_antiqueWhite1h:hover,
.active_shadow_top_left_antiqueWhite1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(248, 227, 198, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(248, 227, 198, .50);
    box-shadow: -0.5em -0.5em 1em rgba(248, 227, 198, .50);
}

.shadow_top_left_antiqueWhite1a,
.hover_shadow_top_left_antiqueWhite1a:hover,
.active_shadow_top_left_antiqueWhite1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_top_left_antiqueWhite1s,
.hover_shadow_top_left_antiqueWhite1s:hover,
.active_shadow_top_left_antiqueWhite1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_antiqueWhite1,
.hover_shadow_top_right_antiqueWhite1:hover,
.active_shadow_top_right_antiqueWhite1:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(240, 194, 132, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(240, 194, 132, .39);
    box-shadow: 0.5em -0.5em 1em rgba(240, 194, 132, .39);
}

.shadow_top_right_antiqueWhite1h,
.hover_shadow_top_right_antiqueWhite1h:hover,
.active_shadow_top_right_antiqueWhite1h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(248, 227, 198, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(248, 227, 198, .50);
    box-shadow: 0.5em -0.5em 1em rgba(248, 227, 198, .50);
}

.shadow_top_right_antiqueWhite1a,
.hover_shadow_top_right_antiqueWhite1a:hover,
.active_shadow_top_right_antiqueWhite1a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_top_right_antiqueWhite1s,
.hover_shadow_top_right_antiqueWhite1s:hover,
.active_shadow_top_right_antiqueWhite1s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_antiqueWhite1,
.hover_shadow_bottom_left_antiqueWhite1:hover,
.active_shadow_bottom_left_antiqueWhite1:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(240, 194, 132, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(240, 194, 132, .39);
    box-shadow: -0.5em 0.5em 1em rgba(240, 194, 132, .39);
}

.shadow_bottom_left_antiqueWhite1h,
.hover_shadow_bottom_left_antiqueWhite1h:hover,
.active_shadow_bottom_left_antiqueWhite1h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(248, 227, 198, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(248, 227, 198, .50);
    box-shadow: -0.5em 0.5em 1em rgba(248, 227, 198, .50);
}

.shadow_bottom_left_antiqueWhite1a,
.hover_shadow_bottom_left_antiqueWhite1a:hover,
.active_shadow_bottom_left_antiqueWhite1a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_bottom_left_antiqueWhite1s,
.hover_shadow_bottom_left_antiqueWhite1s:hover,
.active_shadow_bottom_left_antiqueWhite1s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_antiqueWhite1,
.hover_shadow_bottom_right_antiqueWhite1:hover,
.active_shadow_bottom_right_antiqueWhite1:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(240, 194, 132, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(240, 194, 132, .39);
    box-shadow: 0.5em 0.5em 1em rgba(240, 194, 132, .39);
}

.shadow_bottom_right_antiqueWhite1h,
.hover_shadow_bottom_right_antiqueWhite1h:hover,
.active_shadow_bottom_right_antiqueWhite1h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(248, 227, 198, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(248, 227, 198, .50);
    box-shadow: 0.5em 0.5em 1em rgba(248, 227, 198, .50);
}

.shadow_bottom_right_antiqueWhite1a,
 .hover_shadow_bottom_right_antiqueWhite1a:hover,
 .active_shadow_bottom_right_antiqueWhite1a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .63);
 }

 .shadow_bottom_right_antiqueWhite1s,
 .hover_shadow_bottom_right_antiqueWhite1s:hover,
 .active_shadow_bottom_right_antiqueWhite1s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .78);
 }