.background_glassyMidnightBlue6,
.hover_background_glassyMidnightBlue6:hover,
.active_background_glassyMidnightBlue6:active:hover {
    background: #2424a0;
    background-image: -moz-linear-gradient(top,  rgb(32, 32, 144) 0%, rgb(29, 29, 128) 50%, rgb(25, 25, 112) 55%, rgb(36, 36, 160) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(32, 32, 144)), color-stop(50%, rgb(29, 29, 128)), color-stop(55%, rgb(25, 25, 112)), color-stop(100%, rgb(36, 36, 160)));
    background-image: -webkit-linear-gradient(top,  rgb(32, 32, 144) 0%, rgb(29, 29, 128) 50%, rgb(25, 25, 112) 55%, rgb(36, 36, 160) 100%);
    background-image: -o-linear-gradient(top,  rgb(32, 32, 144) 0%, rgb(29, 29, 128) 50%, rgb(25, 25, 112) 55%, rgb(36, 36, 160) 100%);
    background-image: -ms-linear-gradient(top, rgb(32, 32, 144) 0%, rgb(29, 29, 128) 50%, rgb(25, 25, 112) 55%, rgb(36, 36, 160) 100%);
    background-image: linear-gradient(to bottom,  rgb(32, 32, 144) 0%, rgb(29, 29, 128) 50%, rgb(25, 25, 112) 55%, rgb(36, 36, 160) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202090', endColorstr='#2424a0',GradientType=0 );
}

.background_glassyMidnightBlue6h,
.hover_background_glassyMidnightBlue6h:hover,
.active_background_glassyMidnightBlue6h:active:hover {
    background: #2424a0;
    background-image: -moz-linear-gradient(top,  rgb(39, 39, 173) 0%, rgb(34, 34, 154) 50%, rgb(30, 30, 135) 55%, rgb(43, 43, 192) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(39, 39, 173)), color-stop(50%, rgb(34, 34, 154)), color-stop(55%, rgb(30, 30, 135)), color-stop(100%, rgb(43, 43, 192)));
    background-image: -webkit-linear-gradient(top,  rgb(39, 39, 173) 0%, rgb(34, 34, 154) 50%, rgb(30, 30, 135) 55%, rgb(43, 43, 192) 100%);
    background-image: -o-linear-gradient(top,  rgb(39, 39, 173) 0%, rgb(34, 34, 154) 50%, rgb(30, 30, 135) 55%, rgb(43, 43, 192) 100%);
    background-image: -ms-linear-gradient(top, rgb(39, 39, 173) 0%, rgb(34, 34, 154) 50%, rgb(30, 30, 135) 55%, rgb(43, 43, 192) 100%);
    background-image: linear-gradient(to bottom,  rgb(39, 39, 173) 0%, rgb(34, 34, 154) 50%, rgb(30, 30, 135) 55%, rgb(43, 43, 192) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2727ad', endColorstr='#2b2bc0',GradientType=0 );
}

.background_glassyMidnightBlue6a,
.hover_background_glassyMidnightBlue6a:hover,
.active_background_glassyMidnightBlue6a:active:hover {
    background: #2424a0;
    background-image: -moz-linear-gradient(top,  rgb(43, 43, 192) 0%, rgb(30, 30, 135) 50%, rgb(34, 34, 154) 55%, rgb(39, 39, 173) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(43, 43, 192)), color-stop(50%, rgb(30, 30, 135)), color-stop(55%, rgb(34, 34, 154)), color-stop(100%, rgb(39, 39, 173)));
    background-image: -webkit-linear-gradient(top,  rgb(43, 43, 192) 0%, rgb(30, 30, 135) 50%, rgb(34, 34, 154) 55%, rgb(39, 39, 173) 100%);
    background-image: -o-linear-gradient(top,  rgb(43, 43, 192) 0%, rgb(30, 30, 135) 50%, rgb(34, 34, 154) 55%, rgb(39, 39, 173) 100%);
    background-image: -ms-linear-gradient(top, rgb(43, 43, 192) 0%, rgb(30, 30, 135) 50%, rgb(34, 34, 154) 55%, rgb(39, 39, 173) 100%);
    background-image: linear-gradient(to bottom,  rgb(43, 43, 192) 0%, rgb(30, 30, 135) 50%, rgb(34, 34, 154) 55%, rgb(39, 39, 173) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2bc0', endColorstr='#2727ad',GradientType=0 );
}

.background_glassyMidnightBlue6s,
.hover_background_glassyMidnightBlue6s:hover,
.active_background_glassyMidnightBlue6s:active:hover {
    background: #2424a0;
    background-image: -moz-linear-gradient(top,  rgb(54, 54, 210) 0%, rgb(43, 43, 192) 50%, rgb(38, 38, 168) 55%, rgb(78, 78, 216) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(54, 54, 210)), color-stop(50%, rgb(43, 43, 192)), color-stop(55%, rgb(38, 38, 168)), color-stop(100%, rgb(78, 78, 216)));
    background-image: -webkit-linear-gradient(top,  rgb(54, 54, 210) 0%, rgb(43, 43, 192) 50%, rgb(38, 38, 168) 55%, rgb(78, 78, 216) 100%);
    background-image: -o-linear-gradient(top,  rgb(54, 54, 210) 0%, rgb(43, 43, 192) 50%, rgb(38, 38, 168) 55%, rgb(78, 78, 216) 100%);
    background-image: -ms-linear-gradient(top, rgb(54, 54, 210) 0%, rgb(43, 43, 192) 50%, rgb(38, 38, 168) 55%, rgb(78, 78, 216) 100%);
    background-image: linear-gradient(to bottom,  rgb(54, 54, 210) 0%, rgb(43, 43, 192) 50%, rgb(38, 38, 168) 55%, rgb(78, 78, 216) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3636d2', endColorstr='#4e4ed8',GradientType=0 );
}

.background_color_glassyMidnightBlue6,
.hover_background_color_glassyMidnightBlue6:hover,
.active_background_color_glassyMidnightBlue6:active:hover {
    background-color:#2424a0;
}

.background_first_color_glassyMidnightBlue6,
.hover_background_first_color_glassyMidnightBlue6:hover,
.active_background_first_color_glassyMidnightBlue6:active:hover {
    background-color:#202090;
}

.background_last_color_glassyMidnightBlue6,
.hover_background_last_color_glassyMidnightBlue6:hover,
.active_background_color_last_glassyMidnightBlue6:active:hover {
   background-color:#2424a0;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyMidnightBlue6,
.hover_color_glassyMidnightBlue6:hover,
.active_color_glassyMidnightBlue6:active:hover {
    color: #c8c8c8;
}

.color_glassyMidnightBlue6h,
.hover_color_glassyMidnightBlue6h:hover,
.active_color_glassyMidnightBlue6h:active:hover {
    color: #c8c8c8;
}

.color_glassyMidnightBlue6a,
.hover_color_glassyMidnightBlue6a:hover,
.active_color_glassyMidnightBlue6a:active:hover {
    color: #ff0;
}

.color_glassyMidnightBlue6s,
.hover_color_glassyMidnightBlue6s:hover,
.active_color_glassyMidnightBlue6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyMidnightBlue6,
.hover_border_glassyMidnightBlue6:hover,
.active_border_glassyMidnightBlue6:active:hover {
    border-color: #1a1a73 #151560 #151560 #1a1a73;
}

.border_glassyMidnightBlue6h,
.hover_border_glassyMidnightBlue6h:hover,
.active_border_glassyMidnightBlue6h:active:hover {
    border-color: #1a1a73 #151560 #151560 #1a1a73;
}

.border_glassyMidnightBlue6a,
.hover_border_glassyMidnightBlue6a:hover,
.active_border_glassyMidnightBlue6a:active:hover {
    border-color: #14145a #14145a #14145a #14145a;
}

.border_glassyMidnightBlue6s,
.hover_border_glassyMidnightBlue6s:hover,
.active_border_glassyMidnightBlue6s:active:hover {
    border-color: #14145a #14145a #14145a #14145a;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyMidnightBlue6,
.hover_shadow_expand_glassyMidnightBlue6:hover,
.active_shadow_expand_glassyMidnightBlue6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(36, 36, 160, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(36, 36, 160, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(36, 36, 160, .39);
}

.shadow_expand_glassyMidnightBlue6h,
.hover_shadow_expand_glassyMidnightBlue6h:hover,
.active_shadow_expand_glassyMidnightBlue6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(43, 43, 192, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(43, 43, 192, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(43, 43, 192, .50);
}

.shadow_expand_glassyMidnightBlue6a,
.hover_shadow_expand_glassyMidnightBlue6a:hover,
.active_shadow_expand_glassyMidnightBlue6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(39, 39, 173, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(39, 39, 173, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(39, 39, 173, .63);
}

.shadow_expand_glassyMidnightBlue6s,
.hover_shadow_expand_glassyMidnightBlue6s:hover,
.active_shadow_expand_glassyMidnightBlue6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(39, 39, 173, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(39, 39, 173, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(39, 39, 173, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyMidnightBlue6,
.hover_shadow_left_glassyMidnightBlue6:hover,
.active_shadow_left_glassyMidnightBlue6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(36, 36, 160, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(36, 36, 160, .39);
    box-shadow: -0.5em -0.5em 1em rgba(36, 36, 160, .39);
}

.shadow_left_glassyMidnightBlue6h,
.hover_shadow_left_glassyMidnightBlue6h:hover,
.active_shadow_left_glassyMidnightBlue6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(43, 43, 192, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(43, 43, 192, .50);
    box-shadow: -0.5em -0.5em 1em rgba(43, 43, 192, .50);
}

.shadow_left_glassyMidnightBlue6a,
.hover_shadow_left_glassyMidnightBlue6a:hover,
.active_shadow_left_glassyMidnightBlue6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(39, 39, 173, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(39, 39, 173, .63);
    box-shadow: -0.5em -0.5em 1em rgba(39, 39, 173, .63);
}

.shadow_left_glassyMidnightBlue6s,
.hover_shadow_left_glassyMidnightBlue6s:hover,
.active_shadow_left_glassyMidnightBlue6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(39, 39, 173, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(39, 39, 173, .78);
    box-shadow: -0.5em -0.5em 1em rgba(39, 39, 173, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyMidnightBlue6,
.hover_shadow_right_glassyMidnightBlue6:hover,
.active_shadow_right_glassyMidnightBlue6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(36, 36, 160, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(36, 36, 160, .39);
    box-shadow: 0.5em 0em 1em rgba(36, 36, 160, .39);
}

.shadow_right_glassyMidnightBlue6h,
.hover_shadow_right_glassyMidnightBlue6h:hover,
.active_shadow_right_glassyMidnightBlue6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(43, 43, 192, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(43, 43, 192, .50);
    box-shadow: 0.5em 0em 1em rgba(43, 43, 192, .50);
}

.shadow_right_glassyMidnightBlue6a,
.hover_shadow_right_glassyMidnightBlue6a:hover,
.active_shadow_right_glassyMidnightBlue6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(39, 39, 173, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(39, 39, 173, .63);
    box-shadow: 0.5em 0em 1em rgba(39, 39, 173, .63);
}

.shadow_right_glassyMidnightBlue6s,
.hover_shadow_right_glassyMidnightBlue6s:hover,
.active_shadow_right_glassyMidnightBlue6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(39, 39, 173, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(39, 39, 173, .78);
    box-shadow: 0.5em 0em 1em rgba(39, 39, 173, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyMidnightBlue6,
.hover_shadow_top_glassyMidnightBlue6:hover,
.active_shadow_top_glassyMidnightBlue6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(36, 36, 160, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(36, 36, 160, .39);
    box-shadow: 0em -0.5em 1em rgba(36, 36, 160, .39);
}

.shadow_top_glassyMidnightBlue6h,
.hover_shadow_top_glassyMidnightBlue6h:hover,
.active_shadow_top_glassyMidnightBlue6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(43, 43, 192, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(43, 43, 192, .50);
    box-shadow: 0em -0.5em 1em rgba(43, 43, 192, .50);
}

.shadow_top_glassyMidnightBlue6a,
.hover_shadow_top_glassyMidnightBlue6a:hover,
.active_shadow_top_glassyMidnightBlue6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(39, 39, 173, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(39, 39, 173, .63);
    box-shadow: 0em -0.5em 1em rgba(39, 39, 173, .63);
}

.shadow_top_glassyMidnightBlue6s,
.hover_shadow_top_glassyMidnightBlue6s:hover,
.active_shadow_top_glassyMidnightBlue6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(39, 39, 173, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(39, 39, 173, .78);
    box-shadow: 0em -0.5em 1em rgba(39, 39, 173, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyMidnightBlue6,
.hover_shadow_bottom_glassyMidnightBlue6:hover,
.active_shadow_bottom_glassyMidnightBlue6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(36, 36, 160, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(36, 36, 160, .39);
    box-shadow: 0em 0.5em 1em rgba(36, 36, 160, .39);
}

.shadow_bottom_glassyMidnightBlue6h,
.hover_shadow_bottom_glassyMidnightBlue6h:hover,
.active_shadow_bottom_glassyMidnightBlue6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(43, 43, 192, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(43, 43, 192, .50);
    box-shadow: 0em 0.5em 1em rgba(43, 43, 192, .50);
}

.shadow_bottom_glassyMidnightBlue6a,
.hover_shadow_bottom_glassyMidnightBlue6a:hover,
.active_shadow_bottom_glassyMidnightBlue6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(39, 39, 173, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(39, 39, 173, .63);
    box-shadow: 0em 0.5em 1em rgba(39, 39, 173, .63);
}

.shadow_bottom_glassyMidnightBlue6s,
.hover_shadow_bottom_glassyMidnightBlue6s:hover,
.active_shadow_bottom_glassyMidnightBlue6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(39, 39, 173, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(39, 39, 173, .78);
    box-shadow: 0em 0.5em 1em rgba(39, 39, 173, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyMidnightBlue6,
.hover_shadow_top_left_glassyMidnightBlue6:hover,
.active_shadow_top_left_glassyMidnightBlue6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(36, 36, 160, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(36, 36, 160, .39);
    box-shadow: -0.5em -0.5em 1em rgba(36, 36, 160, .39);
}

.shadow_top_left_glassyMidnightBlue6h,
.hover_shadow_top_left_glassyMidnightBlue6h:hover,
.active_shadow_top_left_glassyMidnightBlue6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(43, 43, 192, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(43, 43, 192, .50);
    box-shadow: -0.5em -0.5em 1em rgba(43, 43, 192, .50);
}

.shadow_top_left_glassyMidnightBlue6a,
.hover_shadow_top_left_glassyMidnightBlue6a:hover,
.active_shadow_top_left_glassyMidnightBlue6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(39, 39, 173, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(39, 39, 173, .63);
    box-shadow: -0.5em -0.5em 1em rgba(39, 39, 173, .63);
}

.shadow_top_left_glassyMidnightBlue6s,
.hover_shadow_top_left_glassyMidnightBlue6s:hover,
.active_shadow_top_left_glassyMidnightBlue6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(39, 39, 173, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(39, 39, 173, .78);
    box-shadow: -0.5em -0.5em 1em rgba(39, 39, 173, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyMidnightBlue6,
.hover_shadow_top_right_glassyMidnightBlue6:hover,
.active_shadow_top_right_glassyMidnightBlue6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(36, 36, 160, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(36, 36, 160, .39);
    box-shadow: 0.5em -0.5em 1em rgba(36, 36, 160, .39);
}

.shadow_top_right_glassyMidnightBlue6h,
.hover_shadow_top_right_glassyMidnightBlue6h:hover,
.active_shadow_top_right_glassyMidnightBlue6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(43, 43, 192, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(43, 43, 192, .50);
    box-shadow: 0.5em -0.5em 1em rgba(43, 43, 192, .50);
}

.shadow_top_right_glassyMidnightBlue6a,
.hover_shadow_top_right_glassyMidnightBlue6a:hover,
.active_shadow_top_right_glassyMidnightBlue6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(39, 39, 173, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(39, 39, 173, .63);
    box-shadow: 0.5em -0.5em 1em rgba(39, 39, 173, .63);
}

.shadow_top_right_glassyMidnightBlue6s,
.hover_shadow_top_right_glassyMidnightBlue6s:hover,
.active_shadow_top_right_glassyMidnightBlue6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(39, 39, 173, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(39, 39, 173, .78);
    box-shadow: 0.5em -0.5em 1em rgba(39, 39, 173, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyMidnightBlue6,
.hover_shadow_bottom_left_glassyMidnightBlue6:hover,
.active_shadow_bottom_left_glassyMidnightBlue6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(36, 36, 160, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(36, 36, 160, .39);
    box-shadow: -0.5em 0.5em 1em rgba(36, 36, 160, .39);
}

.shadow_bottom_left_glassyMidnightBlue6h,
.hover_shadow_bottom_left_glassyMidnightBlue6h:hover,
.active_shadow_bottom_left_glassyMidnightBlue6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(43, 43, 192, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(43, 43, 192, .50);
    box-shadow: -0.5em 0.5em 1em rgba(43, 43, 192, .50);
}

.shadow_bottom_left_glassyMidnightBlue6a,
.hover_shadow_bottom_left_glassyMidnightBlue6a:hover,
.active_shadow_bottom_left_glassyMidnightBlue6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(39, 39, 173, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(39, 39, 173, .63);
    box-shadow: -0.5em 0.5em 1em rgba(39, 39, 173, .63);
}

.shadow_bottom_left_glassyMidnightBlue6s,
.hover_shadow_bottom_left_glassyMidnightBlue6s:hover,
.active_shadow_bottom_left_glassyMidnightBlue6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(39, 39, 173, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(39, 39, 173, .78);
    box-shadow: -0.5em 0.5em 1em rgba(39, 39, 173, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyMidnightBlue6,
.hover_shadow_bottom_right_glassyMidnightBlue6:hover,
.active_shadow_bottom_right_glassyMidnightBlue6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(36, 36, 160, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(36, 36, 160, .39);
    box-shadow: 0.5em 0.5em 1em rgba(36, 36, 160, .39);
}

.shadow_bottom_right_glassyMidnightBlue6h,
.hover_shadow_bottom_right_glassyMidnightBlue6h:hover,
.active_shadow_bottom_right_glassyMidnightBlue6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(43, 43, 192, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(43, 43, 192, .50);
    box-shadow: 0.5em 0.5em 1em rgba(43, 43, 192, .50);
}

.shadow_bottom_right_glassyMidnightBlue6a,
 .hover_shadow_bottom_right_glassyMidnightBlue6a:hover,
 .active_shadow_bottom_right_glassyMidnightBlue6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(39, 39, 173, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(39, 39, 173, .63);
     box-shadow: 0.5em 0.5em 1em rgba(39, 39, 173, .63);
 }

 .shadow_bottom_right_glassyMidnightBlue6s,
 .hover_shadow_bottom_right_glassyMidnightBlue6s:hover,
 .active_shadow_bottom_right_glassyMidnightBlue6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(39, 39, 173, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(39, 39, 173, .78);
     box-shadow: 0.5em 0.5em 1em rgba(39, 39, 173, .78);
 }