.background_glassySienna3,
.hover_background_glassySienna3:hover,
.active_background_glassySienna3:active:hover {
    background: #cf7d56;
    background-image: -moz-linear-gradient(top,  rgb(201, 107, 63) 0%, rgb(183, 94, 51) 50%, rgb(160, 82, 45) 55%, rgb(207, 125, 86) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(201, 107, 63)), color-stop(50%, rgb(183, 94, 51)), color-stop(55%, rgb(160, 82, 45)), color-stop(100%, rgb(207, 125, 86)));
    background-image: -webkit-linear-gradient(top,  rgb(201, 107, 63) 0%, rgb(183, 94, 51) 50%, rgb(160, 82, 45) 55%, rgb(207, 125, 86) 100%);
    background-image: -o-linear-gradient(top,  rgb(201, 107, 63) 0%, rgb(183, 94, 51) 50%, rgb(160, 82, 45) 55%, rgb(207, 125, 86) 100%);
    background-image: -ms-linear-gradient(top, rgb(201, 107, 63) 0%, rgb(183, 94, 51) 50%, rgb(160, 82, 45) 55%, rgb(207, 125, 86) 100%);
    background-image: linear-gradient(to bottom,  rgb(201, 107, 63) 0%, rgb(183, 94, 51) 50%, rgb(160, 82, 45) 55%, rgb(207, 125, 86) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c96b3f', endColorstr='#cf7d56',GradientType=0 );
}

.background_glassySienna3h,
.hover_background_glassySienna3h:hover,
.active_background_glassySienna3h:active:hover {
    background: #cf7d56;
    background-image: -moz-linear-gradient(top,  rgb(213, 139, 104) 0%, rgb(205, 118, 77) 50%, rgb(192, 99, 54) 55%, rgb(220, 160, 132) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(213, 139, 104)), color-stop(50%, rgb(205, 118, 77)), color-stop(55%, rgb(192, 99, 54)), color-stop(100%, rgb(220, 160, 132)));
    background-image: -webkit-linear-gradient(top,  rgb(213, 139, 104) 0%, rgb(205, 118, 77) 50%, rgb(192, 99, 54) 55%, rgb(220, 160, 132) 100%);
    background-image: -o-linear-gradient(top,  rgb(213, 139, 104) 0%, rgb(205, 118, 77) 50%, rgb(192, 99, 54) 55%, rgb(220, 160, 132) 100%);
    background-image: -ms-linear-gradient(top, rgb(213, 139, 104) 0%, rgb(205, 118, 77) 50%, rgb(192, 99, 54) 55%, rgb(220, 160, 132) 100%);
    background-image: linear-gradient(to bottom,  rgb(213, 139, 104) 0%, rgb(205, 118, 77) 50%, rgb(192, 99, 54) 55%, rgb(220, 160, 132) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d58b68', endColorstr='#dca084',GradientType=0 );
}

.background_glassySienna3a,
.hover_background_glassySienna3a:hover,
.active_background_glassySienna3a:active:hover {
    background: #cf7d56;
    background-image: -moz-linear-gradient(top,  rgb(220, 160, 132) 0%, rgb(192, 99, 54) 50%, rgb(205, 118, 77) 55%, rgb(213, 139, 104) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(220, 160, 132)), color-stop(50%, rgb(192, 99, 54)), color-stop(55%, rgb(205, 118, 77)), color-stop(100%, rgb(213, 139, 104)));
    background-image: -webkit-linear-gradient(top,  rgb(220, 160, 132) 0%, rgb(192, 99, 54) 50%, rgb(205, 118, 77) 55%, rgb(213, 139, 104) 100%);
    background-image: -o-linear-gradient(top,  rgb(220, 160, 132) 0%, rgb(192, 99, 54) 50%, rgb(205, 118, 77) 55%, rgb(213, 139, 104) 100%);
    background-image: -ms-linear-gradient(top, rgb(220, 160, 132) 0%, rgb(192, 99, 54) 50%, rgb(205, 118, 77) 55%, rgb(213, 139, 104) 100%);
    background-image: linear-gradient(to bottom,  rgb(220, 160, 132) 0%, rgb(192, 99, 54) 50%, rgb(205, 118, 77) 55%, rgb(213, 139, 104) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dca084', endColorstr='#d58b68',GradientType=0 );
}

.background_glassySienna3s,
.hover_background_glassySienna3s:hover,
.active_background_glassySienna3s:active:hover {
    background: #cf7d56;
    background-image: -moz-linear-gradient(top,  rgb(230, 187, 166) 0%, rgb(220, 160, 132) 50%, rgb(211, 134, 97) 55%, rgb(240, 213, 200) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(230, 187, 166)), color-stop(50%, rgb(220, 160, 132)), color-stop(55%, rgb(211, 134, 97)), color-stop(100%, rgb(240, 213, 200)));
    background-image: -webkit-linear-gradient(top,  rgb(230, 187, 166) 0%, rgb(220, 160, 132) 50%, rgb(211, 134, 97) 55%, rgb(240, 213, 200) 100%);
    background-image: -o-linear-gradient(top,  rgb(230, 187, 166) 0%, rgb(220, 160, 132) 50%, rgb(211, 134, 97) 55%, rgb(240, 213, 200) 100%);
    background-image: -ms-linear-gradient(top, rgb(230, 187, 166) 0%, rgb(220, 160, 132) 50%, rgb(211, 134, 97) 55%, rgb(240, 213, 200) 100%);
    background-image: linear-gradient(to bottom,  rgb(230, 187, 166) 0%, rgb(220, 160, 132) 50%, rgb(211, 134, 97) 55%, rgb(240, 213, 200) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bba6', endColorstr='#f0d5c8',GradientType=0 );
}

.background_color_glassySienna3,
.hover_background_color_glassySienna3:hover,
.active_background_color_glassySienna3:active:hover {
    background-color:#cf7d56;
}

.background_first_color_glassySienna3,
.hover_background_first_color_glassySienna3:hover,
.active_background_first_color_glassySienna3:active:hover {
    background-color:#c96b3f;
}

.background_last_color_glassySienna3,
.hover_background_last_color_glassySienna3:hover,
.active_background_color_last_glassySienna3:active:hover {
   background-color:#cf7d56;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassySienna3,
.hover_color_glassySienna3:hover,
.active_color_glassySienna3:active:hover {
    color: #c8c8c8;
}

.color_glassySienna3h,
.hover_color_glassySienna3h:hover,
.active_color_glassySienna3h:active:hover {
    color: #c8c8c8;
}

.color_glassySienna3a,
.hover_color_glassySienna3a:hover,
.active_color_glassySienna3a:active:hover {
    color: #ff0;
}

.color_glassySienna3s,
.hover_color_glassySienna3s:hover,
.active_color_glassySienna3s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassySienna3,
.hover_border_glassySienna3:hover,
.active_border_glassySienna3:active:hover {
    border-color: #a5542e #894627 #894627 #a5542e;
}

.border_glassySienna3h,
.hover_border_glassySienna3h:hover,
.active_border_glassySienna3h:active:hover {
    border-color: #a5542e #894627 #894627 #a5542e;
}

.border_glassySienna3a,
.hover_border_glassySienna3a:hover,
.active_border_glassySienna3a:active:hover {
    border-color: #804224 #804224 #804224 #804224;
}

.border_glassySienna3s,
.hover_border_glassySienna3s:hover,
.active_border_glassySienna3s:active:hover {
    border-color: #804224 #804224 #804224 #804224;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassySienna3,
.hover_shadow_expand_glassySienna3:hover,
.active_shadow_expand_glassySienna3:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(207, 125, 86, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(207, 125, 86, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(207, 125, 86, .39);
}

.shadow_expand_glassySienna3h,
.hover_shadow_expand_glassySienna3h:hover,
.active_shadow_expand_glassySienna3h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(220, 160, 132, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(220, 160, 132, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(220, 160, 132, .50);
}

.shadow_expand_glassySienna3a,
.hover_shadow_expand_glassySienna3a:hover,
.active_shadow_expand_glassySienna3a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(213, 139, 104, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(213, 139, 104, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(213, 139, 104, .63);
}

.shadow_expand_glassySienna3s,
.hover_shadow_expand_glassySienna3s:hover,
.active_shadow_expand_glassySienna3s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(213, 139, 104, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(213, 139, 104, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(213, 139, 104, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassySienna3,
.hover_shadow_left_glassySienna3:hover,
.active_shadow_left_glassySienna3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(207, 125, 86, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(207, 125, 86, .39);
    box-shadow: -0.5em -0.5em 1em rgba(207, 125, 86, .39);
}

.shadow_left_glassySienna3h,
.hover_shadow_left_glassySienna3h:hover,
.active_shadow_left_glassySienna3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(220, 160, 132, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(220, 160, 132, .50);
    box-shadow: -0.5em -0.5em 1em rgba(220, 160, 132, .50);
}

.shadow_left_glassySienna3a,
.hover_shadow_left_glassySienna3a:hover,
.active_shadow_left_glassySienna3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(213, 139, 104, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(213, 139, 104, .63);
    box-shadow: -0.5em -0.5em 1em rgba(213, 139, 104, .63);
}

.shadow_left_glassySienna3s,
.hover_shadow_left_glassySienna3s:hover,
.active_shadow_left_glassySienna3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(213, 139, 104, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(213, 139, 104, .78);
    box-shadow: -0.5em -0.5em 1em rgba(213, 139, 104, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassySienna3,
.hover_shadow_right_glassySienna3:hover,
.active_shadow_right_glassySienna3:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(207, 125, 86, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(207, 125, 86, .39);
    box-shadow: 0.5em 0em 1em rgba(207, 125, 86, .39);
}

.shadow_right_glassySienna3h,
.hover_shadow_right_glassySienna3h:hover,
.active_shadow_right_glassySienna3h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(220, 160, 132, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(220, 160, 132, .50);
    box-shadow: 0.5em 0em 1em rgba(220, 160, 132, .50);
}

.shadow_right_glassySienna3a,
.hover_shadow_right_glassySienna3a:hover,
.active_shadow_right_glassySienna3a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(213, 139, 104, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(213, 139, 104, .63);
    box-shadow: 0.5em 0em 1em rgba(213, 139, 104, .63);
}

.shadow_right_glassySienna3s,
.hover_shadow_right_glassySienna3s:hover,
.active_shadow_right_glassySienna3s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(213, 139, 104, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(213, 139, 104, .78);
    box-shadow: 0.5em 0em 1em rgba(213, 139, 104, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassySienna3,
.hover_shadow_top_glassySienna3:hover,
.active_shadow_top_glassySienna3:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(207, 125, 86, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(207, 125, 86, .39);
    box-shadow: 0em -0.5em 1em rgba(207, 125, 86, .39);
}

.shadow_top_glassySienna3h,
.hover_shadow_top_glassySienna3h:hover,
.active_shadow_top_glassySienna3h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(220, 160, 132, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(220, 160, 132, .50);
    box-shadow: 0em -0.5em 1em rgba(220, 160, 132, .50);
}

.shadow_top_glassySienna3a,
.hover_shadow_top_glassySienna3a:hover,
.active_shadow_top_glassySienna3a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(213, 139, 104, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(213, 139, 104, .63);
    box-shadow: 0em -0.5em 1em rgba(213, 139, 104, .63);
}

.shadow_top_glassySienna3s,
.hover_shadow_top_glassySienna3s:hover,
.active_shadow_top_glassySienna3s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(213, 139, 104, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(213, 139, 104, .78);
    box-shadow: 0em -0.5em 1em rgba(213, 139, 104, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassySienna3,
.hover_shadow_bottom_glassySienna3:hover,
.active_shadow_bottom_glassySienna3:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(207, 125, 86, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(207, 125, 86, .39);
    box-shadow: 0em 0.5em 1em rgba(207, 125, 86, .39);
}

.shadow_bottom_glassySienna3h,
.hover_shadow_bottom_glassySienna3h:hover,
.active_shadow_bottom_glassySienna3h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(220, 160, 132, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(220, 160, 132, .50);
    box-shadow: 0em 0.5em 1em rgba(220, 160, 132, .50);
}

.shadow_bottom_glassySienna3a,
.hover_shadow_bottom_glassySienna3a:hover,
.active_shadow_bottom_glassySienna3a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(213, 139, 104, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(213, 139, 104, .63);
    box-shadow: 0em 0.5em 1em rgba(213, 139, 104, .63);
}

.shadow_bottom_glassySienna3s,
.hover_shadow_bottom_glassySienna3s:hover,
.active_shadow_bottom_glassySienna3s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(213, 139, 104, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(213, 139, 104, .78);
    box-shadow: 0em 0.5em 1em rgba(213, 139, 104, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassySienna3,
.hover_shadow_top_left_glassySienna3:hover,
.active_shadow_top_left_glassySienna3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(207, 125, 86, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(207, 125, 86, .39);
    box-shadow: -0.5em -0.5em 1em rgba(207, 125, 86, .39);
}

.shadow_top_left_glassySienna3h,
.hover_shadow_top_left_glassySienna3h:hover,
.active_shadow_top_left_glassySienna3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(220, 160, 132, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(220, 160, 132, .50);
    box-shadow: -0.5em -0.5em 1em rgba(220, 160, 132, .50);
}

.shadow_top_left_glassySienna3a,
.hover_shadow_top_left_glassySienna3a:hover,
.active_shadow_top_left_glassySienna3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(213, 139, 104, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(213, 139, 104, .63);
    box-shadow: -0.5em -0.5em 1em rgba(213, 139, 104, .63);
}

.shadow_top_left_glassySienna3s,
.hover_shadow_top_left_glassySienna3s:hover,
.active_shadow_top_left_glassySienna3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(213, 139, 104, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(213, 139, 104, .78);
    box-shadow: -0.5em -0.5em 1em rgba(213, 139, 104, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassySienna3,
.hover_shadow_top_right_glassySienna3:hover,
.active_shadow_top_right_glassySienna3:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(207, 125, 86, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(207, 125, 86, .39);
    box-shadow: 0.5em -0.5em 1em rgba(207, 125, 86, .39);
}

.shadow_top_right_glassySienna3h,
.hover_shadow_top_right_glassySienna3h:hover,
.active_shadow_top_right_glassySienna3h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(220, 160, 132, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(220, 160, 132, .50);
    box-shadow: 0.5em -0.5em 1em rgba(220, 160, 132, .50);
}

.shadow_top_right_glassySienna3a,
.hover_shadow_top_right_glassySienna3a:hover,
.active_shadow_top_right_glassySienna3a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(213, 139, 104, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(213, 139, 104, .63);
    box-shadow: 0.5em -0.5em 1em rgba(213, 139, 104, .63);
}

.shadow_top_right_glassySienna3s,
.hover_shadow_top_right_glassySienna3s:hover,
.active_shadow_top_right_glassySienna3s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(213, 139, 104, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(213, 139, 104, .78);
    box-shadow: 0.5em -0.5em 1em rgba(213, 139, 104, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassySienna3,
.hover_shadow_bottom_left_glassySienna3:hover,
.active_shadow_bottom_left_glassySienna3:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(207, 125, 86, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(207, 125, 86, .39);
    box-shadow: -0.5em 0.5em 1em rgba(207, 125, 86, .39);
}

.shadow_bottom_left_glassySienna3h,
.hover_shadow_bottom_left_glassySienna3h:hover,
.active_shadow_bottom_left_glassySienna3h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(220, 160, 132, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(220, 160, 132, .50);
    box-shadow: -0.5em 0.5em 1em rgba(220, 160, 132, .50);
}

.shadow_bottom_left_glassySienna3a,
.hover_shadow_bottom_left_glassySienna3a:hover,
.active_shadow_bottom_left_glassySienna3a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(213, 139, 104, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(213, 139, 104, .63);
    box-shadow: -0.5em 0.5em 1em rgba(213, 139, 104, .63);
}

.shadow_bottom_left_glassySienna3s,
.hover_shadow_bottom_left_glassySienna3s:hover,
.active_shadow_bottom_left_glassySienna3s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(213, 139, 104, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(213, 139, 104, .78);
    box-shadow: -0.5em 0.5em 1em rgba(213, 139, 104, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassySienna3,
.hover_shadow_bottom_right_glassySienna3:hover,
.active_shadow_bottom_right_glassySienna3:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(207, 125, 86, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(207, 125, 86, .39);
    box-shadow: 0.5em 0.5em 1em rgba(207, 125, 86, .39);
}

.shadow_bottom_right_glassySienna3h,
.hover_shadow_bottom_right_glassySienna3h:hover,
.active_shadow_bottom_right_glassySienna3h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(220, 160, 132, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(220, 160, 132, .50);
    box-shadow: 0.5em 0.5em 1em rgba(220, 160, 132, .50);
}

.shadow_bottom_right_glassySienna3a,
 .hover_shadow_bottom_right_glassySienna3a:hover,
 .active_shadow_bottom_right_glassySienna3a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(213, 139, 104, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(213, 139, 104, .63);
     box-shadow: 0.5em 0.5em 1em rgba(213, 139, 104, .63);
 }

 .shadow_bottom_right_glassySienna3s,
 .hover_shadow_bottom_right_glassySienna3s:hover,
 .active_shadow_bottom_right_glassySienna3s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(213, 139, 104, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(213, 139, 104, .78);
     box-shadow: 0.5em 0.5em 1em rgba(213, 139, 104, .78);
 }