.background_glassyDimGrey1,
.hover_background_glassyDimGrey1:hover,
.active_background_glassyDimGrey1:active:hover {
    background: #d0d0d0;
    background-image: -moz-linear-gradient(top,  rgb(187, 187, 187) 0%, rgb(166, 166, 166) 50%, rgb(146, 146, 146) 55%, rgb(208, 208, 208) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(187, 187, 187)), color-stop(50%, rgb(166, 166, 166)), color-stop(55%, rgb(146, 146, 146)), color-stop(100%, rgb(208, 208, 208)));
    background-image: -webkit-linear-gradient(top,  rgb(187, 187, 187) 0%, rgb(166, 166, 166) 50%, rgb(146, 146, 146) 55%, rgb(208, 208, 208) 100%);
    background-image: -o-linear-gradient(top,  rgb(187, 187, 187) 0%, rgb(166, 166, 166) 50%, rgb(146, 146, 146) 55%, rgb(208, 208, 208) 100%);
    background-image: -ms-linear-gradient(top, rgb(187, 187, 187) 0%, rgb(166, 166, 166) 50%, rgb(146, 146, 146) 55%, rgb(208, 208, 208) 100%);
    background-image: linear-gradient(to bottom,  rgb(187, 187, 187) 0%, rgb(166, 166, 166) 50%, rgb(146, 146, 146) 55%, rgb(208, 208, 208) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#d0d0d0',GradientType=0 );
}

.background_glassyDimGrey1h,
.hover_background_glassyDimGrey1h:hover,
.active_background_glassyDimGrey1h:active:hover {
    background: #d0d0d0;
    background-image: -moz-linear-gradient(top,  rgb(225, 225, 225) 0%, rgb(200, 200, 200) 50%, rgb(175, 175, 175) 55%, rgb(249, 249, 249) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(225, 225, 225)), color-stop(50%, rgb(200, 200, 200)), color-stop(55%, rgb(175, 175, 175)), color-stop(100%, rgb(249, 249, 249)));
    background-image: -webkit-linear-gradient(top,  rgb(225, 225, 225) 0%, rgb(200, 200, 200) 50%, rgb(175, 175, 175) 55%, rgb(249, 249, 249) 100%);
    background-image: -o-linear-gradient(top,  rgb(225, 225, 225) 0%, rgb(200, 200, 200) 50%, rgb(175, 175, 175) 55%, rgb(249, 249, 249) 100%);
    background-image: -ms-linear-gradient(top, rgb(225, 225, 225) 0%, rgb(200, 200, 200) 50%, rgb(175, 175, 175) 55%, rgb(249, 249, 249) 100%);
    background-image: linear-gradient(to bottom,  rgb(225, 225, 225) 0%, rgb(200, 200, 200) 50%, rgb(175, 175, 175) 55%, rgb(249, 249, 249) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#f9f9f9',GradientType=0 );
}

.background_glassyDimGrey1a,
.hover_background_glassyDimGrey1a:hover,
.active_background_glassyDimGrey1a:active:hover {
    background: #d0d0d0;
    background-image: -moz-linear-gradient(top,  rgb(249, 249, 249) 0%, rgb(175, 175, 175) 50%, rgb(200, 200, 200) 55%, rgb(225, 225, 225) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(249, 249, 249)), color-stop(50%, rgb(175, 175, 175)), color-stop(55%, rgb(200, 200, 200)), color-stop(100%, rgb(225, 225, 225)));
    background-image: -webkit-linear-gradient(top,  rgb(249, 249, 249) 0%, rgb(175, 175, 175) 50%, rgb(200, 200, 200) 55%, rgb(225, 225, 225) 100%);
    background-image: -o-linear-gradient(top,  rgb(249, 249, 249) 0%, rgb(175, 175, 175) 50%, rgb(200, 200, 200) 55%, rgb(225, 225, 225) 100%);
    background-image: -ms-linear-gradient(top, rgb(249, 249, 249) 0%, rgb(175, 175, 175) 50%, rgb(200, 200, 200) 55%, rgb(225, 225, 225) 100%);
    background-image: linear-gradient(to bottom,  rgb(249, 249, 249) 0%, rgb(175, 175, 175) 50%, rgb(200, 200, 200) 55%, rgb(225, 225, 225) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e1e1e1',GradientType=0 );
}

.background_glassyDimGrey1s,
.hover_background_glassyDimGrey1s:hover,
.active_background_glassyDimGrey1s:active:hover {
    background: #d0d0d0;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(249, 249, 249) 50%, rgb(218, 218, 218) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(249, 249, 249)), color-stop(55%, rgb(218, 218, 218)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(249, 249, 249) 50%, rgb(218, 218, 218) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(249, 249, 249) 50%, rgb(218, 218, 218) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(249, 249, 249) 50%, rgb(218, 218, 218) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(249, 249, 249) 50%, rgb(218, 218, 218) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_color_glassyDimGrey1,
.hover_background_color_glassyDimGrey1:hover,
.active_background_color_glassyDimGrey1:active:hover {
    background-color:#d0d0d0;
}

.background_first_color_glassyDimGrey1,
.hover_background_first_color_glassyDimGrey1:hover,
.active_background_first_color_glassyDimGrey1:active:hover {
    background-color:#bbbbbb;
}

.background_last_color_glassyDimGrey1,
.hover_background_last_color_glassyDimGrey1:hover,
.active_background_color_last_glassyDimGrey1:active:hover {
   background-color:#d0d0d0;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyDimGrey1,
.hover_color_glassyDimGrey1:hover,
.active_color_glassyDimGrey1:active:hover {
    color: #282828;
}

.color_glassyDimGrey1h,
.hover_color_glassyDimGrey1h:hover,
.active_color_glassyDimGrey1h:active:hover {
    color: #282828;
}

.color_glassyDimGrey1a,
.hover_color_glassyDimGrey1a:hover,
.active_color_glassyDimGrey1a:active:hover {
    color: #ff0;
}

.color_glassyDimGrey1s,
.hover_color_glassyDimGrey1s:hover,
.active_color_glassyDimGrey1s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyDimGrey1,
.hover_border_glassyDimGrey1:hover,
.active_border_glassyDimGrey1:active:hover {
    border-color: #969696 #7d7d7d #7d7d7d #969696;
}

.border_glassyDimGrey1h,
.hover_border_glassyDimGrey1h:hover,
.active_border_glassyDimGrey1h:active:hover {
    border-color: #969696 #7d7d7d #7d7d7d #969696;
}

.border_glassyDimGrey1a,
.hover_border_glassyDimGrey1a:hover,
.active_border_glassyDimGrey1a:active:hover {
    border-color: #747474 #747474 #747474 #747474;
}

.border_glassyDimGrey1s,
.hover_border_glassyDimGrey1s:hover,
.active_border_glassyDimGrey1s:active:hover {
    border-color: #747474 #747474 #747474 #747474;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyDimGrey1,
.hover_shadow_expand_glassyDimGrey1:hover,
.active_shadow_expand_glassyDimGrey1:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(208, 208, 208, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(208, 208, 208, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(208, 208, 208, .39);
}

.shadow_expand_glassyDimGrey1h,
.hover_shadow_expand_glassyDimGrey1h:hover,
.active_shadow_expand_glassyDimGrey1h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(249, 249, 249, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(249, 249, 249, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(249, 249, 249, .50);
}

.shadow_expand_glassyDimGrey1a,
.hover_shadow_expand_glassyDimGrey1a:hover,
.active_shadow_expand_glassyDimGrey1a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(225, 225, 225, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(225, 225, 225, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(225, 225, 225, .63);
}

.shadow_expand_glassyDimGrey1s,
.hover_shadow_expand_glassyDimGrey1s:hover,
.active_shadow_expand_glassyDimGrey1s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(225, 225, 225, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(225, 225, 225, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(225, 225, 225, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyDimGrey1,
.hover_shadow_left_glassyDimGrey1:hover,
.active_shadow_left_glassyDimGrey1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(208, 208, 208, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(208, 208, 208, .39);
    box-shadow: -0.5em -0.5em 1em rgba(208, 208, 208, .39);
}

.shadow_left_glassyDimGrey1h,
.hover_shadow_left_glassyDimGrey1h:hover,
.active_shadow_left_glassyDimGrey1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(249, 249, 249, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(249, 249, 249, .50);
    box-shadow: -0.5em -0.5em 1em rgba(249, 249, 249, .50);
}

.shadow_left_glassyDimGrey1a,
.hover_shadow_left_glassyDimGrey1a:hover,
.active_shadow_left_glassyDimGrey1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(225, 225, 225, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(225, 225, 225, .63);
    box-shadow: -0.5em -0.5em 1em rgba(225, 225, 225, .63);
}

.shadow_left_glassyDimGrey1s,
.hover_shadow_left_glassyDimGrey1s:hover,
.active_shadow_left_glassyDimGrey1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(225, 225, 225, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(225, 225, 225, .78);
    box-shadow: -0.5em -0.5em 1em rgba(225, 225, 225, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyDimGrey1,
.hover_shadow_right_glassyDimGrey1:hover,
.active_shadow_right_glassyDimGrey1:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(208, 208, 208, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(208, 208, 208, .39);
    box-shadow: 0.5em 0em 1em rgba(208, 208, 208, .39);
}

.shadow_right_glassyDimGrey1h,
.hover_shadow_right_glassyDimGrey1h:hover,
.active_shadow_right_glassyDimGrey1h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(249, 249, 249, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(249, 249, 249, .50);
    box-shadow: 0.5em 0em 1em rgba(249, 249, 249, .50);
}

.shadow_right_glassyDimGrey1a,
.hover_shadow_right_glassyDimGrey1a:hover,
.active_shadow_right_glassyDimGrey1a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(225, 225, 225, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(225, 225, 225, .63);
    box-shadow: 0.5em 0em 1em rgba(225, 225, 225, .63);
}

.shadow_right_glassyDimGrey1s,
.hover_shadow_right_glassyDimGrey1s:hover,
.active_shadow_right_glassyDimGrey1s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(225, 225, 225, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(225, 225, 225, .78);
    box-shadow: 0.5em 0em 1em rgba(225, 225, 225, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyDimGrey1,
.hover_shadow_top_glassyDimGrey1:hover,
.active_shadow_top_glassyDimGrey1:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(208, 208, 208, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(208, 208, 208, .39);
    box-shadow: 0em -0.5em 1em rgba(208, 208, 208, .39);
}

.shadow_top_glassyDimGrey1h,
.hover_shadow_top_glassyDimGrey1h:hover,
.active_shadow_top_glassyDimGrey1h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(249, 249, 249, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(249, 249, 249, .50);
    box-shadow: 0em -0.5em 1em rgba(249, 249, 249, .50);
}

.shadow_top_glassyDimGrey1a,
.hover_shadow_top_glassyDimGrey1a:hover,
.active_shadow_top_glassyDimGrey1a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(225, 225, 225, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(225, 225, 225, .63);
    box-shadow: 0em -0.5em 1em rgba(225, 225, 225, .63);
}

.shadow_top_glassyDimGrey1s,
.hover_shadow_top_glassyDimGrey1s:hover,
.active_shadow_top_glassyDimGrey1s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(225, 225, 225, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(225, 225, 225, .78);
    box-shadow: 0em -0.5em 1em rgba(225, 225, 225, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyDimGrey1,
.hover_shadow_bottom_glassyDimGrey1:hover,
.active_shadow_bottom_glassyDimGrey1:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(208, 208, 208, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(208, 208, 208, .39);
    box-shadow: 0em 0.5em 1em rgba(208, 208, 208, .39);
}

.shadow_bottom_glassyDimGrey1h,
.hover_shadow_bottom_glassyDimGrey1h:hover,
.active_shadow_bottom_glassyDimGrey1h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(249, 249, 249, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(249, 249, 249, .50);
    box-shadow: 0em 0.5em 1em rgba(249, 249, 249, .50);
}

.shadow_bottom_glassyDimGrey1a,
.hover_shadow_bottom_glassyDimGrey1a:hover,
.active_shadow_bottom_glassyDimGrey1a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(225, 225, 225, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(225, 225, 225, .63);
    box-shadow: 0em 0.5em 1em rgba(225, 225, 225, .63);
}

.shadow_bottom_glassyDimGrey1s,
.hover_shadow_bottom_glassyDimGrey1s:hover,
.active_shadow_bottom_glassyDimGrey1s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(225, 225, 225, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(225, 225, 225, .78);
    box-shadow: 0em 0.5em 1em rgba(225, 225, 225, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyDimGrey1,
.hover_shadow_top_left_glassyDimGrey1:hover,
.active_shadow_top_left_glassyDimGrey1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(208, 208, 208, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(208, 208, 208, .39);
    box-shadow: -0.5em -0.5em 1em rgba(208, 208, 208, .39);
}

.shadow_top_left_glassyDimGrey1h,
.hover_shadow_top_left_glassyDimGrey1h:hover,
.active_shadow_top_left_glassyDimGrey1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(249, 249, 249, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(249, 249, 249, .50);
    box-shadow: -0.5em -0.5em 1em rgba(249, 249, 249, .50);
}

.shadow_top_left_glassyDimGrey1a,
.hover_shadow_top_left_glassyDimGrey1a:hover,
.active_shadow_top_left_glassyDimGrey1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(225, 225, 225, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(225, 225, 225, .63);
    box-shadow: -0.5em -0.5em 1em rgba(225, 225, 225, .63);
}

.shadow_top_left_glassyDimGrey1s,
.hover_shadow_top_left_glassyDimGrey1s:hover,
.active_shadow_top_left_glassyDimGrey1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(225, 225, 225, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(225, 225, 225, .78);
    box-shadow: -0.5em -0.5em 1em rgba(225, 225, 225, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyDimGrey1,
.hover_shadow_top_right_glassyDimGrey1:hover,
.active_shadow_top_right_glassyDimGrey1:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(208, 208, 208, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(208, 208, 208, .39);
    box-shadow: 0.5em -0.5em 1em rgba(208, 208, 208, .39);
}

.shadow_top_right_glassyDimGrey1h,
.hover_shadow_top_right_glassyDimGrey1h:hover,
.active_shadow_top_right_glassyDimGrey1h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(249, 249, 249, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(249, 249, 249, .50);
    box-shadow: 0.5em -0.5em 1em rgba(249, 249, 249, .50);
}

.shadow_top_right_glassyDimGrey1a,
.hover_shadow_top_right_glassyDimGrey1a:hover,
.active_shadow_top_right_glassyDimGrey1a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(225, 225, 225, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(225, 225, 225, .63);
    box-shadow: 0.5em -0.5em 1em rgba(225, 225, 225, .63);
}

.shadow_top_right_glassyDimGrey1s,
.hover_shadow_top_right_glassyDimGrey1s:hover,
.active_shadow_top_right_glassyDimGrey1s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(225, 225, 225, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(225, 225, 225, .78);
    box-shadow: 0.5em -0.5em 1em rgba(225, 225, 225, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyDimGrey1,
.hover_shadow_bottom_left_glassyDimGrey1:hover,
.active_shadow_bottom_left_glassyDimGrey1:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(208, 208, 208, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(208, 208, 208, .39);
    box-shadow: -0.5em 0.5em 1em rgba(208, 208, 208, .39);
}

.shadow_bottom_left_glassyDimGrey1h,
.hover_shadow_bottom_left_glassyDimGrey1h:hover,
.active_shadow_bottom_left_glassyDimGrey1h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(249, 249, 249, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(249, 249, 249, .50);
    box-shadow: -0.5em 0.5em 1em rgba(249, 249, 249, .50);
}

.shadow_bottom_left_glassyDimGrey1a,
.hover_shadow_bottom_left_glassyDimGrey1a:hover,
.active_shadow_bottom_left_glassyDimGrey1a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(225, 225, 225, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(225, 225, 225, .63);
    box-shadow: -0.5em 0.5em 1em rgba(225, 225, 225, .63);
}

.shadow_bottom_left_glassyDimGrey1s,
.hover_shadow_bottom_left_glassyDimGrey1s:hover,
.active_shadow_bottom_left_glassyDimGrey1s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(225, 225, 225, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(225, 225, 225, .78);
    box-shadow: -0.5em 0.5em 1em rgba(225, 225, 225, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyDimGrey1,
.hover_shadow_bottom_right_glassyDimGrey1:hover,
.active_shadow_bottom_right_glassyDimGrey1:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(208, 208, 208, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(208, 208, 208, .39);
    box-shadow: 0.5em 0.5em 1em rgba(208, 208, 208, .39);
}

.shadow_bottom_right_glassyDimGrey1h,
.hover_shadow_bottom_right_glassyDimGrey1h:hover,
.active_shadow_bottom_right_glassyDimGrey1h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(249, 249, 249, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(249, 249, 249, .50);
    box-shadow: 0.5em 0.5em 1em rgba(249, 249, 249, .50);
}

.shadow_bottom_right_glassyDimGrey1a,
 .hover_shadow_bottom_right_glassyDimGrey1a:hover,
 .active_shadow_bottom_right_glassyDimGrey1a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(225, 225, 225, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(225, 225, 225, .63);
     box-shadow: 0.5em 0.5em 1em rgba(225, 225, 225, .63);
 }

 .shadow_bottom_right_glassyDimGrey1s,
 .hover_shadow_bottom_right_glassyDimGrey1s:hover,
 .active_shadow_bottom_right_glassyDimGrey1s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(225, 225, 225, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(225, 225, 225, .78);
     box-shadow: 0.5em 0.5em 1em rgba(225, 225, 225, .78);
 }