.background_orchid4,
.hover_background_orchid4:hover,
.active_background_orchid4:active:hover {
    background: #a42ba0;
    background-image: -moz-linear-gradient(top,  rgb(203, 55, 198) 0%, rgb(164, 43, 160) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(203, 55, 198)), color-stop(100%, rgb(164, 43, 160)));
    background-image: -webkit-linear-gradient(top,  rgb(203, 55, 198) 0%, rgb(164, 43, 160) 100%);
    background-image: -o-linear-gradient(top,  rgb(203, 55, 198) 0%, rgb(164, 43, 160) 100%);
    background-image: -ms-linear-gradient(top, rgb(203, 55, 198) 0%, rgb(164, 43, 160) 100%);
    background-image: linear-gradient(to bottom,  rgb(203, 55, 198) 0%, rgb(164, 43, 160) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb37c6', endColorstr='#a42ba0',GradientType=0 );
}

.background_orchid4h,
.hover_background_orchid4h:hover,
.active_background_orchid4h:active:hover {
    background: #a42ba0;
    background-image: -moz-linear-gradient(top,  rgb(214, 96, 210) 0%, rgb(197, 51, 192) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(214, 96, 210)), color-stop(100%, rgb(197, 51, 192)));
    background-image: -webkit-linear-gradient(top,  rgb(214, 96, 210) 0%, rgb(197, 51, 192) 100%);
    background-image: -o-linear-gradient(top,  rgb(214, 96, 210) 0%, rgb(197, 51, 192) 100%);
    background-image: -ms-linear-gradient(top, rgb(214, 96, 210) 0%, rgb(197, 51, 192) 100%);
    background-image: linear-gradient(to bottom,  rgb(214, 96, 210) 0%, rgb(197, 51, 192) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d660d2', endColorstr='#c533c0',GradientType=0 );
}

.background_orchid4a,
.hover_background_orchid4a:hover,
.active_background_orchid4a:active:hover {
    background: #a42ba0;
    background-image: -moz-linear-gradient(top,  rgb(197, 51, 192) 0%, rgb(214, 96, 210) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(197, 51, 192)), color-stop(100%, rgb(214, 96, 210)));
    background-image: -webkit-linear-gradient(top,  rgb(197, 51, 192) 0%, rgb(214, 96, 210) 100%);
    background-image: -o-linear-gradient(top,  rgb(197, 51, 192) 0%, rgb(214, 96, 210) 100%);
    background-image: -ms-linear-gradient(top, rgb(197, 51, 192) 0%, rgb(214, 96, 210) 100%);
    background-image: linear-gradient(to bottom,  rgb(197, 51, 192) 0%, rgb(214, 96, 210) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c533c0', endColorstr='#d660d2',GradientType=0 );
}

.background_orchid4s,
.hover_background_orchid4s:hover,
.active_background_orchid4s:active:hover {
    background: #a42ba0;
    background-image: -moz-linear-gradient(top,  rgb(230, 158, 227) 0%, rgb(214, 96, 210) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(230, 158, 227)), color-stop(100%, rgb(214, 96, 210)));
    background-image: -webkit-linear-gradient(top,  rgb(230, 158, 227) 0%, rgb(214, 96, 210) 100%);
    background-image: -o-linear-gradient(top,  rgb(230, 158, 227) 0%, rgb(214, 96, 210) 100%);
    background-image: -ms-linear-gradient(top, rgb(230, 158, 227) 0%, rgb(214, 96, 210) 100%);
    background-image: linear-gradient(to bottom,  rgb(230, 158, 227) 0%, rgb(214, 96, 210) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e69ee3', endColorstr='#d660d2',GradientType=0 );
}

.background_color_orchid4,
.hover_background_color_orchid4:hover,
.active_background_color_orchid4:active:hover {
    background-color:#a42ba0;
}

.background_first_color_orchid4,
.hover_background_first_color_orchid4:hover,
.active_background_first_color_orchid4:active:hover {
    background-color:#cb37c6;
}

.background_last_color_orchid4,
.hover_background_last_color_orchid4:hover,
.active_background_color_last_orchid4:active:hover {
   background-color:#a42ba0;
}

/* ------------------------------ color settings -------------------------------*/
.color_orchid4,
.hover_color_orchid4:hover,
.active_color_orchid4:active:hover {
    color: #c8c8c8;
}

.color_orchid4h,
.hover_color_orchid4h:hover,
.active_color_orchid4h:active:hover {
    color: #c8c8c8;
}

.color_orchid4a,
.hover_color_orchid4a:hover,
.active_color_orchid4a:active:hover {
    color: #ff0;
}

.color_orchid4s,
.hover_color_orchid4s:hover,
.active_color_orchid4s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_orchid4,
.hover_border_orchid4:hover,
.active_border_orchid4:active:hover {
    border-color: #a42ba0 #a42ba0 #a42ba0 #a42ba0;
}

.border_orchid4h,
.hover_border_orchid4h:hover,
.active_border_orchid4h:active:hover {
    border-color: #942690 #942690 #942690 #942690;
}

.border_orchid4a,
.hover_border_orchid4a:hover,
.active_border_orchid4a:active:hover {
    border-color: #842280 #842280 #842280 #842280;
}

.border_orchid4s,
.hover_border_orchid4s:hover,
.active_border_orchid4s:active:hover {
    border-color: #d660d2 #d660d2 #d660d2 #d660d2;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_orchid4,
.hover_shadow_expand_orchid4:hover,
.active_shadow_expand_orchid4:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(164, 43, 160, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(164, 43, 160, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(164, 43, 160, .39);
}

.shadow_expand_orchid4h,
.hover_shadow_expand_orchid4h:hover,
.active_shadow_expand_orchid4h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(197, 51, 192, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(197, 51, 192, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(197, 51, 192, .50);
}

.shadow_expand_orchid4a,
.hover_shadow_expand_orchid4a:hover,
.active_shadow_expand_orchid4a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(214, 96, 210, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(214, 96, 210, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(214, 96, 210, .63);
}

.shadow_expand_orchid4s,
.hover_shadow_expand_orchid4s:hover,
.active_shadow_expand_orchid4s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(214, 96, 210, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(214, 96, 210, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(214, 96, 210, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_orchid4,
.hover_shadow_left_orchid4:hover,
.active_shadow_left_orchid4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(164, 43, 160, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(164, 43, 160, .39);
    box-shadow: -0.5em -0.5em 1em rgba(164, 43, 160, .39);
}

.shadow_left_orchid4h,
.hover_shadow_left_orchid4h:hover,
.active_shadow_left_orchid4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(197, 51, 192, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(197, 51, 192, .50);
    box-shadow: -0.5em -0.5em 1em rgba(197, 51, 192, .50);
}

.shadow_left_orchid4a,
.hover_shadow_left_orchid4a:hover,
.active_shadow_left_orchid4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(214, 96, 210, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(214, 96, 210, .63);
    box-shadow: -0.5em -0.5em 1em rgba(214, 96, 210, .63);
}

.shadow_left_orchid4s,
.hover_shadow_left_orchid4s:hover,
.active_shadow_left_orchid4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(214, 96, 210, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(214, 96, 210, .78);
    box-shadow: -0.5em -0.5em 1em rgba(214, 96, 210, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_orchid4,
.hover_shadow_right_orchid4:hover,
.active_shadow_right_orchid4:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(164, 43, 160, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(164, 43, 160, .39);
    box-shadow: 0.5em 0em 1em rgba(164, 43, 160, .39);
}

.shadow_right_orchid4h,
.hover_shadow_right_orchid4h:hover,
.active_shadow_right_orchid4h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(197, 51, 192, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(197, 51, 192, .50);
    box-shadow: 0.5em 0em 1em rgba(197, 51, 192, .50);
}

.shadow_right_orchid4a,
.hover_shadow_right_orchid4a:hover,
.active_shadow_right_orchid4a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(214, 96, 210, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(214, 96, 210, .63);
    box-shadow: 0.5em 0em 1em rgba(214, 96, 210, .63);
}

.shadow_right_orchid4s,
.hover_shadow_right_orchid4s:hover,
.active_shadow_right_orchid4s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(214, 96, 210, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(214, 96, 210, .78);
    box-shadow: 0.5em 0em 1em rgba(214, 96, 210, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_orchid4,
.hover_shadow_top_orchid4:hover,
.active_shadow_top_orchid4:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(164, 43, 160, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(164, 43, 160, .39);
    box-shadow: 0em -0.5em 1em rgba(164, 43, 160, .39);
}

.shadow_top_orchid4h,
.hover_shadow_top_orchid4h:hover,
.active_shadow_top_orchid4h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(197, 51, 192, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(197, 51, 192, .50);
    box-shadow: 0em -0.5em 1em rgba(197, 51, 192, .50);
}

.shadow_top_orchid4a,
.hover_shadow_top_orchid4a:hover,
.active_shadow_top_orchid4a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(214, 96, 210, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(214, 96, 210, .63);
    box-shadow: 0em -0.5em 1em rgba(214, 96, 210, .63);
}

.shadow_top_orchid4s,
.hover_shadow_top_orchid4s:hover,
.active_shadow_top_orchid4s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(214, 96, 210, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(214, 96, 210, .78);
    box-shadow: 0em -0.5em 1em rgba(214, 96, 210, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_orchid4,
.hover_shadow_bottom_orchid4:hover,
.active_shadow_bottom_orchid4:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(164, 43, 160, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(164, 43, 160, .39);
    box-shadow: 0em 0.5em 1em rgba(164, 43, 160, .39);
}

.shadow_bottom_orchid4h,
.hover_shadow_bottom_orchid4h:hover,
.active_shadow_bottom_orchid4h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(197, 51, 192, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(197, 51, 192, .50);
    box-shadow: 0em 0.5em 1em rgba(197, 51, 192, .50);
}

.shadow_bottom_orchid4a,
.hover_shadow_bottom_orchid4a:hover,
.active_shadow_bottom_orchid4a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(214, 96, 210, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(214, 96, 210, .63);
    box-shadow: 0em 0.5em 1em rgba(214, 96, 210, .63);
}

.shadow_bottom_orchid4s,
.hover_shadow_bottom_orchid4s:hover,
.active_shadow_bottom_orchid4s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(214, 96, 210, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(214, 96, 210, .78);
    box-shadow: 0em 0.5em 1em rgba(214, 96, 210, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_orchid4,
.hover_shadow_top_left_orchid4:hover,
.active_shadow_top_left_orchid4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(164, 43, 160, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(164, 43, 160, .39);
    box-shadow: -0.5em -0.5em 1em rgba(164, 43, 160, .39);
}

.shadow_top_left_orchid4h,
.hover_shadow_top_left_orchid4h:hover,
.active_shadow_top_left_orchid4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(197, 51, 192, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(197, 51, 192, .50);
    box-shadow: -0.5em -0.5em 1em rgba(197, 51, 192, .50);
}

.shadow_top_left_orchid4a,
.hover_shadow_top_left_orchid4a:hover,
.active_shadow_top_left_orchid4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(214, 96, 210, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(214, 96, 210, .63);
    box-shadow: -0.5em -0.5em 1em rgba(214, 96, 210, .63);
}

.shadow_top_left_orchid4s,
.hover_shadow_top_left_orchid4s:hover,
.active_shadow_top_left_orchid4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(214, 96, 210, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(214, 96, 210, .78);
    box-shadow: -0.5em -0.5em 1em rgba(214, 96, 210, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_orchid4,
.hover_shadow_top_right_orchid4:hover,
.active_shadow_top_right_orchid4:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(164, 43, 160, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(164, 43, 160, .39);
    box-shadow: 0.5em -0.5em 1em rgba(164, 43, 160, .39);
}

.shadow_top_right_orchid4h,
.hover_shadow_top_right_orchid4h:hover,
.active_shadow_top_right_orchid4h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(197, 51, 192, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(197, 51, 192, .50);
    box-shadow: 0.5em -0.5em 1em rgba(197, 51, 192, .50);
}

.shadow_top_right_orchid4a,
.hover_shadow_top_right_orchid4a:hover,
.active_shadow_top_right_orchid4a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(214, 96, 210, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(214, 96, 210, .63);
    box-shadow: 0.5em -0.5em 1em rgba(214, 96, 210, .63);
}

.shadow_top_right_orchid4s,
.hover_shadow_top_right_orchid4s:hover,
.active_shadow_top_right_orchid4s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(214, 96, 210, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(214, 96, 210, .78);
    box-shadow: 0.5em -0.5em 1em rgba(214, 96, 210, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_orchid4,
.hover_shadow_bottom_left_orchid4:hover,
.active_shadow_bottom_left_orchid4:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(164, 43, 160, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(164, 43, 160, .39);
    box-shadow: -0.5em 0.5em 1em rgba(164, 43, 160, .39);
}

.shadow_bottom_left_orchid4h,
.hover_shadow_bottom_left_orchid4h:hover,
.active_shadow_bottom_left_orchid4h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(197, 51, 192, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(197, 51, 192, .50);
    box-shadow: -0.5em 0.5em 1em rgba(197, 51, 192, .50);
}

.shadow_bottom_left_orchid4a,
.hover_shadow_bottom_left_orchid4a:hover,
.active_shadow_bottom_left_orchid4a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(214, 96, 210, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(214, 96, 210, .63);
    box-shadow: -0.5em 0.5em 1em rgba(214, 96, 210, .63);
}

.shadow_bottom_left_orchid4s,
.hover_shadow_bottom_left_orchid4s:hover,
.active_shadow_bottom_left_orchid4s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(214, 96, 210, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(214, 96, 210, .78);
    box-shadow: -0.5em 0.5em 1em rgba(214, 96, 210, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_orchid4,
.hover_shadow_bottom_right_orchid4:hover,
.active_shadow_bottom_right_orchid4:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(164, 43, 160, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(164, 43, 160, .39);
    box-shadow: 0.5em 0.5em 1em rgba(164, 43, 160, .39);
}

.shadow_bottom_right_orchid4h,
.hover_shadow_bottom_right_orchid4h:hover,
.active_shadow_bottom_right_orchid4h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(197, 51, 192, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(197, 51, 192, .50);
    box-shadow: 0.5em 0.5em 1em rgba(197, 51, 192, .50);
}

.shadow_bottom_right_orchid4a,
 .hover_shadow_bottom_right_orchid4a:hover,
 .active_shadow_bottom_right_orchid4a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(214, 96, 210, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(214, 96, 210, .63);
     box-shadow: 0.5em 0.5em 1em rgba(214, 96, 210, .63);
 }

 .shadow_bottom_right_orchid4s,
 .hover_shadow_bottom_right_orchid4s:hover,
 .active_shadow_bottom_right_orchid4s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(214, 96, 210, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(214, 96, 210, .78);
     box-shadow: 0.5em 0.5em 1em rgba(214, 96, 210, .78);
 }