.background_orchid7,
.hover_background_orchid7:hover,
.active_background_orchid7:active:hover {
    background: #691b66;
    background-image: -moz-linear-gradient(top,  rgb(131, 34, 127) 0%, rgb(105, 27, 102) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(131, 34, 127)), color-stop(100%, rgb(105, 27, 102)));
    background-image: -webkit-linear-gradient(top,  rgb(131, 34, 127) 0%, rgb(105, 27, 102) 100%);
    background-image: -o-linear-gradient(top,  rgb(131, 34, 127) 0%, rgb(105, 27, 102) 100%);
    background-image: -ms-linear-gradient(top, rgb(131, 34, 127) 0%, rgb(105, 27, 102) 100%);
    background-image: linear-gradient(to bottom,  rgb(131, 34, 127) 0%, rgb(105, 27, 102) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83227f', endColorstr='#691b66',GradientType=0 );
}

.background_orchid7h,
.hover_background_orchid7h:hover,
.active_background_orchid7h:active:hover {
    background: #691b66;
    background-image: -moz-linear-gradient(top,  rgb(157, 41, 152) 0%, rgb(125, 32, 122) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(157, 41, 152)), color-stop(100%, rgb(125, 32, 122)));
    background-image: -webkit-linear-gradient(top,  rgb(157, 41, 152) 0%, rgb(125, 32, 122) 100%);
    background-image: -o-linear-gradient(top,  rgb(157, 41, 152) 0%, rgb(125, 32, 122) 100%);
    background-image: -ms-linear-gradient(top, rgb(157, 41, 152) 0%, rgb(125, 32, 122) 100%);
    background-image: linear-gradient(to bottom,  rgb(157, 41, 152) 0%, rgb(125, 32, 122) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d2998', endColorstr='#7d207a',GradientType=0 );
}

.background_orchid7a,
.hover_background_orchid7a:hover,
.active_background_orchid7a:active:hover {
    background: #691b66;
    background-image: -moz-linear-gradient(top,  rgb(125, 32, 122) 0%, rgb(157, 41, 152) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(125, 32, 122)), color-stop(100%, rgb(157, 41, 152)));
    background-image: -webkit-linear-gradient(top,  rgb(125, 32, 122) 0%, rgb(157, 41, 152) 100%);
    background-image: -o-linear-gradient(top,  rgb(125, 32, 122) 0%, rgb(157, 41, 152) 100%);
    background-image: -ms-linear-gradient(top, rgb(125, 32, 122) 0%, rgb(157, 41, 152) 100%);
    background-image: linear-gradient(to bottom,  rgb(125, 32, 122) 0%, rgb(157, 41, 152) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d207a', endColorstr='#9d2998',GradientType=0 );
}

.background_orchid7s,
.hover_background_orchid7s:hover,
.active_background_orchid7s:active:hover {
    background: #691b66;
    background-image: -moz-linear-gradient(top,  rgb(196, 51, 190) 0%, rgb(157, 41, 152) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(196, 51, 190)), color-stop(100%, rgb(157, 41, 152)));
    background-image: -webkit-linear-gradient(top,  rgb(196, 51, 190) 0%, rgb(157, 41, 152) 100%);
    background-image: -o-linear-gradient(top,  rgb(196, 51, 190) 0%, rgb(157, 41, 152) 100%);
    background-image: -ms-linear-gradient(top, rgb(196, 51, 190) 0%, rgb(157, 41, 152) 100%);
    background-image: linear-gradient(to bottom,  rgb(196, 51, 190) 0%, rgb(157, 41, 152) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c433be', endColorstr='#9d2998',GradientType=0 );
}

.background_color_orchid7,
.hover_background_color_orchid7:hover,
.active_background_color_orchid7:active:hover {
    background-color:#691b66;
}

.background_first_color_orchid7,
.hover_background_first_color_orchid7:hover,
.active_background_first_color_orchid7:active:hover {
    background-color:#83227f;
}

.background_last_color_orchid7,
.hover_background_last_color_orchid7:hover,
.active_background_color_last_orchid7:active:hover {
   background-color:#691b66;
}

/* ------------------------------ color settings -------------------------------*/
.color_orchid7,
.hover_color_orchid7:hover,
.active_color_orchid7:active:hover {
    color: #c8c8c8;
}

.color_orchid7h,
.hover_color_orchid7h:hover,
.active_color_orchid7h:active:hover {
    color: #c8c8c8;
}

.color_orchid7a,
.hover_color_orchid7a:hover,
.active_color_orchid7a:active:hover {
    color: #ff0;
}

.color_orchid7s,
.hover_color_orchid7s:hover,
.active_color_orchid7s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_orchid7,
.hover_border_orchid7:hover,
.active_border_orchid7:active:hover {
    border-color: #691b66 #691b66 #691b66 #691b66;
}

.border_orchid7h,
.hover_border_orchid7h:hover,
.active_border_orchid7h:active:hover {
    border-color: #5e185b #5e185b #5e185b #5e185b;
}

.border_orchid7a,
.hover_border_orchid7a:hover,
.active_border_orchid7a:active:hover {
    border-color: #541651 #541651 #541651 #541651;
}

.border_orchid7s,
.hover_border_orchid7s:hover,
.active_border_orchid7s:active:hover {
    border-color: #9d2998 #9d2998 #9d2998 #9d2998;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_orchid7,
.hover_shadow_expand_orchid7:hover,
.active_shadow_expand_orchid7:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(105, 27, 102, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(105, 27, 102, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(105, 27, 102, .39);
}

.shadow_expand_orchid7h,
.hover_shadow_expand_orchid7h:hover,
.active_shadow_expand_orchid7h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(125, 32, 122, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(125, 32, 122, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(125, 32, 122, .50);
}

.shadow_expand_orchid7a,
.hover_shadow_expand_orchid7a:hover,
.active_shadow_expand_orchid7a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(157, 41, 152, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(157, 41, 152, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(157, 41, 152, .63);
}

.shadow_expand_orchid7s,
.hover_shadow_expand_orchid7s:hover,
.active_shadow_expand_orchid7s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(157, 41, 152, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(157, 41, 152, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(157, 41, 152, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_orchid7,
.hover_shadow_left_orchid7:hover,
.active_shadow_left_orchid7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(105, 27, 102, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(105, 27, 102, .39);
    box-shadow: -0.5em -0.5em 1em rgba(105, 27, 102, .39);
}

.shadow_left_orchid7h,
.hover_shadow_left_orchid7h:hover,
.active_shadow_left_orchid7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(125, 32, 122, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(125, 32, 122, .50);
    box-shadow: -0.5em -0.5em 1em rgba(125, 32, 122, .50);
}

.shadow_left_orchid7a,
.hover_shadow_left_orchid7a:hover,
.active_shadow_left_orchid7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 41, 152, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 41, 152, .63);
    box-shadow: -0.5em -0.5em 1em rgba(157, 41, 152, .63);
}

.shadow_left_orchid7s,
.hover_shadow_left_orchid7s:hover,
.active_shadow_left_orchid7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 41, 152, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 41, 152, .78);
    box-shadow: -0.5em -0.5em 1em rgba(157, 41, 152, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_orchid7,
.hover_shadow_right_orchid7:hover,
.active_shadow_right_orchid7:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(105, 27, 102, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(105, 27, 102, .39);
    box-shadow: 0.5em 0em 1em rgba(105, 27, 102, .39);
}

.shadow_right_orchid7h,
.hover_shadow_right_orchid7h:hover,
.active_shadow_right_orchid7h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(125, 32, 122, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(125, 32, 122, .50);
    box-shadow: 0.5em 0em 1em rgba(125, 32, 122, .50);
}

.shadow_right_orchid7a,
.hover_shadow_right_orchid7a:hover,
.active_shadow_right_orchid7a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(157, 41, 152, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(157, 41, 152, .63);
    box-shadow: 0.5em 0em 1em rgba(157, 41, 152, .63);
}

.shadow_right_orchid7s,
.hover_shadow_right_orchid7s:hover,
.active_shadow_right_orchid7s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(157, 41, 152, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(157, 41, 152, .78);
    box-shadow: 0.5em 0em 1em rgba(157, 41, 152, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_orchid7,
.hover_shadow_top_orchid7:hover,
.active_shadow_top_orchid7:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(105, 27, 102, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(105, 27, 102, .39);
    box-shadow: 0em -0.5em 1em rgba(105, 27, 102, .39);
}

.shadow_top_orchid7h,
.hover_shadow_top_orchid7h:hover,
.active_shadow_top_orchid7h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(125, 32, 122, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(125, 32, 122, .50);
    box-shadow: 0em -0.5em 1em rgba(125, 32, 122, .50);
}

.shadow_top_orchid7a,
.hover_shadow_top_orchid7a:hover,
.active_shadow_top_orchid7a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(157, 41, 152, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(157, 41, 152, .63);
    box-shadow: 0em -0.5em 1em rgba(157, 41, 152, .63);
}

.shadow_top_orchid7s,
.hover_shadow_top_orchid7s:hover,
.active_shadow_top_orchid7s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(157, 41, 152, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(157, 41, 152, .78);
    box-shadow: 0em -0.5em 1em rgba(157, 41, 152, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_orchid7,
.hover_shadow_bottom_orchid7:hover,
.active_shadow_bottom_orchid7:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(105, 27, 102, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(105, 27, 102, .39);
    box-shadow: 0em 0.5em 1em rgba(105, 27, 102, .39);
}

.shadow_bottom_orchid7h,
.hover_shadow_bottom_orchid7h:hover,
.active_shadow_bottom_orchid7h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(125, 32, 122, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(125, 32, 122, .50);
    box-shadow: 0em 0.5em 1em rgba(125, 32, 122, .50);
}

.shadow_bottom_orchid7a,
.hover_shadow_bottom_orchid7a:hover,
.active_shadow_bottom_orchid7a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(157, 41, 152, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(157, 41, 152, .63);
    box-shadow: 0em 0.5em 1em rgba(157, 41, 152, .63);
}

.shadow_bottom_orchid7s,
.hover_shadow_bottom_orchid7s:hover,
.active_shadow_bottom_orchid7s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(157, 41, 152, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(157, 41, 152, .78);
    box-shadow: 0em 0.5em 1em rgba(157, 41, 152, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_orchid7,
.hover_shadow_top_left_orchid7:hover,
.active_shadow_top_left_orchid7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(105, 27, 102, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(105, 27, 102, .39);
    box-shadow: -0.5em -0.5em 1em rgba(105, 27, 102, .39);
}

.shadow_top_left_orchid7h,
.hover_shadow_top_left_orchid7h:hover,
.active_shadow_top_left_orchid7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(125, 32, 122, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(125, 32, 122, .50);
    box-shadow: -0.5em -0.5em 1em rgba(125, 32, 122, .50);
}

.shadow_top_left_orchid7a,
.hover_shadow_top_left_orchid7a:hover,
.active_shadow_top_left_orchid7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 41, 152, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 41, 152, .63);
    box-shadow: -0.5em -0.5em 1em rgba(157, 41, 152, .63);
}

.shadow_top_left_orchid7s,
.hover_shadow_top_left_orchid7s:hover,
.active_shadow_top_left_orchid7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 41, 152, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 41, 152, .78);
    box-shadow: -0.5em -0.5em 1em rgba(157, 41, 152, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_orchid7,
.hover_shadow_top_right_orchid7:hover,
.active_shadow_top_right_orchid7:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(105, 27, 102, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(105, 27, 102, .39);
    box-shadow: 0.5em -0.5em 1em rgba(105, 27, 102, .39);
}

.shadow_top_right_orchid7h,
.hover_shadow_top_right_orchid7h:hover,
.active_shadow_top_right_orchid7h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(125, 32, 122, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(125, 32, 122, .50);
    box-shadow: 0.5em -0.5em 1em rgba(125, 32, 122, .50);
}

.shadow_top_right_orchid7a,
.hover_shadow_top_right_orchid7a:hover,
.active_shadow_top_right_orchid7a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(157, 41, 152, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(157, 41, 152, .63);
    box-shadow: 0.5em -0.5em 1em rgba(157, 41, 152, .63);
}

.shadow_top_right_orchid7s,
.hover_shadow_top_right_orchid7s:hover,
.active_shadow_top_right_orchid7s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(157, 41, 152, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(157, 41, 152, .78);
    box-shadow: 0.5em -0.5em 1em rgba(157, 41, 152, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_orchid7,
.hover_shadow_bottom_left_orchid7:hover,
.active_shadow_bottom_left_orchid7:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(105, 27, 102, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(105, 27, 102, .39);
    box-shadow: -0.5em 0.5em 1em rgba(105, 27, 102, .39);
}

.shadow_bottom_left_orchid7h,
.hover_shadow_bottom_left_orchid7h:hover,
.active_shadow_bottom_left_orchid7h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(125, 32, 122, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(125, 32, 122, .50);
    box-shadow: -0.5em 0.5em 1em rgba(125, 32, 122, .50);
}

.shadow_bottom_left_orchid7a,
.hover_shadow_bottom_left_orchid7a:hover,
.active_shadow_bottom_left_orchid7a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(157, 41, 152, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(157, 41, 152, .63);
    box-shadow: -0.5em 0.5em 1em rgba(157, 41, 152, .63);
}

.shadow_bottom_left_orchid7s,
.hover_shadow_bottom_left_orchid7s:hover,
.active_shadow_bottom_left_orchid7s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(157, 41, 152, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(157, 41, 152, .78);
    box-shadow: -0.5em 0.5em 1em rgba(157, 41, 152, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_orchid7,
.hover_shadow_bottom_right_orchid7:hover,
.active_shadow_bottom_right_orchid7:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(105, 27, 102, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(105, 27, 102, .39);
    box-shadow: 0.5em 0.5em 1em rgba(105, 27, 102, .39);
}

.shadow_bottom_right_orchid7h,
.hover_shadow_bottom_right_orchid7h:hover,
.active_shadow_bottom_right_orchid7h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(125, 32, 122, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(125, 32, 122, .50);
    box-shadow: 0.5em 0.5em 1em rgba(125, 32, 122, .50);
}

.shadow_bottom_right_orchid7a,
 .hover_shadow_bottom_right_orchid7a:hover,
 .active_shadow_bottom_right_orchid7a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(157, 41, 152, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(157, 41, 152, .63);
     box-shadow: 0.5em 0.5em 1em rgba(157, 41, 152, .63);
 }

 .shadow_bottom_right_orchid7s,
 .hover_shadow_bottom_right_orchid7s:hover,
 .active_shadow_bottom_right_orchid7s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(157, 41, 152, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(157, 41, 152, .78);
     box-shadow: 0.5em 0.5em 1em rgba(157, 41, 152, .78);
 }