.aquaPaleTurquoise3,
.hover_aquaPaleTurquoise3:hover,
.active_aquaPaleTurquoise3:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(155, 234, 226, .39),
           inset 0 -0.5em 0.9em 0 #eefdf9,
           inset 0 -0.5em 0em 0.65em rgb(87, 251, 237),
           inset 0 0em 0.5em 2em rgb(225, 241, 239);
    -moz-box-shadow: 0 0.63em 0.75em rgba(155, 234, 226, .39),
           inset 0 -0.5em 0.9em 0 #eefdf9,
           inset 0 -0.5em 0em 0.65em rgb(87, 251, 237),
           inset 0 0em 0.5em 2em rgb(225, 241, 239);
    box-shadow: 0 0.63em 0.75em rgba(155, 234, 226, .39),
           inset 0 -0.5em 0.9em 0 #eefdf9,
           inset 0 -0.5em 0em 0.65em rgb(87, 251, 237),
           inset 0 0em 0.5em 2em rgb(225, 241, 239);
}

.aquaPaleTurquoise3h,
.hover_aquaPaleTurquoise3h:hover,
.active_aquaPaleTurquoise3h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(176, 238, 232, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #c2f6f2,
           inset 0 0em 0.5em 2em #ffffff;
    -moz-box-shadow:0 0.63em 1em rgba(176, 238, 232, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #c2f6f2,
           inset 0 0em 0.5em 2em #ffffff;
    box-shadow:0 0.63em 1em rgba(176, 238, 232, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #c2f6f2,
           inset 0 0em 0.5em 2em #ffffff;
}

.aquaPaleTurquoise3a,
.hover_aquaPaleTurquoise3a:hover,
.active_aquaPaleTurquoise3a:active {
    /*background: #4ad9d9;*/

    -webkit-box-shadow:0 0.63em 1em rgba(100, 238, 224, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #87f9ef,
           inset 0 0em 0.5em 2em #d8f9f7;
    -moz-box-shadow:0 0.63em 1em rgba(100, 238, 224, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #87f9ef,
           inset 0 0em 0.5em 2em #d8f9f7;
    box-shadow:0 0.63em 1em rgba(100, 238, 224, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #87f9ef,
           inset 0 0em 0.5em 2em #d8f9f7;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaPaleTurquoise3,
.hover_color_aquaPaleTurquoise3:hover,
.active_color_aquaPaleTurquoise3:active {
    color: #282828;
}

.color_aquaPaleTurquoise3h,
.hover_color_aquaPaleTurquoise3h:hover,
.active_color_aquaPaleTurquoise3h:active {
    color: #282828;
}

.color_aquaPaleTurquoise3a,
.hover_color_aquaPaleTurquoise3a:hover,
.active_color_aquaPaleTurquoise3a:active {
    color: #282828;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaPaleTurquoise3,
.hover_border_aquaPaleTurquoise3:hover,
.active_border_aquaPaleTurquoise3:active {
    border-color: #4ad9d9 #4ad9d9 #4ad9d9 #4ad9d9;
}

.border_aquaPaleTurquoise3h,
.hover_border_aquaPaleTurquoise3h:hover,
.active_border_aquaPaleTurquoise3h:active {
    border-color: #4ad9d9 #4ad9d9 #4ad9d9 #4ad9d9;
}

.border_aquaPaleTurquoise3a,
.hover_border_aquaPaleTurquoise3a:hover,
.active_border_aquaPaleTurquoise3a:active  {
    border-color: #4ad9d9 #4ad9d9 #4ad9d9 #4ad9d9;
}

