.background_glassyWhite1,
.hover_background_glassyWhite1:hover,
.active_background_glassyWhite1:active:hover {
    background: #ffffff;
    background-image: -moz-linear-gradient(top,  rgb(230, 230, 230) 0%, rgb(204, 204, 204) 50%, rgb(179, 179, 179) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(230, 230, 230)), color-stop(50%, rgb(204, 204, 204)), color-stop(55%, rgb(179, 179, 179)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(230, 230, 230) 0%, rgb(204, 204, 204) 50%, rgb(179, 179, 179) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(230, 230, 230) 0%, rgb(204, 204, 204) 50%, rgb(179, 179, 179) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(230, 230, 230) 0%, rgb(204, 204, 204) 50%, rgb(179, 179, 179) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(230, 230, 230) 0%, rgb(204, 204, 204) 50%, rgb(179, 179, 179) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 );
}

.background_glassyWhite1h,
.hover_background_glassyWhite1h:hover,
.active_background_glassyWhite1h:active:hover {
    background: #ffffff;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(245, 245, 245) 50%, rgb(214, 214, 214) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(245, 245, 245)), color-stop(55%, rgb(214, 214, 214)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(245, 245, 245) 50%, rgb(214, 214, 214) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(245, 245, 245) 50%, rgb(214, 214, 214) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 50%, rgb(214, 214, 214) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(245, 245, 245) 50%, rgb(214, 214, 214) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_glassyWhite1a,
.hover_background_glassyWhite1a:hover,
.active_background_glassyWhite1a:active:hover {
    background: #ffffff;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(214, 214, 214) 50%, rgb(245, 245, 245) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(214, 214, 214)), color-stop(55%, rgb(245, 245, 245)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(214, 214, 214) 50%, rgb(245, 245, 245) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(214, 214, 214) 50%, rgb(245, 245, 245) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(214, 214, 214) 50%, rgb(245, 245, 245) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(214, 214, 214) 50%, rgb(245, 245, 245) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_glassyWhite1s,
.hover_background_glassyWhite1s:hover,
.active_background_glassyWhite1s:active:hover {
    background: #ffffff;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(255, 255, 255)), color-stop(55%, rgb(255, 255, 255)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_color_glassyWhite1,
.hover_background_color_glassyWhite1:hover,
.active_background_color_glassyWhite1:active:hover {
    background-color:#ffffff;
}

.background_first_color_glassyWhite1,
.hover_background_first_color_glassyWhite1:hover,
.active_background_first_color_glassyWhite1:active:hover {
    background-color:#e6e6e6;
}

.background_last_color_glassyWhite1,
.hover_background_last_color_glassyWhite1:hover,
.active_background_color_last_glassyWhite1:active:hover {
   background-color:#ffffff;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyWhite1,
.hover_color_glassyWhite1:hover,
.active_color_glassyWhite1:active:hover {
    color: #282828;
}

.color_glassyWhite1h,
.hover_color_glassyWhite1h:hover,
.active_color_glassyWhite1h:active:hover {
    color: #282828;
}

.color_glassyWhite1a,
.hover_color_glassyWhite1a:hover,
.active_color_glassyWhite1a:active:hover {
    color: #ff0;
}

.color_glassyWhite1s,
.hover_color_glassyWhite1s:hover,
.active_color_glassyWhite1s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyWhite1,
.hover_border_glassyWhite1:hover,
.active_border_glassyWhite1:active:hover {
    border-color: #b8b8b8 #999999 #999999 #b8b8b8;
}

.border_glassyWhite1h,
.hover_border_glassyWhite1h:hover,
.active_border_glassyWhite1h:active:hover {
    border-color: #b8b8b8 #999999 #999999 #b8b8b8;
}

.border_glassyWhite1a,
.hover_border_glassyWhite1a:hover,
.active_border_glassyWhite1a:active:hover {
    border-color: #8f8f8f #8f8f8f #8f8f8f #8f8f8f;
}

.border_glassyWhite1s,
.hover_border_glassyWhite1s:hover,
.active_border_glassyWhite1s:active:hover {
    border-color: #8f8f8f #8f8f8f #8f8f8f #8f8f8f;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyWhite1,
.hover_shadow_expand_glassyWhite1:hover,
.active_shadow_expand_glassyWhite1:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .39);
}

.shadow_expand_glassyWhite1h,
.hover_shadow_expand_glassyWhite1h:hover,
.active_shadow_expand_glassyWhite1h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .50);
}

.shadow_expand_glassyWhite1a,
.hover_shadow_expand_glassyWhite1a:hover,
.active_shadow_expand_glassyWhite1a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .63);
}

.shadow_expand_glassyWhite1s,
.hover_shadow_expand_glassyWhite1s:hover,
.active_shadow_expand_glassyWhite1s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyWhite1,
.hover_shadow_left_glassyWhite1:hover,
.active_shadow_left_glassyWhite1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .39);
}

.shadow_left_glassyWhite1h,
.hover_shadow_left_glassyWhite1h:hover,
.active_shadow_left_glassyWhite1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_left_glassyWhite1a,
.hover_shadow_left_glassyWhite1a:hover,
.active_shadow_left_glassyWhite1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_left_glassyWhite1s,
.hover_shadow_left_glassyWhite1s:hover,
.active_shadow_left_glassyWhite1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyWhite1,
.hover_shadow_right_glassyWhite1:hover,
.active_shadow_right_glassyWhite1:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .39);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .39);
}

.shadow_right_glassyWhite1h,
.hover_shadow_right_glassyWhite1h:hover,
.active_shadow_right_glassyWhite1h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .50);
}

.shadow_right_glassyWhite1a,
.hover_shadow_right_glassyWhite1a:hover,
.active_shadow_right_glassyWhite1a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .63);
}

.shadow_right_glassyWhite1s,
.hover_shadow_right_glassyWhite1s:hover,
.active_shadow_right_glassyWhite1s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyWhite1,
.hover_shadow_top_glassyWhite1:hover,
.active_shadow_top_glassyWhite1:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .39);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .39);
}

.shadow_top_glassyWhite1h,
.hover_shadow_top_glassyWhite1h:hover,
.active_shadow_top_glassyWhite1h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_top_glassyWhite1a,
.hover_shadow_top_glassyWhite1a:hover,
.active_shadow_top_glassyWhite1a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_top_glassyWhite1s,
.hover_shadow_top_glassyWhite1s:hover,
.active_shadow_top_glassyWhite1s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyWhite1,
.hover_shadow_bottom_glassyWhite1:hover,
.active_shadow_bottom_glassyWhite1:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .39);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .39);
}

.shadow_bottom_glassyWhite1h,
.hover_shadow_bottom_glassyWhite1h:hover,
.active_shadow_bottom_glassyWhite1h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_bottom_glassyWhite1a,
.hover_shadow_bottom_glassyWhite1a:hover,
.active_shadow_bottom_glassyWhite1a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_bottom_glassyWhite1s,
.hover_shadow_bottom_glassyWhite1s:hover,
.active_shadow_bottom_glassyWhite1s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyWhite1,
.hover_shadow_top_left_glassyWhite1:hover,
.active_shadow_top_left_glassyWhite1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .39);
}

.shadow_top_left_glassyWhite1h,
.hover_shadow_top_left_glassyWhite1h:hover,
.active_shadow_top_left_glassyWhite1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_top_left_glassyWhite1a,
.hover_shadow_top_left_glassyWhite1a:hover,
.active_shadow_top_left_glassyWhite1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_top_left_glassyWhite1s,
.hover_shadow_top_left_glassyWhite1s:hover,
.active_shadow_top_left_glassyWhite1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyWhite1,
.hover_shadow_top_right_glassyWhite1:hover,
.active_shadow_top_right_glassyWhite1:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .39);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .39);
}

.shadow_top_right_glassyWhite1h,
.hover_shadow_top_right_glassyWhite1h:hover,
.active_shadow_top_right_glassyWhite1h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_top_right_glassyWhite1a,
.hover_shadow_top_right_glassyWhite1a:hover,
.active_shadow_top_right_glassyWhite1a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_top_right_glassyWhite1s,
.hover_shadow_top_right_glassyWhite1s:hover,
.active_shadow_top_right_glassyWhite1s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyWhite1,
.hover_shadow_bottom_left_glassyWhite1:hover,
.active_shadow_bottom_left_glassyWhite1:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .39);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .39);
}

.shadow_bottom_left_glassyWhite1h,
.hover_shadow_bottom_left_glassyWhite1h:hover,
.active_shadow_bottom_left_glassyWhite1h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_bottom_left_glassyWhite1a,
.hover_shadow_bottom_left_glassyWhite1a:hover,
.active_shadow_bottom_left_glassyWhite1a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_bottom_left_glassyWhite1s,
.hover_shadow_bottom_left_glassyWhite1s:hover,
.active_shadow_bottom_left_glassyWhite1s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyWhite1,
.hover_shadow_bottom_right_glassyWhite1:hover,
.active_shadow_bottom_right_glassyWhite1:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .39);
    box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .39);
}

.shadow_bottom_right_glassyWhite1h,
.hover_shadow_bottom_right_glassyWhite1h:hover,
.active_shadow_bottom_right_glassyWhite1h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_bottom_right_glassyWhite1a,
 .hover_shadow_bottom_right_glassyWhite1a:hover,
 .active_shadow_bottom_right_glassyWhite1a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .63);
 }

 .shadow_bottom_right_glassyWhite1s,
 .hover_shadow_bottom_right_glassyWhite1s:hover,
 .active_shadow_bottom_right_glassyWhite1s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .78);
 }