.background_glassyBurlyWood7,
.hover_background_glassyBurlyWood7:hover,
.active_background_glassyBurlyWood7:active:hover {
    background: #795221;
    background-image: -moz-linear-gradient(top,  rgb(108, 74, 30) 0%, rgb(96, 66, 27) 50%, rgb(84, 58, 23) 55%, rgb(121, 82, 33) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(108, 74, 30)), color-stop(50%, rgb(96, 66, 27)), color-stop(55%, rgb(84, 58, 23)), color-stop(100%, rgb(121, 82, 33)));
    background-image: -webkit-linear-gradient(top,  rgb(108, 74, 30) 0%, rgb(96, 66, 27) 50%, rgb(84, 58, 23) 55%, rgb(121, 82, 33) 100%);
    background-image: -o-linear-gradient(top,  rgb(108, 74, 30) 0%, rgb(96, 66, 27) 50%, rgb(84, 58, 23) 55%, rgb(121, 82, 33) 100%);
    background-image: -ms-linear-gradient(top, rgb(108, 74, 30) 0%, rgb(96, 66, 27) 50%, rgb(84, 58, 23) 55%, rgb(121, 82, 33) 100%);
    background-image: linear-gradient(to bottom,  rgb(108, 74, 30) 0%, rgb(96, 66, 27) 50%, rgb(84, 58, 23) 55%, rgb(121, 82, 33) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c4a1e', endColorstr='#795221',GradientType=0 );
}

.background_glassyBurlyWood7h,
.hover_background_glassyBurlyWood7h:hover,
.active_background_glassyBurlyWood7h:active:hover {
    background: #795221;
    background-image: -moz-linear-gradient(top,  rgb(130, 89, 36) 0%, rgb(116, 79, 32) 50%, rgb(101, 69, 28) 55%, rgb(145, 99, 40) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(130, 89, 36)), color-stop(50%, rgb(116, 79, 32)), color-stop(55%, rgb(101, 69, 28)), color-stop(100%, rgb(145, 99, 40)));
    background-image: -webkit-linear-gradient(top,  rgb(130, 89, 36) 0%, rgb(116, 79, 32) 50%, rgb(101, 69, 28) 55%, rgb(145, 99, 40) 100%);
    background-image: -o-linear-gradient(top,  rgb(130, 89, 36) 0%, rgb(116, 79, 32) 50%, rgb(101, 69, 28) 55%, rgb(145, 99, 40) 100%);
    background-image: -ms-linear-gradient(top, rgb(130, 89, 36) 0%, rgb(116, 79, 32) 50%, rgb(101, 69, 28) 55%, rgb(145, 99, 40) 100%);
    background-image: linear-gradient(to bottom,  rgb(130, 89, 36) 0%, rgb(116, 79, 32) 50%, rgb(101, 69, 28) 55%, rgb(145, 99, 40) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#825924', endColorstr='#916328',GradientType=0 );
}

.background_glassyBurlyWood7a,
.hover_background_glassyBurlyWood7a:hover,
.active_background_glassyBurlyWood7a:active:hover {
    background: #795221;
    background-image: -moz-linear-gradient(top,  rgb(145, 99, 40) 0%, rgb(101, 69, 28) 50%, rgb(116, 79, 32) 55%, rgb(130, 89, 36) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(145, 99, 40)), color-stop(50%, rgb(101, 69, 28)), color-stop(55%, rgb(116, 79, 32)), color-stop(100%, rgb(130, 89, 36)));
    background-image: -webkit-linear-gradient(top,  rgb(145, 99, 40) 0%, rgb(101, 69, 28) 50%, rgb(116, 79, 32) 55%, rgb(130, 89, 36) 100%);
    background-image: -o-linear-gradient(top,  rgb(145, 99, 40) 0%, rgb(101, 69, 28) 50%, rgb(116, 79, 32) 55%, rgb(130, 89, 36) 100%);
    background-image: -ms-linear-gradient(top, rgb(145, 99, 40) 0%, rgb(101, 69, 28) 50%, rgb(116, 79, 32) 55%, rgb(130, 89, 36) 100%);
    background-image: linear-gradient(to bottom,  rgb(145, 99, 40) 0%, rgb(101, 69, 28) 50%, rgb(116, 79, 32) 55%, rgb(130, 89, 36) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#916328', endColorstr='#825924',GradientType=0 );
}

.background_glassyBurlyWood7s,
.hover_background_glassyBurlyWood7s:hover,
.active_background_glassyBurlyWood7s:active:hover {
    background: #795221;
    background-image: -moz-linear-gradient(top,  rgb(163, 111, 45) 0%, rgb(145, 99, 40) 50%, rgb(127, 86, 35) 55%, rgb(181, 124, 50) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(163, 111, 45)), color-stop(50%, rgb(145, 99, 40)), color-stop(55%, rgb(127, 86, 35)), color-stop(100%, rgb(181, 124, 50)));
    background-image: -webkit-linear-gradient(top,  rgb(163, 111, 45) 0%, rgb(145, 99, 40) 50%, rgb(127, 86, 35) 55%, rgb(181, 124, 50) 100%);
    background-image: -o-linear-gradient(top,  rgb(163, 111, 45) 0%, rgb(145, 99, 40) 50%, rgb(127, 86, 35) 55%, rgb(181, 124, 50) 100%);
    background-image: -ms-linear-gradient(top, rgb(163, 111, 45) 0%, rgb(145, 99, 40) 50%, rgb(127, 86, 35) 55%, rgb(181, 124, 50) 100%);
    background-image: linear-gradient(to bottom,  rgb(163, 111, 45) 0%, rgb(145, 99, 40) 50%, rgb(127, 86, 35) 55%, rgb(181, 124, 50) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a36f2d', endColorstr='#b57c32',GradientType=0 );
}

.background_color_glassyBurlyWood7,
.hover_background_color_glassyBurlyWood7:hover,
.active_background_color_glassyBurlyWood7:active:hover {
    background-color:#795221;
}

.background_first_color_glassyBurlyWood7,
.hover_background_first_color_glassyBurlyWood7:hover,
.active_background_first_color_glassyBurlyWood7:active:hover {
    background-color:#6c4a1e;
}

.background_last_color_glassyBurlyWood7,
.hover_background_last_color_glassyBurlyWood7:hover,
.active_background_color_last_glassyBurlyWood7:active:hover {
   background-color:#795221;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyBurlyWood7,
.hover_color_glassyBurlyWood7:hover,
.active_color_glassyBurlyWood7:active:hover {
    color: #c8c8c8;
}

.color_glassyBurlyWood7h,
.hover_color_glassyBurlyWood7h:hover,
.active_color_glassyBurlyWood7h:active:hover {
    color: #c8c8c8;
}

.color_glassyBurlyWood7a,
.hover_color_glassyBurlyWood7a:hover,
.active_color_glassyBurlyWood7a:active:hover {
    color: #ff0;
}

.color_glassyBurlyWood7s,
.hover_color_glassyBurlyWood7s:hover,
.active_color_glassyBurlyWood7s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyBurlyWood7,
.hover_border_glassyBurlyWood7:hover,
.active_border_glassyBurlyWood7:active:hover {
    border-color: #573b18 #483114 #483114 #573b18;
}

.border_glassyBurlyWood7h,
.hover_border_glassyBurlyWood7h:hover,
.active_border_glassyBurlyWood7h:active:hover {
    border-color: #573b18 #483114 #483114 #573b18;
}

.border_glassyBurlyWood7a,
.hover_border_glassyBurlyWood7a:hover,
.active_border_glassyBurlyWood7a:active:hover {
    border-color: #432e13 #432e13 #432e13 #432e13;
}

.border_glassyBurlyWood7s,
.hover_border_glassyBurlyWood7s:hover,
.active_border_glassyBurlyWood7s:active:hover {
    border-color: #432e13 #432e13 #432e13 #432e13;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyBurlyWood7,
.hover_shadow_expand_glassyBurlyWood7:hover,
.active_shadow_expand_glassyBurlyWood7:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(121, 82, 33, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(121, 82, 33, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(121, 82, 33, .39);
}

.shadow_expand_glassyBurlyWood7h,
.hover_shadow_expand_glassyBurlyWood7h:hover,
.active_shadow_expand_glassyBurlyWood7h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(145, 99, 40, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(145, 99, 40, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(145, 99, 40, .50);
}

.shadow_expand_glassyBurlyWood7a,
.hover_shadow_expand_glassyBurlyWood7a:hover,
.active_shadow_expand_glassyBurlyWood7a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(130, 89, 36, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(130, 89, 36, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(130, 89, 36, .63);
}

.shadow_expand_glassyBurlyWood7s,
.hover_shadow_expand_glassyBurlyWood7s:hover,
.active_shadow_expand_glassyBurlyWood7s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(130, 89, 36, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(130, 89, 36, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(130, 89, 36, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyBurlyWood7,
.hover_shadow_left_glassyBurlyWood7:hover,
.active_shadow_left_glassyBurlyWood7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(121, 82, 33, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(121, 82, 33, .39);
    box-shadow: -0.5em -0.5em 1em rgba(121, 82, 33, .39);
}

.shadow_left_glassyBurlyWood7h,
.hover_shadow_left_glassyBurlyWood7h:hover,
.active_shadow_left_glassyBurlyWood7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(145, 99, 40, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(145, 99, 40, .50);
    box-shadow: -0.5em -0.5em 1em rgba(145, 99, 40, .50);
}

.shadow_left_glassyBurlyWood7a,
.hover_shadow_left_glassyBurlyWood7a:hover,
.active_shadow_left_glassyBurlyWood7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(130, 89, 36, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(130, 89, 36, .63);
    box-shadow: -0.5em -0.5em 1em rgba(130, 89, 36, .63);
}

.shadow_left_glassyBurlyWood7s,
.hover_shadow_left_glassyBurlyWood7s:hover,
.active_shadow_left_glassyBurlyWood7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(130, 89, 36, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(130, 89, 36, .78);
    box-shadow: -0.5em -0.5em 1em rgba(130, 89, 36, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyBurlyWood7,
.hover_shadow_right_glassyBurlyWood7:hover,
.active_shadow_right_glassyBurlyWood7:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(121, 82, 33, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(121, 82, 33, .39);
    box-shadow: 0.5em 0em 1em rgba(121, 82, 33, .39);
}

.shadow_right_glassyBurlyWood7h,
.hover_shadow_right_glassyBurlyWood7h:hover,
.active_shadow_right_glassyBurlyWood7h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(145, 99, 40, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(145, 99, 40, .50);
    box-shadow: 0.5em 0em 1em rgba(145, 99, 40, .50);
}

.shadow_right_glassyBurlyWood7a,
.hover_shadow_right_glassyBurlyWood7a:hover,
.active_shadow_right_glassyBurlyWood7a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(130, 89, 36, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(130, 89, 36, .63);
    box-shadow: 0.5em 0em 1em rgba(130, 89, 36, .63);
}

.shadow_right_glassyBurlyWood7s,
.hover_shadow_right_glassyBurlyWood7s:hover,
.active_shadow_right_glassyBurlyWood7s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(130, 89, 36, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(130, 89, 36, .78);
    box-shadow: 0.5em 0em 1em rgba(130, 89, 36, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyBurlyWood7,
.hover_shadow_top_glassyBurlyWood7:hover,
.active_shadow_top_glassyBurlyWood7:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(121, 82, 33, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(121, 82, 33, .39);
    box-shadow: 0em -0.5em 1em rgba(121, 82, 33, .39);
}

.shadow_top_glassyBurlyWood7h,
.hover_shadow_top_glassyBurlyWood7h:hover,
.active_shadow_top_glassyBurlyWood7h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(145, 99, 40, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(145, 99, 40, .50);
    box-shadow: 0em -0.5em 1em rgba(145, 99, 40, .50);
}

.shadow_top_glassyBurlyWood7a,
.hover_shadow_top_glassyBurlyWood7a:hover,
.active_shadow_top_glassyBurlyWood7a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(130, 89, 36, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(130, 89, 36, .63);
    box-shadow: 0em -0.5em 1em rgba(130, 89, 36, .63);
}

.shadow_top_glassyBurlyWood7s,
.hover_shadow_top_glassyBurlyWood7s:hover,
.active_shadow_top_glassyBurlyWood7s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(130, 89, 36, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(130, 89, 36, .78);
    box-shadow: 0em -0.5em 1em rgba(130, 89, 36, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyBurlyWood7,
.hover_shadow_bottom_glassyBurlyWood7:hover,
.active_shadow_bottom_glassyBurlyWood7:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(121, 82, 33, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(121, 82, 33, .39);
    box-shadow: 0em 0.5em 1em rgba(121, 82, 33, .39);
}

.shadow_bottom_glassyBurlyWood7h,
.hover_shadow_bottom_glassyBurlyWood7h:hover,
.active_shadow_bottom_glassyBurlyWood7h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(145, 99, 40, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(145, 99, 40, .50);
    box-shadow: 0em 0.5em 1em rgba(145, 99, 40, .50);
}

.shadow_bottom_glassyBurlyWood7a,
.hover_shadow_bottom_glassyBurlyWood7a:hover,
.active_shadow_bottom_glassyBurlyWood7a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(130, 89, 36, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(130, 89, 36, .63);
    box-shadow: 0em 0.5em 1em rgba(130, 89, 36, .63);
}

.shadow_bottom_glassyBurlyWood7s,
.hover_shadow_bottom_glassyBurlyWood7s:hover,
.active_shadow_bottom_glassyBurlyWood7s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(130, 89, 36, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(130, 89, 36, .78);
    box-shadow: 0em 0.5em 1em rgba(130, 89, 36, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyBurlyWood7,
.hover_shadow_top_left_glassyBurlyWood7:hover,
.active_shadow_top_left_glassyBurlyWood7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(121, 82, 33, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(121, 82, 33, .39);
    box-shadow: -0.5em -0.5em 1em rgba(121, 82, 33, .39);
}

.shadow_top_left_glassyBurlyWood7h,
.hover_shadow_top_left_glassyBurlyWood7h:hover,
.active_shadow_top_left_glassyBurlyWood7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(145, 99, 40, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(145, 99, 40, .50);
    box-shadow: -0.5em -0.5em 1em rgba(145, 99, 40, .50);
}

.shadow_top_left_glassyBurlyWood7a,
.hover_shadow_top_left_glassyBurlyWood7a:hover,
.active_shadow_top_left_glassyBurlyWood7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(130, 89, 36, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(130, 89, 36, .63);
    box-shadow: -0.5em -0.5em 1em rgba(130, 89, 36, .63);
}

.shadow_top_left_glassyBurlyWood7s,
.hover_shadow_top_left_glassyBurlyWood7s:hover,
.active_shadow_top_left_glassyBurlyWood7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(130, 89, 36, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(130, 89, 36, .78);
    box-shadow: -0.5em -0.5em 1em rgba(130, 89, 36, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyBurlyWood7,
.hover_shadow_top_right_glassyBurlyWood7:hover,
.active_shadow_top_right_glassyBurlyWood7:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(121, 82, 33, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(121, 82, 33, .39);
    box-shadow: 0.5em -0.5em 1em rgba(121, 82, 33, .39);
}

.shadow_top_right_glassyBurlyWood7h,
.hover_shadow_top_right_glassyBurlyWood7h:hover,
.active_shadow_top_right_glassyBurlyWood7h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(145, 99, 40, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(145, 99, 40, .50);
    box-shadow: 0.5em -0.5em 1em rgba(145, 99, 40, .50);
}

.shadow_top_right_glassyBurlyWood7a,
.hover_shadow_top_right_glassyBurlyWood7a:hover,
.active_shadow_top_right_glassyBurlyWood7a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(130, 89, 36, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(130, 89, 36, .63);
    box-shadow: 0.5em -0.5em 1em rgba(130, 89, 36, .63);
}

.shadow_top_right_glassyBurlyWood7s,
.hover_shadow_top_right_glassyBurlyWood7s:hover,
.active_shadow_top_right_glassyBurlyWood7s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(130, 89, 36, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(130, 89, 36, .78);
    box-shadow: 0.5em -0.5em 1em rgba(130, 89, 36, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyBurlyWood7,
.hover_shadow_bottom_left_glassyBurlyWood7:hover,
.active_shadow_bottom_left_glassyBurlyWood7:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(121, 82, 33, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(121, 82, 33, .39);
    box-shadow: -0.5em 0.5em 1em rgba(121, 82, 33, .39);
}

.shadow_bottom_left_glassyBurlyWood7h,
.hover_shadow_bottom_left_glassyBurlyWood7h:hover,
.active_shadow_bottom_left_glassyBurlyWood7h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(145, 99, 40, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(145, 99, 40, .50);
    box-shadow: -0.5em 0.5em 1em rgba(145, 99, 40, .50);
}

.shadow_bottom_left_glassyBurlyWood7a,
.hover_shadow_bottom_left_glassyBurlyWood7a:hover,
.active_shadow_bottom_left_glassyBurlyWood7a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(130, 89, 36, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(130, 89, 36, .63);
    box-shadow: -0.5em 0.5em 1em rgba(130, 89, 36, .63);
}

.shadow_bottom_left_glassyBurlyWood7s,
.hover_shadow_bottom_left_glassyBurlyWood7s:hover,
.active_shadow_bottom_left_glassyBurlyWood7s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(130, 89, 36, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(130, 89, 36, .78);
    box-shadow: -0.5em 0.5em 1em rgba(130, 89, 36, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyBurlyWood7,
.hover_shadow_bottom_right_glassyBurlyWood7:hover,
.active_shadow_bottom_right_glassyBurlyWood7:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(121, 82, 33, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(121, 82, 33, .39);
    box-shadow: 0.5em 0.5em 1em rgba(121, 82, 33, .39);
}

.shadow_bottom_right_glassyBurlyWood7h,
.hover_shadow_bottom_right_glassyBurlyWood7h:hover,
.active_shadow_bottom_right_glassyBurlyWood7h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(145, 99, 40, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(145, 99, 40, .50);
    box-shadow: 0.5em 0.5em 1em rgba(145, 99, 40, .50);
}

.shadow_bottom_right_glassyBurlyWood7a,
 .hover_shadow_bottom_right_glassyBurlyWood7a:hover,
 .active_shadow_bottom_right_glassyBurlyWood7a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(130, 89, 36, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(130, 89, 36, .63);
     box-shadow: 0.5em 0.5em 1em rgba(130, 89, 36, .63);
 }

 .shadow_bottom_right_glassyBurlyWood7s,
 .hover_shadow_bottom_right_glassyBurlyWood7s:hover,
 .active_shadow_bottom_right_glassyBurlyWood7s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(130, 89, 36, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(130, 89, 36, .78);
     box-shadow: 0.5em 0.5em 1em rgba(130, 89, 36, .78);
 }