.background_bisque2,
.hover_background_bisque2:hover,
.active_background_bisque2:active:hover {
    background: #ffa234;
    background-image: -moz-linear-gradient(top,  rgb(255, 197, 128) 0%, rgb(255, 162, 52) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 197, 128)), color-stop(100%, rgb(255, 162, 52)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 197, 128) 0%, rgb(255, 162, 52) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 197, 128) 0%, rgb(255, 162, 52) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 197, 128) 0%, rgb(255, 162, 52) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 197, 128) 0%, rgb(255, 162, 52) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc580', endColorstr='#ffa234',GradientType=0 );
}

.background_bisque2h,
.hover_background_bisque2h:hover,
.active_background_bisque2h:active:hover {
    background: #ffa234;
    background-image: -moz-linear-gradient(top,  rgb(255, 232, 205) 0%, rgb(255, 190, 113) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 232, 205)), color-stop(100%, rgb(255, 190, 113)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 232, 205) 0%, rgb(255, 190, 113) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 232, 205) 0%, rgb(255, 190, 113) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 232, 205) 0%, rgb(255, 190, 113) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 232, 205) 0%, rgb(255, 190, 113) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe8cd', endColorstr='#ffbe71',GradientType=0 );
}

.background_bisque2a,
.hover_background_bisque2a:hover,
.active_background_bisque2a:active:hover {
    background: #ffa234;
    background-image: -moz-linear-gradient(top,  rgb(255, 190, 113) 0%, rgb(255, 232, 205) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 190, 113)), color-stop(100%, rgb(255, 232, 205)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 190, 113) 0%, rgb(255, 232, 205) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 190, 113) 0%, rgb(255, 232, 205) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 190, 113) 0%, rgb(255, 232, 205) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 190, 113) 0%, rgb(255, 232, 205) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbe71', endColorstr='#ffe8cd',GradientType=0 );
}

.background_bisque2s,
.hover_background_bisque2s:hover,
.active_background_bisque2s:active:hover {
    background: #ffa234;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 232, 205) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(255, 232, 205)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 232, 205) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 232, 205) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 232, 205) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(255, 232, 205) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffe8cd',GradientType=0 );
}

.background_color_bisque2,
.hover_background_color_bisque2:hover,
.active_background_color_bisque2:active:hover {
    background-color:#ffa234;
}

.background_first_color_bisque2,
.hover_background_first_color_bisque2:hover,
.active_background_first_color_bisque2:active:hover {
    background-color:#ffc580;
}

.background_last_color_bisque2,
.hover_background_last_color_bisque2:hover,
.active_background_color_last_bisque2:active:hover {
   background-color:#ffa234;
}

/* ------------------------------ color settings -------------------------------*/
.color_bisque2,
.hover_color_bisque2:hover,
.active_color_bisque2:active:hover {
    color: #282828;
}

.color_bisque2h,
.hover_color_bisque2h:hover,
.active_color_bisque2h:active:hover {
    color: #282828;
}

.color_bisque2a,
.hover_color_bisque2a:hover,
.active_color_bisque2a:active:hover {
    color: #ff0;
}

.color_bisque2s,
.hover_color_bisque2s:hover,
.active_color_bisque2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_bisque2,
.hover_border_bisque2:hover,
.active_border_bisque2:active:hover {
    border-color: #ffa234 #ffa234 #ffa234 #ffa234;
}

.border_bisque2h,
.hover_border_bisque2h:hover,
.active_border_bisque2h:active:hover {
    border-color: #ff9415 #ff9415 #ff9415 #ff9415;
}

.border_bisque2a,
.hover_border_bisque2a:hover,
.active_border_bisque2a:active:hover {
    border-color: #f58500 #f58500 #f58500 #f58500;
}

.border_bisque2s,
.hover_border_bisque2s:hover,
.active_border_bisque2s:active:hover {
    border-color: #ffe8cd #ffe8cd #ffe8cd #ffe8cd;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_bisque2,
.hover_shadow_expand_bisque2:hover,
.active_shadow_expand_bisque2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 162, 52, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 162, 52, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 162, 52, .39);
}

.shadow_expand_bisque2h,
.hover_shadow_expand_bisque2h:hover,
.active_shadow_expand_bisque2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 190, 113, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 190, 113, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 190, 113, .50);
}

.shadow_expand_bisque2a,
.hover_shadow_expand_bisque2a:hover,
.active_shadow_expand_bisque2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 232, 205, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 232, 205, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 232, 205, .63);
}

.shadow_expand_bisque2s,
.hover_shadow_expand_bisque2s:hover,
.active_shadow_expand_bisque2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 232, 205, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 232, 205, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 232, 205, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_bisque2,
.hover_shadow_left_bisque2:hover,
.active_shadow_left_bisque2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 162, 52, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 162, 52, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 162, 52, .39);
}

.shadow_left_bisque2h,
.hover_shadow_left_bisque2h:hover,
.active_shadow_left_bisque2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 190, 113, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 190, 113, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 190, 113, .50);
}

.shadow_left_bisque2a,
.hover_shadow_left_bisque2a:hover,
.active_shadow_left_bisque2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 232, 205, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 232, 205, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 232, 205, .63);
}

.shadow_left_bisque2s,
.hover_shadow_left_bisque2s:hover,
.active_shadow_left_bisque2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 232, 205, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 232, 205, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 232, 205, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_bisque2,
.hover_shadow_right_bisque2:hover,
.active_shadow_right_bisque2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 162, 52, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 162, 52, .39);
    box-shadow: 0.5em 0em 1em rgba(255, 162, 52, .39);
}

.shadow_right_bisque2h,
.hover_shadow_right_bisque2h:hover,
.active_shadow_right_bisque2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 190, 113, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 190, 113, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 190, 113, .50);
}

.shadow_right_bisque2a,
.hover_shadow_right_bisque2a:hover,
.active_shadow_right_bisque2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 232, 205, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 232, 205, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 232, 205, .63);
}

.shadow_right_bisque2s,
.hover_shadow_right_bisque2s:hover,
.active_shadow_right_bisque2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 232, 205, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 232, 205, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 232, 205, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_bisque2,
.hover_shadow_top_bisque2:hover,
.active_shadow_top_bisque2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 162, 52, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 162, 52, .39);
    box-shadow: 0em -0.5em 1em rgba(255, 162, 52, .39);
}

.shadow_top_bisque2h,
.hover_shadow_top_bisque2h:hover,
.active_shadow_top_bisque2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 190, 113, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 190, 113, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 190, 113, .50);
}

.shadow_top_bisque2a,
.hover_shadow_top_bisque2a:hover,
.active_shadow_top_bisque2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 232, 205, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 232, 205, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 232, 205, .63);
}

.shadow_top_bisque2s,
.hover_shadow_top_bisque2s:hover,
.active_shadow_top_bisque2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 232, 205, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 232, 205, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 232, 205, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_bisque2,
.hover_shadow_bottom_bisque2:hover,
.active_shadow_bottom_bisque2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 162, 52, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 162, 52, .39);
    box-shadow: 0em 0.5em 1em rgba(255, 162, 52, .39);
}

.shadow_bottom_bisque2h,
.hover_shadow_bottom_bisque2h:hover,
.active_shadow_bottom_bisque2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 190, 113, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 190, 113, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 190, 113, .50);
}

.shadow_bottom_bisque2a,
.hover_shadow_bottom_bisque2a:hover,
.active_shadow_bottom_bisque2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 232, 205, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 232, 205, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 232, 205, .63);
}

.shadow_bottom_bisque2s,
.hover_shadow_bottom_bisque2s:hover,
.active_shadow_bottom_bisque2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 232, 205, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 232, 205, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 232, 205, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_bisque2,
.hover_shadow_top_left_bisque2:hover,
.active_shadow_top_left_bisque2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 162, 52, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 162, 52, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 162, 52, .39);
}

.shadow_top_left_bisque2h,
.hover_shadow_top_left_bisque2h:hover,
.active_shadow_top_left_bisque2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 190, 113, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 190, 113, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 190, 113, .50);
}

.shadow_top_left_bisque2a,
.hover_shadow_top_left_bisque2a:hover,
.active_shadow_top_left_bisque2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 232, 205, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 232, 205, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 232, 205, .63);
}

.shadow_top_left_bisque2s,
.hover_shadow_top_left_bisque2s:hover,
.active_shadow_top_left_bisque2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 232, 205, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 232, 205, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 232, 205, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_bisque2,
.hover_shadow_top_right_bisque2:hover,
.active_shadow_top_right_bisque2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 162, 52, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 162, 52, .39);
    box-shadow: 0.5em -0.5em 1em rgba(255, 162, 52, .39);
}

.shadow_top_right_bisque2h,
.hover_shadow_top_right_bisque2h:hover,
.active_shadow_top_right_bisque2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 190, 113, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 190, 113, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 190, 113, .50);
}

.shadow_top_right_bisque2a,
.hover_shadow_top_right_bisque2a:hover,
.active_shadow_top_right_bisque2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 232, 205, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 232, 205, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 232, 205, .63);
}

.shadow_top_right_bisque2s,
.hover_shadow_top_right_bisque2s:hover,
.active_shadow_top_right_bisque2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 232, 205, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 232, 205, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 232, 205, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_bisque2,
.hover_shadow_bottom_left_bisque2:hover,
.active_shadow_bottom_left_bisque2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 162, 52, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 162, 52, .39);
    box-shadow: -0.5em 0.5em 1em rgba(255, 162, 52, .39);
}

.shadow_bottom_left_bisque2h,
.hover_shadow_bottom_left_bisque2h:hover,
.active_shadow_bottom_left_bisque2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 190, 113, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 190, 113, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 190, 113, .50);
}

.shadow_bottom_left_bisque2a,
.hover_shadow_bottom_left_bisque2a:hover,
.active_shadow_bottom_left_bisque2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 232, 205, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 232, 205, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 232, 205, .63);
}

.shadow_bottom_left_bisque2s,
.hover_shadow_bottom_left_bisque2s:hover,
.active_shadow_bottom_left_bisque2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 232, 205, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 232, 205, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 232, 205, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_bisque2,
.hover_shadow_bottom_right_bisque2:hover,
.active_shadow_bottom_right_bisque2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 162, 52, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 162, 52, .39);
    box-shadow: 0.5em 0.5em 1em rgba(255, 162, 52, .39);
}

.shadow_bottom_right_bisque2h,
.hover_shadow_bottom_right_bisque2h:hover,
.active_shadow_bottom_right_bisque2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 190, 113, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 190, 113, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 190, 113, .50);
}

.shadow_bottom_right_bisque2a,
 .hover_shadow_bottom_right_bisque2a:hover,
 .active_shadow_bottom_right_bisque2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 232, 205, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 232, 205, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 232, 205, .63);
 }

 .shadow_bottom_right_bisque2s,
 .hover_shadow_bottom_right_bisque2s:hover,
 .active_shadow_bottom_right_bisque2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 232, 205, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 232, 205, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 232, 205, .78);
 }