.aquaPaleGreen5,
.hover_aquaPaleGreen5:hover,
.active_aquaPaleGreen5:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(58, 247, 37, .39),
           inset 0 -0.5em 0.9em 0 #9fff82,
           inset 0 -0.5em 0em 0.65em rgb(19, 232, 0),
           inset 0 0em 0.5em 2em rgb(141, 227, 133);
    -moz-box-shadow: 0 0.63em 0.75em rgba(58, 247, 37, .39),
           inset 0 -0.5em 0.9em 0 #9fff82,
           inset 0 -0.5em 0em 0.65em rgb(19, 232, 0),
           inset 0 0em 0.5em 2em rgb(141, 227, 133);
    box-shadow: 0 0.63em 0.75em rgba(58, 247, 37, .39),
           inset 0 -0.5em 0.9em 0 #9fff82,
           inset 0 -0.5em 0em 0.65em rgb(19, 232, 0),
           inset 0 0em 0.5em 2em rgb(141, 227, 133);
}

.aquaPaleGreen5h,
.hover_aquaPaleGreen5h:hover,
.active_aquaPaleGreen5h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(80, 247, 61, .55),
           inset 0 -0.5em 0.9em 0 #c7ffb5,
           inset 0 -0.5em 0em 0.65em #5eff4f,
           inset 0 0em 0.5em 2em #bffaba;
    -moz-box-shadow:0 0.63em 1em rgba(80, 247, 61, .55),
           inset 0 -0.5em 0.9em 0 #c7ffb5,
           inset 0 -0.5em 0em 0.65em #5eff4f,
           inset 0 0em 0.5em 2em #bffaba;
    box-shadow:0 0.63em 1em rgba(80, 247, 61, .55),
           inset 0 -0.5em 0.9em 0 #c7ffb5,
           inset 0 -0.5em 0em 0.65em #5eff4f,
           inset 0 0em 0.5em 2em #bffaba;
}

.aquaPaleGreen5a,
.hover_aquaPaleGreen5a:hover,
.active_aquaPaleGreen5a:active {
    /*background: #08c708;*/

    -webkit-box-shadow:0 0.63em 1em rgba(23, 232, 0, .55),
           inset 0 -0.5em 0.9em 0 #b3ff9c,
           inset 0 -0.5em 0em 0.65em #2bff17,
           inset 0 0em 0.5em 2em #75ff69;
    -moz-box-shadow:0 0.63em 1em rgba(23, 232, 0, .55),
           inset 0 -0.5em 0.9em 0 #b3ff9c,
           inset 0 -0.5em 0em 0.65em #2bff17,
           inset 0 0em 0.5em 2em #75ff69;
    box-shadow:0 0.63em 1em rgba(23, 232, 0, .55),
           inset 0 -0.5em 0.9em 0 #b3ff9c,
           inset 0 -0.5em 0em 0.65em #2bff17,
           inset 0 0em 0.5em 2em #75ff69;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaPaleGreen5,
.hover_color_aquaPaleGreen5:hover,
.active_color_aquaPaleGreen5:active {
    color: #282828;
}

.color_aquaPaleGreen5h,
.hover_color_aquaPaleGreen5h:hover,
.active_color_aquaPaleGreen5h:active {
    color: #c8c8c8;
}

.color_aquaPaleGreen5a,
.hover_color_aquaPaleGreen5a:hover,
.active_color_aquaPaleGreen5a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaPaleGreen5,
.hover_border_aquaPaleGreen5:hover,
.active_border_aquaPaleGreen5:active {
    border-color: #08c708 #08c708 #08c708 #08c708;
}

.border_aquaPaleGreen5h,
.hover_border_aquaPaleGreen5h:hover,
.active_border_aquaPaleGreen5h:active {
    border-color: #08c708 #08c708 #08c708 #08c708;
}

.border_aquaPaleGreen5a,
.hover_border_aquaPaleGreen5a:hover,
.active_border_aquaPaleGreen5a:active  {
    border-color: #08c708 #08c708 #08c708 #08c708;
}

