.aquaPaleGreen7,
.hover_aquaPaleGreen7:hover,
.active_aquaPaleGreen7:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(24, 180, 7, .39),
           inset 0 -0.5em 0.9em 0 #55ff22,
           inset 0 -0.5em 0em 0.65em rgb(11, 136, 0),
           inset 0 0em 0.5em 2em rgb(67, 209, 54);
    -moz-box-shadow: 0 0.63em 0.75em rgba(24, 180, 7, .39),
           inset 0 -0.5em 0.9em 0 #55ff22,
           inset 0 -0.5em 0em 0.65em rgb(11, 136, 0),
           inset 0 0em 0.5em 2em rgb(67, 209, 54);
    box-shadow: 0 0.63em 0.75em rgba(24, 180, 7, .39),
           inset 0 -0.5em 0.9em 0 #55ff22,
           inset 0 -0.5em 0em 0.65em rgb(11, 136, 0),
           inset 0 0em 0.5em 2em rgb(67, 209, 54);
}

.aquaPaleGreen7h,
.hover_aquaPaleGreen7h:hover,
.active_aquaPaleGreen7h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(28, 204, 8, .55),
           inset 0 -0.5em 0.9em 0 #7cff55,
           inset 0 -0.5em 0em 0.65em #14ee00,
           inset 0 0em 0.5em 2em #6cf45f;
    -moz-box-shadow:0 0.63em 1em rgba(28, 204, 8, .55),
           inset 0 -0.5em 0.9em 0 #7cff55,
           inset 0 -0.5em 0em 0.65em #14ee00,
           inset 0 0em 0.5em 2em #6cf45f;
    box-shadow:0 0.63em 1em rgba(28, 204, 8, .55),
           inset 0 -0.5em 0.9em 0 #7cff55,
           inset 0 -0.5em 0em 0.65em #14ee00,
           inset 0 0em 0.5em 2em #6cf45f;
}

.aquaPaleGreen7a,
.hover_aquaPaleGreen7a:hover,
.active_aquaPaleGreen7a:active {
    /*background: #057c05;*/

    -webkit-box-shadow:0 0.63em 1em rgba(14, 136, 0, .55),
           inset 0 -0.5em 0.9em 0 #69ff3b,
           inset 0 -0.5em 0em 0.65em #0fb600,
           inset 0 0em 0.5em 2em #1dff08;
    -moz-box-shadow:0 0.63em 1em rgba(14, 136, 0, .55),
           inset 0 -0.5em 0.9em 0 #69ff3b,
           inset 0 -0.5em 0em 0.65em #0fb600,
           inset 0 0em 0.5em 2em #1dff08;
    box-shadow:0 0.63em 1em rgba(14, 136, 0, .55),
           inset 0 -0.5em 0.9em 0 #69ff3b,
           inset 0 -0.5em 0em 0.65em #0fb600,
           inset 0 0em 0.5em 2em #1dff08;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaPaleGreen7,
.hover_color_aquaPaleGreen7:hover,
.active_color_aquaPaleGreen7:active {
    color: #282828;
}

.color_aquaPaleGreen7h,
.hover_color_aquaPaleGreen7h:hover,
.active_color_aquaPaleGreen7h:active {
    color: #c8c8c8;
}

.color_aquaPaleGreen7a,
.hover_color_aquaPaleGreen7a:hover,
.active_color_aquaPaleGreen7a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaPaleGreen7,
.hover_border_aquaPaleGreen7:hover,
.active_border_aquaPaleGreen7:active {
    border-color: #057c05 #057c05 #057c05 #057c05;
}

.border_aquaPaleGreen7h,
.hover_border_aquaPaleGreen7h:hover,
.active_border_aquaPaleGreen7h:active {
    border-color: #057c05 #057c05 #057c05 #057c05;
}

.border_aquaPaleGreen7a,
.hover_border_aquaPaleGreen7a:hover,
.active_border_aquaPaleGreen7a:active  {
    border-color: #057c05 #057c05 #057c05 #057c05;
}

