.aquaGoldenRod4,
.hover_aquaGoldenRod4:hover,
.active_aquaGoldenRod4:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(226, 160, 55, .39),
           inset 0 -0.5em 0.9em 0 #f5bd89,
           inset 0 -0.5em 0em 0.65em rgb(229, 145, 0),
           inset 0 0em 0.5em 2em rgb(212, 187, 144);
    -moz-box-shadow: 0 0.63em 0.75em rgba(226, 160, 55, .39),
           inset 0 -0.5em 0.9em 0 #f5bd89,
           inset 0 -0.5em 0em 0.65em rgb(229, 145, 0),
           inset 0 0em 0.5em 2em rgb(212, 187, 144);
    box-shadow: 0 0.63em 0.75em rgba(226, 160, 55, .39),
           inset 0 -0.5em 0.9em 0 #f5bd89,
           inset 0 -0.5em 0em 0.65em rgb(229, 145, 0),
           inset 0 0em 0.5em 2em rgb(212, 187, 144);
}

.aquaGoldenRod4h,
.hover_aquaGoldenRod4h:hover,
.active_aquaGoldenRod4h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(229, 170, 77, .55),
           inset 0 -0.5em 0.9em 0 #f9d7b8,
           inset 0 -0.5em 0em 0.65em #f1b95a,
           inset 0 0em 0.5em 2em #f3e0be;
    -moz-box-shadow:0 0.63em 1em rgba(229, 170, 77, .55),
           inset 0 -0.5em 0.9em 0 #f9d7b8,
           inset 0 -0.5em 0em 0.65em #f1b95a,
           inset 0 0em 0.5em 2em #f3e0be;
    box-shadow:0 0.63em 1em rgba(229, 170, 77, .55),
           inset 0 -0.5em 0.9em 0 #f9d7b8,
           inset 0 -0.5em 0em 0.65em #f1b95a,
           inset 0 0em 0.5em 2em #f3e0be;
}

.aquaGoldenRod4a,
.hover_aquaGoldenRod4a:hover,
.active_aquaGoldenRod4a:active {
    /*background: #b2861a;*/

    -webkit-box-shadow:0 0.63em 1em rgba(217, 138, 12, .55),
           inset 0 -0.5em 0.9em 0 #ffca99,
           inset 0 -0.5em 0em 0.65em #fea815,
           inset 0 0em 0.5em 2em #f3c372;
    -moz-box-shadow:0 0.63em 1em rgba(217, 138, 12, .55),
           inset 0 -0.5em 0.9em 0 #ffca99,
           inset 0 -0.5em 0em 0.65em #fea815,
           inset 0 0em 0.5em 2em #f3c372;
    box-shadow:0 0.63em 1em rgba(217, 138, 12, .55),
           inset 0 -0.5em 0.9em 0 #ffca99,
           inset 0 -0.5em 0em 0.65em #fea815,
           inset 0 0em 0.5em 2em #f3c372;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaGoldenRod4,
.hover_color_aquaGoldenRod4:hover,
.active_color_aquaGoldenRod4:active {
    color: #282828;
}

.color_aquaGoldenRod4h,
.hover_color_aquaGoldenRod4h:hover,
.active_color_aquaGoldenRod4h:active {
    color: #c8c8c8;
}

.color_aquaGoldenRod4a,
.hover_color_aquaGoldenRod4a:hover,
.active_color_aquaGoldenRod4a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaGoldenRod4,
.hover_border_aquaGoldenRod4:hover,
.active_border_aquaGoldenRod4:active {
    border-color: #b2861a #b2861a #b2861a #b2861a;
}

.border_aquaGoldenRod4h,
.hover_border_aquaGoldenRod4h:hover,
.active_border_aquaGoldenRod4h:active {
    border-color: #b2861a #b2861a #b2861a #b2861a;
}

.border_aquaGoldenRod4a,
.hover_border_aquaGoldenRod4a:hover,
.active_border_aquaGoldenRod4a:active  {
    border-color: #b2861a #b2861a #b2861a #b2861a;
}

