.background_limeGreen8,
.hover_background_limeGreen8:hover,
.active_background_limeGreen8:active:hover {
    background: #134f13;
    background-image: -moz-linear-gradient(top,  rgb(24, 99, 24) 0%, rgb(19, 79, 19) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(24, 99, 24)), color-stop(100%, rgb(19, 79, 19)));
    background-image: -webkit-linear-gradient(top,  rgb(24, 99, 24) 0%, rgb(19, 79, 19) 100%);
    background-image: -o-linear-gradient(top,  rgb(24, 99, 24) 0%, rgb(19, 79, 19) 100%);
    background-image: -ms-linear-gradient(top, rgb(24, 99, 24) 0%, rgb(19, 79, 19) 100%);
    background-image: linear-gradient(to bottom,  rgb(24, 99, 24) 0%, rgb(19, 79, 19) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#186318', endColorstr='#134f13',GradientType=0 );
}

.background_limeGreen8h,
.hover_background_limeGreen8h:hover,
.active_background_limeGreen8h:active:hover {
    background: #134f13;
    background-image: -moz-linear-gradient(top,  rgb(29, 119, 29) 0%, rgb(23, 95, 23) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(29, 119, 29)), color-stop(100%, rgb(23, 95, 23)));
    background-image: -webkit-linear-gradient(top,  rgb(29, 119, 29) 0%, rgb(23, 95, 23) 100%);
    background-image: -o-linear-gradient(top,  rgb(29, 119, 29) 0%, rgb(23, 95, 23) 100%);
    background-image: -ms-linear-gradient(top, rgb(29, 119, 29) 0%, rgb(23, 95, 23) 100%);
    background-image: linear-gradient(to bottom,  rgb(29, 119, 29) 0%, rgb(23, 95, 23) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d771d', endColorstr='#175f17',GradientType=0 );
}

.background_limeGreen8a,
.hover_background_limeGreen8a:hover,
.active_background_limeGreen8a:active:hover {
    background: #134f13;
    background-image: -moz-linear-gradient(top,  rgb(23, 95, 23) 0%, rgb(29, 119, 29) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(23, 95, 23)), color-stop(100%, rgb(29, 119, 29)));
    background-image: -webkit-linear-gradient(top,  rgb(23, 95, 23) 0%, rgb(29, 119, 29) 100%);
    background-image: -o-linear-gradient(top,  rgb(23, 95, 23) 0%, rgb(29, 119, 29) 100%);
    background-image: -ms-linear-gradient(top, rgb(23, 95, 23) 0%, rgb(29, 119, 29) 100%);
    background-image: linear-gradient(to bottom,  rgb(23, 95, 23) 0%, rgb(29, 119, 29) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#175f17', endColorstr='#1d771d',GradientType=0 );
}

.background_limeGreen8s,
.hover_background_limeGreen8s:hover,
.active_background_limeGreen8s:active:hover {
    background: #134f13;
    background-image: -moz-linear-gradient(top,  rgb(36, 149, 36) 0%, rgb(29, 119, 29) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(36, 149, 36)), color-stop(100%, rgb(29, 119, 29)));
    background-image: -webkit-linear-gradient(top,  rgb(36, 149, 36) 0%, rgb(29, 119, 29) 100%);
    background-image: -o-linear-gradient(top,  rgb(36, 149, 36) 0%, rgb(29, 119, 29) 100%);
    background-image: -ms-linear-gradient(top, rgb(36, 149, 36) 0%, rgb(29, 119, 29) 100%);
    background-image: linear-gradient(to bottom,  rgb(36, 149, 36) 0%, rgb(29, 119, 29) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#249524', endColorstr='#1d771d',GradientType=0 );
}

.background_color_limeGreen8,
.hover_background_color_limeGreen8:hover,
.active_background_color_limeGreen8:active:hover {
    background-color:#134f13;
}

.background_first_color_limeGreen8,
.hover_background_first_color_limeGreen8:hover,
.active_background_first_color_limeGreen8:active:hover {
    background-color:#186318;
}

.background_last_color_limeGreen8,
.hover_background_last_color_limeGreen8:hover,
.active_background_color_last_limeGreen8:active:hover {
   background-color:#134f13;
}

/* ------------------------------ color settings -------------------------------*/
.color_limeGreen8,
.hover_color_limeGreen8:hover,
.active_color_limeGreen8:active:hover {
    color: #c8c8c8;
}

.color_limeGreen8h,
.hover_color_limeGreen8h:hover,
.active_color_limeGreen8h:active:hover {
    color: #c8c8c8;
}

.color_limeGreen8a,
.hover_color_limeGreen8a:hover,
.active_color_limeGreen8a:active:hover {
    color: #ff0;
}

.color_limeGreen8s,
.hover_color_limeGreen8s:hover,
.active_color_limeGreen8s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_limeGreen8,
.hover_border_limeGreen8:hover,
.active_border_limeGreen8:active:hover {
    border-color: #134f13 #134f13 #134f13 #134f13;
}

.border_limeGreen8h,
.hover_border_limeGreen8h:hover,
.active_border_limeGreen8h:active:hover {
    border-color: #114711 #114711 #114711 #114711;
}

.border_limeGreen8a,
.hover_border_limeGreen8a:hover,
.active_border_limeGreen8a:active:hover {
    border-color: #0f3f0f #0f3f0f #0f3f0f #0f3f0f;
}

.border_limeGreen8s,
.hover_border_limeGreen8s:hover,
.active_border_limeGreen8s:active:hover {
    border-color: #1d771d #1d771d #1d771d #1d771d;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_limeGreen8,
.hover_shadow_expand_limeGreen8:hover,
.active_shadow_expand_limeGreen8:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(19, 79, 19, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(19, 79, 19, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(19, 79, 19, .39);
}

.shadow_expand_limeGreen8h,
.hover_shadow_expand_limeGreen8h:hover,
.active_shadow_expand_limeGreen8h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(23, 95, 23, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(23, 95, 23, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(23, 95, 23, .50);
}

.shadow_expand_limeGreen8a,
.hover_shadow_expand_limeGreen8a:hover,
.active_shadow_expand_limeGreen8a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(29, 119, 29, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(29, 119, 29, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(29, 119, 29, .63);
}

.shadow_expand_limeGreen8s,
.hover_shadow_expand_limeGreen8s:hover,
.active_shadow_expand_limeGreen8s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(29, 119, 29, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(29, 119, 29, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(29, 119, 29, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_limeGreen8,
.hover_shadow_left_limeGreen8:hover,
.active_shadow_left_limeGreen8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(19, 79, 19, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(19, 79, 19, .39);
    box-shadow: -0.5em -0.5em 1em rgba(19, 79, 19, .39);
}

.shadow_left_limeGreen8h,
.hover_shadow_left_limeGreen8h:hover,
.active_shadow_left_limeGreen8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(23, 95, 23, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(23, 95, 23, .50);
    box-shadow: -0.5em -0.5em 1em rgba(23, 95, 23, .50);
}

.shadow_left_limeGreen8a,
.hover_shadow_left_limeGreen8a:hover,
.active_shadow_left_limeGreen8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(29, 119, 29, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(29, 119, 29, .63);
    box-shadow: -0.5em -0.5em 1em rgba(29, 119, 29, .63);
}

.shadow_left_limeGreen8s,
.hover_shadow_left_limeGreen8s:hover,
.active_shadow_left_limeGreen8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(29, 119, 29, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(29, 119, 29, .78);
    box-shadow: -0.5em -0.5em 1em rgba(29, 119, 29, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_limeGreen8,
.hover_shadow_right_limeGreen8:hover,
.active_shadow_right_limeGreen8:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(19, 79, 19, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(19, 79, 19, .39);
    box-shadow: 0.5em 0em 1em rgba(19, 79, 19, .39);
}

.shadow_right_limeGreen8h,
.hover_shadow_right_limeGreen8h:hover,
.active_shadow_right_limeGreen8h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(23, 95, 23, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(23, 95, 23, .50);
    box-shadow: 0.5em 0em 1em rgba(23, 95, 23, .50);
}

.shadow_right_limeGreen8a,
.hover_shadow_right_limeGreen8a:hover,
.active_shadow_right_limeGreen8a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(29, 119, 29, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(29, 119, 29, .63);
    box-shadow: 0.5em 0em 1em rgba(29, 119, 29, .63);
}

.shadow_right_limeGreen8s,
.hover_shadow_right_limeGreen8s:hover,
.active_shadow_right_limeGreen8s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(29, 119, 29, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(29, 119, 29, .78);
    box-shadow: 0.5em 0em 1em rgba(29, 119, 29, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_limeGreen8,
.hover_shadow_top_limeGreen8:hover,
.active_shadow_top_limeGreen8:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(19, 79, 19, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(19, 79, 19, .39);
    box-shadow: 0em -0.5em 1em rgba(19, 79, 19, .39);
}

.shadow_top_limeGreen8h,
.hover_shadow_top_limeGreen8h:hover,
.active_shadow_top_limeGreen8h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(23, 95, 23, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(23, 95, 23, .50);
    box-shadow: 0em -0.5em 1em rgba(23, 95, 23, .50);
}

.shadow_top_limeGreen8a,
.hover_shadow_top_limeGreen8a:hover,
.active_shadow_top_limeGreen8a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(29, 119, 29, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(29, 119, 29, .63);
    box-shadow: 0em -0.5em 1em rgba(29, 119, 29, .63);
}

.shadow_top_limeGreen8s,
.hover_shadow_top_limeGreen8s:hover,
.active_shadow_top_limeGreen8s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(29, 119, 29, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(29, 119, 29, .78);
    box-shadow: 0em -0.5em 1em rgba(29, 119, 29, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_limeGreen8,
.hover_shadow_bottom_limeGreen8:hover,
.active_shadow_bottom_limeGreen8:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(19, 79, 19, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(19, 79, 19, .39);
    box-shadow: 0em 0.5em 1em rgba(19, 79, 19, .39);
}

.shadow_bottom_limeGreen8h,
.hover_shadow_bottom_limeGreen8h:hover,
.active_shadow_bottom_limeGreen8h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(23, 95, 23, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(23, 95, 23, .50);
    box-shadow: 0em 0.5em 1em rgba(23, 95, 23, .50);
}

.shadow_bottom_limeGreen8a,
.hover_shadow_bottom_limeGreen8a:hover,
.active_shadow_bottom_limeGreen8a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(29, 119, 29, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(29, 119, 29, .63);
    box-shadow: 0em 0.5em 1em rgba(29, 119, 29, .63);
}

.shadow_bottom_limeGreen8s,
.hover_shadow_bottom_limeGreen8s:hover,
.active_shadow_bottom_limeGreen8s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(29, 119, 29, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(29, 119, 29, .78);
    box-shadow: 0em 0.5em 1em rgba(29, 119, 29, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_limeGreen8,
.hover_shadow_top_left_limeGreen8:hover,
.active_shadow_top_left_limeGreen8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(19, 79, 19, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(19, 79, 19, .39);
    box-shadow: -0.5em -0.5em 1em rgba(19, 79, 19, .39);
}

.shadow_top_left_limeGreen8h,
.hover_shadow_top_left_limeGreen8h:hover,
.active_shadow_top_left_limeGreen8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(23, 95, 23, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(23, 95, 23, .50);
    box-shadow: -0.5em -0.5em 1em rgba(23, 95, 23, .50);
}

.shadow_top_left_limeGreen8a,
.hover_shadow_top_left_limeGreen8a:hover,
.active_shadow_top_left_limeGreen8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(29, 119, 29, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(29, 119, 29, .63);
    box-shadow: -0.5em -0.5em 1em rgba(29, 119, 29, .63);
}

.shadow_top_left_limeGreen8s,
.hover_shadow_top_left_limeGreen8s:hover,
.active_shadow_top_left_limeGreen8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(29, 119, 29, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(29, 119, 29, .78);
    box-shadow: -0.5em -0.5em 1em rgba(29, 119, 29, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_limeGreen8,
.hover_shadow_top_right_limeGreen8:hover,
.active_shadow_top_right_limeGreen8:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(19, 79, 19, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(19, 79, 19, .39);
    box-shadow: 0.5em -0.5em 1em rgba(19, 79, 19, .39);
}

.shadow_top_right_limeGreen8h,
.hover_shadow_top_right_limeGreen8h:hover,
.active_shadow_top_right_limeGreen8h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(23, 95, 23, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(23, 95, 23, .50);
    box-shadow: 0.5em -0.5em 1em rgba(23, 95, 23, .50);
}

.shadow_top_right_limeGreen8a,
.hover_shadow_top_right_limeGreen8a:hover,
.active_shadow_top_right_limeGreen8a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(29, 119, 29, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(29, 119, 29, .63);
    box-shadow: 0.5em -0.5em 1em rgba(29, 119, 29, .63);
}

.shadow_top_right_limeGreen8s,
.hover_shadow_top_right_limeGreen8s:hover,
.active_shadow_top_right_limeGreen8s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(29, 119, 29, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(29, 119, 29, .78);
    box-shadow: 0.5em -0.5em 1em rgba(29, 119, 29, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_limeGreen8,
.hover_shadow_bottom_left_limeGreen8:hover,
.active_shadow_bottom_left_limeGreen8:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(19, 79, 19, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(19, 79, 19, .39);
    box-shadow: -0.5em 0.5em 1em rgba(19, 79, 19, .39);
}

.shadow_bottom_left_limeGreen8h,
.hover_shadow_bottom_left_limeGreen8h:hover,
.active_shadow_bottom_left_limeGreen8h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(23, 95, 23, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(23, 95, 23, .50);
    box-shadow: -0.5em 0.5em 1em rgba(23, 95, 23, .50);
}

.shadow_bottom_left_limeGreen8a,
.hover_shadow_bottom_left_limeGreen8a:hover,
.active_shadow_bottom_left_limeGreen8a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(29, 119, 29, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(29, 119, 29, .63);
    box-shadow: -0.5em 0.5em 1em rgba(29, 119, 29, .63);
}

.shadow_bottom_left_limeGreen8s,
.hover_shadow_bottom_left_limeGreen8s:hover,
.active_shadow_bottom_left_limeGreen8s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(29, 119, 29, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(29, 119, 29, .78);
    box-shadow: -0.5em 0.5em 1em rgba(29, 119, 29, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_limeGreen8,
.hover_shadow_bottom_right_limeGreen8:hover,
.active_shadow_bottom_right_limeGreen8:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(19, 79, 19, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(19, 79, 19, .39);
    box-shadow: 0.5em 0.5em 1em rgba(19, 79, 19, .39);
}

.shadow_bottom_right_limeGreen8h,
.hover_shadow_bottom_right_limeGreen8h:hover,
.active_shadow_bottom_right_limeGreen8h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(23, 95, 23, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(23, 95, 23, .50);
    box-shadow: 0.5em 0.5em 1em rgba(23, 95, 23, .50);
}

.shadow_bottom_right_limeGreen8a,
 .hover_shadow_bottom_right_limeGreen8a:hover,
 .active_shadow_bottom_right_limeGreen8a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(29, 119, 29, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(29, 119, 29, .63);
     box-shadow: 0.5em 0.5em 1em rgba(29, 119, 29, .63);
 }

 .shadow_bottom_right_limeGreen8s,
 .hover_shadow_bottom_right_limeGreen8s:hover,
 .active_shadow_bottom_right_limeGreen8s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(29, 119, 29, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(29, 119, 29, .78);
     box-shadow: 0.5em 0.5em 1em rgba(29, 119, 29, .78);
 }