.background_limeGreen2,
.hover_background_limeGreen2:hover,
.active_background_limeGreen2:active:hover {
    background: #30c430;
    background-image: -moz-linear-gradient(top,  rgb(90, 215, 90) 0%, rgb(48, 196, 48) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(90, 215, 90)), color-stop(100%, rgb(48, 196, 48)));
    background-image: -webkit-linear-gradient(top,  rgb(90, 215, 90) 0%, rgb(48, 196, 48) 100%);
    background-image: -o-linear-gradient(top,  rgb(90, 215, 90) 0%, rgb(48, 196, 48) 100%);
    background-image: -ms-linear-gradient(top, rgb(90, 215, 90) 0%, rgb(48, 196, 48) 100%);
    background-image: linear-gradient(to bottom,  rgb(90, 215, 90) 0%, rgb(48, 196, 48) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ad75a', endColorstr='#30c430',GradientType=0 );
}

.background_limeGreen2h,
.hover_background_limeGreen2h:hover,
.active_background_limeGreen2h:active:hover {
    background: #30c430;
    background-image: -moz-linear-gradient(top,  rgb(139, 227, 139) 0%, rgb(80, 212, 80) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(139, 227, 139)), color-stop(100%, rgb(80, 212, 80)));
    background-image: -webkit-linear-gradient(top,  rgb(139, 227, 139) 0%, rgb(80, 212, 80) 100%);
    background-image: -o-linear-gradient(top,  rgb(139, 227, 139) 0%, rgb(80, 212, 80) 100%);
    background-image: -ms-linear-gradient(top, rgb(139, 227, 139) 0%, rgb(80, 212, 80) 100%);
    background-image: linear-gradient(to bottom,  rgb(139, 227, 139) 0%, rgb(80, 212, 80) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8be38b', endColorstr='#50d450',GradientType=0 );
}

.background_limeGreen2a,
.hover_background_limeGreen2a:hover,
.active_background_limeGreen2a:active:hover {
    background: #30c430;
    background-image: -moz-linear-gradient(top,  rgb(80, 212, 80) 0%, rgb(139, 227, 139) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(80, 212, 80)), color-stop(100%, rgb(139, 227, 139)));
    background-image: -webkit-linear-gradient(top,  rgb(80, 212, 80) 0%, rgb(139, 227, 139) 100%);
    background-image: -o-linear-gradient(top,  rgb(80, 212, 80) 0%, rgb(139, 227, 139) 100%);
    background-image: -ms-linear-gradient(top, rgb(80, 212, 80) 0%, rgb(139, 227, 139) 100%);
    background-image: linear-gradient(to bottom,  rgb(80, 212, 80) 0%, rgb(139, 227, 139) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50d450', endColorstr='#8be38b',GradientType=0 );
}

.background_limeGreen2s,
.hover_background_limeGreen2s:hover,
.active_background_limeGreen2s:active:hover {
    background: #30c430;
    background-image: -moz-linear-gradient(top,  rgb(213, 245, 213) 0%, rgb(139, 227, 139) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(213, 245, 213)), color-stop(100%, rgb(139, 227, 139)));
    background-image: -webkit-linear-gradient(top,  rgb(213, 245, 213) 0%, rgb(139, 227, 139) 100%);
    background-image: -o-linear-gradient(top,  rgb(213, 245, 213) 0%, rgb(139, 227, 139) 100%);
    background-image: -ms-linear-gradient(top, rgb(213, 245, 213) 0%, rgb(139, 227, 139) 100%);
    background-image: linear-gradient(to bottom,  rgb(213, 245, 213) 0%, rgb(139, 227, 139) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5f5d5', endColorstr='#8be38b',GradientType=0 );
}

.background_color_limeGreen2,
.hover_background_color_limeGreen2:hover,
.active_background_color_limeGreen2:active:hover {
    background-color:#30c430;
}

.background_first_color_limeGreen2,
.hover_background_first_color_limeGreen2:hover,
.active_background_first_color_limeGreen2:active:hover {
    background-color:#5ad75a;
}

.background_last_color_limeGreen2,
.hover_background_last_color_limeGreen2:hover,
.active_background_color_last_limeGreen2:active:hover {
   background-color:#30c430;
}

/* ------------------------------ color settings -------------------------------*/
.color_limeGreen2,
.hover_color_limeGreen2:hover,
.active_color_limeGreen2:active:hover {
    color: #282828;
}

.color_limeGreen2h,
.hover_color_limeGreen2h:hover,
.active_color_limeGreen2h:active:hover {
    color: #282828;
}

.color_limeGreen2a,
.hover_color_limeGreen2a:hover,
.active_color_limeGreen2a:active:hover {
    color: #ff0;
}

.color_limeGreen2s,
.hover_color_limeGreen2s:hover,
.active_color_limeGreen2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_limeGreen2,
.hover_border_limeGreen2:hover,
.active_border_limeGreen2:active:hover {
    border-color: #30c430 #30c430 #30c430 #30c430;
}

.border_limeGreen2h,
.hover_border_limeGreen2h:hover,
.active_border_limeGreen2h:active:hover {
    border-color: #2bb12b #2bb12b #2bb12b #2bb12b;
}

.border_limeGreen2a,
.hover_border_limeGreen2a:hover,
.active_border_limeGreen2a:active:hover {
    border-color: #269d26 #269d26 #269d26 #269d26;
}

.border_limeGreen2s,
.hover_border_limeGreen2s:hover,
.active_border_limeGreen2s:active:hover {
    border-color: #8be38b #8be38b #8be38b #8be38b;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_limeGreen2,
.hover_shadow_expand_limeGreen2:hover,
.active_shadow_expand_limeGreen2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(48, 196, 48, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(48, 196, 48, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(48, 196, 48, .39);
}

.shadow_expand_limeGreen2h,
.hover_shadow_expand_limeGreen2h:hover,
.active_shadow_expand_limeGreen2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(80, 212, 80, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(80, 212, 80, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(80, 212, 80, .50);
}

.shadow_expand_limeGreen2a,
.hover_shadow_expand_limeGreen2a:hover,
.active_shadow_expand_limeGreen2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(139, 227, 139, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(139, 227, 139, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(139, 227, 139, .63);
}

.shadow_expand_limeGreen2s,
.hover_shadow_expand_limeGreen2s:hover,
.active_shadow_expand_limeGreen2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(139, 227, 139, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(139, 227, 139, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(139, 227, 139, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_limeGreen2,
.hover_shadow_left_limeGreen2:hover,
.active_shadow_left_limeGreen2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(48, 196, 48, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(48, 196, 48, .39);
    box-shadow: -0.5em -0.5em 1em rgba(48, 196, 48, .39);
}

.shadow_left_limeGreen2h,
.hover_shadow_left_limeGreen2h:hover,
.active_shadow_left_limeGreen2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(80, 212, 80, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(80, 212, 80, .50);
    box-shadow: -0.5em -0.5em 1em rgba(80, 212, 80, .50);
}

.shadow_left_limeGreen2a,
.hover_shadow_left_limeGreen2a:hover,
.active_shadow_left_limeGreen2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(139, 227, 139, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(139, 227, 139, .63);
    box-shadow: -0.5em -0.5em 1em rgba(139, 227, 139, .63);
}

.shadow_left_limeGreen2s,
.hover_shadow_left_limeGreen2s:hover,
.active_shadow_left_limeGreen2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(139, 227, 139, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(139, 227, 139, .78);
    box-shadow: -0.5em -0.5em 1em rgba(139, 227, 139, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_limeGreen2,
.hover_shadow_right_limeGreen2:hover,
.active_shadow_right_limeGreen2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(48, 196, 48, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(48, 196, 48, .39);
    box-shadow: 0.5em 0em 1em rgba(48, 196, 48, .39);
}

.shadow_right_limeGreen2h,
.hover_shadow_right_limeGreen2h:hover,
.active_shadow_right_limeGreen2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(80, 212, 80, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(80, 212, 80, .50);
    box-shadow: 0.5em 0em 1em rgba(80, 212, 80, .50);
}

.shadow_right_limeGreen2a,
.hover_shadow_right_limeGreen2a:hover,
.active_shadow_right_limeGreen2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(139, 227, 139, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(139, 227, 139, .63);
    box-shadow: 0.5em 0em 1em rgba(139, 227, 139, .63);
}

.shadow_right_limeGreen2s,
.hover_shadow_right_limeGreen2s:hover,
.active_shadow_right_limeGreen2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(139, 227, 139, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(139, 227, 139, .78);
    box-shadow: 0.5em 0em 1em rgba(139, 227, 139, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_limeGreen2,
.hover_shadow_top_limeGreen2:hover,
.active_shadow_top_limeGreen2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(48, 196, 48, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(48, 196, 48, .39);
    box-shadow: 0em -0.5em 1em rgba(48, 196, 48, .39);
}

.shadow_top_limeGreen2h,
.hover_shadow_top_limeGreen2h:hover,
.active_shadow_top_limeGreen2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(80, 212, 80, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(80, 212, 80, .50);
    box-shadow: 0em -0.5em 1em rgba(80, 212, 80, .50);
}

.shadow_top_limeGreen2a,
.hover_shadow_top_limeGreen2a:hover,
.active_shadow_top_limeGreen2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(139, 227, 139, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(139, 227, 139, .63);
    box-shadow: 0em -0.5em 1em rgba(139, 227, 139, .63);
}

.shadow_top_limeGreen2s,
.hover_shadow_top_limeGreen2s:hover,
.active_shadow_top_limeGreen2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(139, 227, 139, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(139, 227, 139, .78);
    box-shadow: 0em -0.5em 1em rgba(139, 227, 139, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_limeGreen2,
.hover_shadow_bottom_limeGreen2:hover,
.active_shadow_bottom_limeGreen2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(48, 196, 48, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(48, 196, 48, .39);
    box-shadow: 0em 0.5em 1em rgba(48, 196, 48, .39);
}

.shadow_bottom_limeGreen2h,
.hover_shadow_bottom_limeGreen2h:hover,
.active_shadow_bottom_limeGreen2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(80, 212, 80, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(80, 212, 80, .50);
    box-shadow: 0em 0.5em 1em rgba(80, 212, 80, .50);
}

.shadow_bottom_limeGreen2a,
.hover_shadow_bottom_limeGreen2a:hover,
.active_shadow_bottom_limeGreen2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(139, 227, 139, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(139, 227, 139, .63);
    box-shadow: 0em 0.5em 1em rgba(139, 227, 139, .63);
}

.shadow_bottom_limeGreen2s,
.hover_shadow_bottom_limeGreen2s:hover,
.active_shadow_bottom_limeGreen2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(139, 227, 139, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(139, 227, 139, .78);
    box-shadow: 0em 0.5em 1em rgba(139, 227, 139, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_limeGreen2,
.hover_shadow_top_left_limeGreen2:hover,
.active_shadow_top_left_limeGreen2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(48, 196, 48, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(48, 196, 48, .39);
    box-shadow: -0.5em -0.5em 1em rgba(48, 196, 48, .39);
}

.shadow_top_left_limeGreen2h,
.hover_shadow_top_left_limeGreen2h:hover,
.active_shadow_top_left_limeGreen2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(80, 212, 80, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(80, 212, 80, .50);
    box-shadow: -0.5em -0.5em 1em rgba(80, 212, 80, .50);
}

.shadow_top_left_limeGreen2a,
.hover_shadow_top_left_limeGreen2a:hover,
.active_shadow_top_left_limeGreen2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(139, 227, 139, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(139, 227, 139, .63);
    box-shadow: -0.5em -0.5em 1em rgba(139, 227, 139, .63);
}

.shadow_top_left_limeGreen2s,
.hover_shadow_top_left_limeGreen2s:hover,
.active_shadow_top_left_limeGreen2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(139, 227, 139, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(139, 227, 139, .78);
    box-shadow: -0.5em -0.5em 1em rgba(139, 227, 139, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_limeGreen2,
.hover_shadow_top_right_limeGreen2:hover,
.active_shadow_top_right_limeGreen2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(48, 196, 48, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(48, 196, 48, .39);
    box-shadow: 0.5em -0.5em 1em rgba(48, 196, 48, .39);
}

.shadow_top_right_limeGreen2h,
.hover_shadow_top_right_limeGreen2h:hover,
.active_shadow_top_right_limeGreen2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(80, 212, 80, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(80, 212, 80, .50);
    box-shadow: 0.5em -0.5em 1em rgba(80, 212, 80, .50);
}

.shadow_top_right_limeGreen2a,
.hover_shadow_top_right_limeGreen2a:hover,
.active_shadow_top_right_limeGreen2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(139, 227, 139, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(139, 227, 139, .63);
    box-shadow: 0.5em -0.5em 1em rgba(139, 227, 139, .63);
}

.shadow_top_right_limeGreen2s,
.hover_shadow_top_right_limeGreen2s:hover,
.active_shadow_top_right_limeGreen2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(139, 227, 139, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(139, 227, 139, .78);
    box-shadow: 0.5em -0.5em 1em rgba(139, 227, 139, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_limeGreen2,
.hover_shadow_bottom_left_limeGreen2:hover,
.active_shadow_bottom_left_limeGreen2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(48, 196, 48, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(48, 196, 48, .39);
    box-shadow: -0.5em 0.5em 1em rgba(48, 196, 48, .39);
}

.shadow_bottom_left_limeGreen2h,
.hover_shadow_bottom_left_limeGreen2h:hover,
.active_shadow_bottom_left_limeGreen2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(80, 212, 80, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(80, 212, 80, .50);
    box-shadow: -0.5em 0.5em 1em rgba(80, 212, 80, .50);
}

.shadow_bottom_left_limeGreen2a,
.hover_shadow_bottom_left_limeGreen2a:hover,
.active_shadow_bottom_left_limeGreen2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(139, 227, 139, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(139, 227, 139, .63);
    box-shadow: -0.5em 0.5em 1em rgba(139, 227, 139, .63);
}

.shadow_bottom_left_limeGreen2s,
.hover_shadow_bottom_left_limeGreen2s:hover,
.active_shadow_bottom_left_limeGreen2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(139, 227, 139, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(139, 227, 139, .78);
    box-shadow: -0.5em 0.5em 1em rgba(139, 227, 139, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_limeGreen2,
.hover_shadow_bottom_right_limeGreen2:hover,
.active_shadow_bottom_right_limeGreen2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(48, 196, 48, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(48, 196, 48, .39);
    box-shadow: 0.5em 0.5em 1em rgba(48, 196, 48, .39);
}

.shadow_bottom_right_limeGreen2h,
.hover_shadow_bottom_right_limeGreen2h:hover,
.active_shadow_bottom_right_limeGreen2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(80, 212, 80, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(80, 212, 80, .50);
    box-shadow: 0.5em 0.5em 1em rgba(80, 212, 80, .50);
}

.shadow_bottom_right_limeGreen2a,
 .hover_shadow_bottom_right_limeGreen2a:hover,
 .active_shadow_bottom_right_limeGreen2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(139, 227, 139, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(139, 227, 139, .63);
     box-shadow: 0.5em 0.5em 1em rgba(139, 227, 139, .63);
 }

 .shadow_bottom_right_limeGreen2s,
 .hover_shadow_bottom_right_limeGreen2s:hover,
 .active_shadow_bottom_right_limeGreen2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(139, 227, 139, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(139, 227, 139, .78);
     box-shadow: 0.5em 0.5em 1em rgba(139, 227, 139, .78);
 }