.background_glassyAzure4,
.hover_background_glassyAzure4:hover,
.active_background_glassyAzure4:active:hover {
    background: #31ffff;
    background-image: -moz-linear-gradient(top,  rgb(19, 255, 255) 0%, rgb(0, 243, 243) 50%, rgb(0, 213, 213) 55%, rgb(49, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(19, 255, 255)), color-stop(50%, rgb(0, 243, 243)), color-stop(55%, rgb(0, 213, 213)), color-stop(100%, rgb(49, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(19, 255, 255) 0%, rgb(0, 243, 243) 50%, rgb(0, 213, 213) 55%, rgb(49, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(19, 255, 255) 0%, rgb(0, 243, 243) 50%, rgb(0, 213, 213) 55%, rgb(49, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(19, 255, 255) 0%, rgb(0, 243, 243) 50%, rgb(0, 213, 213) 55%, rgb(49, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(19, 255, 255) 0%, rgb(0, 243, 243) 50%, rgb(0, 213, 213) 55%, rgb(49, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13ffff', endColorstr='#31ffff',GradientType=0 );
}

.background_glassyAzure4h,
.hover_background_glassyAzure4h:hover,
.active_background_glassyAzure4h:active:hover {
    background: #31ffff;
    background-image: -moz-linear-gradient(top,  rgb(73, 255, 255) 0%, rgb(37, 255, 255) 50%, rgb(0, 255, 255) 55%, rgb(110, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(73, 255, 255)), color-stop(50%, rgb(37, 255, 255)), color-stop(55%, rgb(0, 255, 255)), color-stop(100%, rgb(110, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(73, 255, 255) 0%, rgb(37, 255, 255) 50%, rgb(0, 255, 255) 55%, rgb(110, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(73, 255, 255) 0%, rgb(37, 255, 255) 50%, rgb(0, 255, 255) 55%, rgb(110, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(73, 255, 255) 0%, rgb(37, 255, 255) 50%, rgb(0, 255, 255) 55%, rgb(110, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(73, 255, 255) 0%, rgb(37, 255, 255) 50%, rgb(0, 255, 255) 55%, rgb(110, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49ffff', endColorstr='#6effff',GradientType=0 );
}

.background_glassyAzure4a,
.hover_background_glassyAzure4a:hover,
.active_background_glassyAzure4a:active:hover {
    background: #31ffff;
    background-image: -moz-linear-gradient(top,  rgb(110, 255, 255) 0%, rgb(0, 255, 255) 50%, rgb(37, 255, 255) 55%, rgb(73, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(110, 255, 255)), color-stop(50%, rgb(0, 255, 255)), color-stop(55%, rgb(37, 255, 255)), color-stop(100%, rgb(73, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(110, 255, 255) 0%, rgb(0, 255, 255) 50%, rgb(37, 255, 255) 55%, rgb(73, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(110, 255, 255) 0%, rgb(0, 255, 255) 50%, rgb(37, 255, 255) 55%, rgb(73, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(110, 255, 255) 0%, rgb(0, 255, 255) 50%, rgb(37, 255, 255) 55%, rgb(73, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(110, 255, 255) 0%, rgb(0, 255, 255) 50%, rgb(37, 255, 255) 55%, rgb(73, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6effff', endColorstr='#49ffff',GradientType=0 );
}

.background_glassyAzure4s,
.hover_background_glassyAzure4s:hover,
.active_background_glassyAzure4s:active:hover {
    background: #31ffff;
    background-image: -moz-linear-gradient(top,  rgb(155, 255, 255) 0%, rgb(110, 255, 255) 50%, rgb(64, 255, 255) 55%, rgb(201, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(155, 255, 255)), color-stop(50%, rgb(110, 255, 255)), color-stop(55%, rgb(64, 255, 255)), color-stop(100%, rgb(201, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(155, 255, 255) 0%, rgb(110, 255, 255) 50%, rgb(64, 255, 255) 55%, rgb(201, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(155, 255, 255) 0%, rgb(110, 255, 255) 50%, rgb(64, 255, 255) 55%, rgb(201, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(155, 255, 255) 0%, rgb(110, 255, 255) 50%, rgb(64, 255, 255) 55%, rgb(201, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(155, 255, 255) 0%, rgb(110, 255, 255) 50%, rgb(64, 255, 255) 55%, rgb(201, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bffff', endColorstr='#c9ffff',GradientType=0 );
}

.background_color_glassyAzure4,
.hover_background_color_glassyAzure4:hover,
.active_background_color_glassyAzure4:active:hover {
    background-color:#31ffff;
}

.background_first_color_glassyAzure4,
.hover_background_first_color_glassyAzure4:hover,
.active_background_first_color_glassyAzure4:active:hover {
    background-color:#13ffff;
}

.background_last_color_glassyAzure4,
.hover_background_last_color_glassyAzure4:hover,
.active_background_color_last_glassyAzure4:active:hover {
   background-color:#31ffff;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyAzure4,
.hover_color_glassyAzure4:hover,
.active_color_glassyAzure4:active:hover {
    color: #282828;
}

.color_glassyAzure4h,
.hover_color_glassyAzure4h:hover,
.active_color_glassyAzure4h:active:hover {
    color: #282828;
}

.color_glassyAzure4a,
.hover_color_glassyAzure4a:hover,
.active_color_glassyAzure4a:active:hover {
    color: #ff0;
}

.color_glassyAzure4s,
.hover_color_glassyAzure4s:hover,
.active_color_glassyAzure4s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyAzure4,
.hover_border_glassyAzure4:hover,
.active_border_glassyAzure4:active:hover {
    border-color: #00dbdb #00b6b6 #00b6b6 #00dbdb;
}

.border_glassyAzure4h,
.hover_border_glassyAzure4h:hover,
.active_border_glassyAzure4h:active:hover {
    border-color: #00dbdb #00b6b6 #00b6b6 #00dbdb;
}

.border_glassyAzure4a,
.hover_border_glassyAzure4a:hover,
.active_border_glassyAzure4a:active:hover {
    border-color: #00aaaa #00aaaa #00aaaa #00aaaa;
}

.border_glassyAzure4s,
.hover_border_glassyAzure4s:hover,
.active_border_glassyAzure4s:active:hover {
    border-color: #00aaaa #00aaaa #00aaaa #00aaaa;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyAzure4,
.hover_shadow_expand_glassyAzure4:hover,
.active_shadow_expand_glassyAzure4:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(49, 255, 255, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(49, 255, 255, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(49, 255, 255, .39);
}

.shadow_expand_glassyAzure4h,
.hover_shadow_expand_glassyAzure4h:hover,
.active_shadow_expand_glassyAzure4h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(110, 255, 255, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(110, 255, 255, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(110, 255, 255, .50);
}

.shadow_expand_glassyAzure4a,
.hover_shadow_expand_glassyAzure4a:hover,
.active_shadow_expand_glassyAzure4a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(73, 255, 255, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(73, 255, 255, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(73, 255, 255, .63);
}

.shadow_expand_glassyAzure4s,
.hover_shadow_expand_glassyAzure4s:hover,
.active_shadow_expand_glassyAzure4s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(73, 255, 255, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(73, 255, 255, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(73, 255, 255, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyAzure4,
.hover_shadow_left_glassyAzure4:hover,
.active_shadow_left_glassyAzure4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(49, 255, 255, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(49, 255, 255, .39);
    box-shadow: -0.5em -0.5em 1em rgba(49, 255, 255, .39);
}

.shadow_left_glassyAzure4h,
.hover_shadow_left_glassyAzure4h:hover,
.active_shadow_left_glassyAzure4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(110, 255, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(110, 255, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(110, 255, 255, .50);
}

.shadow_left_glassyAzure4a,
.hover_shadow_left_glassyAzure4a:hover,
.active_shadow_left_glassyAzure4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(73, 255, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(73, 255, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(73, 255, 255, .63);
}

.shadow_left_glassyAzure4s,
.hover_shadow_left_glassyAzure4s:hover,
.active_shadow_left_glassyAzure4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(73, 255, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(73, 255, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(73, 255, 255, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyAzure4,
.hover_shadow_right_glassyAzure4:hover,
.active_shadow_right_glassyAzure4:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(49, 255, 255, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(49, 255, 255, .39);
    box-shadow: 0.5em 0em 1em rgba(49, 255, 255, .39);
}

.shadow_right_glassyAzure4h,
.hover_shadow_right_glassyAzure4h:hover,
.active_shadow_right_glassyAzure4h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(110, 255, 255, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(110, 255, 255, .50);
    box-shadow: 0.5em 0em 1em rgba(110, 255, 255, .50);
}

.shadow_right_glassyAzure4a,
.hover_shadow_right_glassyAzure4a:hover,
.active_shadow_right_glassyAzure4a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(73, 255, 255, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(73, 255, 255, .63);
    box-shadow: 0.5em 0em 1em rgba(73, 255, 255, .63);
}

.shadow_right_glassyAzure4s,
.hover_shadow_right_glassyAzure4s:hover,
.active_shadow_right_glassyAzure4s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(73, 255, 255, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(73, 255, 255, .78);
    box-shadow: 0.5em 0em 1em rgba(73, 255, 255, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyAzure4,
.hover_shadow_top_glassyAzure4:hover,
.active_shadow_top_glassyAzure4:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(49, 255, 255, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(49, 255, 255, .39);
    box-shadow: 0em -0.5em 1em rgba(49, 255, 255, .39);
}

.shadow_top_glassyAzure4h,
.hover_shadow_top_glassyAzure4h:hover,
.active_shadow_top_glassyAzure4h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(110, 255, 255, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(110, 255, 255, .50);
    box-shadow: 0em -0.5em 1em rgba(110, 255, 255, .50);
}

.shadow_top_glassyAzure4a,
.hover_shadow_top_glassyAzure4a:hover,
.active_shadow_top_glassyAzure4a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(73, 255, 255, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(73, 255, 255, .63);
    box-shadow: 0em -0.5em 1em rgba(73, 255, 255, .63);
}

.shadow_top_glassyAzure4s,
.hover_shadow_top_glassyAzure4s:hover,
.active_shadow_top_glassyAzure4s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(73, 255, 255, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(73, 255, 255, .78);
    box-shadow: 0em -0.5em 1em rgba(73, 255, 255, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyAzure4,
.hover_shadow_bottom_glassyAzure4:hover,
.active_shadow_bottom_glassyAzure4:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(49, 255, 255, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(49, 255, 255, .39);
    box-shadow: 0em 0.5em 1em rgba(49, 255, 255, .39);
}

.shadow_bottom_glassyAzure4h,
.hover_shadow_bottom_glassyAzure4h:hover,
.active_shadow_bottom_glassyAzure4h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(110, 255, 255, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(110, 255, 255, .50);
    box-shadow: 0em 0.5em 1em rgba(110, 255, 255, .50);
}

.shadow_bottom_glassyAzure4a,
.hover_shadow_bottom_glassyAzure4a:hover,
.active_shadow_bottom_glassyAzure4a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(73, 255, 255, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(73, 255, 255, .63);
    box-shadow: 0em 0.5em 1em rgba(73, 255, 255, .63);
}

.shadow_bottom_glassyAzure4s,
.hover_shadow_bottom_glassyAzure4s:hover,
.active_shadow_bottom_glassyAzure4s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(73, 255, 255, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(73, 255, 255, .78);
    box-shadow: 0em 0.5em 1em rgba(73, 255, 255, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyAzure4,
.hover_shadow_top_left_glassyAzure4:hover,
.active_shadow_top_left_glassyAzure4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(49, 255, 255, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(49, 255, 255, .39);
    box-shadow: -0.5em -0.5em 1em rgba(49, 255, 255, .39);
}

.shadow_top_left_glassyAzure4h,
.hover_shadow_top_left_glassyAzure4h:hover,
.active_shadow_top_left_glassyAzure4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(110, 255, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(110, 255, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(110, 255, 255, .50);
}

.shadow_top_left_glassyAzure4a,
.hover_shadow_top_left_glassyAzure4a:hover,
.active_shadow_top_left_glassyAzure4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(73, 255, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(73, 255, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(73, 255, 255, .63);
}

.shadow_top_left_glassyAzure4s,
.hover_shadow_top_left_glassyAzure4s:hover,
.active_shadow_top_left_glassyAzure4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(73, 255, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(73, 255, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(73, 255, 255, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyAzure4,
.hover_shadow_top_right_glassyAzure4:hover,
.active_shadow_top_right_glassyAzure4:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(49, 255, 255, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(49, 255, 255, .39);
    box-shadow: 0.5em -0.5em 1em rgba(49, 255, 255, .39);
}

.shadow_top_right_glassyAzure4h,
.hover_shadow_top_right_glassyAzure4h:hover,
.active_shadow_top_right_glassyAzure4h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(110, 255, 255, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(110, 255, 255, .50);
    box-shadow: 0.5em -0.5em 1em rgba(110, 255, 255, .50);
}

.shadow_top_right_glassyAzure4a,
.hover_shadow_top_right_glassyAzure4a:hover,
.active_shadow_top_right_glassyAzure4a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(73, 255, 255, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(73, 255, 255, .63);
    box-shadow: 0.5em -0.5em 1em rgba(73, 255, 255, .63);
}

.shadow_top_right_glassyAzure4s,
.hover_shadow_top_right_glassyAzure4s:hover,
.active_shadow_top_right_glassyAzure4s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(73, 255, 255, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(73, 255, 255, .78);
    box-shadow: 0.5em -0.5em 1em rgba(73, 255, 255, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyAzure4,
.hover_shadow_bottom_left_glassyAzure4:hover,
.active_shadow_bottom_left_glassyAzure4:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(49, 255, 255, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(49, 255, 255, .39);
    box-shadow: -0.5em 0.5em 1em rgba(49, 255, 255, .39);
}

.shadow_bottom_left_glassyAzure4h,
.hover_shadow_bottom_left_glassyAzure4h:hover,
.active_shadow_bottom_left_glassyAzure4h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(110, 255, 255, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(110, 255, 255, .50);
    box-shadow: -0.5em 0.5em 1em rgba(110, 255, 255, .50);
}

.shadow_bottom_left_glassyAzure4a,
.hover_shadow_bottom_left_glassyAzure4a:hover,
.active_shadow_bottom_left_glassyAzure4a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(73, 255, 255, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(73, 255, 255, .63);
    box-shadow: -0.5em 0.5em 1em rgba(73, 255, 255, .63);
}

.shadow_bottom_left_glassyAzure4s,
.hover_shadow_bottom_left_glassyAzure4s:hover,
.active_shadow_bottom_left_glassyAzure4s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(73, 255, 255, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(73, 255, 255, .78);
    box-shadow: -0.5em 0.5em 1em rgba(73, 255, 255, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyAzure4,
.hover_shadow_bottom_right_glassyAzure4:hover,
.active_shadow_bottom_right_glassyAzure4:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(49, 255, 255, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(49, 255, 255, .39);
    box-shadow: 0.5em 0.5em 1em rgba(49, 255, 255, .39);
}

.shadow_bottom_right_glassyAzure4h,
.hover_shadow_bottom_right_glassyAzure4h:hover,
.active_shadow_bottom_right_glassyAzure4h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(110, 255, 255, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(110, 255, 255, .50);
    box-shadow: 0.5em 0.5em 1em rgba(110, 255, 255, .50);
}

.shadow_bottom_right_glassyAzure4a,
 .hover_shadow_bottom_right_glassyAzure4a:hover,
 .active_shadow_bottom_right_glassyAzure4a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(73, 255, 255, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(73, 255, 255, .63);
     box-shadow: 0.5em 0.5em 1em rgba(73, 255, 255, .63);
 }

 .shadow_bottom_right_glassyAzure4s,
 .hover_shadow_bottom_right_glassyAzure4s:hover,
 .active_shadow_bottom_right_glassyAzure4s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(73, 255, 255, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(73, 255, 255, .78);
     box-shadow: 0.5em 0.5em 1em rgba(73, 255, 255, .78);
 }