.aquaDeepPink7,
.hover_aquaDeepPink7:hover,
.active_aquaDeepPink7:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(205, 0, 131, .39),
           inset 0 -0.5em 0.9em 0 #ff34d1,
           inset 0 -0.5em 0em 0.65em rgb(154, 0, 96),
           inset 0 0em 0.5em 2em rgb(221, 61, 160);
    -moz-box-shadow: 0 0.63em 0.75em rgba(205, 0, 131, .39),
           inset 0 -0.5em 0.9em 0 #ff34d1,
           inset 0 -0.5em 0em 0.65em rgb(154, 0, 96),
           inset 0 0em 0.5em 2em rgb(221, 61, 160);
    box-shadow: 0 0.63em 0.75em rgba(205, 0, 131, .39),
           inset 0 -0.5em 0.9em 0 #ff34d1,
           inset 0 -0.5em 0em 0.65em rgb(154, 0, 96),
           inset 0 0em 0.5em 2em rgb(221, 61, 160);
}

.aquaDeepPink7h,
.hover_aquaDeepPink7h:hover,
.active_aquaDeepPink7h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(230, 0, 147, .55),
           inset 0 -0.5em 0.9em 0 #ff67dd,
           inset 0 -0.5em 0em 0.65em #ff019f,
           inset 0 0em 0.5em 2em #fb6ac5;
    -moz-box-shadow:0 0.63em 1em rgba(230, 0, 147, .55),
           inset 0 -0.5em 0.9em 0 #ff67dd,
           inset 0 -0.5em 0em 0.65em #ff019f,
           inset 0 0em 0.5em 2em #fb6ac5;
    box-shadow:0 0.63em 1em rgba(230, 0, 147, .55),
           inset 0 -0.5em 0.9em 0 #ff67dd,
           inset 0 -0.5em 0em 0.65em #ff019f,
           inset 0 0em 0.5em 2em #fb6ac5;
}

.aquaDeepPink7a,
.hover_aquaDeepPink7a:hover,
.active_aquaDeepPink7a:active {
    /*background: #d70074;*/

    -webkit-box-shadow:0 0.63em 1em rgba(154, 0, 98, .55),
           inset 0 -0.5em 0.9em 0 #ff4dd7,
           inset 0 -0.5em 0em 0.65em #c8007c,
           inset 0 0em 0.5em 2em #ff1aa9;
    -moz-box-shadow:0 0.63em 1em rgba(154, 0, 98, .55),
           inset 0 -0.5em 0.9em 0 #ff4dd7,
           inset 0 -0.5em 0em 0.65em #c8007c,
           inset 0 0em 0.5em 2em #ff1aa9;
    box-shadow:0 0.63em 1em rgba(154, 0, 98, .55),
           inset 0 -0.5em 0.9em 0 #ff4dd7,
           inset 0 -0.5em 0em 0.65em #c8007c,
           inset 0 0em 0.5em 2em #ff1aa9;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaDeepPink7,
.hover_color_aquaDeepPink7:hover,
.active_color_aquaDeepPink7:active {
    color: #c8c8c8;
}

.color_aquaDeepPink7h,
.hover_color_aquaDeepPink7h:hover,
.active_color_aquaDeepPink7h:active {
    color: #c8c8c8;
}

.color_aquaDeepPink7a,
.hover_color_aquaDeepPink7a:hover,
.active_color_aquaDeepPink7a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaDeepPink7,
.hover_border_aquaDeepPink7:hover,
.active_border_aquaDeepPink7:active {
    border-color: #8f004d #8f004d #8f004d #8f004d;
}

.border_aquaDeepPink7h,
.hover_border_aquaDeepPink7h:hover,
.active_border_aquaDeepPink7h:active {
    border-color: #8f004d #8f004d #8f004d #8f004d;
}

.border_aquaDeepPink7a,
.hover_border_aquaDeepPink7a:hover,
.active_border_aquaDeepPink7a:active  {
    border-color: #8f004d #8f004d #8f004d #8f004d;
}

