.background_glassyThistle4,
.hover_background_glassyThistle4:hover,
.active_background_glassyThistle4:active:hover {
    background: #a165a1;
    background-image: -moz-linear-gradient(top,  rgb(147, 89, 147) 0%, rgb(130, 79, 130) 50%, rgb(114, 70, 114) 55%, rgb(161, 101, 161) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(147, 89, 147)), color-stop(50%, rgb(130, 79, 130)), color-stop(55%, rgb(114, 70, 114)), color-stop(100%, rgb(161, 101, 161)));
    background-image: -webkit-linear-gradient(top,  rgb(147, 89, 147) 0%, rgb(130, 79, 130) 50%, rgb(114, 70, 114) 55%, rgb(161, 101, 161) 100%);
    background-image: -o-linear-gradient(top,  rgb(147, 89, 147) 0%, rgb(130, 79, 130) 50%, rgb(114, 70, 114) 55%, rgb(161, 101, 161) 100%);
    background-image: -ms-linear-gradient(top, rgb(147, 89, 147) 0%, rgb(130, 79, 130) 50%, rgb(114, 70, 114) 55%, rgb(161, 101, 161) 100%);
    background-image: linear-gradient(to bottom,  rgb(147, 89, 147) 0%, rgb(130, 79, 130) 50%, rgb(114, 70, 114) 55%, rgb(161, 101, 161) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#935993', endColorstr='#a165a1',GradientType=0 );
}

.background_glassyThistle4h,
.hover_background_glassyThistle4h:hover,
.active_background_glassyThistle4h:active:hover {
    background: #a165a1;
    background-image: -moz-linear-gradient(top,  rgb(169, 114, 169) 0%, rgb(157, 95, 157) 50%, rgb(137, 83, 137) 55%, rgb(181, 134, 181) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(169, 114, 169)), color-stop(50%, rgb(157, 95, 157)), color-stop(55%, rgb(137, 83, 137)), color-stop(100%, rgb(181, 134, 181)));
    background-image: -webkit-linear-gradient(top,  rgb(169, 114, 169) 0%, rgb(157, 95, 157) 50%, rgb(137, 83, 137) 55%, rgb(181, 134, 181) 100%);
    background-image: -o-linear-gradient(top,  rgb(169, 114, 169) 0%, rgb(157, 95, 157) 50%, rgb(137, 83, 137) 55%, rgb(181, 134, 181) 100%);
    background-image: -ms-linear-gradient(top, rgb(169, 114, 169) 0%, rgb(157, 95, 157) 50%, rgb(137, 83, 137) 55%, rgb(181, 134, 181) 100%);
    background-image: linear-gradient(to bottom,  rgb(169, 114, 169) 0%, rgb(157, 95, 157) 50%, rgb(137, 83, 137) 55%, rgb(181, 134, 181) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a972a9', endColorstr='#b586b5',GradientType=0 );
}

.background_glassyThistle4a,
.hover_background_glassyThistle4a:hover,
.active_background_glassyThistle4a:active:hover {
    background: #a165a1;
    background-image: -moz-linear-gradient(top,  rgb(181, 134, 181) 0%, rgb(137, 83, 137) 50%, rgb(157, 95, 157) 55%, rgb(169, 114, 169) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(181, 134, 181)), color-stop(50%, rgb(137, 83, 137)), color-stop(55%, rgb(157, 95, 157)), color-stop(100%, rgb(169, 114, 169)));
    background-image: -webkit-linear-gradient(top,  rgb(181, 134, 181) 0%, rgb(137, 83, 137) 50%, rgb(157, 95, 157) 55%, rgb(169, 114, 169) 100%);
    background-image: -o-linear-gradient(top,  rgb(181, 134, 181) 0%, rgb(137, 83, 137) 50%, rgb(157, 95, 157) 55%, rgb(169, 114, 169) 100%);
    background-image: -ms-linear-gradient(top, rgb(181, 134, 181) 0%, rgb(137, 83, 137) 50%, rgb(157, 95, 157) 55%, rgb(169, 114, 169) 100%);
    background-image: linear-gradient(to bottom,  rgb(181, 134, 181) 0%, rgb(137, 83, 137) 50%, rgb(157, 95, 157) 55%, rgb(169, 114, 169) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b586b5', endColorstr='#a972a9',GradientType=0 );
}

.background_glassyThistle4s,
.hover_background_glassyThistle4s:hover,
.active_background_glassyThistle4s:active:hover {
    background: #a165a1;
    background-image: -moz-linear-gradient(top,  rgb(196, 158, 196) 0%, rgb(181, 134, 181) 50%, rgb(166, 109, 166) 55%, rgb(211, 183, 211) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(196, 158, 196)), color-stop(50%, rgb(181, 134, 181)), color-stop(55%, rgb(166, 109, 166)), color-stop(100%, rgb(211, 183, 211)));
    background-image: -webkit-linear-gradient(top,  rgb(196, 158, 196) 0%, rgb(181, 134, 181) 50%, rgb(166, 109, 166) 55%, rgb(211, 183, 211) 100%);
    background-image: -o-linear-gradient(top,  rgb(196, 158, 196) 0%, rgb(181, 134, 181) 50%, rgb(166, 109, 166) 55%, rgb(211, 183, 211) 100%);
    background-image: -ms-linear-gradient(top, rgb(196, 158, 196) 0%, rgb(181, 134, 181) 50%, rgb(166, 109, 166) 55%, rgb(211, 183, 211) 100%);
    background-image: linear-gradient(to bottom,  rgb(196, 158, 196) 0%, rgb(181, 134, 181) 50%, rgb(166, 109, 166) 55%, rgb(211, 183, 211) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c49ec4', endColorstr='#d3b7d3',GradientType=0 );
}

.background_color_glassyThistle4,
.hover_background_color_glassyThistle4:hover,
.active_background_color_glassyThistle4:active:hover {
    background-color:#a165a1;
}

.background_first_color_glassyThistle4,
.hover_background_first_color_glassyThistle4:hover,
.active_background_first_color_glassyThistle4:active:hover {
    background-color:#935993;
}

.background_last_color_glassyThistle4,
.hover_background_last_color_glassyThistle4:hover,
.active_background_color_last_glassyThistle4:active:hover {
   background-color:#a165a1;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyThistle4,
.hover_color_glassyThistle4:hover,
.active_color_glassyThistle4:active:hover {
    color: #c8c8c8;
}

.color_glassyThistle4h,
.hover_color_glassyThistle4h:hover,
.active_color_glassyThistle4h:active:hover {
    color: #c8c8c8;
}

.color_glassyThistle4a,
.hover_color_glassyThistle4a:hover,
.active_color_glassyThistle4a:active:hover {
    color: #ff0;
}

.color_glassyThistle4s,
.hover_color_glassyThistle4s:hover,
.active_color_glassyThistle4s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyThistle4,
.hover_border_glassyThistle4:hover,
.active_border_glassyThistle4:active:hover {
    border-color: #754875 #623c62 #623c62 #754875;
}

.border_glassyThistle4h,
.hover_border_glassyThistle4h:hover,
.active_border_glassyThistle4h:active:hover {
    border-color: #754875 #623c62 #623c62 #754875;
}

.border_glassyThistle4a,
.hover_border_glassyThistle4a:hover,
.active_border_glassyThistle4a:active:hover {
    border-color: #5b385b #5b385b #5b385b #5b385b;
}

.border_glassyThistle4s,
.hover_border_glassyThistle4s:hover,
.active_border_glassyThistle4s:active:hover {
    border-color: #5b385b #5b385b #5b385b #5b385b;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyThistle4,
.hover_shadow_expand_glassyThistle4:hover,
.active_shadow_expand_glassyThistle4:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(161, 101, 161, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(161, 101, 161, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(161, 101, 161, .39);
}

.shadow_expand_glassyThistle4h,
.hover_shadow_expand_glassyThistle4h:hover,
.active_shadow_expand_glassyThistle4h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(181, 134, 181, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(181, 134, 181, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(181, 134, 181, .50);
}

.shadow_expand_glassyThistle4a,
.hover_shadow_expand_glassyThistle4a:hover,
.active_shadow_expand_glassyThistle4a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(169, 114, 169, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(169, 114, 169, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(169, 114, 169, .63);
}

.shadow_expand_glassyThistle4s,
.hover_shadow_expand_glassyThistle4s:hover,
.active_shadow_expand_glassyThistle4s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(169, 114, 169, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(169, 114, 169, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(169, 114, 169, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyThistle4,
.hover_shadow_left_glassyThistle4:hover,
.active_shadow_left_glassyThistle4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(161, 101, 161, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(161, 101, 161, .39);
    box-shadow: -0.5em -0.5em 1em rgba(161, 101, 161, .39);
}

.shadow_left_glassyThistle4h,
.hover_shadow_left_glassyThistle4h:hover,
.active_shadow_left_glassyThistle4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(181, 134, 181, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(181, 134, 181, .50);
    box-shadow: -0.5em -0.5em 1em rgba(181, 134, 181, .50);
}

.shadow_left_glassyThistle4a,
.hover_shadow_left_glassyThistle4a:hover,
.active_shadow_left_glassyThistle4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(169, 114, 169, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(169, 114, 169, .63);
    box-shadow: -0.5em -0.5em 1em rgba(169, 114, 169, .63);
}

.shadow_left_glassyThistle4s,
.hover_shadow_left_glassyThistle4s:hover,
.active_shadow_left_glassyThistle4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(169, 114, 169, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(169, 114, 169, .78);
    box-shadow: -0.5em -0.5em 1em rgba(169, 114, 169, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyThistle4,
.hover_shadow_right_glassyThistle4:hover,
.active_shadow_right_glassyThistle4:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(161, 101, 161, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(161, 101, 161, .39);
    box-shadow: 0.5em 0em 1em rgba(161, 101, 161, .39);
}

.shadow_right_glassyThistle4h,
.hover_shadow_right_glassyThistle4h:hover,
.active_shadow_right_glassyThistle4h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(181, 134, 181, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(181, 134, 181, .50);
    box-shadow: 0.5em 0em 1em rgba(181, 134, 181, .50);
}

.shadow_right_glassyThistle4a,
.hover_shadow_right_glassyThistle4a:hover,
.active_shadow_right_glassyThistle4a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(169, 114, 169, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(169, 114, 169, .63);
    box-shadow: 0.5em 0em 1em rgba(169, 114, 169, .63);
}

.shadow_right_glassyThistle4s,
.hover_shadow_right_glassyThistle4s:hover,
.active_shadow_right_glassyThistle4s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(169, 114, 169, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(169, 114, 169, .78);
    box-shadow: 0.5em 0em 1em rgba(169, 114, 169, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyThistle4,
.hover_shadow_top_glassyThistle4:hover,
.active_shadow_top_glassyThistle4:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(161, 101, 161, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(161, 101, 161, .39);
    box-shadow: 0em -0.5em 1em rgba(161, 101, 161, .39);
}

.shadow_top_glassyThistle4h,
.hover_shadow_top_glassyThistle4h:hover,
.active_shadow_top_glassyThistle4h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(181, 134, 181, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(181, 134, 181, .50);
    box-shadow: 0em -0.5em 1em rgba(181, 134, 181, .50);
}

.shadow_top_glassyThistle4a,
.hover_shadow_top_glassyThistle4a:hover,
.active_shadow_top_glassyThistle4a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(169, 114, 169, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(169, 114, 169, .63);
    box-shadow: 0em -0.5em 1em rgba(169, 114, 169, .63);
}

.shadow_top_glassyThistle4s,
.hover_shadow_top_glassyThistle4s:hover,
.active_shadow_top_glassyThistle4s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(169, 114, 169, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(169, 114, 169, .78);
    box-shadow: 0em -0.5em 1em rgba(169, 114, 169, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyThistle4,
.hover_shadow_bottom_glassyThistle4:hover,
.active_shadow_bottom_glassyThistle4:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(161, 101, 161, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(161, 101, 161, .39);
    box-shadow: 0em 0.5em 1em rgba(161, 101, 161, .39);
}

.shadow_bottom_glassyThistle4h,
.hover_shadow_bottom_glassyThistle4h:hover,
.active_shadow_bottom_glassyThistle4h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(181, 134, 181, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(181, 134, 181, .50);
    box-shadow: 0em 0.5em 1em rgba(181, 134, 181, .50);
}

.shadow_bottom_glassyThistle4a,
.hover_shadow_bottom_glassyThistle4a:hover,
.active_shadow_bottom_glassyThistle4a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(169, 114, 169, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(169, 114, 169, .63);
    box-shadow: 0em 0.5em 1em rgba(169, 114, 169, .63);
}

.shadow_bottom_glassyThistle4s,
.hover_shadow_bottom_glassyThistle4s:hover,
.active_shadow_bottom_glassyThistle4s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(169, 114, 169, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(169, 114, 169, .78);
    box-shadow: 0em 0.5em 1em rgba(169, 114, 169, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyThistle4,
.hover_shadow_top_left_glassyThistle4:hover,
.active_shadow_top_left_glassyThistle4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(161, 101, 161, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(161, 101, 161, .39);
    box-shadow: -0.5em -0.5em 1em rgba(161, 101, 161, .39);
}

.shadow_top_left_glassyThistle4h,
.hover_shadow_top_left_glassyThistle4h:hover,
.active_shadow_top_left_glassyThistle4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(181, 134, 181, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(181, 134, 181, .50);
    box-shadow: -0.5em -0.5em 1em rgba(181, 134, 181, .50);
}

.shadow_top_left_glassyThistle4a,
.hover_shadow_top_left_glassyThistle4a:hover,
.active_shadow_top_left_glassyThistle4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(169, 114, 169, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(169, 114, 169, .63);
    box-shadow: -0.5em -0.5em 1em rgba(169, 114, 169, .63);
}

.shadow_top_left_glassyThistle4s,
.hover_shadow_top_left_glassyThistle4s:hover,
.active_shadow_top_left_glassyThistle4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(169, 114, 169, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(169, 114, 169, .78);
    box-shadow: -0.5em -0.5em 1em rgba(169, 114, 169, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyThistle4,
.hover_shadow_top_right_glassyThistle4:hover,
.active_shadow_top_right_glassyThistle4:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(161, 101, 161, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(161, 101, 161, .39);
    box-shadow: 0.5em -0.5em 1em rgba(161, 101, 161, .39);
}

.shadow_top_right_glassyThistle4h,
.hover_shadow_top_right_glassyThistle4h:hover,
.active_shadow_top_right_glassyThistle4h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(181, 134, 181, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(181, 134, 181, .50);
    box-shadow: 0.5em -0.5em 1em rgba(181, 134, 181, .50);
}

.shadow_top_right_glassyThistle4a,
.hover_shadow_top_right_glassyThistle4a:hover,
.active_shadow_top_right_glassyThistle4a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(169, 114, 169, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(169, 114, 169, .63);
    box-shadow: 0.5em -0.5em 1em rgba(169, 114, 169, .63);
}

.shadow_top_right_glassyThistle4s,
.hover_shadow_top_right_glassyThistle4s:hover,
.active_shadow_top_right_glassyThistle4s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(169, 114, 169, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(169, 114, 169, .78);
    box-shadow: 0.5em -0.5em 1em rgba(169, 114, 169, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyThistle4,
.hover_shadow_bottom_left_glassyThistle4:hover,
.active_shadow_bottom_left_glassyThistle4:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(161, 101, 161, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(161, 101, 161, .39);
    box-shadow: -0.5em 0.5em 1em rgba(161, 101, 161, .39);
}

.shadow_bottom_left_glassyThistle4h,
.hover_shadow_bottom_left_glassyThistle4h:hover,
.active_shadow_bottom_left_glassyThistle4h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(181, 134, 181, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(181, 134, 181, .50);
    box-shadow: -0.5em 0.5em 1em rgba(181, 134, 181, .50);
}

.shadow_bottom_left_glassyThistle4a,
.hover_shadow_bottom_left_glassyThistle4a:hover,
.active_shadow_bottom_left_glassyThistle4a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(169, 114, 169, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(169, 114, 169, .63);
    box-shadow: -0.5em 0.5em 1em rgba(169, 114, 169, .63);
}

.shadow_bottom_left_glassyThistle4s,
.hover_shadow_bottom_left_glassyThistle4s:hover,
.active_shadow_bottom_left_glassyThistle4s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(169, 114, 169, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(169, 114, 169, .78);
    box-shadow: -0.5em 0.5em 1em rgba(169, 114, 169, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyThistle4,
.hover_shadow_bottom_right_glassyThistle4:hover,
.active_shadow_bottom_right_glassyThistle4:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(161, 101, 161, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(161, 101, 161, .39);
    box-shadow: 0.5em 0.5em 1em rgba(161, 101, 161, .39);
}

.shadow_bottom_right_glassyThistle4h,
.hover_shadow_bottom_right_glassyThistle4h:hover,
.active_shadow_bottom_right_glassyThistle4h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(181, 134, 181, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(181, 134, 181, .50);
    box-shadow: 0.5em 0.5em 1em rgba(181, 134, 181, .50);
}

.shadow_bottom_right_glassyThistle4a,
 .hover_shadow_bottom_right_glassyThistle4a:hover,
 .active_shadow_bottom_right_glassyThistle4a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(169, 114, 169, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(169, 114, 169, .63);
     box-shadow: 0.5em 0.5em 1em rgba(169, 114, 169, .63);
 }

 .shadow_bottom_right_glassyThistle4s,
 .hover_shadow_bottom_right_glassyThistle4s:hover,
 .active_shadow_bottom_right_glassyThistle4s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(169, 114, 169, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(169, 114, 169, .78);
     box-shadow: 0.5em 0.5em 1em rgba(169, 114, 169, .78);
 }