.background_sandyBrown1,
.hover_background_sandyBrown1:hover,
.active_background_sandyBrown1:active:hover {
    background: #f29748;
    background-image: -moz-linear-gradient(top,  rgb(247, 193, 146) 0%, rgb(242, 151, 72) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(247, 193, 146)), color-stop(100%, rgb(242, 151, 72)));
    background-image: -webkit-linear-gradient(top,  rgb(247, 193, 146) 0%, rgb(242, 151, 72) 100%);
    background-image: -o-linear-gradient(top,  rgb(247, 193, 146) 0%, rgb(242, 151, 72) 100%);
    background-image: -ms-linear-gradient(top, rgb(247, 193, 146) 0%, rgb(242, 151, 72) 100%);
    background-image: linear-gradient(to bottom,  rgb(247, 193, 146) 0%, rgb(242, 151, 72) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c192', endColorstr='#f29748',GradientType=0 );
}

.background_sandyBrown1h,
.hover_background_sandyBrown1h:hover,
.active_background_sandyBrown1h:active:hover {
    background: #f29748;
    background-image: -moz-linear-gradient(top,  rgb(253, 235, 220) 0%, rgb(246, 184, 131) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(253, 235, 220)), color-stop(100%, rgb(246, 184, 131)));
    background-image: -webkit-linear-gradient(top,  rgb(253, 235, 220) 0%, rgb(246, 184, 131) 100%);
    background-image: -o-linear-gradient(top,  rgb(253, 235, 220) 0%, rgb(246, 184, 131) 100%);
    background-image: -ms-linear-gradient(top, rgb(253, 235, 220) 0%, rgb(246, 184, 131) 100%);
    background-image: linear-gradient(to bottom,  rgb(253, 235, 220) 0%, rgb(246, 184, 131) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdebdc', endColorstr='#f6b883',GradientType=0 );
}

.background_sandyBrown1a,
.hover_background_sandyBrown1a:hover,
.active_background_sandyBrown1a:active:hover {
    background: #f29748;
    background-image: -moz-linear-gradient(top,  rgb(246, 184, 131) 0%, rgb(253, 235, 220) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(246, 184, 131)), color-stop(100%, rgb(253, 235, 220)));
    background-image: -webkit-linear-gradient(top,  rgb(246, 184, 131) 0%, rgb(253, 235, 220) 100%);
    background-image: -o-linear-gradient(top,  rgb(246, 184, 131) 0%, rgb(253, 235, 220) 100%);
    background-image: -ms-linear-gradient(top, rgb(246, 184, 131) 0%, rgb(253, 235, 220) 100%);
    background-image: linear-gradient(to bottom,  rgb(246, 184, 131) 0%, rgb(253, 235, 220) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6b883', endColorstr='#fdebdc',GradientType=0 );
}

.background_sandyBrown1s,
.hover_background_sandyBrown1s:hover,
.active_background_sandyBrown1s:active:hover {
    background: #f29748;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(253, 235, 220) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(253, 235, 220)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(253, 235, 220) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(253, 235, 220) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(253, 235, 220) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(253, 235, 220) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdebdc',GradientType=0 );
}

.background_color_sandyBrown1,
.hover_background_color_sandyBrown1:hover,
.active_background_color_sandyBrown1:active:hover {
    background-color:#f29748;
}

.background_first_color_sandyBrown1,
.hover_background_first_color_sandyBrown1:hover,
.active_background_first_color_sandyBrown1:active:hover {
    background-color:#f7c192;
}

.background_last_color_sandyBrown1,
.hover_background_last_color_sandyBrown1:hover,
.active_background_color_last_sandyBrown1:active:hover {
   background-color:#f29748;
}

/* ------------------------------ color settings -------------------------------*/
.color_sandyBrown1,
.hover_color_sandyBrown1:hover,
.active_color_sandyBrown1:active:hover {
    color: #282828;
}

.color_sandyBrown1h,
.hover_color_sandyBrown1h:hover,
.active_color_sandyBrown1h:active:hover {
    color: #282828;
}

.color_sandyBrown1a,
.hover_color_sandyBrown1a:hover,
.active_color_sandyBrown1a:active:hover {
    color: #ff0;
}

.color_sandyBrown1s,
.hover_color_sandyBrown1s:hover,
.active_color_sandyBrown1s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_sandyBrown1,
.hover_border_sandyBrown1:hover,
.active_border_sandyBrown1:active:hover {
    border-color: #f29748 #f29748 #f29748 #f29748;
}

.border_sandyBrown1h,
.hover_border_sandyBrown1h:hover,
.active_border_sandyBrown1h:active:hover {
    border-color: #f0862b #f0862b #f0862b #f0862b;
}

.border_sandyBrown1a,
.hover_border_sandyBrown1a:hover,
.active_border_sandyBrown1a:active:hover {
    border-color: #ec7510 #ec7510 #ec7510 #ec7510;
}

.border_sandyBrown1s,
.hover_border_sandyBrown1s:hover,
.active_border_sandyBrown1s:active:hover {
    border-color: #fdebdc #fdebdc #fdebdc #fdebdc;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_sandyBrown1,
.hover_shadow_expand_sandyBrown1:hover,
.active_shadow_expand_sandyBrown1:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(242, 151, 72, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(242, 151, 72, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(242, 151, 72, .39);
}

.shadow_expand_sandyBrown1h,
.hover_shadow_expand_sandyBrown1h:hover,
.active_shadow_expand_sandyBrown1h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(246, 184, 131, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(246, 184, 131, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(246, 184, 131, .50);
}

.shadow_expand_sandyBrown1a,
.hover_shadow_expand_sandyBrown1a:hover,
.active_shadow_expand_sandyBrown1a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(253, 235, 220, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(253, 235, 220, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(253, 235, 220, .63);
}

.shadow_expand_sandyBrown1s,
.hover_shadow_expand_sandyBrown1s:hover,
.active_shadow_expand_sandyBrown1s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(253, 235, 220, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(253, 235, 220, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(253, 235, 220, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_sandyBrown1,
.hover_shadow_left_sandyBrown1:hover,
.active_shadow_left_sandyBrown1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(242, 151, 72, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(242, 151, 72, .39);
    box-shadow: -0.5em -0.5em 1em rgba(242, 151, 72, .39);
}

.shadow_left_sandyBrown1h,
.hover_shadow_left_sandyBrown1h:hover,
.active_shadow_left_sandyBrown1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(246, 184, 131, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(246, 184, 131, .50);
    box-shadow: -0.5em -0.5em 1em rgba(246, 184, 131, .50);
}

.shadow_left_sandyBrown1a,
.hover_shadow_left_sandyBrown1a:hover,
.active_shadow_left_sandyBrown1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(253, 235, 220, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(253, 235, 220, .63);
    box-shadow: -0.5em -0.5em 1em rgba(253, 235, 220, .63);
}

.shadow_left_sandyBrown1s,
.hover_shadow_left_sandyBrown1s:hover,
.active_shadow_left_sandyBrown1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(253, 235, 220, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(253, 235, 220, .78);
    box-shadow: -0.5em -0.5em 1em rgba(253, 235, 220, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_sandyBrown1,
.hover_shadow_right_sandyBrown1:hover,
.active_shadow_right_sandyBrown1:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(242, 151, 72, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(242, 151, 72, .39);
    box-shadow: 0.5em 0em 1em rgba(242, 151, 72, .39);
}

.shadow_right_sandyBrown1h,
.hover_shadow_right_sandyBrown1h:hover,
.active_shadow_right_sandyBrown1h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(246, 184, 131, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(246, 184, 131, .50);
    box-shadow: 0.5em 0em 1em rgba(246, 184, 131, .50);
}

.shadow_right_sandyBrown1a,
.hover_shadow_right_sandyBrown1a:hover,
.active_shadow_right_sandyBrown1a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(253, 235, 220, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(253, 235, 220, .63);
    box-shadow: 0.5em 0em 1em rgba(253, 235, 220, .63);
}

.shadow_right_sandyBrown1s,
.hover_shadow_right_sandyBrown1s:hover,
.active_shadow_right_sandyBrown1s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(253, 235, 220, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(253, 235, 220, .78);
    box-shadow: 0.5em 0em 1em rgba(253, 235, 220, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_sandyBrown1,
.hover_shadow_top_sandyBrown1:hover,
.active_shadow_top_sandyBrown1:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(242, 151, 72, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(242, 151, 72, .39);
    box-shadow: 0em -0.5em 1em rgba(242, 151, 72, .39);
}

.shadow_top_sandyBrown1h,
.hover_shadow_top_sandyBrown1h:hover,
.active_shadow_top_sandyBrown1h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(246, 184, 131, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(246, 184, 131, .50);
    box-shadow: 0em -0.5em 1em rgba(246, 184, 131, .50);
}

.shadow_top_sandyBrown1a,
.hover_shadow_top_sandyBrown1a:hover,
.active_shadow_top_sandyBrown1a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(253, 235, 220, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(253, 235, 220, .63);
    box-shadow: 0em -0.5em 1em rgba(253, 235, 220, .63);
}

.shadow_top_sandyBrown1s,
.hover_shadow_top_sandyBrown1s:hover,
.active_shadow_top_sandyBrown1s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(253, 235, 220, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(253, 235, 220, .78);
    box-shadow: 0em -0.5em 1em rgba(253, 235, 220, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_sandyBrown1,
.hover_shadow_bottom_sandyBrown1:hover,
.active_shadow_bottom_sandyBrown1:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(242, 151, 72, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(242, 151, 72, .39);
    box-shadow: 0em 0.5em 1em rgba(242, 151, 72, .39);
}

.shadow_bottom_sandyBrown1h,
.hover_shadow_bottom_sandyBrown1h:hover,
.active_shadow_bottom_sandyBrown1h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(246, 184, 131, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(246, 184, 131, .50);
    box-shadow: 0em 0.5em 1em rgba(246, 184, 131, .50);
}

.shadow_bottom_sandyBrown1a,
.hover_shadow_bottom_sandyBrown1a:hover,
.active_shadow_bottom_sandyBrown1a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(253, 235, 220, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(253, 235, 220, .63);
    box-shadow: 0em 0.5em 1em rgba(253, 235, 220, .63);
}

.shadow_bottom_sandyBrown1s,
.hover_shadow_bottom_sandyBrown1s:hover,
.active_shadow_bottom_sandyBrown1s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(253, 235, 220, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(253, 235, 220, .78);
    box-shadow: 0em 0.5em 1em rgba(253, 235, 220, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_sandyBrown1,
.hover_shadow_top_left_sandyBrown1:hover,
.active_shadow_top_left_sandyBrown1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(242, 151, 72, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(242, 151, 72, .39);
    box-shadow: -0.5em -0.5em 1em rgba(242, 151, 72, .39);
}

.shadow_top_left_sandyBrown1h,
.hover_shadow_top_left_sandyBrown1h:hover,
.active_shadow_top_left_sandyBrown1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(246, 184, 131, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(246, 184, 131, .50);
    box-shadow: -0.5em -0.5em 1em rgba(246, 184, 131, .50);
}

.shadow_top_left_sandyBrown1a,
.hover_shadow_top_left_sandyBrown1a:hover,
.active_shadow_top_left_sandyBrown1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(253, 235, 220, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(253, 235, 220, .63);
    box-shadow: -0.5em -0.5em 1em rgba(253, 235, 220, .63);
}

.shadow_top_left_sandyBrown1s,
.hover_shadow_top_left_sandyBrown1s:hover,
.active_shadow_top_left_sandyBrown1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(253, 235, 220, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(253, 235, 220, .78);
    box-shadow: -0.5em -0.5em 1em rgba(253, 235, 220, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_sandyBrown1,
.hover_shadow_top_right_sandyBrown1:hover,
.active_shadow_top_right_sandyBrown1:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(242, 151, 72, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(242, 151, 72, .39);
    box-shadow: 0.5em -0.5em 1em rgba(242, 151, 72, .39);
}

.shadow_top_right_sandyBrown1h,
.hover_shadow_top_right_sandyBrown1h:hover,
.active_shadow_top_right_sandyBrown1h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(246, 184, 131, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(246, 184, 131, .50);
    box-shadow: 0.5em -0.5em 1em rgba(246, 184, 131, .50);
}

.shadow_top_right_sandyBrown1a,
.hover_shadow_top_right_sandyBrown1a:hover,
.active_shadow_top_right_sandyBrown1a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(253, 235, 220, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(253, 235, 220, .63);
    box-shadow: 0.5em -0.5em 1em rgba(253, 235, 220, .63);
}

.shadow_top_right_sandyBrown1s,
.hover_shadow_top_right_sandyBrown1s:hover,
.active_shadow_top_right_sandyBrown1s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(253, 235, 220, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(253, 235, 220, .78);
    box-shadow: 0.5em -0.5em 1em rgba(253, 235, 220, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_sandyBrown1,
.hover_shadow_bottom_left_sandyBrown1:hover,
.active_shadow_bottom_left_sandyBrown1:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(242, 151, 72, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(242, 151, 72, .39);
    box-shadow: -0.5em 0.5em 1em rgba(242, 151, 72, .39);
}

.shadow_bottom_left_sandyBrown1h,
.hover_shadow_bottom_left_sandyBrown1h:hover,
.active_shadow_bottom_left_sandyBrown1h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(246, 184, 131, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(246, 184, 131, .50);
    box-shadow: -0.5em 0.5em 1em rgba(246, 184, 131, .50);
}

.shadow_bottom_left_sandyBrown1a,
.hover_shadow_bottom_left_sandyBrown1a:hover,
.active_shadow_bottom_left_sandyBrown1a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(253, 235, 220, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(253, 235, 220, .63);
    box-shadow: -0.5em 0.5em 1em rgba(253, 235, 220, .63);
}

.shadow_bottom_left_sandyBrown1s,
.hover_shadow_bottom_left_sandyBrown1s:hover,
.active_shadow_bottom_left_sandyBrown1s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(253, 235, 220, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(253, 235, 220, .78);
    box-shadow: -0.5em 0.5em 1em rgba(253, 235, 220, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_sandyBrown1,
.hover_shadow_bottom_right_sandyBrown1:hover,
.active_shadow_bottom_right_sandyBrown1:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(242, 151, 72, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(242, 151, 72, .39);
    box-shadow: 0.5em 0.5em 1em rgba(242, 151, 72, .39);
}

.shadow_bottom_right_sandyBrown1h,
.hover_shadow_bottom_right_sandyBrown1h:hover,
.active_shadow_bottom_right_sandyBrown1h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(246, 184, 131, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(246, 184, 131, .50);
    box-shadow: 0.5em 0.5em 1em rgba(246, 184, 131, .50);
}

.shadow_bottom_right_sandyBrown1a,
 .hover_shadow_bottom_right_sandyBrown1a:hover,
 .active_shadow_bottom_right_sandyBrown1a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(253, 235, 220, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(253, 235, 220, .63);
     box-shadow: 0.5em 0.5em 1em rgba(253, 235, 220, .63);
 }

 .shadow_bottom_right_sandyBrown1s,
 .hover_shadow_bottom_right_sandyBrown1s:hover,
 .active_shadow_bottom_right_sandyBrown1s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(253, 235, 220, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(253, 235, 220, .78);
     box-shadow: 0.5em 0.5em 1em rgba(253, 235, 220, .78);
 }