.background_sandyBrown6,
.hover_background_sandyBrown6:hover,
.active_background_sandyBrown6:active:hover {
    background: #834109;
    background-image: -moz-linear-gradient(top,  rgb(163, 81, 11) 0%, rgb(131, 65, 9) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(163, 81, 11)), color-stop(100%, rgb(131, 65, 9)));
    background-image: -webkit-linear-gradient(top,  rgb(163, 81, 11) 0%, rgb(131, 65, 9) 100%);
    background-image: -o-linear-gradient(top,  rgb(163, 81, 11) 0%, rgb(131, 65, 9) 100%);
    background-image: -ms-linear-gradient(top, rgb(163, 81, 11) 0%, rgb(131, 65, 9) 100%);
    background-image: linear-gradient(to bottom,  rgb(163, 81, 11) 0%, rgb(131, 65, 9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3510b', endColorstr='#834109',GradientType=0 );
}

.background_sandyBrown6h,
.hover_background_sandyBrown6h:hover,
.active_background_sandyBrown6h:active:hover {
    background: #834109;
    background-image: -moz-linear-gradient(top,  rgb(196, 97, 14) 0%, rgb(157, 78, 11) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(196, 97, 14)), color-stop(100%, rgb(157, 78, 11)));
    background-image: -webkit-linear-gradient(top,  rgb(196, 97, 14) 0%, rgb(157, 78, 11) 100%);
    background-image: -o-linear-gradient(top,  rgb(196, 97, 14) 0%, rgb(157, 78, 11) 100%);
    background-image: -ms-linear-gradient(top, rgb(196, 97, 14) 0%, rgb(157, 78, 11) 100%);
    background-image: linear-gradient(to bottom,  rgb(196, 97, 14) 0%, rgb(157, 78, 11) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4610e', endColorstr='#9d4e0b',GradientType=0 );
}

.background_sandyBrown6a,
.hover_background_sandyBrown6a:hover,
.active_background_sandyBrown6a:active:hover {
    background: #834109;
    background-image: -moz-linear-gradient(top,  rgb(157, 78, 11) 0%, rgb(196, 97, 14) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(157, 78, 11)), color-stop(100%, rgb(196, 97, 14)));
    background-image: -webkit-linear-gradient(top,  rgb(157, 78, 11) 0%, rgb(196, 97, 14) 100%);
    background-image: -o-linear-gradient(top,  rgb(157, 78, 11) 0%, rgb(196, 97, 14) 100%);
    background-image: -ms-linear-gradient(top, rgb(157, 78, 11) 0%, rgb(196, 97, 14) 100%);
    background-image: linear-gradient(to bottom,  rgb(157, 78, 11) 0%, rgb(196, 97, 14) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d4e0b', endColorstr='#c4610e',GradientType=0 );
}

.background_sandyBrown6s,
.hover_background_sandyBrown6s:hover,
.active_background_sandyBrown6s:active:hover {
    background: #834109;
    background-image: -moz-linear-gradient(top,  rgb(239, 122, 23) 0%, rgb(196, 97, 14) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(239, 122, 23)), color-stop(100%, rgb(196, 97, 14)));
    background-image: -webkit-linear-gradient(top,  rgb(239, 122, 23) 0%, rgb(196, 97, 14) 100%);
    background-image: -o-linear-gradient(top,  rgb(239, 122, 23) 0%, rgb(196, 97, 14) 100%);
    background-image: -ms-linear-gradient(top, rgb(239, 122, 23) 0%, rgb(196, 97, 14) 100%);
    background-image: linear-gradient(to bottom,  rgb(239, 122, 23) 0%, rgb(196, 97, 14) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef7a17', endColorstr='#c4610e',GradientType=0 );
}

.background_color_sandyBrown6,
.hover_background_color_sandyBrown6:hover,
.active_background_color_sandyBrown6:active:hover {
    background-color:#834109;
}

.background_first_color_sandyBrown6,
.hover_background_first_color_sandyBrown6:hover,
.active_background_first_color_sandyBrown6:active:hover {
    background-color:#a3510b;
}

.background_last_color_sandyBrown6,
.hover_background_last_color_sandyBrown6:hover,
.active_background_color_last_sandyBrown6:active:hover {
   background-color:#834109;
}

/* ------------------------------ color settings -------------------------------*/
.color_sandyBrown6,
.hover_color_sandyBrown6:hover,
.active_color_sandyBrown6:active:hover {
    color: #c8c8c8;
}

.color_sandyBrown6h,
.hover_color_sandyBrown6h:hover,
.active_color_sandyBrown6h:active:hover {
    color: #c8c8c8;
}

.color_sandyBrown6a,
.hover_color_sandyBrown6a:hover,
.active_color_sandyBrown6a:active:hover {
    color: #ff0;
}

.color_sandyBrown6s,
.hover_color_sandyBrown6s:hover,
.active_color_sandyBrown6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_sandyBrown6,
.hover_border_sandyBrown6:hover,
.active_border_sandyBrown6:active:hover {
    border-color: #834109 #834109 #834109 #834109;
}

.border_sandyBrown6h,
.hover_border_sandyBrown6h:hover,
.active_border_sandyBrown6h:active:hover {
    border-color: #763a08 #763a08 #763a08 #763a08;
}

.border_sandyBrown6a,
.hover_border_sandyBrown6a:hover,
.active_border_sandyBrown6a:active:hover {
    border-color: #693407 #693407 #693407 #693407;
}

.border_sandyBrown6s,
.hover_border_sandyBrown6s:hover,
.active_border_sandyBrown6s:active:hover {
    border-color: #c4610e #c4610e #c4610e #c4610e;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_sandyBrown6,
.hover_shadow_expand_sandyBrown6:hover,
.active_shadow_expand_sandyBrown6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(131, 65, 9, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(131, 65, 9, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(131, 65, 9, .39);
}

.shadow_expand_sandyBrown6h,
.hover_shadow_expand_sandyBrown6h:hover,
.active_shadow_expand_sandyBrown6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(157, 78, 11, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(157, 78, 11, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(157, 78, 11, .50);
}

.shadow_expand_sandyBrown6a,
.hover_shadow_expand_sandyBrown6a:hover,
.active_shadow_expand_sandyBrown6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(196, 97, 14, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(196, 97, 14, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(196, 97, 14, .63);
}

.shadow_expand_sandyBrown6s,
.hover_shadow_expand_sandyBrown6s:hover,
.active_shadow_expand_sandyBrown6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(196, 97, 14, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(196, 97, 14, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(196, 97, 14, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_sandyBrown6,
.hover_shadow_left_sandyBrown6:hover,
.active_shadow_left_sandyBrown6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(131, 65, 9, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(131, 65, 9, .39);
    box-shadow: -0.5em -0.5em 1em rgba(131, 65, 9, .39);
}

.shadow_left_sandyBrown6h,
.hover_shadow_left_sandyBrown6h:hover,
.active_shadow_left_sandyBrown6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 78, 11, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 78, 11, .50);
    box-shadow: -0.5em -0.5em 1em rgba(157, 78, 11, .50);
}

.shadow_left_sandyBrown6a,
.hover_shadow_left_sandyBrown6a:hover,
.active_shadow_left_sandyBrown6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(196, 97, 14, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(196, 97, 14, .63);
    box-shadow: -0.5em -0.5em 1em rgba(196, 97, 14, .63);
}

.shadow_left_sandyBrown6s,
.hover_shadow_left_sandyBrown6s:hover,
.active_shadow_left_sandyBrown6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(196, 97, 14, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(196, 97, 14, .78);
    box-shadow: -0.5em -0.5em 1em rgba(196, 97, 14, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_sandyBrown6,
.hover_shadow_right_sandyBrown6:hover,
.active_shadow_right_sandyBrown6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(131, 65, 9, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(131, 65, 9, .39);
    box-shadow: 0.5em 0em 1em rgba(131, 65, 9, .39);
}

.shadow_right_sandyBrown6h,
.hover_shadow_right_sandyBrown6h:hover,
.active_shadow_right_sandyBrown6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(157, 78, 11, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(157, 78, 11, .50);
    box-shadow: 0.5em 0em 1em rgba(157, 78, 11, .50);
}

.shadow_right_sandyBrown6a,
.hover_shadow_right_sandyBrown6a:hover,
.active_shadow_right_sandyBrown6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(196, 97, 14, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(196, 97, 14, .63);
    box-shadow: 0.5em 0em 1em rgba(196, 97, 14, .63);
}

.shadow_right_sandyBrown6s,
.hover_shadow_right_sandyBrown6s:hover,
.active_shadow_right_sandyBrown6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(196, 97, 14, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(196, 97, 14, .78);
    box-shadow: 0.5em 0em 1em rgba(196, 97, 14, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_sandyBrown6,
.hover_shadow_top_sandyBrown6:hover,
.active_shadow_top_sandyBrown6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(131, 65, 9, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(131, 65, 9, .39);
    box-shadow: 0em -0.5em 1em rgba(131, 65, 9, .39);
}

.shadow_top_sandyBrown6h,
.hover_shadow_top_sandyBrown6h:hover,
.active_shadow_top_sandyBrown6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(157, 78, 11, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(157, 78, 11, .50);
    box-shadow: 0em -0.5em 1em rgba(157, 78, 11, .50);
}

.shadow_top_sandyBrown6a,
.hover_shadow_top_sandyBrown6a:hover,
.active_shadow_top_sandyBrown6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(196, 97, 14, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(196, 97, 14, .63);
    box-shadow: 0em -0.5em 1em rgba(196, 97, 14, .63);
}

.shadow_top_sandyBrown6s,
.hover_shadow_top_sandyBrown6s:hover,
.active_shadow_top_sandyBrown6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(196, 97, 14, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(196, 97, 14, .78);
    box-shadow: 0em -0.5em 1em rgba(196, 97, 14, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_sandyBrown6,
.hover_shadow_bottom_sandyBrown6:hover,
.active_shadow_bottom_sandyBrown6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(131, 65, 9, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(131, 65, 9, .39);
    box-shadow: 0em 0.5em 1em rgba(131, 65, 9, .39);
}

.shadow_bottom_sandyBrown6h,
.hover_shadow_bottom_sandyBrown6h:hover,
.active_shadow_bottom_sandyBrown6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(157, 78, 11, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(157, 78, 11, .50);
    box-shadow: 0em 0.5em 1em rgba(157, 78, 11, .50);
}

.shadow_bottom_sandyBrown6a,
.hover_shadow_bottom_sandyBrown6a:hover,
.active_shadow_bottom_sandyBrown6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(196, 97, 14, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(196, 97, 14, .63);
    box-shadow: 0em 0.5em 1em rgba(196, 97, 14, .63);
}

.shadow_bottom_sandyBrown6s,
.hover_shadow_bottom_sandyBrown6s:hover,
.active_shadow_bottom_sandyBrown6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(196, 97, 14, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(196, 97, 14, .78);
    box-shadow: 0em 0.5em 1em rgba(196, 97, 14, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_sandyBrown6,
.hover_shadow_top_left_sandyBrown6:hover,
.active_shadow_top_left_sandyBrown6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(131, 65, 9, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(131, 65, 9, .39);
    box-shadow: -0.5em -0.5em 1em rgba(131, 65, 9, .39);
}

.shadow_top_left_sandyBrown6h,
.hover_shadow_top_left_sandyBrown6h:hover,
.active_shadow_top_left_sandyBrown6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 78, 11, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 78, 11, .50);
    box-shadow: -0.5em -0.5em 1em rgba(157, 78, 11, .50);
}

.shadow_top_left_sandyBrown6a,
.hover_shadow_top_left_sandyBrown6a:hover,
.active_shadow_top_left_sandyBrown6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(196, 97, 14, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(196, 97, 14, .63);
    box-shadow: -0.5em -0.5em 1em rgba(196, 97, 14, .63);
}

.shadow_top_left_sandyBrown6s,
.hover_shadow_top_left_sandyBrown6s:hover,
.active_shadow_top_left_sandyBrown6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(196, 97, 14, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(196, 97, 14, .78);
    box-shadow: -0.5em -0.5em 1em rgba(196, 97, 14, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_sandyBrown6,
.hover_shadow_top_right_sandyBrown6:hover,
.active_shadow_top_right_sandyBrown6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(131, 65, 9, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(131, 65, 9, .39);
    box-shadow: 0.5em -0.5em 1em rgba(131, 65, 9, .39);
}

.shadow_top_right_sandyBrown6h,
.hover_shadow_top_right_sandyBrown6h:hover,
.active_shadow_top_right_sandyBrown6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(157, 78, 11, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(157, 78, 11, .50);
    box-shadow: 0.5em -0.5em 1em rgba(157, 78, 11, .50);
}

.shadow_top_right_sandyBrown6a,
.hover_shadow_top_right_sandyBrown6a:hover,
.active_shadow_top_right_sandyBrown6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(196, 97, 14, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(196, 97, 14, .63);
    box-shadow: 0.5em -0.5em 1em rgba(196, 97, 14, .63);
}

.shadow_top_right_sandyBrown6s,
.hover_shadow_top_right_sandyBrown6s:hover,
.active_shadow_top_right_sandyBrown6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(196, 97, 14, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(196, 97, 14, .78);
    box-shadow: 0.5em -0.5em 1em rgba(196, 97, 14, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_sandyBrown6,
.hover_shadow_bottom_left_sandyBrown6:hover,
.active_shadow_bottom_left_sandyBrown6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(131, 65, 9, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(131, 65, 9, .39);
    box-shadow: -0.5em 0.5em 1em rgba(131, 65, 9, .39);
}

.shadow_bottom_left_sandyBrown6h,
.hover_shadow_bottom_left_sandyBrown6h:hover,
.active_shadow_bottom_left_sandyBrown6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(157, 78, 11, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(157, 78, 11, .50);
    box-shadow: -0.5em 0.5em 1em rgba(157, 78, 11, .50);
}

.shadow_bottom_left_sandyBrown6a,
.hover_shadow_bottom_left_sandyBrown6a:hover,
.active_shadow_bottom_left_sandyBrown6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(196, 97, 14, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(196, 97, 14, .63);
    box-shadow: -0.5em 0.5em 1em rgba(196, 97, 14, .63);
}

.shadow_bottom_left_sandyBrown6s,
.hover_shadow_bottom_left_sandyBrown6s:hover,
.active_shadow_bottom_left_sandyBrown6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(196, 97, 14, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(196, 97, 14, .78);
    box-shadow: -0.5em 0.5em 1em rgba(196, 97, 14, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_sandyBrown6,
.hover_shadow_bottom_right_sandyBrown6:hover,
.active_shadow_bottom_right_sandyBrown6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(131, 65, 9, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(131, 65, 9, .39);
    box-shadow: 0.5em 0.5em 1em rgba(131, 65, 9, .39);
}

.shadow_bottom_right_sandyBrown6h,
.hover_shadow_bottom_right_sandyBrown6h:hover,
.active_shadow_bottom_right_sandyBrown6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(157, 78, 11, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(157, 78, 11, .50);
    box-shadow: 0.5em 0.5em 1em rgba(157, 78, 11, .50);
}

.shadow_bottom_right_sandyBrown6a,
 .hover_shadow_bottom_right_sandyBrown6a:hover,
 .active_shadow_bottom_right_sandyBrown6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(196, 97, 14, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(196, 97, 14, .63);
     box-shadow: 0.5em 0.5em 1em rgba(196, 97, 14, .63);
 }

 .shadow_bottom_right_sandyBrown6s,
 .hover_shadow_bottom_right_sandyBrown6s:hover,
 .active_shadow_bottom_right_sandyBrown6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(196, 97, 14, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(196, 97, 14, .78);
     box-shadow: 0.5em 0.5em 1em rgba(196, 97, 14, .78);
 }