.aquaThistle7,
.hover_aquaThistle7:hover,
.active_aquaThistle7:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(117, 74, 122, .39),
           inset 0 -0.5em 0.9em 0 #a971b9,
           inset 0 -0.5em 0em 0.65em rgb(106, 33, 112),
           inset 0 0em 0.5em 2em rgb(136, 136, 136);
    -moz-box-shadow: 0 0.63em 0.75em rgba(117, 74, 122, .39),
           inset 0 -0.5em 0.9em 0 #a971b9,
           inset 0 -0.5em 0em 0.65em rgb(106, 33, 112),
           inset 0 0em 0.5em 2em rgb(136, 136, 136);
    box-shadow: 0 0.63em 0.75em rgba(117, 74, 122, .39),
           inset 0 -0.5em 0.9em 0 #a971b9,
           inset 0 -0.5em 0em 0.65em rgb(106, 33, 112),
           inset 0 0em 0.5em 2em rgb(136, 136, 136);
}

.aquaThistle7h,
.hover_aquaThistle7h:hover,
.active_aquaThistle7h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(133, 84, 138, .55),
           inset 0 -0.5em 0.9em 0 #bd93ca,
           inset 0 -0.5em 0em 0.65em #9f51a6,
           inset 0 0em 0.5em 2em #bc9fbe;
    -moz-box-shadow:0 0.63em 1em rgba(133, 84, 138, .55),
           inset 0 -0.5em 0.9em 0 #bd93ca,
           inset 0 -0.5em 0em 0.65em #9f51a6,
           inset 0 0em 0.5em 2em #bc9fbe;
    box-shadow:0 0.63em 1em rgba(133, 84, 138, .55),
           inset 0 -0.5em 0.9em 0 #bd93ca,
           inset 0 -0.5em 0em 0.65em #9f51a6,
           inset 0 0em 0.5em 2em #bc9fbe;
}

.aquaThistle7a,
.hover_aquaThistle7a:hover,
.active_aquaThistle7a:active {
    /*background: #7f4e7f;*/

    -webkit-box-shadow:0 0.63em 1em rgba(96, 44, 101, .55),
           inset 0 -0.5em 0.9em 0 #ba74d0,
           inset 0 -0.5em 0em 0.65em #87318f,
           inset 0 0em 0.5em 2em #aa60b1;
    -moz-box-shadow:0 0.63em 1em rgba(96, 44, 101, .55),
           inset 0 -0.5em 0.9em 0 #ba74d0,
           inset 0 -0.5em 0em 0.65em #87318f,
           inset 0 0em 0.5em 2em #aa60b1;
    box-shadow:0 0.63em 1em rgba(96, 44, 101, .55),
           inset 0 -0.5em 0.9em 0 #ba74d0,
           inset 0 -0.5em 0em 0.65em #87318f,
           inset 0 0em 0.5em 2em #aa60b1;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaThistle7,
.hover_color_aquaThistle7:hover,
.active_color_aquaThistle7:active {
    color: #c8c8c8;
}

.color_aquaThistle7h,
.hover_color_aquaThistle7h:hover,
.active_color_aquaThistle7h:active {
    color: #c8c8c8;
}

.color_aquaThistle7a,
.hover_color_aquaThistle7a:hover,
.active_color_aquaThistle7a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaThistle7,
.hover_border_aquaThistle7:hover,
.active_border_aquaThistle7:active {
    border-color: #553455 #553455 #553455 #553455;
}

.border_aquaThistle7h,
.hover_border_aquaThistle7h:hover,
.active_border_aquaThistle7h:active {
    border-color: #553455 #553455 #553455 #553455;
}

.border_aquaThistle7a,
.hover_border_aquaThistle7a:hover,
.active_border_aquaThistle7a:active  {
    border-color: #553455 #553455 #553455 #553455;
}

