.aquaLavenderBlush4,
.hover_aquaLavenderBlush4:hover,
.active_aquaLavenderBlush4:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(255, 147, 194, .39),
           inset 0 -0.5em 0.9em 0 #fff9fc,
           inset 0 -0.5em 0em 0.65em rgb(255, 96, 162),
           inset 0 0em 0.5em 2em rgb(250, 228, 237);
    -moz-box-shadow: 0 0.63em 0.75em rgba(255, 147, 194, .39),
           inset 0 -0.5em 0.9em 0 #fff9fc,
           inset 0 -0.5em 0em 0.65em rgb(255, 96, 162),
           inset 0 0em 0.5em 2em rgb(250, 228, 237);
    box-shadow: 0 0.63em 0.75em rgba(255, 147, 194, .39),
           inset 0 -0.5em 0.9em 0 #fff9fc,
           inset 0 -0.5em 0em 0.65em rgb(255, 96, 162),
           inset 0 0em 0.5em 2em rgb(250, 228, 237);
}

.aquaLavenderBlush4h,
.hover_aquaLavenderBlush4h:hover,
.active_aquaLavenderBlush4h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(255, 172, 208, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #ffc6de,
           inset 0 0em 0.5em 2em #ffffff;
    -moz-box-shadow:0 0.63em 1em rgba(255, 172, 208, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #ffc6de,
           inset 0 0em 0.5em 2em #ffffff;
    box-shadow:0 0.63em 1em rgba(255, 172, 208, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #ffc6de,
           inset 0 0em 0.5em 2em #ffffff;
}

.aquaLavenderBlush4a,
.hover_aquaLavenderBlush4a:hover,
.active_aquaLavenderBlush4a:active {
    /*background: #ff2e74;*/

    -webkit-box-shadow:0 0.63em 1em rgba(255, 96, 165, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #ff8ebd,
           inset 0 0em 0.5em 2em #ffdfec;
    -moz-box-shadow:0 0.63em 1em rgba(255, 96, 165, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #ff8ebd,
           inset 0 0em 0.5em 2em #ffdfec;
    box-shadow:0 0.63em 1em rgba(255, 96, 165, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #ff8ebd,
           inset 0 0em 0.5em 2em #ffdfec;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaLavenderBlush4,
.hover_color_aquaLavenderBlush4:hover,
.active_color_aquaLavenderBlush4:active {
    color: #282828;
}

.color_aquaLavenderBlush4h,
.hover_color_aquaLavenderBlush4h:hover,
.active_color_aquaLavenderBlush4h:active {
    color: #282828;
}

.color_aquaLavenderBlush4a,
.hover_color_aquaLavenderBlush4a:hover,
.active_color_aquaLavenderBlush4a:active {
    color: #282828;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaLavenderBlush4,
.hover_border_aquaLavenderBlush4:hover,
.active_border_aquaLavenderBlush4:active {
    border-color: #ff2e74 #ff2e74 #ff2e74 #ff2e74;
}

.border_aquaLavenderBlush4h,
.hover_border_aquaLavenderBlush4h:hover,
.active_border_aquaLavenderBlush4h:active {
    border-color: #ff2e74 #ff2e74 #ff2e74 #ff2e74;
}

.border_aquaLavenderBlush4a,
.hover_border_aquaLavenderBlush4a:hover,
.active_border_aquaLavenderBlush4a:active  {
    border-color: #ff2e74 #ff2e74 #ff2e74 #ff2e74;
}

