.aquaLavenderBlush7,
.hover_aquaLavenderBlush7:hover,
.active_aquaLavenderBlush7:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(224, 0, 97, .39),
           inset 0 -0.5em 0.9em 0 #ff46af,
           inset 0 -0.5em 0em 0.65em rgb(173, 0, 72),
           inset 0 0em 0.5em 2em rgb(224, 76, 138);
    -moz-box-shadow: 0 0.63em 0.75em rgba(224, 0, 97, .39),
           inset 0 -0.5em 0.9em 0 #ff46af,
           inset 0 -0.5em 0em 0.65em rgb(173, 0, 72),
           inset 0 0em 0.5em 2em rgb(224, 76, 138);
    box-shadow: 0 0.63em 0.75em rgba(224, 0, 97, .39),
           inset 0 -0.5em 0.9em 0 #ff46af,
           inset 0 -0.5em 0em 0.65em rgb(173, 0, 72),
           inset 0 0em 0.5em 2em rgb(224, 76, 138);
}

.aquaLavenderBlush7h,
.hover_aquaLavenderBlush7h:hover,
.active_aquaLavenderBlush7h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(249, 0, 108, .55),
           inset 0 -0.5em 0.9em 0 #ff7ac5,
           inset 0 -0.5em 0em 0.65em #ff1476,
           inset 0 0em 0.5em 2em #fc7db2;
    -moz-box-shadow:0 0.63em 1em rgba(249, 0, 108, .55),
           inset 0 -0.5em 0.9em 0 #ff7ac5,
           inset 0 -0.5em 0em 0.65em #ff1476,
           inset 0 0em 0.5em 2em #fc7db2;
    box-shadow:0 0.63em 1em rgba(249, 0, 108, .55),
           inset 0 -0.5em 0.9em 0 #ff7ac5,
           inset 0 -0.5em 0em 0.65em #ff1476,
           inset 0 0em 0.5em 2em #fc7db2;
}

.aquaLavenderBlush7a,
.hover_aquaLavenderBlush7a:hover,
.active_aquaLavenderBlush7a:active {
    /*background: #ee004f;*/

    -webkit-box-shadow:0 0.63em 1em rgba(173, 0, 75, .55),
           inset 0 -0.5em 0.9em 0 #ff60ba,
           inset 0 -0.5em 0em 0.65em #da005b,
           inset 0 0em 0.5em 2em #ff2d84;
    -moz-box-shadow:0 0.63em 1em rgba(173, 0, 75, .55),
           inset 0 -0.5em 0.9em 0 #ff60ba,
           inset 0 -0.5em 0em 0.65em #da005b,
           inset 0 0em 0.5em 2em #ff2d84;
    box-shadow:0 0.63em 1em rgba(173, 0, 75, .55),
           inset 0 -0.5em 0.9em 0 #ff60ba,
           inset 0 -0.5em 0em 0.65em #da005b,
           inset 0 0em 0.5em 2em #ff2d84;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaLavenderBlush7,
.hover_color_aquaLavenderBlush7:hover,
.active_color_aquaLavenderBlush7:active {
    color: #c8c8c8;
}

.color_aquaLavenderBlush7h,
.hover_color_aquaLavenderBlush7h:hover,
.active_color_aquaLavenderBlush7h:active {
    color: #c8c8c8;
}

.color_aquaLavenderBlush7a,
.hover_color_aquaLavenderBlush7a:hover,
.active_color_aquaLavenderBlush7a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaLavenderBlush7,
.hover_border_aquaLavenderBlush7:hover,
.active_border_aquaLavenderBlush7:active {
    border-color: #9e0035 #9e0035 #9e0035 #9e0035;
}

.border_aquaLavenderBlush7h,
.hover_border_aquaLavenderBlush7h:hover,
.active_border_aquaLavenderBlush7h:active {
    border-color: #9e0035 #9e0035 #9e0035 #9e0035;
}

.border_aquaLavenderBlush7a,
.hover_border_aquaLavenderBlush7a:hover,
.active_border_aquaLavenderBlush7a:active  {
    border-color: #9e0035 #9e0035 #9e0035 #9e0035;
}

