.aquaPeachPuff6,
.hover_aquaPeachPuff6:hover,
.active_aquaPeachPuff6:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(254, 94, 0, .39),
           inset 0 -0.5em 0.9em 0 #ff8a65,
           inset 0 -0.5em 0em 0.65em rgb(203, 79, 0),
           inset 0 0em 0.5em 2em rgb(228, 151, 103);
    -moz-box-shadow: 0 0.63em 0.75em rgba(254, 94, 0, .39),
           inset 0 -0.5em 0.9em 0 #ff8a65,
           inset 0 -0.5em 0em 0.65em rgb(203, 79, 0),
           inset 0 0em 0.5em 2em rgb(228, 151, 103);
    box-shadow: 0 0.63em 0.75em rgba(254, 94, 0, .39),
           inset 0 -0.5em 0.9em 0 #ff8a65,
           inset 0 -0.5em 0em 0.65em rgb(203, 79, 0),
           inset 0 0em 0.5em 2em rgb(228, 151, 103);
}

.aquaPeachPuff6h,
.hover_aquaPeachPuff6h:hover,
.active_aquaPeachPuff6h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(255, 110, 25, .55),
           inset 0 -0.5em 0.9em 0 #ffb198,
           inset 0 -0.5em 0em 0.65em #ff8232,
           inset 0 0em 0.5em 2em #fcc19b;
    -moz-box-shadow:0 0.63em 1em rgba(255, 110, 25, .55),
           inset 0 -0.5em 0.9em 0 #ffb198,
           inset 0 -0.5em 0em 0.65em #ff8232,
           inset 0 0em 0.5em 2em #fcc19b;
    box-shadow:0 0.63em 1em rgba(255, 110, 25, .55),
           inset 0 -0.5em 0.9em 0 #ffb198,
           inset 0 -0.5em 0em 0.65em #ff8232,
           inset 0 0em 0.5em 2em #fcc19b;
}

.aquaPeachPuff6a,
.hover_aquaPeachPuff6a:hover,
.active_aquaPeachPuff6a:active {
    /*background: #b75600;*/

    -webkit-box-shadow:0 0.63em 1em rgba(203, 76, 0, .55),
           inset 0 -0.5em 0.9em 0 #ff9d7f,
           inset 0 -0.5em 0em 0.65em #f96100,
           inset 0 0em 0.5em 2em #ff914c;
    -moz-box-shadow:0 0.63em 1em rgba(203, 76, 0, .55),
           inset 0 -0.5em 0.9em 0 #ff9d7f,
           inset 0 -0.5em 0em 0.65em #f96100,
           inset 0 0em 0.5em 2em #ff914c;
    box-shadow:0 0.63em 1em rgba(203, 76, 0, .55),
           inset 0 -0.5em 0.9em 0 #ff9d7f,
           inset 0 -0.5em 0em 0.65em #f96100,
           inset 0 0em 0.5em 2em #ff914c;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaPeachPuff6,
.hover_color_aquaPeachPuff6:hover,
.active_color_aquaPeachPuff6:active {
    color: #282828;
}

.color_aquaPeachPuff6h,
.hover_color_aquaPeachPuff6h:hover,
.active_color_aquaPeachPuff6h:active {
    color: #c8c8c8;
}

.color_aquaPeachPuff6a,
.hover_color_aquaPeachPuff6a:hover,
.active_color_aquaPeachPuff6a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaPeachPuff6,
.hover_border_aquaPeachPuff6:hover,
.active_border_aquaPeachPuff6:active {
    border-color: #b75600 #b75600 #b75600 #b75600;
}

.border_aquaPeachPuff6h,
.hover_border_aquaPeachPuff6h:hover,
.active_border_aquaPeachPuff6h:active {
    border-color: #b75600 #b75600 #b75600 #b75600;
}

.border_aquaPeachPuff6a,
.hover_border_aquaPeachPuff6a:hover,
.active_border_aquaPeachPuff6a:active  {
    border-color: #b75600 #b75600 #b75600 #b75600;
}

