.background_navy6,
.hover_background_navy6:hover,
.active_background_navy6:active:hover {
    background: #0000a2;
    background-image: -moz-linear-gradient(top,  rgb(0, 0, 202) 0%, rgb(0, 0, 162) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 0, 202)), color-stop(100%, rgb(0, 0, 162)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 0, 202) 0%, rgb(0, 0, 162) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 0, 202) 0%, rgb(0, 0, 162) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 0, 202) 0%, rgb(0, 0, 162) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 0, 202) 0%, rgb(0, 0, 162) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ca', endColorstr='#0000a2',GradientType=0 );
}

.background_navy6h,
.hover_background_navy6h:hover,
.active_background_navy6h:active:hover {
    background: #0000a2;
    background-image: -moz-linear-gradient(top,  rgb(0, 0, 242) 0%, rgb(0, 0, 194) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 0, 242)), color-stop(100%, rgb(0, 0, 194)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 0, 242) 0%, rgb(0, 0, 194) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 0, 242) 0%, rgb(0, 0, 194) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 0, 242) 0%, rgb(0, 0, 194) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 0, 242) 0%, rgb(0, 0, 194) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000f2', endColorstr='#0000c2',GradientType=0 );
}

.background_navy6a,
.hover_background_navy6a:hover,
.active_background_navy6a:active:hover {
    background: #0000a2;
    background-image: -moz-linear-gradient(top,  rgb(0, 0, 194) 0%, rgb(0, 0, 242) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 0, 194)), color-stop(100%, rgb(0, 0, 242)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 0, 194) 0%, rgb(0, 0, 242) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 0, 194) 0%, rgb(0, 0, 242) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 0, 194) 0%, rgb(0, 0, 242) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 0, 194) 0%, rgb(0, 0, 242) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000c2', endColorstr='#0000f2',GradientType=0 );
}

.background_navy6s,
.hover_background_navy6s:hover,
.active_background_navy6s:active:hover {
    background: #0000a2;
    background-image: -moz-linear-gradient(top,  rgb(48, 48, 255) 0%, rgb(0, 0, 242) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(48, 48, 255)), color-stop(100%, rgb(0, 0, 242)));
    background-image: -webkit-linear-gradient(top,  rgb(48, 48, 255) 0%, rgb(0, 0, 242) 100%);
    background-image: -o-linear-gradient(top,  rgb(48, 48, 255) 0%, rgb(0, 0, 242) 100%);
    background-image: -ms-linear-gradient(top, rgb(48, 48, 255) 0%, rgb(0, 0, 242) 100%);
    background-image: linear-gradient(to bottom,  rgb(48, 48, 255) 0%, rgb(0, 0, 242) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3030ff', endColorstr='#0000f2',GradientType=0 );
}

.background_color_navy6,
.hover_background_color_navy6:hover,
.active_background_color_navy6:active:hover {
    background-color:#0000a2;
}

.background_first_color_navy6,
.hover_background_first_color_navy6:hover,
.active_background_first_color_navy6:active:hover {
    background-color:#0000ca;
}

.background_last_color_navy6,
.hover_background_last_color_navy6:hover,
.active_background_color_last_navy6:active:hover {
   background-color:#0000a2;
}

/* ------------------------------ color settings -------------------------------*/
.color_navy6,
.hover_color_navy6:hover,
.active_color_navy6:active:hover {
    color: #c8c8c8;
}

.color_navy6h,
.hover_color_navy6h:hover,
.active_color_navy6h:active:hover {
    color: #c8c8c8;
}

.color_navy6a,
.hover_color_navy6a:hover,
.active_color_navy6a:active:hover {
    color: #ff0;
}

.color_navy6s,
.hover_color_navy6s:hover,
.active_color_navy6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_navy6,
.hover_border_navy6:hover,
.active_border_navy6:active:hover {
    border-color: #0000a2 #0000a2 #0000a2 #0000a2;
}

.border_navy6h,
.hover_border_navy6h:hover,
.active_border_navy6h:active:hover {
    border-color: #000091 #000091 #000091 #000091;
}

.border_navy6a,
.hover_border_navy6a:hover,
.active_border_navy6a:active:hover {
    border-color: #000081 #000081 #000081 #000081;
}

.border_navy6s,
.hover_border_navy6s:hover,
.active_border_navy6s:active:hover {
    border-color: #0000f2 #0000f2 #0000f2 #0000f2;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_navy6,
.hover_shadow_expand_navy6:hover,
.active_shadow_expand_navy6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 162, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 162, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 162, .39);
}

.shadow_expand_navy6h,
.hover_shadow_expand_navy6h:hover,
.active_shadow_expand_navy6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 194, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 194, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 194, .50);
}

.shadow_expand_navy6a,
.hover_shadow_expand_navy6a:hover,
.active_shadow_expand_navy6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 242, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 242, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 242, .63);
}

.shadow_expand_navy6s,
.hover_shadow_expand_navy6s:hover,
.active_shadow_expand_navy6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 242, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 242, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 242, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_navy6,
.hover_shadow_left_navy6:hover,
.active_shadow_left_navy6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 162, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 162, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 162, .39);
}

.shadow_left_navy6h,
.hover_shadow_left_navy6h:hover,
.active_shadow_left_navy6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 194, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 194, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 194, .50);
}

.shadow_left_navy6a,
.hover_shadow_left_navy6a:hover,
.active_shadow_left_navy6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 242, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 242, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 242, .63);
}

.shadow_left_navy6s,
.hover_shadow_left_navy6s:hover,
.active_shadow_left_navy6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 242, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 242, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 242, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_navy6,
.hover_shadow_right_navy6:hover,
.active_shadow_right_navy6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 0, 162, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 0, 162, .39);
    box-shadow: 0.5em 0em 1em rgba(0, 0, 162, .39);
}

.shadow_right_navy6h,
.hover_shadow_right_navy6h:hover,
.active_shadow_right_navy6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 0, 194, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 0, 194, .50);
    box-shadow: 0.5em 0em 1em rgba(0, 0, 194, .50);
}

.shadow_right_navy6a,
.hover_shadow_right_navy6a:hover,
.active_shadow_right_navy6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 0, 242, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 0, 242, .63);
    box-shadow: 0.5em 0em 1em rgba(0, 0, 242, .63);
}

.shadow_right_navy6s,
.hover_shadow_right_navy6s:hover,
.active_shadow_right_navy6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 0, 242, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 0, 242, .78);
    box-shadow: 0.5em 0em 1em rgba(0, 0, 242, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_navy6,
.hover_shadow_top_navy6:hover,
.active_shadow_top_navy6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 0, 162, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 0, 162, .39);
    box-shadow: 0em -0.5em 1em rgba(0, 0, 162, .39);
}

.shadow_top_navy6h,
.hover_shadow_top_navy6h:hover,
.active_shadow_top_navy6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 0, 194, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 0, 194, .50);
    box-shadow: 0em -0.5em 1em rgba(0, 0, 194, .50);
}

.shadow_top_navy6a,
.hover_shadow_top_navy6a:hover,
.active_shadow_top_navy6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 0, 242, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 0, 242, .63);
    box-shadow: 0em -0.5em 1em rgba(0, 0, 242, .63);
}

.shadow_top_navy6s,
.hover_shadow_top_navy6s:hover,
.active_shadow_top_navy6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 0, 242, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 0, 242, .78);
    box-shadow: 0em -0.5em 1em rgba(0, 0, 242, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_navy6,
.hover_shadow_bottom_navy6:hover,
.active_shadow_bottom_navy6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 0, 162, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 0, 162, .39);
    box-shadow: 0em 0.5em 1em rgba(0, 0, 162, .39);
}

.shadow_bottom_navy6h,
.hover_shadow_bottom_navy6h:hover,
.active_shadow_bottom_navy6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 0, 194, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 0, 194, .50);
    box-shadow: 0em 0.5em 1em rgba(0, 0, 194, .50);
}

.shadow_bottom_navy6a,
.hover_shadow_bottom_navy6a:hover,
.active_shadow_bottom_navy6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 0, 242, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 0, 242, .63);
    box-shadow: 0em 0.5em 1em rgba(0, 0, 242, .63);
}

.shadow_bottom_navy6s,
.hover_shadow_bottom_navy6s:hover,
.active_shadow_bottom_navy6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 0, 242, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 0, 242, .78);
    box-shadow: 0em 0.5em 1em rgba(0, 0, 242, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_navy6,
.hover_shadow_top_left_navy6:hover,
.active_shadow_top_left_navy6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 162, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 162, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 162, .39);
}

.shadow_top_left_navy6h,
.hover_shadow_top_left_navy6h:hover,
.active_shadow_top_left_navy6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 194, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 194, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 194, .50);
}

.shadow_top_left_navy6a,
.hover_shadow_top_left_navy6a:hover,
.active_shadow_top_left_navy6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 242, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 242, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 242, .63);
}

.shadow_top_left_navy6s,
.hover_shadow_top_left_navy6s:hover,
.active_shadow_top_left_navy6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 242, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 242, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 242, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_navy6,
.hover_shadow_top_right_navy6:hover,
.active_shadow_top_right_navy6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 162, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 162, .39);
    box-shadow: 0.5em -0.5em 1em rgba(0, 0, 162, .39);
}

.shadow_top_right_navy6h,
.hover_shadow_top_right_navy6h:hover,
.active_shadow_top_right_navy6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 194, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 194, .50);
    box-shadow: 0.5em -0.5em 1em rgba(0, 0, 194, .50);
}

.shadow_top_right_navy6a,
.hover_shadow_top_right_navy6a:hover,
.active_shadow_top_right_navy6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 242, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 242, .63);
    box-shadow: 0.5em -0.5em 1em rgba(0, 0, 242, .63);
}

.shadow_top_right_navy6s,
.hover_shadow_top_right_navy6s:hover,
.active_shadow_top_right_navy6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 242, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 242, .78);
    box-shadow: 0.5em -0.5em 1em rgba(0, 0, 242, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_navy6,
.hover_shadow_bottom_left_navy6:hover,
.active_shadow_bottom_left_navy6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 162, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 162, .39);
    box-shadow: -0.5em 0.5em 1em rgba(0, 0, 162, .39);
}

.shadow_bottom_left_navy6h,
.hover_shadow_bottom_left_navy6h:hover,
.active_shadow_bottom_left_navy6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 194, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 194, .50);
    box-shadow: -0.5em 0.5em 1em rgba(0, 0, 194, .50);
}

.shadow_bottom_left_navy6a,
.hover_shadow_bottom_left_navy6a:hover,
.active_shadow_bottom_left_navy6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 242, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 242, .63);
    box-shadow: -0.5em 0.5em 1em rgba(0, 0, 242, .63);
}

.shadow_bottom_left_navy6s,
.hover_shadow_bottom_left_navy6s:hover,
.active_shadow_bottom_left_navy6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 242, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 242, .78);
    box-shadow: -0.5em 0.5em 1em rgba(0, 0, 242, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_navy6,
.hover_shadow_bottom_right_navy6:hover,
.active_shadow_bottom_right_navy6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 162, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 162, .39);
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 162, .39);
}

.shadow_bottom_right_navy6h,
.hover_shadow_bottom_right_navy6h:hover,
.active_shadow_bottom_right_navy6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 194, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 194, .50);
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 194, .50);
}

.shadow_bottom_right_navy6a,
 .hover_shadow_bottom_right_navy6a:hover,
 .active_shadow_bottom_right_navy6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 242, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 242, .63);
     box-shadow: 0.5em 0.5em 1em rgba(0, 0, 242, .63);
 }

 .shadow_bottom_right_navy6s,
 .hover_shadow_bottom_right_navy6s:hover,
 .active_shadow_bottom_right_navy6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 242, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 242, .78);
     box-shadow: 0.5em 0.5em 1em rgba(0, 0, 242, .78);
 }