.background_glassyDodgerBlue4,
.hover_background_glassyDodgerBlue4:hover,
.active_background_glassyDodgerBlue4:active:hover {
    background: #0483ff;
    background-image: -moz-linear-gradient(top,  rgb(0, 118, 233) 0%, rgb(0, 105, 207) 50%, rgb(0, 92, 181) 55%, rgb(4, 131, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 118, 233)), color-stop(50%, rgb(0, 105, 207)), color-stop(55%, rgb(0, 92, 181)), color-stop(100%, rgb(4, 131, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 118, 233) 0%, rgb(0, 105, 207) 50%, rgb(0, 92, 181) 55%, rgb(4, 131, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 118, 233) 0%, rgb(0, 105, 207) 50%, rgb(0, 92, 181) 55%, rgb(4, 131, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 118, 233) 0%, rgb(0, 105, 207) 50%, rgb(0, 92, 181) 55%, rgb(4, 131, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 118, 233) 0%, rgb(0, 105, 207) 50%, rgb(0, 92, 181) 55%, rgb(4, 131, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0076e9', endColorstr='#0483ff',GradientType=0 );
}

.background_glassyDodgerBlue4h,
.hover_background_glassyDodgerBlue4h:hover,
.active_background_glassyDodgerBlue4h:active:hover {
    background: #0483ff;
    background-image: -moz-linear-gradient(top,  rgb(24, 141, 255) 0%, rgb(0, 126, 248) 50%, rgb(0, 110, 217) 55%, rgb(55, 156, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(24, 141, 255)), color-stop(50%, rgb(0, 126, 248)), color-stop(55%, rgb(0, 110, 217)), color-stop(100%, rgb(55, 156, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(24, 141, 255) 0%, rgb(0, 126, 248) 50%, rgb(0, 110, 217) 55%, rgb(55, 156, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(24, 141, 255) 0%, rgb(0, 126, 248) 50%, rgb(0, 110, 217) 55%, rgb(55, 156, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(24, 141, 255) 0%, rgb(0, 126, 248) 50%, rgb(0, 110, 217) 55%, rgb(55, 156, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(24, 141, 255) 0%, rgb(0, 126, 248) 50%, rgb(0, 110, 217) 55%, rgb(55, 156, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#188dff', endColorstr='#379cff',GradientType=0 );
}

.background_glassyDodgerBlue4a,
.hover_background_glassyDodgerBlue4a:hover,
.active_background_glassyDodgerBlue4a:active:hover {
    background: #0483ff;
    background-image: -moz-linear-gradient(top,  rgb(55, 156, 255) 0%, rgb(0, 110, 217) 50%, rgb(0, 126, 248) 55%, rgb(24, 141, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(55, 156, 255)), color-stop(50%, rgb(0, 110, 217)), color-stop(55%, rgb(0, 126, 248)), color-stop(100%, rgb(24, 141, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(55, 156, 255) 0%, rgb(0, 110, 217) 50%, rgb(0, 126, 248) 55%, rgb(24, 141, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(55, 156, 255) 0%, rgb(0, 110, 217) 50%, rgb(0, 126, 248) 55%, rgb(24, 141, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(55, 156, 255) 0%, rgb(0, 110, 217) 50%, rgb(0, 126, 248) 55%, rgb(24, 141, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(55, 156, 255) 0%, rgb(0, 110, 217) 50%, rgb(0, 126, 248) 55%, rgb(24, 141, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#379cff', endColorstr='#188dff',GradientType=0 );
}

.background_glassyDodgerBlue4s,
.hover_background_glassyDodgerBlue4s:hover,
.active_background_glassyDodgerBlue4s:active:hover {
    background: #0483ff;
    background-image: -moz-linear-gradient(top,  rgb(94, 176, 255) 0%, rgb(55, 156, 255) 50%, rgb(17, 137, 255) 55%, rgb(133, 195, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(94, 176, 255)), color-stop(50%, rgb(55, 156, 255)), color-stop(55%, rgb(17, 137, 255)), color-stop(100%, rgb(133, 195, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(94, 176, 255) 0%, rgb(55, 156, 255) 50%, rgb(17, 137, 255) 55%, rgb(133, 195, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(94, 176, 255) 0%, rgb(55, 156, 255) 50%, rgb(17, 137, 255) 55%, rgb(133, 195, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(94, 176, 255) 0%, rgb(55, 156, 255) 50%, rgb(17, 137, 255) 55%, rgb(133, 195, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(94, 176, 255) 0%, rgb(55, 156, 255) 50%, rgb(17, 137, 255) 55%, rgb(133, 195, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5eb0ff', endColorstr='#85c3ff',GradientType=0 );
}

.background_color_glassyDodgerBlue4,
.hover_background_color_glassyDodgerBlue4:hover,
.active_background_color_glassyDodgerBlue4:active:hover {
    background-color:#0483ff;
}

.background_first_color_glassyDodgerBlue4,
.hover_background_first_color_glassyDodgerBlue4:hover,
.active_background_first_color_glassyDodgerBlue4:active:hover {
    background-color:#0076e9;
}

.background_last_color_glassyDodgerBlue4,
.hover_background_last_color_glassyDodgerBlue4:hover,
.active_background_color_last_glassyDodgerBlue4:active:hover {
   background-color:#0483ff;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyDodgerBlue4,
.hover_color_glassyDodgerBlue4:hover,
.active_color_glassyDodgerBlue4:active:hover {
    color: #c8c8c8;
}

.color_glassyDodgerBlue4h,
.hover_color_glassyDodgerBlue4h:hover,
.active_color_glassyDodgerBlue4h:active:hover {
    color: #c8c8c8;
}

.color_glassyDodgerBlue4a,
.hover_color_glassyDodgerBlue4a:hover,
.active_color_glassyDodgerBlue4a:active:hover {
    color: #ff0;
}

.color_glassyDodgerBlue4s,
.hover_color_glassyDodgerBlue4s:hover,
.active_color_glassyDodgerBlue4s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyDodgerBlue4,
.hover_border_glassyDodgerBlue4:hover,
.active_border_glassyDodgerBlue4:active:hover {
    border-color: #005eba #004f9b #004f9b #005eba;
}

.border_glassyDodgerBlue4h,
.hover_border_glassyDodgerBlue4h:hover,
.active_border_glassyDodgerBlue4h:active:hover {
    border-color: #005eba #004f9b #004f9b #005eba;
}

.border_glassyDodgerBlue4a,
.hover_border_glassyDodgerBlue4a:hover,
.active_border_glassyDodgerBlue4a:active:hover {
    border-color: #004991 #004991 #004991 #004991;
}

.border_glassyDodgerBlue4s,
.hover_border_glassyDodgerBlue4s:hover,
.active_border_glassyDodgerBlue4s:active:hover {
    border-color: #004991 #004991 #004991 #004991;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyDodgerBlue4,
.hover_shadow_expand_glassyDodgerBlue4:hover,
.active_shadow_expand_glassyDodgerBlue4:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(4, 131, 255, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(4, 131, 255, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(4, 131, 255, .39);
}

.shadow_expand_glassyDodgerBlue4h,
.hover_shadow_expand_glassyDodgerBlue4h:hover,
.active_shadow_expand_glassyDodgerBlue4h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(55, 156, 255, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(55, 156, 255, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(55, 156, 255, .50);
}

.shadow_expand_glassyDodgerBlue4a,
.hover_shadow_expand_glassyDodgerBlue4a:hover,
.active_shadow_expand_glassyDodgerBlue4a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(24, 141, 255, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(24, 141, 255, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(24, 141, 255, .63);
}

.shadow_expand_glassyDodgerBlue4s,
.hover_shadow_expand_glassyDodgerBlue4s:hover,
.active_shadow_expand_glassyDodgerBlue4s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(24, 141, 255, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(24, 141, 255, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(24, 141, 255, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyDodgerBlue4,
.hover_shadow_left_glassyDodgerBlue4:hover,
.active_shadow_left_glassyDodgerBlue4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(4, 131, 255, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(4, 131, 255, .39);
    box-shadow: -0.5em -0.5em 1em rgba(4, 131, 255, .39);
}

.shadow_left_glassyDodgerBlue4h,
.hover_shadow_left_glassyDodgerBlue4h:hover,
.active_shadow_left_glassyDodgerBlue4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(55, 156, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(55, 156, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(55, 156, 255, .50);
}

.shadow_left_glassyDodgerBlue4a,
.hover_shadow_left_glassyDodgerBlue4a:hover,
.active_shadow_left_glassyDodgerBlue4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(24, 141, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(24, 141, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(24, 141, 255, .63);
}

.shadow_left_glassyDodgerBlue4s,
.hover_shadow_left_glassyDodgerBlue4s:hover,
.active_shadow_left_glassyDodgerBlue4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(24, 141, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(24, 141, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(24, 141, 255, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyDodgerBlue4,
.hover_shadow_right_glassyDodgerBlue4:hover,
.active_shadow_right_glassyDodgerBlue4:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(4, 131, 255, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(4, 131, 255, .39);
    box-shadow: 0.5em 0em 1em rgba(4, 131, 255, .39);
}

.shadow_right_glassyDodgerBlue4h,
.hover_shadow_right_glassyDodgerBlue4h:hover,
.active_shadow_right_glassyDodgerBlue4h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(55, 156, 255, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(55, 156, 255, .50);
    box-shadow: 0.5em 0em 1em rgba(55, 156, 255, .50);
}

.shadow_right_glassyDodgerBlue4a,
.hover_shadow_right_glassyDodgerBlue4a:hover,
.active_shadow_right_glassyDodgerBlue4a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(24, 141, 255, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(24, 141, 255, .63);
    box-shadow: 0.5em 0em 1em rgba(24, 141, 255, .63);
}

.shadow_right_glassyDodgerBlue4s,
.hover_shadow_right_glassyDodgerBlue4s:hover,
.active_shadow_right_glassyDodgerBlue4s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(24, 141, 255, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(24, 141, 255, .78);
    box-shadow: 0.5em 0em 1em rgba(24, 141, 255, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyDodgerBlue4,
.hover_shadow_top_glassyDodgerBlue4:hover,
.active_shadow_top_glassyDodgerBlue4:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(4, 131, 255, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(4, 131, 255, .39);
    box-shadow: 0em -0.5em 1em rgba(4, 131, 255, .39);
}

.shadow_top_glassyDodgerBlue4h,
.hover_shadow_top_glassyDodgerBlue4h:hover,
.active_shadow_top_glassyDodgerBlue4h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(55, 156, 255, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(55, 156, 255, .50);
    box-shadow: 0em -0.5em 1em rgba(55, 156, 255, .50);
}

.shadow_top_glassyDodgerBlue4a,
.hover_shadow_top_glassyDodgerBlue4a:hover,
.active_shadow_top_glassyDodgerBlue4a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(24, 141, 255, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(24, 141, 255, .63);
    box-shadow: 0em -0.5em 1em rgba(24, 141, 255, .63);
}

.shadow_top_glassyDodgerBlue4s,
.hover_shadow_top_glassyDodgerBlue4s:hover,
.active_shadow_top_glassyDodgerBlue4s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(24, 141, 255, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(24, 141, 255, .78);
    box-shadow: 0em -0.5em 1em rgba(24, 141, 255, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyDodgerBlue4,
.hover_shadow_bottom_glassyDodgerBlue4:hover,
.active_shadow_bottom_glassyDodgerBlue4:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(4, 131, 255, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(4, 131, 255, .39);
    box-shadow: 0em 0.5em 1em rgba(4, 131, 255, .39);
}

.shadow_bottom_glassyDodgerBlue4h,
.hover_shadow_bottom_glassyDodgerBlue4h:hover,
.active_shadow_bottom_glassyDodgerBlue4h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(55, 156, 255, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(55, 156, 255, .50);
    box-shadow: 0em 0.5em 1em rgba(55, 156, 255, .50);
}

.shadow_bottom_glassyDodgerBlue4a,
.hover_shadow_bottom_glassyDodgerBlue4a:hover,
.active_shadow_bottom_glassyDodgerBlue4a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(24, 141, 255, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(24, 141, 255, .63);
    box-shadow: 0em 0.5em 1em rgba(24, 141, 255, .63);
}

.shadow_bottom_glassyDodgerBlue4s,
.hover_shadow_bottom_glassyDodgerBlue4s:hover,
.active_shadow_bottom_glassyDodgerBlue4s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(24, 141, 255, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(24, 141, 255, .78);
    box-shadow: 0em 0.5em 1em rgba(24, 141, 255, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyDodgerBlue4,
.hover_shadow_top_left_glassyDodgerBlue4:hover,
.active_shadow_top_left_glassyDodgerBlue4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(4, 131, 255, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(4, 131, 255, .39);
    box-shadow: -0.5em -0.5em 1em rgba(4, 131, 255, .39);
}

.shadow_top_left_glassyDodgerBlue4h,
.hover_shadow_top_left_glassyDodgerBlue4h:hover,
.active_shadow_top_left_glassyDodgerBlue4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(55, 156, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(55, 156, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(55, 156, 255, .50);
}

.shadow_top_left_glassyDodgerBlue4a,
.hover_shadow_top_left_glassyDodgerBlue4a:hover,
.active_shadow_top_left_glassyDodgerBlue4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(24, 141, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(24, 141, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(24, 141, 255, .63);
}

.shadow_top_left_glassyDodgerBlue4s,
.hover_shadow_top_left_glassyDodgerBlue4s:hover,
.active_shadow_top_left_glassyDodgerBlue4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(24, 141, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(24, 141, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(24, 141, 255, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyDodgerBlue4,
.hover_shadow_top_right_glassyDodgerBlue4:hover,
.active_shadow_top_right_glassyDodgerBlue4:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(4, 131, 255, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(4, 131, 255, .39);
    box-shadow: 0.5em -0.5em 1em rgba(4, 131, 255, .39);
}

.shadow_top_right_glassyDodgerBlue4h,
.hover_shadow_top_right_glassyDodgerBlue4h:hover,
.active_shadow_top_right_glassyDodgerBlue4h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(55, 156, 255, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(55, 156, 255, .50);
    box-shadow: 0.5em -0.5em 1em rgba(55, 156, 255, .50);
}

.shadow_top_right_glassyDodgerBlue4a,
.hover_shadow_top_right_glassyDodgerBlue4a:hover,
.active_shadow_top_right_glassyDodgerBlue4a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(24, 141, 255, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(24, 141, 255, .63);
    box-shadow: 0.5em -0.5em 1em rgba(24, 141, 255, .63);
}

.shadow_top_right_glassyDodgerBlue4s,
.hover_shadow_top_right_glassyDodgerBlue4s:hover,
.active_shadow_top_right_glassyDodgerBlue4s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(24, 141, 255, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(24, 141, 255, .78);
    box-shadow: 0.5em -0.5em 1em rgba(24, 141, 255, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyDodgerBlue4,
.hover_shadow_bottom_left_glassyDodgerBlue4:hover,
.active_shadow_bottom_left_glassyDodgerBlue4:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(4, 131, 255, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(4, 131, 255, .39);
    box-shadow: -0.5em 0.5em 1em rgba(4, 131, 255, .39);
}

.shadow_bottom_left_glassyDodgerBlue4h,
.hover_shadow_bottom_left_glassyDodgerBlue4h:hover,
.active_shadow_bottom_left_glassyDodgerBlue4h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(55, 156, 255, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(55, 156, 255, .50);
    box-shadow: -0.5em 0.5em 1em rgba(55, 156, 255, .50);
}

.shadow_bottom_left_glassyDodgerBlue4a,
.hover_shadow_bottom_left_glassyDodgerBlue4a:hover,
.active_shadow_bottom_left_glassyDodgerBlue4a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(24, 141, 255, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(24, 141, 255, .63);
    box-shadow: -0.5em 0.5em 1em rgba(24, 141, 255, .63);
}

.shadow_bottom_left_glassyDodgerBlue4s,
.hover_shadow_bottom_left_glassyDodgerBlue4s:hover,
.active_shadow_bottom_left_glassyDodgerBlue4s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(24, 141, 255, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(24, 141, 255, .78);
    box-shadow: -0.5em 0.5em 1em rgba(24, 141, 255, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyDodgerBlue4,
.hover_shadow_bottom_right_glassyDodgerBlue4:hover,
.active_shadow_bottom_right_glassyDodgerBlue4:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(4, 131, 255, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(4, 131, 255, .39);
    box-shadow: 0.5em 0.5em 1em rgba(4, 131, 255, .39);
}

.shadow_bottom_right_glassyDodgerBlue4h,
.hover_shadow_bottom_right_glassyDodgerBlue4h:hover,
.active_shadow_bottom_right_glassyDodgerBlue4h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(55, 156, 255, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(55, 156, 255, .50);
    box-shadow: 0.5em 0.5em 1em rgba(55, 156, 255, .50);
}

.shadow_bottom_right_glassyDodgerBlue4a,
 .hover_shadow_bottom_right_glassyDodgerBlue4a:hover,
 .active_shadow_bottom_right_glassyDodgerBlue4a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(24, 141, 255, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(24, 141, 255, .63);
     box-shadow: 0.5em 0.5em 1em rgba(24, 141, 255, .63);
 }

 .shadow_bottom_right_glassyDodgerBlue4s,
 .hover_shadow_bottom_right_glassyDodgerBlue4s:hover,
 .active_shadow_bottom_right_glassyDodgerBlue4s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(24, 141, 255, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(24, 141, 255, .78);
     box-shadow: 0.5em 0.5em 1em rgba(24, 141, 255, .78);
 }