.background_glassyDodgerBlue3,
.hover_background_glassyDodgerBlue3:hover,
.active_background_glassyDodgerBlue3:active:hover {
    background: #3199ff;
    background-image: -moz-linear-gradient(top,  rgb(19, 138, 255) 0%, rgb(0, 123, 243) 50%, rgb(0, 108, 213) 55%, rgb(49, 153, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(19, 138, 255)), color-stop(50%, rgb(0, 123, 243)), color-stop(55%, rgb(0, 108, 213)), color-stop(100%, rgb(49, 153, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(19, 138, 255) 0%, rgb(0, 123, 243) 50%, rgb(0, 108, 213) 55%, rgb(49, 153, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(19, 138, 255) 0%, rgb(0, 123, 243) 50%, rgb(0, 108, 213) 55%, rgb(49, 153, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(19, 138, 255) 0%, rgb(0, 123, 243) 50%, rgb(0, 108, 213) 55%, rgb(49, 153, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(19, 138, 255) 0%, rgb(0, 123, 243) 50%, rgb(0, 108, 213) 55%, rgb(49, 153, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#138aff', endColorstr='#3199ff',GradientType=0 );
}

.background_glassyDodgerBlue3h,
.hover_background_glassyDodgerBlue3h:hover,
.active_background_glassyDodgerBlue3h:active:hover {
    background: #3199ff;
    background-image: -moz-linear-gradient(top,  rgb(74, 165, 255) 0%, rgb(37, 147, 255) 50%, rgb(1, 129, 255) 55%, rgb(110, 184, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(74, 165, 255)), color-stop(50%, rgb(37, 147, 255)), color-stop(55%, rgb(1, 129, 255)), color-stop(100%, rgb(110, 184, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(74, 165, 255) 0%, rgb(37, 147, 255) 50%, rgb(1, 129, 255) 55%, rgb(110, 184, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(74, 165, 255) 0%, rgb(37, 147, 255) 50%, rgb(1, 129, 255) 55%, rgb(110, 184, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(74, 165, 255) 0%, rgb(37, 147, 255) 50%, rgb(1, 129, 255) 55%, rgb(110, 184, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(74, 165, 255) 0%, rgb(37, 147, 255) 50%, rgb(1, 129, 255) 55%, rgb(110, 184, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa5ff', endColorstr='#6eb8ff',GradientType=0 );
}

.background_glassyDodgerBlue3a,
.hover_background_glassyDodgerBlue3a:hover,
.active_background_glassyDodgerBlue3a:active:hover {
    background: #3199ff;
    background-image: -moz-linear-gradient(top,  rgb(110, 184, 255) 0%, rgb(1, 129, 255) 50%, rgb(37, 147, 255) 55%, rgb(74, 165, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(110, 184, 255)), color-stop(50%, rgb(1, 129, 255)), color-stop(55%, rgb(37, 147, 255)), color-stop(100%, rgb(74, 165, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(110, 184, 255) 0%, rgb(1, 129, 255) 50%, rgb(37, 147, 255) 55%, rgb(74, 165, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(110, 184, 255) 0%, rgb(1, 129, 255) 50%, rgb(37, 147, 255) 55%, rgb(74, 165, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(110, 184, 255) 0%, rgb(1, 129, 255) 50%, rgb(37, 147, 255) 55%, rgb(74, 165, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(110, 184, 255) 0%, rgb(1, 129, 255) 50%, rgb(37, 147, 255) 55%, rgb(74, 165, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6eb8ff', endColorstr='#4aa5ff',GradientType=0 );
}

.background_glassyDodgerBlue3s,
.hover_background_glassyDodgerBlue3s:hover,
.active_background_glassyDodgerBlue3s:active:hover {
    background: #3199ff;
    background-image: -moz-linear-gradient(top,  rgb(156, 206, 255) 0%, rgb(110, 184, 255) 50%, rgb(64, 161, 255) 55%, rgb(201, 229, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(156, 206, 255)), color-stop(50%, rgb(110, 184, 255)), color-stop(55%, rgb(64, 161, 255)), color-stop(100%, rgb(201, 229, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(156, 206, 255) 0%, rgb(110, 184, 255) 50%, rgb(64, 161, 255) 55%, rgb(201, 229, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(156, 206, 255) 0%, rgb(110, 184, 255) 50%, rgb(64, 161, 255) 55%, rgb(201, 229, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(156, 206, 255) 0%, rgb(110, 184, 255) 50%, rgb(64, 161, 255) 55%, rgb(201, 229, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(156, 206, 255) 0%, rgb(110, 184, 255) 50%, rgb(64, 161, 255) 55%, rgb(201, 229, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cceff', endColorstr='#c9e5ff',GradientType=0 );
}

.background_color_glassyDodgerBlue3,
.hover_background_color_glassyDodgerBlue3:hover,
.active_background_color_glassyDodgerBlue3:active:hover {
    background-color:#3199ff;
}

.background_first_color_glassyDodgerBlue3,
.hover_background_first_color_glassyDodgerBlue3:hover,
.active_background_first_color_glassyDodgerBlue3:active:hover {
    background-color:#138aff;
}

.background_last_color_glassyDodgerBlue3,
.hover_background_last_color_glassyDodgerBlue3:hover,
.active_background_color_last_glassyDodgerBlue3:active:hover {
   background-color:#3199ff;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyDodgerBlue3,
.hover_color_glassyDodgerBlue3:hover,
.active_color_glassyDodgerBlue3:active:hover {
    color: #c8c8c8;
}

.color_glassyDodgerBlue3h,
.hover_color_glassyDodgerBlue3h:hover,
.active_color_glassyDodgerBlue3h:active:hover {
    color: #c8c8c8;
}

.color_glassyDodgerBlue3a,
.hover_color_glassyDodgerBlue3a:hover,
.active_color_glassyDodgerBlue3a:active:hover {
    color: #ff0;
}

.color_glassyDodgerBlue3s,
.hover_color_glassyDodgerBlue3s:hover,
.active_color_glassyDodgerBlue3s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyDodgerBlue3,
.hover_border_glassyDodgerBlue3:hover,
.active_border_glassyDodgerBlue3:active:hover {
    border-color: #006fdb #005cb7 #005cb7 #006fdb;
}

.border_glassyDodgerBlue3h,
.hover_border_glassyDodgerBlue3h:hover,
.active_border_glassyDodgerBlue3h:active:hover {
    border-color: #006fdb #005cb7 #005cb7 #006fdb;
}

.border_glassyDodgerBlue3a,
.hover_border_glassyDodgerBlue3a:hover,
.active_border_glassyDodgerBlue3a:active:hover {
    border-color: #0056aa #0056aa #0056aa #0056aa;
}

.border_glassyDodgerBlue3s,
.hover_border_glassyDodgerBlue3s:hover,
.active_border_glassyDodgerBlue3s:active:hover {
    border-color: #0056aa #0056aa #0056aa #0056aa;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyDodgerBlue3,
.hover_shadow_expand_glassyDodgerBlue3:hover,
.active_shadow_expand_glassyDodgerBlue3:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(49, 153, 255, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(49, 153, 255, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(49, 153, 255, .39);
}

.shadow_expand_glassyDodgerBlue3h,
.hover_shadow_expand_glassyDodgerBlue3h:hover,
.active_shadow_expand_glassyDodgerBlue3h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(110, 184, 255, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(110, 184, 255, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(110, 184, 255, .50);
}

.shadow_expand_glassyDodgerBlue3a,
.hover_shadow_expand_glassyDodgerBlue3a:hover,
.active_shadow_expand_glassyDodgerBlue3a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(74, 165, 255, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(74, 165, 255, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(74, 165, 255, .63);
}

.shadow_expand_glassyDodgerBlue3s,
.hover_shadow_expand_glassyDodgerBlue3s:hover,
.active_shadow_expand_glassyDodgerBlue3s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(74, 165, 255, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(74, 165, 255, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(74, 165, 255, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyDodgerBlue3,
.hover_shadow_left_glassyDodgerBlue3:hover,
.active_shadow_left_glassyDodgerBlue3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(49, 153, 255, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(49, 153, 255, .39);
    box-shadow: -0.5em -0.5em 1em rgba(49, 153, 255, .39);
}

.shadow_left_glassyDodgerBlue3h,
.hover_shadow_left_glassyDodgerBlue3h:hover,
.active_shadow_left_glassyDodgerBlue3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(110, 184, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(110, 184, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(110, 184, 255, .50);
}

.shadow_left_glassyDodgerBlue3a,
.hover_shadow_left_glassyDodgerBlue3a:hover,
.active_shadow_left_glassyDodgerBlue3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(74, 165, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(74, 165, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(74, 165, 255, .63);
}

.shadow_left_glassyDodgerBlue3s,
.hover_shadow_left_glassyDodgerBlue3s:hover,
.active_shadow_left_glassyDodgerBlue3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(74, 165, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(74, 165, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(74, 165, 255, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyDodgerBlue3,
.hover_shadow_right_glassyDodgerBlue3:hover,
.active_shadow_right_glassyDodgerBlue3:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(49, 153, 255, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(49, 153, 255, .39);
    box-shadow: 0.5em 0em 1em rgba(49, 153, 255, .39);
}

.shadow_right_glassyDodgerBlue3h,
.hover_shadow_right_glassyDodgerBlue3h:hover,
.active_shadow_right_glassyDodgerBlue3h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(110, 184, 255, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(110, 184, 255, .50);
    box-shadow: 0.5em 0em 1em rgba(110, 184, 255, .50);
}

.shadow_right_glassyDodgerBlue3a,
.hover_shadow_right_glassyDodgerBlue3a:hover,
.active_shadow_right_glassyDodgerBlue3a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(74, 165, 255, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(74, 165, 255, .63);
    box-shadow: 0.5em 0em 1em rgba(74, 165, 255, .63);
}

.shadow_right_glassyDodgerBlue3s,
.hover_shadow_right_glassyDodgerBlue3s:hover,
.active_shadow_right_glassyDodgerBlue3s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(74, 165, 255, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(74, 165, 255, .78);
    box-shadow: 0.5em 0em 1em rgba(74, 165, 255, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyDodgerBlue3,
.hover_shadow_top_glassyDodgerBlue3:hover,
.active_shadow_top_glassyDodgerBlue3:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(49, 153, 255, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(49, 153, 255, .39);
    box-shadow: 0em -0.5em 1em rgba(49, 153, 255, .39);
}

.shadow_top_glassyDodgerBlue3h,
.hover_shadow_top_glassyDodgerBlue3h:hover,
.active_shadow_top_glassyDodgerBlue3h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(110, 184, 255, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(110, 184, 255, .50);
    box-shadow: 0em -0.5em 1em rgba(110, 184, 255, .50);
}

.shadow_top_glassyDodgerBlue3a,
.hover_shadow_top_glassyDodgerBlue3a:hover,
.active_shadow_top_glassyDodgerBlue3a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(74, 165, 255, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(74, 165, 255, .63);
    box-shadow: 0em -0.5em 1em rgba(74, 165, 255, .63);
}

.shadow_top_glassyDodgerBlue3s,
.hover_shadow_top_glassyDodgerBlue3s:hover,
.active_shadow_top_glassyDodgerBlue3s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(74, 165, 255, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(74, 165, 255, .78);
    box-shadow: 0em -0.5em 1em rgba(74, 165, 255, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyDodgerBlue3,
.hover_shadow_bottom_glassyDodgerBlue3:hover,
.active_shadow_bottom_glassyDodgerBlue3:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(49, 153, 255, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(49, 153, 255, .39);
    box-shadow: 0em 0.5em 1em rgba(49, 153, 255, .39);
}

.shadow_bottom_glassyDodgerBlue3h,
.hover_shadow_bottom_glassyDodgerBlue3h:hover,
.active_shadow_bottom_glassyDodgerBlue3h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(110, 184, 255, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(110, 184, 255, .50);
    box-shadow: 0em 0.5em 1em rgba(110, 184, 255, .50);
}

.shadow_bottom_glassyDodgerBlue3a,
.hover_shadow_bottom_glassyDodgerBlue3a:hover,
.active_shadow_bottom_glassyDodgerBlue3a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(74, 165, 255, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(74, 165, 255, .63);
    box-shadow: 0em 0.5em 1em rgba(74, 165, 255, .63);
}

.shadow_bottom_glassyDodgerBlue3s,
.hover_shadow_bottom_glassyDodgerBlue3s:hover,
.active_shadow_bottom_glassyDodgerBlue3s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(74, 165, 255, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(74, 165, 255, .78);
    box-shadow: 0em 0.5em 1em rgba(74, 165, 255, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyDodgerBlue3,
.hover_shadow_top_left_glassyDodgerBlue3:hover,
.active_shadow_top_left_glassyDodgerBlue3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(49, 153, 255, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(49, 153, 255, .39);
    box-shadow: -0.5em -0.5em 1em rgba(49, 153, 255, .39);
}

.shadow_top_left_glassyDodgerBlue3h,
.hover_shadow_top_left_glassyDodgerBlue3h:hover,
.active_shadow_top_left_glassyDodgerBlue3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(110, 184, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(110, 184, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(110, 184, 255, .50);
}

.shadow_top_left_glassyDodgerBlue3a,
.hover_shadow_top_left_glassyDodgerBlue3a:hover,
.active_shadow_top_left_glassyDodgerBlue3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(74, 165, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(74, 165, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(74, 165, 255, .63);
}

.shadow_top_left_glassyDodgerBlue3s,
.hover_shadow_top_left_glassyDodgerBlue3s:hover,
.active_shadow_top_left_glassyDodgerBlue3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(74, 165, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(74, 165, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(74, 165, 255, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyDodgerBlue3,
.hover_shadow_top_right_glassyDodgerBlue3:hover,
.active_shadow_top_right_glassyDodgerBlue3:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(49, 153, 255, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(49, 153, 255, .39);
    box-shadow: 0.5em -0.5em 1em rgba(49, 153, 255, .39);
}

.shadow_top_right_glassyDodgerBlue3h,
.hover_shadow_top_right_glassyDodgerBlue3h:hover,
.active_shadow_top_right_glassyDodgerBlue3h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(110, 184, 255, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(110, 184, 255, .50);
    box-shadow: 0.5em -0.5em 1em rgba(110, 184, 255, .50);
}

.shadow_top_right_glassyDodgerBlue3a,
.hover_shadow_top_right_glassyDodgerBlue3a:hover,
.active_shadow_top_right_glassyDodgerBlue3a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(74, 165, 255, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(74, 165, 255, .63);
    box-shadow: 0.5em -0.5em 1em rgba(74, 165, 255, .63);
}

.shadow_top_right_glassyDodgerBlue3s,
.hover_shadow_top_right_glassyDodgerBlue3s:hover,
.active_shadow_top_right_glassyDodgerBlue3s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(74, 165, 255, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(74, 165, 255, .78);
    box-shadow: 0.5em -0.5em 1em rgba(74, 165, 255, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyDodgerBlue3,
.hover_shadow_bottom_left_glassyDodgerBlue3:hover,
.active_shadow_bottom_left_glassyDodgerBlue3:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(49, 153, 255, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(49, 153, 255, .39);
    box-shadow: -0.5em 0.5em 1em rgba(49, 153, 255, .39);
}

.shadow_bottom_left_glassyDodgerBlue3h,
.hover_shadow_bottom_left_glassyDodgerBlue3h:hover,
.active_shadow_bottom_left_glassyDodgerBlue3h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(110, 184, 255, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(110, 184, 255, .50);
    box-shadow: -0.5em 0.5em 1em rgba(110, 184, 255, .50);
}

.shadow_bottom_left_glassyDodgerBlue3a,
.hover_shadow_bottom_left_glassyDodgerBlue3a:hover,
.active_shadow_bottom_left_glassyDodgerBlue3a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(74, 165, 255, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(74, 165, 255, .63);
    box-shadow: -0.5em 0.5em 1em rgba(74, 165, 255, .63);
}

.shadow_bottom_left_glassyDodgerBlue3s,
.hover_shadow_bottom_left_glassyDodgerBlue3s:hover,
.active_shadow_bottom_left_glassyDodgerBlue3s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(74, 165, 255, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(74, 165, 255, .78);
    box-shadow: -0.5em 0.5em 1em rgba(74, 165, 255, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyDodgerBlue3,
.hover_shadow_bottom_right_glassyDodgerBlue3:hover,
.active_shadow_bottom_right_glassyDodgerBlue3:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(49, 153, 255, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(49, 153, 255, .39);
    box-shadow: 0.5em 0.5em 1em rgba(49, 153, 255, .39);
}

.shadow_bottom_right_glassyDodgerBlue3h,
.hover_shadow_bottom_right_glassyDodgerBlue3h:hover,
.active_shadow_bottom_right_glassyDodgerBlue3h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(110, 184, 255, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(110, 184, 255, .50);
    box-shadow: 0.5em 0.5em 1em rgba(110, 184, 255, .50);
}

.shadow_bottom_right_glassyDodgerBlue3a,
 .hover_shadow_bottom_right_glassyDodgerBlue3a:hover,
 .active_shadow_bottom_right_glassyDodgerBlue3a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(74, 165, 255, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(74, 165, 255, .63);
     box-shadow: 0.5em 0.5em 1em rgba(74, 165, 255, .63);
 }

 .shadow_bottom_right_glassyDodgerBlue3s,
 .hover_shadow_bottom_right_glassyDodgerBlue3s:hover,
 .active_shadow_bottom_right_glassyDodgerBlue3s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(74, 165, 255, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(74, 165, 255, .78);
     box-shadow: 0.5em 0.5em 1em rgba(74, 165, 255, .78);
 }