.background_glassyCadetBlue5,
.hover_background_glassyCadetBlue5:hover,
.active_background_glassyCadetBlue5:active:hover {
    background: #4d8082;
    background-image: -moz-linear-gradient(top,  rgb(69, 115, 117) 0%, rgb(62, 102, 104) 50%, rgb(54, 90, 91) 55%, rgb(77, 128, 130) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(69, 115, 117)), color-stop(50%, rgb(62, 102, 104)), color-stop(55%, rgb(54, 90, 91)), color-stop(100%, rgb(77, 128, 130)));
    background-image: -webkit-linear-gradient(top,  rgb(69, 115, 117) 0%, rgb(62, 102, 104) 50%, rgb(54, 90, 91) 55%, rgb(77, 128, 130) 100%);
    background-image: -o-linear-gradient(top,  rgb(69, 115, 117) 0%, rgb(62, 102, 104) 50%, rgb(54, 90, 91) 55%, rgb(77, 128, 130) 100%);
    background-image: -ms-linear-gradient(top, rgb(69, 115, 117) 0%, rgb(62, 102, 104) 50%, rgb(54, 90, 91) 55%, rgb(77, 128, 130) 100%);
    background-image: linear-gradient(to bottom,  rgb(69, 115, 117) 0%, rgb(62, 102, 104) 50%, rgb(54, 90, 91) 55%, rgb(77, 128, 130) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#457375', endColorstr='#4d8082',GradientType=0 );
}

.background_glassyCadetBlue5h,
.hover_background_glassyCadetBlue5h:hover,
.active_background_glassyCadetBlue5h:active:hover {
    background: #4d8082;
    background-image: -moz-linear-gradient(top,  rgb(83, 138, 140) 0%, rgb(74, 123, 124) 50%, rgb(65, 107, 109) 55%, rgb(92, 154, 155) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(83, 138, 140)), color-stop(50%, rgb(74, 123, 124)), color-stop(55%, rgb(65, 107, 109)), color-stop(100%, rgb(92, 154, 155)));
    background-image: -webkit-linear-gradient(top,  rgb(83, 138, 140) 0%, rgb(74, 123, 124) 50%, rgb(65, 107, 109) 55%, rgb(92, 154, 155) 100%);
    background-image: -o-linear-gradient(top,  rgb(83, 138, 140) 0%, rgb(74, 123, 124) 50%, rgb(65, 107, 109) 55%, rgb(92, 154, 155) 100%);
    background-image: -ms-linear-gradient(top, rgb(83, 138, 140) 0%, rgb(74, 123, 124) 50%, rgb(65, 107, 109) 55%, rgb(92, 154, 155) 100%);
    background-image: linear-gradient(to bottom,  rgb(83, 138, 140) 0%, rgb(74, 123, 124) 50%, rgb(65, 107, 109) 55%, rgb(92, 154, 155) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#538a8c', endColorstr='#5c9a9b',GradientType=0 );
}

.background_glassyCadetBlue5a,
.hover_background_glassyCadetBlue5a:hover,
.active_background_glassyCadetBlue5a:active:hover {
    background: #4d8082;
    background-image: -moz-linear-gradient(top,  rgb(92, 154, 155) 0%, rgb(65, 107, 109) 50%, rgb(74, 123, 124) 55%, rgb(83, 138, 140) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(92, 154, 155)), color-stop(50%, rgb(65, 107, 109)), color-stop(55%, rgb(74, 123, 124)), color-stop(100%, rgb(83, 138, 140)));
    background-image: -webkit-linear-gradient(top,  rgb(92, 154, 155) 0%, rgb(65, 107, 109) 50%, rgb(74, 123, 124) 55%, rgb(83, 138, 140) 100%);
    background-image: -o-linear-gradient(top,  rgb(92, 154, 155) 0%, rgb(65, 107, 109) 50%, rgb(74, 123, 124) 55%, rgb(83, 138, 140) 100%);
    background-image: -ms-linear-gradient(top, rgb(92, 154, 155) 0%, rgb(65, 107, 109) 50%, rgb(74, 123, 124) 55%, rgb(83, 138, 140) 100%);
    background-image: linear-gradient(to bottom,  rgb(92, 154, 155) 0%, rgb(65, 107, 109) 50%, rgb(74, 123, 124) 55%, rgb(83, 138, 140) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9a9b', endColorstr='#538a8c',GradientType=0 );
}

.background_glassyCadetBlue5s,
.hover_background_glassyCadetBlue5s:hover,
.active_background_glassyCadetBlue5s:active:hover {
    background: #4d8082;
    background-image: -moz-linear-gradient(top,  rgb(110, 167, 169) 0%, rgb(92, 154, 155) 50%, rgb(81, 134, 136) 55%, rgb(129, 179, 180) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(110, 167, 169)), color-stop(50%, rgb(92, 154, 155)), color-stop(55%, rgb(81, 134, 136)), color-stop(100%, rgb(129, 179, 180)));
    background-image: -webkit-linear-gradient(top,  rgb(110, 167, 169) 0%, rgb(92, 154, 155) 50%, rgb(81, 134, 136) 55%, rgb(129, 179, 180) 100%);
    background-image: -o-linear-gradient(top,  rgb(110, 167, 169) 0%, rgb(92, 154, 155) 50%, rgb(81, 134, 136) 55%, rgb(129, 179, 180) 100%);
    background-image: -ms-linear-gradient(top, rgb(110, 167, 169) 0%, rgb(92, 154, 155) 50%, rgb(81, 134, 136) 55%, rgb(129, 179, 180) 100%);
    background-image: linear-gradient(to bottom,  rgb(110, 167, 169) 0%, rgb(92, 154, 155) 50%, rgb(81, 134, 136) 55%, rgb(129, 179, 180) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ea7a9', endColorstr='#81b3b4',GradientType=0 );
}

.background_color_glassyCadetBlue5,
.hover_background_color_glassyCadetBlue5:hover,
.active_background_color_glassyCadetBlue5:active:hover {
    background-color:#4d8082;
}

.background_first_color_glassyCadetBlue5,
.hover_background_first_color_glassyCadetBlue5:hover,
.active_background_first_color_glassyCadetBlue5:active:hover {
    background-color:#457375;
}

.background_last_color_glassyCadetBlue5,
.hover_background_last_color_glassyCadetBlue5:hover,
.active_background_color_last_glassyCadetBlue5:active:hover {
   background-color:#4d8082;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyCadetBlue5,
.hover_color_glassyCadetBlue5:hover,
.active_color_glassyCadetBlue5:active:hover {
    color: #c8c8c8;
}

.color_glassyCadetBlue5h,
.hover_color_glassyCadetBlue5h:hover,
.active_color_glassyCadetBlue5h:active:hover {
    color: #c8c8c8;
}

.color_glassyCadetBlue5a,
.hover_color_glassyCadetBlue5a:hover,
.active_color_glassyCadetBlue5a:active:hover {
    color: #ff0;
}

.color_glassyCadetBlue5s,
.hover_color_glassyCadetBlue5s:hover,
.active_color_glassyCadetBlue5s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyCadetBlue5,
.hover_border_glassyCadetBlue5:hover,
.active_border_glassyCadetBlue5:active:hover {
    border-color: #375c5d #2e4d4e #2e4d4e #375c5d;
}

.border_glassyCadetBlue5h,
.hover_border_glassyCadetBlue5h:hover,
.active_border_glassyCadetBlue5h:active:hover {
    border-color: #375c5d #2e4d4e #2e4d4e #375c5d;
}

.border_glassyCadetBlue5a,
.hover_border_glassyCadetBlue5a:hover,
.active_border_glassyCadetBlue5a:active:hover {
    border-color: #2b4849 #2b4849 #2b4849 #2b4849;
}

.border_glassyCadetBlue5s,
.hover_border_glassyCadetBlue5s:hover,
.active_border_glassyCadetBlue5s:active:hover {
    border-color: #2b4849 #2b4849 #2b4849 #2b4849;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyCadetBlue5,
.hover_shadow_expand_glassyCadetBlue5:hover,
.active_shadow_expand_glassyCadetBlue5:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(77, 128, 130, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(77, 128, 130, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(77, 128, 130, .39);
}

.shadow_expand_glassyCadetBlue5h,
.hover_shadow_expand_glassyCadetBlue5h:hover,
.active_shadow_expand_glassyCadetBlue5h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(92, 154, 155, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(92, 154, 155, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(92, 154, 155, .50);
}

.shadow_expand_glassyCadetBlue5a,
.hover_shadow_expand_glassyCadetBlue5a:hover,
.active_shadow_expand_glassyCadetBlue5a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(83, 138, 140, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(83, 138, 140, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(83, 138, 140, .63);
}

.shadow_expand_glassyCadetBlue5s,
.hover_shadow_expand_glassyCadetBlue5s:hover,
.active_shadow_expand_glassyCadetBlue5s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(83, 138, 140, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(83, 138, 140, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(83, 138, 140, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyCadetBlue5,
.hover_shadow_left_glassyCadetBlue5:hover,
.active_shadow_left_glassyCadetBlue5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(77, 128, 130, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(77, 128, 130, .39);
    box-shadow: -0.5em -0.5em 1em rgba(77, 128, 130, .39);
}

.shadow_left_glassyCadetBlue5h,
.hover_shadow_left_glassyCadetBlue5h:hover,
.active_shadow_left_glassyCadetBlue5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(92, 154, 155, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(92, 154, 155, .50);
    box-shadow: -0.5em -0.5em 1em rgba(92, 154, 155, .50);
}

.shadow_left_glassyCadetBlue5a,
.hover_shadow_left_glassyCadetBlue5a:hover,
.active_shadow_left_glassyCadetBlue5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(83, 138, 140, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(83, 138, 140, .63);
    box-shadow: -0.5em -0.5em 1em rgba(83, 138, 140, .63);
}

.shadow_left_glassyCadetBlue5s,
.hover_shadow_left_glassyCadetBlue5s:hover,
.active_shadow_left_glassyCadetBlue5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(83, 138, 140, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(83, 138, 140, .78);
    box-shadow: -0.5em -0.5em 1em rgba(83, 138, 140, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyCadetBlue5,
.hover_shadow_right_glassyCadetBlue5:hover,
.active_shadow_right_glassyCadetBlue5:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(77, 128, 130, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(77, 128, 130, .39);
    box-shadow: 0.5em 0em 1em rgba(77, 128, 130, .39);
}

.shadow_right_glassyCadetBlue5h,
.hover_shadow_right_glassyCadetBlue5h:hover,
.active_shadow_right_glassyCadetBlue5h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(92, 154, 155, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(92, 154, 155, .50);
    box-shadow: 0.5em 0em 1em rgba(92, 154, 155, .50);
}

.shadow_right_glassyCadetBlue5a,
.hover_shadow_right_glassyCadetBlue5a:hover,
.active_shadow_right_glassyCadetBlue5a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(83, 138, 140, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(83, 138, 140, .63);
    box-shadow: 0.5em 0em 1em rgba(83, 138, 140, .63);
}

.shadow_right_glassyCadetBlue5s,
.hover_shadow_right_glassyCadetBlue5s:hover,
.active_shadow_right_glassyCadetBlue5s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(83, 138, 140, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(83, 138, 140, .78);
    box-shadow: 0.5em 0em 1em rgba(83, 138, 140, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyCadetBlue5,
.hover_shadow_top_glassyCadetBlue5:hover,
.active_shadow_top_glassyCadetBlue5:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(77, 128, 130, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(77, 128, 130, .39);
    box-shadow: 0em -0.5em 1em rgba(77, 128, 130, .39);
}

.shadow_top_glassyCadetBlue5h,
.hover_shadow_top_glassyCadetBlue5h:hover,
.active_shadow_top_glassyCadetBlue5h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(92, 154, 155, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(92, 154, 155, .50);
    box-shadow: 0em -0.5em 1em rgba(92, 154, 155, .50);
}

.shadow_top_glassyCadetBlue5a,
.hover_shadow_top_glassyCadetBlue5a:hover,
.active_shadow_top_glassyCadetBlue5a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(83, 138, 140, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(83, 138, 140, .63);
    box-shadow: 0em -0.5em 1em rgba(83, 138, 140, .63);
}

.shadow_top_glassyCadetBlue5s,
.hover_shadow_top_glassyCadetBlue5s:hover,
.active_shadow_top_glassyCadetBlue5s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(83, 138, 140, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(83, 138, 140, .78);
    box-shadow: 0em -0.5em 1em rgba(83, 138, 140, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyCadetBlue5,
.hover_shadow_bottom_glassyCadetBlue5:hover,
.active_shadow_bottom_glassyCadetBlue5:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(77, 128, 130, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(77, 128, 130, .39);
    box-shadow: 0em 0.5em 1em rgba(77, 128, 130, .39);
}

.shadow_bottom_glassyCadetBlue5h,
.hover_shadow_bottom_glassyCadetBlue5h:hover,
.active_shadow_bottom_glassyCadetBlue5h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(92, 154, 155, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(92, 154, 155, .50);
    box-shadow: 0em 0.5em 1em rgba(92, 154, 155, .50);
}

.shadow_bottom_glassyCadetBlue5a,
.hover_shadow_bottom_glassyCadetBlue5a:hover,
.active_shadow_bottom_glassyCadetBlue5a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(83, 138, 140, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(83, 138, 140, .63);
    box-shadow: 0em 0.5em 1em rgba(83, 138, 140, .63);
}

.shadow_bottom_glassyCadetBlue5s,
.hover_shadow_bottom_glassyCadetBlue5s:hover,
.active_shadow_bottom_glassyCadetBlue5s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(83, 138, 140, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(83, 138, 140, .78);
    box-shadow: 0em 0.5em 1em rgba(83, 138, 140, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyCadetBlue5,
.hover_shadow_top_left_glassyCadetBlue5:hover,
.active_shadow_top_left_glassyCadetBlue5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(77, 128, 130, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(77, 128, 130, .39);
    box-shadow: -0.5em -0.5em 1em rgba(77, 128, 130, .39);
}

.shadow_top_left_glassyCadetBlue5h,
.hover_shadow_top_left_glassyCadetBlue5h:hover,
.active_shadow_top_left_glassyCadetBlue5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(92, 154, 155, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(92, 154, 155, .50);
    box-shadow: -0.5em -0.5em 1em rgba(92, 154, 155, .50);
}

.shadow_top_left_glassyCadetBlue5a,
.hover_shadow_top_left_glassyCadetBlue5a:hover,
.active_shadow_top_left_glassyCadetBlue5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(83, 138, 140, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(83, 138, 140, .63);
    box-shadow: -0.5em -0.5em 1em rgba(83, 138, 140, .63);
}

.shadow_top_left_glassyCadetBlue5s,
.hover_shadow_top_left_glassyCadetBlue5s:hover,
.active_shadow_top_left_glassyCadetBlue5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(83, 138, 140, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(83, 138, 140, .78);
    box-shadow: -0.5em -0.5em 1em rgba(83, 138, 140, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyCadetBlue5,
.hover_shadow_top_right_glassyCadetBlue5:hover,
.active_shadow_top_right_glassyCadetBlue5:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(77, 128, 130, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(77, 128, 130, .39);
    box-shadow: 0.5em -0.5em 1em rgba(77, 128, 130, .39);
}

.shadow_top_right_glassyCadetBlue5h,
.hover_shadow_top_right_glassyCadetBlue5h:hover,
.active_shadow_top_right_glassyCadetBlue5h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(92, 154, 155, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(92, 154, 155, .50);
    box-shadow: 0.5em -0.5em 1em rgba(92, 154, 155, .50);
}

.shadow_top_right_glassyCadetBlue5a,
.hover_shadow_top_right_glassyCadetBlue5a:hover,
.active_shadow_top_right_glassyCadetBlue5a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(83, 138, 140, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(83, 138, 140, .63);
    box-shadow: 0.5em -0.5em 1em rgba(83, 138, 140, .63);
}

.shadow_top_right_glassyCadetBlue5s,
.hover_shadow_top_right_glassyCadetBlue5s:hover,
.active_shadow_top_right_glassyCadetBlue5s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(83, 138, 140, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(83, 138, 140, .78);
    box-shadow: 0.5em -0.5em 1em rgba(83, 138, 140, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyCadetBlue5,
.hover_shadow_bottom_left_glassyCadetBlue5:hover,
.active_shadow_bottom_left_glassyCadetBlue5:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(77, 128, 130, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(77, 128, 130, .39);
    box-shadow: -0.5em 0.5em 1em rgba(77, 128, 130, .39);
}

.shadow_bottom_left_glassyCadetBlue5h,
.hover_shadow_bottom_left_glassyCadetBlue5h:hover,
.active_shadow_bottom_left_glassyCadetBlue5h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(92, 154, 155, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(92, 154, 155, .50);
    box-shadow: -0.5em 0.5em 1em rgba(92, 154, 155, .50);
}

.shadow_bottom_left_glassyCadetBlue5a,
.hover_shadow_bottom_left_glassyCadetBlue5a:hover,
.active_shadow_bottom_left_glassyCadetBlue5a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(83, 138, 140, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(83, 138, 140, .63);
    box-shadow: -0.5em 0.5em 1em rgba(83, 138, 140, .63);
}

.shadow_bottom_left_glassyCadetBlue5s,
.hover_shadow_bottom_left_glassyCadetBlue5s:hover,
.active_shadow_bottom_left_glassyCadetBlue5s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(83, 138, 140, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(83, 138, 140, .78);
    box-shadow: -0.5em 0.5em 1em rgba(83, 138, 140, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyCadetBlue5,
.hover_shadow_bottom_right_glassyCadetBlue5:hover,
.active_shadow_bottom_right_glassyCadetBlue5:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(77, 128, 130, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(77, 128, 130, .39);
    box-shadow: 0.5em 0.5em 1em rgba(77, 128, 130, .39);
}

.shadow_bottom_right_glassyCadetBlue5h,
.hover_shadow_bottom_right_glassyCadetBlue5h:hover,
.active_shadow_bottom_right_glassyCadetBlue5h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(92, 154, 155, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(92, 154, 155, .50);
    box-shadow: 0.5em 0.5em 1em rgba(92, 154, 155, .50);
}

.shadow_bottom_right_glassyCadetBlue5a,
 .hover_shadow_bottom_right_glassyCadetBlue5a:hover,
 .active_shadow_bottom_right_glassyCadetBlue5a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(83, 138, 140, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(83, 138, 140, .63);
     box-shadow: 0.5em 0.5em 1em rgba(83, 138, 140, .63);
 }

 .shadow_bottom_right_glassyCadetBlue5s,
 .hover_shadow_bottom_right_glassyCadetBlue5s:hover,
 .active_shadow_bottom_right_glassyCadetBlue5s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(83, 138, 140, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(83, 138, 140, .78);
     box-shadow: 0.5em 0.5em 1em rgba(83, 138, 140, .78);
 }