.background_glassyBlanchedAlmond2,
.hover_background_glassyBlanchedAlmond2:hover,
.active_background_glassyBlanchedAlmond2:active:hover {
    background: #ffcf88;
    background-image: -moz-linear-gradient(top,  rgb(255, 192, 97) 0%, rgb(255, 176, 58) 50%, rgb(255, 160, 19) 55%, rgb(255, 207, 136) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 192, 97)), color-stop(50%, rgb(255, 176, 58)), color-stop(55%, rgb(255, 160, 19)), color-stop(100%, rgb(255, 207, 136)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 192, 97) 0%, rgb(255, 176, 58) 50%, rgb(255, 160, 19) 55%, rgb(255, 207, 136) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 192, 97) 0%, rgb(255, 176, 58) 50%, rgb(255, 160, 19) 55%, rgb(255, 207, 136) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 192, 97) 0%, rgb(255, 176, 58) 50%, rgb(255, 160, 19) 55%, rgb(255, 207, 136) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 192, 97) 0%, rgb(255, 176, 58) 50%, rgb(255, 160, 19) 55%, rgb(255, 207, 136) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc061', endColorstr='#ffcf88',GradientType=0 );
}

.background_glassyBlanchedAlmond2h,
.hover_background_glassyBlanchedAlmond2h:hover,
.active_background_glassyBlanchedAlmond2h:active:hover {
    background: #ffcf88;
    background-image: -moz-linear-gradient(top,  rgb(255, 220, 167) 0%, rgb(255, 201, 120) 50%, rgb(255, 182, 73) 55%, rgb(255, 239, 214) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 220, 167)), color-stop(50%, rgb(255, 201, 120)), color-stop(55%, rgb(255, 182, 73)), color-stop(100%, rgb(255, 239, 214)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 220, 167) 0%, rgb(255, 201, 120) 50%, rgb(255, 182, 73) 55%, rgb(255, 239, 214) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 220, 167) 0%, rgb(255, 201, 120) 50%, rgb(255, 182, 73) 55%, rgb(255, 239, 214) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 220, 167) 0%, rgb(255, 201, 120) 50%, rgb(255, 182, 73) 55%, rgb(255, 239, 214) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 220, 167) 0%, rgb(255, 201, 120) 50%, rgb(255, 182, 73) 55%, rgb(255, 239, 214) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdca7', endColorstr='#ffefd6',GradientType=0 );
}

.background_glassyBlanchedAlmond2a,
.hover_background_glassyBlanchedAlmond2a:hover,
.active_background_glassyBlanchedAlmond2a:active:hover {
    background: #ffcf88;
    background-image: -moz-linear-gradient(top,  rgb(255, 239, 214) 0%, rgb(255, 182, 73) 50%, rgb(255, 201, 120) 55%, rgb(255, 220, 167) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 239, 214)), color-stop(50%, rgb(255, 182, 73)), color-stop(55%, rgb(255, 201, 120)), color-stop(100%, rgb(255, 220, 167)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 239, 214) 0%, rgb(255, 182, 73) 50%, rgb(255, 201, 120) 55%, rgb(255, 220, 167) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 239, 214) 0%, rgb(255, 182, 73) 50%, rgb(255, 201, 120) 55%, rgb(255, 220, 167) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 239, 214) 0%, rgb(255, 182, 73) 50%, rgb(255, 201, 120) 55%, rgb(255, 220, 167) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 239, 214) 0%, rgb(255, 182, 73) 50%, rgb(255, 201, 120) 55%, rgb(255, 220, 167) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffefd6', endColorstr='#ffdca7',GradientType=0 );
}

.background_glassyBlanchedAlmond2s,
.hover_background_glassyBlanchedAlmond2s:hover,
.active_background_glassyBlanchedAlmond2s:active:hover {
    background: #ffcf88;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 239, 214) 50%, rgb(255, 215, 156) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(255, 239, 214)), color-stop(55%, rgb(255, 215, 156)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 239, 214) 50%, rgb(255, 215, 156) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 239, 214) 50%, rgb(255, 215, 156) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 239, 214) 50%, rgb(255, 215, 156) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(255, 239, 214) 50%, rgb(255, 215, 156) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_color_glassyBlanchedAlmond2,
.hover_background_color_glassyBlanchedAlmond2:hover,
.active_background_color_glassyBlanchedAlmond2:active:hover {
    background-color:#ffcf88;
}

.background_first_color_glassyBlanchedAlmond2,
.hover_background_first_color_glassyBlanchedAlmond2:hover,
.active_background_first_color_glassyBlanchedAlmond2:active:hover {
    background-color:#ffc061;
}

.background_last_color_glassyBlanchedAlmond2,
.hover_background_last_color_glassyBlanchedAlmond2:hover,
.active_background_color_last_glassyBlanchedAlmond2:active:hover {
   background-color:#ffcf88;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyBlanchedAlmond2,
.hover_color_glassyBlanchedAlmond2:hover,
.active_color_glassyBlanchedAlmond2:active:hover {
    color: #282828;
}

.color_glassyBlanchedAlmond2h,
.hover_color_glassyBlanchedAlmond2h:hover,
.active_color_glassyBlanchedAlmond2h:active:hover {
    color: #282828;
}

.color_glassyBlanchedAlmond2a,
.hover_color_glassyBlanchedAlmond2a:hover,
.active_color_glassyBlanchedAlmond2a:active:hover {
    color: #ff0;
}

.color_glassyBlanchedAlmond2s,
.hover_color_glassyBlanchedAlmond2s:hover,
.active_color_glassyBlanchedAlmond2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyBlanchedAlmond2,
.hover_border_glassyBlanchedAlmond2:hover,
.active_border_glassyBlanchedAlmond2:active:hover {
    border-color: #ffa41b #eb8d00 #eb8d00 #ffa41b;
}

.border_glassyBlanchedAlmond2h,
.hover_border_glassyBlanchedAlmond2h:hover,
.active_border_glassyBlanchedAlmond2h:active:hover {
    border-color: #ffa41b #eb8d00 #eb8d00 #ffa41b;
}

.border_glassyBlanchedAlmond2a,
.hover_border_glassyBlanchedAlmond2a:hover,
.active_border_glassyBlanchedAlmond2a:active:hover {
    border-color: #db8300 #db8300 #db8300 #db8300;
}

.border_glassyBlanchedAlmond2s,
.hover_border_glassyBlanchedAlmond2s:hover,
.active_border_glassyBlanchedAlmond2s:active:hover {
    border-color: #db8300 #db8300 #db8300 #db8300;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyBlanchedAlmond2,
.hover_shadow_expand_glassyBlanchedAlmond2:hover,
.active_shadow_expand_glassyBlanchedAlmond2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 207, 136, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 207, 136, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 207, 136, .39);
}

.shadow_expand_glassyBlanchedAlmond2h,
.hover_shadow_expand_glassyBlanchedAlmond2h:hover,
.active_shadow_expand_glassyBlanchedAlmond2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 239, 214, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 239, 214, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 239, 214, .50);
}

.shadow_expand_glassyBlanchedAlmond2a,
.hover_shadow_expand_glassyBlanchedAlmond2a:hover,
.active_shadow_expand_glassyBlanchedAlmond2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 220, 167, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 220, 167, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 220, 167, .63);
}

.shadow_expand_glassyBlanchedAlmond2s,
.hover_shadow_expand_glassyBlanchedAlmond2s:hover,
.active_shadow_expand_glassyBlanchedAlmond2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 220, 167, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 220, 167, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 220, 167, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyBlanchedAlmond2,
.hover_shadow_left_glassyBlanchedAlmond2:hover,
.active_shadow_left_glassyBlanchedAlmond2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 207, 136, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 207, 136, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 207, 136, .39);
}

.shadow_left_glassyBlanchedAlmond2h,
.hover_shadow_left_glassyBlanchedAlmond2h:hover,
.active_shadow_left_glassyBlanchedAlmond2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 239, 214, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 239, 214, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 239, 214, .50);
}

.shadow_left_glassyBlanchedAlmond2a,
.hover_shadow_left_glassyBlanchedAlmond2a:hover,
.active_shadow_left_glassyBlanchedAlmond2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 220, 167, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 220, 167, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 220, 167, .63);
}

.shadow_left_glassyBlanchedAlmond2s,
.hover_shadow_left_glassyBlanchedAlmond2s:hover,
.active_shadow_left_glassyBlanchedAlmond2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 220, 167, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 220, 167, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 220, 167, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyBlanchedAlmond2,
.hover_shadow_right_glassyBlanchedAlmond2:hover,
.active_shadow_right_glassyBlanchedAlmond2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 207, 136, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 207, 136, .39);
    box-shadow: 0.5em 0em 1em rgba(255, 207, 136, .39);
}

.shadow_right_glassyBlanchedAlmond2h,
.hover_shadow_right_glassyBlanchedAlmond2h:hover,
.active_shadow_right_glassyBlanchedAlmond2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 239, 214, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 239, 214, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 239, 214, .50);
}

.shadow_right_glassyBlanchedAlmond2a,
.hover_shadow_right_glassyBlanchedAlmond2a:hover,
.active_shadow_right_glassyBlanchedAlmond2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 220, 167, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 220, 167, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 220, 167, .63);
}

.shadow_right_glassyBlanchedAlmond2s,
.hover_shadow_right_glassyBlanchedAlmond2s:hover,
.active_shadow_right_glassyBlanchedAlmond2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 220, 167, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 220, 167, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 220, 167, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyBlanchedAlmond2,
.hover_shadow_top_glassyBlanchedAlmond2:hover,
.active_shadow_top_glassyBlanchedAlmond2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 207, 136, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 207, 136, .39);
    box-shadow: 0em -0.5em 1em rgba(255, 207, 136, .39);
}

.shadow_top_glassyBlanchedAlmond2h,
.hover_shadow_top_glassyBlanchedAlmond2h:hover,
.active_shadow_top_glassyBlanchedAlmond2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 239, 214, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 239, 214, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 239, 214, .50);
}

.shadow_top_glassyBlanchedAlmond2a,
.hover_shadow_top_glassyBlanchedAlmond2a:hover,
.active_shadow_top_glassyBlanchedAlmond2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 220, 167, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 220, 167, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 220, 167, .63);
}

.shadow_top_glassyBlanchedAlmond2s,
.hover_shadow_top_glassyBlanchedAlmond2s:hover,
.active_shadow_top_glassyBlanchedAlmond2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 220, 167, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 220, 167, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 220, 167, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyBlanchedAlmond2,
.hover_shadow_bottom_glassyBlanchedAlmond2:hover,
.active_shadow_bottom_glassyBlanchedAlmond2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 207, 136, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 207, 136, .39);
    box-shadow: 0em 0.5em 1em rgba(255, 207, 136, .39);
}

.shadow_bottom_glassyBlanchedAlmond2h,
.hover_shadow_bottom_glassyBlanchedAlmond2h:hover,
.active_shadow_bottom_glassyBlanchedAlmond2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 239, 214, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 239, 214, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 239, 214, .50);
}

.shadow_bottom_glassyBlanchedAlmond2a,
.hover_shadow_bottom_glassyBlanchedAlmond2a:hover,
.active_shadow_bottom_glassyBlanchedAlmond2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 220, 167, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 220, 167, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 220, 167, .63);
}

.shadow_bottom_glassyBlanchedAlmond2s,
.hover_shadow_bottom_glassyBlanchedAlmond2s:hover,
.active_shadow_bottom_glassyBlanchedAlmond2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 220, 167, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 220, 167, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 220, 167, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyBlanchedAlmond2,
.hover_shadow_top_left_glassyBlanchedAlmond2:hover,
.active_shadow_top_left_glassyBlanchedAlmond2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 207, 136, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 207, 136, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 207, 136, .39);
}

.shadow_top_left_glassyBlanchedAlmond2h,
.hover_shadow_top_left_glassyBlanchedAlmond2h:hover,
.active_shadow_top_left_glassyBlanchedAlmond2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 239, 214, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 239, 214, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 239, 214, .50);
}

.shadow_top_left_glassyBlanchedAlmond2a,
.hover_shadow_top_left_glassyBlanchedAlmond2a:hover,
.active_shadow_top_left_glassyBlanchedAlmond2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 220, 167, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 220, 167, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 220, 167, .63);
}

.shadow_top_left_glassyBlanchedAlmond2s,
.hover_shadow_top_left_glassyBlanchedAlmond2s:hover,
.active_shadow_top_left_glassyBlanchedAlmond2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 220, 167, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 220, 167, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 220, 167, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyBlanchedAlmond2,
.hover_shadow_top_right_glassyBlanchedAlmond2:hover,
.active_shadow_top_right_glassyBlanchedAlmond2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 207, 136, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 207, 136, .39);
    box-shadow: 0.5em -0.5em 1em rgba(255, 207, 136, .39);
}

.shadow_top_right_glassyBlanchedAlmond2h,
.hover_shadow_top_right_glassyBlanchedAlmond2h:hover,
.active_shadow_top_right_glassyBlanchedAlmond2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 239, 214, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 239, 214, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 239, 214, .50);
}

.shadow_top_right_glassyBlanchedAlmond2a,
.hover_shadow_top_right_glassyBlanchedAlmond2a:hover,
.active_shadow_top_right_glassyBlanchedAlmond2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 220, 167, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 220, 167, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 220, 167, .63);
}

.shadow_top_right_glassyBlanchedAlmond2s,
.hover_shadow_top_right_glassyBlanchedAlmond2s:hover,
.active_shadow_top_right_glassyBlanchedAlmond2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 220, 167, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 220, 167, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 220, 167, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyBlanchedAlmond2,
.hover_shadow_bottom_left_glassyBlanchedAlmond2:hover,
.active_shadow_bottom_left_glassyBlanchedAlmond2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 207, 136, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 207, 136, .39);
    box-shadow: -0.5em 0.5em 1em rgba(255, 207, 136, .39);
}

.shadow_bottom_left_glassyBlanchedAlmond2h,
.hover_shadow_bottom_left_glassyBlanchedAlmond2h:hover,
.active_shadow_bottom_left_glassyBlanchedAlmond2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 239, 214, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 239, 214, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 239, 214, .50);
}

.shadow_bottom_left_glassyBlanchedAlmond2a,
.hover_shadow_bottom_left_glassyBlanchedAlmond2a:hover,
.active_shadow_bottom_left_glassyBlanchedAlmond2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 220, 167, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 220, 167, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 220, 167, .63);
}

.shadow_bottom_left_glassyBlanchedAlmond2s,
.hover_shadow_bottom_left_glassyBlanchedAlmond2s:hover,
.active_shadow_bottom_left_glassyBlanchedAlmond2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 220, 167, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 220, 167, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 220, 167, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyBlanchedAlmond2,
.hover_shadow_bottom_right_glassyBlanchedAlmond2:hover,
.active_shadow_bottom_right_glassyBlanchedAlmond2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 207, 136, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 207, 136, .39);
    box-shadow: 0.5em 0.5em 1em rgba(255, 207, 136, .39);
}

.shadow_bottom_right_glassyBlanchedAlmond2h,
.hover_shadow_bottom_right_glassyBlanchedAlmond2h:hover,
.active_shadow_bottom_right_glassyBlanchedAlmond2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 239, 214, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 239, 214, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 239, 214, .50);
}

.shadow_bottom_right_glassyBlanchedAlmond2a,
 .hover_shadow_bottom_right_glassyBlanchedAlmond2a:hover,
 .active_shadow_bottom_right_glassyBlanchedAlmond2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 220, 167, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 220, 167, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 220, 167, .63);
 }

 .shadow_bottom_right_glassyBlanchedAlmond2s,
 .hover_shadow_bottom_right_glassyBlanchedAlmond2s:hover,
 .active_shadow_bottom_right_glassyBlanchedAlmond2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 220, 167, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 220, 167, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 220, 167, .78);
 }