.background_greenYellow5,
.hover_background_greenYellow5:hover,
.active_background_greenYellow5:active:hover {
    background: #4c7e00;
    background-image: -moz-linear-gradient(top,  rgb(95, 158, 0) 0%, rgb(76, 126, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(95, 158, 0)), color-stop(100%, rgb(76, 126, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(95, 158, 0) 0%, rgb(76, 126, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(95, 158, 0) 0%, rgb(76, 126, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(95, 158, 0) 0%, rgb(76, 126, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(95, 158, 0) 0%, rgb(76, 126, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f9e00', endColorstr='#4c7e00',GradientType=0 );
}

.background_greenYellow5h,
.hover_background_greenYellow5h:hover,
.active_background_greenYellow5h:active:hover {
    background: #4c7e00;
    background-image: -moz-linear-gradient(top,  rgb(115, 189, 0) 0%, rgb(92, 151, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(115, 189, 0)), color-stop(100%, rgb(92, 151, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(115, 189, 0) 0%, rgb(92, 151, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(115, 189, 0) 0%, rgb(92, 151, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(115, 189, 0) 0%, rgb(92, 151, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(115, 189, 0) 0%, rgb(92, 151, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73bd00', endColorstr='#5c9700',GradientType=0 );
}

.background_greenYellow5a,
.hover_background_greenYellow5a:hover,
.active_background_greenYellow5a:active:hover {
    background: #4c7e00;
    background-image: -moz-linear-gradient(top,  rgb(92, 151, 0) 0%, rgb(115, 189, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(92, 151, 0)), color-stop(100%, rgb(115, 189, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(92, 151, 0) 0%, rgb(115, 189, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(92, 151, 0) 0%, rgb(115, 189, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(92, 151, 0) 0%, rgb(115, 189, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(92, 151, 0) 0%, rgb(115, 189, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c9700', endColorstr='#73bd00',GradientType=0 );
}

.background_greenYellow5s,
.hover_background_greenYellow5s:hover,
.active_background_greenYellow5s:active:hover {
    background: #4c7e00;
    background-image: -moz-linear-gradient(top,  rgb(143, 236, 0) 0%, rgb(115, 189, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(143, 236, 0)), color-stop(100%, rgb(115, 189, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(143, 236, 0) 0%, rgb(115, 189, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(143, 236, 0) 0%, rgb(115, 189, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(143, 236, 0) 0%, rgb(115, 189, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(143, 236, 0) 0%, rgb(115, 189, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fec00', endColorstr='#73bd00',GradientType=0 );
}

.background_color_greenYellow5,
.hover_background_color_greenYellow5:hover,
.active_background_color_greenYellow5:active:hover {
    background-color:#4c7e00;
}

.background_first_color_greenYellow5,
.hover_background_first_color_greenYellow5:hover,
.active_background_first_color_greenYellow5:active:hover {
    background-color:#5f9e00;
}

.background_last_color_greenYellow5,
.hover_background_last_color_greenYellow5:hover,
.active_background_color_last_greenYellow5:active:hover {
   background-color:#4c7e00;
}

/* ------------------------------ color settings -------------------------------*/
.color_greenYellow5,
.hover_color_greenYellow5:hover,
.active_color_greenYellow5:active:hover {
    color: #c8c8c8;
}

.color_greenYellow5h,
.hover_color_greenYellow5h:hover,
.active_color_greenYellow5h:active:hover {
    color: #c8c8c8;
}

.color_greenYellow5a,
.hover_color_greenYellow5a:hover,
.active_color_greenYellow5a:active:hover {
    color: #ff0;
}

.color_greenYellow5s,
.hover_color_greenYellow5s:hover,
.active_color_greenYellow5s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_greenYellow5,
.hover_border_greenYellow5:hover,
.active_border_greenYellow5:active:hover {
    border-color: #4c7e00 #4c7e00 #4c7e00 #4c7e00;
}

.border_greenYellow5h,
.hover_border_greenYellow5h:hover,
.active_border_greenYellow5h:active:hover {
    border-color: #457200 #457200 #457200 #457200;
}

.border_greenYellow5a,
.hover_border_greenYellow5a:hover,
.active_border_greenYellow5a:active:hover {
    border-color: #3d6500 #3d6500 #3d6500 #3d6500;
}

.border_greenYellow5s,
.hover_border_greenYellow5s:hover,
.active_border_greenYellow5s:active:hover {
    border-color: #73bd00 #73bd00 #73bd00 #73bd00;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_greenYellow5,
.hover_shadow_expand_greenYellow5:hover,
.active_shadow_expand_greenYellow5:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(76, 126, 0, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(76, 126, 0, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(76, 126, 0, .39);
}

.shadow_expand_greenYellow5h,
.hover_shadow_expand_greenYellow5h:hover,
.active_shadow_expand_greenYellow5h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(92, 151, 0, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(92, 151, 0, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(92, 151, 0, .50);
}

.shadow_expand_greenYellow5a,
.hover_shadow_expand_greenYellow5a:hover,
.active_shadow_expand_greenYellow5a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(115, 189, 0, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(115, 189, 0, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(115, 189, 0, .63);
}

.shadow_expand_greenYellow5s,
.hover_shadow_expand_greenYellow5s:hover,
.active_shadow_expand_greenYellow5s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(115, 189, 0, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(115, 189, 0, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(115, 189, 0, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_greenYellow5,
.hover_shadow_left_greenYellow5:hover,
.active_shadow_left_greenYellow5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(76, 126, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(76, 126, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(76, 126, 0, .39);
}

.shadow_left_greenYellow5h,
.hover_shadow_left_greenYellow5h:hover,
.active_shadow_left_greenYellow5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(92, 151, 0, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(92, 151, 0, .50);
    box-shadow: -0.5em -0.5em 1em rgba(92, 151, 0, .50);
}

.shadow_left_greenYellow5a,
.hover_shadow_left_greenYellow5a:hover,
.active_shadow_left_greenYellow5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(115, 189, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(115, 189, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(115, 189, 0, .63);
}

.shadow_left_greenYellow5s,
.hover_shadow_left_greenYellow5s:hover,
.active_shadow_left_greenYellow5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(115, 189, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(115, 189, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(115, 189, 0, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_greenYellow5,
.hover_shadow_right_greenYellow5:hover,
.active_shadow_right_greenYellow5:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(76, 126, 0, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(76, 126, 0, .39);
    box-shadow: 0.5em 0em 1em rgba(76, 126, 0, .39);
}

.shadow_right_greenYellow5h,
.hover_shadow_right_greenYellow5h:hover,
.active_shadow_right_greenYellow5h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(92, 151, 0, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(92, 151, 0, .50);
    box-shadow: 0.5em 0em 1em rgba(92, 151, 0, .50);
}

.shadow_right_greenYellow5a,
.hover_shadow_right_greenYellow5a:hover,
.active_shadow_right_greenYellow5a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(115, 189, 0, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(115, 189, 0, .63);
    box-shadow: 0.5em 0em 1em rgba(115, 189, 0, .63);
}

.shadow_right_greenYellow5s,
.hover_shadow_right_greenYellow5s:hover,
.active_shadow_right_greenYellow5s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(115, 189, 0, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(115, 189, 0, .78);
    box-shadow: 0.5em 0em 1em rgba(115, 189, 0, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_greenYellow5,
.hover_shadow_top_greenYellow5:hover,
.active_shadow_top_greenYellow5:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(76, 126, 0, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(76, 126, 0, .39);
    box-shadow: 0em -0.5em 1em rgba(76, 126, 0, .39);
}

.shadow_top_greenYellow5h,
.hover_shadow_top_greenYellow5h:hover,
.active_shadow_top_greenYellow5h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(92, 151, 0, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(92, 151, 0, .50);
    box-shadow: 0em -0.5em 1em rgba(92, 151, 0, .50);
}

.shadow_top_greenYellow5a,
.hover_shadow_top_greenYellow5a:hover,
.active_shadow_top_greenYellow5a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(115, 189, 0, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(115, 189, 0, .63);
    box-shadow: 0em -0.5em 1em rgba(115, 189, 0, .63);
}

.shadow_top_greenYellow5s,
.hover_shadow_top_greenYellow5s:hover,
.active_shadow_top_greenYellow5s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(115, 189, 0, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(115, 189, 0, .78);
    box-shadow: 0em -0.5em 1em rgba(115, 189, 0, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_greenYellow5,
.hover_shadow_bottom_greenYellow5:hover,
.active_shadow_bottom_greenYellow5:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(76, 126, 0, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(76, 126, 0, .39);
    box-shadow: 0em 0.5em 1em rgba(76, 126, 0, .39);
}

.shadow_bottom_greenYellow5h,
.hover_shadow_bottom_greenYellow5h:hover,
.active_shadow_bottom_greenYellow5h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(92, 151, 0, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(92, 151, 0, .50);
    box-shadow: 0em 0.5em 1em rgba(92, 151, 0, .50);
}

.shadow_bottom_greenYellow5a,
.hover_shadow_bottom_greenYellow5a:hover,
.active_shadow_bottom_greenYellow5a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(115, 189, 0, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(115, 189, 0, .63);
    box-shadow: 0em 0.5em 1em rgba(115, 189, 0, .63);
}

.shadow_bottom_greenYellow5s,
.hover_shadow_bottom_greenYellow5s:hover,
.active_shadow_bottom_greenYellow5s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(115, 189, 0, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(115, 189, 0, .78);
    box-shadow: 0em 0.5em 1em rgba(115, 189, 0, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_greenYellow5,
.hover_shadow_top_left_greenYellow5:hover,
.active_shadow_top_left_greenYellow5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(76, 126, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(76, 126, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(76, 126, 0, .39);
}

.shadow_top_left_greenYellow5h,
.hover_shadow_top_left_greenYellow5h:hover,
.active_shadow_top_left_greenYellow5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(92, 151, 0, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(92, 151, 0, .50);
    box-shadow: -0.5em -0.5em 1em rgba(92, 151, 0, .50);
}

.shadow_top_left_greenYellow5a,
.hover_shadow_top_left_greenYellow5a:hover,
.active_shadow_top_left_greenYellow5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(115, 189, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(115, 189, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(115, 189, 0, .63);
}

.shadow_top_left_greenYellow5s,
.hover_shadow_top_left_greenYellow5s:hover,
.active_shadow_top_left_greenYellow5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(115, 189, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(115, 189, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(115, 189, 0, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_greenYellow5,
.hover_shadow_top_right_greenYellow5:hover,
.active_shadow_top_right_greenYellow5:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(76, 126, 0, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(76, 126, 0, .39);
    box-shadow: 0.5em -0.5em 1em rgba(76, 126, 0, .39);
}

.shadow_top_right_greenYellow5h,
.hover_shadow_top_right_greenYellow5h:hover,
.active_shadow_top_right_greenYellow5h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(92, 151, 0, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(92, 151, 0, .50);
    box-shadow: 0.5em -0.5em 1em rgba(92, 151, 0, .50);
}

.shadow_top_right_greenYellow5a,
.hover_shadow_top_right_greenYellow5a:hover,
.active_shadow_top_right_greenYellow5a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(115, 189, 0, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(115, 189, 0, .63);
    box-shadow: 0.5em -0.5em 1em rgba(115, 189, 0, .63);
}

.shadow_top_right_greenYellow5s,
.hover_shadow_top_right_greenYellow5s:hover,
.active_shadow_top_right_greenYellow5s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(115, 189, 0, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(115, 189, 0, .78);
    box-shadow: 0.5em -0.5em 1em rgba(115, 189, 0, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_greenYellow5,
.hover_shadow_bottom_left_greenYellow5:hover,
.active_shadow_bottom_left_greenYellow5:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(76, 126, 0, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(76, 126, 0, .39);
    box-shadow: -0.5em 0.5em 1em rgba(76, 126, 0, .39);
}

.shadow_bottom_left_greenYellow5h,
.hover_shadow_bottom_left_greenYellow5h:hover,
.active_shadow_bottom_left_greenYellow5h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(92, 151, 0, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(92, 151, 0, .50);
    box-shadow: -0.5em 0.5em 1em rgba(92, 151, 0, .50);
}

.shadow_bottom_left_greenYellow5a,
.hover_shadow_bottom_left_greenYellow5a:hover,
.active_shadow_bottom_left_greenYellow5a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(115, 189, 0, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(115, 189, 0, .63);
    box-shadow: -0.5em 0.5em 1em rgba(115, 189, 0, .63);
}

.shadow_bottom_left_greenYellow5s,
.hover_shadow_bottom_left_greenYellow5s:hover,
.active_shadow_bottom_left_greenYellow5s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(115, 189, 0, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(115, 189, 0, .78);
    box-shadow: -0.5em 0.5em 1em rgba(115, 189, 0, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_greenYellow5,
.hover_shadow_bottom_right_greenYellow5:hover,
.active_shadow_bottom_right_greenYellow5:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(76, 126, 0, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(76, 126, 0, .39);
    box-shadow: 0.5em 0.5em 1em rgba(76, 126, 0, .39);
}

.shadow_bottom_right_greenYellow5h,
.hover_shadow_bottom_right_greenYellow5h:hover,
.active_shadow_bottom_right_greenYellow5h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(92, 151, 0, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(92, 151, 0, .50);
    box-shadow: 0.5em 0.5em 1em rgba(92, 151, 0, .50);
}

.shadow_bottom_right_greenYellow5a,
 .hover_shadow_bottom_right_greenYellow5a:hover,
 .active_shadow_bottom_right_greenYellow5a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(115, 189, 0, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(115, 189, 0, .63);
     box-shadow: 0.5em 0.5em 1em rgba(115, 189, 0, .63);
 }

 .shadow_bottom_right_greenYellow5s,
 .hover_shadow_bottom_right_greenYellow5s:hover,
 .active_shadow_bottom_right_greenYellow5s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(115, 189, 0, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(115, 189, 0, .78);
     box-shadow: 0.5em 0.5em 1em rgba(115, 189, 0, .78);
 }