.aquaViolet8,
.hover_aquaViolet8:hover,
.active_aquaViolet8:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(116, 17, 127, .39),
           inset 0 -0.5em 0.9em 0 #b411e6,
           inset 0 -0.5em 0em 0.65em rgb(86, 0, 94),
           inset 0 0em 0.5em 2em rgb(153, 60, 162);
    -moz-box-shadow: 0 0.63em 0.75em rgba(116, 17, 127, .39),
           inset 0 -0.5em 0.9em 0 #b411e6,
           inset 0 -0.5em 0em 0.65em rgb(86, 0, 94),
           inset 0 0em 0.5em 2em rgb(153, 60, 162);
    box-shadow: 0 0.63em 0.75em rgba(116, 17, 127, .39),
           inset 0 -0.5em 0.9em 0 #b411e6,
           inset 0 -0.5em 0em 0.65em rgb(86, 0, 94),
           inset 0 0em 0.5em 2em rgb(153, 60, 162);
}

.aquaViolet8h,
.hover_aquaViolet8h:hover,
.active_aquaViolet8h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(137, 20, 150, .55),
           inset 0 -0.5em 0.9em 0 #c63af0,
           inset 0 -0.5em 0em 0.65em #a80eb6,
           inset 0 0em 0.5em 2em #d449e0;
    -moz-box-shadow:0 0.63em 1em rgba(137, 20, 150, .55),
           inset 0 -0.5em 0.9em 0 #c63af0,
           inset 0 -0.5em 0em 0.65em #a80eb6,
           inset 0 0em 0.5em 2em #d449e0;
    box-shadow:0 0.63em 1em rgba(137, 20, 150, .55),
           inset 0 -0.5em 0.9em 0 #c63af0,
           inset 0 -0.5em 0em 0.65em #a80eb6,
           inset 0 0em 0.5em 2em #d449e0;
}

.aquaViolet8a,
.hover_aquaViolet8a:hover,
.active_aquaViolet8a:active {
    /*background: #7e117e;*/

    -webkit-box-shadow:0 0.63em 1em rgba(81, 4, 90, .55),
           inset 0 -0.5em 0.9em 0 #c811ff,
           inset 0 -0.5em 0em 0.65em #80008c,
           inset 0 0em 0.5em 2em #be0fce;
    -moz-box-shadow:0 0.63em 1em rgba(81, 4, 90, .55),
           inset 0 -0.5em 0.9em 0 #c811ff,
           inset 0 -0.5em 0em 0.65em #80008c,
           inset 0 0em 0.5em 2em #be0fce;
    box-shadow:0 0.63em 1em rgba(81, 4, 90, .55),
           inset 0 -0.5em 0.9em 0 #c811ff,
           inset 0 -0.5em 0em 0.65em #80008c,
           inset 0 0em 0.5em 2em #be0fce;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaViolet8,
.hover_color_aquaViolet8:hover,
.active_color_aquaViolet8:active {
    color: #c8c8c8;
}

.color_aquaViolet8h,
.hover_color_aquaViolet8h:hover,
.active_color_aquaViolet8h:active {
    color: #c8c8c8;
}

.color_aquaViolet8a,
.hover_color_aquaViolet8a:hover,
.active_color_aquaViolet8a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaViolet8,
.hover_border_aquaViolet8:hover,
.active_border_aquaViolet8:active {
    border-color: #540b54 #540b54 #540b54 #540b54;
}

.border_aquaViolet8h,
.hover_border_aquaViolet8h:hover,
.active_border_aquaViolet8h:active {
    border-color: #540b54 #540b54 #540b54 #540b54;
}

.border_aquaViolet8a,
.hover_border_aquaViolet8a:hover,
.active_border_aquaViolet8a:active  {
    border-color: #540b54 #540b54 #540b54 #540b54;
}

