.aquaIndianRed7,
.hover_aquaIndianRed7:hover,
.active_aquaIndianRed7:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(154, 47, 58, .39),
           inset 0 -0.5em 0.9em 0 #d95675,
           inset 0 -0.5em 0em 0.65em rgb(137, 13, 23),
           inset 0 0em 0.5em 2em rgb(166, 112, 116);
    -moz-box-shadow: 0 0.63em 0.75em rgba(154, 47, 58, .39),
           inset 0 -0.5em 0.9em 0 #d95675,
           inset 0 -0.5em 0em 0.65em rgb(137, 13, 23),
           inset 0 0em 0.5em 2em rgb(166, 112, 116);
    box-shadow: 0 0.63em 0.75em rgba(154, 47, 58, .39),
           inset 0 -0.5em 0.9em 0 #d95675,
           inset 0 -0.5em 0em 0.65em rgb(137, 13, 23),
           inset 0 0em 0.5em 2em rgb(166, 112, 116);
}

.aquaIndianRed7h,
.hover_aquaIndianRed7h:hover,
.active_aquaIndianRed7h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(173, 53, 65, .55),
           inset 0 -0.5em 0.9em 0 #e28097,
           inset 0 -0.5em 0em 0.65em #cd2f3c,
           inset 0 0em 0.5em 2em #d68c92;
    -moz-box-shadow:0 0.63em 1em rgba(173, 53, 65, .55),
           inset 0 -0.5em 0.9em 0 #e28097,
           inset 0 -0.5em 0em 0.65em #cd2f3c,
           inset 0 0em 0.5em 2em #d68c92;
    box-shadow:0 0.63em 1em rgba(173, 53, 65, .55),
           inset 0 -0.5em 0.9em 0 #e28097,
           inset 0 -0.5em 0em 0.65em #cd2f3c,
           inset 0 0em 0.5em 2em #d68c92;
}

.aquaIndianRed7a,
.hover_aquaIndianRed7a:hover,
.active_aquaIndianRed7a:active {
    /*background: #a13131;*/

    -webkit-box-shadow:0 0.63em 1em rgba(126, 24, 34, .55),
           inset 0 -0.5em 0.9em 0 #eb5d7e,
           inset 0 -0.5em 0em 0.65em #ae1622,
           inset 0 0em 0.5em 2em #d4414e;
    -moz-box-shadow:0 0.63em 1em rgba(126, 24, 34, .55),
           inset 0 -0.5em 0.9em 0 #eb5d7e,
           inset 0 -0.5em 0em 0.65em #ae1622,
           inset 0 0em 0.5em 2em #d4414e;
    box-shadow:0 0.63em 1em rgba(126, 24, 34, .55),
           inset 0 -0.5em 0.9em 0 #eb5d7e,
           inset 0 -0.5em 0em 0.65em #ae1622,
           inset 0 0em 0.5em 2em #d4414e;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaIndianRed7,
.hover_color_aquaIndianRed7:hover,
.active_color_aquaIndianRed7:active {
    color: #c8c8c8;
}

.color_aquaIndianRed7h,
.hover_color_aquaIndianRed7h:hover,
.active_color_aquaIndianRed7h:active {
    color: #c8c8c8;
}

.color_aquaIndianRed7a,
.hover_color_aquaIndianRed7a:hover,
.active_color_aquaIndianRed7a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaIndianRed7,
.hover_border_aquaIndianRed7:hover,
.active_border_aquaIndianRed7:active {
    border-color: #6b2121 #6b2121 #6b2121 #6b2121;
}

.border_aquaIndianRed7h,
.hover_border_aquaIndianRed7h:hover,
.active_border_aquaIndianRed7h:active {
    border-color: #6b2121 #6b2121 #6b2121 #6b2121;
}

.border_aquaIndianRed7a,
.hover_border_aquaIndianRed7a:hover,
.active_border_aquaIndianRed7a:active  {
    border-color: #6b2121 #6b2121 #6b2121 #6b2121;
}

