.aquaIndianRed6,
.hover_aquaIndianRed6:hover,
.active_aquaIndianRed6:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(194, 60, 73, .39),
           inset 0 -0.5em 0.9em 0 #e28198,
           inset 0 -0.5em 0em 0.65em rgb(186, 17, 31),
           inset 0 0em 0.5em 2em rgb(186, 144, 148);
    -moz-box-shadow: 0 0.63em 0.75em rgba(194, 60, 73, .39),
           inset 0 -0.5em 0.9em 0 #e28198,
           inset 0 -0.5em 0em 0.65em rgb(186, 17, 31),
           inset 0 0em 0.5em 2em rgb(186, 144, 148);
    box-shadow: 0 0.63em 0.75em rgba(194, 60, 73, .39),
           inset 0 -0.5em 0.9em 0 #e28198,
           inset 0 -0.5em 0em 0.65em rgb(186, 17, 31),
           inset 0 0em 0.5em 2em rgb(186, 144, 148);
}

.aquaIndianRed6h,
.hover_aquaIndianRed6h:hover,
.active_aquaIndianRed6h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(201, 78, 91, .55),
           inset 0 -0.5em 0.9em 0 #ecabba,
           inset 0 -0.5em 0em 0.65em #d95862,
           inset 0 0em 0.5em 2em #e4b3b7;
    -moz-box-shadow:0 0.63em 1em rgba(201, 78, 91, .55),
           inset 0 -0.5em 0.9em 0 #ecabba,
           inset 0 -0.5em 0em 0.65em #d95862,
           inset 0 0em 0.5em 2em #e4b3b7;
    box-shadow:0 0.63em 1em rgba(201, 78, 91, .55),
           inset 0 -0.5em 0.9em 0 #ecabba,
           inset 0 -0.5em 0em 0.65em #d95862,
           inset 0 0em 0.5em 2em #e4b3b7;
}

.aquaIndianRed6a,
.hover_aquaIndianRed6a:hover,
.active_aquaIndianRed6a:active {
    /*background: #c84a4a;*/

    -webkit-box-shadow:0 0.63em 1em rgba(170, 32, 46, .55),
           inset 0 -0.5em 0.9em 0 #f18ca4,
           inset 0 -0.5em 0em 0.65em #dd1b2b,
           inset 0 0em 0.5em 2em #de6c76;
    -moz-box-shadow:0 0.63em 1em rgba(170, 32, 46, .55),
           inset 0 -0.5em 0.9em 0 #f18ca4,
           inset 0 -0.5em 0em 0.65em #dd1b2b,
           inset 0 0em 0.5em 2em #de6c76;
    box-shadow:0 0.63em 1em rgba(170, 32, 46, .55),
           inset 0 -0.5em 0.9em 0 #f18ca4,
           inset 0 -0.5em 0em 0.65em #dd1b2b,
           inset 0 0em 0.5em 2em #de6c76;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaIndianRed6,
.hover_color_aquaIndianRed6:hover,
.active_color_aquaIndianRed6:active {
    color: #c8c8c8;
}

.color_aquaIndianRed6h,
.hover_color_aquaIndianRed6h:hover,
.active_color_aquaIndianRed6h:active {
    color: #c8c8c8;
}

.color_aquaIndianRed6a,
.hover_color_aquaIndianRed6a:hover,
.active_color_aquaIndianRed6a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaIndianRed6,
.hover_border_aquaIndianRed6:hover,
.active_border_aquaIndianRed6:active {
    border-color: #8c2b2b #8c2b2b #8c2b2b #8c2b2b;
}

.border_aquaIndianRed6h,
.hover_border_aquaIndianRed6h:hover,
.active_border_aquaIndianRed6h:active {
    border-color: #8c2b2b #8c2b2b #8c2b2b #8c2b2b;
}

.border_aquaIndianRed6a,
.hover_border_aquaIndianRed6a:hover,
.active_border_aquaIndianRed6a:active  {
    border-color: #8c2b2b #8c2b2b #8c2b2b #8c2b2b;
}

