.aquaSaddleBrown1,
.hover_aquaSaddleBrown1:hover,
.active_aquaSaddleBrown1:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(245, 201, 180, .39),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em rgb(255, 164, 119),
           inset 0 0em 0.5em 2em rgb(253, 250, 249);
    -moz-box-shadow: 0 0.63em 0.75em rgba(245, 201, 180, .39),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em rgb(255, 164, 119),
           inset 0 0em 0.5em 2em rgb(253, 250, 249);
    box-shadow: 0 0.63em 0.75em rgba(245, 201, 180, .39),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em rgb(255, 164, 119),
           inset 0 0em 0.5em 2em rgb(253, 250, 249);
}

.aquaSaddleBrown1h,
.hover_aquaSaddleBrown1h:hover,
.active_aquaSaddleBrown1h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(248, 217, 202, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #fde9df,
           inset 0 0em 0.5em 2em #ffffff;
    -moz-box-shadow:0 0.63em 1em rgba(248, 217, 202, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #fde9df,
           inset 0 0em 0.5em 2em #ffffff;
    box-shadow:0 0.63em 1em rgba(248, 217, 202, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #fde9df,
           inset 0 0em 0.5em 2em #ffffff;
}

.aquaSaddleBrown1a,
.hover_aquaSaddleBrown1a:hover,
.active_aquaSaddleBrown1a:active {
    /*background: #e89457;*/

    -webkit-box-shadow:0 0.63em 1em rgba(249, 164, 125, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #ffc3a5,
           inset 0 0em 0.5em 2em #fef9f7;
    -moz-box-shadow:0 0.63em 1em rgba(249, 164, 125, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #ffc3a5,
           inset 0 0em 0.5em 2em #fef9f7;
    box-shadow:0 0.63em 1em rgba(249, 164, 125, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #ffc3a5,
           inset 0 0em 0.5em 2em #fef9f7;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaSaddleBrown1,
.hover_color_aquaSaddleBrown1:hover,
.active_color_aquaSaddleBrown1:active {
    color: #282828;
}

.color_aquaSaddleBrown1h,
.hover_color_aquaSaddleBrown1h:hover,
.active_color_aquaSaddleBrown1h:active {
    color: #282828;
}

.color_aquaSaddleBrown1a,
.hover_color_aquaSaddleBrown1a:hover,
.active_color_aquaSaddleBrown1a:active {
    color: #282828;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaSaddleBrown1,
.hover_border_aquaSaddleBrown1:hover,
.active_border_aquaSaddleBrown1:active {
    border-color: #e89457 #e89457 #e89457 #e89457;
}

.border_aquaSaddleBrown1h,
.hover_border_aquaSaddleBrown1h:hover,
.active_border_aquaSaddleBrown1h:active {
    border-color: #e89457 #e89457 #e89457 #e89457;
}

.border_aquaSaddleBrown1a,
.hover_border_aquaSaddleBrown1a:hover,
.active_border_aquaSaddleBrown1a:active  {
    border-color: #e89457 #e89457 #e89457 #e89457;
}

