.background_glossyCyan6,
.hover_background_glossyCyan6:hover,
.active_background_glossyCyan6:active:hover {
    background: #007171;
    background-image: -moz-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .30)), color-stop(50%, rgba(255, 255, 255, .00)), color-stop(51%, rgba(0, 0, 0, .10)), color-stop(100%, rgba(0, 0, 0, .04)));
    background-image: -webkit-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -o-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: linear-gradient(to bottom,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
}

.background_glossyCyan6h,
.hover_background_glossyCyan6h:hover,
.active_background_glossyCyan6h:active:hover {
    background: #007171;
    background-image: -moz-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .30)), color-stop(50%, rgba(255, 255, 255, .00)), color-stop(51%, rgba(0, 0, 0, .10)), color-stop(100%, rgba(0, 0, 0, .04)));
    background-image: -webkit-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -o-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: linear-gradient(to bottom,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
}

.background_glossyCyan6a,
.hover_background_glossyCyan6a:hover,
.active_background_glossyCyan6a:active:hover {
    background: #007171;
    background-image: -moz-linear-gradient(top,  rgba(0, 0, 0, .04) 0%, rgba(0, 0, 0, .10) 50%, rgba(255, 255, 255, .00) 51%, rgba(255, 255, 255, .30) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .04)), color-stop(50%, rgba(0, 0, 0, .10)), color-stop(51%, rgba(255, 255, 255, .00)), color-stop(100%, rgba(255, 255, 255, .30)));
    background-image: -webkit-linear-gradient(top,  rgba(0, 0, 0, .04) 0%, rgba(0, 0, 0, .10) 50%, rgba(255, 255, 255, .00) 51%, rgba(255, 255, 255, .30) 100%);
    background-image: -o-linear-gradient(top,  rgba(0, 0, 0, .04) 0%, rgba(0, 0, 0, .10) 50%, rgba(255, 255, 255, .00) 51%, rgba(255, 255, 255, .30) 100%);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, .04) 0%, rgba(0, 0, 0, .10) 50%, rgba(255, 255, 255, .00) 51%, rgba(255, 255, 255, .30) 100%);
    background-image: linear-gradient(to bottom,  rgba(0, 0, 0, .04) 0%, rgba(0, 0, 0, .10) 50%, rgba(255, 255, 255, .00) 51%, rgba(255, 255, 255, .30) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 );
}

.background_glossyCyan6s,
.hover_background_glossyCyan6s:hover,
.active_background_glossyCyan6s:active:hover {
    background: #007171;
    background-image: -moz-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, .30)), color-stop(50%, rgba(255, 255, 255, .00)), color-stop(51%, rgba(0, 0, 0, .10)), color-stop(100%, rgba(0, 0, 0, .04)));
    background-image: -webkit-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -o-linear-gradient(top,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    background-image: linear-gradient(to bottom,  rgba(255, 255, 255, .30) 0%, rgba(255, 255, 255, .00) 50%, rgba(0, 0, 0, .10) 51%, rgba(0, 0, 0, .04) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
}

.background_color_glossyCyan6,
.hover_background_color_glossyCyan6:hover,
.active_background_color_glossyCyan6:active:hover {
    background-color:#007171;
}

.background_first_color_glossyCyan6,
.hover_background_first_color_glossyCyan6:hover,
.active_background_first_color_glossyCyan6:active:hover {
    background-color:#ffffff;
}

.background_last_color_glossyCyan6,
.hover_background_last_color_glossyCyan6:hover,
.active_background_color_last_glossyCyan6:active:hover {
   background-color:#000000;
}

/* ------------------------------ color settings -------------------------------*/
.color_glossyCyan6,
.hover_color_glossyCyan6:hover,
.active_color_glossyCyan6:active:hover {
    color: #c8c8c8;
}

.color_glossyCyan6h,
.hover_color_glossyCyan6h:hover,
.active_color_glossyCyan6h:active:hover {
    color: #c8c8c8;
}

.color_glossyCyan6a,
.hover_color_glossyCyan6a:hover,
.active_color_glossyCyan6a:active:hover {
    color: #c8c8c8;
}

.color_glossyCyan6s,
.hover_color_glossyCyan6s:hover,
.active_color_glossyCyan6s:active:hover {
    color: #c8c8c8;
}

/* -------------------------- border color settings -----------------------------*/
.border_glossyCyan6,
.hover_border_glossyCyan6:hover,
.active_border_glossyCyan6:active:hover {
    border-color: #005b5b #005b5b #005b5b #005b5b;
}

.border_glossyCyan6h,
.hover_border_glossyCyan6h:hover,
.active_border_glossyCyan6h:active:hover {
    border-color: #004a4a #004a4a #004a4a #004a4a;
}

.border_glossyCyan6a,
.hover_border_glossyCyan6a:hover,
.active_border_glossyCyan6a:active:hover {
    border-color: #003939 #003939 #003939 #003939;
}

.border_glossyCyan6s,
.hover_border_glossyCyan6s:hover,
.active_border_glossyCyan6s:active:hover {
    border-color: #005b5b #005b5b #005b5b #005b5b;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glossyCyan6,
.hover_shadow_expand_glossyCyan6:hover,
.active_shadow_expand_glossyCyan6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 113, 113, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 113, 113, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 113, 113, .39);
}

.shadow_expand_glossyCyan6h,
.hover_shadow_expand_glossyCyan6h:hover,
.active_shadow_expand_glossyCyan6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 136, 136, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 136, 136, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 136, 136, .50);
}

.shadow_expand_glossyCyan6a,
.hover_shadow_expand_glossyCyan6a:hover,
.active_shadow_expand_glossyCyan6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 102, 102, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 102, 102, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 102, 102, .63);
}

.shadow_expand_glossyCyan6s,
.hover_shadow_expand_glossyCyan6s:hover,
.active_shadow_expand_glossyCyan6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 102, 102, .71);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 102, 102, .71);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 102, 102, .71);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glossyCyan6,
.hover_shadow_left_glossyCyan6:hover,
.active_shadow_left_glossyCyan6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 113, 113, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 113, 113, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 113, 113, .39);
}

.shadow_left_glossyCyan6h,
.hover_shadow_left_glossyCyan6h:hover,
.active_shadow_left_glossyCyan6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 136, 136, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 136, 136, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 136, 136, .50);
}

.shadow_left_glossyCyan6a,
.hover_shadow_left_glossyCyan6a:hover,
.active_shadow_left_glossyCyan6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 102, 102, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 102, 102, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 102, 102, .63);
}

.shadow_left_glossyCyan6s,
.hover_shadow_left_glossyCyan6s:hover,
.active_shadow_left_glossyCyan6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 102, 102, .71);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 102, 102, .71);
    box-shadow: -0.5em -0.5em 1em rgba(0, 102, 102, .71);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glossyCyan6,
.hover_shadow_right_glossyCyan6:hover,
.active_shadow_right_glossyCyan6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 113, 113, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 113, 113, .39);
    box-shadow: 0.5em 0em 1em rgba(0, 113, 113, .39);
}

.shadow_right_glossyCyan6h,
.hover_shadow_right_glossyCyan6h:hover,
.active_shadow_right_glossyCyan6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 136, 136, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 136, 136, .50);
    box-shadow: 0.5em 0em 1em rgba(0, 136, 136, .50);
}

.shadow_right_glossyCyan6a,
.hover_shadow_right_glossyCyan6a:hover,
.active_shadow_right_glossyCyan6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 102, 102, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 102, 102, .63);
    box-shadow: 0.5em 0em 1em rgba(0, 102, 102, .63);
}

.shadow_right_glossyCyan6s,
.hover_shadow_right_glossyCyan6s:hover,
.active_shadow_right_glossyCyan6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 102, 102, .71);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 102, 102, .71);
    box-shadow: 0.5em 0em 1em rgba(0, 102, 102, .71);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glossyCyan6,
.hover_shadow_top_glossyCyan6:hover,
.active_shadow_top_glossyCyan6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 113, 113, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 113, 113, .39);
    box-shadow: 0em -0.5em 1em rgba(0, 113, 113, .39);
}

.shadow_top_glossyCyan6h,
.hover_shadow_top_glossyCyan6h:hover,
.active_shadow_top_glossyCyan6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 136, 136, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 136, 136, .50);
    box-shadow: 0em -0.5em 1em rgba(0, 136, 136, .50);
}

.shadow_top_glossyCyan6a,
.hover_shadow_top_glossyCyan6a:hover,
.active_shadow_top_glossyCyan6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 102, 102, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 102, 102, .63);
    box-shadow: 0em -0.5em 1em rgba(0, 102, 102, .63);
}

.shadow_top_glossyCyan6s,
.hover_shadow_top_glossyCyan6s:hover,
.active_shadow_top_glossyCyan6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 102, 102, .71);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 102, 102, .71);
    box-shadow: 0em -0.5em 1em rgba(0, 102, 102, .71);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glossyCyan6,
.hover_shadow_bottom_glossyCyan6:hover,
.active_shadow_bottom_glossyCyan6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 113, 113, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 113, 113, .39);
    box-shadow: 0em 0.5em 1em rgba(0, 113, 113, .39);
}

.shadow_bottom_glossyCyan6h,
.hover_shadow_bottom_glossyCyan6h:hover,
.active_shadow_bottom_glossyCyan6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 136, 136, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 136, 136, .50);
    box-shadow: 0em 0.5em 1em rgba(0, 136, 136, .50);
}

.shadow_bottom_glossyCyan6a,
.hover_shadow_bottom_glossyCyan6a:hover,
.active_shadow_bottom_glossyCyan6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 102, 102, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 102, 102, .63);
    box-shadow: 0em 0.5em 1em rgba(0, 102, 102, .63);
}

.shadow_bottom_glossyCyan6s,
.hover_shadow_bottom_glossyCyan6s:hover,
.active_shadow_bottom_glossyCyan6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 102, 102, .71);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 102, 102, .71);
    box-shadow: 0em 0.5em 1em rgba(0, 102, 102, .71);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glossyCyan6,
.hover_shadow_top_left_glossyCyan6:hover,
.active_shadow_top_left_glossyCyan6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 113, 113, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 113, 113, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 113, 113, .39);
}

.shadow_top_left_glossyCyan6h,
.hover_shadow_top_left_glossyCyan6h:hover,
.active_shadow_top_left_glossyCyan6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 136, 136, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 136, 136, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 136, 136, .50);
}

.shadow_top_left_glossyCyan6a,
.hover_shadow_top_left_glossyCyan6a:hover,
.active_shadow_top_left_glossyCyan6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 102, 102, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 102, 102, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 102, 102, .63);
}

.shadow_top_left_glossyCyan6s,
.hover_shadow_top_left_glossyCyan6s:hover,
.active_shadow_top_left_glossyCyan6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 102, 102, .71);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 102, 102, .71);
    box-shadow: -0.5em -0.5em 1em rgba(0, 102, 102, .71);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glossyCyan6,
.hover_shadow_top_right_glossyCyan6:hover,
.active_shadow_top_right_glossyCyan6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 113, 113, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 113, 113, .39);
    box-shadow: 0.5em -0.5em 1em rgba(0, 113, 113, .39);
}

.shadow_top_right_glossyCyan6h,
.hover_shadow_top_right_glossyCyan6h:hover,
.active_shadow_top_right_glossyCyan6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 136, 136, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 136, 136, .50);
    box-shadow: 0.5em -0.5em 1em rgba(0, 136, 136, .50);
}

.shadow_top_right_glossyCyan6a,
.hover_shadow_top_right_glossyCyan6a:hover,
.active_shadow_top_right_glossyCyan6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 102, 102, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 102, 102, .63);
    box-shadow: 0.5em -0.5em 1em rgba(0, 102, 102, .63);
}

.shadow_top_right_glossyCyan6s,
.hover_shadow_top_right_glossyCyan6s:hover,
.active_shadow_top_right_glossyCyan6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 102, 102, .71);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 102, 102, .71);
    box-shadow: 0.5em -0.5em 1em rgba(0, 102, 102, .71);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glossyCyan6,
.hover_shadow_bottom_left_glossyCyan6:hover,
.active_shadow_bottom_left_glossyCyan6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 113, 113, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 113, 113, .39);
    box-shadow: -0.5em 0.5em 1em rgba(0, 113, 113, .39);
}

.shadow_bottom_left_glossyCyan6h,
.hover_shadow_bottom_left_glossyCyan6h:hover,
.active_shadow_bottom_left_glossyCyan6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 136, 136, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 136, 136, .50);
    box-shadow: -0.5em 0.5em 1em rgba(0, 136, 136, .50);
}

.shadow_bottom_left_glossyCyan6a,
.hover_shadow_bottom_left_glossyCyan6a:hover,
.active_shadow_bottom_left_glossyCyan6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 102, 102, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 102, 102, .63);
    box-shadow: -0.5em 0.5em 1em rgba(0, 102, 102, .63);
}

.shadow_bottom_left_glossyCyan6s,
.hover_shadow_bottom_left_glossyCyan6s:hover,
.active_shadow_bottom_left_glossyCyan6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 102, 102, .71);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 102, 102, .71);
    box-shadow: -0.5em 0.5em 1em rgba(0, 102, 102, .71);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glossyCyan6,
.hover_shadow_bottom_right_glossyCyan6:hover,
.active_shadow_bottom_right_glossyCyan6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 113, 113, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 113, 113, .39);
    box-shadow: 0.5em 0.5em 1em rgba(0, 113, 113, .39);
}

.shadow_bottom_right_glossyCyan6h,
.hover_shadow_bottom_right_glossyCyan6h:hover,
.active_shadow_bottom_right_glossyCyan6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 136, 136, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 136, 136, .50);
    box-shadow: 0.5em 0.5em 1em rgba(0, 136, 136, .50);
}

.shadow_bottom_right_glossyCyan6a,
 .hover_shadow_bottom_right_glossyCyan6a:hover,
 .active_shadow_bottom_right_glossyCyan6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 102, 102, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 102, 102, .63);
     box-shadow: 0.5em 0.5em 1em rgba(0, 102, 102, .63);
 }

 .shadow_bottom_right_glossyCyan6s,
 .hover_shadow_bottom_right_glossyCyan6s:hover,
 .active_shadow_bottom_right_glossyCyan6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 102, 102, .71);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 102, 102, .71);
     box-shadow: 0.5em 0.5em 1em rgba(0, 102, 102, .71);
 }