.background_glassyNavajoWhite2,
.hover_background_glassyNavajoWhite2:hover,
.active_background_glassyNavajoWhite2:active:hover {
    background: #ffc46d;
    background-image: -moz-linear-gradient(top,  rgb(255, 182, 72) 0%, rgb(255, 167, 36) 50%, rgb(255, 152, 0) 55%, rgb(255, 196, 109) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 182, 72)), color-stop(50%, rgb(255, 167, 36)), color-stop(55%, rgb(255, 152, 0)), color-stop(100%, rgb(255, 196, 109)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 182, 72) 0%, rgb(255, 167, 36) 50%, rgb(255, 152, 0) 55%, rgb(255, 196, 109) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 182, 72) 0%, rgb(255, 167, 36) 50%, rgb(255, 152, 0) 55%, rgb(255, 196, 109) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 182, 72) 0%, rgb(255, 167, 36) 50%, rgb(255, 152, 0) 55%, rgb(255, 196, 109) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 182, 72) 0%, rgb(255, 167, 36) 50%, rgb(255, 152, 0) 55%, rgb(255, 196, 109) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb648', endColorstr='#ffc46d',GradientType=0 );
}

.background_glassyNavajoWhite2h,
.hover_background_glassyNavajoWhite2h:hover,
.active_background_glassyNavajoWhite2h:active:hover {
    background: #ffc46d;
    background-image: -moz-linear-gradient(top,  rgb(255, 208, 138) 0%, rgb(255, 190, 94) 50%, rgb(255, 173, 51) 55%, rgb(255, 225, 182) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 208, 138)), color-stop(50%, rgb(255, 190, 94)), color-stop(55%, rgb(255, 173, 51)), color-stop(100%, rgb(255, 225, 182)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 208, 138) 0%, rgb(255, 190, 94) 50%, rgb(255, 173, 51) 55%, rgb(255, 225, 182) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 208, 138) 0%, rgb(255, 190, 94) 50%, rgb(255, 173, 51) 55%, rgb(255, 225, 182) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 208, 138) 0%, rgb(255, 190, 94) 50%, rgb(255, 173, 51) 55%, rgb(255, 225, 182) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 208, 138) 0%, rgb(255, 190, 94) 50%, rgb(255, 173, 51) 55%, rgb(255, 225, 182) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd08a', endColorstr='#ffe1b6',GradientType=0 );
}

.background_glassyNavajoWhite2a,
.hover_background_glassyNavajoWhite2a:hover,
.active_background_glassyNavajoWhite2a:active:hover {
    background: #ffc46d;
    background-image: -moz-linear-gradient(top,  rgb(255, 225, 182) 0%, rgb(255, 173, 51) 50%, rgb(255, 190, 94) 55%, rgb(255, 208, 138) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 225, 182)), color-stop(50%, rgb(255, 173, 51)), color-stop(55%, rgb(255, 190, 94)), color-stop(100%, rgb(255, 208, 138)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 225, 182) 0%, rgb(255, 173, 51) 50%, rgb(255, 190, 94) 55%, rgb(255, 208, 138) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 225, 182) 0%, rgb(255, 173, 51) 50%, rgb(255, 190, 94) 55%, rgb(255, 208, 138) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 225, 182) 0%, rgb(255, 173, 51) 50%, rgb(255, 190, 94) 55%, rgb(255, 208, 138) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 225, 182) 0%, rgb(255, 173, 51) 50%, rgb(255, 190, 94) 55%, rgb(255, 208, 138) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe1b6', endColorstr='#ffd08a',GradientType=0 );
}

.background_glassyNavajoWhite2s,
.hover_background_glassyNavajoWhite2s:hover,
.active_background_glassyNavajoWhite2s:active:hover {
    background: #ffc46d;
    background-image: -moz-linear-gradient(top,  rgb(255, 247, 236) 0%, rgb(255, 225, 182) 50%, rgb(255, 203, 127) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 247, 236)), color-stop(50%, rgb(255, 225, 182)), color-stop(55%, rgb(255, 203, 127)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 247, 236) 0%, rgb(255, 225, 182) 50%, rgb(255, 203, 127) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 247, 236) 0%, rgb(255, 225, 182) 50%, rgb(255, 203, 127) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 247, 236) 0%, rgb(255, 225, 182) 50%, rgb(255, 203, 127) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 247, 236) 0%, rgb(255, 225, 182) 50%, rgb(255, 203, 127) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7ec', endColorstr='#ffffff',GradientType=0 );
}

.background_color_glassyNavajoWhite2,
.hover_background_color_glassyNavajoWhite2:hover,
.active_background_color_glassyNavajoWhite2:active:hover {
    background-color:#ffc46d;
}

.background_first_color_glassyNavajoWhite2,
.hover_background_first_color_glassyNavajoWhite2:hover,
.active_background_first_color_glassyNavajoWhite2:active:hover {
    background-color:#ffb648;
}

.background_last_color_glassyNavajoWhite2,
.hover_background_last_color_glassyNavajoWhite2:hover,
.active_background_color_last_glassyNavajoWhite2:active:hover {
   background-color:#ffc46d;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyNavajoWhite2,
.hover_color_glassyNavajoWhite2:hover,
.active_color_glassyNavajoWhite2:active:hover {
    color: #282828;
}

.color_glassyNavajoWhite2h,
.hover_color_glassyNavajoWhite2h:hover,
.active_color_glassyNavajoWhite2h:active:hover {
    color: #282828;
}

.color_glassyNavajoWhite2a,
.hover_color_glassyNavajoWhite2a:hover,
.active_color_glassyNavajoWhite2a:active:hover {
    color: #ff0;
}

.color_glassyNavajoWhite2s,
.hover_color_glassyNavajoWhite2s:hover,
.active_color_glassyNavajoWhite2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyNavajoWhite2,
.hover_border_glassyNavajoWhite2:hover,
.active_border_glassyNavajoWhite2:active:hover {
    border-color: #ff9b07 #da8200 #da8200 #ff9b07;
}

.border_glassyNavajoWhite2h,
.hover_border_glassyNavajoWhite2h:hover,
.active_border_glassyNavajoWhite2h:active:hover {
    border-color: #ff9b07 #da8200 #da8200 #ff9b07;
}

.border_glassyNavajoWhite2a,
.hover_border_glassyNavajoWhite2a:hover,
.active_border_glassyNavajoWhite2a:active:hover {
    border-color: #cc7a00 #cc7a00 #cc7a00 #cc7a00;
}

.border_glassyNavajoWhite2s,
.hover_border_glassyNavajoWhite2s:hover,
.active_border_glassyNavajoWhite2s:active:hover {
    border-color: #cc7a00 #cc7a00 #cc7a00 #cc7a00;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyNavajoWhite2,
.hover_shadow_expand_glassyNavajoWhite2:hover,
.active_shadow_expand_glassyNavajoWhite2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 196, 109, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 196, 109, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 196, 109, .39);
}

.shadow_expand_glassyNavajoWhite2h,
.hover_shadow_expand_glassyNavajoWhite2h:hover,
.active_shadow_expand_glassyNavajoWhite2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 225, 182, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 225, 182, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 225, 182, .50);
}

.shadow_expand_glassyNavajoWhite2a,
.hover_shadow_expand_glassyNavajoWhite2a:hover,
.active_shadow_expand_glassyNavajoWhite2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 208, 138, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 208, 138, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 208, 138, .63);
}

.shadow_expand_glassyNavajoWhite2s,
.hover_shadow_expand_glassyNavajoWhite2s:hover,
.active_shadow_expand_glassyNavajoWhite2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 208, 138, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 208, 138, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 208, 138, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyNavajoWhite2,
.hover_shadow_left_glassyNavajoWhite2:hover,
.active_shadow_left_glassyNavajoWhite2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 196, 109, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 196, 109, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 196, 109, .39);
}

.shadow_left_glassyNavajoWhite2h,
.hover_shadow_left_glassyNavajoWhite2h:hover,
.active_shadow_left_glassyNavajoWhite2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .50);
}

.shadow_left_glassyNavajoWhite2a,
.hover_shadow_left_glassyNavajoWhite2a:hover,
.active_shadow_left_glassyNavajoWhite2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 208, 138, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 208, 138, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 208, 138, .63);
}

.shadow_left_glassyNavajoWhite2s,
.hover_shadow_left_glassyNavajoWhite2s:hover,
.active_shadow_left_glassyNavajoWhite2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 208, 138, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 208, 138, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 208, 138, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyNavajoWhite2,
.hover_shadow_right_glassyNavajoWhite2:hover,
.active_shadow_right_glassyNavajoWhite2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 196, 109, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 196, 109, .39);
    box-shadow: 0.5em 0em 1em rgba(255, 196, 109, .39);
}

.shadow_right_glassyNavajoWhite2h,
.hover_shadow_right_glassyNavajoWhite2h:hover,
.active_shadow_right_glassyNavajoWhite2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 225, 182, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 225, 182, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 225, 182, .50);
}

.shadow_right_glassyNavajoWhite2a,
.hover_shadow_right_glassyNavajoWhite2a:hover,
.active_shadow_right_glassyNavajoWhite2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 208, 138, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 208, 138, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 208, 138, .63);
}

.shadow_right_glassyNavajoWhite2s,
.hover_shadow_right_glassyNavajoWhite2s:hover,
.active_shadow_right_glassyNavajoWhite2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 208, 138, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 208, 138, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 208, 138, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyNavajoWhite2,
.hover_shadow_top_glassyNavajoWhite2:hover,
.active_shadow_top_glassyNavajoWhite2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 196, 109, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 196, 109, .39);
    box-shadow: 0em -0.5em 1em rgba(255, 196, 109, .39);
}

.shadow_top_glassyNavajoWhite2h,
.hover_shadow_top_glassyNavajoWhite2h:hover,
.active_shadow_top_glassyNavajoWhite2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 225, 182, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 225, 182, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 225, 182, .50);
}

.shadow_top_glassyNavajoWhite2a,
.hover_shadow_top_glassyNavajoWhite2a:hover,
.active_shadow_top_glassyNavajoWhite2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 208, 138, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 208, 138, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 208, 138, .63);
}

.shadow_top_glassyNavajoWhite2s,
.hover_shadow_top_glassyNavajoWhite2s:hover,
.active_shadow_top_glassyNavajoWhite2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 208, 138, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 208, 138, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 208, 138, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyNavajoWhite2,
.hover_shadow_bottom_glassyNavajoWhite2:hover,
.active_shadow_bottom_glassyNavajoWhite2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 196, 109, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 196, 109, .39);
    box-shadow: 0em 0.5em 1em rgba(255, 196, 109, .39);
}

.shadow_bottom_glassyNavajoWhite2h,
.hover_shadow_bottom_glassyNavajoWhite2h:hover,
.active_shadow_bottom_glassyNavajoWhite2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 225, 182, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 225, 182, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 225, 182, .50);
}

.shadow_bottom_glassyNavajoWhite2a,
.hover_shadow_bottom_glassyNavajoWhite2a:hover,
.active_shadow_bottom_glassyNavajoWhite2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 208, 138, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 208, 138, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 208, 138, .63);
}

.shadow_bottom_glassyNavajoWhite2s,
.hover_shadow_bottom_glassyNavajoWhite2s:hover,
.active_shadow_bottom_glassyNavajoWhite2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 208, 138, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 208, 138, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 208, 138, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyNavajoWhite2,
.hover_shadow_top_left_glassyNavajoWhite2:hover,
.active_shadow_top_left_glassyNavajoWhite2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 196, 109, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 196, 109, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 196, 109, .39);
}

.shadow_top_left_glassyNavajoWhite2h,
.hover_shadow_top_left_glassyNavajoWhite2h:hover,
.active_shadow_top_left_glassyNavajoWhite2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .50);
}

.shadow_top_left_glassyNavajoWhite2a,
.hover_shadow_top_left_glassyNavajoWhite2a:hover,
.active_shadow_top_left_glassyNavajoWhite2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 208, 138, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 208, 138, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 208, 138, .63);
}

.shadow_top_left_glassyNavajoWhite2s,
.hover_shadow_top_left_glassyNavajoWhite2s:hover,
.active_shadow_top_left_glassyNavajoWhite2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 208, 138, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 208, 138, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 208, 138, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyNavajoWhite2,
.hover_shadow_top_right_glassyNavajoWhite2:hover,
.active_shadow_top_right_glassyNavajoWhite2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 196, 109, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 196, 109, .39);
    box-shadow: 0.5em -0.5em 1em rgba(255, 196, 109, .39);
}

.shadow_top_right_glassyNavajoWhite2h,
.hover_shadow_top_right_glassyNavajoWhite2h:hover,
.active_shadow_top_right_glassyNavajoWhite2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 225, 182, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 225, 182, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 225, 182, .50);
}

.shadow_top_right_glassyNavajoWhite2a,
.hover_shadow_top_right_glassyNavajoWhite2a:hover,
.active_shadow_top_right_glassyNavajoWhite2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 208, 138, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 208, 138, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 208, 138, .63);
}

.shadow_top_right_glassyNavajoWhite2s,
.hover_shadow_top_right_glassyNavajoWhite2s:hover,
.active_shadow_top_right_glassyNavajoWhite2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 208, 138, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 208, 138, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 208, 138, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyNavajoWhite2,
.hover_shadow_bottom_left_glassyNavajoWhite2:hover,
.active_shadow_bottom_left_glassyNavajoWhite2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 196, 109, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 196, 109, .39);
    box-shadow: -0.5em 0.5em 1em rgba(255, 196, 109, .39);
}

.shadow_bottom_left_glassyNavajoWhite2h,
.hover_shadow_bottom_left_glassyNavajoWhite2h:hover,
.active_shadow_bottom_left_glassyNavajoWhite2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 225, 182, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 225, 182, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 225, 182, .50);
}

.shadow_bottom_left_glassyNavajoWhite2a,
.hover_shadow_bottom_left_glassyNavajoWhite2a:hover,
.active_shadow_bottom_left_glassyNavajoWhite2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 208, 138, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 208, 138, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 208, 138, .63);
}

.shadow_bottom_left_glassyNavajoWhite2s,
.hover_shadow_bottom_left_glassyNavajoWhite2s:hover,
.active_shadow_bottom_left_glassyNavajoWhite2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 208, 138, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 208, 138, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 208, 138, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyNavajoWhite2,
.hover_shadow_bottom_right_glassyNavajoWhite2:hover,
.active_shadow_bottom_right_glassyNavajoWhite2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 196, 109, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 196, 109, .39);
    box-shadow: 0.5em 0.5em 1em rgba(255, 196, 109, .39);
}

.shadow_bottom_right_glassyNavajoWhite2h,
.hover_shadow_bottom_right_glassyNavajoWhite2h:hover,
.active_shadow_bottom_right_glassyNavajoWhite2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 225, 182, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 225, 182, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 225, 182, .50);
}

.shadow_bottom_right_glassyNavajoWhite2a,
 .hover_shadow_bottom_right_glassyNavajoWhite2a:hover,
 .active_shadow_bottom_right_glassyNavajoWhite2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 208, 138, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 208, 138, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 208, 138, .63);
 }

 .shadow_bottom_right_glassyNavajoWhite2s,
 .hover_shadow_bottom_right_glassyNavajoWhite2s:hover,
 .active_shadow_bottom_right_glassyNavajoWhite2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 208, 138, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 208, 138, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 208, 138, .78);
 }