.background_glassyNavajoWhite8,
.hover_background_glassyNavajoWhite8:hover,
.active_background_glassyNavajoWhite8:active:hover {
    background: #935800;
    background-image: -moz-linear-gradient(top,  rgb(132, 79, 0) 0%, rgb(118, 70, 0) 50%, rgb(103, 62, 0) 55%, rgb(147, 88, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(132, 79, 0)), color-stop(50%, rgb(118, 70, 0)), color-stop(55%, rgb(103, 62, 0)), color-stop(100%, rgb(147, 88, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(132, 79, 0) 0%, rgb(118, 70, 0) 50%, rgb(103, 62, 0) 55%, rgb(147, 88, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(132, 79, 0) 0%, rgb(118, 70, 0) 50%, rgb(103, 62, 0) 55%, rgb(147, 88, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(132, 79, 0) 0%, rgb(118, 70, 0) 50%, rgb(103, 62, 0) 55%, rgb(147, 88, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(132, 79, 0) 0%, rgb(118, 70, 0) 50%, rgb(103, 62, 0) 55%, rgb(147, 88, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#844f00', endColorstr='#935800',GradientType=0 );
}

.background_glassyNavajoWhite8h,
.hover_background_glassyNavajoWhite8h:hover,
.active_background_glassyNavajoWhite8h:active:hover {
    background: #935800;
    background-image: -moz-linear-gradient(top,  rgb(159, 95, 0) 0%, rgb(141, 84, 0) 50%, rgb(124, 74, 0) 55%, rgb(176, 105, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(159, 95, 0)), color-stop(50%, rgb(141, 84, 0)), color-stop(55%, rgb(124, 74, 0)), color-stop(100%, rgb(176, 105, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(159, 95, 0) 0%, rgb(141, 84, 0) 50%, rgb(124, 74, 0) 55%, rgb(176, 105, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(159, 95, 0) 0%, rgb(141, 84, 0) 50%, rgb(124, 74, 0) 55%, rgb(176, 105, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(159, 95, 0) 0%, rgb(141, 84, 0) 50%, rgb(124, 74, 0) 55%, rgb(176, 105, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(159, 95, 0) 0%, rgb(141, 84, 0) 50%, rgb(124, 74, 0) 55%, rgb(176, 105, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f5f00', endColorstr='#b06900',GradientType=0 );
}

.background_glassyNavajoWhite8a,
.hover_background_glassyNavajoWhite8a:hover,
.active_background_glassyNavajoWhite8a:active:hover {
    background: #935800;
    background-image: -moz-linear-gradient(top,  rgb(176, 105, 0) 0%, rgb(124, 74, 0) 50%, rgb(141, 84, 0) 55%, rgb(159, 95, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(176, 105, 0)), color-stop(50%, rgb(124, 74, 0)), color-stop(55%, rgb(141, 84, 0)), color-stop(100%, rgb(159, 95, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(176, 105, 0) 0%, rgb(124, 74, 0) 50%, rgb(141, 84, 0) 55%, rgb(159, 95, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(176, 105, 0) 0%, rgb(124, 74, 0) 50%, rgb(141, 84, 0) 55%, rgb(159, 95, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(176, 105, 0) 0%, rgb(124, 74, 0) 50%, rgb(141, 84, 0) 55%, rgb(159, 95, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(176, 105, 0) 0%, rgb(124, 74, 0) 50%, rgb(141, 84, 0) 55%, rgb(159, 95, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b06900', endColorstr='#9f5f00',GradientType=0 );
}

.background_glassyNavajoWhite8s,
.hover_background_glassyNavajoWhite8s:hover,
.active_background_glassyNavajoWhite8s:active:hover {
    background: #935800;
    background-image: -moz-linear-gradient(top,  rgb(199, 119, 0) 0%, rgb(176, 105, 0) 50%, rgb(154, 92, 0) 55%, rgb(221, 132, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(199, 119, 0)), color-stop(50%, rgb(176, 105, 0)), color-stop(55%, rgb(154, 92, 0)), color-stop(100%, rgb(221, 132, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(199, 119, 0) 0%, rgb(176, 105, 0) 50%, rgb(154, 92, 0) 55%, rgb(221, 132, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(199, 119, 0) 0%, rgb(176, 105, 0) 50%, rgb(154, 92, 0) 55%, rgb(221, 132, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(199, 119, 0) 0%, rgb(176, 105, 0) 50%, rgb(154, 92, 0) 55%, rgb(221, 132, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(199, 119, 0) 0%, rgb(176, 105, 0) 50%, rgb(154, 92, 0) 55%, rgb(221, 132, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c77700', endColorstr='#dd8400',GradientType=0 );
}

.background_color_glassyNavajoWhite8,
.hover_background_color_glassyNavajoWhite8:hover,
.active_background_color_glassyNavajoWhite8:active:hover {
    background-color:#935800;
}

.background_first_color_glassyNavajoWhite8,
.hover_background_first_color_glassyNavajoWhite8:hover,
.active_background_first_color_glassyNavajoWhite8:active:hover {
    background-color:#844f00;
}

.background_last_color_glassyNavajoWhite8,
.hover_background_last_color_glassyNavajoWhite8:hover,
.active_background_color_last_glassyNavajoWhite8:active:hover {
   background-color:#935800;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyNavajoWhite8,
.hover_color_glassyNavajoWhite8:hover,
.active_color_glassyNavajoWhite8:active:hover {
    color: #c8c8c8;
}

.color_glassyNavajoWhite8h,
.hover_color_glassyNavajoWhite8h:hover,
.active_color_glassyNavajoWhite8h:active:hover {
    color: #c8c8c8;
}

.color_glassyNavajoWhite8a,
.hover_color_glassyNavajoWhite8a:hover,
.active_color_glassyNavajoWhite8a:active:hover {
    color: #ff0;
}

.color_glassyNavajoWhite8s,
.hover_color_glassyNavajoWhite8s:hover,
.active_color_glassyNavajoWhite8s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyNavajoWhite8,
.hover_border_glassyNavajoWhite8:hover,
.active_border_glassyNavajoWhite8:active:hover {
    border-color: #6a3f00 #583500 #583500 #6a3f00;
}

.border_glassyNavajoWhite8h,
.hover_border_glassyNavajoWhite8h:hover,
.active_border_glassyNavajoWhite8h:active:hover {
    border-color: #6a3f00 #583500 #583500 #6a3f00;
}

.border_glassyNavajoWhite8a,
.hover_border_glassyNavajoWhite8a:hover,
.active_border_glassyNavajoWhite8a:active:hover {
    border-color: #523100 #523100 #523100 #523100;
}

.border_glassyNavajoWhite8s,
.hover_border_glassyNavajoWhite8s:hover,
.active_border_glassyNavajoWhite8s:active:hover {
    border-color: #523100 #523100 #523100 #523100;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyNavajoWhite8,
.hover_shadow_expand_glassyNavajoWhite8:hover,
.active_shadow_expand_glassyNavajoWhite8:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(147, 88, 0, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(147, 88, 0, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(147, 88, 0, .39);
}

.shadow_expand_glassyNavajoWhite8h,
.hover_shadow_expand_glassyNavajoWhite8h:hover,
.active_shadow_expand_glassyNavajoWhite8h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(176, 105, 0, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(176, 105, 0, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(176, 105, 0, .50);
}

.shadow_expand_glassyNavajoWhite8a,
.hover_shadow_expand_glassyNavajoWhite8a:hover,
.active_shadow_expand_glassyNavajoWhite8a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(159, 95, 0, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(159, 95, 0, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(159, 95, 0, .63);
}

.shadow_expand_glassyNavajoWhite8s,
.hover_shadow_expand_glassyNavajoWhite8s:hover,
.active_shadow_expand_glassyNavajoWhite8s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(159, 95, 0, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(159, 95, 0, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(159, 95, 0, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyNavajoWhite8,
.hover_shadow_left_glassyNavajoWhite8:hover,
.active_shadow_left_glassyNavajoWhite8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(147, 88, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(147, 88, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(147, 88, 0, .39);
}

.shadow_left_glassyNavajoWhite8h,
.hover_shadow_left_glassyNavajoWhite8h:hover,
.active_shadow_left_glassyNavajoWhite8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(176, 105, 0, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(176, 105, 0, .50);
    box-shadow: -0.5em -0.5em 1em rgba(176, 105, 0, .50);
}

.shadow_left_glassyNavajoWhite8a,
.hover_shadow_left_glassyNavajoWhite8a:hover,
.active_shadow_left_glassyNavajoWhite8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(159, 95, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(159, 95, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(159, 95, 0, .63);
}

.shadow_left_glassyNavajoWhite8s,
.hover_shadow_left_glassyNavajoWhite8s:hover,
.active_shadow_left_glassyNavajoWhite8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(159, 95, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(159, 95, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(159, 95, 0, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyNavajoWhite8,
.hover_shadow_right_glassyNavajoWhite8:hover,
.active_shadow_right_glassyNavajoWhite8:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(147, 88, 0, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(147, 88, 0, .39);
    box-shadow: 0.5em 0em 1em rgba(147, 88, 0, .39);
}

.shadow_right_glassyNavajoWhite8h,
.hover_shadow_right_glassyNavajoWhite8h:hover,
.active_shadow_right_glassyNavajoWhite8h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(176, 105, 0, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(176, 105, 0, .50);
    box-shadow: 0.5em 0em 1em rgba(176, 105, 0, .50);
}

.shadow_right_glassyNavajoWhite8a,
.hover_shadow_right_glassyNavajoWhite8a:hover,
.active_shadow_right_glassyNavajoWhite8a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(159, 95, 0, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(159, 95, 0, .63);
    box-shadow: 0.5em 0em 1em rgba(159, 95, 0, .63);
}

.shadow_right_glassyNavajoWhite8s,
.hover_shadow_right_glassyNavajoWhite8s:hover,
.active_shadow_right_glassyNavajoWhite8s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(159, 95, 0, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(159, 95, 0, .78);
    box-shadow: 0.5em 0em 1em rgba(159, 95, 0, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyNavajoWhite8,
.hover_shadow_top_glassyNavajoWhite8:hover,
.active_shadow_top_glassyNavajoWhite8:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(147, 88, 0, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(147, 88, 0, .39);
    box-shadow: 0em -0.5em 1em rgba(147, 88, 0, .39);
}

.shadow_top_glassyNavajoWhite8h,
.hover_shadow_top_glassyNavajoWhite8h:hover,
.active_shadow_top_glassyNavajoWhite8h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(176, 105, 0, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(176, 105, 0, .50);
    box-shadow: 0em -0.5em 1em rgba(176, 105, 0, .50);
}

.shadow_top_glassyNavajoWhite8a,
.hover_shadow_top_glassyNavajoWhite8a:hover,
.active_shadow_top_glassyNavajoWhite8a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(159, 95, 0, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(159, 95, 0, .63);
    box-shadow: 0em -0.5em 1em rgba(159, 95, 0, .63);
}

.shadow_top_glassyNavajoWhite8s,
.hover_shadow_top_glassyNavajoWhite8s:hover,
.active_shadow_top_glassyNavajoWhite8s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(159, 95, 0, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(159, 95, 0, .78);
    box-shadow: 0em -0.5em 1em rgba(159, 95, 0, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyNavajoWhite8,
.hover_shadow_bottom_glassyNavajoWhite8:hover,
.active_shadow_bottom_glassyNavajoWhite8:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(147, 88, 0, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(147, 88, 0, .39);
    box-shadow: 0em 0.5em 1em rgba(147, 88, 0, .39);
}

.shadow_bottom_glassyNavajoWhite8h,
.hover_shadow_bottom_glassyNavajoWhite8h:hover,
.active_shadow_bottom_glassyNavajoWhite8h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(176, 105, 0, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(176, 105, 0, .50);
    box-shadow: 0em 0.5em 1em rgba(176, 105, 0, .50);
}

.shadow_bottom_glassyNavajoWhite8a,
.hover_shadow_bottom_glassyNavajoWhite8a:hover,
.active_shadow_bottom_glassyNavajoWhite8a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(159, 95, 0, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(159, 95, 0, .63);
    box-shadow: 0em 0.5em 1em rgba(159, 95, 0, .63);
}

.shadow_bottom_glassyNavajoWhite8s,
.hover_shadow_bottom_glassyNavajoWhite8s:hover,
.active_shadow_bottom_glassyNavajoWhite8s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(159, 95, 0, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(159, 95, 0, .78);
    box-shadow: 0em 0.5em 1em rgba(159, 95, 0, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyNavajoWhite8,
.hover_shadow_top_left_glassyNavajoWhite8:hover,
.active_shadow_top_left_glassyNavajoWhite8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(147, 88, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(147, 88, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(147, 88, 0, .39);
}

.shadow_top_left_glassyNavajoWhite8h,
.hover_shadow_top_left_glassyNavajoWhite8h:hover,
.active_shadow_top_left_glassyNavajoWhite8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(176, 105, 0, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(176, 105, 0, .50);
    box-shadow: -0.5em -0.5em 1em rgba(176, 105, 0, .50);
}

.shadow_top_left_glassyNavajoWhite8a,
.hover_shadow_top_left_glassyNavajoWhite8a:hover,
.active_shadow_top_left_glassyNavajoWhite8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(159, 95, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(159, 95, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(159, 95, 0, .63);
}

.shadow_top_left_glassyNavajoWhite8s,
.hover_shadow_top_left_glassyNavajoWhite8s:hover,
.active_shadow_top_left_glassyNavajoWhite8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(159, 95, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(159, 95, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(159, 95, 0, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyNavajoWhite8,
.hover_shadow_top_right_glassyNavajoWhite8:hover,
.active_shadow_top_right_glassyNavajoWhite8:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(147, 88, 0, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(147, 88, 0, .39);
    box-shadow: 0.5em -0.5em 1em rgba(147, 88, 0, .39);
}

.shadow_top_right_glassyNavajoWhite8h,
.hover_shadow_top_right_glassyNavajoWhite8h:hover,
.active_shadow_top_right_glassyNavajoWhite8h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(176, 105, 0, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(176, 105, 0, .50);
    box-shadow: 0.5em -0.5em 1em rgba(176, 105, 0, .50);
}

.shadow_top_right_glassyNavajoWhite8a,
.hover_shadow_top_right_glassyNavajoWhite8a:hover,
.active_shadow_top_right_glassyNavajoWhite8a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(159, 95, 0, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(159, 95, 0, .63);
    box-shadow: 0.5em -0.5em 1em rgba(159, 95, 0, .63);
}

.shadow_top_right_glassyNavajoWhite8s,
.hover_shadow_top_right_glassyNavajoWhite8s:hover,
.active_shadow_top_right_glassyNavajoWhite8s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(159, 95, 0, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(159, 95, 0, .78);
    box-shadow: 0.5em -0.5em 1em rgba(159, 95, 0, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyNavajoWhite8,
.hover_shadow_bottom_left_glassyNavajoWhite8:hover,
.active_shadow_bottom_left_glassyNavajoWhite8:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(147, 88, 0, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(147, 88, 0, .39);
    box-shadow: -0.5em 0.5em 1em rgba(147, 88, 0, .39);
}

.shadow_bottom_left_glassyNavajoWhite8h,
.hover_shadow_bottom_left_glassyNavajoWhite8h:hover,
.active_shadow_bottom_left_glassyNavajoWhite8h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(176, 105, 0, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(176, 105, 0, .50);
    box-shadow: -0.5em 0.5em 1em rgba(176, 105, 0, .50);
}

.shadow_bottom_left_glassyNavajoWhite8a,
.hover_shadow_bottom_left_glassyNavajoWhite8a:hover,
.active_shadow_bottom_left_glassyNavajoWhite8a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(159, 95, 0, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(159, 95, 0, .63);
    box-shadow: -0.5em 0.5em 1em rgba(159, 95, 0, .63);
}

.shadow_bottom_left_glassyNavajoWhite8s,
.hover_shadow_bottom_left_glassyNavajoWhite8s:hover,
.active_shadow_bottom_left_glassyNavajoWhite8s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(159, 95, 0, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(159, 95, 0, .78);
    box-shadow: -0.5em 0.5em 1em rgba(159, 95, 0, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyNavajoWhite8,
.hover_shadow_bottom_right_glassyNavajoWhite8:hover,
.active_shadow_bottom_right_glassyNavajoWhite8:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(147, 88, 0, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(147, 88, 0, .39);
    box-shadow: 0.5em 0.5em 1em rgba(147, 88, 0, .39);
}

.shadow_bottom_right_glassyNavajoWhite8h,
.hover_shadow_bottom_right_glassyNavajoWhite8h:hover,
.active_shadow_bottom_right_glassyNavajoWhite8h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(176, 105, 0, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(176, 105, 0, .50);
    box-shadow: 0.5em 0.5em 1em rgba(176, 105, 0, .50);
}

.shadow_bottom_right_glassyNavajoWhite8a,
 .hover_shadow_bottom_right_glassyNavajoWhite8a:hover,
 .active_shadow_bottom_right_glassyNavajoWhite8a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(159, 95, 0, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(159, 95, 0, .63);
     box-shadow: 0.5em 0.5em 1em rgba(159, 95, 0, .63);
 }

 .shadow_bottom_right_glassyNavajoWhite8s,
 .hover_shadow_bottom_right_glassyNavajoWhite8s:hover,
 .active_shadow_bottom_right_glassyNavajoWhite8s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(159, 95, 0, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(159, 95, 0, .78);
     box-shadow: 0.5em 0.5em 1em rgba(159, 95, 0, .78);
 }