.background_seaGreen1,
.hover_background_seaGreen1:hover,
.active_background_seaGreen1:active:hover {
    background: #5cc98c;
    background-image: -moz-linear-gradient(top,  rgb(147, 219, 179) 0%, rgb(92, 201, 140) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(147, 219, 179)), color-stop(100%, rgb(92, 201, 140)));
    background-image: -webkit-linear-gradient(top,  rgb(147, 219, 179) 0%, rgb(92, 201, 140) 100%);
    background-image: -o-linear-gradient(top,  rgb(147, 219, 179) 0%, rgb(92, 201, 140) 100%);
    background-image: -ms-linear-gradient(top, rgb(147, 219, 179) 0%, rgb(92, 201, 140) 100%);
    background-image: linear-gradient(to bottom,  rgb(147, 219, 179) 0%, rgb(92, 201, 140) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93dbb3', endColorstr='#5cc98c',GradientType=0 );
}

.background_seaGreen1h,
.hover_background_seaGreen1h:hover,
.active_background_seaGreen1h:active:hover {
    background: #5cc98c;
    background-image: -moz-linear-gradient(top,  rgb(202, 237, 218) 0%, rgb(136, 216, 171) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(202, 237, 218)), color-stop(100%, rgb(136, 216, 171)));
    background-image: -webkit-linear-gradient(top,  rgb(202, 237, 218) 0%, rgb(136, 216, 171) 100%);
    background-image: -o-linear-gradient(top,  rgb(202, 237, 218) 0%, rgb(136, 216, 171) 100%);
    background-image: -ms-linear-gradient(top, rgb(202, 237, 218) 0%, rgb(136, 216, 171) 100%);
    background-image: linear-gradient(to bottom,  rgb(202, 237, 218) 0%, rgb(136, 216, 171) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#caedda', endColorstr='#88d8ab',GradientType=0 );
}

.background_seaGreen1a,
.hover_background_seaGreen1a:hover,
.active_background_seaGreen1a:active:hover {
    background: #5cc98c;
    background-image: -moz-linear-gradient(top,  rgb(136, 216, 171) 0%, rgb(202, 237, 218) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(136, 216, 171)), color-stop(100%, rgb(202, 237, 218)));
    background-image: -webkit-linear-gradient(top,  rgb(136, 216, 171) 0%, rgb(202, 237, 218) 100%);
    background-image: -o-linear-gradient(top,  rgb(136, 216, 171) 0%, rgb(202, 237, 218) 100%);
    background-image: -ms-linear-gradient(top, rgb(136, 216, 171) 0%, rgb(202, 237, 218) 100%);
    background-image: linear-gradient(to bottom,  rgb(136, 216, 171) 0%, rgb(202, 237, 218) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88d8ab', endColorstr='#caedda',GradientType=0 );
}

.background_seaGreen1s,
.hover_background_seaGreen1s:hover,
.active_background_seaGreen1s:active:hover {
    background: #5cc98c;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(202, 237, 218) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(202, 237, 218)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(202, 237, 218) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(202, 237, 218) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(202, 237, 218) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(202, 237, 218) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#caedda',GradientType=0 );
}

.background_color_seaGreen1,
.hover_background_color_seaGreen1:hover,
.active_background_color_seaGreen1:active:hover {
    background-color:#5cc98c;
}

.background_first_color_seaGreen1,
.hover_background_first_color_seaGreen1:hover,
.active_background_first_color_seaGreen1:active:hover {
    background-color:#93dbb3;
}

.background_last_color_seaGreen1,
.hover_background_last_color_seaGreen1:hover,
.active_background_color_last_seaGreen1:active:hover {
   background-color:#5cc98c;
}

/* ------------------------------ color settings -------------------------------*/
.color_seaGreen1,
.hover_color_seaGreen1:hover,
.active_color_seaGreen1:active:hover {
    color: #282828;
}

.color_seaGreen1h,
.hover_color_seaGreen1h:hover,
.active_color_seaGreen1h:active:hover {
    color: #282828;
}

.color_seaGreen1a,
.hover_color_seaGreen1a:hover,
.active_color_seaGreen1a:active:hover {
    color: #ff0;
}

.color_seaGreen1s,
.hover_color_seaGreen1s:hover,
.active_color_seaGreen1s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_seaGreen1,
.hover_border_seaGreen1:hover,
.active_border_seaGreen1:active:hover {
    border-color: #5cc98c #5cc98c #5cc98c #5cc98c;
}

.border_seaGreen1h,
.hover_border_seaGreen1h:hover,
.active_border_seaGreen1h:active:hover {
    border-color: #46c27d #46c27d #46c27d #46c27d;
}

.border_seaGreen1a,
.hover_border_seaGreen1a:hover,
.active_border_seaGreen1a:active:hover {
    border-color: #3ab06e #3ab06e #3ab06e #3ab06e;
}

.border_seaGreen1s,
.hover_border_seaGreen1s:hover,
.active_border_seaGreen1s:active:hover {
    border-color: #caedda #caedda #caedda #caedda;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_seaGreen1,
.hover_shadow_expand_seaGreen1:hover,
.active_shadow_expand_seaGreen1:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(92, 201, 140, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(92, 201, 140, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(92, 201, 140, .39);
}

.shadow_expand_seaGreen1h,
.hover_shadow_expand_seaGreen1h:hover,
.active_shadow_expand_seaGreen1h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(136, 216, 171, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(136, 216, 171, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(136, 216, 171, .50);
}

.shadow_expand_seaGreen1a,
.hover_shadow_expand_seaGreen1a:hover,
.active_shadow_expand_seaGreen1a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(202, 237, 218, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(202, 237, 218, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(202, 237, 218, .63);
}

.shadow_expand_seaGreen1s,
.hover_shadow_expand_seaGreen1s:hover,
.active_shadow_expand_seaGreen1s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(202, 237, 218, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(202, 237, 218, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(202, 237, 218, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_seaGreen1,
.hover_shadow_left_seaGreen1:hover,
.active_shadow_left_seaGreen1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(92, 201, 140, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(92, 201, 140, .39);
    box-shadow: -0.5em -0.5em 1em rgba(92, 201, 140, .39);
}

.shadow_left_seaGreen1h,
.hover_shadow_left_seaGreen1h:hover,
.active_shadow_left_seaGreen1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(136, 216, 171, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(136, 216, 171, .50);
    box-shadow: -0.5em -0.5em 1em rgba(136, 216, 171, .50);
}

.shadow_left_seaGreen1a,
.hover_shadow_left_seaGreen1a:hover,
.active_shadow_left_seaGreen1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(202, 237, 218, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(202, 237, 218, .63);
    box-shadow: -0.5em -0.5em 1em rgba(202, 237, 218, .63);
}

.shadow_left_seaGreen1s,
.hover_shadow_left_seaGreen1s:hover,
.active_shadow_left_seaGreen1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(202, 237, 218, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(202, 237, 218, .78);
    box-shadow: -0.5em -0.5em 1em rgba(202, 237, 218, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_seaGreen1,
.hover_shadow_right_seaGreen1:hover,
.active_shadow_right_seaGreen1:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(92, 201, 140, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(92, 201, 140, .39);
    box-shadow: 0.5em 0em 1em rgba(92, 201, 140, .39);
}

.shadow_right_seaGreen1h,
.hover_shadow_right_seaGreen1h:hover,
.active_shadow_right_seaGreen1h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(136, 216, 171, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(136, 216, 171, .50);
    box-shadow: 0.5em 0em 1em rgba(136, 216, 171, .50);
}

.shadow_right_seaGreen1a,
.hover_shadow_right_seaGreen1a:hover,
.active_shadow_right_seaGreen1a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(202, 237, 218, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(202, 237, 218, .63);
    box-shadow: 0.5em 0em 1em rgba(202, 237, 218, .63);
}

.shadow_right_seaGreen1s,
.hover_shadow_right_seaGreen1s:hover,
.active_shadow_right_seaGreen1s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(202, 237, 218, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(202, 237, 218, .78);
    box-shadow: 0.5em 0em 1em rgba(202, 237, 218, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_seaGreen1,
.hover_shadow_top_seaGreen1:hover,
.active_shadow_top_seaGreen1:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(92, 201, 140, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(92, 201, 140, .39);
    box-shadow: 0em -0.5em 1em rgba(92, 201, 140, .39);
}

.shadow_top_seaGreen1h,
.hover_shadow_top_seaGreen1h:hover,
.active_shadow_top_seaGreen1h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(136, 216, 171, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(136, 216, 171, .50);
    box-shadow: 0em -0.5em 1em rgba(136, 216, 171, .50);
}

.shadow_top_seaGreen1a,
.hover_shadow_top_seaGreen1a:hover,
.active_shadow_top_seaGreen1a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(202, 237, 218, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(202, 237, 218, .63);
    box-shadow: 0em -0.5em 1em rgba(202, 237, 218, .63);
}

.shadow_top_seaGreen1s,
.hover_shadow_top_seaGreen1s:hover,
.active_shadow_top_seaGreen1s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(202, 237, 218, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(202, 237, 218, .78);
    box-shadow: 0em -0.5em 1em rgba(202, 237, 218, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_seaGreen1,
.hover_shadow_bottom_seaGreen1:hover,
.active_shadow_bottom_seaGreen1:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(92, 201, 140, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(92, 201, 140, .39);
    box-shadow: 0em 0.5em 1em rgba(92, 201, 140, .39);
}

.shadow_bottom_seaGreen1h,
.hover_shadow_bottom_seaGreen1h:hover,
.active_shadow_bottom_seaGreen1h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(136, 216, 171, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(136, 216, 171, .50);
    box-shadow: 0em 0.5em 1em rgba(136, 216, 171, .50);
}

.shadow_bottom_seaGreen1a,
.hover_shadow_bottom_seaGreen1a:hover,
.active_shadow_bottom_seaGreen1a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(202, 237, 218, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(202, 237, 218, .63);
    box-shadow: 0em 0.5em 1em rgba(202, 237, 218, .63);
}

.shadow_bottom_seaGreen1s,
.hover_shadow_bottom_seaGreen1s:hover,
.active_shadow_bottom_seaGreen1s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(202, 237, 218, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(202, 237, 218, .78);
    box-shadow: 0em 0.5em 1em rgba(202, 237, 218, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_seaGreen1,
.hover_shadow_top_left_seaGreen1:hover,
.active_shadow_top_left_seaGreen1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(92, 201, 140, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(92, 201, 140, .39);
    box-shadow: -0.5em -0.5em 1em rgba(92, 201, 140, .39);
}

.shadow_top_left_seaGreen1h,
.hover_shadow_top_left_seaGreen1h:hover,
.active_shadow_top_left_seaGreen1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(136, 216, 171, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(136, 216, 171, .50);
    box-shadow: -0.5em -0.5em 1em rgba(136, 216, 171, .50);
}

.shadow_top_left_seaGreen1a,
.hover_shadow_top_left_seaGreen1a:hover,
.active_shadow_top_left_seaGreen1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(202, 237, 218, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(202, 237, 218, .63);
    box-shadow: -0.5em -0.5em 1em rgba(202, 237, 218, .63);
}

.shadow_top_left_seaGreen1s,
.hover_shadow_top_left_seaGreen1s:hover,
.active_shadow_top_left_seaGreen1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(202, 237, 218, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(202, 237, 218, .78);
    box-shadow: -0.5em -0.5em 1em rgba(202, 237, 218, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_seaGreen1,
.hover_shadow_top_right_seaGreen1:hover,
.active_shadow_top_right_seaGreen1:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(92, 201, 140, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(92, 201, 140, .39);
    box-shadow: 0.5em -0.5em 1em rgba(92, 201, 140, .39);
}

.shadow_top_right_seaGreen1h,
.hover_shadow_top_right_seaGreen1h:hover,
.active_shadow_top_right_seaGreen1h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(136, 216, 171, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(136, 216, 171, .50);
    box-shadow: 0.5em -0.5em 1em rgba(136, 216, 171, .50);
}

.shadow_top_right_seaGreen1a,
.hover_shadow_top_right_seaGreen1a:hover,
.active_shadow_top_right_seaGreen1a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(202, 237, 218, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(202, 237, 218, .63);
    box-shadow: 0.5em -0.5em 1em rgba(202, 237, 218, .63);
}

.shadow_top_right_seaGreen1s,
.hover_shadow_top_right_seaGreen1s:hover,
.active_shadow_top_right_seaGreen1s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(202, 237, 218, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(202, 237, 218, .78);
    box-shadow: 0.5em -0.5em 1em rgba(202, 237, 218, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_seaGreen1,
.hover_shadow_bottom_left_seaGreen1:hover,
.active_shadow_bottom_left_seaGreen1:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(92, 201, 140, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(92, 201, 140, .39);
    box-shadow: -0.5em 0.5em 1em rgba(92, 201, 140, .39);
}

.shadow_bottom_left_seaGreen1h,
.hover_shadow_bottom_left_seaGreen1h:hover,
.active_shadow_bottom_left_seaGreen1h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(136, 216, 171, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(136, 216, 171, .50);
    box-shadow: -0.5em 0.5em 1em rgba(136, 216, 171, .50);
}

.shadow_bottom_left_seaGreen1a,
.hover_shadow_bottom_left_seaGreen1a:hover,
.active_shadow_bottom_left_seaGreen1a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(202, 237, 218, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(202, 237, 218, .63);
    box-shadow: -0.5em 0.5em 1em rgba(202, 237, 218, .63);
}

.shadow_bottom_left_seaGreen1s,
.hover_shadow_bottom_left_seaGreen1s:hover,
.active_shadow_bottom_left_seaGreen1s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(202, 237, 218, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(202, 237, 218, .78);
    box-shadow: -0.5em 0.5em 1em rgba(202, 237, 218, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_seaGreen1,
.hover_shadow_bottom_right_seaGreen1:hover,
.active_shadow_bottom_right_seaGreen1:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(92, 201, 140, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(92, 201, 140, .39);
    box-shadow: 0.5em 0.5em 1em rgba(92, 201, 140, .39);
}

.shadow_bottom_right_seaGreen1h,
.hover_shadow_bottom_right_seaGreen1h:hover,
.active_shadow_bottom_right_seaGreen1h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(136, 216, 171, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(136, 216, 171, .50);
    box-shadow: 0.5em 0.5em 1em rgba(136, 216, 171, .50);
}

.shadow_bottom_right_seaGreen1a,
 .hover_shadow_bottom_right_seaGreen1a:hover,
 .active_shadow_bottom_right_seaGreen1a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(202, 237, 218, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(202, 237, 218, .63);
     box-shadow: 0.5em 0.5em 1em rgba(202, 237, 218, .63);
 }

 .shadow_bottom_right_seaGreen1s,
 .hover_shadow_bottom_right_seaGreen1s:hover,
 .active_shadow_bottom_right_seaGreen1s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(202, 237, 218, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(202, 237, 218, .78);
     box-shadow: 0.5em 0.5em 1em rgba(202, 237, 218, .78);
 }