.background_indigo8,
.hover_background_indigo8:hover,
.active_background_indigo8:active:hover {
    background: #460079;
    background-image: -moz-linear-gradient(top,  rgb(87, 0, 151) 0%, rgb(70, 0, 121) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(87, 0, 151)), color-stop(100%, rgb(70, 0, 121)));
    background-image: -webkit-linear-gradient(top,  rgb(87, 0, 151) 0%, rgb(70, 0, 121) 100%);
    background-image: -o-linear-gradient(top,  rgb(87, 0, 151) 0%, rgb(70, 0, 121) 100%);
    background-image: -ms-linear-gradient(top, rgb(87, 0, 151) 0%, rgb(70, 0, 121) 100%);
    background-image: linear-gradient(to bottom,  rgb(87, 0, 151) 0%, rgb(70, 0, 121) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#570097', endColorstr='#460079',GradientType=0 );
}

.background_indigo8h,
.hover_background_indigo8h:hover,
.active_background_indigo8h:active:hover {
    background: #460079;
    background-image: -moz-linear-gradient(top,  rgb(105, 0, 182) 0%, rgb(84, 0, 145) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(105, 0, 182)), color-stop(100%, rgb(84, 0, 145)));
    background-image: -webkit-linear-gradient(top,  rgb(105, 0, 182) 0%, rgb(84, 0, 145) 100%);
    background-image: -o-linear-gradient(top,  rgb(105, 0, 182) 0%, rgb(84, 0, 145) 100%);
    background-image: -ms-linear-gradient(top, rgb(105, 0, 182) 0%, rgb(84, 0, 145) 100%);
    background-image: linear-gradient(to bottom,  rgb(105, 0, 182) 0%, rgb(84, 0, 145) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6900b6', endColorstr='#540091',GradientType=0 );
}

.background_indigo8a,
.hover_background_indigo8a:hover,
.active_background_indigo8a:active:hover {
    background: #460079;
    background-image: -moz-linear-gradient(top,  rgb(84, 0, 145) 0%, rgb(105, 0, 182) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(84, 0, 145)), color-stop(100%, rgb(105, 0, 182)));
    background-image: -webkit-linear-gradient(top,  rgb(84, 0, 145) 0%, rgb(105, 0, 182) 100%);
    background-image: -o-linear-gradient(top,  rgb(84, 0, 145) 0%, rgb(105, 0, 182) 100%);
    background-image: -ms-linear-gradient(top, rgb(84, 0, 145) 0%, rgb(105, 0, 182) 100%);
    background-image: linear-gradient(to bottom,  rgb(84, 0, 145) 0%, rgb(105, 0, 182) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#540091', endColorstr='#6900b6',GradientType=0 );
}

.background_indigo8s,
.hover_background_indigo8s:hover,
.active_background_indigo8s:active:hover {
    background: #460079;
    background-image: -moz-linear-gradient(top,  rgb(131, 0, 227) 0%, rgb(105, 0, 182) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(131, 0, 227)), color-stop(100%, rgb(105, 0, 182)));
    background-image: -webkit-linear-gradient(top,  rgb(131, 0, 227) 0%, rgb(105, 0, 182) 100%);
    background-image: -o-linear-gradient(top,  rgb(131, 0, 227) 0%, rgb(105, 0, 182) 100%);
    background-image: -ms-linear-gradient(top, rgb(131, 0, 227) 0%, rgb(105, 0, 182) 100%);
    background-image: linear-gradient(to bottom,  rgb(131, 0, 227) 0%, rgb(105, 0, 182) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8300e3', endColorstr='#6900b6',GradientType=0 );
}

.background_color_indigo8,
.hover_background_color_indigo8:hover,
.active_background_color_indigo8:active:hover {
    background-color:#460079;
}

.background_first_color_indigo8,
.hover_background_first_color_indigo8:hover,
.active_background_first_color_indigo8:active:hover {
    background-color:#570097;
}

.background_last_color_indigo8,
.hover_background_last_color_indigo8:hover,
.active_background_color_last_indigo8:active:hover {
   background-color:#460079;
}

/* ------------------------------ color settings -------------------------------*/
.color_indigo8,
.hover_color_indigo8:hover,
.active_color_indigo8:active:hover {
    color: #c8c8c8;
}

.color_indigo8h,
.hover_color_indigo8h:hover,
.active_color_indigo8h:active:hover {
    color: #c8c8c8;
}

.color_indigo8a,
.hover_color_indigo8a:hover,
.active_color_indigo8a:active:hover {
    color: #ff0;
}

.color_indigo8s,
.hover_color_indigo8s:hover,
.active_color_indigo8s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_indigo8,
.hover_border_indigo8:hover,
.active_border_indigo8:active:hover {
    border-color: #460079 #460079 #460079 #460079;
}

.border_indigo8h,
.hover_border_indigo8h:hover,
.active_border_indigo8h:active:hover {
    border-color: #3f006d #3f006d #3f006d #3f006d;
}

.border_indigo8a,
.hover_border_indigo8a:hover,
.active_border_indigo8a:active:hover {
    border-color: #380061 #380061 #380061 #380061;
}

.border_indigo8s,
.hover_border_indigo8s:hover,
.active_border_indigo8s:active:hover {
    border-color: #6900b6 #6900b6 #6900b6 #6900b6;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_indigo8,
.hover_shadow_expand_indigo8:hover,
.active_shadow_expand_indigo8:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(70, 0, 121, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(70, 0, 121, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(70, 0, 121, .39);
}

.shadow_expand_indigo8h,
.hover_shadow_expand_indigo8h:hover,
.active_shadow_expand_indigo8h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(84, 0, 145, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(84, 0, 145, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(84, 0, 145, .50);
}

.shadow_expand_indigo8a,
.hover_shadow_expand_indigo8a:hover,
.active_shadow_expand_indigo8a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(105, 0, 182, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(105, 0, 182, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(105, 0, 182, .63);
}

.shadow_expand_indigo8s,
.hover_shadow_expand_indigo8s:hover,
.active_shadow_expand_indigo8s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(105, 0, 182, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(105, 0, 182, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(105, 0, 182, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_indigo8,
.hover_shadow_left_indigo8:hover,
.active_shadow_left_indigo8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(70, 0, 121, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(70, 0, 121, .39);
    box-shadow: -0.5em -0.5em 1em rgba(70, 0, 121, .39);
}

.shadow_left_indigo8h,
.hover_shadow_left_indigo8h:hover,
.active_shadow_left_indigo8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(84, 0, 145, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(84, 0, 145, .50);
    box-shadow: -0.5em -0.5em 1em rgba(84, 0, 145, .50);
}

.shadow_left_indigo8a,
.hover_shadow_left_indigo8a:hover,
.active_shadow_left_indigo8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(105, 0, 182, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(105, 0, 182, .63);
    box-shadow: -0.5em -0.5em 1em rgba(105, 0, 182, .63);
}

.shadow_left_indigo8s,
.hover_shadow_left_indigo8s:hover,
.active_shadow_left_indigo8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(105, 0, 182, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(105, 0, 182, .78);
    box-shadow: -0.5em -0.5em 1em rgba(105, 0, 182, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_indigo8,
.hover_shadow_right_indigo8:hover,
.active_shadow_right_indigo8:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(70, 0, 121, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(70, 0, 121, .39);
    box-shadow: 0.5em 0em 1em rgba(70, 0, 121, .39);
}

.shadow_right_indigo8h,
.hover_shadow_right_indigo8h:hover,
.active_shadow_right_indigo8h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(84, 0, 145, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(84, 0, 145, .50);
    box-shadow: 0.5em 0em 1em rgba(84, 0, 145, .50);
}

.shadow_right_indigo8a,
.hover_shadow_right_indigo8a:hover,
.active_shadow_right_indigo8a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(105, 0, 182, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(105, 0, 182, .63);
    box-shadow: 0.5em 0em 1em rgba(105, 0, 182, .63);
}

.shadow_right_indigo8s,
.hover_shadow_right_indigo8s:hover,
.active_shadow_right_indigo8s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(105, 0, 182, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(105, 0, 182, .78);
    box-shadow: 0.5em 0em 1em rgba(105, 0, 182, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_indigo8,
.hover_shadow_top_indigo8:hover,
.active_shadow_top_indigo8:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(70, 0, 121, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(70, 0, 121, .39);
    box-shadow: 0em -0.5em 1em rgba(70, 0, 121, .39);
}

.shadow_top_indigo8h,
.hover_shadow_top_indigo8h:hover,
.active_shadow_top_indigo8h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(84, 0, 145, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(84, 0, 145, .50);
    box-shadow: 0em -0.5em 1em rgba(84, 0, 145, .50);
}

.shadow_top_indigo8a,
.hover_shadow_top_indigo8a:hover,
.active_shadow_top_indigo8a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(105, 0, 182, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(105, 0, 182, .63);
    box-shadow: 0em -0.5em 1em rgba(105, 0, 182, .63);
}

.shadow_top_indigo8s,
.hover_shadow_top_indigo8s:hover,
.active_shadow_top_indigo8s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(105, 0, 182, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(105, 0, 182, .78);
    box-shadow: 0em -0.5em 1em rgba(105, 0, 182, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_indigo8,
.hover_shadow_bottom_indigo8:hover,
.active_shadow_bottom_indigo8:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(70, 0, 121, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(70, 0, 121, .39);
    box-shadow: 0em 0.5em 1em rgba(70, 0, 121, .39);
}

.shadow_bottom_indigo8h,
.hover_shadow_bottom_indigo8h:hover,
.active_shadow_bottom_indigo8h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(84, 0, 145, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(84, 0, 145, .50);
    box-shadow: 0em 0.5em 1em rgba(84, 0, 145, .50);
}

.shadow_bottom_indigo8a,
.hover_shadow_bottom_indigo8a:hover,
.active_shadow_bottom_indigo8a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(105, 0, 182, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(105, 0, 182, .63);
    box-shadow: 0em 0.5em 1em rgba(105, 0, 182, .63);
}

.shadow_bottom_indigo8s,
.hover_shadow_bottom_indigo8s:hover,
.active_shadow_bottom_indigo8s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(105, 0, 182, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(105, 0, 182, .78);
    box-shadow: 0em 0.5em 1em rgba(105, 0, 182, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_indigo8,
.hover_shadow_top_left_indigo8:hover,
.active_shadow_top_left_indigo8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(70, 0, 121, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(70, 0, 121, .39);
    box-shadow: -0.5em -0.5em 1em rgba(70, 0, 121, .39);
}

.shadow_top_left_indigo8h,
.hover_shadow_top_left_indigo8h:hover,
.active_shadow_top_left_indigo8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(84, 0, 145, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(84, 0, 145, .50);
    box-shadow: -0.5em -0.5em 1em rgba(84, 0, 145, .50);
}

.shadow_top_left_indigo8a,
.hover_shadow_top_left_indigo8a:hover,
.active_shadow_top_left_indigo8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(105, 0, 182, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(105, 0, 182, .63);
    box-shadow: -0.5em -0.5em 1em rgba(105, 0, 182, .63);
}

.shadow_top_left_indigo8s,
.hover_shadow_top_left_indigo8s:hover,
.active_shadow_top_left_indigo8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(105, 0, 182, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(105, 0, 182, .78);
    box-shadow: -0.5em -0.5em 1em rgba(105, 0, 182, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_indigo8,
.hover_shadow_top_right_indigo8:hover,
.active_shadow_top_right_indigo8:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(70, 0, 121, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(70, 0, 121, .39);
    box-shadow: 0.5em -0.5em 1em rgba(70, 0, 121, .39);
}

.shadow_top_right_indigo8h,
.hover_shadow_top_right_indigo8h:hover,
.active_shadow_top_right_indigo8h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(84, 0, 145, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(84, 0, 145, .50);
    box-shadow: 0.5em -0.5em 1em rgba(84, 0, 145, .50);
}

.shadow_top_right_indigo8a,
.hover_shadow_top_right_indigo8a:hover,
.active_shadow_top_right_indigo8a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(105, 0, 182, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(105, 0, 182, .63);
    box-shadow: 0.5em -0.5em 1em rgba(105, 0, 182, .63);
}

.shadow_top_right_indigo8s,
.hover_shadow_top_right_indigo8s:hover,
.active_shadow_top_right_indigo8s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(105, 0, 182, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(105, 0, 182, .78);
    box-shadow: 0.5em -0.5em 1em rgba(105, 0, 182, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_indigo8,
.hover_shadow_bottom_left_indigo8:hover,
.active_shadow_bottom_left_indigo8:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(70, 0, 121, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(70, 0, 121, .39);
    box-shadow: -0.5em 0.5em 1em rgba(70, 0, 121, .39);
}

.shadow_bottom_left_indigo8h,
.hover_shadow_bottom_left_indigo8h:hover,
.active_shadow_bottom_left_indigo8h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(84, 0, 145, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(84, 0, 145, .50);
    box-shadow: -0.5em 0.5em 1em rgba(84, 0, 145, .50);
}

.shadow_bottom_left_indigo8a,
.hover_shadow_bottom_left_indigo8a:hover,
.active_shadow_bottom_left_indigo8a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(105, 0, 182, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(105, 0, 182, .63);
    box-shadow: -0.5em 0.5em 1em rgba(105, 0, 182, .63);
}

.shadow_bottom_left_indigo8s,
.hover_shadow_bottom_left_indigo8s:hover,
.active_shadow_bottom_left_indigo8s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(105, 0, 182, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(105, 0, 182, .78);
    box-shadow: -0.5em 0.5em 1em rgba(105, 0, 182, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_indigo8,
.hover_shadow_bottom_right_indigo8:hover,
.active_shadow_bottom_right_indigo8:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(70, 0, 121, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(70, 0, 121, .39);
    box-shadow: 0.5em 0.5em 1em rgba(70, 0, 121, .39);
}

.shadow_bottom_right_indigo8h,
.hover_shadow_bottom_right_indigo8h:hover,
.active_shadow_bottom_right_indigo8h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(84, 0, 145, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(84, 0, 145, .50);
    box-shadow: 0.5em 0.5em 1em rgba(84, 0, 145, .50);
}

.shadow_bottom_right_indigo8a,
 .hover_shadow_bottom_right_indigo8a:hover,
 .active_shadow_bottom_right_indigo8a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(105, 0, 182, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(105, 0, 182, .63);
     box-shadow: 0.5em 0.5em 1em rgba(105, 0, 182, .63);
 }

 .shadow_bottom_right_indigo8s,
 .hover_shadow_bottom_right_indigo8s:hover,
 .active_shadow_bottom_right_indigo8s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(105, 0, 182, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(105, 0, 182, .78);
     box-shadow: 0.5em 0.5em 1em rgba(105, 0, 182, .78);
 }