.aquaCornsilk8,
.hover_aquaCornsilk8:hover,
.active_aquaCornsilk8:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(159, 111, 0, .39),
           inset 0 -0.5em 0.9em 0 #ff9306,
           inset 0 -0.5em 0em 0.65em rgb(107, 77, 0),
           inset 0 0em 0.5em 2em rgb(200, 153, 35);
    -moz-box-shadow: 0 0.63em 0.75em rgba(159, 111, 0, .39),
           inset 0 -0.5em 0.9em 0 #ff9306,
           inset 0 -0.5em 0em 0.65em rgb(107, 77, 0),
           inset 0 0em 0.5em 2em rgb(200, 153, 35);
    box-shadow: 0 0.63em 0.75em rgba(159, 111, 0, .39),
           inset 0 -0.5em 0.9em 0 #ff9306,
           inset 0 -0.5em 0em 0.65em rgb(107, 77, 0),
           inset 0 0em 0.5em 2em rgb(200, 153, 35);
}

.aquaCornsilk8h,
.hover_aquaCornsilk8h:hover,
.active_aquaCornsilk8h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(184, 129, 0, .55),
           inset 0 -0.5em 0.9em 0 #ffa938,
           inset 0 -0.5em 0em 0.65em #d29600,
           inset 0 0em 0.5em 2em #fac53d;
    -moz-box-shadow:0 0.63em 1em rgba(184, 129, 0, .55),
           inset 0 -0.5em 0.9em 0 #ffa938,
           inset 0 -0.5em 0em 0.65em #d29600,
           inset 0 0em 0.5em 2em #fac53d;
    box-shadow:0 0.63em 1em rgba(184, 129, 0, .55),
           inset 0 -0.5em 0.9em 0 #ffa938,
           inset 0 -0.5em 0em 0.65em #d29600,
           inset 0 0em 0.5em 2em #fac53d;
}

.aquaCornsilk8a,
.hover_aquaCornsilk8a:hover,
.active_aquaCornsilk8a:active {
    /*background: #a08000;*/

    -webkit-box-shadow:0 0.63em 1em rgba(107, 75, 0, .55),
           inset 0 -0.5em 0.9em 0 #ff9e1f,
           inset 0 -0.5em 0em 0.65em #996e00,
           inset 0 0em 0.5em 2em #eba800;
    -moz-box-shadow:0 0.63em 1em rgba(107, 75, 0, .55),
           inset 0 -0.5em 0.9em 0 #ff9e1f,
           inset 0 -0.5em 0em 0.65em #996e00,
           inset 0 0em 0.5em 2em #eba800;
    box-shadow:0 0.63em 1em rgba(107, 75, 0, .55),
           inset 0 -0.5em 0.9em 0 #ff9e1f,
           inset 0 -0.5em 0em 0.65em #996e00,
           inset 0 0em 0.5em 2em #eba800;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaCornsilk8,
.hover_color_aquaCornsilk8:hover,
.active_color_aquaCornsilk8:active {
    color: #c8c8c8;
}

.color_aquaCornsilk8h,
.hover_color_aquaCornsilk8h:hover,
.active_color_aquaCornsilk8h:active {
    color: #c8c8c8;
}

.color_aquaCornsilk8a,
.hover_color_aquaCornsilk8a:hover,
.active_color_aquaCornsilk8a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaCornsilk8,
.hover_border_aquaCornsilk8:hover,
.active_border_aquaCornsilk8:active {
    border-color: #6a5500 #6a5500 #6a5500 #6a5500;
}

.border_aquaCornsilk8h,
.hover_border_aquaCornsilk8h:hover,
.active_border_aquaCornsilk8h:active {
    border-color: #6a5500 #6a5500 #6a5500 #6a5500;
}

.border_aquaCornsilk8a,
.hover_border_aquaCornsilk8a:hover,
.active_border_aquaCornsilk8a:active  {
    border-color: #6a5500 #6a5500 #6a5500 #6a5500;
}

