.background_rosyBrown8,
.hover_background_rosyBrown8:hover,
.active_background_rosyBrown8:active:hover {
    background: #492b2b;
    background-image: -moz-linear-gradient(top,  rgb(91, 54, 54) 0%, rgb(73, 43, 43) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(91, 54, 54)), color-stop(100%, rgb(73, 43, 43)));
    background-image: -webkit-linear-gradient(top,  rgb(91, 54, 54) 0%, rgb(73, 43, 43) 100%);
    background-image: -o-linear-gradient(top,  rgb(91, 54, 54) 0%, rgb(73, 43, 43) 100%);
    background-image: -ms-linear-gradient(top, rgb(91, 54, 54) 0%, rgb(73, 43, 43) 100%);
    background-image: linear-gradient(to bottom,  rgb(91, 54, 54) 0%, rgb(73, 43, 43) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b3636', endColorstr='#492b2b',GradientType=0 );
}

.background_rosyBrown8h,
.hover_background_rosyBrown8h:hover,
.active_background_rosyBrown8h:active:hover {
    background: #492b2b;
    background-image: -moz-linear-gradient(top,  rgb(109, 65, 65) 0%, rgb(87, 52, 52) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(109, 65, 65)), color-stop(100%, rgb(87, 52, 52)));
    background-image: -webkit-linear-gradient(top,  rgb(109, 65, 65) 0%, rgb(87, 52, 52) 100%);
    background-image: -o-linear-gradient(top,  rgb(109, 65, 65) 0%, rgb(87, 52, 52) 100%);
    background-image: -ms-linear-gradient(top, rgb(109, 65, 65) 0%, rgb(87, 52, 52) 100%);
    background-image: linear-gradient(to bottom,  rgb(109, 65, 65) 0%, rgb(87, 52, 52) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d4141', endColorstr='#573434',GradientType=0 );
}

.background_rosyBrown8a,
.hover_background_rosyBrown8a:hover,
.active_background_rosyBrown8a:active:hover {
    background: #492b2b;
    background-image: -moz-linear-gradient(top,  rgb(87, 52, 52) 0%, rgb(109, 65, 65) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(87, 52, 52)), color-stop(100%, rgb(109, 65, 65)));
    background-image: -webkit-linear-gradient(top,  rgb(87, 52, 52) 0%, rgb(109, 65, 65) 100%);
    background-image: -o-linear-gradient(top,  rgb(87, 52, 52) 0%, rgb(109, 65, 65) 100%);
    background-image: -ms-linear-gradient(top, rgb(87, 52, 52) 0%, rgb(109, 65, 65) 100%);
    background-image: linear-gradient(to bottom,  rgb(87, 52, 52) 0%, rgb(109, 65, 65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#573434', endColorstr='#6d4141',GradientType=0 );
}

.background_rosyBrown8s,
.hover_background_rosyBrown8s:hover,
.active_background_rosyBrown8s:active:hover {
    background: #492b2b;
    background-image: -moz-linear-gradient(top,  rgb(136, 81, 81) 0%, rgb(109, 65, 65) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(136, 81, 81)), color-stop(100%, rgb(109, 65, 65)));
    background-image: -webkit-linear-gradient(top,  rgb(136, 81, 81) 0%, rgb(109, 65, 65) 100%);
    background-image: -o-linear-gradient(top,  rgb(136, 81, 81) 0%, rgb(109, 65, 65) 100%);
    background-image: -ms-linear-gradient(top, rgb(136, 81, 81) 0%, rgb(109, 65, 65) 100%);
    background-image: linear-gradient(to bottom,  rgb(136, 81, 81) 0%, rgb(109, 65, 65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#885151', endColorstr='#6d4141',GradientType=0 );
}

.background_color_rosyBrown8,
.hover_background_color_rosyBrown8:hover,
.active_background_color_rosyBrown8:active:hover {
    background-color:#492b2b;
}

.background_first_color_rosyBrown8,
.hover_background_first_color_rosyBrown8:hover,
.active_background_first_color_rosyBrown8:active:hover {
    background-color:#5b3636;
}

.background_last_color_rosyBrown8,
.hover_background_last_color_rosyBrown8:hover,
.active_background_color_last_rosyBrown8:active:hover {
   background-color:#492b2b;
}

/* ------------------------------ color settings -------------------------------*/
.color_rosyBrown8,
.hover_color_rosyBrown8:hover,
.active_color_rosyBrown8:active:hover {
    color: #c8c8c8;
}

.color_rosyBrown8h,
.hover_color_rosyBrown8h:hover,
.active_color_rosyBrown8h:active:hover {
    color: #c8c8c8;
}

.color_rosyBrown8a,
.hover_color_rosyBrown8a:hover,
.active_color_rosyBrown8a:active:hover {
    color: #ff0;
}

.color_rosyBrown8s,
.hover_color_rosyBrown8s:hover,
.active_color_rosyBrown8s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_rosyBrown8,
.hover_border_rosyBrown8:hover,
.active_border_rosyBrown8:active:hover {
    border-color: #492b2b #492b2b #492b2b #492b2b;
}

.border_rosyBrown8h,
.hover_border_rosyBrown8h:hover,
.active_border_rosyBrown8h:active:hover {
    border-color: #412727 #412727 #412727 #412727;
}

.border_rosyBrown8a,
.hover_border_rosyBrown8a:hover,
.active_border_rosyBrown8a:active:hover {
    border-color: #3a2323 #3a2323 #3a2323 #3a2323;
}

.border_rosyBrown8s,
.hover_border_rosyBrown8s:hover,
.active_border_rosyBrown8s:active:hover {
    border-color: #6d4141 #6d4141 #6d4141 #6d4141;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_rosyBrown8,
.hover_shadow_expand_rosyBrown8:hover,
.active_shadow_expand_rosyBrown8:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(73, 43, 43, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(73, 43, 43, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(73, 43, 43, .39);
}

.shadow_expand_rosyBrown8h,
.hover_shadow_expand_rosyBrown8h:hover,
.active_shadow_expand_rosyBrown8h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(87, 52, 52, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(87, 52, 52, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(87, 52, 52, .50);
}

.shadow_expand_rosyBrown8a,
.hover_shadow_expand_rosyBrown8a:hover,
.active_shadow_expand_rosyBrown8a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(109, 65, 65, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(109, 65, 65, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(109, 65, 65, .63);
}

.shadow_expand_rosyBrown8s,
.hover_shadow_expand_rosyBrown8s:hover,
.active_shadow_expand_rosyBrown8s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(109, 65, 65, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(109, 65, 65, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(109, 65, 65, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_rosyBrown8,
.hover_shadow_left_rosyBrown8:hover,
.active_shadow_left_rosyBrown8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(73, 43, 43, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(73, 43, 43, .39);
    box-shadow: -0.5em -0.5em 1em rgba(73, 43, 43, .39);
}

.shadow_left_rosyBrown8h,
.hover_shadow_left_rosyBrown8h:hover,
.active_shadow_left_rosyBrown8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(87, 52, 52, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(87, 52, 52, .50);
    box-shadow: -0.5em -0.5em 1em rgba(87, 52, 52, .50);
}

.shadow_left_rosyBrown8a,
.hover_shadow_left_rosyBrown8a:hover,
.active_shadow_left_rosyBrown8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(109, 65, 65, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(109, 65, 65, .63);
    box-shadow: -0.5em -0.5em 1em rgba(109, 65, 65, .63);
}

.shadow_left_rosyBrown8s,
.hover_shadow_left_rosyBrown8s:hover,
.active_shadow_left_rosyBrown8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(109, 65, 65, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(109, 65, 65, .78);
    box-shadow: -0.5em -0.5em 1em rgba(109, 65, 65, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_rosyBrown8,
.hover_shadow_right_rosyBrown8:hover,
.active_shadow_right_rosyBrown8:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(73, 43, 43, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(73, 43, 43, .39);
    box-shadow: 0.5em 0em 1em rgba(73, 43, 43, .39);
}

.shadow_right_rosyBrown8h,
.hover_shadow_right_rosyBrown8h:hover,
.active_shadow_right_rosyBrown8h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(87, 52, 52, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(87, 52, 52, .50);
    box-shadow: 0.5em 0em 1em rgba(87, 52, 52, .50);
}

.shadow_right_rosyBrown8a,
.hover_shadow_right_rosyBrown8a:hover,
.active_shadow_right_rosyBrown8a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(109, 65, 65, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(109, 65, 65, .63);
    box-shadow: 0.5em 0em 1em rgba(109, 65, 65, .63);
}

.shadow_right_rosyBrown8s,
.hover_shadow_right_rosyBrown8s:hover,
.active_shadow_right_rosyBrown8s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(109, 65, 65, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(109, 65, 65, .78);
    box-shadow: 0.5em 0em 1em rgba(109, 65, 65, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_rosyBrown8,
.hover_shadow_top_rosyBrown8:hover,
.active_shadow_top_rosyBrown8:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(73, 43, 43, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(73, 43, 43, .39);
    box-shadow: 0em -0.5em 1em rgba(73, 43, 43, .39);
}

.shadow_top_rosyBrown8h,
.hover_shadow_top_rosyBrown8h:hover,
.active_shadow_top_rosyBrown8h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(87, 52, 52, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(87, 52, 52, .50);
    box-shadow: 0em -0.5em 1em rgba(87, 52, 52, .50);
}

.shadow_top_rosyBrown8a,
.hover_shadow_top_rosyBrown8a:hover,
.active_shadow_top_rosyBrown8a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(109, 65, 65, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(109, 65, 65, .63);
    box-shadow: 0em -0.5em 1em rgba(109, 65, 65, .63);
}

.shadow_top_rosyBrown8s,
.hover_shadow_top_rosyBrown8s:hover,
.active_shadow_top_rosyBrown8s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(109, 65, 65, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(109, 65, 65, .78);
    box-shadow: 0em -0.5em 1em rgba(109, 65, 65, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_rosyBrown8,
.hover_shadow_bottom_rosyBrown8:hover,
.active_shadow_bottom_rosyBrown8:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(73, 43, 43, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(73, 43, 43, .39);
    box-shadow: 0em 0.5em 1em rgba(73, 43, 43, .39);
}

.shadow_bottom_rosyBrown8h,
.hover_shadow_bottom_rosyBrown8h:hover,
.active_shadow_bottom_rosyBrown8h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(87, 52, 52, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(87, 52, 52, .50);
    box-shadow: 0em 0.5em 1em rgba(87, 52, 52, .50);
}

.shadow_bottom_rosyBrown8a,
.hover_shadow_bottom_rosyBrown8a:hover,
.active_shadow_bottom_rosyBrown8a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(109, 65, 65, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(109, 65, 65, .63);
    box-shadow: 0em 0.5em 1em rgba(109, 65, 65, .63);
}

.shadow_bottom_rosyBrown8s,
.hover_shadow_bottom_rosyBrown8s:hover,
.active_shadow_bottom_rosyBrown8s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(109, 65, 65, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(109, 65, 65, .78);
    box-shadow: 0em 0.5em 1em rgba(109, 65, 65, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_rosyBrown8,
.hover_shadow_top_left_rosyBrown8:hover,
.active_shadow_top_left_rosyBrown8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(73, 43, 43, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(73, 43, 43, .39);
    box-shadow: -0.5em -0.5em 1em rgba(73, 43, 43, .39);
}

.shadow_top_left_rosyBrown8h,
.hover_shadow_top_left_rosyBrown8h:hover,
.active_shadow_top_left_rosyBrown8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(87, 52, 52, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(87, 52, 52, .50);
    box-shadow: -0.5em -0.5em 1em rgba(87, 52, 52, .50);
}

.shadow_top_left_rosyBrown8a,
.hover_shadow_top_left_rosyBrown8a:hover,
.active_shadow_top_left_rosyBrown8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(109, 65, 65, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(109, 65, 65, .63);
    box-shadow: -0.5em -0.5em 1em rgba(109, 65, 65, .63);
}

.shadow_top_left_rosyBrown8s,
.hover_shadow_top_left_rosyBrown8s:hover,
.active_shadow_top_left_rosyBrown8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(109, 65, 65, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(109, 65, 65, .78);
    box-shadow: -0.5em -0.5em 1em rgba(109, 65, 65, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_rosyBrown8,
.hover_shadow_top_right_rosyBrown8:hover,
.active_shadow_top_right_rosyBrown8:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(73, 43, 43, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(73, 43, 43, .39);
    box-shadow: 0.5em -0.5em 1em rgba(73, 43, 43, .39);
}

.shadow_top_right_rosyBrown8h,
.hover_shadow_top_right_rosyBrown8h:hover,
.active_shadow_top_right_rosyBrown8h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(87, 52, 52, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(87, 52, 52, .50);
    box-shadow: 0.5em -0.5em 1em rgba(87, 52, 52, .50);
}

.shadow_top_right_rosyBrown8a,
.hover_shadow_top_right_rosyBrown8a:hover,
.active_shadow_top_right_rosyBrown8a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(109, 65, 65, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(109, 65, 65, .63);
    box-shadow: 0.5em -0.5em 1em rgba(109, 65, 65, .63);
}

.shadow_top_right_rosyBrown8s,
.hover_shadow_top_right_rosyBrown8s:hover,
.active_shadow_top_right_rosyBrown8s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(109, 65, 65, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(109, 65, 65, .78);
    box-shadow: 0.5em -0.5em 1em rgba(109, 65, 65, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_rosyBrown8,
.hover_shadow_bottom_left_rosyBrown8:hover,
.active_shadow_bottom_left_rosyBrown8:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(73, 43, 43, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(73, 43, 43, .39);
    box-shadow: -0.5em 0.5em 1em rgba(73, 43, 43, .39);
}

.shadow_bottom_left_rosyBrown8h,
.hover_shadow_bottom_left_rosyBrown8h:hover,
.active_shadow_bottom_left_rosyBrown8h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(87, 52, 52, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(87, 52, 52, .50);
    box-shadow: -0.5em 0.5em 1em rgba(87, 52, 52, .50);
}

.shadow_bottom_left_rosyBrown8a,
.hover_shadow_bottom_left_rosyBrown8a:hover,
.active_shadow_bottom_left_rosyBrown8a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(109, 65, 65, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(109, 65, 65, .63);
    box-shadow: -0.5em 0.5em 1em rgba(109, 65, 65, .63);
}

.shadow_bottom_left_rosyBrown8s,
.hover_shadow_bottom_left_rosyBrown8s:hover,
.active_shadow_bottom_left_rosyBrown8s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(109, 65, 65, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(109, 65, 65, .78);
    box-shadow: -0.5em 0.5em 1em rgba(109, 65, 65, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_rosyBrown8,
.hover_shadow_bottom_right_rosyBrown8:hover,
.active_shadow_bottom_right_rosyBrown8:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(73, 43, 43, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(73, 43, 43, .39);
    box-shadow: 0.5em 0.5em 1em rgba(73, 43, 43, .39);
}

.shadow_bottom_right_rosyBrown8h,
.hover_shadow_bottom_right_rosyBrown8h:hover,
.active_shadow_bottom_right_rosyBrown8h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(87, 52, 52, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(87, 52, 52, .50);
    box-shadow: 0.5em 0.5em 1em rgba(87, 52, 52, .50);
}

.shadow_bottom_right_rosyBrown8a,
 .hover_shadow_bottom_right_rosyBrown8a:hover,
 .active_shadow_bottom_right_rosyBrown8a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(109, 65, 65, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(109, 65, 65, .63);
     box-shadow: 0.5em 0.5em 1em rgba(109, 65, 65, .63);
 }

 .shadow_bottom_right_rosyBrown8s,
 .hover_shadow_bottom_right_rosyBrown8s:hover,
 .active_shadow_bottom_right_rosyBrown8s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(109, 65, 65, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(109, 65, 65, .78);
     box-shadow: 0.5em 0.5em 1em rgba(109, 65, 65, .78);
 }