.background_glassyPlum3,
.hover_background_glassyPlum3:hover,
.active_background_glassyPlum3:active:hover {
    background: #c967c9;
    background-image: -moz-linear-gradient(top,  rgb(193, 81, 193) 0%, rgb(179, 64, 179) 50%, rgb(156, 56, 156) 55%, rgb(201, 103, 201) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(193, 81, 193)), color-stop(50%, rgb(179, 64, 179)), color-stop(55%, rgb(156, 56, 156)), color-stop(100%, rgb(201, 103, 201)));
    background-image: -webkit-linear-gradient(top,  rgb(193, 81, 193) 0%, rgb(179, 64, 179) 50%, rgb(156, 56, 156) 55%, rgb(201, 103, 201) 100%);
    background-image: -o-linear-gradient(top,  rgb(193, 81, 193) 0%, rgb(179, 64, 179) 50%, rgb(156, 56, 156) 55%, rgb(201, 103, 201) 100%);
    background-image: -ms-linear-gradient(top, rgb(193, 81, 193) 0%, rgb(179, 64, 179) 50%, rgb(156, 56, 156) 55%, rgb(201, 103, 201) 100%);
    background-image: linear-gradient(to bottom,  rgb(193, 81, 193) 0%, rgb(179, 64, 179) 50%, rgb(156, 56, 156) 55%, rgb(201, 103, 201) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c151c1', endColorstr='#c967c9',GradientType=0 );
}

.background_glassyPlum3h,
.hover_background_glassyPlum3h:hover,
.active_background_glassyPlum3h:active:hover {
    background: #c967c9;
    background-image: -moz-linear-gradient(top,  rgb(207, 121, 207) 0%, rgb(197, 94, 197) 50%, rgb(188, 67, 188) 55%, rgb(217, 148, 217) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(207, 121, 207)), color-stop(50%, rgb(197, 94, 197)), color-stop(55%, rgb(188, 67, 188)), color-stop(100%, rgb(217, 148, 217)));
    background-image: -webkit-linear-gradient(top,  rgb(207, 121, 207) 0%, rgb(197, 94, 197) 50%, rgb(188, 67, 188) 55%, rgb(217, 148, 217) 100%);
    background-image: -o-linear-gradient(top,  rgb(207, 121, 207) 0%, rgb(197, 94, 197) 50%, rgb(188, 67, 188) 55%, rgb(217, 148, 217) 100%);
    background-image: -ms-linear-gradient(top, rgb(207, 121, 207) 0%, rgb(197, 94, 197) 50%, rgb(188, 67, 188) 55%, rgb(217, 148, 217) 100%);
    background-image: linear-gradient(to bottom,  rgb(207, 121, 207) 0%, rgb(197, 94, 197) 50%, rgb(188, 67, 188) 55%, rgb(217, 148, 217) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf79cf', endColorstr='#d994d9',GradientType=0 );
}

.background_glassyPlum3a,
.hover_background_glassyPlum3a:hover,
.active_background_glassyPlum3a:active:hover {
    background: #c967c9;
    background-image: -moz-linear-gradient(top,  rgb(217, 148, 217) 0%, rgb(188, 67, 188) 50%, rgb(197, 94, 197) 55%, rgb(207, 121, 207) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(217, 148, 217)), color-stop(50%, rgb(188, 67, 188)), color-stop(55%, rgb(197, 94, 197)), color-stop(100%, rgb(207, 121, 207)));
    background-image: -webkit-linear-gradient(top,  rgb(217, 148, 217) 0%, rgb(188, 67, 188) 50%, rgb(197, 94, 197) 55%, rgb(207, 121, 207) 100%);
    background-image: -o-linear-gradient(top,  rgb(217, 148, 217) 0%, rgb(188, 67, 188) 50%, rgb(197, 94, 197) 55%, rgb(207, 121, 207) 100%);
    background-image: -ms-linear-gradient(top, rgb(217, 148, 217) 0%, rgb(188, 67, 188) 50%, rgb(197, 94, 197) 55%, rgb(207, 121, 207) 100%);
    background-image: linear-gradient(to bottom,  rgb(217, 148, 217) 0%, rgb(188, 67, 188) 50%, rgb(197, 94, 197) 55%, rgb(207, 121, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d994d9', endColorstr='#cf79cf',GradientType=0 );
}

.background_glassyPlum3s,
.hover_background_glassyPlum3s:hover,
.active_background_glassyPlum3s:active:hover {
    background: #c967c9;
    background-image: -moz-linear-gradient(top,  rgb(229, 181, 229) 0%, rgb(217, 148, 217) 50%, rgb(205, 114, 205) 55%, rgb(241, 215, 241) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(229, 181, 229)), color-stop(50%, rgb(217, 148, 217)), color-stop(55%, rgb(205, 114, 205)), color-stop(100%, rgb(241, 215, 241)));
    background-image: -webkit-linear-gradient(top,  rgb(229, 181, 229) 0%, rgb(217, 148, 217) 50%, rgb(205, 114, 205) 55%, rgb(241, 215, 241) 100%);
    background-image: -o-linear-gradient(top,  rgb(229, 181, 229) 0%, rgb(217, 148, 217) 50%, rgb(205, 114, 205) 55%, rgb(241, 215, 241) 100%);
    background-image: -ms-linear-gradient(top, rgb(229, 181, 229) 0%, rgb(217, 148, 217) 50%, rgb(205, 114, 205) 55%, rgb(241, 215, 241) 100%);
    background-image: linear-gradient(to bottom,  rgb(229, 181, 229) 0%, rgb(217, 148, 217) 50%, rgb(205, 114, 205) 55%, rgb(241, 215, 241) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5b5e5', endColorstr='#f1d7f1',GradientType=0 );
}

.background_color_glassyPlum3,
.hover_background_color_glassyPlum3:hover,
.active_background_color_glassyPlum3:active:hover {
    background-color:#c967c9;
}

.background_first_color_glassyPlum3,
.hover_background_first_color_glassyPlum3:hover,
.active_background_first_color_glassyPlum3:active:hover {
    background-color:#c151c1;
}

.background_last_color_glassyPlum3,
.hover_background_last_color_glassyPlum3:hover,
.active_background_color_last_glassyPlum3:active:hover {
   background-color:#c967c9;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyPlum3,
.hover_color_glassyPlum3:hover,
.active_color_glassyPlum3:active:hover {
    color: #c8c8c8;
}

.color_glassyPlum3h,
.hover_color_glassyPlum3h:hover,
.active_color_glassyPlum3h:active:hover {
    color: #c8c8c8;
}

.color_glassyPlum3a,
.hover_color_glassyPlum3a:hover,
.active_color_glassyPlum3a:active:hover {
    color: #ff0;
}

.color_glassyPlum3s,
.hover_color_glassyPlum3s:hover,
.active_color_glassyPlum3s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyPlum3,
.hover_border_glassyPlum3:hover,
.active_border_glassyPlum3:active:hover {
    border-color: #a13aa1 #863086 #863086 #a13aa1;
}

.border_glassyPlum3h,
.hover_border_glassyPlum3h:hover,
.active_border_glassyPlum3h:active:hover {
    border-color: #a13aa1 #863086 #863086 #a13aa1;
}

.border_glassyPlum3a,
.hover_border_glassyPlum3a:hover,
.active_border_glassyPlum3a:active:hover {
    border-color: #7d2d7d #7d2d7d #7d2d7d #7d2d7d;
}

.border_glassyPlum3s,
.hover_border_glassyPlum3s:hover,
.active_border_glassyPlum3s:active:hover {
    border-color: #7d2d7d #7d2d7d #7d2d7d #7d2d7d;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyPlum3,
.hover_shadow_expand_glassyPlum3:hover,
.active_shadow_expand_glassyPlum3:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(201, 103, 201, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(201, 103, 201, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(201, 103, 201, .39);
}

.shadow_expand_glassyPlum3h,
.hover_shadow_expand_glassyPlum3h:hover,
.active_shadow_expand_glassyPlum3h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(217, 148, 217, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(217, 148, 217, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(217, 148, 217, .50);
}

.shadow_expand_glassyPlum3a,
.hover_shadow_expand_glassyPlum3a:hover,
.active_shadow_expand_glassyPlum3a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(207, 121, 207, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(207, 121, 207, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(207, 121, 207, .63);
}

.shadow_expand_glassyPlum3s,
.hover_shadow_expand_glassyPlum3s:hover,
.active_shadow_expand_glassyPlum3s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(207, 121, 207, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(207, 121, 207, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(207, 121, 207, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyPlum3,
.hover_shadow_left_glassyPlum3:hover,
.active_shadow_left_glassyPlum3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(201, 103, 201, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(201, 103, 201, .39);
    box-shadow: -0.5em -0.5em 1em rgba(201, 103, 201, .39);
}

.shadow_left_glassyPlum3h,
.hover_shadow_left_glassyPlum3h:hover,
.active_shadow_left_glassyPlum3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(217, 148, 217, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(217, 148, 217, .50);
    box-shadow: -0.5em -0.5em 1em rgba(217, 148, 217, .50);
}

.shadow_left_glassyPlum3a,
.hover_shadow_left_glassyPlum3a:hover,
.active_shadow_left_glassyPlum3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(207, 121, 207, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(207, 121, 207, .63);
    box-shadow: -0.5em -0.5em 1em rgba(207, 121, 207, .63);
}

.shadow_left_glassyPlum3s,
.hover_shadow_left_glassyPlum3s:hover,
.active_shadow_left_glassyPlum3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(207, 121, 207, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(207, 121, 207, .78);
    box-shadow: -0.5em -0.5em 1em rgba(207, 121, 207, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyPlum3,
.hover_shadow_right_glassyPlum3:hover,
.active_shadow_right_glassyPlum3:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(201, 103, 201, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(201, 103, 201, .39);
    box-shadow: 0.5em 0em 1em rgba(201, 103, 201, .39);
}

.shadow_right_glassyPlum3h,
.hover_shadow_right_glassyPlum3h:hover,
.active_shadow_right_glassyPlum3h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(217, 148, 217, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(217, 148, 217, .50);
    box-shadow: 0.5em 0em 1em rgba(217, 148, 217, .50);
}

.shadow_right_glassyPlum3a,
.hover_shadow_right_glassyPlum3a:hover,
.active_shadow_right_glassyPlum3a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(207, 121, 207, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(207, 121, 207, .63);
    box-shadow: 0.5em 0em 1em rgba(207, 121, 207, .63);
}

.shadow_right_glassyPlum3s,
.hover_shadow_right_glassyPlum3s:hover,
.active_shadow_right_glassyPlum3s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(207, 121, 207, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(207, 121, 207, .78);
    box-shadow: 0.5em 0em 1em rgba(207, 121, 207, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyPlum3,
.hover_shadow_top_glassyPlum3:hover,
.active_shadow_top_glassyPlum3:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(201, 103, 201, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(201, 103, 201, .39);
    box-shadow: 0em -0.5em 1em rgba(201, 103, 201, .39);
}

.shadow_top_glassyPlum3h,
.hover_shadow_top_glassyPlum3h:hover,
.active_shadow_top_glassyPlum3h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(217, 148, 217, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(217, 148, 217, .50);
    box-shadow: 0em -0.5em 1em rgba(217, 148, 217, .50);
}

.shadow_top_glassyPlum3a,
.hover_shadow_top_glassyPlum3a:hover,
.active_shadow_top_glassyPlum3a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(207, 121, 207, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(207, 121, 207, .63);
    box-shadow: 0em -0.5em 1em rgba(207, 121, 207, .63);
}

.shadow_top_glassyPlum3s,
.hover_shadow_top_glassyPlum3s:hover,
.active_shadow_top_glassyPlum3s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(207, 121, 207, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(207, 121, 207, .78);
    box-shadow: 0em -0.5em 1em rgba(207, 121, 207, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyPlum3,
.hover_shadow_bottom_glassyPlum3:hover,
.active_shadow_bottom_glassyPlum3:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(201, 103, 201, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(201, 103, 201, .39);
    box-shadow: 0em 0.5em 1em rgba(201, 103, 201, .39);
}

.shadow_bottom_glassyPlum3h,
.hover_shadow_bottom_glassyPlum3h:hover,
.active_shadow_bottom_glassyPlum3h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(217, 148, 217, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(217, 148, 217, .50);
    box-shadow: 0em 0.5em 1em rgba(217, 148, 217, .50);
}

.shadow_bottom_glassyPlum3a,
.hover_shadow_bottom_glassyPlum3a:hover,
.active_shadow_bottom_glassyPlum3a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(207, 121, 207, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(207, 121, 207, .63);
    box-shadow: 0em 0.5em 1em rgba(207, 121, 207, .63);
}

.shadow_bottom_glassyPlum3s,
.hover_shadow_bottom_glassyPlum3s:hover,
.active_shadow_bottom_glassyPlum3s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(207, 121, 207, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(207, 121, 207, .78);
    box-shadow: 0em 0.5em 1em rgba(207, 121, 207, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyPlum3,
.hover_shadow_top_left_glassyPlum3:hover,
.active_shadow_top_left_glassyPlum3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(201, 103, 201, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(201, 103, 201, .39);
    box-shadow: -0.5em -0.5em 1em rgba(201, 103, 201, .39);
}

.shadow_top_left_glassyPlum3h,
.hover_shadow_top_left_glassyPlum3h:hover,
.active_shadow_top_left_glassyPlum3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(217, 148, 217, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(217, 148, 217, .50);
    box-shadow: -0.5em -0.5em 1em rgba(217, 148, 217, .50);
}

.shadow_top_left_glassyPlum3a,
.hover_shadow_top_left_glassyPlum3a:hover,
.active_shadow_top_left_glassyPlum3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(207, 121, 207, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(207, 121, 207, .63);
    box-shadow: -0.5em -0.5em 1em rgba(207, 121, 207, .63);
}

.shadow_top_left_glassyPlum3s,
.hover_shadow_top_left_glassyPlum3s:hover,
.active_shadow_top_left_glassyPlum3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(207, 121, 207, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(207, 121, 207, .78);
    box-shadow: -0.5em -0.5em 1em rgba(207, 121, 207, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyPlum3,
.hover_shadow_top_right_glassyPlum3:hover,
.active_shadow_top_right_glassyPlum3:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(201, 103, 201, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(201, 103, 201, .39);
    box-shadow: 0.5em -0.5em 1em rgba(201, 103, 201, .39);
}

.shadow_top_right_glassyPlum3h,
.hover_shadow_top_right_glassyPlum3h:hover,
.active_shadow_top_right_glassyPlum3h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(217, 148, 217, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(217, 148, 217, .50);
    box-shadow: 0.5em -0.5em 1em rgba(217, 148, 217, .50);
}

.shadow_top_right_glassyPlum3a,
.hover_shadow_top_right_glassyPlum3a:hover,
.active_shadow_top_right_glassyPlum3a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(207, 121, 207, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(207, 121, 207, .63);
    box-shadow: 0.5em -0.5em 1em rgba(207, 121, 207, .63);
}

.shadow_top_right_glassyPlum3s,
.hover_shadow_top_right_glassyPlum3s:hover,
.active_shadow_top_right_glassyPlum3s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(207, 121, 207, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(207, 121, 207, .78);
    box-shadow: 0.5em -0.5em 1em rgba(207, 121, 207, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyPlum3,
.hover_shadow_bottom_left_glassyPlum3:hover,
.active_shadow_bottom_left_glassyPlum3:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(201, 103, 201, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(201, 103, 201, .39);
    box-shadow: -0.5em 0.5em 1em rgba(201, 103, 201, .39);
}

.shadow_bottom_left_glassyPlum3h,
.hover_shadow_bottom_left_glassyPlum3h:hover,
.active_shadow_bottom_left_glassyPlum3h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(217, 148, 217, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(217, 148, 217, .50);
    box-shadow: -0.5em 0.5em 1em rgba(217, 148, 217, .50);
}

.shadow_bottom_left_glassyPlum3a,
.hover_shadow_bottom_left_glassyPlum3a:hover,
.active_shadow_bottom_left_glassyPlum3a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(207, 121, 207, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(207, 121, 207, .63);
    box-shadow: -0.5em 0.5em 1em rgba(207, 121, 207, .63);
}

.shadow_bottom_left_glassyPlum3s,
.hover_shadow_bottom_left_glassyPlum3s:hover,
.active_shadow_bottom_left_glassyPlum3s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(207, 121, 207, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(207, 121, 207, .78);
    box-shadow: -0.5em 0.5em 1em rgba(207, 121, 207, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyPlum3,
.hover_shadow_bottom_right_glassyPlum3:hover,
.active_shadow_bottom_right_glassyPlum3:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(201, 103, 201, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(201, 103, 201, .39);
    box-shadow: 0.5em 0.5em 1em rgba(201, 103, 201, .39);
}

.shadow_bottom_right_glassyPlum3h,
.hover_shadow_bottom_right_glassyPlum3h:hover,
.active_shadow_bottom_right_glassyPlum3h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(217, 148, 217, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(217, 148, 217, .50);
    box-shadow: 0.5em 0.5em 1em rgba(217, 148, 217, .50);
}

.shadow_bottom_right_glassyPlum3a,
 .hover_shadow_bottom_right_glassyPlum3a:hover,
 .active_shadow_bottom_right_glassyPlum3a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(207, 121, 207, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(207, 121, 207, .63);
     box-shadow: 0.5em 0.5em 1em rgba(207, 121, 207, .63);
 }

 .shadow_bottom_right_glassyPlum3s,
 .hover_shadow_bottom_right_glassyPlum3s:hover,
 .active_shadow_bottom_right_glassyPlum3s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(207, 121, 207, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(207, 121, 207, .78);
     box-shadow: 0.5em 0.5em 1em rgba(207, 121, 207, .78);
 }