.background_ghostWhite8,
.hover_background_ghostWhite8:hover,
.active_background_ghostWhite8:active:hover {
    background: #00008a;
    background-image: -moz-linear-gradient(top,  rgb(0, 0, 173) 0%, rgb(0, 0, 138) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 0, 173)), color-stop(100%, rgb(0, 0, 138)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 0, 173) 0%, rgb(0, 0, 138) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 0, 173) 0%, rgb(0, 0, 138) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 0, 173) 0%, rgb(0, 0, 138) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 0, 173) 0%, rgb(0, 0, 138) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ad', endColorstr='#00008a',GradientType=0 );
}

.background_ghostWhite8h,
.hover_background_ghostWhite8h:hover,
.active_background_ghostWhite8h:active:hover {
    background: #00008a;
    background-image: -moz-linear-gradient(top,  rgb(0, 0, 207) 0%, rgb(0, 0, 166) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 0, 207)), color-stop(100%, rgb(0, 0, 166)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 0, 207) 0%, rgb(0, 0, 166) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 0, 207) 0%, rgb(0, 0, 166) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 0, 207) 0%, rgb(0, 0, 166) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 0, 207) 0%, rgb(0, 0, 166) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000cf', endColorstr='#0000a6',GradientType=0 );
}

.background_ghostWhite8a,
.hover_background_ghostWhite8a:hover,
.active_background_ghostWhite8a:active:hover {
    background: #00008a;
    background-image: -moz-linear-gradient(top,  rgb(0, 0, 166) 0%, rgb(0, 0, 207) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 0, 166)), color-stop(100%, rgb(0, 0, 207)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 0, 166) 0%, rgb(0, 0, 207) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 0, 166) 0%, rgb(0, 0, 207) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 0, 166) 0%, rgb(0, 0, 207) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 0, 166) 0%, rgb(0, 0, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000a6', endColorstr='#0000cf',GradientType=0 );
}

.background_ghostWhite8s,
.hover_background_ghostWhite8s:hover,
.active_background_ghostWhite8s:active:hover {
    background: #00008a;
    background-image: -moz-linear-gradient(top,  rgb(4, 4, 255) 0%, rgb(0, 0, 207) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(4, 4, 255)), color-stop(100%, rgb(0, 0, 207)));
    background-image: -webkit-linear-gradient(top,  rgb(4, 4, 255) 0%, rgb(0, 0, 207) 100%);
    background-image: -o-linear-gradient(top,  rgb(4, 4, 255) 0%, rgb(0, 0, 207) 100%);
    background-image: -ms-linear-gradient(top, rgb(4, 4, 255) 0%, rgb(0, 0, 207) 100%);
    background-image: linear-gradient(to bottom,  rgb(4, 4, 255) 0%, rgb(0, 0, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0404ff', endColorstr='#0000cf',GradientType=0 );
}

.background_color_ghostWhite8,
.hover_background_color_ghostWhite8:hover,
.active_background_color_ghostWhite8:active:hover {
    background-color:#00008a;
}

.background_first_color_ghostWhite8,
.hover_background_first_color_ghostWhite8:hover,
.active_background_first_color_ghostWhite8:active:hover {
    background-color:#0000ad;
}

.background_last_color_ghostWhite8,
.hover_background_last_color_ghostWhite8:hover,
.active_background_color_last_ghostWhite8:active:hover {
   background-color:#00008a;
}

/* ------------------------------ color settings -------------------------------*/
.color_ghostWhite8,
.hover_color_ghostWhite8:hover,
.active_color_ghostWhite8:active:hover {
    color: #c8c8c8;
}

.color_ghostWhite8h,
.hover_color_ghostWhite8h:hover,
.active_color_ghostWhite8h:active:hover {
    color: #c8c8c8;
}

.color_ghostWhite8a,
.hover_color_ghostWhite8a:hover,
.active_color_ghostWhite8a:active:hover {
    color: #ff0;
}

.color_ghostWhite8s,
.hover_color_ghostWhite8s:hover,
.active_color_ghostWhite8s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_ghostWhite8,
.hover_border_ghostWhite8:hover,
.active_border_ghostWhite8:active:hover {
    border-color: #00008a #00008a #00008a #00008a;
}

.border_ghostWhite8h,
.hover_border_ghostWhite8h:hover,
.active_border_ghostWhite8h:active:hover {
    border-color: #00007c #00007c #00007c #00007c;
}

.border_ghostWhite8a,
.hover_border_ghostWhite8a:hover,
.active_border_ghostWhite8a:active:hover {
    border-color: #00006f #00006f #00006f #00006f;
}

.border_ghostWhite8s,
.hover_border_ghostWhite8s:hover,
.active_border_ghostWhite8s:active:hover {
    border-color: #0000cf #0000cf #0000cf #0000cf;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_ghostWhite8,
.hover_shadow_expand_ghostWhite8:hover,
.active_shadow_expand_ghostWhite8:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 138, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 138, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 138, .39);
}

.shadow_expand_ghostWhite8h,
.hover_shadow_expand_ghostWhite8h:hover,
.active_shadow_expand_ghostWhite8h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 166, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 166, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 166, .50);
}

.shadow_expand_ghostWhite8a,
.hover_shadow_expand_ghostWhite8a:hover,
.active_shadow_expand_ghostWhite8a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 207, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 207, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 207, .63);
}

.shadow_expand_ghostWhite8s,
.hover_shadow_expand_ghostWhite8s:hover,
.active_shadow_expand_ghostWhite8s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 207, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 207, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 0, 207, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_ghostWhite8,
.hover_shadow_left_ghostWhite8:hover,
.active_shadow_left_ghostWhite8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 138, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 138, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 138, .39);
}

.shadow_left_ghostWhite8h,
.hover_shadow_left_ghostWhite8h:hover,
.active_shadow_left_ghostWhite8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 166, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 166, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 166, .50);
}

.shadow_left_ghostWhite8a,
.hover_shadow_left_ghostWhite8a:hover,
.active_shadow_left_ghostWhite8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 207, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 207, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 207, .63);
}

.shadow_left_ghostWhite8s,
.hover_shadow_left_ghostWhite8s:hover,
.active_shadow_left_ghostWhite8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 207, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 207, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 207, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_ghostWhite8,
.hover_shadow_right_ghostWhite8:hover,
.active_shadow_right_ghostWhite8:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 0, 138, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 0, 138, .39);
    box-shadow: 0.5em 0em 1em rgba(0, 0, 138, .39);
}

.shadow_right_ghostWhite8h,
.hover_shadow_right_ghostWhite8h:hover,
.active_shadow_right_ghostWhite8h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 0, 166, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 0, 166, .50);
    box-shadow: 0.5em 0em 1em rgba(0, 0, 166, .50);
}

.shadow_right_ghostWhite8a,
.hover_shadow_right_ghostWhite8a:hover,
.active_shadow_right_ghostWhite8a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 0, 207, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 0, 207, .63);
    box-shadow: 0.5em 0em 1em rgba(0, 0, 207, .63);
}

.shadow_right_ghostWhite8s,
.hover_shadow_right_ghostWhite8s:hover,
.active_shadow_right_ghostWhite8s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 0, 207, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 0, 207, .78);
    box-shadow: 0.5em 0em 1em rgba(0, 0, 207, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_ghostWhite8,
.hover_shadow_top_ghostWhite8:hover,
.active_shadow_top_ghostWhite8:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 0, 138, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 0, 138, .39);
    box-shadow: 0em -0.5em 1em rgba(0, 0, 138, .39);
}

.shadow_top_ghostWhite8h,
.hover_shadow_top_ghostWhite8h:hover,
.active_shadow_top_ghostWhite8h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 0, 166, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 0, 166, .50);
    box-shadow: 0em -0.5em 1em rgba(0, 0, 166, .50);
}

.shadow_top_ghostWhite8a,
.hover_shadow_top_ghostWhite8a:hover,
.active_shadow_top_ghostWhite8a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 0, 207, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 0, 207, .63);
    box-shadow: 0em -0.5em 1em rgba(0, 0, 207, .63);
}

.shadow_top_ghostWhite8s,
.hover_shadow_top_ghostWhite8s:hover,
.active_shadow_top_ghostWhite8s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 0, 207, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 0, 207, .78);
    box-shadow: 0em -0.5em 1em rgba(0, 0, 207, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_ghostWhite8,
.hover_shadow_bottom_ghostWhite8:hover,
.active_shadow_bottom_ghostWhite8:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 0, 138, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 0, 138, .39);
    box-shadow: 0em 0.5em 1em rgba(0, 0, 138, .39);
}

.shadow_bottom_ghostWhite8h,
.hover_shadow_bottom_ghostWhite8h:hover,
.active_shadow_bottom_ghostWhite8h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 0, 166, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 0, 166, .50);
    box-shadow: 0em 0.5em 1em rgba(0, 0, 166, .50);
}

.shadow_bottom_ghostWhite8a,
.hover_shadow_bottom_ghostWhite8a:hover,
.active_shadow_bottom_ghostWhite8a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 0, 207, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 0, 207, .63);
    box-shadow: 0em 0.5em 1em rgba(0, 0, 207, .63);
}

.shadow_bottom_ghostWhite8s,
.hover_shadow_bottom_ghostWhite8s:hover,
.active_shadow_bottom_ghostWhite8s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 0, 207, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 0, 207, .78);
    box-shadow: 0em 0.5em 1em rgba(0, 0, 207, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_ghostWhite8,
.hover_shadow_top_left_ghostWhite8:hover,
.active_shadow_top_left_ghostWhite8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 138, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 138, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 138, .39);
}

.shadow_top_left_ghostWhite8h,
.hover_shadow_top_left_ghostWhite8h:hover,
.active_shadow_top_left_ghostWhite8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 166, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 166, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 166, .50);
}

.shadow_top_left_ghostWhite8a,
.hover_shadow_top_left_ghostWhite8a:hover,
.active_shadow_top_left_ghostWhite8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 207, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 207, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 207, .63);
}

.shadow_top_left_ghostWhite8s,
.hover_shadow_top_left_ghostWhite8s:hover,
.active_shadow_top_left_ghostWhite8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 207, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 0, 207, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 0, 207, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_ghostWhite8,
.hover_shadow_top_right_ghostWhite8:hover,
.active_shadow_top_right_ghostWhite8:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 138, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 138, .39);
    box-shadow: 0.5em -0.5em 1em rgba(0, 0, 138, .39);
}

.shadow_top_right_ghostWhite8h,
.hover_shadow_top_right_ghostWhite8h:hover,
.active_shadow_top_right_ghostWhite8h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 166, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 166, .50);
    box-shadow: 0.5em -0.5em 1em rgba(0, 0, 166, .50);
}

.shadow_top_right_ghostWhite8a,
.hover_shadow_top_right_ghostWhite8a:hover,
.active_shadow_top_right_ghostWhite8a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 207, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 207, .63);
    box-shadow: 0.5em -0.5em 1em rgba(0, 0, 207, .63);
}

.shadow_top_right_ghostWhite8s,
.hover_shadow_top_right_ghostWhite8s:hover,
.active_shadow_top_right_ghostWhite8s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 207, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 0, 207, .78);
    box-shadow: 0.5em -0.5em 1em rgba(0, 0, 207, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_ghostWhite8,
.hover_shadow_bottom_left_ghostWhite8:hover,
.active_shadow_bottom_left_ghostWhite8:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 138, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 138, .39);
    box-shadow: -0.5em 0.5em 1em rgba(0, 0, 138, .39);
}

.shadow_bottom_left_ghostWhite8h,
.hover_shadow_bottom_left_ghostWhite8h:hover,
.active_shadow_bottom_left_ghostWhite8h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 166, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 166, .50);
    box-shadow: -0.5em 0.5em 1em rgba(0, 0, 166, .50);
}

.shadow_bottom_left_ghostWhite8a,
.hover_shadow_bottom_left_ghostWhite8a:hover,
.active_shadow_bottom_left_ghostWhite8a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 207, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 207, .63);
    box-shadow: -0.5em 0.5em 1em rgba(0, 0, 207, .63);
}

.shadow_bottom_left_ghostWhite8s,
.hover_shadow_bottom_left_ghostWhite8s:hover,
.active_shadow_bottom_left_ghostWhite8s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 207, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 0, 207, .78);
    box-shadow: -0.5em 0.5em 1em rgba(0, 0, 207, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_ghostWhite8,
.hover_shadow_bottom_right_ghostWhite8:hover,
.active_shadow_bottom_right_ghostWhite8:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 138, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 138, .39);
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 138, .39);
}

.shadow_bottom_right_ghostWhite8h,
.hover_shadow_bottom_right_ghostWhite8h:hover,
.active_shadow_bottom_right_ghostWhite8h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 166, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 166, .50);
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 166, .50);
}

.shadow_bottom_right_ghostWhite8a,
 .hover_shadow_bottom_right_ghostWhite8a:hover,
 .active_shadow_bottom_right_ghostWhite8a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 207, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 207, .63);
     box-shadow: 0.5em 0.5em 1em rgba(0, 0, 207, .63);
 }

 .shadow_bottom_right_ghostWhite8s,
 .hover_shadow_bottom_right_ghostWhite8s:hover,
 .active_shadow_bottom_right_ghostWhite8s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 207, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 0, 207, .78);
     box-shadow: 0.5em 0.5em 1em rgba(0, 0, 207, .78);
 }