.background_glassyAntiqueWhite4,
.hover_background_glassyAntiqueWhite4:hover,
.active_background_glassyAntiqueWhite4:active:hover {
    background: #e69b38;
    background-image: -moz-linear-gradient(top,  rgb(227, 143, 30) 0%, rgb(203, 127, 25) 50%, rgb(178, 111, 22) 55%, rgb(230, 155, 56) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(227, 143, 30)), color-stop(50%, rgb(203, 127, 25)), color-stop(55%, rgb(178, 111, 22)), color-stop(100%, rgb(230, 155, 56)));
    background-image: -webkit-linear-gradient(top,  rgb(227, 143, 30) 0%, rgb(203, 127, 25) 50%, rgb(178, 111, 22) 55%, rgb(230, 155, 56) 100%);
    background-image: -o-linear-gradient(top,  rgb(227, 143, 30) 0%, rgb(203, 127, 25) 50%, rgb(178, 111, 22) 55%, rgb(230, 155, 56) 100%);
    background-image: -ms-linear-gradient(top, rgb(227, 143, 30) 0%, rgb(203, 127, 25) 50%, rgb(178, 111, 22) 55%, rgb(230, 155, 56) 100%);
    background-image: linear-gradient(to bottom,  rgb(227, 143, 30) 0%, rgb(203, 127, 25) 50%, rgb(178, 111, 22) 55%, rgb(230, 155, 56) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e38f1e', endColorstr='#e69b38',GradientType=0 );
}

.background_glassyAntiqueWhite4h,
.hover_background_glassyAntiqueWhite4h:hover,
.active_background_glassyAntiqueWhite4h:active:hover {
    background: #e69b38;
    background-image: -moz-linear-gradient(top,  rgb(233, 165, 76) 0%, rgb(229, 150, 45) 50%, rgb(213, 133, 27) 55%, rgb(236, 181, 106) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(233, 165, 76)), color-stop(50%, rgb(229, 150, 45)), color-stop(55%, rgb(213, 133, 27)), color-stop(100%, rgb(236, 181, 106)));
    background-image: -webkit-linear-gradient(top,  rgb(233, 165, 76) 0%, rgb(229, 150, 45) 50%, rgb(213, 133, 27) 55%, rgb(236, 181, 106) 100%);
    background-image: -o-linear-gradient(top,  rgb(233, 165, 76) 0%, rgb(229, 150, 45) 50%, rgb(213, 133, 27) 55%, rgb(236, 181, 106) 100%);
    background-image: -ms-linear-gradient(top, rgb(233, 165, 76) 0%, rgb(229, 150, 45) 50%, rgb(213, 133, 27) 55%, rgb(236, 181, 106) 100%);
    background-image: linear-gradient(to bottom,  rgb(233, 165, 76) 0%, rgb(229, 150, 45) 50%, rgb(213, 133, 27) 55%, rgb(236, 181, 106) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9a54c', endColorstr='#ecb56a',GradientType=0 );
}

.background_glassyAntiqueWhite4a,
.hover_background_glassyAntiqueWhite4a:hover,
.active_background_glassyAntiqueWhite4a:active:hover {
    background: #e69b38;
    background-image: -moz-linear-gradient(top,  rgb(236, 181, 106) 0%, rgb(213, 133, 27) 50%, rgb(229, 150, 45) 55%, rgb(233, 165, 76) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(236, 181, 106)), color-stop(50%, rgb(213, 133, 27)), color-stop(55%, rgb(229, 150, 45)), color-stop(100%, rgb(233, 165, 76)));
    background-image: -webkit-linear-gradient(top,  rgb(236, 181, 106) 0%, rgb(213, 133, 27) 50%, rgb(229, 150, 45) 55%, rgb(233, 165, 76) 100%);
    background-image: -o-linear-gradient(top,  rgb(236, 181, 106) 0%, rgb(213, 133, 27) 50%, rgb(229, 150, 45) 55%, rgb(233, 165, 76) 100%);
    background-image: -ms-linear-gradient(top, rgb(236, 181, 106) 0%, rgb(213, 133, 27) 50%, rgb(229, 150, 45) 55%, rgb(233, 165, 76) 100%);
    background-image: linear-gradient(to bottom,  rgb(236, 181, 106) 0%, rgb(213, 133, 27) 50%, rgb(229, 150, 45) 55%, rgb(233, 165, 76) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecb56a', endColorstr='#e9a54c',GradientType=0 );
}

.background_glassyAntiqueWhite4s,
.hover_background_glassyAntiqueWhite4s:hover,
.active_background_glassyAntiqueWhite4s:active:hover {
    background: #e69b38;
    background-image: -moz-linear-gradient(top,  rgb(241, 200, 144) 0%, rgb(236, 181, 106) 50%, rgb(232, 162, 68) 55%, rgb(246, 219, 182) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(241, 200, 144)), color-stop(50%, rgb(236, 181, 106)), color-stop(55%, rgb(232, 162, 68)), color-stop(100%, rgb(246, 219, 182)));
    background-image: -webkit-linear-gradient(top,  rgb(241, 200, 144) 0%, rgb(236, 181, 106) 50%, rgb(232, 162, 68) 55%, rgb(246, 219, 182) 100%);
    background-image: -o-linear-gradient(top,  rgb(241, 200, 144) 0%, rgb(236, 181, 106) 50%, rgb(232, 162, 68) 55%, rgb(246, 219, 182) 100%);
    background-image: -ms-linear-gradient(top, rgb(241, 200, 144) 0%, rgb(236, 181, 106) 50%, rgb(232, 162, 68) 55%, rgb(246, 219, 182) 100%);
    background-image: linear-gradient(to bottom,  rgb(241, 200, 144) 0%, rgb(236, 181, 106) 50%, rgb(232, 162, 68) 55%, rgb(246, 219, 182) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1c890', endColorstr='#f6dbb6',GradientType=0 );
}

.background_color_glassyAntiqueWhite4,
.hover_background_color_glassyAntiqueWhite4:hover,
.active_background_color_glassyAntiqueWhite4:active:hover {
    background-color:#e69b38;
}

.background_first_color_glassyAntiqueWhite4,
.hover_background_first_color_glassyAntiqueWhite4:hover,
.active_background_first_color_glassyAntiqueWhite4:active:hover {
    background-color:#e38f1e;
}

.background_last_color_glassyAntiqueWhite4,
.hover_background_last_color_glassyAntiqueWhite4:hover,
.active_background_color_last_glassyAntiqueWhite4:active:hover {
   background-color:#e69b38;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyAntiqueWhite4,
.hover_color_glassyAntiqueWhite4:hover,
.active_color_glassyAntiqueWhite4:active:hover {
    color: #282828;
}

.color_glassyAntiqueWhite4h,
.hover_color_glassyAntiqueWhite4h:hover,
.active_color_glassyAntiqueWhite4h:active:hover {
    color: #282828;
}

.color_glassyAntiqueWhite4a,
.hover_color_glassyAntiqueWhite4a:hover,
.active_color_glassyAntiqueWhite4a:active:hover {
    color: #ff0;
}

.color_glassyAntiqueWhite4s,
.hover_color_glassyAntiqueWhite4s:hover,
.active_color_glassyAntiqueWhite4s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyAntiqueWhite4,
.hover_border_glassyAntiqueWhite4:hover,
.active_border_glassyAntiqueWhite4:active:hover {
    border-color: #b77217 #985f13 #985f13 #b77217;
}

.border_glassyAntiqueWhite4h,
.hover_border_glassyAntiqueWhite4h:hover,
.active_border_glassyAntiqueWhite4h:active:hover {
    border-color: #b77217 #985f13 #985f13 #b77217;
}

.border_glassyAntiqueWhite4a,
.hover_border_glassyAntiqueWhite4a:hover,
.active_border_glassyAntiqueWhite4a:active:hover {
    border-color: #8e5912 #8e5912 #8e5912 #8e5912;
}

.border_glassyAntiqueWhite4s,
.hover_border_glassyAntiqueWhite4s:hover,
.active_border_glassyAntiqueWhite4s:active:hover {
    border-color: #8e5912 #8e5912 #8e5912 #8e5912;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyAntiqueWhite4,
.hover_shadow_expand_glassyAntiqueWhite4:hover,
.active_shadow_expand_glassyAntiqueWhite4:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(230, 155, 56, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(230, 155, 56, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(230, 155, 56, .39);
}

.shadow_expand_glassyAntiqueWhite4h,
.hover_shadow_expand_glassyAntiqueWhite4h:hover,
.active_shadow_expand_glassyAntiqueWhite4h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(236, 181, 106, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(236, 181, 106, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(236, 181, 106, .50);
}

.shadow_expand_glassyAntiqueWhite4a,
.hover_shadow_expand_glassyAntiqueWhite4a:hover,
.active_shadow_expand_glassyAntiqueWhite4a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(233, 165, 76, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(233, 165, 76, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(233, 165, 76, .63);
}

.shadow_expand_glassyAntiqueWhite4s,
.hover_shadow_expand_glassyAntiqueWhite4s:hover,
.active_shadow_expand_glassyAntiqueWhite4s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(233, 165, 76, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(233, 165, 76, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(233, 165, 76, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyAntiqueWhite4,
.hover_shadow_left_glassyAntiqueWhite4:hover,
.active_shadow_left_glassyAntiqueWhite4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(230, 155, 56, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(230, 155, 56, .39);
    box-shadow: -0.5em -0.5em 1em rgba(230, 155, 56, .39);
}

.shadow_left_glassyAntiqueWhite4h,
.hover_shadow_left_glassyAntiqueWhite4h:hover,
.active_shadow_left_glassyAntiqueWhite4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(236, 181, 106, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(236, 181, 106, .50);
    box-shadow: -0.5em -0.5em 1em rgba(236, 181, 106, .50);
}

.shadow_left_glassyAntiqueWhite4a,
.hover_shadow_left_glassyAntiqueWhite4a:hover,
.active_shadow_left_glassyAntiqueWhite4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(233, 165, 76, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(233, 165, 76, .63);
    box-shadow: -0.5em -0.5em 1em rgba(233, 165, 76, .63);
}

.shadow_left_glassyAntiqueWhite4s,
.hover_shadow_left_glassyAntiqueWhite4s:hover,
.active_shadow_left_glassyAntiqueWhite4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(233, 165, 76, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(233, 165, 76, .78);
    box-shadow: -0.5em -0.5em 1em rgba(233, 165, 76, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyAntiqueWhite4,
.hover_shadow_right_glassyAntiqueWhite4:hover,
.active_shadow_right_glassyAntiqueWhite4:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(230, 155, 56, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(230, 155, 56, .39);
    box-shadow: 0.5em 0em 1em rgba(230, 155, 56, .39);
}

.shadow_right_glassyAntiqueWhite4h,
.hover_shadow_right_glassyAntiqueWhite4h:hover,
.active_shadow_right_glassyAntiqueWhite4h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(236, 181, 106, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(236, 181, 106, .50);
    box-shadow: 0.5em 0em 1em rgba(236, 181, 106, .50);
}

.shadow_right_glassyAntiqueWhite4a,
.hover_shadow_right_glassyAntiqueWhite4a:hover,
.active_shadow_right_glassyAntiqueWhite4a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(233, 165, 76, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(233, 165, 76, .63);
    box-shadow: 0.5em 0em 1em rgba(233, 165, 76, .63);
}

.shadow_right_glassyAntiqueWhite4s,
.hover_shadow_right_glassyAntiqueWhite4s:hover,
.active_shadow_right_glassyAntiqueWhite4s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(233, 165, 76, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(233, 165, 76, .78);
    box-shadow: 0.5em 0em 1em rgba(233, 165, 76, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyAntiqueWhite4,
.hover_shadow_top_glassyAntiqueWhite4:hover,
.active_shadow_top_glassyAntiqueWhite4:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(230, 155, 56, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(230, 155, 56, .39);
    box-shadow: 0em -0.5em 1em rgba(230, 155, 56, .39);
}

.shadow_top_glassyAntiqueWhite4h,
.hover_shadow_top_glassyAntiqueWhite4h:hover,
.active_shadow_top_glassyAntiqueWhite4h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(236, 181, 106, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(236, 181, 106, .50);
    box-shadow: 0em -0.5em 1em rgba(236, 181, 106, .50);
}

.shadow_top_glassyAntiqueWhite4a,
.hover_shadow_top_glassyAntiqueWhite4a:hover,
.active_shadow_top_glassyAntiqueWhite4a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(233, 165, 76, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(233, 165, 76, .63);
    box-shadow: 0em -0.5em 1em rgba(233, 165, 76, .63);
}

.shadow_top_glassyAntiqueWhite4s,
.hover_shadow_top_glassyAntiqueWhite4s:hover,
.active_shadow_top_glassyAntiqueWhite4s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(233, 165, 76, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(233, 165, 76, .78);
    box-shadow: 0em -0.5em 1em rgba(233, 165, 76, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyAntiqueWhite4,
.hover_shadow_bottom_glassyAntiqueWhite4:hover,
.active_shadow_bottom_glassyAntiqueWhite4:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(230, 155, 56, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(230, 155, 56, .39);
    box-shadow: 0em 0.5em 1em rgba(230, 155, 56, .39);
}

.shadow_bottom_glassyAntiqueWhite4h,
.hover_shadow_bottom_glassyAntiqueWhite4h:hover,
.active_shadow_bottom_glassyAntiqueWhite4h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(236, 181, 106, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(236, 181, 106, .50);
    box-shadow: 0em 0.5em 1em rgba(236, 181, 106, .50);
}

.shadow_bottom_glassyAntiqueWhite4a,
.hover_shadow_bottom_glassyAntiqueWhite4a:hover,
.active_shadow_bottom_glassyAntiqueWhite4a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(233, 165, 76, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(233, 165, 76, .63);
    box-shadow: 0em 0.5em 1em rgba(233, 165, 76, .63);
}

.shadow_bottom_glassyAntiqueWhite4s,
.hover_shadow_bottom_glassyAntiqueWhite4s:hover,
.active_shadow_bottom_glassyAntiqueWhite4s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(233, 165, 76, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(233, 165, 76, .78);
    box-shadow: 0em 0.5em 1em rgba(233, 165, 76, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyAntiqueWhite4,
.hover_shadow_top_left_glassyAntiqueWhite4:hover,
.active_shadow_top_left_glassyAntiqueWhite4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(230, 155, 56, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(230, 155, 56, .39);
    box-shadow: -0.5em -0.5em 1em rgba(230, 155, 56, .39);
}

.shadow_top_left_glassyAntiqueWhite4h,
.hover_shadow_top_left_glassyAntiqueWhite4h:hover,
.active_shadow_top_left_glassyAntiqueWhite4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(236, 181, 106, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(236, 181, 106, .50);
    box-shadow: -0.5em -0.5em 1em rgba(236, 181, 106, .50);
}

.shadow_top_left_glassyAntiqueWhite4a,
.hover_shadow_top_left_glassyAntiqueWhite4a:hover,
.active_shadow_top_left_glassyAntiqueWhite4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(233, 165, 76, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(233, 165, 76, .63);
    box-shadow: -0.5em -0.5em 1em rgba(233, 165, 76, .63);
}

.shadow_top_left_glassyAntiqueWhite4s,
.hover_shadow_top_left_glassyAntiqueWhite4s:hover,
.active_shadow_top_left_glassyAntiqueWhite4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(233, 165, 76, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(233, 165, 76, .78);
    box-shadow: -0.5em -0.5em 1em rgba(233, 165, 76, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyAntiqueWhite4,
.hover_shadow_top_right_glassyAntiqueWhite4:hover,
.active_shadow_top_right_glassyAntiqueWhite4:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(230, 155, 56, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(230, 155, 56, .39);
    box-shadow: 0.5em -0.5em 1em rgba(230, 155, 56, .39);
}

.shadow_top_right_glassyAntiqueWhite4h,
.hover_shadow_top_right_glassyAntiqueWhite4h:hover,
.active_shadow_top_right_glassyAntiqueWhite4h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(236, 181, 106, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(236, 181, 106, .50);
    box-shadow: 0.5em -0.5em 1em rgba(236, 181, 106, .50);
}

.shadow_top_right_glassyAntiqueWhite4a,
.hover_shadow_top_right_glassyAntiqueWhite4a:hover,
.active_shadow_top_right_glassyAntiqueWhite4a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(233, 165, 76, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(233, 165, 76, .63);
    box-shadow: 0.5em -0.5em 1em rgba(233, 165, 76, .63);
}

.shadow_top_right_glassyAntiqueWhite4s,
.hover_shadow_top_right_glassyAntiqueWhite4s:hover,
.active_shadow_top_right_glassyAntiqueWhite4s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(233, 165, 76, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(233, 165, 76, .78);
    box-shadow: 0.5em -0.5em 1em rgba(233, 165, 76, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyAntiqueWhite4,
.hover_shadow_bottom_left_glassyAntiqueWhite4:hover,
.active_shadow_bottom_left_glassyAntiqueWhite4:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(230, 155, 56, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(230, 155, 56, .39);
    box-shadow: -0.5em 0.5em 1em rgba(230, 155, 56, .39);
}

.shadow_bottom_left_glassyAntiqueWhite4h,
.hover_shadow_bottom_left_glassyAntiqueWhite4h:hover,
.active_shadow_bottom_left_glassyAntiqueWhite4h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(236, 181, 106, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(236, 181, 106, .50);
    box-shadow: -0.5em 0.5em 1em rgba(236, 181, 106, .50);
}

.shadow_bottom_left_glassyAntiqueWhite4a,
.hover_shadow_bottom_left_glassyAntiqueWhite4a:hover,
.active_shadow_bottom_left_glassyAntiqueWhite4a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(233, 165, 76, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(233, 165, 76, .63);
    box-shadow: -0.5em 0.5em 1em rgba(233, 165, 76, .63);
}

.shadow_bottom_left_glassyAntiqueWhite4s,
.hover_shadow_bottom_left_glassyAntiqueWhite4s:hover,
.active_shadow_bottom_left_glassyAntiqueWhite4s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(233, 165, 76, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(233, 165, 76, .78);
    box-shadow: -0.5em 0.5em 1em rgba(233, 165, 76, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyAntiqueWhite4,
.hover_shadow_bottom_right_glassyAntiqueWhite4:hover,
.active_shadow_bottom_right_glassyAntiqueWhite4:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(230, 155, 56, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(230, 155, 56, .39);
    box-shadow: 0.5em 0.5em 1em rgba(230, 155, 56, .39);
}

.shadow_bottom_right_glassyAntiqueWhite4h,
.hover_shadow_bottom_right_glassyAntiqueWhite4h:hover,
.active_shadow_bottom_right_glassyAntiqueWhite4h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(236, 181, 106, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(236, 181, 106, .50);
    box-shadow: 0.5em 0.5em 1em rgba(236, 181, 106, .50);
}

.shadow_bottom_right_glassyAntiqueWhite4a,
 .hover_shadow_bottom_right_glassyAntiqueWhite4a:hover,
 .active_shadow_bottom_right_glassyAntiqueWhite4a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(233, 165, 76, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(233, 165, 76, .63);
     box-shadow: 0.5em 0.5em 1em rgba(233, 165, 76, .63);
 }

 .shadow_bottom_right_glassyAntiqueWhite4s,
 .hover_shadow_bottom_right_glassyAntiqueWhite4s:hover,
 .active_shadow_bottom_right_glassyAntiqueWhite4s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(233, 165, 76, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(233, 165, 76, .78);
     box-shadow: 0.5em 0.5em 1em rgba(233, 165, 76, .78);
 }