.background_paleGreen6,
.hover_background_paleGreen6:hover,
.active_background_paleGreen6:active:hover {
    background: #058a05;
    background-image: -moz-linear-gradient(top,  rgb(7, 172, 7) 0%, rgb(5, 138, 5) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(7, 172, 7)), color-stop(100%, rgb(5, 138, 5)));
    background-image: -webkit-linear-gradient(top,  rgb(7, 172, 7) 0%, rgb(5, 138, 5) 100%);
    background-image: -o-linear-gradient(top,  rgb(7, 172, 7) 0%, rgb(5, 138, 5) 100%);
    background-image: -ms-linear-gradient(top, rgb(7, 172, 7) 0%, rgb(5, 138, 5) 100%);
    background-image: linear-gradient(to bottom,  rgb(7, 172, 7) 0%, rgb(5, 138, 5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07ac07', endColorstr='#058a05',GradientType=0 );
}

.background_paleGreen6h,
.hover_background_paleGreen6h:hover,
.active_background_paleGreen6h:active:hover {
    background: #058a05;
    background-image: -moz-linear-gradient(top,  rgb(8, 207, 8) 0%, rgb(6, 165, 6) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(8, 207, 8)), color-stop(100%, rgb(6, 165, 6)));
    background-image: -webkit-linear-gradient(top,  rgb(8, 207, 8) 0%, rgb(6, 165, 6) 100%);
    background-image: -o-linear-gradient(top,  rgb(8, 207, 8) 0%, rgb(6, 165, 6) 100%);
    background-image: -ms-linear-gradient(top, rgb(8, 207, 8) 0%, rgb(6, 165, 6) 100%);
    background-image: linear-gradient(to bottom,  rgb(8, 207, 8) 0%, rgb(6, 165, 6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08cf08', endColorstr='#06a506',GradientType=0 );
}

.background_paleGreen6a,
.hover_background_paleGreen6a:hover,
.active_background_paleGreen6a:active:hover {
    background: #058a05;
    background-image: -moz-linear-gradient(top,  rgb(6, 165, 6) 0%, rgb(8, 207, 8) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(6, 165, 6)), color-stop(100%, rgb(8, 207, 8)));
    background-image: -webkit-linear-gradient(top,  rgb(6, 165, 6) 0%, rgb(8, 207, 8) 100%);
    background-image: -o-linear-gradient(top,  rgb(6, 165, 6) 0%, rgb(8, 207, 8) 100%);
    background-image: -ms-linear-gradient(top, rgb(6, 165, 6) 0%, rgb(8, 207, 8) 100%);
    background-image: linear-gradient(to bottom,  rgb(6, 165, 6) 0%, rgb(8, 207, 8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a506', endColorstr='#08cf08',GradientType=0 );
}

.background_paleGreen6s,
.hover_background_paleGreen6s:hover,
.active_background_paleGreen6s:active:hover {
    background: #058a05;
    background-image: -moz-linear-gradient(top,  rgb(22, 246, 22) 0%, rgb(8, 207, 8) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(22, 246, 22)), color-stop(100%, rgb(8, 207, 8)));
    background-image: -webkit-linear-gradient(top,  rgb(22, 246, 22) 0%, rgb(8, 207, 8) 100%);
    background-image: -o-linear-gradient(top,  rgb(22, 246, 22) 0%, rgb(8, 207, 8) 100%);
    background-image: -ms-linear-gradient(top, rgb(22, 246, 22) 0%, rgb(8, 207, 8) 100%);
    background-image: linear-gradient(to bottom,  rgb(22, 246, 22) 0%, rgb(8, 207, 8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16f616', endColorstr='#08cf08',GradientType=0 );
}

.background_color_paleGreen6,
.hover_background_color_paleGreen6:hover,
.active_background_color_paleGreen6:active:hover {
    background-color:#058a05;
}

.background_first_color_paleGreen6,
.hover_background_first_color_paleGreen6:hover,
.active_background_first_color_paleGreen6:active:hover {
    background-color:#07ac07;
}

.background_last_color_paleGreen6,
.hover_background_last_color_paleGreen6:hover,
.active_background_color_last_paleGreen6:active:hover {
   background-color:#058a05;
}

/* ------------------------------ color settings -------------------------------*/
.color_paleGreen6,
.hover_color_paleGreen6:hover,
.active_color_paleGreen6:active:hover {
    color: #c8c8c8;
}

.color_paleGreen6h,
.hover_color_paleGreen6h:hover,
.active_color_paleGreen6h:active:hover {
    color: #c8c8c8;
}

.color_paleGreen6a,
.hover_color_paleGreen6a:hover,
.active_color_paleGreen6a:active:hover {
    color: #ff0;
}

.color_paleGreen6s,
.hover_color_paleGreen6s:hover,
.active_color_paleGreen6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_paleGreen6,
.hover_border_paleGreen6:hover,
.active_border_paleGreen6:active:hover {
    border-color: #058a05 #058a05 #058a05 #058a05;
}

.border_paleGreen6h,
.hover_border_paleGreen6h:hover,
.active_border_paleGreen6h:active:hover {
    border-color: #057c05 #057c05 #057c05 #057c05;
}

.border_paleGreen6a,
.hover_border_paleGreen6a:hover,
.active_border_paleGreen6a:active:hover {
    border-color: #046e04 #046e04 #046e04 #046e04;
}

.border_paleGreen6s,
.hover_border_paleGreen6s:hover,
.active_border_paleGreen6s:active:hover {
    border-color: #08cf08 #08cf08 #08cf08 #08cf08;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_paleGreen6,
.hover_shadow_expand_paleGreen6:hover,
.active_shadow_expand_paleGreen6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(5, 138, 5, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(5, 138, 5, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(5, 138, 5, .39);
}

.shadow_expand_paleGreen6h,
.hover_shadow_expand_paleGreen6h:hover,
.active_shadow_expand_paleGreen6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(6, 165, 6, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(6, 165, 6, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(6, 165, 6, .50);
}

.shadow_expand_paleGreen6a,
.hover_shadow_expand_paleGreen6a:hover,
.active_shadow_expand_paleGreen6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(8, 207, 8, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(8, 207, 8, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(8, 207, 8, .63);
}

.shadow_expand_paleGreen6s,
.hover_shadow_expand_paleGreen6s:hover,
.active_shadow_expand_paleGreen6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(8, 207, 8, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(8, 207, 8, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(8, 207, 8, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_paleGreen6,
.hover_shadow_left_paleGreen6:hover,
.active_shadow_left_paleGreen6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(5, 138, 5, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(5, 138, 5, .39);
    box-shadow: -0.5em -0.5em 1em rgba(5, 138, 5, .39);
}

.shadow_left_paleGreen6h,
.hover_shadow_left_paleGreen6h:hover,
.active_shadow_left_paleGreen6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(6, 165, 6, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(6, 165, 6, .50);
    box-shadow: -0.5em -0.5em 1em rgba(6, 165, 6, .50);
}

.shadow_left_paleGreen6a,
.hover_shadow_left_paleGreen6a:hover,
.active_shadow_left_paleGreen6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(8, 207, 8, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(8, 207, 8, .63);
    box-shadow: -0.5em -0.5em 1em rgba(8, 207, 8, .63);
}

.shadow_left_paleGreen6s,
.hover_shadow_left_paleGreen6s:hover,
.active_shadow_left_paleGreen6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(8, 207, 8, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(8, 207, 8, .78);
    box-shadow: -0.5em -0.5em 1em rgba(8, 207, 8, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_paleGreen6,
.hover_shadow_right_paleGreen6:hover,
.active_shadow_right_paleGreen6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(5, 138, 5, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(5, 138, 5, .39);
    box-shadow: 0.5em 0em 1em rgba(5, 138, 5, .39);
}

.shadow_right_paleGreen6h,
.hover_shadow_right_paleGreen6h:hover,
.active_shadow_right_paleGreen6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(6, 165, 6, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(6, 165, 6, .50);
    box-shadow: 0.5em 0em 1em rgba(6, 165, 6, .50);
}

.shadow_right_paleGreen6a,
.hover_shadow_right_paleGreen6a:hover,
.active_shadow_right_paleGreen6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(8, 207, 8, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(8, 207, 8, .63);
    box-shadow: 0.5em 0em 1em rgba(8, 207, 8, .63);
}

.shadow_right_paleGreen6s,
.hover_shadow_right_paleGreen6s:hover,
.active_shadow_right_paleGreen6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(8, 207, 8, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(8, 207, 8, .78);
    box-shadow: 0.5em 0em 1em rgba(8, 207, 8, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_paleGreen6,
.hover_shadow_top_paleGreen6:hover,
.active_shadow_top_paleGreen6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(5, 138, 5, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(5, 138, 5, .39);
    box-shadow: 0em -0.5em 1em rgba(5, 138, 5, .39);
}

.shadow_top_paleGreen6h,
.hover_shadow_top_paleGreen6h:hover,
.active_shadow_top_paleGreen6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(6, 165, 6, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(6, 165, 6, .50);
    box-shadow: 0em -0.5em 1em rgba(6, 165, 6, .50);
}

.shadow_top_paleGreen6a,
.hover_shadow_top_paleGreen6a:hover,
.active_shadow_top_paleGreen6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(8, 207, 8, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(8, 207, 8, .63);
    box-shadow: 0em -0.5em 1em rgba(8, 207, 8, .63);
}

.shadow_top_paleGreen6s,
.hover_shadow_top_paleGreen6s:hover,
.active_shadow_top_paleGreen6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(8, 207, 8, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(8, 207, 8, .78);
    box-shadow: 0em -0.5em 1em rgba(8, 207, 8, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_paleGreen6,
.hover_shadow_bottom_paleGreen6:hover,
.active_shadow_bottom_paleGreen6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(5, 138, 5, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(5, 138, 5, .39);
    box-shadow: 0em 0.5em 1em rgba(5, 138, 5, .39);
}

.shadow_bottom_paleGreen6h,
.hover_shadow_bottom_paleGreen6h:hover,
.active_shadow_bottom_paleGreen6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(6, 165, 6, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(6, 165, 6, .50);
    box-shadow: 0em 0.5em 1em rgba(6, 165, 6, .50);
}

.shadow_bottom_paleGreen6a,
.hover_shadow_bottom_paleGreen6a:hover,
.active_shadow_bottom_paleGreen6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(8, 207, 8, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(8, 207, 8, .63);
    box-shadow: 0em 0.5em 1em rgba(8, 207, 8, .63);
}

.shadow_bottom_paleGreen6s,
.hover_shadow_bottom_paleGreen6s:hover,
.active_shadow_bottom_paleGreen6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(8, 207, 8, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(8, 207, 8, .78);
    box-shadow: 0em 0.5em 1em rgba(8, 207, 8, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_paleGreen6,
.hover_shadow_top_left_paleGreen6:hover,
.active_shadow_top_left_paleGreen6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(5, 138, 5, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(5, 138, 5, .39);
    box-shadow: -0.5em -0.5em 1em rgba(5, 138, 5, .39);
}

.shadow_top_left_paleGreen6h,
.hover_shadow_top_left_paleGreen6h:hover,
.active_shadow_top_left_paleGreen6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(6, 165, 6, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(6, 165, 6, .50);
    box-shadow: -0.5em -0.5em 1em rgba(6, 165, 6, .50);
}

.shadow_top_left_paleGreen6a,
.hover_shadow_top_left_paleGreen6a:hover,
.active_shadow_top_left_paleGreen6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(8, 207, 8, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(8, 207, 8, .63);
    box-shadow: -0.5em -0.5em 1em rgba(8, 207, 8, .63);
}

.shadow_top_left_paleGreen6s,
.hover_shadow_top_left_paleGreen6s:hover,
.active_shadow_top_left_paleGreen6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(8, 207, 8, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(8, 207, 8, .78);
    box-shadow: -0.5em -0.5em 1em rgba(8, 207, 8, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_paleGreen6,
.hover_shadow_top_right_paleGreen6:hover,
.active_shadow_top_right_paleGreen6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(5, 138, 5, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(5, 138, 5, .39);
    box-shadow: 0.5em -0.5em 1em rgba(5, 138, 5, .39);
}

.shadow_top_right_paleGreen6h,
.hover_shadow_top_right_paleGreen6h:hover,
.active_shadow_top_right_paleGreen6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(6, 165, 6, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(6, 165, 6, .50);
    box-shadow: 0.5em -0.5em 1em rgba(6, 165, 6, .50);
}

.shadow_top_right_paleGreen6a,
.hover_shadow_top_right_paleGreen6a:hover,
.active_shadow_top_right_paleGreen6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(8, 207, 8, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(8, 207, 8, .63);
    box-shadow: 0.5em -0.5em 1em rgba(8, 207, 8, .63);
}

.shadow_top_right_paleGreen6s,
.hover_shadow_top_right_paleGreen6s:hover,
.active_shadow_top_right_paleGreen6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(8, 207, 8, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(8, 207, 8, .78);
    box-shadow: 0.5em -0.5em 1em rgba(8, 207, 8, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_paleGreen6,
.hover_shadow_bottom_left_paleGreen6:hover,
.active_shadow_bottom_left_paleGreen6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(5, 138, 5, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(5, 138, 5, .39);
    box-shadow: -0.5em 0.5em 1em rgba(5, 138, 5, .39);
}

.shadow_bottom_left_paleGreen6h,
.hover_shadow_bottom_left_paleGreen6h:hover,
.active_shadow_bottom_left_paleGreen6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(6, 165, 6, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(6, 165, 6, .50);
    box-shadow: -0.5em 0.5em 1em rgba(6, 165, 6, .50);
}

.shadow_bottom_left_paleGreen6a,
.hover_shadow_bottom_left_paleGreen6a:hover,
.active_shadow_bottom_left_paleGreen6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(8, 207, 8, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(8, 207, 8, .63);
    box-shadow: -0.5em 0.5em 1em rgba(8, 207, 8, .63);
}

.shadow_bottom_left_paleGreen6s,
.hover_shadow_bottom_left_paleGreen6s:hover,
.active_shadow_bottom_left_paleGreen6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(8, 207, 8, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(8, 207, 8, .78);
    box-shadow: -0.5em 0.5em 1em rgba(8, 207, 8, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_paleGreen6,
.hover_shadow_bottom_right_paleGreen6:hover,
.active_shadow_bottom_right_paleGreen6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(5, 138, 5, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(5, 138, 5, .39);
    box-shadow: 0.5em 0.5em 1em rgba(5, 138, 5, .39);
}

.shadow_bottom_right_paleGreen6h,
.hover_shadow_bottom_right_paleGreen6h:hover,
.active_shadow_bottom_right_paleGreen6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(6, 165, 6, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(6, 165, 6, .50);
    box-shadow: 0.5em 0.5em 1em rgba(6, 165, 6, .50);
}

.shadow_bottom_right_paleGreen6a,
 .hover_shadow_bottom_right_paleGreen6a:hover,
 .active_shadow_bottom_right_paleGreen6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(8, 207, 8, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(8, 207, 8, .63);
     box-shadow: 0.5em 0.5em 1em rgba(8, 207, 8, .63);
 }

 .shadow_bottom_right_paleGreen6s,
 .hover_shadow_bottom_right_paleGreen6s:hover,
 .active_shadow_bottom_right_paleGreen6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(8, 207, 8, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(8, 207, 8, .78);
     box-shadow: 0.5em 0.5em 1em rgba(8, 207, 8, .78);
 }