.aquaPeru4,
.hover_aquaPeru4:hover,
.active_aquaPeru4:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(217, 152, 109, .39),
           inset 0 -0.5em 0.9em 0 #f2c9ba,
           inset 0 -0.5em 0em 0.65em rgb(242, 119, 34),
           inset 0 0em 0.5em 2em rgb(217, 199, 186);
    -moz-box-shadow: 0 0.63em 0.75em rgba(217, 152, 109, .39),
           inset 0 -0.5em 0.9em 0 #f2c9ba,
           inset 0 -0.5em 0em 0.65em rgb(242, 119, 34),
           inset 0 0em 0.5em 2em rgb(217, 199, 186);
    box-shadow: 0 0.63em 0.75em rgba(217, 152, 109, .39),
           inset 0 -0.5em 0.9em 0 #f2c9ba,
           inset 0 -0.5em 0em 0.65em rgb(242, 119, 34),
           inset 0 0em 0.5em 2em rgb(217, 199, 186);
}

.aquaPeru4h,
.hover_aquaPeru4h:hover,
.active_aquaPeru4h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(222, 166, 130, .55),
           inset 0 -0.5em 0.9em 0 #faebe5,
           inset 0 -0.5em 0em 0.65em #eab48f,
           inset 0 0em 0.5em 2em #f8eee8;
    -moz-box-shadow:0 0.63em 1em rgba(222, 166, 130, .55),
           inset 0 -0.5em 0.9em 0 #faebe5,
           inset 0 -0.5em 0em 0.65em #eab48f,
           inset 0 0em 0.5em 2em #f8eee8;
    box-shadow:0 0.63em 1em rgba(222, 166, 130, .55),
           inset 0 -0.5em 0.9em 0 #faebe5,
           inset 0 -0.5em 0em 0.65em #eab48f,
           inset 0 0em 0.5em 2em #f8eee8;
}

.aquaPeru4a,
.hover_aquaPeru4a:hover,
.active_aquaPeru4a:active {
    /*background: #bf7732;*/

    -webkit-box-shadow:0 0.63em 1em rgba(224, 119, 51, .55),
           inset 0 -0.5em 0.9em 0 #fad8cc,
           inset 0 -0.5em 0em 0.65em #f09252,
           inset 0 0em 0.5em 2em #eec3a5;
    -moz-box-shadow:0 0.63em 1em rgba(224, 119, 51, .55),
           inset 0 -0.5em 0.9em 0 #fad8cc,
           inset 0 -0.5em 0em 0.65em #f09252,
           inset 0 0em 0.5em 2em #eec3a5;
    box-shadow:0 0.63em 1em rgba(224, 119, 51, .55),
           inset 0 -0.5em 0.9em 0 #fad8cc,
           inset 0 -0.5em 0em 0.65em #f09252,
           inset 0 0em 0.5em 2em #eec3a5;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaPeru4,
.hover_color_aquaPeru4:hover,
.active_color_aquaPeru4:active {
    color: #282828;
}

.color_aquaPeru4h,
.hover_color_aquaPeru4h:hover,
.active_color_aquaPeru4h:active {
    color: #c8c8c8;
}

.color_aquaPeru4a,
.hover_color_aquaPeru4a:hover,
.active_color_aquaPeru4a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaPeru4,
.hover_border_aquaPeru4:hover,
.active_border_aquaPeru4:active {
    border-color: #bf7732 #bf7732 #bf7732 #bf7732;
}

.border_aquaPeru4h,
.hover_border_aquaPeru4h:hover,
.active_border_aquaPeru4h:active {
    border-color: #bf7732 #bf7732 #bf7732 #bf7732;
}

.border_aquaPeru4a,
.hover_border_aquaPeru4a:hover,
.active_border_aquaPeru4a:active  {
    border-color: #bf7732 #bf7732 #bf7732 #bf7732;
}

