.aquaAntiqueWhite4,
.hover_aquaAntiqueWhite4:hover,
.active_aquaAntiqueWhite4:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(240, 187, 138, .39),
           inset 0 -0.5em 0.9em 0 #fdece4,
           inset 0 -0.5em 0em 0.65em rgb(255, 162, 73),
           inset 0 0em 0.5em 2em rgb(241, 227, 215);
    -moz-box-shadow: 0 0.63em 0.75em rgba(240, 187, 138, .39),
           inset 0 -0.5em 0.9em 0 #fdece4,
           inset 0 -0.5em 0em 0.65em rgb(255, 162, 73),
           inset 0 0em 0.5em 2em rgb(241, 227, 215);
    box-shadow: 0 0.63em 0.75em rgba(240, 187, 138, .39),
           inset 0 -0.5em 0.9em 0 #fdece4,
           inset 0 -0.5em 0em 0.65em rgb(255, 162, 73),
           inset 0 0em 0.5em 2em rgb(241, 227, 215);
}

.aquaAntiqueWhite4h,
.hover_aquaAntiqueWhite4h:hover,
.active_aquaAntiqueWhite4h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(243, 200, 161, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #fad6b4,
           inset 0 0em 0.5em 2em #ffffff;
    -moz-box-shadow:0 0.63em 1em rgba(243, 200, 161, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #fad6b4,
           inset 0 0em 0.5em 2em #ffffff;
    box-shadow:0 0.63em 1em rgba(243, 200, 161, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #fad6b4,
           inset 0 0em 0.5em 2em #ffffff;
}

.aquaAntiqueWhite4a,
.hover_aquaAntiqueWhite4a:hover,
.active_aquaAntiqueWhite4a:active {
    /*background: #e69a35;*/

    -webkit-box-shadow:0 0.63em 1em rgba(248, 159, 79, .55),
           inset 0 -0.5em 0.9em 0 #fffdfb,
           inset 0 -0.5em 0em 0.65em #ffb977,
           inset 0 0em 0.5em 2em #fce3cc;
    -moz-box-shadow:0 0.63em 1em rgba(248, 159, 79, .55),
           inset 0 -0.5em 0.9em 0 #fffdfb,
           inset 0 -0.5em 0em 0.65em #ffb977,
           inset 0 0em 0.5em 2em #fce3cc;
    box-shadow:0 0.63em 1em rgba(248, 159, 79, .55),
           inset 0 -0.5em 0.9em 0 #fffdfb,
           inset 0 -0.5em 0em 0.65em #ffb977,
           inset 0 0em 0.5em 2em #fce3cc;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaAntiqueWhite4,
.hover_color_aquaAntiqueWhite4:hover,
.active_color_aquaAntiqueWhite4:active {
    color: #282828;
}

.color_aquaAntiqueWhite4h,
.hover_color_aquaAntiqueWhite4h:hover,
.active_color_aquaAntiqueWhite4h:active {
    color: #282828;
}

.color_aquaAntiqueWhite4a,
.hover_color_aquaAntiqueWhite4a:hover,
.active_color_aquaAntiqueWhite4a:active {
    color: #282828;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaAntiqueWhite4,
.hover_border_aquaAntiqueWhite4:hover,
.active_border_aquaAntiqueWhite4:active {
    border-color: #e69a35 #e69a35 #e69a35 #e69a35;
}

.border_aquaAntiqueWhite4h,
.hover_border_aquaAntiqueWhite4h:hover,
.active_border_aquaAntiqueWhite4h:active {
    border-color: #e69a35 #e69a35 #e69a35 #e69a35;
}

.border_aquaAntiqueWhite4a,
.hover_border_aquaAntiqueWhite4a:hover,
.active_border_aquaAntiqueWhite4a:active  {
    border-color: #e69a35 #e69a35 #e69a35 #e69a35;
}

