.background_glassySalmon3,
.hover_background_glassySalmon3:hover,
.active_background_glassySalmon3:active:hover {
    background: #f85947;
    background-image: -moz-linear-gradient(top,  rgb(247, 62, 40) 0%, rgb(246, 34, 9) 50%, rgb(216, 29, 8) 55%, rgb(248, 89, 71) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(247, 62, 40)), color-stop(50%, rgb(246, 34, 9)), color-stop(55%, rgb(216, 29, 8)), color-stop(100%, rgb(248, 89, 71)));
    background-image: -webkit-linear-gradient(top,  rgb(247, 62, 40) 0%, rgb(246, 34, 9) 50%, rgb(216, 29, 8) 55%, rgb(248, 89, 71) 100%);
    background-image: -o-linear-gradient(top,  rgb(247, 62, 40) 0%, rgb(246, 34, 9) 50%, rgb(216, 29, 8) 55%, rgb(248, 89, 71) 100%);
    background-image: -ms-linear-gradient(top, rgb(247, 62, 40) 0%, rgb(246, 34, 9) 50%, rgb(216, 29, 8) 55%, rgb(248, 89, 71) 100%);
    background-image: linear-gradient(to bottom,  rgb(247, 62, 40) 0%, rgb(246, 34, 9) 50%, rgb(216, 29, 8) 55%, rgb(248, 89, 71) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f73e28', endColorstr='#f85947',GradientType=0 );
}

.background_glassySalmon3h,
.hover_background_glassySalmon3h:hover,
.active_background_glassySalmon3h:active:hover {
    background: #f85947;
    background-image: -moz-linear-gradient(top,  rgb(249, 112, 96) 0%, rgb(248, 78, 59) 50%, rgb(247, 45, 22) 55%, rgb(251, 145, 133) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(249, 112, 96)), color-stop(50%, rgb(248, 78, 59)), color-stop(55%, rgb(247, 45, 22)), color-stop(100%, rgb(251, 145, 133)));
    background-image: -webkit-linear-gradient(top,  rgb(249, 112, 96) 0%, rgb(248, 78, 59) 50%, rgb(247, 45, 22) 55%, rgb(251, 145, 133) 100%);
    background-image: -o-linear-gradient(top,  rgb(249, 112, 96) 0%, rgb(248, 78, 59) 50%, rgb(247, 45, 22) 55%, rgb(251, 145, 133) 100%);
    background-image: -ms-linear-gradient(top, rgb(249, 112, 96) 0%, rgb(248, 78, 59) 50%, rgb(247, 45, 22) 55%, rgb(251, 145, 133) 100%);
    background-image: linear-gradient(to bottom,  rgb(249, 112, 96) 0%, rgb(248, 78, 59) 50%, rgb(247, 45, 22) 55%, rgb(251, 145, 133) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f97060', endColorstr='#fb9185',GradientType=0 );
}

.background_glassySalmon3a,
.hover_background_glassySalmon3a:hover,
.active_background_glassySalmon3a:active:hover {
    background: #f85947;
    background-image: -moz-linear-gradient(top,  rgb(251, 145, 133) 0%, rgb(247, 45, 22) 50%, rgb(248, 78, 59) 55%, rgb(249, 112, 96) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(251, 145, 133)), color-stop(50%, rgb(247, 45, 22)), color-stop(55%, rgb(248, 78, 59)), color-stop(100%, rgb(249, 112, 96)));
    background-image: -webkit-linear-gradient(top,  rgb(251, 145, 133) 0%, rgb(247, 45, 22) 50%, rgb(248, 78, 59) 55%, rgb(249, 112, 96) 100%);
    background-image: -o-linear-gradient(top,  rgb(251, 145, 133) 0%, rgb(247, 45, 22) 50%, rgb(248, 78, 59) 55%, rgb(249, 112, 96) 100%);
    background-image: -ms-linear-gradient(top, rgb(251, 145, 133) 0%, rgb(247, 45, 22) 50%, rgb(248, 78, 59) 55%, rgb(249, 112, 96) 100%);
    background-image: linear-gradient(to bottom,  rgb(251, 145, 133) 0%, rgb(247, 45, 22) 50%, rgb(248, 78, 59) 55%, rgb(249, 112, 96) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9185', endColorstr='#f97060',GradientType=0 );
}

.background_glassySalmon3s,
.hover_background_glassySalmon3s:hover,
.active_background_glassySalmon3s:active:hover {
    background: #f85947;
    background-image: -moz-linear-gradient(top,  rgb(252, 187, 179) 0%, rgb(251, 145, 133) 50%, rgb(249, 103, 87) 55%, rgb(254, 228, 226) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(252, 187, 179)), color-stop(50%, rgb(251, 145, 133)), color-stop(55%, rgb(249, 103, 87)), color-stop(100%, rgb(254, 228, 226)));
    background-image: -webkit-linear-gradient(top,  rgb(252, 187, 179) 0%, rgb(251, 145, 133) 50%, rgb(249, 103, 87) 55%, rgb(254, 228, 226) 100%);
    background-image: -o-linear-gradient(top,  rgb(252, 187, 179) 0%, rgb(251, 145, 133) 50%, rgb(249, 103, 87) 55%, rgb(254, 228, 226) 100%);
    background-image: -ms-linear-gradient(top, rgb(252, 187, 179) 0%, rgb(251, 145, 133) 50%, rgb(249, 103, 87) 55%, rgb(254, 228, 226) 100%);
    background-image: linear-gradient(to bottom,  rgb(252, 187, 179) 0%, rgb(251, 145, 133) 50%, rgb(249, 103, 87) 55%, rgb(254, 228, 226) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcbbb3', endColorstr='#fee4e2',GradientType=0 );
}

.background_color_glassySalmon3,
.hover_background_color_glassySalmon3:hover,
.active_background_color_glassySalmon3:active:hover {
    background-color:#f85947;
}

.background_first_color_glassySalmon3,
.hover_background_first_color_glassySalmon3:hover,
.active_background_first_color_glassySalmon3:active:hover {
    background-color:#f73e28;
}

.background_last_color_glassySalmon3,
.hover_background_last_color_glassySalmon3:hover,
.active_background_color_last_glassySalmon3:active:hover {
   background-color:#f85947;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassySalmon3,
.hover_color_glassySalmon3:hover,
.active_color_glassySalmon3:active:hover {
    color: #c8c8c8;
}

.color_glassySalmon3h,
.hover_color_glassySalmon3h:hover,
.active_color_glassySalmon3h:active:hover {
    color: #c8c8c8;
}

.color_glassySalmon3a,
.hover_color_glassySalmon3a:hover,
.active_color_glassySalmon3a:active:hover {
    color: #ff0;
}

.color_glassySalmon3s,
.hover_color_glassySalmon3s:hover,
.active_color_glassySalmon3s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassySalmon3,
.hover_border_glassySalmon3:hover,
.active_border_glassySalmon3:active:hover {
    border-color: #de1e08 #b91907 #b91907 #de1e08;
}

.border_glassySalmon3h,
.hover_border_glassySalmon3h:hover,
.active_border_glassySalmon3h:active:hover {
    border-color: #de1e08 #b91907 #b91907 #de1e08;
}

.border_glassySalmon3a,
.hover_border_glassySalmon3a:hover,
.active_border_glassySalmon3a:active:hover {
    border-color: #ad1706 #ad1706 #ad1706 #ad1706;
}

.border_glassySalmon3s,
.hover_border_glassySalmon3s:hover,
.active_border_glassySalmon3s:active:hover {
    border-color: #ad1706 #ad1706 #ad1706 #ad1706;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassySalmon3,
.hover_shadow_expand_glassySalmon3:hover,
.active_shadow_expand_glassySalmon3:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(248, 89, 71, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(248, 89, 71, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(248, 89, 71, .39);
}

.shadow_expand_glassySalmon3h,
.hover_shadow_expand_glassySalmon3h:hover,
.active_shadow_expand_glassySalmon3h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(251, 145, 133, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(251, 145, 133, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(251, 145, 133, .50);
}

.shadow_expand_glassySalmon3a,
.hover_shadow_expand_glassySalmon3a:hover,
.active_shadow_expand_glassySalmon3a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(249, 112, 96, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(249, 112, 96, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(249, 112, 96, .63);
}

.shadow_expand_glassySalmon3s,
.hover_shadow_expand_glassySalmon3s:hover,
.active_shadow_expand_glassySalmon3s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(249, 112, 96, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(249, 112, 96, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(249, 112, 96, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassySalmon3,
.hover_shadow_left_glassySalmon3:hover,
.active_shadow_left_glassySalmon3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(248, 89, 71, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(248, 89, 71, .39);
    box-shadow: -0.5em -0.5em 1em rgba(248, 89, 71, .39);
}

.shadow_left_glassySalmon3h,
.hover_shadow_left_glassySalmon3h:hover,
.active_shadow_left_glassySalmon3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .50);
    box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .50);
}

.shadow_left_glassySalmon3a,
.hover_shadow_left_glassySalmon3a:hover,
.active_shadow_left_glassySalmon3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(249, 112, 96, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(249, 112, 96, .63);
    box-shadow: -0.5em -0.5em 1em rgba(249, 112, 96, .63);
}

.shadow_left_glassySalmon3s,
.hover_shadow_left_glassySalmon3s:hover,
.active_shadow_left_glassySalmon3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(249, 112, 96, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(249, 112, 96, .78);
    box-shadow: -0.5em -0.5em 1em rgba(249, 112, 96, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassySalmon3,
.hover_shadow_right_glassySalmon3:hover,
.active_shadow_right_glassySalmon3:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(248, 89, 71, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(248, 89, 71, .39);
    box-shadow: 0.5em 0em 1em rgba(248, 89, 71, .39);
}

.shadow_right_glassySalmon3h,
.hover_shadow_right_glassySalmon3h:hover,
.active_shadow_right_glassySalmon3h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(251, 145, 133, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(251, 145, 133, .50);
    box-shadow: 0.5em 0em 1em rgba(251, 145, 133, .50);
}

.shadow_right_glassySalmon3a,
.hover_shadow_right_glassySalmon3a:hover,
.active_shadow_right_glassySalmon3a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(249, 112, 96, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(249, 112, 96, .63);
    box-shadow: 0.5em 0em 1em rgba(249, 112, 96, .63);
}

.shadow_right_glassySalmon3s,
.hover_shadow_right_glassySalmon3s:hover,
.active_shadow_right_glassySalmon3s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(249, 112, 96, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(249, 112, 96, .78);
    box-shadow: 0.5em 0em 1em rgba(249, 112, 96, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassySalmon3,
.hover_shadow_top_glassySalmon3:hover,
.active_shadow_top_glassySalmon3:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(248, 89, 71, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(248, 89, 71, .39);
    box-shadow: 0em -0.5em 1em rgba(248, 89, 71, .39);
}

.shadow_top_glassySalmon3h,
.hover_shadow_top_glassySalmon3h:hover,
.active_shadow_top_glassySalmon3h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(251, 145, 133, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(251, 145, 133, .50);
    box-shadow: 0em -0.5em 1em rgba(251, 145, 133, .50);
}

.shadow_top_glassySalmon3a,
.hover_shadow_top_glassySalmon3a:hover,
.active_shadow_top_glassySalmon3a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(249, 112, 96, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(249, 112, 96, .63);
    box-shadow: 0em -0.5em 1em rgba(249, 112, 96, .63);
}

.shadow_top_glassySalmon3s,
.hover_shadow_top_glassySalmon3s:hover,
.active_shadow_top_glassySalmon3s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(249, 112, 96, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(249, 112, 96, .78);
    box-shadow: 0em -0.5em 1em rgba(249, 112, 96, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassySalmon3,
.hover_shadow_bottom_glassySalmon3:hover,
.active_shadow_bottom_glassySalmon3:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(248, 89, 71, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(248, 89, 71, .39);
    box-shadow: 0em 0.5em 1em rgba(248, 89, 71, .39);
}

.shadow_bottom_glassySalmon3h,
.hover_shadow_bottom_glassySalmon3h:hover,
.active_shadow_bottom_glassySalmon3h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(251, 145, 133, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(251, 145, 133, .50);
    box-shadow: 0em 0.5em 1em rgba(251, 145, 133, .50);
}

.shadow_bottom_glassySalmon3a,
.hover_shadow_bottom_glassySalmon3a:hover,
.active_shadow_bottom_glassySalmon3a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(249, 112, 96, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(249, 112, 96, .63);
    box-shadow: 0em 0.5em 1em rgba(249, 112, 96, .63);
}

.shadow_bottom_glassySalmon3s,
.hover_shadow_bottom_glassySalmon3s:hover,
.active_shadow_bottom_glassySalmon3s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(249, 112, 96, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(249, 112, 96, .78);
    box-shadow: 0em 0.5em 1em rgba(249, 112, 96, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassySalmon3,
.hover_shadow_top_left_glassySalmon3:hover,
.active_shadow_top_left_glassySalmon3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(248, 89, 71, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(248, 89, 71, .39);
    box-shadow: -0.5em -0.5em 1em rgba(248, 89, 71, .39);
}

.shadow_top_left_glassySalmon3h,
.hover_shadow_top_left_glassySalmon3h:hover,
.active_shadow_top_left_glassySalmon3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .50);
    box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .50);
}

.shadow_top_left_glassySalmon3a,
.hover_shadow_top_left_glassySalmon3a:hover,
.active_shadow_top_left_glassySalmon3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(249, 112, 96, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(249, 112, 96, .63);
    box-shadow: -0.5em -0.5em 1em rgba(249, 112, 96, .63);
}

.shadow_top_left_glassySalmon3s,
.hover_shadow_top_left_glassySalmon3s:hover,
.active_shadow_top_left_glassySalmon3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(249, 112, 96, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(249, 112, 96, .78);
    box-shadow: -0.5em -0.5em 1em rgba(249, 112, 96, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassySalmon3,
.hover_shadow_top_right_glassySalmon3:hover,
.active_shadow_top_right_glassySalmon3:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(248, 89, 71, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(248, 89, 71, .39);
    box-shadow: 0.5em -0.5em 1em rgba(248, 89, 71, .39);
}

.shadow_top_right_glassySalmon3h,
.hover_shadow_top_right_glassySalmon3h:hover,
.active_shadow_top_right_glassySalmon3h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(251, 145, 133, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(251, 145, 133, .50);
    box-shadow: 0.5em -0.5em 1em rgba(251, 145, 133, .50);
}

.shadow_top_right_glassySalmon3a,
.hover_shadow_top_right_glassySalmon3a:hover,
.active_shadow_top_right_glassySalmon3a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(249, 112, 96, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(249, 112, 96, .63);
    box-shadow: 0.5em -0.5em 1em rgba(249, 112, 96, .63);
}

.shadow_top_right_glassySalmon3s,
.hover_shadow_top_right_glassySalmon3s:hover,
.active_shadow_top_right_glassySalmon3s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(249, 112, 96, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(249, 112, 96, .78);
    box-shadow: 0.5em -0.5em 1em rgba(249, 112, 96, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassySalmon3,
.hover_shadow_bottom_left_glassySalmon3:hover,
.active_shadow_bottom_left_glassySalmon3:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(248, 89, 71, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(248, 89, 71, .39);
    box-shadow: -0.5em 0.5em 1em rgba(248, 89, 71, .39);
}

.shadow_bottom_left_glassySalmon3h,
.hover_shadow_bottom_left_glassySalmon3h:hover,
.active_shadow_bottom_left_glassySalmon3h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(251, 145, 133, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(251, 145, 133, .50);
    box-shadow: -0.5em 0.5em 1em rgba(251, 145, 133, .50);
}

.shadow_bottom_left_glassySalmon3a,
.hover_shadow_bottom_left_glassySalmon3a:hover,
.active_shadow_bottom_left_glassySalmon3a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(249, 112, 96, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(249, 112, 96, .63);
    box-shadow: -0.5em 0.5em 1em rgba(249, 112, 96, .63);
}

.shadow_bottom_left_glassySalmon3s,
.hover_shadow_bottom_left_glassySalmon3s:hover,
.active_shadow_bottom_left_glassySalmon3s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(249, 112, 96, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(249, 112, 96, .78);
    box-shadow: -0.5em 0.5em 1em rgba(249, 112, 96, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassySalmon3,
.hover_shadow_bottom_right_glassySalmon3:hover,
.active_shadow_bottom_right_glassySalmon3:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(248, 89, 71, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(248, 89, 71, .39);
    box-shadow: 0.5em 0.5em 1em rgba(248, 89, 71, .39);
}

.shadow_bottom_right_glassySalmon3h,
.hover_shadow_bottom_right_glassySalmon3h:hover,
.active_shadow_bottom_right_glassySalmon3h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(251, 145, 133, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(251, 145, 133, .50);
    box-shadow: 0.5em 0.5em 1em rgba(251, 145, 133, .50);
}

.shadow_bottom_right_glassySalmon3a,
 .hover_shadow_bottom_right_glassySalmon3a:hover,
 .active_shadow_bottom_right_glassySalmon3a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(249, 112, 96, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(249, 112, 96, .63);
     box-shadow: 0.5em 0.5em 1em rgba(249, 112, 96, .63);
 }

 .shadow_bottom_right_glassySalmon3s,
 .hover_shadow_bottom_right_glassySalmon3s:hover,
 .active_shadow_bottom_right_glassySalmon3s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(249, 112, 96, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(249, 112, 96, .78);
     box-shadow: 0.5em 0.5em 1em rgba(249, 112, 96, .78);
 }