.background_glassySalmon1,
.hover_background_glassySalmon1:hover,
.active_background_glassySalmon1:active:hover {
    background: #fdc4be;
    background-image: -moz-linear-gradient(top,  rgb(251, 158, 147) 0%, rgb(250, 119, 104) 50%, rgb(248, 81, 62) 55%, rgb(253, 196, 190) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(251, 158, 147)), color-stop(50%, rgb(250, 119, 104)), color-stop(55%, rgb(248, 81, 62)), color-stop(100%, rgb(253, 196, 190)));
    background-image: -webkit-linear-gradient(top,  rgb(251, 158, 147) 0%, rgb(250, 119, 104) 50%, rgb(248, 81, 62) 55%, rgb(253, 196, 190) 100%);
    background-image: -o-linear-gradient(top,  rgb(251, 158, 147) 0%, rgb(250, 119, 104) 50%, rgb(248, 81, 62) 55%, rgb(253, 196, 190) 100%);
    background-image: -ms-linear-gradient(top, rgb(251, 158, 147) 0%, rgb(250, 119, 104) 50%, rgb(248, 81, 62) 55%, rgb(253, 196, 190) 100%);
    background-image: linear-gradient(to bottom,  rgb(251, 158, 147) 0%, rgb(250, 119, 104) 50%, rgb(248, 81, 62) 55%, rgb(253, 196, 190) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9e93', endColorstr='#fdc4be',GradientType=0 );
}

.background_glassySalmon1h,
.hover_background_glassySalmon1h:hover,
.active_background_glassySalmon1h:active:hover {
    background: #fdc4be;
    background-image: -moz-linear-gradient(top,  rgb(254, 227, 224) 0%, rgb(252, 181, 173) 50%, rgb(250, 135, 121) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(254, 227, 224)), color-stop(50%, rgb(252, 181, 173)), color-stop(55%, rgb(250, 135, 121)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(254, 227, 224) 0%, rgb(252, 181, 173) 50%, rgb(250, 135, 121) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(254, 227, 224) 0%, rgb(252, 181, 173) 50%, rgb(250, 135, 121) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(254, 227, 224) 0%, rgb(252, 181, 173) 50%, rgb(250, 135, 121) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(254, 227, 224) 0%, rgb(252, 181, 173) 50%, rgb(250, 135, 121) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee3e0', endColorstr='#ffffff',GradientType=0 );
}

.background_glassySalmon1a,
.hover_background_glassySalmon1a:hover,
.active_background_glassySalmon1a:active:hover {
    background: #fdc4be;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(250, 135, 121) 50%, rgb(252, 181, 173) 55%, rgb(254, 227, 224) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(250, 135, 121)), color-stop(55%, rgb(252, 181, 173)), color-stop(100%, rgb(254, 227, 224)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(250, 135, 121) 50%, rgb(252, 181, 173) 55%, rgb(254, 227, 224) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(250, 135, 121) 50%, rgb(252, 181, 173) 55%, rgb(254, 227, 224) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(250, 135, 121) 50%, rgb(252, 181, 173) 55%, rgb(254, 227, 224) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(250, 135, 121) 50%, rgb(252, 181, 173) 55%, rgb(254, 227, 224) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fee3e0',GradientType=0 );
}

.background_glassySalmon1s,
.hover_background_glassySalmon1s:hover,
.active_background_glassySalmon1s:active:hover {
    background: #fdc4be;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(253, 215, 211) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(255, 255, 255)), color-stop(55%, rgb(253, 215, 211)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(253, 215, 211) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(253, 215, 211) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(253, 215, 211) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(253, 215, 211) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_color_glassySalmon1,
.hover_background_color_glassySalmon1:hover,
.active_background_color_glassySalmon1:active:hover {
    background-color:#fdc4be;
}

.background_first_color_glassySalmon1,
.hover_background_first_color_glassySalmon1:hover,
.active_background_first_color_glassySalmon1:active:hover {
    background-color:#fb9e93;
}

.background_last_color_glassySalmon1,
.hover_background_last_color_glassySalmon1:hover,
.active_background_color_last_glassySalmon1:active:hover {
   background-color:#fdc4be;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassySalmon1,
.hover_color_glassySalmon1:hover,
.active_color_glassySalmon1:active:hover {
    color: #282828;
}

.color_glassySalmon1h,
.hover_color_glassySalmon1h:hover,
.active_color_glassySalmon1h:active:hover {
    color: #282828;
}

.color_glassySalmon1a,
.hover_color_glassySalmon1a:hover,
.active_color_glassySalmon1a:active:hover {
    color: #ff0;
}

.color_glassySalmon1s,
.hover_color_glassySalmon1s:hover,
.active_color_glassySalmon1s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassySalmon1,
.hover_border_glassySalmon1:hover,
.active_border_glassySalmon1:active:hover {
    border-color: #f85846 #f72a13 #f72a13 #f85846;
}

.border_glassySalmon1h,
.hover_border_glassySalmon1h:hover,
.active_border_glassySalmon1h:active:hover {
    border-color: #f85846 #f72a13 #f72a13 #f85846;
}

.border_glassySalmon1a,
.hover_border_glassySalmon1a:hover,
.active_border_glassySalmon1a:active:hover {
    border-color: #ef2008 #ef2008 #ef2008 #ef2008;
}

.border_glassySalmon1s,
.hover_border_glassySalmon1s:hover,
.active_border_glassySalmon1s:active:hover {
    border-color: #ef2008 #ef2008 #ef2008 #ef2008;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassySalmon1,
.hover_shadow_expand_glassySalmon1:hover,
.active_shadow_expand_glassySalmon1:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(253, 196, 190, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(253, 196, 190, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(253, 196, 190, .39);
}

.shadow_expand_glassySalmon1h,
.hover_shadow_expand_glassySalmon1h:hover,
.active_shadow_expand_glassySalmon1h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .50);
}

.shadow_expand_glassySalmon1a,
.hover_shadow_expand_glassySalmon1a:hover,
.active_shadow_expand_glassySalmon1a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(254, 227, 224, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(254, 227, 224, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(254, 227, 224, .63);
}

.shadow_expand_glassySalmon1s,
.hover_shadow_expand_glassySalmon1s:hover,
.active_shadow_expand_glassySalmon1s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(254, 227, 224, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(254, 227, 224, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(254, 227, 224, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassySalmon1,
.hover_shadow_left_glassySalmon1:hover,
.active_shadow_left_glassySalmon1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(253, 196, 190, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(253, 196, 190, .39);
    box-shadow: -0.5em -0.5em 1em rgba(253, 196, 190, .39);
}

.shadow_left_glassySalmon1h,
.hover_shadow_left_glassySalmon1h:hover,
.active_shadow_left_glassySalmon1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_left_glassySalmon1a,
.hover_shadow_left_glassySalmon1a:hover,
.active_shadow_left_glassySalmon1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(254, 227, 224, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(254, 227, 224, .63);
    box-shadow: -0.5em -0.5em 1em rgba(254, 227, 224, .63);
}

.shadow_left_glassySalmon1s,
.hover_shadow_left_glassySalmon1s:hover,
.active_shadow_left_glassySalmon1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(254, 227, 224, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(254, 227, 224, .78);
    box-shadow: -0.5em -0.5em 1em rgba(254, 227, 224, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassySalmon1,
.hover_shadow_right_glassySalmon1:hover,
.active_shadow_right_glassySalmon1:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(253, 196, 190, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(253, 196, 190, .39);
    box-shadow: 0.5em 0em 1em rgba(253, 196, 190, .39);
}

.shadow_right_glassySalmon1h,
.hover_shadow_right_glassySalmon1h:hover,
.active_shadow_right_glassySalmon1h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .50);
}

.shadow_right_glassySalmon1a,
.hover_shadow_right_glassySalmon1a:hover,
.active_shadow_right_glassySalmon1a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(254, 227, 224, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(254, 227, 224, .63);
    box-shadow: 0.5em 0em 1em rgba(254, 227, 224, .63);
}

.shadow_right_glassySalmon1s,
.hover_shadow_right_glassySalmon1s:hover,
.active_shadow_right_glassySalmon1s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(254, 227, 224, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(254, 227, 224, .78);
    box-shadow: 0.5em 0em 1em rgba(254, 227, 224, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassySalmon1,
.hover_shadow_top_glassySalmon1:hover,
.active_shadow_top_glassySalmon1:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(253, 196, 190, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(253, 196, 190, .39);
    box-shadow: 0em -0.5em 1em rgba(253, 196, 190, .39);
}

.shadow_top_glassySalmon1h,
.hover_shadow_top_glassySalmon1h:hover,
.active_shadow_top_glassySalmon1h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_top_glassySalmon1a,
.hover_shadow_top_glassySalmon1a:hover,
.active_shadow_top_glassySalmon1a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(254, 227, 224, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(254, 227, 224, .63);
    box-shadow: 0em -0.5em 1em rgba(254, 227, 224, .63);
}

.shadow_top_glassySalmon1s,
.hover_shadow_top_glassySalmon1s:hover,
.active_shadow_top_glassySalmon1s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(254, 227, 224, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(254, 227, 224, .78);
    box-shadow: 0em -0.5em 1em rgba(254, 227, 224, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassySalmon1,
.hover_shadow_bottom_glassySalmon1:hover,
.active_shadow_bottom_glassySalmon1:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(253, 196, 190, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(253, 196, 190, .39);
    box-shadow: 0em 0.5em 1em rgba(253, 196, 190, .39);
}

.shadow_bottom_glassySalmon1h,
.hover_shadow_bottom_glassySalmon1h:hover,
.active_shadow_bottom_glassySalmon1h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_bottom_glassySalmon1a,
.hover_shadow_bottom_glassySalmon1a:hover,
.active_shadow_bottom_glassySalmon1a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(254, 227, 224, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(254, 227, 224, .63);
    box-shadow: 0em 0.5em 1em rgba(254, 227, 224, .63);
}

.shadow_bottom_glassySalmon1s,
.hover_shadow_bottom_glassySalmon1s:hover,
.active_shadow_bottom_glassySalmon1s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(254, 227, 224, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(254, 227, 224, .78);
    box-shadow: 0em 0.5em 1em rgba(254, 227, 224, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassySalmon1,
.hover_shadow_top_left_glassySalmon1:hover,
.active_shadow_top_left_glassySalmon1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(253, 196, 190, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(253, 196, 190, .39);
    box-shadow: -0.5em -0.5em 1em rgba(253, 196, 190, .39);
}

.shadow_top_left_glassySalmon1h,
.hover_shadow_top_left_glassySalmon1h:hover,
.active_shadow_top_left_glassySalmon1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_top_left_glassySalmon1a,
.hover_shadow_top_left_glassySalmon1a:hover,
.active_shadow_top_left_glassySalmon1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(254, 227, 224, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(254, 227, 224, .63);
    box-shadow: -0.5em -0.5em 1em rgba(254, 227, 224, .63);
}

.shadow_top_left_glassySalmon1s,
.hover_shadow_top_left_glassySalmon1s:hover,
.active_shadow_top_left_glassySalmon1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(254, 227, 224, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(254, 227, 224, .78);
    box-shadow: -0.5em -0.5em 1em rgba(254, 227, 224, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassySalmon1,
.hover_shadow_top_right_glassySalmon1:hover,
.active_shadow_top_right_glassySalmon1:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(253, 196, 190, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(253, 196, 190, .39);
    box-shadow: 0.5em -0.5em 1em rgba(253, 196, 190, .39);
}

.shadow_top_right_glassySalmon1h,
.hover_shadow_top_right_glassySalmon1h:hover,
.active_shadow_top_right_glassySalmon1h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_top_right_glassySalmon1a,
.hover_shadow_top_right_glassySalmon1a:hover,
.active_shadow_top_right_glassySalmon1a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(254, 227, 224, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(254, 227, 224, .63);
    box-shadow: 0.5em -0.5em 1em rgba(254, 227, 224, .63);
}

.shadow_top_right_glassySalmon1s,
.hover_shadow_top_right_glassySalmon1s:hover,
.active_shadow_top_right_glassySalmon1s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(254, 227, 224, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(254, 227, 224, .78);
    box-shadow: 0.5em -0.5em 1em rgba(254, 227, 224, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassySalmon1,
.hover_shadow_bottom_left_glassySalmon1:hover,
.active_shadow_bottom_left_glassySalmon1:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(253, 196, 190, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(253, 196, 190, .39);
    box-shadow: -0.5em 0.5em 1em rgba(253, 196, 190, .39);
}

.shadow_bottom_left_glassySalmon1h,
.hover_shadow_bottom_left_glassySalmon1h:hover,
.active_shadow_bottom_left_glassySalmon1h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_bottom_left_glassySalmon1a,
.hover_shadow_bottom_left_glassySalmon1a:hover,
.active_shadow_bottom_left_glassySalmon1a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(254, 227, 224, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(254, 227, 224, .63);
    box-shadow: -0.5em 0.5em 1em rgba(254, 227, 224, .63);
}

.shadow_bottom_left_glassySalmon1s,
.hover_shadow_bottom_left_glassySalmon1s:hover,
.active_shadow_bottom_left_glassySalmon1s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(254, 227, 224, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(254, 227, 224, .78);
    box-shadow: -0.5em 0.5em 1em rgba(254, 227, 224, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassySalmon1,
.hover_shadow_bottom_right_glassySalmon1:hover,
.active_shadow_bottom_right_glassySalmon1:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(253, 196, 190, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(253, 196, 190, .39);
    box-shadow: 0.5em 0.5em 1em rgba(253, 196, 190, .39);
}

.shadow_bottom_right_glassySalmon1h,
.hover_shadow_bottom_right_glassySalmon1h:hover,
.active_shadow_bottom_right_glassySalmon1h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_bottom_right_glassySalmon1a,
 .hover_shadow_bottom_right_glassySalmon1a:hover,
 .active_shadow_bottom_right_glassySalmon1a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(254, 227, 224, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(254, 227, 224, .63);
     box-shadow: 0.5em 0.5em 1em rgba(254, 227, 224, .63);
 }

 .shadow_bottom_right_glassySalmon1s,
 .hover_shadow_bottom_right_glassySalmon1s:hover,
 .active_shadow_bottom_right_glassySalmon1s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(254, 227, 224, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(254, 227, 224, .78);
     box-shadow: 0.5em 0.5em 1em rgba(254, 227, 224, .78);
 }