.background_glassyLime2,
.hover_background_glassyLime2:hover,
.active_background_glassyLime2:active:hover {
    background: #00d900;
    background-image: -moz-linear-gradient(top,  rgb(0, 195, 0) 0%, rgb(0, 173, 0) 50%, rgb(0, 152, 0) 55%, rgb(0, 217, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 195, 0)), color-stop(50%, rgb(0, 173, 0)), color-stop(55%, rgb(0, 152, 0)), color-stop(100%, rgb(0, 217, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 195, 0) 0%, rgb(0, 173, 0) 50%, rgb(0, 152, 0) 55%, rgb(0, 217, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 195, 0) 0%, rgb(0, 173, 0) 50%, rgb(0, 152, 0) 55%, rgb(0, 217, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 195, 0) 0%, rgb(0, 173, 0) 50%, rgb(0, 152, 0) 55%, rgb(0, 217, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 195, 0) 0%, rgb(0, 173, 0) 50%, rgb(0, 152, 0) 55%, rgb(0, 217, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c300', endColorstr='#00d900',GradientType=0 );
}

.background_glassyLime2h,
.hover_background_glassyLime2h:hover,
.active_background_glassyLime2h:active:hover {
    background: #00d900;
    background-image: -moz-linear-gradient(top,  rgb(0, 234, 0) 0%, rgb(0, 208, 0) 50%, rgb(0, 182, 0) 55%, rgb(5, 255, 5) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 234, 0)), color-stop(50%, rgb(0, 208, 0)), color-stop(55%, rgb(0, 182, 0)), color-stop(100%, rgb(5, 255, 5)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 234, 0) 0%, rgb(0, 208, 0) 50%, rgb(0, 182, 0) 55%, rgb(5, 255, 5) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 234, 0) 0%, rgb(0, 208, 0) 50%, rgb(0, 182, 0) 55%, rgb(5, 255, 5) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 234, 0) 0%, rgb(0, 208, 0) 50%, rgb(0, 182, 0) 55%, rgb(5, 255, 5) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 234, 0) 0%, rgb(0, 208, 0) 50%, rgb(0, 182, 0) 55%, rgb(5, 255, 5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ea00', endColorstr='#05ff05',GradientType=0 );
}

.background_glassyLime2a,
.hover_background_glassyLime2a:hover,
.active_background_glassyLime2a:active:hover {
    background: #00d900;
    background-image: -moz-linear-gradient(top,  rgb(5, 255, 5) 0%, rgb(0, 182, 0) 50%, rgb(0, 208, 0) 55%, rgb(0, 234, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(5, 255, 5)), color-stop(50%, rgb(0, 182, 0)), color-stop(55%, rgb(0, 208, 0)), color-stop(100%, rgb(0, 234, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(5, 255, 5) 0%, rgb(0, 182, 0) 50%, rgb(0, 208, 0) 55%, rgb(0, 234, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(5, 255, 5) 0%, rgb(0, 182, 0) 50%, rgb(0, 208, 0) 55%, rgb(0, 234, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(5, 255, 5) 0%, rgb(0, 182, 0) 50%, rgb(0, 208, 0) 55%, rgb(0, 234, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(5, 255, 5) 0%, rgb(0, 182, 0) 50%, rgb(0, 208, 0) 55%, rgb(0, 234, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05ff05', endColorstr='#00ea00',GradientType=0 );
}

.background_glassyLime2s,
.hover_background_glassyLime2s:hover,
.active_background_glassyLime2s:active:hover {
    background: #00d900;
    background-image: -moz-linear-gradient(top,  rgb(38, 255, 38) 0%, rgb(5, 255, 5) 50%, rgb(0, 228, 0) 55%, rgb(70, 255, 70) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(38, 255, 38)), color-stop(50%, rgb(5, 255, 5)), color-stop(55%, rgb(0, 228, 0)), color-stop(100%, rgb(70, 255, 70)));
    background-image: -webkit-linear-gradient(top,  rgb(38, 255, 38) 0%, rgb(5, 255, 5) 50%, rgb(0, 228, 0) 55%, rgb(70, 255, 70) 100%);
    background-image: -o-linear-gradient(top,  rgb(38, 255, 38) 0%, rgb(5, 255, 5) 50%, rgb(0, 228, 0) 55%, rgb(70, 255, 70) 100%);
    background-image: -ms-linear-gradient(top, rgb(38, 255, 38) 0%, rgb(5, 255, 5) 50%, rgb(0, 228, 0) 55%, rgb(70, 255, 70) 100%);
    background-image: linear-gradient(to bottom,  rgb(38, 255, 38) 0%, rgb(5, 255, 5) 50%, rgb(0, 228, 0) 55%, rgb(70, 255, 70) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26ff26', endColorstr='#46ff46',GradientType=0 );
}

.background_color_glassyLime2,
.hover_background_color_glassyLime2:hover,
.active_background_color_glassyLime2:active:hover {
    background-color:#00d900;
}

.background_first_color_glassyLime2,
.hover_background_first_color_glassyLime2:hover,
.active_background_first_color_glassyLime2:active:hover {
    background-color:#00c300;
}

.background_last_color_glassyLime2,
.hover_background_last_color_glassyLime2:hover,
.active_background_color_last_glassyLime2:active:hover {
   background-color:#00d900;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyLime2,
.hover_color_glassyLime2:hover,
.active_color_glassyLime2:active:hover {
    color: #282828;
}

.color_glassyLime2h,
.hover_color_glassyLime2h:hover,
.active_color_glassyLime2h:active:hover {
    color: #282828;
}

.color_glassyLime2a,
.hover_color_glassyLime2a:hover,
.active_color_glassyLime2a:active:hover {
    color: #ff0;
}

.color_glassyLime2s,
.hover_color_glassyLime2s:hover,
.active_color_glassyLime2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyLime2,
.hover_border_glassyLime2:hover,
.active_border_glassyLime2:active:hover {
    border-color: #009c00 #008200 #008200 #009c00;
}

.border_glassyLime2h,
.hover_border_glassyLime2h:hover,
.active_border_glassyLime2h:active:hover {
    border-color: #009c00 #008200 #008200 #009c00;
}

.border_glassyLime2a,
.hover_border_glassyLime2a:hover,
.active_border_glassyLime2a:active:hover {
    border-color: #007900 #007900 #007900 #007900;
}

.border_glassyLime2s,
.hover_border_glassyLime2s:hover,
.active_border_glassyLime2s:active:hover {
    border-color: #007900 #007900 #007900 #007900;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyLime2,
.hover_shadow_expand_glassyLime2:hover,
.active_shadow_expand_glassyLime2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 217, 0, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 217, 0, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 217, 0, .39);
}

.shadow_expand_glassyLime2h,
.hover_shadow_expand_glassyLime2h:hover,
.active_shadow_expand_glassyLime2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(5, 255, 5, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(5, 255, 5, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(5, 255, 5, .50);
}

.shadow_expand_glassyLime2a,
.hover_shadow_expand_glassyLime2a:hover,
.active_shadow_expand_glassyLime2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 234, 0, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 234, 0, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 234, 0, .63);
}

.shadow_expand_glassyLime2s,
.hover_shadow_expand_glassyLime2s:hover,
.active_shadow_expand_glassyLime2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 234, 0, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 234, 0, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 234, 0, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyLime2,
.hover_shadow_left_glassyLime2:hover,
.active_shadow_left_glassyLime2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 217, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 217, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 217, 0, .39);
}

.shadow_left_glassyLime2h,
.hover_shadow_left_glassyLime2h:hover,
.active_shadow_left_glassyLime2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(5, 255, 5, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(5, 255, 5, .50);
    box-shadow: -0.5em -0.5em 1em rgba(5, 255, 5, .50);
}

.shadow_left_glassyLime2a,
.hover_shadow_left_glassyLime2a:hover,
.active_shadow_left_glassyLime2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 234, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 234, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 234, 0, .63);
}

.shadow_left_glassyLime2s,
.hover_shadow_left_glassyLime2s:hover,
.active_shadow_left_glassyLime2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 234, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 234, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 234, 0, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyLime2,
.hover_shadow_right_glassyLime2:hover,
.active_shadow_right_glassyLime2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 217, 0, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 217, 0, .39);
    box-shadow: 0.5em 0em 1em rgba(0, 217, 0, .39);
}

.shadow_right_glassyLime2h,
.hover_shadow_right_glassyLime2h:hover,
.active_shadow_right_glassyLime2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(5, 255, 5, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(5, 255, 5, .50);
    box-shadow: 0.5em 0em 1em rgba(5, 255, 5, .50);
}

.shadow_right_glassyLime2a,
.hover_shadow_right_glassyLime2a:hover,
.active_shadow_right_glassyLime2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 234, 0, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 234, 0, .63);
    box-shadow: 0.5em 0em 1em rgba(0, 234, 0, .63);
}

.shadow_right_glassyLime2s,
.hover_shadow_right_glassyLime2s:hover,
.active_shadow_right_glassyLime2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 234, 0, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 234, 0, .78);
    box-shadow: 0.5em 0em 1em rgba(0, 234, 0, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyLime2,
.hover_shadow_top_glassyLime2:hover,
.active_shadow_top_glassyLime2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 217, 0, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 217, 0, .39);
    box-shadow: 0em -0.5em 1em rgba(0, 217, 0, .39);
}

.shadow_top_glassyLime2h,
.hover_shadow_top_glassyLime2h:hover,
.active_shadow_top_glassyLime2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(5, 255, 5, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(5, 255, 5, .50);
    box-shadow: 0em -0.5em 1em rgba(5, 255, 5, .50);
}

.shadow_top_glassyLime2a,
.hover_shadow_top_glassyLime2a:hover,
.active_shadow_top_glassyLime2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 234, 0, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 234, 0, .63);
    box-shadow: 0em -0.5em 1em rgba(0, 234, 0, .63);
}

.shadow_top_glassyLime2s,
.hover_shadow_top_glassyLime2s:hover,
.active_shadow_top_glassyLime2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 234, 0, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 234, 0, .78);
    box-shadow: 0em -0.5em 1em rgba(0, 234, 0, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyLime2,
.hover_shadow_bottom_glassyLime2:hover,
.active_shadow_bottom_glassyLime2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 217, 0, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 217, 0, .39);
    box-shadow: 0em 0.5em 1em rgba(0, 217, 0, .39);
}

.shadow_bottom_glassyLime2h,
.hover_shadow_bottom_glassyLime2h:hover,
.active_shadow_bottom_glassyLime2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(5, 255, 5, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(5, 255, 5, .50);
    box-shadow: 0em 0.5em 1em rgba(5, 255, 5, .50);
}

.shadow_bottom_glassyLime2a,
.hover_shadow_bottom_glassyLime2a:hover,
.active_shadow_bottom_glassyLime2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 234, 0, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 234, 0, .63);
    box-shadow: 0em 0.5em 1em rgba(0, 234, 0, .63);
}

.shadow_bottom_glassyLime2s,
.hover_shadow_bottom_glassyLime2s:hover,
.active_shadow_bottom_glassyLime2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 234, 0, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 234, 0, .78);
    box-shadow: 0em 0.5em 1em rgba(0, 234, 0, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyLime2,
.hover_shadow_top_left_glassyLime2:hover,
.active_shadow_top_left_glassyLime2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 217, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 217, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 217, 0, .39);
}

.shadow_top_left_glassyLime2h,
.hover_shadow_top_left_glassyLime2h:hover,
.active_shadow_top_left_glassyLime2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(5, 255, 5, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(5, 255, 5, .50);
    box-shadow: -0.5em -0.5em 1em rgba(5, 255, 5, .50);
}

.shadow_top_left_glassyLime2a,
.hover_shadow_top_left_glassyLime2a:hover,
.active_shadow_top_left_glassyLime2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 234, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 234, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 234, 0, .63);
}

.shadow_top_left_glassyLime2s,
.hover_shadow_top_left_glassyLime2s:hover,
.active_shadow_top_left_glassyLime2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 234, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 234, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 234, 0, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyLime2,
.hover_shadow_top_right_glassyLime2:hover,
.active_shadow_top_right_glassyLime2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 217, 0, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 217, 0, .39);
    box-shadow: 0.5em -0.5em 1em rgba(0, 217, 0, .39);
}

.shadow_top_right_glassyLime2h,
.hover_shadow_top_right_glassyLime2h:hover,
.active_shadow_top_right_glassyLime2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(5, 255, 5, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(5, 255, 5, .50);
    box-shadow: 0.5em -0.5em 1em rgba(5, 255, 5, .50);
}

.shadow_top_right_glassyLime2a,
.hover_shadow_top_right_glassyLime2a:hover,
.active_shadow_top_right_glassyLime2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 234, 0, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 234, 0, .63);
    box-shadow: 0.5em -0.5em 1em rgba(0, 234, 0, .63);
}

.shadow_top_right_glassyLime2s,
.hover_shadow_top_right_glassyLime2s:hover,
.active_shadow_top_right_glassyLime2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 234, 0, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 234, 0, .78);
    box-shadow: 0.5em -0.5em 1em rgba(0, 234, 0, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyLime2,
.hover_shadow_bottom_left_glassyLime2:hover,
.active_shadow_bottom_left_glassyLime2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 217, 0, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 217, 0, .39);
    box-shadow: -0.5em 0.5em 1em rgba(0, 217, 0, .39);
}

.shadow_bottom_left_glassyLime2h,
.hover_shadow_bottom_left_glassyLime2h:hover,
.active_shadow_bottom_left_glassyLime2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(5, 255, 5, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(5, 255, 5, .50);
    box-shadow: -0.5em 0.5em 1em rgba(5, 255, 5, .50);
}

.shadow_bottom_left_glassyLime2a,
.hover_shadow_bottom_left_glassyLime2a:hover,
.active_shadow_bottom_left_glassyLime2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 234, 0, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 234, 0, .63);
    box-shadow: -0.5em 0.5em 1em rgba(0, 234, 0, .63);
}

.shadow_bottom_left_glassyLime2s,
.hover_shadow_bottom_left_glassyLime2s:hover,
.active_shadow_bottom_left_glassyLime2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 234, 0, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 234, 0, .78);
    box-shadow: -0.5em 0.5em 1em rgba(0, 234, 0, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyLime2,
.hover_shadow_bottom_right_glassyLime2:hover,
.active_shadow_bottom_right_glassyLime2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 217, 0, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 217, 0, .39);
    box-shadow: 0.5em 0.5em 1em rgba(0, 217, 0, .39);
}

.shadow_bottom_right_glassyLime2h,
.hover_shadow_bottom_right_glassyLime2h:hover,
.active_shadow_bottom_right_glassyLime2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(5, 255, 5, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(5, 255, 5, .50);
    box-shadow: 0.5em 0.5em 1em rgba(5, 255, 5, .50);
}

.shadow_bottom_right_glassyLime2a,
 .hover_shadow_bottom_right_glassyLime2a:hover,
 .active_shadow_bottom_right_glassyLime2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 234, 0, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 234, 0, .63);
     box-shadow: 0.5em 0.5em 1em rgba(0, 234, 0, .63);
 }

 .shadow_bottom_right_glassyLime2s,
 .hover_shadow_bottom_right_glassyLime2s:hover,
 .active_shadow_bottom_right_glassyLime2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 234, 0, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 234, 0, .78);
     box-shadow: 0.5em 0.5em 1em rgba(0, 234, 0, .78);
 }