.background_glassyPaleVioletRed6,
.hover_background_glassyPaleVioletRed6:hover,
.active_background_glassyPaleVioletRed6:active:hover {
    background: #9d284e;
    background-image: -moz-linear-gradient(top,  rgb(142, 36, 70) 0%, rgb(126, 32, 62) 50%, rgb(110, 28, 55) 55%, rgb(157, 40, 78) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(142, 36, 70)), color-stop(50%, rgb(126, 32, 62)), color-stop(55%, rgb(110, 28, 55)), color-stop(100%, rgb(157, 40, 78)));
    background-image: -webkit-linear-gradient(top,  rgb(142, 36, 70) 0%, rgb(126, 32, 62) 50%, rgb(110, 28, 55) 55%, rgb(157, 40, 78) 100%);
    background-image: -o-linear-gradient(top,  rgb(142, 36, 70) 0%, rgb(126, 32, 62) 50%, rgb(110, 28, 55) 55%, rgb(157, 40, 78) 100%);
    background-image: -ms-linear-gradient(top, rgb(142, 36, 70) 0%, rgb(126, 32, 62) 50%, rgb(110, 28, 55) 55%, rgb(157, 40, 78) 100%);
    background-image: linear-gradient(to bottom,  rgb(142, 36, 70) 0%, rgb(126, 32, 62) 50%, rgb(110, 28, 55) 55%, rgb(157, 40, 78) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e2446', endColorstr='#9d284e',GradientType=0 );
}

.background_glassyPaleVioletRed6h,
.hover_background_glassyPaleVioletRed6h:hover,
.active_background_glassyPaleVioletRed6h:active:hover {
    background: #9d284e;
    background-image: -moz-linear-gradient(top,  rgb(170, 43, 84) 0%, rgb(151, 38, 75) 50%, rgb(132, 33, 66) 55%, rgb(189, 47, 94) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(170, 43, 84)), color-stop(50%, rgb(151, 38, 75)), color-stop(55%, rgb(132, 33, 66)), color-stop(100%, rgb(189, 47, 94)));
    background-image: -webkit-linear-gradient(top,  rgb(170, 43, 84) 0%, rgb(151, 38, 75) 50%, rgb(132, 33, 66) 55%, rgb(189, 47, 94) 100%);
    background-image: -o-linear-gradient(top,  rgb(170, 43, 84) 0%, rgb(151, 38, 75) 50%, rgb(132, 33, 66) 55%, rgb(189, 47, 94) 100%);
    background-image: -ms-linear-gradient(top, rgb(170, 43, 84) 0%, rgb(151, 38, 75) 50%, rgb(132, 33, 66) 55%, rgb(189, 47, 94) 100%);
    background-image: linear-gradient(to bottom,  rgb(170, 43, 84) 0%, rgb(151, 38, 75) 50%, rgb(132, 33, 66) 55%, rgb(189, 47, 94) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa2b54', endColorstr='#bd2f5e',GradientType=0 );
}

.background_glassyPaleVioletRed6a,
.hover_background_glassyPaleVioletRed6a:hover,
.active_background_glassyPaleVioletRed6a:active:hover {
    background: #9d284e;
    background-image: -moz-linear-gradient(top,  rgb(189, 47, 94) 0%, rgb(132, 33, 66) 50%, rgb(151, 38, 75) 55%, rgb(170, 43, 84) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(189, 47, 94)), color-stop(50%, rgb(132, 33, 66)), color-stop(55%, rgb(151, 38, 75)), color-stop(100%, rgb(170, 43, 84)));
    background-image: -webkit-linear-gradient(top,  rgb(189, 47, 94) 0%, rgb(132, 33, 66) 50%, rgb(151, 38, 75) 55%, rgb(170, 43, 84) 100%);
    background-image: -o-linear-gradient(top,  rgb(189, 47, 94) 0%, rgb(132, 33, 66) 50%, rgb(151, 38, 75) 55%, rgb(170, 43, 84) 100%);
    background-image: -ms-linear-gradient(top, rgb(189, 47, 94) 0%, rgb(132, 33, 66) 50%, rgb(151, 38, 75) 55%, rgb(170, 43, 84) 100%);
    background-image: linear-gradient(to bottom,  rgb(189, 47, 94) 0%, rgb(132, 33, 66) 50%, rgb(151, 38, 75) 55%, rgb(170, 43, 84) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd2f5e', endColorstr='#aa2b54',GradientType=0 );
}

.background_glassyPaleVioletRed6s,
.hover_background_glassyPaleVioletRed6s:hover,
.active_background_glassyPaleVioletRed6s:active:hover {
    background: #9d284e;
    background-image: -moz-linear-gradient(top,  rgb(206, 60, 108) 0%, rgb(189, 47, 94) 50%, rgb(165, 42, 82) 55%, rgb(212, 83, 125) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(206, 60, 108)), color-stop(50%, rgb(189, 47, 94)), color-stop(55%, rgb(165, 42, 82)), color-stop(100%, rgb(212, 83, 125)));
    background-image: -webkit-linear-gradient(top,  rgb(206, 60, 108) 0%, rgb(189, 47, 94) 50%, rgb(165, 42, 82) 55%, rgb(212, 83, 125) 100%);
    background-image: -o-linear-gradient(top,  rgb(206, 60, 108) 0%, rgb(189, 47, 94) 50%, rgb(165, 42, 82) 55%, rgb(212, 83, 125) 100%);
    background-image: -ms-linear-gradient(top, rgb(206, 60, 108) 0%, rgb(189, 47, 94) 50%, rgb(165, 42, 82) 55%, rgb(212, 83, 125) 100%);
    background-image: linear-gradient(to bottom,  rgb(206, 60, 108) 0%, rgb(189, 47, 94) 50%, rgb(165, 42, 82) 55%, rgb(212, 83, 125) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce3c6c', endColorstr='#d4537d',GradientType=0 );
}

.background_color_glassyPaleVioletRed6,
.hover_background_color_glassyPaleVioletRed6:hover,
.active_background_color_glassyPaleVioletRed6:active:hover {
    background-color:#9d284e;
}

.background_first_color_glassyPaleVioletRed6,
.hover_background_first_color_glassyPaleVioletRed6:hover,
.active_background_first_color_glassyPaleVioletRed6:active:hover {
    background-color:#8e2446;
}

.background_last_color_glassyPaleVioletRed6,
.hover_background_last_color_glassyPaleVioletRed6:hover,
.active_background_color_last_glassyPaleVioletRed6:active:hover {
   background-color:#9d284e;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyPaleVioletRed6,
.hover_color_glassyPaleVioletRed6:hover,
.active_color_glassyPaleVioletRed6:active:hover {
    color: #c8c8c8;
}

.color_glassyPaleVioletRed6h,
.hover_color_glassyPaleVioletRed6h:hover,
.active_color_glassyPaleVioletRed6h:active:hover {
    color: #c8c8c8;
}

.color_glassyPaleVioletRed6a,
.hover_color_glassyPaleVioletRed6a:hover,
.active_color_glassyPaleVioletRed6a:active:hover {
    color: #ff0;
}

.color_glassyPaleVioletRed6s,
.hover_color_glassyPaleVioletRed6s:hover,
.active_color_glassyPaleVioletRed6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyPaleVioletRed6,
.hover_border_glassyPaleVioletRed6:hover,
.active_border_glassyPaleVioletRed6:active:hover {
    border-color: #711c38 #5e182f #5e182f #711c38;
}

.border_glassyPaleVioletRed6h,
.hover_border_glassyPaleVioletRed6h:hover,
.active_border_glassyPaleVioletRed6h:active:hover {
    border-color: #711c38 #5e182f #5e182f #711c38;
}

.border_glassyPaleVioletRed6a,
.hover_border_glassyPaleVioletRed6a:hover,
.active_border_glassyPaleVioletRed6a:active:hover {
    border-color: #58162c #58162c #58162c #58162c;
}

.border_glassyPaleVioletRed6s,
.hover_border_glassyPaleVioletRed6s:hover,
.active_border_glassyPaleVioletRed6s:active:hover {
    border-color: #58162c #58162c #58162c #58162c;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyPaleVioletRed6,
.hover_shadow_expand_glassyPaleVioletRed6:hover,
.active_shadow_expand_glassyPaleVioletRed6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(157, 40, 78, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(157, 40, 78, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(157, 40, 78, .39);
}

.shadow_expand_glassyPaleVioletRed6h,
.hover_shadow_expand_glassyPaleVioletRed6h:hover,
.active_shadow_expand_glassyPaleVioletRed6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(189, 47, 94, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(189, 47, 94, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(189, 47, 94, .50);
}

.shadow_expand_glassyPaleVioletRed6a,
.hover_shadow_expand_glassyPaleVioletRed6a:hover,
.active_shadow_expand_glassyPaleVioletRed6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(170, 43, 84, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(170, 43, 84, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(170, 43, 84, .63);
}

.shadow_expand_glassyPaleVioletRed6s,
.hover_shadow_expand_glassyPaleVioletRed6s:hover,
.active_shadow_expand_glassyPaleVioletRed6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(170, 43, 84, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(170, 43, 84, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(170, 43, 84, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyPaleVioletRed6,
.hover_shadow_left_glassyPaleVioletRed6:hover,
.active_shadow_left_glassyPaleVioletRed6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 40, 78, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 40, 78, .39);
    box-shadow: -0.5em -0.5em 1em rgba(157, 40, 78, .39);
}

.shadow_left_glassyPaleVioletRed6h,
.hover_shadow_left_glassyPaleVioletRed6h:hover,
.active_shadow_left_glassyPaleVioletRed6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(189, 47, 94, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(189, 47, 94, .50);
    box-shadow: -0.5em -0.5em 1em rgba(189, 47, 94, .50);
}

.shadow_left_glassyPaleVioletRed6a,
.hover_shadow_left_glassyPaleVioletRed6a:hover,
.active_shadow_left_glassyPaleVioletRed6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(170, 43, 84, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(170, 43, 84, .63);
    box-shadow: -0.5em -0.5em 1em rgba(170, 43, 84, .63);
}

.shadow_left_glassyPaleVioletRed6s,
.hover_shadow_left_glassyPaleVioletRed6s:hover,
.active_shadow_left_glassyPaleVioletRed6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(170, 43, 84, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(170, 43, 84, .78);
    box-shadow: -0.5em -0.5em 1em rgba(170, 43, 84, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyPaleVioletRed6,
.hover_shadow_right_glassyPaleVioletRed6:hover,
.active_shadow_right_glassyPaleVioletRed6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(157, 40, 78, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(157, 40, 78, .39);
    box-shadow: 0.5em 0em 1em rgba(157, 40, 78, .39);
}

.shadow_right_glassyPaleVioletRed6h,
.hover_shadow_right_glassyPaleVioletRed6h:hover,
.active_shadow_right_glassyPaleVioletRed6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(189, 47, 94, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(189, 47, 94, .50);
    box-shadow: 0.5em 0em 1em rgba(189, 47, 94, .50);
}

.shadow_right_glassyPaleVioletRed6a,
.hover_shadow_right_glassyPaleVioletRed6a:hover,
.active_shadow_right_glassyPaleVioletRed6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(170, 43, 84, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(170, 43, 84, .63);
    box-shadow: 0.5em 0em 1em rgba(170, 43, 84, .63);
}

.shadow_right_glassyPaleVioletRed6s,
.hover_shadow_right_glassyPaleVioletRed6s:hover,
.active_shadow_right_glassyPaleVioletRed6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(170, 43, 84, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(170, 43, 84, .78);
    box-shadow: 0.5em 0em 1em rgba(170, 43, 84, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyPaleVioletRed6,
.hover_shadow_top_glassyPaleVioletRed6:hover,
.active_shadow_top_glassyPaleVioletRed6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(157, 40, 78, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(157, 40, 78, .39);
    box-shadow: 0em -0.5em 1em rgba(157, 40, 78, .39);
}

.shadow_top_glassyPaleVioletRed6h,
.hover_shadow_top_glassyPaleVioletRed6h:hover,
.active_shadow_top_glassyPaleVioletRed6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(189, 47, 94, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(189, 47, 94, .50);
    box-shadow: 0em -0.5em 1em rgba(189, 47, 94, .50);
}

.shadow_top_glassyPaleVioletRed6a,
.hover_shadow_top_glassyPaleVioletRed6a:hover,
.active_shadow_top_glassyPaleVioletRed6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(170, 43, 84, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(170, 43, 84, .63);
    box-shadow: 0em -0.5em 1em rgba(170, 43, 84, .63);
}

.shadow_top_glassyPaleVioletRed6s,
.hover_shadow_top_glassyPaleVioletRed6s:hover,
.active_shadow_top_glassyPaleVioletRed6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(170, 43, 84, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(170, 43, 84, .78);
    box-shadow: 0em -0.5em 1em rgba(170, 43, 84, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyPaleVioletRed6,
.hover_shadow_bottom_glassyPaleVioletRed6:hover,
.active_shadow_bottom_glassyPaleVioletRed6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(157, 40, 78, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(157, 40, 78, .39);
    box-shadow: 0em 0.5em 1em rgba(157, 40, 78, .39);
}

.shadow_bottom_glassyPaleVioletRed6h,
.hover_shadow_bottom_glassyPaleVioletRed6h:hover,
.active_shadow_bottom_glassyPaleVioletRed6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(189, 47, 94, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(189, 47, 94, .50);
    box-shadow: 0em 0.5em 1em rgba(189, 47, 94, .50);
}

.shadow_bottom_glassyPaleVioletRed6a,
.hover_shadow_bottom_glassyPaleVioletRed6a:hover,
.active_shadow_bottom_glassyPaleVioletRed6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(170, 43, 84, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(170, 43, 84, .63);
    box-shadow: 0em 0.5em 1em rgba(170, 43, 84, .63);
}

.shadow_bottom_glassyPaleVioletRed6s,
.hover_shadow_bottom_glassyPaleVioletRed6s:hover,
.active_shadow_bottom_glassyPaleVioletRed6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(170, 43, 84, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(170, 43, 84, .78);
    box-shadow: 0em 0.5em 1em rgba(170, 43, 84, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyPaleVioletRed6,
.hover_shadow_top_left_glassyPaleVioletRed6:hover,
.active_shadow_top_left_glassyPaleVioletRed6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 40, 78, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 40, 78, .39);
    box-shadow: -0.5em -0.5em 1em rgba(157, 40, 78, .39);
}

.shadow_top_left_glassyPaleVioletRed6h,
.hover_shadow_top_left_glassyPaleVioletRed6h:hover,
.active_shadow_top_left_glassyPaleVioletRed6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(189, 47, 94, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(189, 47, 94, .50);
    box-shadow: -0.5em -0.5em 1em rgba(189, 47, 94, .50);
}

.shadow_top_left_glassyPaleVioletRed6a,
.hover_shadow_top_left_glassyPaleVioletRed6a:hover,
.active_shadow_top_left_glassyPaleVioletRed6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(170, 43, 84, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(170, 43, 84, .63);
    box-shadow: -0.5em -0.5em 1em rgba(170, 43, 84, .63);
}

.shadow_top_left_glassyPaleVioletRed6s,
.hover_shadow_top_left_glassyPaleVioletRed6s:hover,
.active_shadow_top_left_glassyPaleVioletRed6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(170, 43, 84, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(170, 43, 84, .78);
    box-shadow: -0.5em -0.5em 1em rgba(170, 43, 84, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyPaleVioletRed6,
.hover_shadow_top_right_glassyPaleVioletRed6:hover,
.active_shadow_top_right_glassyPaleVioletRed6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(157, 40, 78, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(157, 40, 78, .39);
    box-shadow: 0.5em -0.5em 1em rgba(157, 40, 78, .39);
}

.shadow_top_right_glassyPaleVioletRed6h,
.hover_shadow_top_right_glassyPaleVioletRed6h:hover,
.active_shadow_top_right_glassyPaleVioletRed6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(189, 47, 94, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(189, 47, 94, .50);
    box-shadow: 0.5em -0.5em 1em rgba(189, 47, 94, .50);
}

.shadow_top_right_glassyPaleVioletRed6a,
.hover_shadow_top_right_glassyPaleVioletRed6a:hover,
.active_shadow_top_right_glassyPaleVioletRed6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(170, 43, 84, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(170, 43, 84, .63);
    box-shadow: 0.5em -0.5em 1em rgba(170, 43, 84, .63);
}

.shadow_top_right_glassyPaleVioletRed6s,
.hover_shadow_top_right_glassyPaleVioletRed6s:hover,
.active_shadow_top_right_glassyPaleVioletRed6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(170, 43, 84, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(170, 43, 84, .78);
    box-shadow: 0.5em -0.5em 1em rgba(170, 43, 84, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyPaleVioletRed6,
.hover_shadow_bottom_left_glassyPaleVioletRed6:hover,
.active_shadow_bottom_left_glassyPaleVioletRed6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(157, 40, 78, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(157, 40, 78, .39);
    box-shadow: -0.5em 0.5em 1em rgba(157, 40, 78, .39);
}

.shadow_bottom_left_glassyPaleVioletRed6h,
.hover_shadow_bottom_left_glassyPaleVioletRed6h:hover,
.active_shadow_bottom_left_glassyPaleVioletRed6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(189, 47, 94, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(189, 47, 94, .50);
    box-shadow: -0.5em 0.5em 1em rgba(189, 47, 94, .50);
}

.shadow_bottom_left_glassyPaleVioletRed6a,
.hover_shadow_bottom_left_glassyPaleVioletRed6a:hover,
.active_shadow_bottom_left_glassyPaleVioletRed6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(170, 43, 84, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(170, 43, 84, .63);
    box-shadow: -0.5em 0.5em 1em rgba(170, 43, 84, .63);
}

.shadow_bottom_left_glassyPaleVioletRed6s,
.hover_shadow_bottom_left_glassyPaleVioletRed6s:hover,
.active_shadow_bottom_left_glassyPaleVioletRed6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(170, 43, 84, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(170, 43, 84, .78);
    box-shadow: -0.5em 0.5em 1em rgba(170, 43, 84, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyPaleVioletRed6,
.hover_shadow_bottom_right_glassyPaleVioletRed6:hover,
.active_shadow_bottom_right_glassyPaleVioletRed6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(157, 40, 78, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(157, 40, 78, .39);
    box-shadow: 0.5em 0.5em 1em rgba(157, 40, 78, .39);
}

.shadow_bottom_right_glassyPaleVioletRed6h,
.hover_shadow_bottom_right_glassyPaleVioletRed6h:hover,
.active_shadow_bottom_right_glassyPaleVioletRed6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(189, 47, 94, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(189, 47, 94, .50);
    box-shadow: 0.5em 0.5em 1em rgba(189, 47, 94, .50);
}

.shadow_bottom_right_glassyPaleVioletRed6a,
 .hover_shadow_bottom_right_glassyPaleVioletRed6a:hover,
 .active_shadow_bottom_right_glassyPaleVioletRed6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(170, 43, 84, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(170, 43, 84, .63);
     box-shadow: 0.5em 0.5em 1em rgba(170, 43, 84, .63);
 }

 .shadow_bottom_right_glassyPaleVioletRed6s,
 .hover_shadow_bottom_right_glassyPaleVioletRed6s:hover,
 .active_shadow_bottom_right_glassyPaleVioletRed6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(170, 43, 84, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(170, 43, 84, .78);
     box-shadow: 0.5em 0.5em 1em rgba(170, 43, 84, .78);
 }