.background_glassyIvory5,
.hover_background_glassyIvory5:hover,
.active_background_glassyIvory5:active:hover {
    background: #ffff03;
    background-image: -moz-linear-gradient(top,  rgb(233, 233, 0) 0%, rgb(207, 207, 0) 50%, rgb(181, 181, 0) 55%, rgb(255, 255, 3) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(233, 233, 0)), color-stop(50%, rgb(207, 207, 0)), color-stop(55%, rgb(181, 181, 0)), color-stop(100%, rgb(255, 255, 3)));
    background-image: -webkit-linear-gradient(top,  rgb(233, 233, 0) 0%, rgb(207, 207, 0) 50%, rgb(181, 181, 0) 55%, rgb(255, 255, 3) 100%);
    background-image: -o-linear-gradient(top,  rgb(233, 233, 0) 0%, rgb(207, 207, 0) 50%, rgb(181, 181, 0) 55%, rgb(255, 255, 3) 100%);
    background-image: -ms-linear-gradient(top, rgb(233, 233, 0) 0%, rgb(207, 207, 0) 50%, rgb(181, 181, 0) 55%, rgb(255, 255, 3) 100%);
    background-image: linear-gradient(to bottom,  rgb(233, 233, 0) 0%, rgb(207, 207, 0) 50%, rgb(181, 181, 0) 55%, rgb(255, 255, 3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e900', endColorstr='#ffff03',GradientType=0 );
}

.background_glassyIvory5h,
.hover_background_glassyIvory5h:hover,
.active_background_glassyIvory5h:active:hover {
    background: #ffff03;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 24) 0%, rgb(248, 248, 0) 50%, rgb(217, 217, 0) 55%, rgb(255, 255, 55) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 24)), color-stop(50%, rgb(248, 248, 0)), color-stop(55%, rgb(217, 217, 0)), color-stop(100%, rgb(255, 255, 55)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 24) 0%, rgb(248, 248, 0) 50%, rgb(217, 217, 0) 55%, rgb(255, 255, 55) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 24) 0%, rgb(248, 248, 0) 50%, rgb(217, 217, 0) 55%, rgb(255, 255, 55) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 24) 0%, rgb(248, 248, 0) 50%, rgb(217, 217, 0) 55%, rgb(255, 255, 55) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 24) 0%, rgb(248, 248, 0) 50%, rgb(217, 217, 0) 55%, rgb(255, 255, 55) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff18', endColorstr='#ffff37',GradientType=0 );
}

.background_glassyIvory5a,
.hover_background_glassyIvory5a:hover,
.active_background_glassyIvory5a:active:hover {
    background: #ffff03;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 55) 0%, rgb(217, 217, 0) 50%, rgb(248, 248, 0) 55%, rgb(255, 255, 24) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 55)), color-stop(50%, rgb(217, 217, 0)), color-stop(55%, rgb(248, 248, 0)), color-stop(100%, rgb(255, 255, 24)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 55) 0%, rgb(217, 217, 0) 50%, rgb(248, 248, 0) 55%, rgb(255, 255, 24) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 55) 0%, rgb(217, 217, 0) 50%, rgb(248, 248, 0) 55%, rgb(255, 255, 24) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 55) 0%, rgb(217, 217, 0) 50%, rgb(248, 248, 0) 55%, rgb(255, 255, 24) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 55) 0%, rgb(217, 217, 0) 50%, rgb(248, 248, 0) 55%, rgb(255, 255, 24) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff37', endColorstr='#ffff18',GradientType=0 );
}

.background_glassyIvory5s,
.hover_background_glassyIvory5s:hover,
.active_background_glassyIvory5s:active:hover {
    background: #ffff03;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 94) 0%, rgb(255, 255, 55) 50%, rgb(255, 255, 16) 55%, rgb(255, 255, 133) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 94)), color-stop(50%, rgb(255, 255, 55)), color-stop(55%, rgb(255, 255, 16)), color-stop(100%, rgb(255, 255, 133)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 94) 0%, rgb(255, 255, 55) 50%, rgb(255, 255, 16) 55%, rgb(255, 255, 133) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 94) 0%, rgb(255, 255, 55) 50%, rgb(255, 255, 16) 55%, rgb(255, 255, 133) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 94) 0%, rgb(255, 255, 55) 50%, rgb(255, 255, 16) 55%, rgb(255, 255, 133) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 94) 0%, rgb(255, 255, 55) 50%, rgb(255, 255, 16) 55%, rgb(255, 255, 133) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff5e', endColorstr='#ffff85',GradientType=0 );
}

.background_color_glassyIvory5,
.hover_background_color_glassyIvory5:hover,
.active_background_color_glassyIvory5:active:hover {
    background-color:#ffff03;
}

.background_first_color_glassyIvory5,
.hover_background_first_color_glassyIvory5:hover,
.active_background_first_color_glassyIvory5:active:hover {
    background-color:#e9e900;
}

.background_last_color_glassyIvory5,
.hover_background_last_color_glassyIvory5:hover,
.active_background_color_last_glassyIvory5:active:hover {
   background-color:#ffff03;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyIvory5,
.hover_color_glassyIvory5:hover,
.active_color_glassyIvory5:active:hover {
    color: #282828;
}

.color_glassyIvory5h,
.hover_color_glassyIvory5h:hover,
.active_color_glassyIvory5h:active:hover {
    color: #282828;
}

.color_glassyIvory5a,
.hover_color_glassyIvory5a:hover,
.active_color_glassyIvory5a:active:hover {
    color: #ff0;
}

.color_glassyIvory5s,
.hover_color_glassyIvory5s:hover,
.active_color_glassyIvory5s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyIvory5,
.hover_border_glassyIvory5:hover,
.active_border_glassyIvory5:active:hover {
    border-color: #baba00 #9b9b00 #9b9b00 #baba00;
}

.border_glassyIvory5h,
.hover_border_glassyIvory5h:hover,
.active_border_glassyIvory5h:active:hover {
    border-color: #baba00 #9b9b00 #9b9b00 #baba00;
}

.border_glassyIvory5a,
.hover_border_glassyIvory5a:hover,
.active_border_glassyIvory5a:active:hover {
    border-color: #919100 #919100 #919100 #919100;
}

.border_glassyIvory5s,
.hover_border_glassyIvory5s:hover,
.active_border_glassyIvory5s:active:hover {
    border-color: #919100 #919100 #919100 #919100;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyIvory5,
.hover_shadow_expand_glassyIvory5:hover,
.active_shadow_expand_glassyIvory5:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 3, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 3, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 3, .39);
}

.shadow_expand_glassyIvory5h,
.hover_shadow_expand_glassyIvory5h:hover,
.active_shadow_expand_glassyIvory5h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 55, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 55, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 55, .50);
}

.shadow_expand_glassyIvory5a,
.hover_shadow_expand_glassyIvory5a:hover,
.active_shadow_expand_glassyIvory5a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 24, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 24, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 24, .63);
}

.shadow_expand_glassyIvory5s,
.hover_shadow_expand_glassyIvory5s:hover,
.active_shadow_expand_glassyIvory5s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 24, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 24, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 24, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyIvory5,
.hover_shadow_left_glassyIvory5:hover,
.active_shadow_left_glassyIvory5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 3, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 3, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 3, .39);
}

.shadow_left_glassyIvory5h,
.hover_shadow_left_glassyIvory5h:hover,
.active_shadow_left_glassyIvory5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 55, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 55, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 55, .50);
}

.shadow_left_glassyIvory5a,
.hover_shadow_left_glassyIvory5a:hover,
.active_shadow_left_glassyIvory5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 24, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 24, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 24, .63);
}

.shadow_left_glassyIvory5s,
.hover_shadow_left_glassyIvory5s:hover,
.active_shadow_left_glassyIvory5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 24, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 24, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 24, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyIvory5,
.hover_shadow_right_glassyIvory5:hover,
.active_shadow_right_glassyIvory5:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 3, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 3, .39);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 3, .39);
}

.shadow_right_glassyIvory5h,
.hover_shadow_right_glassyIvory5h:hover,
.active_shadow_right_glassyIvory5h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 55, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 55, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 55, .50);
}

.shadow_right_glassyIvory5a,
.hover_shadow_right_glassyIvory5a:hover,
.active_shadow_right_glassyIvory5a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 24, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 24, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 24, .63);
}

.shadow_right_glassyIvory5s,
.hover_shadow_right_glassyIvory5s:hover,
.active_shadow_right_glassyIvory5s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 24, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 24, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 24, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyIvory5,
.hover_shadow_top_glassyIvory5:hover,
.active_shadow_top_glassyIvory5:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 3, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 3, .39);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 3, .39);
}

.shadow_top_glassyIvory5h,
.hover_shadow_top_glassyIvory5h:hover,
.active_shadow_top_glassyIvory5h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 55, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 55, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 55, .50);
}

.shadow_top_glassyIvory5a,
.hover_shadow_top_glassyIvory5a:hover,
.active_shadow_top_glassyIvory5a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 24, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 24, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 24, .63);
}

.shadow_top_glassyIvory5s,
.hover_shadow_top_glassyIvory5s:hover,
.active_shadow_top_glassyIvory5s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 24, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 24, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 24, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyIvory5,
.hover_shadow_bottom_glassyIvory5:hover,
.active_shadow_bottom_glassyIvory5:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 3, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 3, .39);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 3, .39);
}

.shadow_bottom_glassyIvory5h,
.hover_shadow_bottom_glassyIvory5h:hover,
.active_shadow_bottom_glassyIvory5h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 55, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 55, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 55, .50);
}

.shadow_bottom_glassyIvory5a,
.hover_shadow_bottom_glassyIvory5a:hover,
.active_shadow_bottom_glassyIvory5a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 24, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 24, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 24, .63);
}

.shadow_bottom_glassyIvory5s,
.hover_shadow_bottom_glassyIvory5s:hover,
.active_shadow_bottom_glassyIvory5s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 24, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 24, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 24, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyIvory5,
.hover_shadow_top_left_glassyIvory5:hover,
.active_shadow_top_left_glassyIvory5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 3, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 3, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 3, .39);
}

.shadow_top_left_glassyIvory5h,
.hover_shadow_top_left_glassyIvory5h:hover,
.active_shadow_top_left_glassyIvory5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 55, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 55, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 55, .50);
}

.shadow_top_left_glassyIvory5a,
.hover_shadow_top_left_glassyIvory5a:hover,
.active_shadow_top_left_glassyIvory5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 24, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 24, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 24, .63);
}

.shadow_top_left_glassyIvory5s,
.hover_shadow_top_left_glassyIvory5s:hover,
.active_shadow_top_left_glassyIvory5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 24, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 24, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 24, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyIvory5,
.hover_shadow_top_right_glassyIvory5:hover,
.active_shadow_top_right_glassyIvory5:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 3, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 3, .39);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 3, .39);
}

.shadow_top_right_glassyIvory5h,
.hover_shadow_top_right_glassyIvory5h:hover,
.active_shadow_top_right_glassyIvory5h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 55, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 55, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 55, .50);
}

.shadow_top_right_glassyIvory5a,
.hover_shadow_top_right_glassyIvory5a:hover,
.active_shadow_top_right_glassyIvory5a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 24, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 24, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 24, .63);
}

.shadow_top_right_glassyIvory5s,
.hover_shadow_top_right_glassyIvory5s:hover,
.active_shadow_top_right_glassyIvory5s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 24, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 24, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 24, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyIvory5,
.hover_shadow_bottom_left_glassyIvory5:hover,
.active_shadow_bottom_left_glassyIvory5:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 3, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 3, .39);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 3, .39);
}

.shadow_bottom_left_glassyIvory5h,
.hover_shadow_bottom_left_glassyIvory5h:hover,
.active_shadow_bottom_left_glassyIvory5h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 55, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 55, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 55, .50);
}

.shadow_bottom_left_glassyIvory5a,
.hover_shadow_bottom_left_glassyIvory5a:hover,
.active_shadow_bottom_left_glassyIvory5a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 24, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 24, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 24, .63);
}

.shadow_bottom_left_glassyIvory5s,
.hover_shadow_bottom_left_glassyIvory5s:hover,
.active_shadow_bottom_left_glassyIvory5s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 24, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 24, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 24, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyIvory5,
.hover_shadow_bottom_right_glassyIvory5:hover,
.active_shadow_bottom_right_glassyIvory5:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 3, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 3, .39);
    box-shadow: 0.5em 0.5em 1em rgba(255, 255, 3, .39);
}

.shadow_bottom_right_glassyIvory5h,
.hover_shadow_bottom_right_glassyIvory5h:hover,
.active_shadow_bottom_right_glassyIvory5h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 55, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 55, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 255, 55, .50);
}

.shadow_bottom_right_glassyIvory5a,
 .hover_shadow_bottom_right_glassyIvory5a:hover,
 .active_shadow_bottom_right_glassyIvory5a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 24, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 24, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 255, 24, .63);
 }

 .shadow_bottom_right_glassyIvory5s,
 .hover_shadow_bottom_right_glassyIvory5s:hover,
 .active_shadow_bottom_right_glassyIvory5s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 24, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 24, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 255, 24, .78);
 }