.background_glassyIvory1,
.hover_background_glassyIvory1:hover,
.active_background_glassyIvory1:active:hover {
    background: #fffff0;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 190) 0%, rgb(255, 255, 141) 50%, rgb(255, 255, 92) 55%, rgb(255, 255, 240) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 190)), color-stop(50%, rgb(255, 255, 141)), color-stop(55%, rgb(255, 255, 92)), color-stop(100%, rgb(255, 255, 240)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 190) 0%, rgb(255, 255, 141) 50%, rgb(255, 255, 92) 55%, rgb(255, 255, 240) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 190) 0%, rgb(255, 255, 141) 50%, rgb(255, 255, 92) 55%, rgb(255, 255, 240) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 190) 0%, rgb(255, 255, 141) 50%, rgb(255, 255, 92) 55%, rgb(255, 255, 240) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 190) 0%, rgb(255, 255, 141) 50%, rgb(255, 255, 92) 55%, rgb(255, 255, 240) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffbe', endColorstr='#fffff0',GradientType=0 );
}

.background_glassyIvory1h,
.hover_background_glassyIvory1h:hover,
.active_background_glassyIvory1h:active:hover {
    background: #fffff0;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 220) 50%, rgb(255, 255, 161) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(255, 255, 220)), color-stop(55%, rgb(255, 255, 161)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 220) 50%, rgb(255, 255, 161) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 220) 50%, rgb(255, 255, 161) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 220) 50%, rgb(255, 255, 161) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(255, 255, 220) 50%, rgb(255, 255, 161) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_glassyIvory1a,
.hover_background_glassyIvory1a:hover,
.active_background_glassyIvory1a:active:hover {
    background: #fffff0;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 161) 50%, rgb(255, 255, 220) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(255, 255, 161)), color-stop(55%, rgb(255, 255, 220)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 161) 50%, rgb(255, 255, 220) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 161) 50%, rgb(255, 255, 220) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 161) 50%, rgb(255, 255, 220) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(255, 255, 161) 50%, rgb(255, 255, 220) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_glassyIvory1s,
.hover_background_glassyIvory1s:hover,
.active_background_glassyIvory1s:active:hover {
    background: #fffff0;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(255, 255, 255)), color-stop(55%, rgb(255, 255, 255)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_color_glassyIvory1,
.hover_background_color_glassyIvory1:hover,
.active_background_color_glassyIvory1:active:hover {
    background-color:#fffff0;
}

.background_first_color_glassyIvory1,
.hover_background_first_color_glassyIvory1:hover,
.active_background_first_color_glassyIvory1:active:hover {
    background-color:#ffffbe;
}

.background_last_color_glassyIvory1,
.hover_background_last_color_glassyIvory1:hover,
.active_background_color_last_glassyIvory1:active:hover {
   background-color:#fffff0;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyIvory1,
.hover_color_glassyIvory1:hover,
.active_color_glassyIvory1:active:hover {
    color: #282828;
}

.color_glassyIvory1h,
.hover_color_glassyIvory1h:hover,
.active_color_glassyIvory1h:active:hover {
    color: #282828;
}

.color_glassyIvory1a,
.hover_color_glassyIvory1a:hover,
.active_color_glassyIvory1a:active:hover {
    color: #ff0;
}

.color_glassyIvory1s,
.hover_color_glassyIvory1s:hover,
.active_color_glassyIvory1s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyIvory1,
.hover_border_glassyIvory1:hover,
.active_border_glassyIvory1:active:hover {
    border-color: #ffff65 #ffff2a #ffff2a #ffff65;
}

.border_glassyIvory1h,
.hover_border_glassyIvory1h:hover,
.active_border_glassyIvory1h:active:hover {
    border-color: #ffff65 #ffff2a #ffff2a #ffff65;
}

.border_glassyIvory1a,
.hover_border_glassyIvory1a:hover,
.active_border_glassyIvory1a:active:hover {
    border-color: #ffff16 #ffff16 #ffff16 #ffff16;
}

.border_glassyIvory1s,
.hover_border_glassyIvory1s:hover,
.active_border_glassyIvory1s:active:hover {
    border-color: #ffff16 #ffff16 #ffff16 #ffff16;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyIvory1,
.hover_shadow_expand_glassyIvory1:hover,
.active_shadow_expand_glassyIvory1:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 240, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 240, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 240, .39);
}

.shadow_expand_glassyIvory1h,
.hover_shadow_expand_glassyIvory1h:hover,
.active_shadow_expand_glassyIvory1h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .50);
}

.shadow_expand_glassyIvory1a,
.hover_shadow_expand_glassyIvory1a:hover,
.active_shadow_expand_glassyIvory1a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .63);
}

.shadow_expand_glassyIvory1s,
.hover_shadow_expand_glassyIvory1s:hover,
.active_shadow_expand_glassyIvory1s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyIvory1,
.hover_shadow_left_glassyIvory1:hover,
.active_shadow_left_glassyIvory1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 240, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 240, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 240, .39);
}

.shadow_left_glassyIvory1h,
.hover_shadow_left_glassyIvory1h:hover,
.active_shadow_left_glassyIvory1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_left_glassyIvory1a,
.hover_shadow_left_glassyIvory1a:hover,
.active_shadow_left_glassyIvory1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_left_glassyIvory1s,
.hover_shadow_left_glassyIvory1s:hover,
.active_shadow_left_glassyIvory1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyIvory1,
.hover_shadow_right_glassyIvory1:hover,
.active_shadow_right_glassyIvory1:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 240, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 240, .39);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 240, .39);
}

.shadow_right_glassyIvory1h,
.hover_shadow_right_glassyIvory1h:hover,
.active_shadow_right_glassyIvory1h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .50);
}

.shadow_right_glassyIvory1a,
.hover_shadow_right_glassyIvory1a:hover,
.active_shadow_right_glassyIvory1a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .63);
}

.shadow_right_glassyIvory1s,
.hover_shadow_right_glassyIvory1s:hover,
.active_shadow_right_glassyIvory1s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyIvory1,
.hover_shadow_top_glassyIvory1:hover,
.active_shadow_top_glassyIvory1:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 240, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 240, .39);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 240, .39);
}

.shadow_top_glassyIvory1h,
.hover_shadow_top_glassyIvory1h:hover,
.active_shadow_top_glassyIvory1h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_top_glassyIvory1a,
.hover_shadow_top_glassyIvory1a:hover,
.active_shadow_top_glassyIvory1a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_top_glassyIvory1s,
.hover_shadow_top_glassyIvory1s:hover,
.active_shadow_top_glassyIvory1s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyIvory1,
.hover_shadow_bottom_glassyIvory1:hover,
.active_shadow_bottom_glassyIvory1:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 240, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 240, .39);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 240, .39);
}

.shadow_bottom_glassyIvory1h,
.hover_shadow_bottom_glassyIvory1h:hover,
.active_shadow_bottom_glassyIvory1h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_bottom_glassyIvory1a,
.hover_shadow_bottom_glassyIvory1a:hover,
.active_shadow_bottom_glassyIvory1a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_bottom_glassyIvory1s,
.hover_shadow_bottom_glassyIvory1s:hover,
.active_shadow_bottom_glassyIvory1s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyIvory1,
.hover_shadow_top_left_glassyIvory1:hover,
.active_shadow_top_left_glassyIvory1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 240, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 240, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 240, .39);
}

.shadow_top_left_glassyIvory1h,
.hover_shadow_top_left_glassyIvory1h:hover,
.active_shadow_top_left_glassyIvory1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_top_left_glassyIvory1a,
.hover_shadow_top_left_glassyIvory1a:hover,
.active_shadow_top_left_glassyIvory1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_top_left_glassyIvory1s,
.hover_shadow_top_left_glassyIvory1s:hover,
.active_shadow_top_left_glassyIvory1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyIvory1,
.hover_shadow_top_right_glassyIvory1:hover,
.active_shadow_top_right_glassyIvory1:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 240, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 240, .39);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 240, .39);
}

.shadow_top_right_glassyIvory1h,
.hover_shadow_top_right_glassyIvory1h:hover,
.active_shadow_top_right_glassyIvory1h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_top_right_glassyIvory1a,
.hover_shadow_top_right_glassyIvory1a:hover,
.active_shadow_top_right_glassyIvory1a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_top_right_glassyIvory1s,
.hover_shadow_top_right_glassyIvory1s:hover,
.active_shadow_top_right_glassyIvory1s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyIvory1,
.hover_shadow_bottom_left_glassyIvory1:hover,
.active_shadow_bottom_left_glassyIvory1:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 240, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 240, .39);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 240, .39);
}

.shadow_bottom_left_glassyIvory1h,
.hover_shadow_bottom_left_glassyIvory1h:hover,
.active_shadow_bottom_left_glassyIvory1h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_bottom_left_glassyIvory1a,
.hover_shadow_bottom_left_glassyIvory1a:hover,
.active_shadow_bottom_left_glassyIvory1a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .63);
}

.shadow_bottom_left_glassyIvory1s,
.hover_shadow_bottom_left_glassyIvory1s:hover,
.active_shadow_bottom_left_glassyIvory1s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyIvory1,
.hover_shadow_bottom_right_glassyIvory1:hover,
.active_shadow_bottom_right_glassyIvory1:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 240, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 240, .39);
    box-shadow: 0.5em 0.5em 1em rgba(255, 255, 240, .39);
}

.shadow_bottom_right_glassyIvory1h,
.hover_shadow_bottom_right_glassyIvory1h:hover,
.active_shadow_bottom_right_glassyIvory1h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .50);
}

.shadow_bottom_right_glassyIvory1a,
 .hover_shadow_bottom_right_glassyIvory1a:hover,
 .active_shadow_bottom_right_glassyIvory1a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .63);
 }

 .shadow_bottom_right_glassyIvory1s,
 .hover_shadow_bottom_right_glassyIvory1s:hover,
 .active_shadow_bottom_right_glassyIvory1s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 255, 255, .78);
 }