.background_crimson5,
.hover_background_crimson5:hover,
.active_background_crimson5:active:hover {
    background: #a50f2d;
    background-image: -moz-linear-gradient(top,  rgb(206, 19, 56) 0%, rgb(165, 15, 45) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(206, 19, 56)), color-stop(100%, rgb(165, 15, 45)));
    background-image: -webkit-linear-gradient(top,  rgb(206, 19, 56) 0%, rgb(165, 15, 45) 100%);
    background-image: -o-linear-gradient(top,  rgb(206, 19, 56) 0%, rgb(165, 15, 45) 100%);
    background-image: -ms-linear-gradient(top, rgb(206, 19, 56) 0%, rgb(165, 15, 45) 100%);
    background-image: linear-gradient(to bottom,  rgb(206, 19, 56) 0%, rgb(165, 15, 45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce1338', endColorstr='#a50f2d',GradientType=0 );
}

.background_crimson5h,
.hover_background_crimson5h:hover,
.active_background_crimson5h:active:hover {
    background: #a50f2d;
    background-image: -moz-linear-gradient(top,  rgb(235, 35, 75) 0%, rgb(198, 18, 54) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(235, 35, 75)), color-stop(100%, rgb(198, 18, 54)));
    background-image: -webkit-linear-gradient(top,  rgb(235, 35, 75) 0%, rgb(198, 18, 54) 100%);
    background-image: -o-linear-gradient(top,  rgb(235, 35, 75) 0%, rgb(198, 18, 54) 100%);
    background-image: -ms-linear-gradient(top, rgb(235, 35, 75) 0%, rgb(198, 18, 54) 100%);
    background-image: linear-gradient(to bottom,  rgb(235, 35, 75) 0%, rgb(198, 18, 54) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb234b', endColorstr='#c61236',GradientType=0 );
}

.background_crimson5a,
.hover_background_crimson5a:hover,
.active_background_crimson5a:active:hover {
    background: #a50f2d;
    background-image: -moz-linear-gradient(top,  rgb(198, 18, 54) 0%, rgb(235, 35, 75) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(198, 18, 54)), color-stop(100%, rgb(235, 35, 75)));
    background-image: -webkit-linear-gradient(top,  rgb(198, 18, 54) 0%, rgb(235, 35, 75) 100%);
    background-image: -o-linear-gradient(top,  rgb(198, 18, 54) 0%, rgb(235, 35, 75) 100%);
    background-image: -ms-linear-gradient(top, rgb(198, 18, 54) 0%, rgb(235, 35, 75) 100%);
    background-image: linear-gradient(to bottom,  rgb(198, 18, 54) 0%, rgb(235, 35, 75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c61236', endColorstr='#eb234b',GradientType=0 );
}

.background_crimson5s,
.hover_background_crimson5s:hover,
.active_background_crimson5s:active:hover {
    background: #a50f2d;
    background-image: -moz-linear-gradient(top,  rgb(241, 97, 126) 0%, rgb(235, 35, 75) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(241, 97, 126)), color-stop(100%, rgb(235, 35, 75)));
    background-image: -webkit-linear-gradient(top,  rgb(241, 97, 126) 0%, rgb(235, 35, 75) 100%);
    background-image: -o-linear-gradient(top,  rgb(241, 97, 126) 0%, rgb(235, 35, 75) 100%);
    background-image: -ms-linear-gradient(top, rgb(241, 97, 126) 0%, rgb(235, 35, 75) 100%);
    background-image: linear-gradient(to bottom,  rgb(241, 97, 126) 0%, rgb(235, 35, 75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1617e', endColorstr='#eb234b',GradientType=0 );
}

.background_color_crimson5,
.hover_background_color_crimson5:hover,
.active_background_color_crimson5:active:hover {
    background-color:#a50f2d;
}

.background_first_color_crimson5,
.hover_background_first_color_crimson5:hover,
.active_background_first_color_crimson5:active:hover {
    background-color:#ce1338;
}

.background_last_color_crimson5,
.hover_background_last_color_crimson5:hover,
.active_background_color_last_crimson5:active:hover {
   background-color:#a50f2d;
}

/* ------------------------------ color settings -------------------------------*/
.color_crimson5,
.hover_color_crimson5:hover,
.active_color_crimson5:active:hover {
    color: #c8c8c8;
}

.color_crimson5h,
.hover_color_crimson5h:hover,
.active_color_crimson5h:active:hover {
    color: #c8c8c8;
}

.color_crimson5a,
.hover_color_crimson5a:hover,
.active_color_crimson5a:active:hover {
    color: #ff0;
}

.color_crimson5s,
.hover_color_crimson5s:hover,
.active_color_crimson5s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_crimson5,
.hover_border_crimson5:hover,
.active_border_crimson5:active:hover {
    border-color: #a50f2d #a50f2d #a50f2d #a50f2d;
}

.border_crimson5h,
.hover_border_crimson5h:hover,
.active_border_crimson5h:active:hover {
    border-color: #940d28 #940d28 #940d28 #940d28;
}

.border_crimson5a,
.hover_border_crimson5a:hover,
.active_border_crimson5a:active:hover {
    border-color: #840c24 #840c24 #840c24 #840c24;
}

.border_crimson5s,
.hover_border_crimson5s:hover,
.active_border_crimson5s:active:hover {
    border-color: #eb234b #eb234b #eb234b #eb234b;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_crimson5,
.hover_shadow_expand_crimson5:hover,
.active_shadow_expand_crimson5:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(165, 15, 45, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(165, 15, 45, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(165, 15, 45, .39);
}

.shadow_expand_crimson5h,
.hover_shadow_expand_crimson5h:hover,
.active_shadow_expand_crimson5h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(198, 18, 54, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(198, 18, 54, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(198, 18, 54, .50);
}

.shadow_expand_crimson5a,
.hover_shadow_expand_crimson5a:hover,
.active_shadow_expand_crimson5a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(235, 35, 75, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(235, 35, 75, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(235, 35, 75, .63);
}

.shadow_expand_crimson5s,
.hover_shadow_expand_crimson5s:hover,
.active_shadow_expand_crimson5s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(235, 35, 75, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(235, 35, 75, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(235, 35, 75, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_crimson5,
.hover_shadow_left_crimson5:hover,
.active_shadow_left_crimson5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(165, 15, 45, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(165, 15, 45, .39);
    box-shadow: -0.5em -0.5em 1em rgba(165, 15, 45, .39);
}

.shadow_left_crimson5h,
.hover_shadow_left_crimson5h:hover,
.active_shadow_left_crimson5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(198, 18, 54, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(198, 18, 54, .50);
    box-shadow: -0.5em -0.5em 1em rgba(198, 18, 54, .50);
}

.shadow_left_crimson5a,
.hover_shadow_left_crimson5a:hover,
.active_shadow_left_crimson5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(235, 35, 75, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(235, 35, 75, .63);
    box-shadow: -0.5em -0.5em 1em rgba(235, 35, 75, .63);
}

.shadow_left_crimson5s,
.hover_shadow_left_crimson5s:hover,
.active_shadow_left_crimson5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(235, 35, 75, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(235, 35, 75, .78);
    box-shadow: -0.5em -0.5em 1em rgba(235, 35, 75, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_crimson5,
.hover_shadow_right_crimson5:hover,
.active_shadow_right_crimson5:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(165, 15, 45, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(165, 15, 45, .39);
    box-shadow: 0.5em 0em 1em rgba(165, 15, 45, .39);
}

.shadow_right_crimson5h,
.hover_shadow_right_crimson5h:hover,
.active_shadow_right_crimson5h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(198, 18, 54, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(198, 18, 54, .50);
    box-shadow: 0.5em 0em 1em rgba(198, 18, 54, .50);
}

.shadow_right_crimson5a,
.hover_shadow_right_crimson5a:hover,
.active_shadow_right_crimson5a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(235, 35, 75, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(235, 35, 75, .63);
    box-shadow: 0.5em 0em 1em rgba(235, 35, 75, .63);
}

.shadow_right_crimson5s,
.hover_shadow_right_crimson5s:hover,
.active_shadow_right_crimson5s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(235, 35, 75, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(235, 35, 75, .78);
    box-shadow: 0.5em 0em 1em rgba(235, 35, 75, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_crimson5,
.hover_shadow_top_crimson5:hover,
.active_shadow_top_crimson5:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(165, 15, 45, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(165, 15, 45, .39);
    box-shadow: 0em -0.5em 1em rgba(165, 15, 45, .39);
}

.shadow_top_crimson5h,
.hover_shadow_top_crimson5h:hover,
.active_shadow_top_crimson5h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(198, 18, 54, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(198, 18, 54, .50);
    box-shadow: 0em -0.5em 1em rgba(198, 18, 54, .50);
}

.shadow_top_crimson5a,
.hover_shadow_top_crimson5a:hover,
.active_shadow_top_crimson5a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(235, 35, 75, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(235, 35, 75, .63);
    box-shadow: 0em -0.5em 1em rgba(235, 35, 75, .63);
}

.shadow_top_crimson5s,
.hover_shadow_top_crimson5s:hover,
.active_shadow_top_crimson5s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(235, 35, 75, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(235, 35, 75, .78);
    box-shadow: 0em -0.5em 1em rgba(235, 35, 75, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_crimson5,
.hover_shadow_bottom_crimson5:hover,
.active_shadow_bottom_crimson5:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(165, 15, 45, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(165, 15, 45, .39);
    box-shadow: 0em 0.5em 1em rgba(165, 15, 45, .39);
}

.shadow_bottom_crimson5h,
.hover_shadow_bottom_crimson5h:hover,
.active_shadow_bottom_crimson5h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(198, 18, 54, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(198, 18, 54, .50);
    box-shadow: 0em 0.5em 1em rgba(198, 18, 54, .50);
}

.shadow_bottom_crimson5a,
.hover_shadow_bottom_crimson5a:hover,
.active_shadow_bottom_crimson5a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(235, 35, 75, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(235, 35, 75, .63);
    box-shadow: 0em 0.5em 1em rgba(235, 35, 75, .63);
}

.shadow_bottom_crimson5s,
.hover_shadow_bottom_crimson5s:hover,
.active_shadow_bottom_crimson5s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(235, 35, 75, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(235, 35, 75, .78);
    box-shadow: 0em 0.5em 1em rgba(235, 35, 75, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_crimson5,
.hover_shadow_top_left_crimson5:hover,
.active_shadow_top_left_crimson5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(165, 15, 45, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(165, 15, 45, .39);
    box-shadow: -0.5em -0.5em 1em rgba(165, 15, 45, .39);
}

.shadow_top_left_crimson5h,
.hover_shadow_top_left_crimson5h:hover,
.active_shadow_top_left_crimson5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(198, 18, 54, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(198, 18, 54, .50);
    box-shadow: -0.5em -0.5em 1em rgba(198, 18, 54, .50);
}

.shadow_top_left_crimson5a,
.hover_shadow_top_left_crimson5a:hover,
.active_shadow_top_left_crimson5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(235, 35, 75, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(235, 35, 75, .63);
    box-shadow: -0.5em -0.5em 1em rgba(235, 35, 75, .63);
}

.shadow_top_left_crimson5s,
.hover_shadow_top_left_crimson5s:hover,
.active_shadow_top_left_crimson5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(235, 35, 75, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(235, 35, 75, .78);
    box-shadow: -0.5em -0.5em 1em rgba(235, 35, 75, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_crimson5,
.hover_shadow_top_right_crimson5:hover,
.active_shadow_top_right_crimson5:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(165, 15, 45, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(165, 15, 45, .39);
    box-shadow: 0.5em -0.5em 1em rgba(165, 15, 45, .39);
}

.shadow_top_right_crimson5h,
.hover_shadow_top_right_crimson5h:hover,
.active_shadow_top_right_crimson5h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(198, 18, 54, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(198, 18, 54, .50);
    box-shadow: 0.5em -0.5em 1em rgba(198, 18, 54, .50);
}

.shadow_top_right_crimson5a,
.hover_shadow_top_right_crimson5a:hover,
.active_shadow_top_right_crimson5a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(235, 35, 75, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(235, 35, 75, .63);
    box-shadow: 0.5em -0.5em 1em rgba(235, 35, 75, .63);
}

.shadow_top_right_crimson5s,
.hover_shadow_top_right_crimson5s:hover,
.active_shadow_top_right_crimson5s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(235, 35, 75, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(235, 35, 75, .78);
    box-shadow: 0.5em -0.5em 1em rgba(235, 35, 75, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_crimson5,
.hover_shadow_bottom_left_crimson5:hover,
.active_shadow_bottom_left_crimson5:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(165, 15, 45, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(165, 15, 45, .39);
    box-shadow: -0.5em 0.5em 1em rgba(165, 15, 45, .39);
}

.shadow_bottom_left_crimson5h,
.hover_shadow_bottom_left_crimson5h:hover,
.active_shadow_bottom_left_crimson5h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(198, 18, 54, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(198, 18, 54, .50);
    box-shadow: -0.5em 0.5em 1em rgba(198, 18, 54, .50);
}

.shadow_bottom_left_crimson5a,
.hover_shadow_bottom_left_crimson5a:hover,
.active_shadow_bottom_left_crimson5a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(235, 35, 75, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(235, 35, 75, .63);
    box-shadow: -0.5em 0.5em 1em rgba(235, 35, 75, .63);
}

.shadow_bottom_left_crimson5s,
.hover_shadow_bottom_left_crimson5s:hover,
.active_shadow_bottom_left_crimson5s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(235, 35, 75, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(235, 35, 75, .78);
    box-shadow: -0.5em 0.5em 1em rgba(235, 35, 75, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_crimson5,
.hover_shadow_bottom_right_crimson5:hover,
.active_shadow_bottom_right_crimson5:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(165, 15, 45, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(165, 15, 45, .39);
    box-shadow: 0.5em 0.5em 1em rgba(165, 15, 45, .39);
}

.shadow_bottom_right_crimson5h,
.hover_shadow_bottom_right_crimson5h:hover,
.active_shadow_bottom_right_crimson5h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(198, 18, 54, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(198, 18, 54, .50);
    box-shadow: 0.5em 0.5em 1em rgba(198, 18, 54, .50);
}

.shadow_bottom_right_crimson5a,
 .hover_shadow_bottom_right_crimson5a:hover,
 .active_shadow_bottom_right_crimson5a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(235, 35, 75, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(235, 35, 75, .63);
     box-shadow: 0.5em 0.5em 1em rgba(235, 35, 75, .63);
 }

 .shadow_bottom_right_crimson5s,
 .hover_shadow_bottom_right_crimson5s:hover,
 .active_shadow_bottom_right_crimson5s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(235, 35, 75, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(235, 35, 75, .78);
     box-shadow: 0.5em 0.5em 1em rgba(235, 35, 75, .78);
 }