.background_thistle7,
.hover_background_thistle7:hover,
.active_background_thistle7:active:hover {
    background: #533353;
    background-image: -moz-linear-gradient(top,  rgb(104, 63, 104) 0%, rgb(83, 51, 83) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(104, 63, 104)), color-stop(100%, rgb(83, 51, 83)));
    background-image: -webkit-linear-gradient(top,  rgb(104, 63, 104) 0%, rgb(83, 51, 83) 100%);
    background-image: -o-linear-gradient(top,  rgb(104, 63, 104) 0%, rgb(83, 51, 83) 100%);
    background-image: -ms-linear-gradient(top, rgb(104, 63, 104) 0%, rgb(83, 51, 83) 100%);
    background-image: linear-gradient(to bottom,  rgb(104, 63, 104) 0%, rgb(83, 51, 83) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#683f68', endColorstr='#533353',GradientType=0 );
}

.background_thistle7h,
.hover_background_thistle7h:hover,
.active_background_thistle7h:active:hover {
    background: #533353;
    background-image: -moz-linear-gradient(top,  rgb(124, 76, 124) 0%, rgb(100, 61, 100) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(124, 76, 124)), color-stop(100%, rgb(100, 61, 100)));
    background-image: -webkit-linear-gradient(top,  rgb(124, 76, 124) 0%, rgb(100, 61, 100) 100%);
    background-image: -o-linear-gradient(top,  rgb(124, 76, 124) 0%, rgb(100, 61, 100) 100%);
    background-image: -ms-linear-gradient(top, rgb(124, 76, 124) 0%, rgb(100, 61, 100) 100%);
    background-image: linear-gradient(to bottom,  rgb(124, 76, 124) 0%, rgb(100, 61, 100) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c4c7c', endColorstr='#643d64',GradientType=0 );
}

.background_thistle7a,
.hover_background_thistle7a:hover,
.active_background_thistle7a:active:hover {
    background: #533353;
    background-image: -moz-linear-gradient(top,  rgb(100, 61, 100) 0%, rgb(124, 76, 124) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(100, 61, 100)), color-stop(100%, rgb(124, 76, 124)));
    background-image: -webkit-linear-gradient(top,  rgb(100, 61, 100) 0%, rgb(124, 76, 124) 100%);
    background-image: -o-linear-gradient(top,  rgb(100, 61, 100) 0%, rgb(124, 76, 124) 100%);
    background-image: -ms-linear-gradient(top, rgb(100, 61, 100) 0%, rgb(124, 76, 124) 100%);
    background-image: linear-gradient(to bottom,  rgb(100, 61, 100) 0%, rgb(124, 76, 124) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#643d64', endColorstr='#7c4c7c',GradientType=0 );
}

.background_thistle7s,
.hover_background_thistle7s:hover,
.active_background_thistle7s:active:hover {
    background: #533353;
    background-image: -moz-linear-gradient(top,  rgb(156, 95, 156) 0%, rgb(124, 76, 124) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(156, 95, 156)), color-stop(100%, rgb(124, 76, 124)));
    background-image: -webkit-linear-gradient(top,  rgb(156, 95, 156) 0%, rgb(124, 76, 124) 100%);
    background-image: -o-linear-gradient(top,  rgb(156, 95, 156) 0%, rgb(124, 76, 124) 100%);
    background-image: -ms-linear-gradient(top, rgb(156, 95, 156) 0%, rgb(124, 76, 124) 100%);
    background-image: linear-gradient(to bottom,  rgb(156, 95, 156) 0%, rgb(124, 76, 124) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c5f9c', endColorstr='#7c4c7c',GradientType=0 );
}

.background_color_thistle7,
.hover_background_color_thistle7:hover,
.active_background_color_thistle7:active:hover {
    background-color:#533353;
}

.background_first_color_thistle7,
.hover_background_first_color_thistle7:hover,
.active_background_first_color_thistle7:active:hover {
    background-color:#683f68;
}

.background_last_color_thistle7,
.hover_background_last_color_thistle7:hover,
.active_background_color_last_thistle7:active:hover {
   background-color:#533353;
}

/* ------------------------------ color settings -------------------------------*/
.color_thistle7,
.hover_color_thistle7:hover,
.active_color_thistle7:active:hover {
    color: #c8c8c8;
}

.color_thistle7h,
.hover_color_thistle7h:hover,
.active_color_thistle7h:active:hover {
    color: #c8c8c8;
}

.color_thistle7a,
.hover_color_thistle7a:hover,
.active_color_thistle7a:active:hover {
    color: #ff0;
}

.color_thistle7s,
.hover_color_thistle7s:hover,
.active_color_thistle7s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_thistle7,
.hover_border_thistle7:hover,
.active_border_thistle7:active:hover {
    border-color: #533353 #533353 #533353 #533353;
}

.border_thistle7h,
.hover_border_thistle7h:hover,
.active_border_thistle7h:active:hover {
    border-color: #4b2d4b #4b2d4b #4b2d4b #4b2d4b;
}

.border_thistle7a,
.hover_border_thistle7a:hover,
.active_border_thistle7a:active:hover {
    border-color: #422842 #422842 #422842 #422842;
}

.border_thistle7s,
.hover_border_thistle7s:hover,
.active_border_thistle7s:active:hover {
    border-color: #7c4c7c #7c4c7c #7c4c7c #7c4c7c;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_thistle7,
.hover_shadow_expand_thistle7:hover,
.active_shadow_expand_thistle7:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(83, 51, 83, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(83, 51, 83, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(83, 51, 83, .39);
}

.shadow_expand_thistle7h,
.hover_shadow_expand_thistle7h:hover,
.active_shadow_expand_thistle7h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(100, 61, 100, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(100, 61, 100, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(100, 61, 100, .50);
}

.shadow_expand_thistle7a,
.hover_shadow_expand_thistle7a:hover,
.active_shadow_expand_thistle7a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(124, 76, 124, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(124, 76, 124, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(124, 76, 124, .63);
}

.shadow_expand_thistle7s,
.hover_shadow_expand_thistle7s:hover,
.active_shadow_expand_thistle7s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(124, 76, 124, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(124, 76, 124, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(124, 76, 124, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_thistle7,
.hover_shadow_left_thistle7:hover,
.active_shadow_left_thistle7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(83, 51, 83, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(83, 51, 83, .39);
    box-shadow: -0.5em -0.5em 1em rgba(83, 51, 83, .39);
}

.shadow_left_thistle7h,
.hover_shadow_left_thistle7h:hover,
.active_shadow_left_thistle7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(100, 61, 100, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(100, 61, 100, .50);
    box-shadow: -0.5em -0.5em 1em rgba(100, 61, 100, .50);
}

.shadow_left_thistle7a,
.hover_shadow_left_thistle7a:hover,
.active_shadow_left_thistle7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(124, 76, 124, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(124, 76, 124, .63);
    box-shadow: -0.5em -0.5em 1em rgba(124, 76, 124, .63);
}

.shadow_left_thistle7s,
.hover_shadow_left_thistle7s:hover,
.active_shadow_left_thistle7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(124, 76, 124, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(124, 76, 124, .78);
    box-shadow: -0.5em -0.5em 1em rgba(124, 76, 124, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_thistle7,
.hover_shadow_right_thistle7:hover,
.active_shadow_right_thistle7:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(83, 51, 83, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(83, 51, 83, .39);
    box-shadow: 0.5em 0em 1em rgba(83, 51, 83, .39);
}

.shadow_right_thistle7h,
.hover_shadow_right_thistle7h:hover,
.active_shadow_right_thistle7h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(100, 61, 100, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(100, 61, 100, .50);
    box-shadow: 0.5em 0em 1em rgba(100, 61, 100, .50);
}

.shadow_right_thistle7a,
.hover_shadow_right_thistle7a:hover,
.active_shadow_right_thistle7a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(124, 76, 124, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(124, 76, 124, .63);
    box-shadow: 0.5em 0em 1em rgba(124, 76, 124, .63);
}

.shadow_right_thistle7s,
.hover_shadow_right_thistle7s:hover,
.active_shadow_right_thistle7s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(124, 76, 124, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(124, 76, 124, .78);
    box-shadow: 0.5em 0em 1em rgba(124, 76, 124, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_thistle7,
.hover_shadow_top_thistle7:hover,
.active_shadow_top_thistle7:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(83, 51, 83, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(83, 51, 83, .39);
    box-shadow: 0em -0.5em 1em rgba(83, 51, 83, .39);
}

.shadow_top_thistle7h,
.hover_shadow_top_thistle7h:hover,
.active_shadow_top_thistle7h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(100, 61, 100, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(100, 61, 100, .50);
    box-shadow: 0em -0.5em 1em rgba(100, 61, 100, .50);
}

.shadow_top_thistle7a,
.hover_shadow_top_thistle7a:hover,
.active_shadow_top_thistle7a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(124, 76, 124, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(124, 76, 124, .63);
    box-shadow: 0em -0.5em 1em rgba(124, 76, 124, .63);
}

.shadow_top_thistle7s,
.hover_shadow_top_thistle7s:hover,
.active_shadow_top_thistle7s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(124, 76, 124, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(124, 76, 124, .78);
    box-shadow: 0em -0.5em 1em rgba(124, 76, 124, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_thistle7,
.hover_shadow_bottom_thistle7:hover,
.active_shadow_bottom_thistle7:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(83, 51, 83, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(83, 51, 83, .39);
    box-shadow: 0em 0.5em 1em rgba(83, 51, 83, .39);
}

.shadow_bottom_thistle7h,
.hover_shadow_bottom_thistle7h:hover,
.active_shadow_bottom_thistle7h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(100, 61, 100, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(100, 61, 100, .50);
    box-shadow: 0em 0.5em 1em rgba(100, 61, 100, .50);
}

.shadow_bottom_thistle7a,
.hover_shadow_bottom_thistle7a:hover,
.active_shadow_bottom_thistle7a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(124, 76, 124, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(124, 76, 124, .63);
    box-shadow: 0em 0.5em 1em rgba(124, 76, 124, .63);
}

.shadow_bottom_thistle7s,
.hover_shadow_bottom_thistle7s:hover,
.active_shadow_bottom_thistle7s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(124, 76, 124, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(124, 76, 124, .78);
    box-shadow: 0em 0.5em 1em rgba(124, 76, 124, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_thistle7,
.hover_shadow_top_left_thistle7:hover,
.active_shadow_top_left_thistle7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(83, 51, 83, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(83, 51, 83, .39);
    box-shadow: -0.5em -0.5em 1em rgba(83, 51, 83, .39);
}

.shadow_top_left_thistle7h,
.hover_shadow_top_left_thistle7h:hover,
.active_shadow_top_left_thistle7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(100, 61, 100, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(100, 61, 100, .50);
    box-shadow: -0.5em -0.5em 1em rgba(100, 61, 100, .50);
}

.shadow_top_left_thistle7a,
.hover_shadow_top_left_thistle7a:hover,
.active_shadow_top_left_thistle7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(124, 76, 124, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(124, 76, 124, .63);
    box-shadow: -0.5em -0.5em 1em rgba(124, 76, 124, .63);
}

.shadow_top_left_thistle7s,
.hover_shadow_top_left_thistle7s:hover,
.active_shadow_top_left_thistle7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(124, 76, 124, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(124, 76, 124, .78);
    box-shadow: -0.5em -0.5em 1em rgba(124, 76, 124, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_thistle7,
.hover_shadow_top_right_thistle7:hover,
.active_shadow_top_right_thistle7:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(83, 51, 83, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(83, 51, 83, .39);
    box-shadow: 0.5em -0.5em 1em rgba(83, 51, 83, .39);
}

.shadow_top_right_thistle7h,
.hover_shadow_top_right_thistle7h:hover,
.active_shadow_top_right_thistle7h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(100, 61, 100, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(100, 61, 100, .50);
    box-shadow: 0.5em -0.5em 1em rgba(100, 61, 100, .50);
}

.shadow_top_right_thistle7a,
.hover_shadow_top_right_thistle7a:hover,
.active_shadow_top_right_thistle7a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(124, 76, 124, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(124, 76, 124, .63);
    box-shadow: 0.5em -0.5em 1em rgba(124, 76, 124, .63);
}

.shadow_top_right_thistle7s,
.hover_shadow_top_right_thistle7s:hover,
.active_shadow_top_right_thistle7s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(124, 76, 124, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(124, 76, 124, .78);
    box-shadow: 0.5em -0.5em 1em rgba(124, 76, 124, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_thistle7,
.hover_shadow_bottom_left_thistle7:hover,
.active_shadow_bottom_left_thistle7:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(83, 51, 83, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(83, 51, 83, .39);
    box-shadow: -0.5em 0.5em 1em rgba(83, 51, 83, .39);
}

.shadow_bottom_left_thistle7h,
.hover_shadow_bottom_left_thistle7h:hover,
.active_shadow_bottom_left_thistle7h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(100, 61, 100, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(100, 61, 100, .50);
    box-shadow: -0.5em 0.5em 1em rgba(100, 61, 100, .50);
}

.shadow_bottom_left_thistle7a,
.hover_shadow_bottom_left_thistle7a:hover,
.active_shadow_bottom_left_thistle7a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(124, 76, 124, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(124, 76, 124, .63);
    box-shadow: -0.5em 0.5em 1em rgba(124, 76, 124, .63);
}

.shadow_bottom_left_thistle7s,
.hover_shadow_bottom_left_thistle7s:hover,
.active_shadow_bottom_left_thistle7s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(124, 76, 124, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(124, 76, 124, .78);
    box-shadow: -0.5em 0.5em 1em rgba(124, 76, 124, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_thistle7,
.hover_shadow_bottom_right_thistle7:hover,
.active_shadow_bottom_right_thistle7:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(83, 51, 83, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(83, 51, 83, .39);
    box-shadow: 0.5em 0.5em 1em rgba(83, 51, 83, .39);
}

.shadow_bottom_right_thistle7h,
.hover_shadow_bottom_right_thistle7h:hover,
.active_shadow_bottom_right_thistle7h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(100, 61, 100, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(100, 61, 100, .50);
    box-shadow: 0.5em 0.5em 1em rgba(100, 61, 100, .50);
}

.shadow_bottom_right_thistle7a,
 .hover_shadow_bottom_right_thistle7a:hover,
 .active_shadow_bottom_right_thistle7a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(124, 76, 124, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(124, 76, 124, .63);
     box-shadow: 0.5em 0.5em 1em rgba(124, 76, 124, .63);
 }

 .shadow_bottom_right_thistle7s,
 .hover_shadow_bottom_right_thistle7s:hover,
 .active_shadow_bottom_right_thistle7s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(124, 76, 124, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(124, 76, 124, .78);
     box-shadow: 0.5em 0.5em 1em rgba(124, 76, 124, .78);
 }