.background_yellowGreen7,
.hover_background_yellowGreen7:hover,
.active_background_yellowGreen7:active:hover {
    background: #3a4e13;
    background-image: -moz-linear-gradient(top,  rgb(73, 97, 24) 0%, rgb(58, 78, 19) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(73, 97, 24)), color-stop(100%, rgb(58, 78, 19)));
    background-image: -webkit-linear-gradient(top,  rgb(73, 97, 24) 0%, rgb(58, 78, 19) 100%);
    background-image: -o-linear-gradient(top,  rgb(73, 97, 24) 0%, rgb(58, 78, 19) 100%);
    background-image: -ms-linear-gradient(top, rgb(73, 97, 24) 0%, rgb(58, 78, 19) 100%);
    background-image: linear-gradient(to bottom,  rgb(73, 97, 24) 0%, rgb(58, 78, 19) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#496118', endColorstr='#3a4e13',GradientType=0 );
}

.background_yellowGreen7h,
.hover_background_yellowGreen7h:hover,
.active_background_yellowGreen7h:active:hover {
    background: #3a4e13;
    background-image: -moz-linear-gradient(top,  rgb(88, 117, 28) 0%, rgb(70, 93, 23) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(88, 117, 28)), color-stop(100%, rgb(70, 93, 23)));
    background-image: -webkit-linear-gradient(top,  rgb(88, 117, 28) 0%, rgb(70, 93, 23) 100%);
    background-image: -o-linear-gradient(top,  rgb(88, 117, 28) 0%, rgb(70, 93, 23) 100%);
    background-image: -ms-linear-gradient(top, rgb(88, 117, 28) 0%, rgb(70, 93, 23) 100%);
    background-image: linear-gradient(to bottom,  rgb(88, 117, 28) 0%, rgb(70, 93, 23) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58751c', endColorstr='#465d17',GradientType=0 );
}

.background_yellowGreen7a,
.hover_background_yellowGreen7a:hover,
.active_background_yellowGreen7a:active:hover {
    background: #3a4e13;
    background-image: -moz-linear-gradient(top,  rgb(70, 93, 23) 0%, rgb(88, 117, 28) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(70, 93, 23)), color-stop(100%, rgb(88, 117, 28)));
    background-image: -webkit-linear-gradient(top,  rgb(70, 93, 23) 0%, rgb(88, 117, 28) 100%);
    background-image: -o-linear-gradient(top,  rgb(70, 93, 23) 0%, rgb(88, 117, 28) 100%);
    background-image: -ms-linear-gradient(top, rgb(70, 93, 23) 0%, rgb(88, 117, 28) 100%);
    background-image: linear-gradient(to bottom,  rgb(70, 93, 23) 0%, rgb(88, 117, 28) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#465d17', endColorstr='#58751c',GradientType=0 );
}

.background_yellowGreen7s,
.hover_background_yellowGreen7s:hover,
.active_background_yellowGreen7s:active:hover {
    background: #3a4e13;
    background-image: -moz-linear-gradient(top,  rgb(110, 146, 36) 0%, rgb(88, 117, 28) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(110, 146, 36)), color-stop(100%, rgb(88, 117, 28)));
    background-image: -webkit-linear-gradient(top,  rgb(110, 146, 36) 0%, rgb(88, 117, 28) 100%);
    background-image: -o-linear-gradient(top,  rgb(110, 146, 36) 0%, rgb(88, 117, 28) 100%);
    background-image: -ms-linear-gradient(top, rgb(110, 146, 36) 0%, rgb(88, 117, 28) 100%);
    background-image: linear-gradient(to bottom,  rgb(110, 146, 36) 0%, rgb(88, 117, 28) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e9224', endColorstr='#58751c',GradientType=0 );
}

.background_color_yellowGreen7,
.hover_background_color_yellowGreen7:hover,
.active_background_color_yellowGreen7:active:hover {
    background-color:#3a4e13;
}

.background_first_color_yellowGreen7,
.hover_background_first_color_yellowGreen7:hover,
.active_background_first_color_yellowGreen7:active:hover {
    background-color:#496118;
}

.background_last_color_yellowGreen7,
.hover_background_last_color_yellowGreen7:hover,
.active_background_color_last_yellowGreen7:active:hover {
   background-color:#3a4e13;
}

/* ------------------------------ color settings -------------------------------*/
.color_yellowGreen7,
.hover_color_yellowGreen7:hover,
.active_color_yellowGreen7:active:hover {
    color: #c8c8c8;
}

.color_yellowGreen7h,
.hover_color_yellowGreen7h:hover,
.active_color_yellowGreen7h:active:hover {
    color: #c8c8c8;
}

.color_yellowGreen7a,
.hover_color_yellowGreen7a:hover,
.active_color_yellowGreen7a:active:hover {
    color: #ff0;
}

.color_yellowGreen7s,
.hover_color_yellowGreen7s:hover,
.active_color_yellowGreen7s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_yellowGreen7,
.hover_border_yellowGreen7:hover,
.active_border_yellowGreen7:active:hover {
    border-color: #3a4e13 #3a4e13 #3a4e13 #3a4e13;
}

.border_yellowGreen7h,
.hover_border_yellowGreen7h:hover,
.active_border_yellowGreen7h:active:hover {
    border-color: #354611 #354611 #354611 #354611;
}

.border_yellowGreen7a,
.hover_border_yellowGreen7a:hover,
.active_border_yellowGreen7a:active:hover {
    border-color: #2f3e0f #2f3e0f #2f3e0f #2f3e0f;
}

.border_yellowGreen7s,
.hover_border_yellowGreen7s:hover,
.active_border_yellowGreen7s:active:hover {
    border-color: #58751c #58751c #58751c #58751c;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_yellowGreen7,
.hover_shadow_expand_yellowGreen7:hover,
.active_shadow_expand_yellowGreen7:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(58, 78, 19, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(58, 78, 19, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(58, 78, 19, .39);
}

.shadow_expand_yellowGreen7h,
.hover_shadow_expand_yellowGreen7h:hover,
.active_shadow_expand_yellowGreen7h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(70, 93, 23, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(70, 93, 23, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(70, 93, 23, .50);
}

.shadow_expand_yellowGreen7a,
.hover_shadow_expand_yellowGreen7a:hover,
.active_shadow_expand_yellowGreen7a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(88, 117, 28, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(88, 117, 28, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(88, 117, 28, .63);
}

.shadow_expand_yellowGreen7s,
.hover_shadow_expand_yellowGreen7s:hover,
.active_shadow_expand_yellowGreen7s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(88, 117, 28, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(88, 117, 28, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(88, 117, 28, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_yellowGreen7,
.hover_shadow_left_yellowGreen7:hover,
.active_shadow_left_yellowGreen7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(58, 78, 19, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(58, 78, 19, .39);
    box-shadow: -0.5em -0.5em 1em rgba(58, 78, 19, .39);
}

.shadow_left_yellowGreen7h,
.hover_shadow_left_yellowGreen7h:hover,
.active_shadow_left_yellowGreen7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(70, 93, 23, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(70, 93, 23, .50);
    box-shadow: -0.5em -0.5em 1em rgba(70, 93, 23, .50);
}

.shadow_left_yellowGreen7a,
.hover_shadow_left_yellowGreen7a:hover,
.active_shadow_left_yellowGreen7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(88, 117, 28, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(88, 117, 28, .63);
    box-shadow: -0.5em -0.5em 1em rgba(88, 117, 28, .63);
}

.shadow_left_yellowGreen7s,
.hover_shadow_left_yellowGreen7s:hover,
.active_shadow_left_yellowGreen7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(88, 117, 28, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(88, 117, 28, .78);
    box-shadow: -0.5em -0.5em 1em rgba(88, 117, 28, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_yellowGreen7,
.hover_shadow_right_yellowGreen7:hover,
.active_shadow_right_yellowGreen7:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(58, 78, 19, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(58, 78, 19, .39);
    box-shadow: 0.5em 0em 1em rgba(58, 78, 19, .39);
}

.shadow_right_yellowGreen7h,
.hover_shadow_right_yellowGreen7h:hover,
.active_shadow_right_yellowGreen7h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(70, 93, 23, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(70, 93, 23, .50);
    box-shadow: 0.5em 0em 1em rgba(70, 93, 23, .50);
}

.shadow_right_yellowGreen7a,
.hover_shadow_right_yellowGreen7a:hover,
.active_shadow_right_yellowGreen7a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(88, 117, 28, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(88, 117, 28, .63);
    box-shadow: 0.5em 0em 1em rgba(88, 117, 28, .63);
}

.shadow_right_yellowGreen7s,
.hover_shadow_right_yellowGreen7s:hover,
.active_shadow_right_yellowGreen7s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(88, 117, 28, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(88, 117, 28, .78);
    box-shadow: 0.5em 0em 1em rgba(88, 117, 28, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_yellowGreen7,
.hover_shadow_top_yellowGreen7:hover,
.active_shadow_top_yellowGreen7:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(58, 78, 19, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(58, 78, 19, .39);
    box-shadow: 0em -0.5em 1em rgba(58, 78, 19, .39);
}

.shadow_top_yellowGreen7h,
.hover_shadow_top_yellowGreen7h:hover,
.active_shadow_top_yellowGreen7h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(70, 93, 23, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(70, 93, 23, .50);
    box-shadow: 0em -0.5em 1em rgba(70, 93, 23, .50);
}

.shadow_top_yellowGreen7a,
.hover_shadow_top_yellowGreen7a:hover,
.active_shadow_top_yellowGreen7a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(88, 117, 28, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(88, 117, 28, .63);
    box-shadow: 0em -0.5em 1em rgba(88, 117, 28, .63);
}

.shadow_top_yellowGreen7s,
.hover_shadow_top_yellowGreen7s:hover,
.active_shadow_top_yellowGreen7s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(88, 117, 28, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(88, 117, 28, .78);
    box-shadow: 0em -0.5em 1em rgba(88, 117, 28, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_yellowGreen7,
.hover_shadow_bottom_yellowGreen7:hover,
.active_shadow_bottom_yellowGreen7:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(58, 78, 19, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(58, 78, 19, .39);
    box-shadow: 0em 0.5em 1em rgba(58, 78, 19, .39);
}

.shadow_bottom_yellowGreen7h,
.hover_shadow_bottom_yellowGreen7h:hover,
.active_shadow_bottom_yellowGreen7h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(70, 93, 23, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(70, 93, 23, .50);
    box-shadow: 0em 0.5em 1em rgba(70, 93, 23, .50);
}

.shadow_bottom_yellowGreen7a,
.hover_shadow_bottom_yellowGreen7a:hover,
.active_shadow_bottom_yellowGreen7a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(88, 117, 28, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(88, 117, 28, .63);
    box-shadow: 0em 0.5em 1em rgba(88, 117, 28, .63);
}

.shadow_bottom_yellowGreen7s,
.hover_shadow_bottom_yellowGreen7s:hover,
.active_shadow_bottom_yellowGreen7s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(88, 117, 28, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(88, 117, 28, .78);
    box-shadow: 0em 0.5em 1em rgba(88, 117, 28, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_yellowGreen7,
.hover_shadow_top_left_yellowGreen7:hover,
.active_shadow_top_left_yellowGreen7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(58, 78, 19, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(58, 78, 19, .39);
    box-shadow: -0.5em -0.5em 1em rgba(58, 78, 19, .39);
}

.shadow_top_left_yellowGreen7h,
.hover_shadow_top_left_yellowGreen7h:hover,
.active_shadow_top_left_yellowGreen7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(70, 93, 23, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(70, 93, 23, .50);
    box-shadow: -0.5em -0.5em 1em rgba(70, 93, 23, .50);
}

.shadow_top_left_yellowGreen7a,
.hover_shadow_top_left_yellowGreen7a:hover,
.active_shadow_top_left_yellowGreen7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(88, 117, 28, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(88, 117, 28, .63);
    box-shadow: -0.5em -0.5em 1em rgba(88, 117, 28, .63);
}

.shadow_top_left_yellowGreen7s,
.hover_shadow_top_left_yellowGreen7s:hover,
.active_shadow_top_left_yellowGreen7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(88, 117, 28, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(88, 117, 28, .78);
    box-shadow: -0.5em -0.5em 1em rgba(88, 117, 28, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_yellowGreen7,
.hover_shadow_top_right_yellowGreen7:hover,
.active_shadow_top_right_yellowGreen7:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(58, 78, 19, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(58, 78, 19, .39);
    box-shadow: 0.5em -0.5em 1em rgba(58, 78, 19, .39);
}

.shadow_top_right_yellowGreen7h,
.hover_shadow_top_right_yellowGreen7h:hover,
.active_shadow_top_right_yellowGreen7h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(70, 93, 23, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(70, 93, 23, .50);
    box-shadow: 0.5em -0.5em 1em rgba(70, 93, 23, .50);
}

.shadow_top_right_yellowGreen7a,
.hover_shadow_top_right_yellowGreen7a:hover,
.active_shadow_top_right_yellowGreen7a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(88, 117, 28, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(88, 117, 28, .63);
    box-shadow: 0.5em -0.5em 1em rgba(88, 117, 28, .63);
}

.shadow_top_right_yellowGreen7s,
.hover_shadow_top_right_yellowGreen7s:hover,
.active_shadow_top_right_yellowGreen7s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(88, 117, 28, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(88, 117, 28, .78);
    box-shadow: 0.5em -0.5em 1em rgba(88, 117, 28, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_yellowGreen7,
.hover_shadow_bottom_left_yellowGreen7:hover,
.active_shadow_bottom_left_yellowGreen7:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(58, 78, 19, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(58, 78, 19, .39);
    box-shadow: -0.5em 0.5em 1em rgba(58, 78, 19, .39);
}

.shadow_bottom_left_yellowGreen7h,
.hover_shadow_bottom_left_yellowGreen7h:hover,
.active_shadow_bottom_left_yellowGreen7h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(70, 93, 23, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(70, 93, 23, .50);
    box-shadow: -0.5em 0.5em 1em rgba(70, 93, 23, .50);
}

.shadow_bottom_left_yellowGreen7a,
.hover_shadow_bottom_left_yellowGreen7a:hover,
.active_shadow_bottom_left_yellowGreen7a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(88, 117, 28, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(88, 117, 28, .63);
    box-shadow: -0.5em 0.5em 1em rgba(88, 117, 28, .63);
}

.shadow_bottom_left_yellowGreen7s,
.hover_shadow_bottom_left_yellowGreen7s:hover,
.active_shadow_bottom_left_yellowGreen7s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(88, 117, 28, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(88, 117, 28, .78);
    box-shadow: -0.5em 0.5em 1em rgba(88, 117, 28, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_yellowGreen7,
.hover_shadow_bottom_right_yellowGreen7:hover,
.active_shadow_bottom_right_yellowGreen7:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(58, 78, 19, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(58, 78, 19, .39);
    box-shadow: 0.5em 0.5em 1em rgba(58, 78, 19, .39);
}

.shadow_bottom_right_yellowGreen7h,
.hover_shadow_bottom_right_yellowGreen7h:hover,
.active_shadow_bottom_right_yellowGreen7h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(70, 93, 23, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(70, 93, 23, .50);
    box-shadow: 0.5em 0.5em 1em rgba(70, 93, 23, .50);
}

.shadow_bottom_right_yellowGreen7a,
 .hover_shadow_bottom_right_yellowGreen7a:hover,
 .active_shadow_bottom_right_yellowGreen7a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(88, 117, 28, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(88, 117, 28, .63);
     box-shadow: 0.5em 0.5em 1em rgba(88, 117, 28, .63);
 }

 .shadow_bottom_right_yellowGreen7s,
 .hover_shadow_bottom_right_yellowGreen7s:hover,
 .active_shadow_bottom_right_yellowGreen7s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(88, 117, 28, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(88, 117, 28, .78);
     box-shadow: 0.5em 0.5em 1em rgba(88, 117, 28, .78);
 }