.background_glassyRed3,
.hover_background_glassyRed3:hover,
.active_background_glassyRed3:active:hover {
    background: #ff3c3c;
    background-image: -moz-linear-gradient(top,  rgb(255, 29, 29) 0%, rgb(252, 0, 0) 50%, rgb(221, 0, 0) 55%, rgb(255, 60, 60) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 29, 29)), color-stop(50%, rgb(252, 0, 0)), color-stop(55%, rgb(221, 0, 0)), color-stop(100%, rgb(255, 60, 60)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 29, 29) 0%, rgb(252, 0, 0) 50%, rgb(221, 0, 0) 55%, rgb(255, 60, 60) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 29, 29) 0%, rgb(252, 0, 0) 50%, rgb(221, 0, 0) 55%, rgb(255, 60, 60) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 29, 29) 0%, rgb(252, 0, 0) 50%, rgb(221, 0, 0) 55%, rgb(255, 60, 60) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 29, 29) 0%, rgb(252, 0, 0) 50%, rgb(221, 0, 0) 55%, rgb(255, 60, 60) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1d1d', endColorstr='#ff3c3c',GradientType=0 );
}

.background_glassyRed3h,
.hover_background_glassyRed3h:hover,
.active_background_glassyRed3h:active:hover {
    background: #ff3c3c;
    background-image: -moz-linear-gradient(top,  rgb(255, 85, 85) 0%, rgb(255, 48, 48) 50%, rgb(255, 10, 10) 55%, rgb(255, 123, 123) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 85, 85)), color-stop(50%, rgb(255, 48, 48)), color-stop(55%, rgb(255, 10, 10)), color-stop(100%, rgb(255, 123, 123)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 85, 85) 0%, rgb(255, 48, 48) 50%, rgb(255, 10, 10) 55%, rgb(255, 123, 123) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 85, 85) 0%, rgb(255, 48, 48) 50%, rgb(255, 10, 10) 55%, rgb(255, 123, 123) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 85, 85) 0%, rgb(255, 48, 48) 50%, rgb(255, 10, 10) 55%, rgb(255, 123, 123) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 85, 85) 0%, rgb(255, 48, 48) 50%, rgb(255, 10, 10) 55%, rgb(255, 123, 123) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5555', endColorstr='#ff7b7b',GradientType=0 );
}

.background_glassyRed3a,
.hover_background_glassyRed3a:hover,
.active_background_glassyRed3a:active:hover {
    background: #ff3c3c;
    background-image: -moz-linear-gradient(top,  rgb(255, 123, 123) 0%, rgb(255, 10, 10) 50%, rgb(255, 48, 48) 55%, rgb(255, 85, 85) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 123, 123)), color-stop(50%, rgb(255, 10, 10)), color-stop(55%, rgb(255, 48, 48)), color-stop(100%, rgb(255, 85, 85)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 123, 123) 0%, rgb(255, 10, 10) 50%, rgb(255, 48, 48) 55%, rgb(255, 85, 85) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 123, 123) 0%, rgb(255, 10, 10) 50%, rgb(255, 48, 48) 55%, rgb(255, 85, 85) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 123, 123) 0%, rgb(255, 10, 10) 50%, rgb(255, 48, 48) 55%, rgb(255, 85, 85) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 123, 123) 0%, rgb(255, 10, 10) 50%, rgb(255, 48, 48) 55%, rgb(255, 85, 85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b7b', endColorstr='#ff5555',GradientType=0 );
}

.background_glassyRed3s,
.hover_background_glassyRed3s:hover,
.active_background_glassyRed3s:active:hover {
    background: #ff3c3c;
    background-image: -moz-linear-gradient(top,  rgb(255, 170, 170) 0%, rgb(255, 123, 123) 50%, rgb(255, 76, 76) 55%, rgb(255, 218, 218) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 170, 170)), color-stop(50%, rgb(255, 123, 123)), color-stop(55%, rgb(255, 76, 76)), color-stop(100%, rgb(255, 218, 218)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 170, 170) 0%, rgb(255, 123, 123) 50%, rgb(255, 76, 76) 55%, rgb(255, 218, 218) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 170, 170) 0%, rgb(255, 123, 123) 50%, rgb(255, 76, 76) 55%, rgb(255, 218, 218) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 170, 170) 0%, rgb(255, 123, 123) 50%, rgb(255, 76, 76) 55%, rgb(255, 218, 218) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 170, 170) 0%, rgb(255, 123, 123) 50%, rgb(255, 76, 76) 55%, rgb(255, 218, 218) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaaaa', endColorstr='#ffdada',GradientType=0 );
}

.background_color_glassyRed3,
.hover_background_color_glassyRed3:hover,
.active_background_color_glassyRed3:active:hover {
    background-color:#ff3c3c;
}

.background_first_color_glassyRed3,
.hover_background_first_color_glassyRed3:hover,
.active_background_first_color_glassyRed3:active:hover {
    background-color:#ff1d1d;
}

.background_last_color_glassyRed3,
.hover_background_last_color_glassyRed3:hover,
.active_background_color_last_glassyRed3:active:hover {
   background-color:#ff3c3c;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyRed3,
.hover_color_glassyRed3:hover,
.active_color_glassyRed3:active:hover {
    color: #c8c8c8;
}

.color_glassyRed3h,
.hover_color_glassyRed3h:hover,
.active_color_glassyRed3h:active:hover {
    color: #c8c8c8;
}

.color_glassyRed3a,
.hover_color_glassyRed3a:hover,
.active_color_glassyRed3a:active:hover {
    color: #ff0;
}

.color_glassyRed3s,
.hover_color_glassyRed3s:hover,
.active_color_glassyRed3s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyRed3,
.hover_border_glassyRed3:hover,
.active_border_glassyRed3:active:hover {
    border-color: #e30000 #bd0000 #bd0000 #e30000;
}

.border_glassyRed3h,
.hover_border_glassyRed3h:hover,
.active_border_glassyRed3h:active:hover {
    border-color: #e30000 #bd0000 #bd0000 #e30000;
}

.border_glassyRed3a,
.hover_border_glassyRed3a:hover,
.active_border_glassyRed3a:active:hover {
    border-color: #b00000 #b00000 #b00000 #b00000;
}

.border_glassyRed3s,
.hover_border_glassyRed3s:hover,
.active_border_glassyRed3s:active:hover {
    border-color: #b00000 #b00000 #b00000 #b00000;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyRed3,
.hover_shadow_expand_glassyRed3:hover,
.active_shadow_expand_glassyRed3:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 60, 60, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 60, 60, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 60, 60, .39);
}

.shadow_expand_glassyRed3h,
.hover_shadow_expand_glassyRed3h:hover,
.active_shadow_expand_glassyRed3h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 123, 123, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 123, 123, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 123, 123, .50);
}

.shadow_expand_glassyRed3a,
.hover_shadow_expand_glassyRed3a:hover,
.active_shadow_expand_glassyRed3a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 85, 85, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 85, 85, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 85, 85, .63);
}

.shadow_expand_glassyRed3s,
.hover_shadow_expand_glassyRed3s:hover,
.active_shadow_expand_glassyRed3s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 85, 85, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 85, 85, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 85, 85, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyRed3,
.hover_shadow_left_glassyRed3:hover,
.active_shadow_left_glassyRed3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 60, 60, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 60, 60, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 60, 60, .39);
}

.shadow_left_glassyRed3h,
.hover_shadow_left_glassyRed3h:hover,
.active_shadow_left_glassyRed3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 123, 123, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 123, 123, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 123, 123, .50);
}

.shadow_left_glassyRed3a,
.hover_shadow_left_glassyRed3a:hover,
.active_shadow_left_glassyRed3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 85, 85, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 85, 85, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 85, 85, .63);
}

.shadow_left_glassyRed3s,
.hover_shadow_left_glassyRed3s:hover,
.active_shadow_left_glassyRed3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 85, 85, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 85, 85, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 85, 85, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyRed3,
.hover_shadow_right_glassyRed3:hover,
.active_shadow_right_glassyRed3:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 60, 60, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 60, 60, .39);
    box-shadow: 0.5em 0em 1em rgba(255, 60, 60, .39);
}

.shadow_right_glassyRed3h,
.hover_shadow_right_glassyRed3h:hover,
.active_shadow_right_glassyRed3h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 123, 123, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 123, 123, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 123, 123, .50);
}

.shadow_right_glassyRed3a,
.hover_shadow_right_glassyRed3a:hover,
.active_shadow_right_glassyRed3a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 85, 85, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 85, 85, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 85, 85, .63);
}

.shadow_right_glassyRed3s,
.hover_shadow_right_glassyRed3s:hover,
.active_shadow_right_glassyRed3s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 85, 85, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 85, 85, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 85, 85, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyRed3,
.hover_shadow_top_glassyRed3:hover,
.active_shadow_top_glassyRed3:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 60, 60, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 60, 60, .39);
    box-shadow: 0em -0.5em 1em rgba(255, 60, 60, .39);
}

.shadow_top_glassyRed3h,
.hover_shadow_top_glassyRed3h:hover,
.active_shadow_top_glassyRed3h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 123, 123, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 123, 123, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 123, 123, .50);
}

.shadow_top_glassyRed3a,
.hover_shadow_top_glassyRed3a:hover,
.active_shadow_top_glassyRed3a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 85, 85, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 85, 85, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 85, 85, .63);
}

.shadow_top_glassyRed3s,
.hover_shadow_top_glassyRed3s:hover,
.active_shadow_top_glassyRed3s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 85, 85, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 85, 85, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 85, 85, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyRed3,
.hover_shadow_bottom_glassyRed3:hover,
.active_shadow_bottom_glassyRed3:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 60, 60, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 60, 60, .39);
    box-shadow: 0em 0.5em 1em rgba(255, 60, 60, .39);
}

.shadow_bottom_glassyRed3h,
.hover_shadow_bottom_glassyRed3h:hover,
.active_shadow_bottom_glassyRed3h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 123, 123, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 123, 123, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 123, 123, .50);
}

.shadow_bottom_glassyRed3a,
.hover_shadow_bottom_glassyRed3a:hover,
.active_shadow_bottom_glassyRed3a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 85, 85, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 85, 85, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 85, 85, .63);
}

.shadow_bottom_glassyRed3s,
.hover_shadow_bottom_glassyRed3s:hover,
.active_shadow_bottom_glassyRed3s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 85, 85, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 85, 85, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 85, 85, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyRed3,
.hover_shadow_top_left_glassyRed3:hover,
.active_shadow_top_left_glassyRed3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 60, 60, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 60, 60, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 60, 60, .39);
}

.shadow_top_left_glassyRed3h,
.hover_shadow_top_left_glassyRed3h:hover,
.active_shadow_top_left_glassyRed3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 123, 123, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 123, 123, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 123, 123, .50);
}

.shadow_top_left_glassyRed3a,
.hover_shadow_top_left_glassyRed3a:hover,
.active_shadow_top_left_glassyRed3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 85, 85, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 85, 85, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 85, 85, .63);
}

.shadow_top_left_glassyRed3s,
.hover_shadow_top_left_glassyRed3s:hover,
.active_shadow_top_left_glassyRed3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 85, 85, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 85, 85, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 85, 85, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyRed3,
.hover_shadow_top_right_glassyRed3:hover,
.active_shadow_top_right_glassyRed3:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 60, 60, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 60, 60, .39);
    box-shadow: 0.5em -0.5em 1em rgba(255, 60, 60, .39);
}

.shadow_top_right_glassyRed3h,
.hover_shadow_top_right_glassyRed3h:hover,
.active_shadow_top_right_glassyRed3h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 123, 123, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 123, 123, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 123, 123, .50);
}

.shadow_top_right_glassyRed3a,
.hover_shadow_top_right_glassyRed3a:hover,
.active_shadow_top_right_glassyRed3a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 85, 85, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 85, 85, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 85, 85, .63);
}

.shadow_top_right_glassyRed3s,
.hover_shadow_top_right_glassyRed3s:hover,
.active_shadow_top_right_glassyRed3s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 85, 85, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 85, 85, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 85, 85, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyRed3,
.hover_shadow_bottom_left_glassyRed3:hover,
.active_shadow_bottom_left_glassyRed3:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 60, 60, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 60, 60, .39);
    box-shadow: -0.5em 0.5em 1em rgba(255, 60, 60, .39);
}

.shadow_bottom_left_glassyRed3h,
.hover_shadow_bottom_left_glassyRed3h:hover,
.active_shadow_bottom_left_glassyRed3h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 123, 123, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 123, 123, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 123, 123, .50);
}

.shadow_bottom_left_glassyRed3a,
.hover_shadow_bottom_left_glassyRed3a:hover,
.active_shadow_bottom_left_glassyRed3a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 85, 85, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 85, 85, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 85, 85, .63);
}

.shadow_bottom_left_glassyRed3s,
.hover_shadow_bottom_left_glassyRed3s:hover,
.active_shadow_bottom_left_glassyRed3s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 85, 85, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 85, 85, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 85, 85, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyRed3,
.hover_shadow_bottom_right_glassyRed3:hover,
.active_shadow_bottom_right_glassyRed3:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 60, 60, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 60, 60, .39);
    box-shadow: 0.5em 0.5em 1em rgba(255, 60, 60, .39);
}

.shadow_bottom_right_glassyRed3h,
.hover_shadow_bottom_right_glassyRed3h:hover,
.active_shadow_bottom_right_glassyRed3h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 123, 123, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 123, 123, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 123, 123, .50);
}

.shadow_bottom_right_glassyRed3a,
 .hover_shadow_bottom_right_glassyRed3a:hover,
 .active_shadow_bottom_right_glassyRed3a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 85, 85, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 85, 85, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 85, 85, .63);
 }

 .shadow_bottom_right_glassyRed3s,
 .hover_shadow_bottom_right_glassyRed3s:hover,
 .active_shadow_bottom_right_glassyRed3s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 85, 85, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 85, 85, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 85, 85, .78);
 }