.background_glassyTurquoise5,
.hover_background_glassyTurquoise5:hover,
.active_background_glassyTurquoise5:active:hover {
    background: #178f83;
    background-image: -moz-linear-gradient(top,  rgb(21, 128, 118) 0%, rgb(19, 114, 105) 50%, rgb(16, 100, 91) 55%, rgb(23, 143, 131) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(21, 128, 118)), color-stop(50%, rgb(19, 114, 105)), color-stop(55%, rgb(16, 100, 91)), color-stop(100%, rgb(23, 143, 131)));
    background-image: -webkit-linear-gradient(top,  rgb(21, 128, 118) 0%, rgb(19, 114, 105) 50%, rgb(16, 100, 91) 55%, rgb(23, 143, 131) 100%);
    background-image: -o-linear-gradient(top,  rgb(21, 128, 118) 0%, rgb(19, 114, 105) 50%, rgb(16, 100, 91) 55%, rgb(23, 143, 131) 100%);
    background-image: -ms-linear-gradient(top, rgb(21, 128, 118) 0%, rgb(19, 114, 105) 50%, rgb(16, 100, 91) 55%, rgb(23, 143, 131) 100%);
    background-image: linear-gradient(to bottom,  rgb(21, 128, 118) 0%, rgb(19, 114, 105) 50%, rgb(16, 100, 91) 55%, rgb(23, 143, 131) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#158076', endColorstr='#178f83',GradientType=0 );
}

.background_glassyTurquoise5h,
.hover_background_glassyTurquoise5h:hover,
.active_background_glassyTurquoise5h:active:hover {
    background: #178f83;
    background-image: -moz-linear-gradient(top,  rgb(25, 154, 141) 0%, rgb(22, 137, 125) 50%, rgb(19, 120, 110) 55%, rgb(28, 171, 157) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(25, 154, 141)), color-stop(50%, rgb(22, 137, 125)), color-stop(55%, rgb(19, 120, 110)), color-stop(100%, rgb(28, 171, 157)));
    background-image: -webkit-linear-gradient(top,  rgb(25, 154, 141) 0%, rgb(22, 137, 125) 50%, rgb(19, 120, 110) 55%, rgb(28, 171, 157) 100%);
    background-image: -o-linear-gradient(top,  rgb(25, 154, 141) 0%, rgb(22, 137, 125) 50%, rgb(19, 120, 110) 55%, rgb(28, 171, 157) 100%);
    background-image: -ms-linear-gradient(top, rgb(25, 154, 141) 0%, rgb(22, 137, 125) 50%, rgb(19, 120, 110) 55%, rgb(28, 171, 157) 100%);
    background-image: linear-gradient(to bottom,  rgb(25, 154, 141) 0%, rgb(22, 137, 125) 50%, rgb(19, 120, 110) 55%, rgb(28, 171, 157) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#199a8d', endColorstr='#1cab9d',GradientType=0 );
}

.background_glassyTurquoise5a,
.hover_background_glassyTurquoise5a:hover,
.active_background_glassyTurquoise5a:active:hover {
    background: #178f83;
    background-image: -moz-linear-gradient(top,  rgb(28, 171, 157) 0%, rgb(19, 120, 110) 50%, rgb(22, 137, 125) 55%, rgb(25, 154, 141) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(28, 171, 157)), color-stop(50%, rgb(19, 120, 110)), color-stop(55%, rgb(22, 137, 125)), color-stop(100%, rgb(25, 154, 141)));
    background-image: -webkit-linear-gradient(top,  rgb(28, 171, 157) 0%, rgb(19, 120, 110) 50%, rgb(22, 137, 125) 55%, rgb(25, 154, 141) 100%);
    background-image: -o-linear-gradient(top,  rgb(28, 171, 157) 0%, rgb(19, 120, 110) 50%, rgb(22, 137, 125) 55%, rgb(25, 154, 141) 100%);
    background-image: -ms-linear-gradient(top, rgb(28, 171, 157) 0%, rgb(19, 120, 110) 50%, rgb(22, 137, 125) 55%, rgb(25, 154, 141) 100%);
    background-image: linear-gradient(to bottom,  rgb(28, 171, 157) 0%, rgb(19, 120, 110) 50%, rgb(22, 137, 125) 55%, rgb(25, 154, 141) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cab9d', endColorstr='#199a8d',GradientType=0 );
}

.background_glassyTurquoise5s,
.hover_background_glassyTurquoise5s:hover,
.active_background_glassyTurquoise5s:active:hover {
    background: #178f83;
    background-image: -moz-linear-gradient(top,  rgb(31, 193, 176) 0%, rgb(28, 171, 157) 50%, rgb(24, 150, 137) 55%, rgb(35, 214, 196) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(31, 193, 176)), color-stop(50%, rgb(28, 171, 157)), color-stop(55%, rgb(24, 150, 137)), color-stop(100%, rgb(35, 214, 196)));
    background-image: -webkit-linear-gradient(top,  rgb(31, 193, 176) 0%, rgb(28, 171, 157) 50%, rgb(24, 150, 137) 55%, rgb(35, 214, 196) 100%);
    background-image: -o-linear-gradient(top,  rgb(31, 193, 176) 0%, rgb(28, 171, 157) 50%, rgb(24, 150, 137) 55%, rgb(35, 214, 196) 100%);
    background-image: -ms-linear-gradient(top, rgb(31, 193, 176) 0%, rgb(28, 171, 157) 50%, rgb(24, 150, 137) 55%, rgb(35, 214, 196) 100%);
    background-image: linear-gradient(to bottom,  rgb(31, 193, 176) 0%, rgb(28, 171, 157) 50%, rgb(24, 150, 137) 55%, rgb(35, 214, 196) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fc1b0', endColorstr='#23d6c4',GradientType=0 );
}

.background_color_glassyTurquoise5,
.hover_background_color_glassyTurquoise5:hover,
.active_background_color_glassyTurquoise5:active:hover {
    background-color:#178f83;
}

.background_first_color_glassyTurquoise5,
.hover_background_first_color_glassyTurquoise5:hover,
.active_background_first_color_glassyTurquoise5:active:hover {
    background-color:#158076;
}

.background_last_color_glassyTurquoise5,
.hover_background_last_color_glassyTurquoise5:hover,
.active_background_color_last_glassyTurquoise5:active:hover {
   background-color:#178f83;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyTurquoise5,
.hover_color_glassyTurquoise5:hover,
.active_color_glassyTurquoise5:active:hover {
    color: #c8c8c8;
}

.color_glassyTurquoise5h,
.hover_color_glassyTurquoise5h:hover,
.active_color_glassyTurquoise5h:active:hover {
    color: #c8c8c8;
}

.color_glassyTurquoise5a,
.hover_color_glassyTurquoise5a:hover,
.active_color_glassyTurquoise5a:active:hover {
    color: #ff0;
}

.color_glassyTurquoise5s,
.hover_color_glassyTurquoise5s:hover,
.active_color_glassyTurquoise5s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyTurquoise5,
.hover_border_glassyTurquoise5:hover,
.active_border_glassyTurquoise5:active:hover {
    border-color: #11675e #0e564e #0e564e #11675e;
}

.border_glassyTurquoise5h,
.hover_border_glassyTurquoise5h:hover,
.active_border_glassyTurquoise5h:active:hover {
    border-color: #11675e #0e564e #0e564e #11675e;
}

.border_glassyTurquoise5a,
.hover_border_glassyTurquoise5a:hover,
.active_border_glassyTurquoise5a:active:hover {
    border-color: #0d5049 #0d5049 #0d5049 #0d5049;
}

.border_glassyTurquoise5s,
.hover_border_glassyTurquoise5s:hover,
.active_border_glassyTurquoise5s:active:hover {
    border-color: #0d5049 #0d5049 #0d5049 #0d5049;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyTurquoise5,
.hover_shadow_expand_glassyTurquoise5:hover,
.active_shadow_expand_glassyTurquoise5:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(23, 143, 131, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(23, 143, 131, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(23, 143, 131, .39);
}

.shadow_expand_glassyTurquoise5h,
.hover_shadow_expand_glassyTurquoise5h:hover,
.active_shadow_expand_glassyTurquoise5h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(28, 171, 157, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(28, 171, 157, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(28, 171, 157, .50);
}

.shadow_expand_glassyTurquoise5a,
.hover_shadow_expand_glassyTurquoise5a:hover,
.active_shadow_expand_glassyTurquoise5a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(25, 154, 141, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(25, 154, 141, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(25, 154, 141, .63);
}

.shadow_expand_glassyTurquoise5s,
.hover_shadow_expand_glassyTurquoise5s:hover,
.active_shadow_expand_glassyTurquoise5s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(25, 154, 141, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(25, 154, 141, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(25, 154, 141, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyTurquoise5,
.hover_shadow_left_glassyTurquoise5:hover,
.active_shadow_left_glassyTurquoise5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(23, 143, 131, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(23, 143, 131, .39);
    box-shadow: -0.5em -0.5em 1em rgba(23, 143, 131, .39);
}

.shadow_left_glassyTurquoise5h,
.hover_shadow_left_glassyTurquoise5h:hover,
.active_shadow_left_glassyTurquoise5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(28, 171, 157, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(28, 171, 157, .50);
    box-shadow: -0.5em -0.5em 1em rgba(28, 171, 157, .50);
}

.shadow_left_glassyTurquoise5a,
.hover_shadow_left_glassyTurquoise5a:hover,
.active_shadow_left_glassyTurquoise5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(25, 154, 141, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(25, 154, 141, .63);
    box-shadow: -0.5em -0.5em 1em rgba(25, 154, 141, .63);
}

.shadow_left_glassyTurquoise5s,
.hover_shadow_left_glassyTurquoise5s:hover,
.active_shadow_left_glassyTurquoise5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(25, 154, 141, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(25, 154, 141, .78);
    box-shadow: -0.5em -0.5em 1em rgba(25, 154, 141, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyTurquoise5,
.hover_shadow_right_glassyTurquoise5:hover,
.active_shadow_right_glassyTurquoise5:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(23, 143, 131, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(23, 143, 131, .39);
    box-shadow: 0.5em 0em 1em rgba(23, 143, 131, .39);
}

.shadow_right_glassyTurquoise5h,
.hover_shadow_right_glassyTurquoise5h:hover,
.active_shadow_right_glassyTurquoise5h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(28, 171, 157, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(28, 171, 157, .50);
    box-shadow: 0.5em 0em 1em rgba(28, 171, 157, .50);
}

.shadow_right_glassyTurquoise5a,
.hover_shadow_right_glassyTurquoise5a:hover,
.active_shadow_right_glassyTurquoise5a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(25, 154, 141, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(25, 154, 141, .63);
    box-shadow: 0.5em 0em 1em rgba(25, 154, 141, .63);
}

.shadow_right_glassyTurquoise5s,
.hover_shadow_right_glassyTurquoise5s:hover,
.active_shadow_right_glassyTurquoise5s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(25, 154, 141, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(25, 154, 141, .78);
    box-shadow: 0.5em 0em 1em rgba(25, 154, 141, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyTurquoise5,
.hover_shadow_top_glassyTurquoise5:hover,
.active_shadow_top_glassyTurquoise5:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(23, 143, 131, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(23, 143, 131, .39);
    box-shadow: 0em -0.5em 1em rgba(23, 143, 131, .39);
}

.shadow_top_glassyTurquoise5h,
.hover_shadow_top_glassyTurquoise5h:hover,
.active_shadow_top_glassyTurquoise5h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(28, 171, 157, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(28, 171, 157, .50);
    box-shadow: 0em -0.5em 1em rgba(28, 171, 157, .50);
}

.shadow_top_glassyTurquoise5a,
.hover_shadow_top_glassyTurquoise5a:hover,
.active_shadow_top_glassyTurquoise5a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(25, 154, 141, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(25, 154, 141, .63);
    box-shadow: 0em -0.5em 1em rgba(25, 154, 141, .63);
}

.shadow_top_glassyTurquoise5s,
.hover_shadow_top_glassyTurquoise5s:hover,
.active_shadow_top_glassyTurquoise5s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(25, 154, 141, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(25, 154, 141, .78);
    box-shadow: 0em -0.5em 1em rgba(25, 154, 141, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyTurquoise5,
.hover_shadow_bottom_glassyTurquoise5:hover,
.active_shadow_bottom_glassyTurquoise5:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(23, 143, 131, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(23, 143, 131, .39);
    box-shadow: 0em 0.5em 1em rgba(23, 143, 131, .39);
}

.shadow_bottom_glassyTurquoise5h,
.hover_shadow_bottom_glassyTurquoise5h:hover,
.active_shadow_bottom_glassyTurquoise5h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(28, 171, 157, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(28, 171, 157, .50);
    box-shadow: 0em 0.5em 1em rgba(28, 171, 157, .50);
}

.shadow_bottom_glassyTurquoise5a,
.hover_shadow_bottom_glassyTurquoise5a:hover,
.active_shadow_bottom_glassyTurquoise5a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(25, 154, 141, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(25, 154, 141, .63);
    box-shadow: 0em 0.5em 1em rgba(25, 154, 141, .63);
}

.shadow_bottom_glassyTurquoise5s,
.hover_shadow_bottom_glassyTurquoise5s:hover,
.active_shadow_bottom_glassyTurquoise5s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(25, 154, 141, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(25, 154, 141, .78);
    box-shadow: 0em 0.5em 1em rgba(25, 154, 141, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyTurquoise5,
.hover_shadow_top_left_glassyTurquoise5:hover,
.active_shadow_top_left_glassyTurquoise5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(23, 143, 131, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(23, 143, 131, .39);
    box-shadow: -0.5em -0.5em 1em rgba(23, 143, 131, .39);
}

.shadow_top_left_glassyTurquoise5h,
.hover_shadow_top_left_glassyTurquoise5h:hover,
.active_shadow_top_left_glassyTurquoise5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(28, 171, 157, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(28, 171, 157, .50);
    box-shadow: -0.5em -0.5em 1em rgba(28, 171, 157, .50);
}

.shadow_top_left_glassyTurquoise5a,
.hover_shadow_top_left_glassyTurquoise5a:hover,
.active_shadow_top_left_glassyTurquoise5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(25, 154, 141, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(25, 154, 141, .63);
    box-shadow: -0.5em -0.5em 1em rgba(25, 154, 141, .63);
}

.shadow_top_left_glassyTurquoise5s,
.hover_shadow_top_left_glassyTurquoise5s:hover,
.active_shadow_top_left_glassyTurquoise5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(25, 154, 141, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(25, 154, 141, .78);
    box-shadow: -0.5em -0.5em 1em rgba(25, 154, 141, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyTurquoise5,
.hover_shadow_top_right_glassyTurquoise5:hover,
.active_shadow_top_right_glassyTurquoise5:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(23, 143, 131, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(23, 143, 131, .39);
    box-shadow: 0.5em -0.5em 1em rgba(23, 143, 131, .39);
}

.shadow_top_right_glassyTurquoise5h,
.hover_shadow_top_right_glassyTurquoise5h:hover,
.active_shadow_top_right_glassyTurquoise5h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(28, 171, 157, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(28, 171, 157, .50);
    box-shadow: 0.5em -0.5em 1em rgba(28, 171, 157, .50);
}

.shadow_top_right_glassyTurquoise5a,
.hover_shadow_top_right_glassyTurquoise5a:hover,
.active_shadow_top_right_glassyTurquoise5a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(25, 154, 141, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(25, 154, 141, .63);
    box-shadow: 0.5em -0.5em 1em rgba(25, 154, 141, .63);
}

.shadow_top_right_glassyTurquoise5s,
.hover_shadow_top_right_glassyTurquoise5s:hover,
.active_shadow_top_right_glassyTurquoise5s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(25, 154, 141, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(25, 154, 141, .78);
    box-shadow: 0.5em -0.5em 1em rgba(25, 154, 141, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyTurquoise5,
.hover_shadow_bottom_left_glassyTurquoise5:hover,
.active_shadow_bottom_left_glassyTurquoise5:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(23, 143, 131, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(23, 143, 131, .39);
    box-shadow: -0.5em 0.5em 1em rgba(23, 143, 131, .39);
}

.shadow_bottom_left_glassyTurquoise5h,
.hover_shadow_bottom_left_glassyTurquoise5h:hover,
.active_shadow_bottom_left_glassyTurquoise5h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(28, 171, 157, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(28, 171, 157, .50);
    box-shadow: -0.5em 0.5em 1em rgba(28, 171, 157, .50);
}

.shadow_bottom_left_glassyTurquoise5a,
.hover_shadow_bottom_left_glassyTurquoise5a:hover,
.active_shadow_bottom_left_glassyTurquoise5a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(25, 154, 141, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(25, 154, 141, .63);
    box-shadow: -0.5em 0.5em 1em rgba(25, 154, 141, .63);
}

.shadow_bottom_left_glassyTurquoise5s,
.hover_shadow_bottom_left_glassyTurquoise5s:hover,
.active_shadow_bottom_left_glassyTurquoise5s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(25, 154, 141, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(25, 154, 141, .78);
    box-shadow: -0.5em 0.5em 1em rgba(25, 154, 141, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyTurquoise5,
.hover_shadow_bottom_right_glassyTurquoise5:hover,
.active_shadow_bottom_right_glassyTurquoise5:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(23, 143, 131, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(23, 143, 131, .39);
    box-shadow: 0.5em 0.5em 1em rgba(23, 143, 131, .39);
}

.shadow_bottom_right_glassyTurquoise5h,
.hover_shadow_bottom_right_glassyTurquoise5h:hover,
.active_shadow_bottom_right_glassyTurquoise5h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(28, 171, 157, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(28, 171, 157, .50);
    box-shadow: 0.5em 0.5em 1em rgba(28, 171, 157, .50);
}

.shadow_bottom_right_glassyTurquoise5a,
 .hover_shadow_bottom_right_glassyTurquoise5a:hover,
 .active_shadow_bottom_right_glassyTurquoise5a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(25, 154, 141, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(25, 154, 141, .63);
     box-shadow: 0.5em 0.5em 1em rgba(25, 154, 141, .63);
 }

 .shadow_bottom_right_glassyTurquoise5s,
 .hover_shadow_bottom_right_glassyTurquoise5s:hover,
 .active_shadow_bottom_right_glassyTurquoise5s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(25, 154, 141, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(25, 154, 141, .78);
     box-shadow: 0.5em 0.5em 1em rgba(25, 154, 141, .78);
 }