.background_glassyTurquoise7,
.hover_background_glassyTurquoise7:hover,
.active_background_glassyTurquoise7:active:hover {
    background: #116b62;
    background-image: -moz-linear-gradient(top,  rgb(16, 96, 88) 0%, rgb(14, 85, 78) 50%, rgb(12, 75, 68) 55%, rgb(17, 107, 98) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(16, 96, 88)), color-stop(50%, rgb(14, 85, 78)), color-stop(55%, rgb(12, 75, 68)), color-stop(100%, rgb(17, 107, 98)));
    background-image: -webkit-linear-gradient(top,  rgb(16, 96, 88) 0%, rgb(14, 85, 78) 50%, rgb(12, 75, 68) 55%, rgb(17, 107, 98) 100%);
    background-image: -o-linear-gradient(top,  rgb(16, 96, 88) 0%, rgb(14, 85, 78) 50%, rgb(12, 75, 68) 55%, rgb(17, 107, 98) 100%);
    background-image: -ms-linear-gradient(top, rgb(16, 96, 88) 0%, rgb(14, 85, 78) 50%, rgb(12, 75, 68) 55%, rgb(17, 107, 98) 100%);
    background-image: linear-gradient(to bottom,  rgb(16, 96, 88) 0%, rgb(14, 85, 78) 50%, rgb(12, 75, 68) 55%, rgb(17, 107, 98) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#106058', endColorstr='#116b62',GradientType=0 );
}

.background_glassyTurquoise7h,
.hover_background_glassyTurquoise7h:hover,
.active_background_glassyTurquoise7h:active:hover {
    background: #116b62;
    background-image: -moz-linear-gradient(top,  rgb(19, 115, 106) 0%, rgb(17, 102, 94) 50%, rgb(15, 90, 82) 55%, rgb(21, 128, 117) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(19, 115, 106)), color-stop(50%, rgb(17, 102, 94)), color-stop(55%, rgb(15, 90, 82)), color-stop(100%, rgb(21, 128, 117)));
    background-image: -webkit-linear-gradient(top,  rgb(19, 115, 106) 0%, rgb(17, 102, 94) 50%, rgb(15, 90, 82) 55%, rgb(21, 128, 117) 100%);
    background-image: -o-linear-gradient(top,  rgb(19, 115, 106) 0%, rgb(17, 102, 94) 50%, rgb(15, 90, 82) 55%, rgb(21, 128, 117) 100%);
    background-image: -ms-linear-gradient(top, rgb(19, 115, 106) 0%, rgb(17, 102, 94) 50%, rgb(15, 90, 82) 55%, rgb(21, 128, 117) 100%);
    background-image: linear-gradient(to bottom,  rgb(19, 115, 106) 0%, rgb(17, 102, 94) 50%, rgb(15, 90, 82) 55%, rgb(21, 128, 117) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13736a', endColorstr='#158075',GradientType=0 );
}

.background_glassyTurquoise7a,
.hover_background_glassyTurquoise7a:hover,
.active_background_glassyTurquoise7a:active:hover {
    background: #116b62;
    background-image: -moz-linear-gradient(top,  rgb(21, 128, 117) 0%, rgb(15, 90, 82) 50%, rgb(17, 102, 94) 55%, rgb(19, 115, 106) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(21, 128, 117)), color-stop(50%, rgb(15, 90, 82)), color-stop(55%, rgb(17, 102, 94)), color-stop(100%, rgb(19, 115, 106)));
    background-image: -webkit-linear-gradient(top,  rgb(21, 128, 117) 0%, rgb(15, 90, 82) 50%, rgb(17, 102, 94) 55%, rgb(19, 115, 106) 100%);
    background-image: -o-linear-gradient(top,  rgb(21, 128, 117) 0%, rgb(15, 90, 82) 50%, rgb(17, 102, 94) 55%, rgb(19, 115, 106) 100%);
    background-image: -ms-linear-gradient(top, rgb(21, 128, 117) 0%, rgb(15, 90, 82) 50%, rgb(17, 102, 94) 55%, rgb(19, 115, 106) 100%);
    background-image: linear-gradient(to bottom,  rgb(21, 128, 117) 0%, rgb(15, 90, 82) 50%, rgb(17, 102, 94) 55%, rgb(19, 115, 106) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#158075', endColorstr='#13736a',GradientType=0 );
}

.background_glassyTurquoise7s,
.hover_background_glassyTurquoise7s:hover,
.active_background_glassyTurquoise7s:active:hover {
    background: #116b62;
    background-image: -moz-linear-gradient(top,  rgb(23, 144, 132) 0%, rgb(21, 128, 117) 50%, rgb(18, 112, 103) 55%, rgb(26, 160, 147) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(23, 144, 132)), color-stop(50%, rgb(21, 128, 117)), color-stop(55%, rgb(18, 112, 103)), color-stop(100%, rgb(26, 160, 147)));
    background-image: -webkit-linear-gradient(top,  rgb(23, 144, 132) 0%, rgb(21, 128, 117) 50%, rgb(18, 112, 103) 55%, rgb(26, 160, 147) 100%);
    background-image: -o-linear-gradient(top,  rgb(23, 144, 132) 0%, rgb(21, 128, 117) 50%, rgb(18, 112, 103) 55%, rgb(26, 160, 147) 100%);
    background-image: -ms-linear-gradient(top, rgb(23, 144, 132) 0%, rgb(21, 128, 117) 50%, rgb(18, 112, 103) 55%, rgb(26, 160, 147) 100%);
    background-image: linear-gradient(to bottom,  rgb(23, 144, 132) 0%, rgb(21, 128, 117) 50%, rgb(18, 112, 103) 55%, rgb(26, 160, 147) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#179084', endColorstr='#1aa093',GradientType=0 );
}

.background_color_glassyTurquoise7,
.hover_background_color_glassyTurquoise7:hover,
.active_background_color_glassyTurquoise7:active:hover {
    background-color:#116b62;
}

.background_first_color_glassyTurquoise7,
.hover_background_first_color_glassyTurquoise7:hover,
.active_background_first_color_glassyTurquoise7:active:hover {
    background-color:#106058;
}

.background_last_color_glassyTurquoise7,
.hover_background_last_color_glassyTurquoise7:hover,
.active_background_color_last_glassyTurquoise7:active:hover {
   background-color:#116b62;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyTurquoise7,
.hover_color_glassyTurquoise7:hover,
.active_color_glassyTurquoise7:active:hover {
    color: #c8c8c8;
}

.color_glassyTurquoise7h,
.hover_color_glassyTurquoise7h:hover,
.active_color_glassyTurquoise7h:active:hover {
    color: #c8c8c8;
}

.color_glassyTurquoise7a,
.hover_color_glassyTurquoise7a:hover,
.active_color_glassyTurquoise7a:active:hover {
    color: #ff0;
}

.color_glassyTurquoise7s,
.hover_color_glassyTurquoise7s:hover,
.active_color_glassyTurquoise7s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyTurquoise7,
.hover_border_glassyTurquoise7:hover,
.active_border_glassyTurquoise7:active:hover {
    border-color: #0c4d46 #0a403b #0a403b #0c4d46;
}

.border_glassyTurquoise7h,
.hover_border_glassyTurquoise7h:hover,
.active_border_glassyTurquoise7h:active:hover {
    border-color: #0c4d46 #0a403b #0a403b #0c4d46;
}

.border_glassyTurquoise7a,
.hover_border_glassyTurquoise7a:hover,
.active_border_glassyTurquoise7a:active:hover {
    border-color: #0a3c37 #0a3c37 #0a3c37 #0a3c37;
}

.border_glassyTurquoise7s,
.hover_border_glassyTurquoise7s:hover,
.active_border_glassyTurquoise7s:active:hover {
    border-color: #0a3c37 #0a3c37 #0a3c37 #0a3c37;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyTurquoise7,
.hover_shadow_expand_glassyTurquoise7:hover,
.active_shadow_expand_glassyTurquoise7:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(17, 107, 98, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(17, 107, 98, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(17, 107, 98, .39);
}

.shadow_expand_glassyTurquoise7h,
.hover_shadow_expand_glassyTurquoise7h:hover,
.active_shadow_expand_glassyTurquoise7h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(21, 128, 117, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(21, 128, 117, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(21, 128, 117, .50);
}

.shadow_expand_glassyTurquoise7a,
.hover_shadow_expand_glassyTurquoise7a:hover,
.active_shadow_expand_glassyTurquoise7a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(19, 115, 106, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(19, 115, 106, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(19, 115, 106, .63);
}

.shadow_expand_glassyTurquoise7s,
.hover_shadow_expand_glassyTurquoise7s:hover,
.active_shadow_expand_glassyTurquoise7s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(19, 115, 106, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(19, 115, 106, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(19, 115, 106, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyTurquoise7,
.hover_shadow_left_glassyTurquoise7:hover,
.active_shadow_left_glassyTurquoise7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(17, 107, 98, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(17, 107, 98, .39);
    box-shadow: -0.5em -0.5em 1em rgba(17, 107, 98, .39);
}

.shadow_left_glassyTurquoise7h,
.hover_shadow_left_glassyTurquoise7h:hover,
.active_shadow_left_glassyTurquoise7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(21, 128, 117, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(21, 128, 117, .50);
    box-shadow: -0.5em -0.5em 1em rgba(21, 128, 117, .50);
}

.shadow_left_glassyTurquoise7a,
.hover_shadow_left_glassyTurquoise7a:hover,
.active_shadow_left_glassyTurquoise7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(19, 115, 106, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(19, 115, 106, .63);
    box-shadow: -0.5em -0.5em 1em rgba(19, 115, 106, .63);
}

.shadow_left_glassyTurquoise7s,
.hover_shadow_left_glassyTurquoise7s:hover,
.active_shadow_left_glassyTurquoise7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(19, 115, 106, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(19, 115, 106, .78);
    box-shadow: -0.5em -0.5em 1em rgba(19, 115, 106, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyTurquoise7,
.hover_shadow_right_glassyTurquoise7:hover,
.active_shadow_right_glassyTurquoise7:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(17, 107, 98, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(17, 107, 98, .39);
    box-shadow: 0.5em 0em 1em rgba(17, 107, 98, .39);
}

.shadow_right_glassyTurquoise7h,
.hover_shadow_right_glassyTurquoise7h:hover,
.active_shadow_right_glassyTurquoise7h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(21, 128, 117, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(21, 128, 117, .50);
    box-shadow: 0.5em 0em 1em rgba(21, 128, 117, .50);
}

.shadow_right_glassyTurquoise7a,
.hover_shadow_right_glassyTurquoise7a:hover,
.active_shadow_right_glassyTurquoise7a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(19, 115, 106, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(19, 115, 106, .63);
    box-shadow: 0.5em 0em 1em rgba(19, 115, 106, .63);
}

.shadow_right_glassyTurquoise7s,
.hover_shadow_right_glassyTurquoise7s:hover,
.active_shadow_right_glassyTurquoise7s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(19, 115, 106, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(19, 115, 106, .78);
    box-shadow: 0.5em 0em 1em rgba(19, 115, 106, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyTurquoise7,
.hover_shadow_top_glassyTurquoise7:hover,
.active_shadow_top_glassyTurquoise7:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(17, 107, 98, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(17, 107, 98, .39);
    box-shadow: 0em -0.5em 1em rgba(17, 107, 98, .39);
}

.shadow_top_glassyTurquoise7h,
.hover_shadow_top_glassyTurquoise7h:hover,
.active_shadow_top_glassyTurquoise7h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(21, 128, 117, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(21, 128, 117, .50);
    box-shadow: 0em -0.5em 1em rgba(21, 128, 117, .50);
}

.shadow_top_glassyTurquoise7a,
.hover_shadow_top_glassyTurquoise7a:hover,
.active_shadow_top_glassyTurquoise7a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(19, 115, 106, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(19, 115, 106, .63);
    box-shadow: 0em -0.5em 1em rgba(19, 115, 106, .63);
}

.shadow_top_glassyTurquoise7s,
.hover_shadow_top_glassyTurquoise7s:hover,
.active_shadow_top_glassyTurquoise7s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(19, 115, 106, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(19, 115, 106, .78);
    box-shadow: 0em -0.5em 1em rgba(19, 115, 106, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyTurquoise7,
.hover_shadow_bottom_glassyTurquoise7:hover,
.active_shadow_bottom_glassyTurquoise7:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(17, 107, 98, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(17, 107, 98, .39);
    box-shadow: 0em 0.5em 1em rgba(17, 107, 98, .39);
}

.shadow_bottom_glassyTurquoise7h,
.hover_shadow_bottom_glassyTurquoise7h:hover,
.active_shadow_bottom_glassyTurquoise7h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(21, 128, 117, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(21, 128, 117, .50);
    box-shadow: 0em 0.5em 1em rgba(21, 128, 117, .50);
}

.shadow_bottom_glassyTurquoise7a,
.hover_shadow_bottom_glassyTurquoise7a:hover,
.active_shadow_bottom_glassyTurquoise7a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(19, 115, 106, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(19, 115, 106, .63);
    box-shadow: 0em 0.5em 1em rgba(19, 115, 106, .63);
}

.shadow_bottom_glassyTurquoise7s,
.hover_shadow_bottom_glassyTurquoise7s:hover,
.active_shadow_bottom_glassyTurquoise7s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(19, 115, 106, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(19, 115, 106, .78);
    box-shadow: 0em 0.5em 1em rgba(19, 115, 106, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyTurquoise7,
.hover_shadow_top_left_glassyTurquoise7:hover,
.active_shadow_top_left_glassyTurquoise7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(17, 107, 98, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(17, 107, 98, .39);
    box-shadow: -0.5em -0.5em 1em rgba(17, 107, 98, .39);
}

.shadow_top_left_glassyTurquoise7h,
.hover_shadow_top_left_glassyTurquoise7h:hover,
.active_shadow_top_left_glassyTurquoise7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(21, 128, 117, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(21, 128, 117, .50);
    box-shadow: -0.5em -0.5em 1em rgba(21, 128, 117, .50);
}

.shadow_top_left_glassyTurquoise7a,
.hover_shadow_top_left_glassyTurquoise7a:hover,
.active_shadow_top_left_glassyTurquoise7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(19, 115, 106, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(19, 115, 106, .63);
    box-shadow: -0.5em -0.5em 1em rgba(19, 115, 106, .63);
}

.shadow_top_left_glassyTurquoise7s,
.hover_shadow_top_left_glassyTurquoise7s:hover,
.active_shadow_top_left_glassyTurquoise7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(19, 115, 106, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(19, 115, 106, .78);
    box-shadow: -0.5em -0.5em 1em rgba(19, 115, 106, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyTurquoise7,
.hover_shadow_top_right_glassyTurquoise7:hover,
.active_shadow_top_right_glassyTurquoise7:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(17, 107, 98, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(17, 107, 98, .39);
    box-shadow: 0.5em -0.5em 1em rgba(17, 107, 98, .39);
}

.shadow_top_right_glassyTurquoise7h,
.hover_shadow_top_right_glassyTurquoise7h:hover,
.active_shadow_top_right_glassyTurquoise7h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(21, 128, 117, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(21, 128, 117, .50);
    box-shadow: 0.5em -0.5em 1em rgba(21, 128, 117, .50);
}

.shadow_top_right_glassyTurquoise7a,
.hover_shadow_top_right_glassyTurquoise7a:hover,
.active_shadow_top_right_glassyTurquoise7a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(19, 115, 106, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(19, 115, 106, .63);
    box-shadow: 0.5em -0.5em 1em rgba(19, 115, 106, .63);
}

.shadow_top_right_glassyTurquoise7s,
.hover_shadow_top_right_glassyTurquoise7s:hover,
.active_shadow_top_right_glassyTurquoise7s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(19, 115, 106, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(19, 115, 106, .78);
    box-shadow: 0.5em -0.5em 1em rgba(19, 115, 106, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyTurquoise7,
.hover_shadow_bottom_left_glassyTurquoise7:hover,
.active_shadow_bottom_left_glassyTurquoise7:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(17, 107, 98, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(17, 107, 98, .39);
    box-shadow: -0.5em 0.5em 1em rgba(17, 107, 98, .39);
}

.shadow_bottom_left_glassyTurquoise7h,
.hover_shadow_bottom_left_glassyTurquoise7h:hover,
.active_shadow_bottom_left_glassyTurquoise7h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(21, 128, 117, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(21, 128, 117, .50);
    box-shadow: -0.5em 0.5em 1em rgba(21, 128, 117, .50);
}

.shadow_bottom_left_glassyTurquoise7a,
.hover_shadow_bottom_left_glassyTurquoise7a:hover,
.active_shadow_bottom_left_glassyTurquoise7a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(19, 115, 106, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(19, 115, 106, .63);
    box-shadow: -0.5em 0.5em 1em rgba(19, 115, 106, .63);
}

.shadow_bottom_left_glassyTurquoise7s,
.hover_shadow_bottom_left_glassyTurquoise7s:hover,
.active_shadow_bottom_left_glassyTurquoise7s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(19, 115, 106, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(19, 115, 106, .78);
    box-shadow: -0.5em 0.5em 1em rgba(19, 115, 106, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyTurquoise7,
.hover_shadow_bottom_right_glassyTurquoise7:hover,
.active_shadow_bottom_right_glassyTurquoise7:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(17, 107, 98, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(17, 107, 98, .39);
    box-shadow: 0.5em 0.5em 1em rgba(17, 107, 98, .39);
}

.shadow_bottom_right_glassyTurquoise7h,
.hover_shadow_bottom_right_glassyTurquoise7h:hover,
.active_shadow_bottom_right_glassyTurquoise7h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(21, 128, 117, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(21, 128, 117, .50);
    box-shadow: 0.5em 0.5em 1em rgba(21, 128, 117, .50);
}

.shadow_bottom_right_glassyTurquoise7a,
 .hover_shadow_bottom_right_glassyTurquoise7a:hover,
 .active_shadow_bottom_right_glassyTurquoise7a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(19, 115, 106, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(19, 115, 106, .63);
     box-shadow: 0.5em 0.5em 1em rgba(19, 115, 106, .63);
 }

 .shadow_bottom_right_glassyTurquoise7s,
 .hover_shadow_bottom_right_glassyTurquoise7s:hover,
 .active_shadow_bottom_right_glassyTurquoise7s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(19, 115, 106, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(19, 115, 106, .78);
     box-shadow: 0.5em 0.5em 1em rgba(19, 115, 106, .78);
 }