.background_glassyDeepPink2,
.hover_background_glassyDeepPink2:hover,
.active_background_glassyDeepPink2:active:hover {
    background: #ff7ec4;
    background-image: -moz-linear-gradient(top,  rgb(255, 88, 178) 0%, rgb(255, 50, 161) 50%, rgb(255, 12, 143) 55%, rgb(255, 126, 196) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 88, 178)), color-stop(50%, rgb(255, 50, 161)), color-stop(55%, rgb(255, 12, 143)), color-stop(100%, rgb(255, 126, 196)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 88, 178) 0%, rgb(255, 50, 161) 50%, rgb(255, 12, 143) 55%, rgb(255, 126, 196) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 88, 178) 0%, rgb(255, 50, 161) 50%, rgb(255, 12, 143) 55%, rgb(255, 126, 196) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 88, 178) 0%, rgb(255, 50, 161) 50%, rgb(255, 12, 143) 55%, rgb(255, 126, 196) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 88, 178) 0%, rgb(255, 50, 161) 50%, rgb(255, 12, 143) 55%, rgb(255, 126, 196) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff58b2', endColorstr='#ff7ec4',GradientType=0 );
}

.background_glassyDeepPink2h,
.hover_background_glassyDeepPink2h:hover,
.active_background_glassyDeepPink2h:active:hover {
    background: #ff7ec4;
    background-image: -moz-linear-gradient(top,  rgb(255, 156, 210) 0%, rgb(255, 111, 189) 50%, rgb(255, 65, 168) 55%, rgb(255, 202, 231) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 156, 210)), color-stop(50%, rgb(255, 111, 189)), color-stop(55%, rgb(255, 65, 168)), color-stop(100%, rgb(255, 202, 231)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 156, 210) 0%, rgb(255, 111, 189) 50%, rgb(255, 65, 168) 55%, rgb(255, 202, 231) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 156, 210) 0%, rgb(255, 111, 189) 50%, rgb(255, 65, 168) 55%, rgb(255, 202, 231) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 156, 210) 0%, rgb(255, 111, 189) 50%, rgb(255, 65, 168) 55%, rgb(255, 202, 231) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 156, 210) 0%, rgb(255, 111, 189) 50%, rgb(255, 65, 168) 55%, rgb(255, 202, 231) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9cd2', endColorstr='#ffcae7',GradientType=0 );
}

.background_glassyDeepPink2a,
.hover_background_glassyDeepPink2a:hover,
.active_background_glassyDeepPink2a:active:hover {
    background: #ff7ec4;
    background-image: -moz-linear-gradient(top,  rgb(255, 202, 231) 0%, rgb(255, 65, 168) 50%, rgb(255, 111, 189) 55%, rgb(255, 156, 210) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 202, 231)), color-stop(50%, rgb(255, 65, 168)), color-stop(55%, rgb(255, 111, 189)), color-stop(100%, rgb(255, 156, 210)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 202, 231) 0%, rgb(255, 65, 168) 50%, rgb(255, 111, 189) 55%, rgb(255, 156, 210) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 202, 231) 0%, rgb(255, 65, 168) 50%, rgb(255, 111, 189) 55%, rgb(255, 156, 210) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 202, 231) 0%, rgb(255, 65, 168) 50%, rgb(255, 111, 189) 55%, rgb(255, 156, 210) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 202, 231) 0%, rgb(255, 65, 168) 50%, rgb(255, 111, 189) 55%, rgb(255, 156, 210) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcae7', endColorstr='#ff9cd2',GradientType=0 );
}

.background_glassyDeepPink2s,
.hover_background_glassyDeepPink2s:hover,
.active_background_glassyDeepPink2s:active:hover {
    background: #ff7ec4;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 202, 231) 50%, rgb(255, 145, 204) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(255, 202, 231)), color-stop(55%, rgb(255, 145, 204)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 202, 231) 50%, rgb(255, 145, 204) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 202, 231) 50%, rgb(255, 145, 204) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 202, 231) 50%, rgb(255, 145, 204) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(255, 202, 231) 50%, rgb(255, 145, 204) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_color_glassyDeepPink2,
.hover_background_color_glassyDeepPink2:hover,
.active_background_color_glassyDeepPink2:active:hover {
    background-color:#ff7ec4;
}

.background_first_color_glassyDeepPink2,
.hover_background_first_color_glassyDeepPink2:hover,
.active_background_first_color_glassyDeepPink2:active:hover {
    background-color:#ff58b2;
}

.background_last_color_glassyDeepPink2,
.hover_background_last_color_glassyDeepPink2:hover,
.active_background_color_last_glassyDeepPink2:active:hover {
   background-color:#ff7ec4;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyDeepPink2,
.hover_color_glassyDeepPink2:hover,
.active_color_glassyDeepPink2:active:hover {
    color: #282828;
}

.color_glassyDeepPink2h,
.hover_color_glassyDeepPink2h:hover,
.active_color_glassyDeepPink2h:active:hover {
    color: #282828;
}

.color_glassyDeepPink2a,
.hover_color_glassyDeepPink2a:hover,
.active_color_glassyDeepPink2a:active:hover {
    color: #ff0;
}

.color_glassyDeepPink2s,
.hover_color_glassyDeepPink2s:hover,
.active_color_glassyDeepPink2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyDeepPink2,
.hover_border_glassyDeepPink2:hover,
.active_border_glassyDeepPink2:active:hover {
    border-color: #ff1393 #e4007b #e4007b #ff1393;
}

.border_glassyDeepPink2h,
.hover_border_glassyDeepPink2h:hover,
.active_border_glassyDeepPink2h:active:hover {
    border-color: #ff1393 #e4007b #e4007b #ff1393;
}

.border_glassyDeepPink2a,
.hover_border_glassyDeepPink2a:hover,
.active_border_glassyDeepPink2a:active:hover {
    border-color: #d50073 #d50073 #d50073 #d50073;
}

.border_glassyDeepPink2s,
.hover_border_glassyDeepPink2s:hover,
.active_border_glassyDeepPink2s:active:hover {
    border-color: #d50073 #d50073 #d50073 #d50073;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyDeepPink2,
.hover_shadow_expand_glassyDeepPink2:hover,
.active_shadow_expand_glassyDeepPink2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 126, 196, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 126, 196, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 126, 196, .39);
}

.shadow_expand_glassyDeepPink2h,
.hover_shadow_expand_glassyDeepPink2h:hover,
.active_shadow_expand_glassyDeepPink2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 202, 231, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 202, 231, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 202, 231, .50);
}

.shadow_expand_glassyDeepPink2a,
.hover_shadow_expand_glassyDeepPink2a:hover,
.active_shadow_expand_glassyDeepPink2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 156, 210, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 156, 210, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 156, 210, .63);
}

.shadow_expand_glassyDeepPink2s,
.hover_shadow_expand_glassyDeepPink2s:hover,
.active_shadow_expand_glassyDeepPink2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 156, 210, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 156, 210, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 156, 210, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyDeepPink2,
.hover_shadow_left_glassyDeepPink2:hover,
.active_shadow_left_glassyDeepPink2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 126, 196, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 126, 196, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 126, 196, .39);
}

.shadow_left_glassyDeepPink2h,
.hover_shadow_left_glassyDeepPink2h:hover,
.active_shadow_left_glassyDeepPink2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 202, 231, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 202, 231, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 202, 231, .50);
}

.shadow_left_glassyDeepPink2a,
.hover_shadow_left_glassyDeepPink2a:hover,
.active_shadow_left_glassyDeepPink2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 156, 210, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 156, 210, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 156, 210, .63);
}

.shadow_left_glassyDeepPink2s,
.hover_shadow_left_glassyDeepPink2s:hover,
.active_shadow_left_glassyDeepPink2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 156, 210, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 156, 210, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 156, 210, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyDeepPink2,
.hover_shadow_right_glassyDeepPink2:hover,
.active_shadow_right_glassyDeepPink2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 126, 196, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 126, 196, .39);
    box-shadow: 0.5em 0em 1em rgba(255, 126, 196, .39);
}

.shadow_right_glassyDeepPink2h,
.hover_shadow_right_glassyDeepPink2h:hover,
.active_shadow_right_glassyDeepPink2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 202, 231, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 202, 231, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 202, 231, .50);
}

.shadow_right_glassyDeepPink2a,
.hover_shadow_right_glassyDeepPink2a:hover,
.active_shadow_right_glassyDeepPink2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 156, 210, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 156, 210, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 156, 210, .63);
}

.shadow_right_glassyDeepPink2s,
.hover_shadow_right_glassyDeepPink2s:hover,
.active_shadow_right_glassyDeepPink2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 156, 210, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 156, 210, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 156, 210, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyDeepPink2,
.hover_shadow_top_glassyDeepPink2:hover,
.active_shadow_top_glassyDeepPink2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 126, 196, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 126, 196, .39);
    box-shadow: 0em -0.5em 1em rgba(255, 126, 196, .39);
}

.shadow_top_glassyDeepPink2h,
.hover_shadow_top_glassyDeepPink2h:hover,
.active_shadow_top_glassyDeepPink2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 202, 231, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 202, 231, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 202, 231, .50);
}

.shadow_top_glassyDeepPink2a,
.hover_shadow_top_glassyDeepPink2a:hover,
.active_shadow_top_glassyDeepPink2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 156, 210, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 156, 210, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 156, 210, .63);
}

.shadow_top_glassyDeepPink2s,
.hover_shadow_top_glassyDeepPink2s:hover,
.active_shadow_top_glassyDeepPink2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 156, 210, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 156, 210, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 156, 210, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyDeepPink2,
.hover_shadow_bottom_glassyDeepPink2:hover,
.active_shadow_bottom_glassyDeepPink2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 126, 196, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 126, 196, .39);
    box-shadow: 0em 0.5em 1em rgba(255, 126, 196, .39);
}

.shadow_bottom_glassyDeepPink2h,
.hover_shadow_bottom_glassyDeepPink2h:hover,
.active_shadow_bottom_glassyDeepPink2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 202, 231, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 202, 231, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 202, 231, .50);
}

.shadow_bottom_glassyDeepPink2a,
.hover_shadow_bottom_glassyDeepPink2a:hover,
.active_shadow_bottom_glassyDeepPink2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 156, 210, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 156, 210, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 156, 210, .63);
}

.shadow_bottom_glassyDeepPink2s,
.hover_shadow_bottom_glassyDeepPink2s:hover,
.active_shadow_bottom_glassyDeepPink2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 156, 210, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 156, 210, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 156, 210, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyDeepPink2,
.hover_shadow_top_left_glassyDeepPink2:hover,
.active_shadow_top_left_glassyDeepPink2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 126, 196, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 126, 196, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 126, 196, .39);
}

.shadow_top_left_glassyDeepPink2h,
.hover_shadow_top_left_glassyDeepPink2h:hover,
.active_shadow_top_left_glassyDeepPink2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 202, 231, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 202, 231, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 202, 231, .50);
}

.shadow_top_left_glassyDeepPink2a,
.hover_shadow_top_left_glassyDeepPink2a:hover,
.active_shadow_top_left_glassyDeepPink2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 156, 210, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 156, 210, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 156, 210, .63);
}

.shadow_top_left_glassyDeepPink2s,
.hover_shadow_top_left_glassyDeepPink2s:hover,
.active_shadow_top_left_glassyDeepPink2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 156, 210, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 156, 210, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 156, 210, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyDeepPink2,
.hover_shadow_top_right_glassyDeepPink2:hover,
.active_shadow_top_right_glassyDeepPink2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 126, 196, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 126, 196, .39);
    box-shadow: 0.5em -0.5em 1em rgba(255, 126, 196, .39);
}

.shadow_top_right_glassyDeepPink2h,
.hover_shadow_top_right_glassyDeepPink2h:hover,
.active_shadow_top_right_glassyDeepPink2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 202, 231, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 202, 231, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 202, 231, .50);
}

.shadow_top_right_glassyDeepPink2a,
.hover_shadow_top_right_glassyDeepPink2a:hover,
.active_shadow_top_right_glassyDeepPink2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 156, 210, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 156, 210, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 156, 210, .63);
}

.shadow_top_right_glassyDeepPink2s,
.hover_shadow_top_right_glassyDeepPink2s:hover,
.active_shadow_top_right_glassyDeepPink2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 156, 210, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 156, 210, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 156, 210, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyDeepPink2,
.hover_shadow_bottom_left_glassyDeepPink2:hover,
.active_shadow_bottom_left_glassyDeepPink2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 126, 196, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 126, 196, .39);
    box-shadow: -0.5em 0.5em 1em rgba(255, 126, 196, .39);
}

.shadow_bottom_left_glassyDeepPink2h,
.hover_shadow_bottom_left_glassyDeepPink2h:hover,
.active_shadow_bottom_left_glassyDeepPink2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 202, 231, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 202, 231, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 202, 231, .50);
}

.shadow_bottom_left_glassyDeepPink2a,
.hover_shadow_bottom_left_glassyDeepPink2a:hover,
.active_shadow_bottom_left_glassyDeepPink2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 156, 210, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 156, 210, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 156, 210, .63);
}

.shadow_bottom_left_glassyDeepPink2s,
.hover_shadow_bottom_left_glassyDeepPink2s:hover,
.active_shadow_bottom_left_glassyDeepPink2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 156, 210, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 156, 210, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 156, 210, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyDeepPink2,
.hover_shadow_bottom_right_glassyDeepPink2:hover,
.active_shadow_bottom_right_glassyDeepPink2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 126, 196, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 126, 196, .39);
    box-shadow: 0.5em 0.5em 1em rgba(255, 126, 196, .39);
}

.shadow_bottom_right_glassyDeepPink2h,
.hover_shadow_bottom_right_glassyDeepPink2h:hover,
.active_shadow_bottom_right_glassyDeepPink2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 202, 231, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 202, 231, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 202, 231, .50);
}

.shadow_bottom_right_glassyDeepPink2a,
 .hover_shadow_bottom_right_glassyDeepPink2a:hover,
 .active_shadow_bottom_right_glassyDeepPink2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 156, 210, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 156, 210, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 156, 210, .63);
 }

 .shadow_bottom_right_glassyDeepPink2s,
 .hover_shadow_bottom_right_glassyDeepPink2s:hover,
 .active_shadow_bottom_right_glassyDeepPink2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 156, 210, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 156, 210, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 156, 210, .78);
 }