.background_glassyDeepPink8,
.hover_background_glassyDeepPink8:hover,
.active_background_glassyDeepPink8:active:hover {
    background: #9a0053;
    background-image: -moz-linear-gradient(top,  rgb(139, 0, 75) 0%, rgb(123, 0, 67) 50%, rgb(108, 0, 58) 55%, rgb(154, 0, 83) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(139, 0, 75)), color-stop(50%, rgb(123, 0, 67)), color-stop(55%, rgb(108, 0, 58)), color-stop(100%, rgb(154, 0, 83)));
    background-image: -webkit-linear-gradient(top,  rgb(139, 0, 75) 0%, rgb(123, 0, 67) 50%, rgb(108, 0, 58) 55%, rgb(154, 0, 83) 100%);
    background-image: -o-linear-gradient(top,  rgb(139, 0, 75) 0%, rgb(123, 0, 67) 50%, rgb(108, 0, 58) 55%, rgb(154, 0, 83) 100%);
    background-image: -ms-linear-gradient(top, rgb(139, 0, 75) 0%, rgb(123, 0, 67) 50%, rgb(108, 0, 58) 55%, rgb(154, 0, 83) 100%);
    background-image: linear-gradient(to bottom,  rgb(139, 0, 75) 0%, rgb(123, 0, 67) 50%, rgb(108, 0, 58) 55%, rgb(154, 0, 83) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b004b', endColorstr='#9a0053',GradientType=0 );
}

.background_glassyDeepPink8h,
.hover_background_glassyDeepPink8h:hover,
.active_background_glassyDeepPink8h:active:hover {
    background: #9a0053;
    background-image: -moz-linear-gradient(top,  rgb(166, 0, 90) 0%, rgb(148, 0, 80) 50%, rgb(129, 0, 70) 55%, rgb(185, 0, 100) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(166, 0, 90)), color-stop(50%, rgb(148, 0, 80)), color-stop(55%, rgb(129, 0, 70)), color-stop(100%, rgb(185, 0, 100)));
    background-image: -webkit-linear-gradient(top,  rgb(166, 0, 90) 0%, rgb(148, 0, 80) 50%, rgb(129, 0, 70) 55%, rgb(185, 0, 100) 100%);
    background-image: -o-linear-gradient(top,  rgb(166, 0, 90) 0%, rgb(148, 0, 80) 50%, rgb(129, 0, 70) 55%, rgb(185, 0, 100) 100%);
    background-image: -ms-linear-gradient(top, rgb(166, 0, 90) 0%, rgb(148, 0, 80) 50%, rgb(129, 0, 70) 55%, rgb(185, 0, 100) 100%);
    background-image: linear-gradient(to bottom,  rgb(166, 0, 90) 0%, rgb(148, 0, 80) 50%, rgb(129, 0, 70) 55%, rgb(185, 0, 100) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6005a', endColorstr='#b90064',GradientType=0 );
}

.background_glassyDeepPink8a,
.hover_background_glassyDeepPink8a:hover,
.active_background_glassyDeepPink8a:active:hover {
    background: #9a0053;
    background-image: -moz-linear-gradient(top,  rgb(185, 0, 100) 0%, rgb(129, 0, 70) 50%, rgb(148, 0, 80) 55%, rgb(166, 0, 90) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(185, 0, 100)), color-stop(50%, rgb(129, 0, 70)), color-stop(55%, rgb(148, 0, 80)), color-stop(100%, rgb(166, 0, 90)));
    background-image: -webkit-linear-gradient(top,  rgb(185, 0, 100) 0%, rgb(129, 0, 70) 50%, rgb(148, 0, 80) 55%, rgb(166, 0, 90) 100%);
    background-image: -o-linear-gradient(top,  rgb(185, 0, 100) 0%, rgb(129, 0, 70) 50%, rgb(148, 0, 80) 55%, rgb(166, 0, 90) 100%);
    background-image: -ms-linear-gradient(top, rgb(185, 0, 100) 0%, rgb(129, 0, 70) 50%, rgb(148, 0, 80) 55%, rgb(166, 0, 90) 100%);
    background-image: linear-gradient(to bottom,  rgb(185, 0, 100) 0%, rgb(129, 0, 70) 50%, rgb(148, 0, 80) 55%, rgb(166, 0, 90) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b90064', endColorstr='#a6005a',GradientType=0 );
}

.background_glassyDeepPink8s,
.hover_background_glassyDeepPink8s:hover,
.active_background_glassyDeepPink8s:active:hover {
    background: #9a0053;
    background-image: -moz-linear-gradient(top,  rgb(208, 0, 112) 0%, rgb(185, 0, 100) 50%, rgb(162, 0, 87) 55%, rgb(231, 0, 125) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(208, 0, 112)), color-stop(50%, rgb(185, 0, 100)), color-stop(55%, rgb(162, 0, 87)), color-stop(100%, rgb(231, 0, 125)));
    background-image: -webkit-linear-gradient(top,  rgb(208, 0, 112) 0%, rgb(185, 0, 100) 50%, rgb(162, 0, 87) 55%, rgb(231, 0, 125) 100%);
    background-image: -o-linear-gradient(top,  rgb(208, 0, 112) 0%, rgb(185, 0, 100) 50%, rgb(162, 0, 87) 55%, rgb(231, 0, 125) 100%);
    background-image: -ms-linear-gradient(top, rgb(208, 0, 112) 0%, rgb(185, 0, 100) 50%, rgb(162, 0, 87) 55%, rgb(231, 0, 125) 100%);
    background-image: linear-gradient(to bottom,  rgb(208, 0, 112) 0%, rgb(185, 0, 100) 50%, rgb(162, 0, 87) 55%, rgb(231, 0, 125) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d00070', endColorstr='#e7007d',GradientType=0 );
}

.background_color_glassyDeepPink8,
.hover_background_color_glassyDeepPink8:hover,
.active_background_color_glassyDeepPink8:active:hover {
    background-color:#9a0053;
}

.background_first_color_glassyDeepPink8,
.hover_background_first_color_glassyDeepPink8:hover,
.active_background_first_color_glassyDeepPink8:active:hover {
    background-color:#8b004b;
}

.background_last_color_glassyDeepPink8,
.hover_background_last_color_glassyDeepPink8:hover,
.active_background_color_last_glassyDeepPink8:active:hover {
   background-color:#9a0053;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyDeepPink8,
.hover_color_glassyDeepPink8:hover,
.active_color_glassyDeepPink8:active:hover {
    color: #c8c8c8;
}

.color_glassyDeepPink8h,
.hover_color_glassyDeepPink8h:hover,
.active_color_glassyDeepPink8h:active:hover {
    color: #c8c8c8;
}

.color_glassyDeepPink8a,
.hover_color_glassyDeepPink8a:hover,
.active_color_glassyDeepPink8a:active:hover {
    color: #ff0;
}

.color_glassyDeepPink8s,
.hover_color_glassyDeepPink8s:hover,
.active_color_glassyDeepPink8s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyDeepPink8,
.hover_border_glassyDeepPink8:hover,
.active_border_glassyDeepPink8:active:hover {
    border-color: #6f003c #5c0032 #5c0032 #6f003c;
}

.border_glassyDeepPink8h,
.hover_border_glassyDeepPink8h:hover,
.active_border_glassyDeepPink8h:active:hover {
    border-color: #6f003c #5c0032 #5c0032 #6f003c;
}

.border_glassyDeepPink8a,
.hover_border_glassyDeepPink8a:hover,
.active_border_glassyDeepPink8a:active:hover {
    border-color: #56002f #56002f #56002f #56002f;
}

.border_glassyDeepPink8s,
.hover_border_glassyDeepPink8s:hover,
.active_border_glassyDeepPink8s:active:hover {
    border-color: #56002f #56002f #56002f #56002f;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyDeepPink8,
.hover_shadow_expand_glassyDeepPink8:hover,
.active_shadow_expand_glassyDeepPink8:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(154, 0, 83, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(154, 0, 83, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(154, 0, 83, .39);
}

.shadow_expand_glassyDeepPink8h,
.hover_shadow_expand_glassyDeepPink8h:hover,
.active_shadow_expand_glassyDeepPink8h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(185, 0, 100, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(185, 0, 100, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(185, 0, 100, .50);
}

.shadow_expand_glassyDeepPink8a,
.hover_shadow_expand_glassyDeepPink8a:hover,
.active_shadow_expand_glassyDeepPink8a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(166, 0, 90, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(166, 0, 90, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(166, 0, 90, .63);
}

.shadow_expand_glassyDeepPink8s,
.hover_shadow_expand_glassyDeepPink8s:hover,
.active_shadow_expand_glassyDeepPink8s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(166, 0, 90, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(166, 0, 90, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(166, 0, 90, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyDeepPink8,
.hover_shadow_left_glassyDeepPink8:hover,
.active_shadow_left_glassyDeepPink8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(154, 0, 83, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(154, 0, 83, .39);
    box-shadow: -0.5em -0.5em 1em rgba(154, 0, 83, .39);
}

.shadow_left_glassyDeepPink8h,
.hover_shadow_left_glassyDeepPink8h:hover,
.active_shadow_left_glassyDeepPink8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(185, 0, 100, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(185, 0, 100, .50);
    box-shadow: -0.5em -0.5em 1em rgba(185, 0, 100, .50);
}

.shadow_left_glassyDeepPink8a,
.hover_shadow_left_glassyDeepPink8a:hover,
.active_shadow_left_glassyDeepPink8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(166, 0, 90, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(166, 0, 90, .63);
    box-shadow: -0.5em -0.5em 1em rgba(166, 0, 90, .63);
}

.shadow_left_glassyDeepPink8s,
.hover_shadow_left_glassyDeepPink8s:hover,
.active_shadow_left_glassyDeepPink8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(166, 0, 90, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(166, 0, 90, .78);
    box-shadow: -0.5em -0.5em 1em rgba(166, 0, 90, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyDeepPink8,
.hover_shadow_right_glassyDeepPink8:hover,
.active_shadow_right_glassyDeepPink8:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(154, 0, 83, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(154, 0, 83, .39);
    box-shadow: 0.5em 0em 1em rgba(154, 0, 83, .39);
}

.shadow_right_glassyDeepPink8h,
.hover_shadow_right_glassyDeepPink8h:hover,
.active_shadow_right_glassyDeepPink8h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(185, 0, 100, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(185, 0, 100, .50);
    box-shadow: 0.5em 0em 1em rgba(185, 0, 100, .50);
}

.shadow_right_glassyDeepPink8a,
.hover_shadow_right_glassyDeepPink8a:hover,
.active_shadow_right_glassyDeepPink8a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(166, 0, 90, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(166, 0, 90, .63);
    box-shadow: 0.5em 0em 1em rgba(166, 0, 90, .63);
}

.shadow_right_glassyDeepPink8s,
.hover_shadow_right_glassyDeepPink8s:hover,
.active_shadow_right_glassyDeepPink8s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(166, 0, 90, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(166, 0, 90, .78);
    box-shadow: 0.5em 0em 1em rgba(166, 0, 90, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyDeepPink8,
.hover_shadow_top_glassyDeepPink8:hover,
.active_shadow_top_glassyDeepPink8:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(154, 0, 83, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(154, 0, 83, .39);
    box-shadow: 0em -0.5em 1em rgba(154, 0, 83, .39);
}

.shadow_top_glassyDeepPink8h,
.hover_shadow_top_glassyDeepPink8h:hover,
.active_shadow_top_glassyDeepPink8h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(185, 0, 100, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(185, 0, 100, .50);
    box-shadow: 0em -0.5em 1em rgba(185, 0, 100, .50);
}

.shadow_top_glassyDeepPink8a,
.hover_shadow_top_glassyDeepPink8a:hover,
.active_shadow_top_glassyDeepPink8a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(166, 0, 90, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(166, 0, 90, .63);
    box-shadow: 0em -0.5em 1em rgba(166, 0, 90, .63);
}

.shadow_top_glassyDeepPink8s,
.hover_shadow_top_glassyDeepPink8s:hover,
.active_shadow_top_glassyDeepPink8s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(166, 0, 90, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(166, 0, 90, .78);
    box-shadow: 0em -0.5em 1em rgba(166, 0, 90, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyDeepPink8,
.hover_shadow_bottom_glassyDeepPink8:hover,
.active_shadow_bottom_glassyDeepPink8:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(154, 0, 83, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(154, 0, 83, .39);
    box-shadow: 0em 0.5em 1em rgba(154, 0, 83, .39);
}

.shadow_bottom_glassyDeepPink8h,
.hover_shadow_bottom_glassyDeepPink8h:hover,
.active_shadow_bottom_glassyDeepPink8h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(185, 0, 100, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(185, 0, 100, .50);
    box-shadow: 0em 0.5em 1em rgba(185, 0, 100, .50);
}

.shadow_bottom_glassyDeepPink8a,
.hover_shadow_bottom_glassyDeepPink8a:hover,
.active_shadow_bottom_glassyDeepPink8a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(166, 0, 90, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(166, 0, 90, .63);
    box-shadow: 0em 0.5em 1em rgba(166, 0, 90, .63);
}

.shadow_bottom_glassyDeepPink8s,
.hover_shadow_bottom_glassyDeepPink8s:hover,
.active_shadow_bottom_glassyDeepPink8s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(166, 0, 90, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(166, 0, 90, .78);
    box-shadow: 0em 0.5em 1em rgba(166, 0, 90, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyDeepPink8,
.hover_shadow_top_left_glassyDeepPink8:hover,
.active_shadow_top_left_glassyDeepPink8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(154, 0, 83, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(154, 0, 83, .39);
    box-shadow: -0.5em -0.5em 1em rgba(154, 0, 83, .39);
}

.shadow_top_left_glassyDeepPink8h,
.hover_shadow_top_left_glassyDeepPink8h:hover,
.active_shadow_top_left_glassyDeepPink8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(185, 0, 100, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(185, 0, 100, .50);
    box-shadow: -0.5em -0.5em 1em rgba(185, 0, 100, .50);
}

.shadow_top_left_glassyDeepPink8a,
.hover_shadow_top_left_glassyDeepPink8a:hover,
.active_shadow_top_left_glassyDeepPink8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(166, 0, 90, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(166, 0, 90, .63);
    box-shadow: -0.5em -0.5em 1em rgba(166, 0, 90, .63);
}

.shadow_top_left_glassyDeepPink8s,
.hover_shadow_top_left_glassyDeepPink8s:hover,
.active_shadow_top_left_glassyDeepPink8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(166, 0, 90, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(166, 0, 90, .78);
    box-shadow: -0.5em -0.5em 1em rgba(166, 0, 90, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyDeepPink8,
.hover_shadow_top_right_glassyDeepPink8:hover,
.active_shadow_top_right_glassyDeepPink8:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(154, 0, 83, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(154, 0, 83, .39);
    box-shadow: 0.5em -0.5em 1em rgba(154, 0, 83, .39);
}

.shadow_top_right_glassyDeepPink8h,
.hover_shadow_top_right_glassyDeepPink8h:hover,
.active_shadow_top_right_glassyDeepPink8h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(185, 0, 100, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(185, 0, 100, .50);
    box-shadow: 0.5em -0.5em 1em rgba(185, 0, 100, .50);
}

.shadow_top_right_glassyDeepPink8a,
.hover_shadow_top_right_glassyDeepPink8a:hover,
.active_shadow_top_right_glassyDeepPink8a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(166, 0, 90, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(166, 0, 90, .63);
    box-shadow: 0.5em -0.5em 1em rgba(166, 0, 90, .63);
}

.shadow_top_right_glassyDeepPink8s,
.hover_shadow_top_right_glassyDeepPink8s:hover,
.active_shadow_top_right_glassyDeepPink8s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(166, 0, 90, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(166, 0, 90, .78);
    box-shadow: 0.5em -0.5em 1em rgba(166, 0, 90, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyDeepPink8,
.hover_shadow_bottom_left_glassyDeepPink8:hover,
.active_shadow_bottom_left_glassyDeepPink8:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(154, 0, 83, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(154, 0, 83, .39);
    box-shadow: -0.5em 0.5em 1em rgba(154, 0, 83, .39);
}

.shadow_bottom_left_glassyDeepPink8h,
.hover_shadow_bottom_left_glassyDeepPink8h:hover,
.active_shadow_bottom_left_glassyDeepPink8h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(185, 0, 100, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(185, 0, 100, .50);
    box-shadow: -0.5em 0.5em 1em rgba(185, 0, 100, .50);
}

.shadow_bottom_left_glassyDeepPink8a,
.hover_shadow_bottom_left_glassyDeepPink8a:hover,
.active_shadow_bottom_left_glassyDeepPink8a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(166, 0, 90, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(166, 0, 90, .63);
    box-shadow: -0.5em 0.5em 1em rgba(166, 0, 90, .63);
}

.shadow_bottom_left_glassyDeepPink8s,
.hover_shadow_bottom_left_glassyDeepPink8s:hover,
.active_shadow_bottom_left_glassyDeepPink8s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(166, 0, 90, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(166, 0, 90, .78);
    box-shadow: -0.5em 0.5em 1em rgba(166, 0, 90, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyDeepPink8,
.hover_shadow_bottom_right_glassyDeepPink8:hover,
.active_shadow_bottom_right_glassyDeepPink8:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(154, 0, 83, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(154, 0, 83, .39);
    box-shadow: 0.5em 0.5em 1em rgba(154, 0, 83, .39);
}

.shadow_bottom_right_glassyDeepPink8h,
.hover_shadow_bottom_right_glassyDeepPink8h:hover,
.active_shadow_bottom_right_glassyDeepPink8h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(185, 0, 100, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(185, 0, 100, .50);
    box-shadow: 0.5em 0.5em 1em rgba(185, 0, 100, .50);
}

.shadow_bottom_right_glassyDeepPink8a,
 .hover_shadow_bottom_right_glassyDeepPink8a:hover,
 .active_shadow_bottom_right_glassyDeepPink8a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(166, 0, 90, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(166, 0, 90, .63);
     box-shadow: 0.5em 0.5em 1em rgba(166, 0, 90, .63);
 }

 .shadow_bottom_right_glassyDeepPink8s,
 .hover_shadow_bottom_right_glassyDeepPink8s:hover,
 .active_shadow_bottom_right_glassyDeepPink8s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(166, 0, 90, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(166, 0, 90, .78);
     box-shadow: 0.5em 0.5em 1em rgba(166, 0, 90, .78);
 }