.background_glassyChocolate1,
.hover_background_glassyChocolate1:hover,
.active_background_glassyChocolate1:active:hover {
    background: #f3c7a8;
    background-image: -moz-linear-gradient(top,  rgb(237, 176, 132) 0%, rgb(232, 153, 96) 50%, rgb(227, 130, 60) 55%, rgb(243, 199, 168) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(237, 176, 132)), color-stop(50%, rgb(232, 153, 96)), color-stop(55%, rgb(227, 130, 60)), color-stop(100%, rgb(243, 199, 168)));
    background-image: -webkit-linear-gradient(top,  rgb(237, 176, 132) 0%, rgb(232, 153, 96) 50%, rgb(227, 130, 60) 55%, rgb(243, 199, 168) 100%);
    background-image: -o-linear-gradient(top,  rgb(237, 176, 132) 0%, rgb(232, 153, 96) 50%, rgb(227, 130, 60) 55%, rgb(243, 199, 168) 100%);
    background-image: -ms-linear-gradient(top, rgb(237, 176, 132) 0%, rgb(232, 153, 96) 50%, rgb(227, 130, 60) 55%, rgb(243, 199, 168) 100%);
    background-image: linear-gradient(to bottom,  rgb(237, 176, 132) 0%, rgb(232, 153, 96) 50%, rgb(227, 130, 60) 55%, rgb(243, 199, 168) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edb084', endColorstr='#f3c7a8',GradientType=0 );
}

.background_glassyChocolate1h,
.hover_background_glassyChocolate1h:hover,
.active_background_glassyChocolate1h:active:hover {
    background: #f3c7a8;
    background-image: -moz-linear-gradient(top,  rgb(247, 217, 197) 0%, rgb(241, 190, 154) 50%, rgb(234, 162, 110) 55%, rgb(253, 245, 240) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(247, 217, 197)), color-stop(50%, rgb(241, 190, 154)), color-stop(55%, rgb(234, 162, 110)), color-stop(100%, rgb(253, 245, 240)));
    background-image: -webkit-linear-gradient(top,  rgb(247, 217, 197) 0%, rgb(241, 190, 154) 50%, rgb(234, 162, 110) 55%, rgb(253, 245, 240) 100%);
    background-image: -o-linear-gradient(top,  rgb(247, 217, 197) 0%, rgb(241, 190, 154) 50%, rgb(234, 162, 110) 55%, rgb(253, 245, 240) 100%);
    background-image: -ms-linear-gradient(top, rgb(247, 217, 197) 0%, rgb(241, 190, 154) 50%, rgb(234, 162, 110) 55%, rgb(253, 245, 240) 100%);
    background-image: linear-gradient(to bottom,  rgb(247, 217, 197) 0%, rgb(241, 190, 154) 50%, rgb(234, 162, 110) 55%, rgb(253, 245, 240) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7d9c5', endColorstr='#fdf5f0',GradientType=0 );
}

.background_glassyChocolate1a,
.hover_background_glassyChocolate1a:hover,
.active_background_glassyChocolate1a:active:hover {
    background: #f3c7a8;
    background-image: -moz-linear-gradient(top,  rgb(253, 245, 240) 0%, rgb(234, 162, 110) 50%, rgb(241, 190, 154) 55%, rgb(247, 217, 197) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(253, 245, 240)), color-stop(50%, rgb(234, 162, 110)), color-stop(55%, rgb(241, 190, 154)), color-stop(100%, rgb(247, 217, 197)));
    background-image: -webkit-linear-gradient(top,  rgb(253, 245, 240) 0%, rgb(234, 162, 110) 50%, rgb(241, 190, 154) 55%, rgb(247, 217, 197) 100%);
    background-image: -o-linear-gradient(top,  rgb(253, 245, 240) 0%, rgb(234, 162, 110) 50%, rgb(241, 190, 154) 55%, rgb(247, 217, 197) 100%);
    background-image: -ms-linear-gradient(top, rgb(253, 245, 240) 0%, rgb(234, 162, 110) 50%, rgb(241, 190, 154) 55%, rgb(247, 217, 197) 100%);
    background-image: linear-gradient(to bottom,  rgb(253, 245, 240) 0%, rgb(234, 162, 110) 50%, rgb(241, 190, 154) 55%, rgb(247, 217, 197) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf5f0', endColorstr='#f7d9c5',GradientType=0 );
}

.background_glassyChocolate1s,
.hover_background_glassyChocolate1s:hover,
.active_background_glassyChocolate1s:active:hover {
    background: #f3c7a8;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(253, 245, 240) 50%, rgb(245, 211, 186) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(253, 245, 240)), color-stop(55%, rgb(245, 211, 186)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(253, 245, 240) 50%, rgb(245, 211, 186) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(253, 245, 240) 50%, rgb(245, 211, 186) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(253, 245, 240) 50%, rgb(245, 211, 186) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(253, 245, 240) 50%, rgb(245, 211, 186) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_color_glassyChocolate1,
.hover_background_color_glassyChocolate1:hover,
.active_background_color_glassyChocolate1:active:hover {
    background-color:#f3c7a8;
}

.background_first_color_glassyChocolate1,
.hover_background_first_color_glassyChocolate1:hover,
.active_background_first_color_glassyChocolate1:active:hover {
    background-color:#edb084;
}

.background_last_color_glassyChocolate1,
.hover_background_last_color_glassyChocolate1:hover,
.active_background_color_last_glassyChocolate1:active:hover {
   background-color:#f3c7a8;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyChocolate1,
.hover_color_glassyChocolate1:hover,
.active_color_glassyChocolate1:active:hover {
    color: #282828;
}

.color_glassyChocolate1h,
.hover_color_glassyChocolate1h:hover,
.active_color_glassyChocolate1h:active:hover {
    color: #282828;
}

.color_glassyChocolate1a,
.hover_color_glassyChocolate1a:hover,
.active_color_glassyChocolate1a:active:hover {
    color: #ff0;
}

.color_glassyChocolate1s,
.hover_color_glassyChocolate1s:hover,
.active_color_glassyChocolate1s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyChocolate1,
.hover_border_glassyChocolate1:hover,
.active_border_glassyChocolate1:active:hover {
    border-color: #e48643 #d86c1f #d86c1f #e48643;
}

.border_glassyChocolate1h,
.hover_border_glassyChocolate1h:hover,
.active_border_glassyChocolate1h:active:hover {
    border-color: #e48643 #d86c1f #d86c1f #e48643;
}

.border_glassyChocolate1a,
.hover_border_glassyChocolate1a:hover,
.active_border_glassyChocolate1a:active:hover {
    border-color: #c9651d #c9651d #c9651d #c9651d;
}

.border_glassyChocolate1s,
.hover_border_glassyChocolate1s:hover,
.active_border_glassyChocolate1s:active:hover {
    border-color: #c9651d #c9651d #c9651d #c9651d;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyChocolate1,
.hover_shadow_expand_glassyChocolate1:hover,
.active_shadow_expand_glassyChocolate1:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(243, 199, 168, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(243, 199, 168, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(243, 199, 168, .39);
}

.shadow_expand_glassyChocolate1h,
.hover_shadow_expand_glassyChocolate1h:hover,
.active_shadow_expand_glassyChocolate1h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(253, 245, 240, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(253, 245, 240, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(253, 245, 240, .50);
}

.shadow_expand_glassyChocolate1a,
.hover_shadow_expand_glassyChocolate1a:hover,
.active_shadow_expand_glassyChocolate1a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(247, 217, 197, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(247, 217, 197, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(247, 217, 197, .63);
}

.shadow_expand_glassyChocolate1s,
.hover_shadow_expand_glassyChocolate1s:hover,
.active_shadow_expand_glassyChocolate1s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(247, 217, 197, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(247, 217, 197, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(247, 217, 197, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyChocolate1,
.hover_shadow_left_glassyChocolate1:hover,
.active_shadow_left_glassyChocolate1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(243, 199, 168, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(243, 199, 168, .39);
    box-shadow: -0.5em -0.5em 1em rgba(243, 199, 168, .39);
}

.shadow_left_glassyChocolate1h,
.hover_shadow_left_glassyChocolate1h:hover,
.active_shadow_left_glassyChocolate1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(253, 245, 240, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(253, 245, 240, .50);
    box-shadow: -0.5em -0.5em 1em rgba(253, 245, 240, .50);
}

.shadow_left_glassyChocolate1a,
.hover_shadow_left_glassyChocolate1a:hover,
.active_shadow_left_glassyChocolate1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(247, 217, 197, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(247, 217, 197, .63);
    box-shadow: -0.5em -0.5em 1em rgba(247, 217, 197, .63);
}

.shadow_left_glassyChocolate1s,
.hover_shadow_left_glassyChocolate1s:hover,
.active_shadow_left_glassyChocolate1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(247, 217, 197, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(247, 217, 197, .78);
    box-shadow: -0.5em -0.5em 1em rgba(247, 217, 197, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyChocolate1,
.hover_shadow_right_glassyChocolate1:hover,
.active_shadow_right_glassyChocolate1:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(243, 199, 168, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(243, 199, 168, .39);
    box-shadow: 0.5em 0em 1em rgba(243, 199, 168, .39);
}

.shadow_right_glassyChocolate1h,
.hover_shadow_right_glassyChocolate1h:hover,
.active_shadow_right_glassyChocolate1h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(253, 245, 240, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(253, 245, 240, .50);
    box-shadow: 0.5em 0em 1em rgba(253, 245, 240, .50);
}

.shadow_right_glassyChocolate1a,
.hover_shadow_right_glassyChocolate1a:hover,
.active_shadow_right_glassyChocolate1a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(247, 217, 197, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(247, 217, 197, .63);
    box-shadow: 0.5em 0em 1em rgba(247, 217, 197, .63);
}

.shadow_right_glassyChocolate1s,
.hover_shadow_right_glassyChocolate1s:hover,
.active_shadow_right_glassyChocolate1s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(247, 217, 197, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(247, 217, 197, .78);
    box-shadow: 0.5em 0em 1em rgba(247, 217, 197, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyChocolate1,
.hover_shadow_top_glassyChocolate1:hover,
.active_shadow_top_glassyChocolate1:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(243, 199, 168, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(243, 199, 168, .39);
    box-shadow: 0em -0.5em 1em rgba(243, 199, 168, .39);
}

.shadow_top_glassyChocolate1h,
.hover_shadow_top_glassyChocolate1h:hover,
.active_shadow_top_glassyChocolate1h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(253, 245, 240, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(253, 245, 240, .50);
    box-shadow: 0em -0.5em 1em rgba(253, 245, 240, .50);
}

.shadow_top_glassyChocolate1a,
.hover_shadow_top_glassyChocolate1a:hover,
.active_shadow_top_glassyChocolate1a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(247, 217, 197, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(247, 217, 197, .63);
    box-shadow: 0em -0.5em 1em rgba(247, 217, 197, .63);
}

.shadow_top_glassyChocolate1s,
.hover_shadow_top_glassyChocolate1s:hover,
.active_shadow_top_glassyChocolate1s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(247, 217, 197, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(247, 217, 197, .78);
    box-shadow: 0em -0.5em 1em rgba(247, 217, 197, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyChocolate1,
.hover_shadow_bottom_glassyChocolate1:hover,
.active_shadow_bottom_glassyChocolate1:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(243, 199, 168, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(243, 199, 168, .39);
    box-shadow: 0em 0.5em 1em rgba(243, 199, 168, .39);
}

.shadow_bottom_glassyChocolate1h,
.hover_shadow_bottom_glassyChocolate1h:hover,
.active_shadow_bottom_glassyChocolate1h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(253, 245, 240, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(253, 245, 240, .50);
    box-shadow: 0em 0.5em 1em rgba(253, 245, 240, .50);
}

.shadow_bottom_glassyChocolate1a,
.hover_shadow_bottom_glassyChocolate1a:hover,
.active_shadow_bottom_glassyChocolate1a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(247, 217, 197, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(247, 217, 197, .63);
    box-shadow: 0em 0.5em 1em rgba(247, 217, 197, .63);
}

.shadow_bottom_glassyChocolate1s,
.hover_shadow_bottom_glassyChocolate1s:hover,
.active_shadow_bottom_glassyChocolate1s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(247, 217, 197, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(247, 217, 197, .78);
    box-shadow: 0em 0.5em 1em rgba(247, 217, 197, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyChocolate1,
.hover_shadow_top_left_glassyChocolate1:hover,
.active_shadow_top_left_glassyChocolate1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(243, 199, 168, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(243, 199, 168, .39);
    box-shadow: -0.5em -0.5em 1em rgba(243, 199, 168, .39);
}

.shadow_top_left_glassyChocolate1h,
.hover_shadow_top_left_glassyChocolate1h:hover,
.active_shadow_top_left_glassyChocolate1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(253, 245, 240, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(253, 245, 240, .50);
    box-shadow: -0.5em -0.5em 1em rgba(253, 245, 240, .50);
}

.shadow_top_left_glassyChocolate1a,
.hover_shadow_top_left_glassyChocolate1a:hover,
.active_shadow_top_left_glassyChocolate1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(247, 217, 197, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(247, 217, 197, .63);
    box-shadow: -0.5em -0.5em 1em rgba(247, 217, 197, .63);
}

.shadow_top_left_glassyChocolate1s,
.hover_shadow_top_left_glassyChocolate1s:hover,
.active_shadow_top_left_glassyChocolate1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(247, 217, 197, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(247, 217, 197, .78);
    box-shadow: -0.5em -0.5em 1em rgba(247, 217, 197, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyChocolate1,
.hover_shadow_top_right_glassyChocolate1:hover,
.active_shadow_top_right_glassyChocolate1:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(243, 199, 168, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(243, 199, 168, .39);
    box-shadow: 0.5em -0.5em 1em rgba(243, 199, 168, .39);
}

.shadow_top_right_glassyChocolate1h,
.hover_shadow_top_right_glassyChocolate1h:hover,
.active_shadow_top_right_glassyChocolate1h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(253, 245, 240, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(253, 245, 240, .50);
    box-shadow: 0.5em -0.5em 1em rgba(253, 245, 240, .50);
}

.shadow_top_right_glassyChocolate1a,
.hover_shadow_top_right_glassyChocolate1a:hover,
.active_shadow_top_right_glassyChocolate1a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(247, 217, 197, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(247, 217, 197, .63);
    box-shadow: 0.5em -0.5em 1em rgba(247, 217, 197, .63);
}

.shadow_top_right_glassyChocolate1s,
.hover_shadow_top_right_glassyChocolate1s:hover,
.active_shadow_top_right_glassyChocolate1s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(247, 217, 197, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(247, 217, 197, .78);
    box-shadow: 0.5em -0.5em 1em rgba(247, 217, 197, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyChocolate1,
.hover_shadow_bottom_left_glassyChocolate1:hover,
.active_shadow_bottom_left_glassyChocolate1:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(243, 199, 168, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(243, 199, 168, .39);
    box-shadow: -0.5em 0.5em 1em rgba(243, 199, 168, .39);
}

.shadow_bottom_left_glassyChocolate1h,
.hover_shadow_bottom_left_glassyChocolate1h:hover,
.active_shadow_bottom_left_glassyChocolate1h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(253, 245, 240, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(253, 245, 240, .50);
    box-shadow: -0.5em 0.5em 1em rgba(253, 245, 240, .50);
}

.shadow_bottom_left_glassyChocolate1a,
.hover_shadow_bottom_left_glassyChocolate1a:hover,
.active_shadow_bottom_left_glassyChocolate1a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(247, 217, 197, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(247, 217, 197, .63);
    box-shadow: -0.5em 0.5em 1em rgba(247, 217, 197, .63);
}

.shadow_bottom_left_glassyChocolate1s,
.hover_shadow_bottom_left_glassyChocolate1s:hover,
.active_shadow_bottom_left_glassyChocolate1s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(247, 217, 197, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(247, 217, 197, .78);
    box-shadow: -0.5em 0.5em 1em rgba(247, 217, 197, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyChocolate1,
.hover_shadow_bottom_right_glassyChocolate1:hover,
.active_shadow_bottom_right_glassyChocolate1:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(243, 199, 168, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(243, 199, 168, .39);
    box-shadow: 0.5em 0.5em 1em rgba(243, 199, 168, .39);
}

.shadow_bottom_right_glassyChocolate1h,
.hover_shadow_bottom_right_glassyChocolate1h:hover,
.active_shadow_bottom_right_glassyChocolate1h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(253, 245, 240, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(253, 245, 240, .50);
    box-shadow: 0.5em 0.5em 1em rgba(253, 245, 240, .50);
}

.shadow_bottom_right_glassyChocolate1a,
 .hover_shadow_bottom_right_glassyChocolate1a:hover,
 .active_shadow_bottom_right_glassyChocolate1a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(247, 217, 197, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(247, 217, 197, .63);
     box-shadow: 0.5em 0.5em 1em rgba(247, 217, 197, .63);
 }

 .shadow_bottom_right_glassyChocolate1s,
 .hover_shadow_bottom_right_glassyChocolate1s:hover,
 .active_shadow_bottom_right_glassyChocolate1s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(247, 217, 197, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(247, 217, 197, .78);
     box-shadow: 0.5em 0.5em 1em rgba(247, 217, 197, .78);
 }