.background_glassyChocolate6,
.hover_background_glassyChocolate6:hover,
.active_background_glassyChocolate6:active:hover {
    background: #9f5017;
    background-image: -moz-linear-gradient(top,  rgb(143, 72, 20) 0%, rgb(127, 64, 18) 50%, rgb(112, 56, 16) 55%, rgb(159, 80, 23) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(143, 72, 20)), color-stop(50%, rgb(127, 64, 18)), color-stop(55%, rgb(112, 56, 16)), color-stop(100%, rgb(159, 80, 23)));
    background-image: -webkit-linear-gradient(top,  rgb(143, 72, 20) 0%, rgb(127, 64, 18) 50%, rgb(112, 56, 16) 55%, rgb(159, 80, 23) 100%);
    background-image: -o-linear-gradient(top,  rgb(143, 72, 20) 0%, rgb(127, 64, 18) 50%, rgb(112, 56, 16) 55%, rgb(159, 80, 23) 100%);
    background-image: -ms-linear-gradient(top, rgb(143, 72, 20) 0%, rgb(127, 64, 18) 50%, rgb(112, 56, 16) 55%, rgb(159, 80, 23) 100%);
    background-image: linear-gradient(to bottom,  rgb(143, 72, 20) 0%, rgb(127, 64, 18) 50%, rgb(112, 56, 16) 55%, rgb(159, 80, 23) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f4814', endColorstr='#9f5017',GradientType=0 );
}

.background_glassyChocolate6h,
.hover_background_glassyChocolate6h:hover,
.active_background_glassyChocolate6h:active:hover {
    background: #9f5017;
    background-image: -moz-linear-gradient(top,  rgb(172, 86, 25) 0%, rgb(153, 76, 22) 50%, rgb(134, 67, 19) 55%, rgb(191, 96, 27) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(172, 86, 25)), color-stop(50%, rgb(153, 76, 22)), color-stop(55%, rgb(134, 67, 19)), color-stop(100%, rgb(191, 96, 27)));
    background-image: -webkit-linear-gradient(top,  rgb(172, 86, 25) 0%, rgb(153, 76, 22) 50%, rgb(134, 67, 19) 55%, rgb(191, 96, 27) 100%);
    background-image: -o-linear-gradient(top,  rgb(172, 86, 25) 0%, rgb(153, 76, 22) 50%, rgb(134, 67, 19) 55%, rgb(191, 96, 27) 100%);
    background-image: -ms-linear-gradient(top, rgb(172, 86, 25) 0%, rgb(153, 76, 22) 50%, rgb(134, 67, 19) 55%, rgb(191, 96, 27) 100%);
    background-image: linear-gradient(to bottom,  rgb(172, 86, 25) 0%, rgb(153, 76, 22) 50%, rgb(134, 67, 19) 55%, rgb(191, 96, 27) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac5619', endColorstr='#bf601b',GradientType=0 );
}

.background_glassyChocolate6a,
.hover_background_glassyChocolate6a:hover,
.active_background_glassyChocolate6a:active:hover {
    background: #9f5017;
    background-image: -moz-linear-gradient(top,  rgb(191, 96, 27) 0%, rgb(134, 67, 19) 50%, rgb(153, 76, 22) 55%, rgb(172, 86, 25) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(191, 96, 27)), color-stop(50%, rgb(134, 67, 19)), color-stop(55%, rgb(153, 76, 22)), color-stop(100%, rgb(172, 86, 25)));
    background-image: -webkit-linear-gradient(top,  rgb(191, 96, 27) 0%, rgb(134, 67, 19) 50%, rgb(153, 76, 22) 55%, rgb(172, 86, 25) 100%);
    background-image: -o-linear-gradient(top,  rgb(191, 96, 27) 0%, rgb(134, 67, 19) 50%, rgb(153, 76, 22) 55%, rgb(172, 86, 25) 100%);
    background-image: -ms-linear-gradient(top, rgb(191, 96, 27) 0%, rgb(134, 67, 19) 50%, rgb(153, 76, 22) 55%, rgb(172, 86, 25) 100%);
    background-image: linear-gradient(to bottom,  rgb(191, 96, 27) 0%, rgb(134, 67, 19) 50%, rgb(153, 76, 22) 55%, rgb(172, 86, 25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf601b', endColorstr='#ac5619',GradientType=0 );
}

.background_glassyChocolate6s,
.hover_background_glassyChocolate6s:hover,
.active_background_glassyChocolate6s:active:hover {
    background: #9f5017;
    background-image: -moz-linear-gradient(top,  rgb(215, 108, 31) 0%, rgb(191, 96, 27) 50%, rgb(167, 84, 24) 55%, rgb(225, 122, 48) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(215, 108, 31)), color-stop(50%, rgb(191, 96, 27)), color-stop(55%, rgb(167, 84, 24)), color-stop(100%, rgb(225, 122, 48)));
    background-image: -webkit-linear-gradient(top,  rgb(215, 108, 31) 0%, rgb(191, 96, 27) 50%, rgb(167, 84, 24) 55%, rgb(225, 122, 48) 100%);
    background-image: -o-linear-gradient(top,  rgb(215, 108, 31) 0%, rgb(191, 96, 27) 50%, rgb(167, 84, 24) 55%, rgb(225, 122, 48) 100%);
    background-image: -ms-linear-gradient(top, rgb(215, 108, 31) 0%, rgb(191, 96, 27) 50%, rgb(167, 84, 24) 55%, rgb(225, 122, 48) 100%);
    background-image: linear-gradient(to bottom,  rgb(215, 108, 31) 0%, rgb(191, 96, 27) 50%, rgb(167, 84, 24) 55%, rgb(225, 122, 48) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d76c1f', endColorstr='#e17a30',GradientType=0 );
}

.background_color_glassyChocolate6,
.hover_background_color_glassyChocolate6:hover,
.active_background_color_glassyChocolate6:active:hover {
    background-color:#9f5017;
}

.background_first_color_glassyChocolate6,
.hover_background_first_color_glassyChocolate6:hover,
.active_background_first_color_glassyChocolate6:active:hover {
    background-color:#8f4814;
}

.background_last_color_glassyChocolate6,
.hover_background_last_color_glassyChocolate6:hover,
.active_background_color_last_glassyChocolate6:active:hover {
   background-color:#9f5017;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyChocolate6,
.hover_color_glassyChocolate6:hover,
.active_color_glassyChocolate6:active:hover {
    color: #c8c8c8;
}

.color_glassyChocolate6h,
.hover_color_glassyChocolate6h:hover,
.active_color_glassyChocolate6h:active:hover {
    color: #c8c8c8;
}

.color_glassyChocolate6a,
.hover_color_glassyChocolate6a:hover,
.active_color_glassyChocolate6a:active:hover {
    color: #ff0;
}

.color_glassyChocolate6s,
.hover_color_glassyChocolate6s:hover,
.active_color_glassyChocolate6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyChocolate6,
.hover_border_glassyChocolate6:hover,
.active_border_glassyChocolate6:active:hover {
    border-color: #733910 #60300e #60300e #733910;
}

.border_glassyChocolate6h,
.hover_border_glassyChocolate6h:hover,
.active_border_glassyChocolate6h:active:hover {
    border-color: #733910 #60300e #60300e #733910;
}

.border_glassyChocolate6a,
.hover_border_glassyChocolate6a:hover,
.active_border_glassyChocolate6a:active:hover {
    border-color: #592d0d #592d0d #592d0d #592d0d;
}

.border_glassyChocolate6s,
.hover_border_glassyChocolate6s:hover,
.active_border_glassyChocolate6s:active:hover {
    border-color: #592d0d #592d0d #592d0d #592d0d;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyChocolate6,
.hover_shadow_expand_glassyChocolate6:hover,
.active_shadow_expand_glassyChocolate6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(159, 80, 23, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(159, 80, 23, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(159, 80, 23, .39);
}

.shadow_expand_glassyChocolate6h,
.hover_shadow_expand_glassyChocolate6h:hover,
.active_shadow_expand_glassyChocolate6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(191, 96, 27, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(191, 96, 27, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(191, 96, 27, .50);
}

.shadow_expand_glassyChocolate6a,
.hover_shadow_expand_glassyChocolate6a:hover,
.active_shadow_expand_glassyChocolate6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(172, 86, 25, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(172, 86, 25, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(172, 86, 25, .63);
}

.shadow_expand_glassyChocolate6s,
.hover_shadow_expand_glassyChocolate6s:hover,
.active_shadow_expand_glassyChocolate6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(172, 86, 25, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(172, 86, 25, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(172, 86, 25, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyChocolate6,
.hover_shadow_left_glassyChocolate6:hover,
.active_shadow_left_glassyChocolate6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(159, 80, 23, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(159, 80, 23, .39);
    box-shadow: -0.5em -0.5em 1em rgba(159, 80, 23, .39);
}

.shadow_left_glassyChocolate6h,
.hover_shadow_left_glassyChocolate6h:hover,
.active_shadow_left_glassyChocolate6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(191, 96, 27, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(191, 96, 27, .50);
    box-shadow: -0.5em -0.5em 1em rgba(191, 96, 27, .50);
}

.shadow_left_glassyChocolate6a,
.hover_shadow_left_glassyChocolate6a:hover,
.active_shadow_left_glassyChocolate6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(172, 86, 25, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(172, 86, 25, .63);
    box-shadow: -0.5em -0.5em 1em rgba(172, 86, 25, .63);
}

.shadow_left_glassyChocolate6s,
.hover_shadow_left_glassyChocolate6s:hover,
.active_shadow_left_glassyChocolate6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(172, 86, 25, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(172, 86, 25, .78);
    box-shadow: -0.5em -0.5em 1em rgba(172, 86, 25, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyChocolate6,
.hover_shadow_right_glassyChocolate6:hover,
.active_shadow_right_glassyChocolate6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(159, 80, 23, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(159, 80, 23, .39);
    box-shadow: 0.5em 0em 1em rgba(159, 80, 23, .39);
}

.shadow_right_glassyChocolate6h,
.hover_shadow_right_glassyChocolate6h:hover,
.active_shadow_right_glassyChocolate6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(191, 96, 27, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(191, 96, 27, .50);
    box-shadow: 0.5em 0em 1em rgba(191, 96, 27, .50);
}

.shadow_right_glassyChocolate6a,
.hover_shadow_right_glassyChocolate6a:hover,
.active_shadow_right_glassyChocolate6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(172, 86, 25, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(172, 86, 25, .63);
    box-shadow: 0.5em 0em 1em rgba(172, 86, 25, .63);
}

.shadow_right_glassyChocolate6s,
.hover_shadow_right_glassyChocolate6s:hover,
.active_shadow_right_glassyChocolate6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(172, 86, 25, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(172, 86, 25, .78);
    box-shadow: 0.5em 0em 1em rgba(172, 86, 25, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyChocolate6,
.hover_shadow_top_glassyChocolate6:hover,
.active_shadow_top_glassyChocolate6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(159, 80, 23, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(159, 80, 23, .39);
    box-shadow: 0em -0.5em 1em rgba(159, 80, 23, .39);
}

.shadow_top_glassyChocolate6h,
.hover_shadow_top_glassyChocolate6h:hover,
.active_shadow_top_glassyChocolate6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(191, 96, 27, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(191, 96, 27, .50);
    box-shadow: 0em -0.5em 1em rgba(191, 96, 27, .50);
}

.shadow_top_glassyChocolate6a,
.hover_shadow_top_glassyChocolate6a:hover,
.active_shadow_top_glassyChocolate6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(172, 86, 25, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(172, 86, 25, .63);
    box-shadow: 0em -0.5em 1em rgba(172, 86, 25, .63);
}

.shadow_top_glassyChocolate6s,
.hover_shadow_top_glassyChocolate6s:hover,
.active_shadow_top_glassyChocolate6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(172, 86, 25, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(172, 86, 25, .78);
    box-shadow: 0em -0.5em 1em rgba(172, 86, 25, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyChocolate6,
.hover_shadow_bottom_glassyChocolate6:hover,
.active_shadow_bottom_glassyChocolate6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(159, 80, 23, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(159, 80, 23, .39);
    box-shadow: 0em 0.5em 1em rgba(159, 80, 23, .39);
}

.shadow_bottom_glassyChocolate6h,
.hover_shadow_bottom_glassyChocolate6h:hover,
.active_shadow_bottom_glassyChocolate6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(191, 96, 27, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(191, 96, 27, .50);
    box-shadow: 0em 0.5em 1em rgba(191, 96, 27, .50);
}

.shadow_bottom_glassyChocolate6a,
.hover_shadow_bottom_glassyChocolate6a:hover,
.active_shadow_bottom_glassyChocolate6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(172, 86, 25, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(172, 86, 25, .63);
    box-shadow: 0em 0.5em 1em rgba(172, 86, 25, .63);
}

.shadow_bottom_glassyChocolate6s,
.hover_shadow_bottom_glassyChocolate6s:hover,
.active_shadow_bottom_glassyChocolate6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(172, 86, 25, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(172, 86, 25, .78);
    box-shadow: 0em 0.5em 1em rgba(172, 86, 25, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyChocolate6,
.hover_shadow_top_left_glassyChocolate6:hover,
.active_shadow_top_left_glassyChocolate6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(159, 80, 23, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(159, 80, 23, .39);
    box-shadow: -0.5em -0.5em 1em rgba(159, 80, 23, .39);
}

.shadow_top_left_glassyChocolate6h,
.hover_shadow_top_left_glassyChocolate6h:hover,
.active_shadow_top_left_glassyChocolate6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(191, 96, 27, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(191, 96, 27, .50);
    box-shadow: -0.5em -0.5em 1em rgba(191, 96, 27, .50);
}

.shadow_top_left_glassyChocolate6a,
.hover_shadow_top_left_glassyChocolate6a:hover,
.active_shadow_top_left_glassyChocolate6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(172, 86, 25, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(172, 86, 25, .63);
    box-shadow: -0.5em -0.5em 1em rgba(172, 86, 25, .63);
}

.shadow_top_left_glassyChocolate6s,
.hover_shadow_top_left_glassyChocolate6s:hover,
.active_shadow_top_left_glassyChocolate6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(172, 86, 25, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(172, 86, 25, .78);
    box-shadow: -0.5em -0.5em 1em rgba(172, 86, 25, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyChocolate6,
.hover_shadow_top_right_glassyChocolate6:hover,
.active_shadow_top_right_glassyChocolate6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(159, 80, 23, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(159, 80, 23, .39);
    box-shadow: 0.5em -0.5em 1em rgba(159, 80, 23, .39);
}

.shadow_top_right_glassyChocolate6h,
.hover_shadow_top_right_glassyChocolate6h:hover,
.active_shadow_top_right_glassyChocolate6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(191, 96, 27, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(191, 96, 27, .50);
    box-shadow: 0.5em -0.5em 1em rgba(191, 96, 27, .50);
}

.shadow_top_right_glassyChocolate6a,
.hover_shadow_top_right_glassyChocolate6a:hover,
.active_shadow_top_right_glassyChocolate6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(172, 86, 25, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(172, 86, 25, .63);
    box-shadow: 0.5em -0.5em 1em rgba(172, 86, 25, .63);
}

.shadow_top_right_glassyChocolate6s,
.hover_shadow_top_right_glassyChocolate6s:hover,
.active_shadow_top_right_glassyChocolate6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(172, 86, 25, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(172, 86, 25, .78);
    box-shadow: 0.5em -0.5em 1em rgba(172, 86, 25, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyChocolate6,
.hover_shadow_bottom_left_glassyChocolate6:hover,
.active_shadow_bottom_left_glassyChocolate6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(159, 80, 23, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(159, 80, 23, .39);
    box-shadow: -0.5em 0.5em 1em rgba(159, 80, 23, .39);
}

.shadow_bottom_left_glassyChocolate6h,
.hover_shadow_bottom_left_glassyChocolate6h:hover,
.active_shadow_bottom_left_glassyChocolate6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(191, 96, 27, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(191, 96, 27, .50);
    box-shadow: -0.5em 0.5em 1em rgba(191, 96, 27, .50);
}

.shadow_bottom_left_glassyChocolate6a,
.hover_shadow_bottom_left_glassyChocolate6a:hover,
.active_shadow_bottom_left_glassyChocolate6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(172, 86, 25, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(172, 86, 25, .63);
    box-shadow: -0.5em 0.5em 1em rgba(172, 86, 25, .63);
}

.shadow_bottom_left_glassyChocolate6s,
.hover_shadow_bottom_left_glassyChocolate6s:hover,
.active_shadow_bottom_left_glassyChocolate6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(172, 86, 25, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(172, 86, 25, .78);
    box-shadow: -0.5em 0.5em 1em rgba(172, 86, 25, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyChocolate6,
.hover_shadow_bottom_right_glassyChocolate6:hover,
.active_shadow_bottom_right_glassyChocolate6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(159, 80, 23, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(159, 80, 23, .39);
    box-shadow: 0.5em 0.5em 1em rgba(159, 80, 23, .39);
}

.shadow_bottom_right_glassyChocolate6h,
.hover_shadow_bottom_right_glassyChocolate6h:hover,
.active_shadow_bottom_right_glassyChocolate6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(191, 96, 27, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(191, 96, 27, .50);
    box-shadow: 0.5em 0.5em 1em rgba(191, 96, 27, .50);
}

.shadow_bottom_right_glassyChocolate6a,
 .hover_shadow_bottom_right_glassyChocolate6a:hover,
 .active_shadow_bottom_right_glassyChocolate6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(172, 86, 25, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(172, 86, 25, .63);
     box-shadow: 0.5em 0.5em 1em rgba(172, 86, 25, .63);
 }

 .shadow_bottom_right_glassyChocolate6s,
 .hover_shadow_bottom_right_glassyChocolate6s:hover,
 .active_shadow_bottom_right_glassyChocolate6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(172, 86, 25, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(172, 86, 25, .78);
     box-shadow: 0.5em 0.5em 1em rgba(172, 86, 25, .78);
 }