.background_glassyAliceBlue6,
.hover_background_glassyAliceBlue6:hover,
.active_background_glassyAliceBlue6:active:hover {
    background: #0075dc;
    background-image: -moz-linear-gradient(top,  rgb(0, 105, 198) 0%, rgb(0, 94, 176) 50%, rgb(0, 82, 154) 55%, rgb(0, 117, 220) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 105, 198)), color-stop(50%, rgb(0, 94, 176)), color-stop(55%, rgb(0, 82, 154)), color-stop(100%, rgb(0, 117, 220)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 105, 198) 0%, rgb(0, 94, 176) 50%, rgb(0, 82, 154) 55%, rgb(0, 117, 220) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 105, 198) 0%, rgb(0, 94, 176) 50%, rgb(0, 82, 154) 55%, rgb(0, 117, 220) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 105, 198) 0%, rgb(0, 94, 176) 50%, rgb(0, 82, 154) 55%, rgb(0, 117, 220) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 105, 198) 0%, rgb(0, 94, 176) 50%, rgb(0, 82, 154) 55%, rgb(0, 117, 220) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0069c6', endColorstr='#0075dc',GradientType=0 );
}

.background_glassyAliceBlue6h,
.hover_background_glassyAliceBlue6h:hover,
.active_background_glassyAliceBlue6h:active:hover {
    background: #0075dc;
    background-image: -moz-linear-gradient(top,  rgb(0, 127, 237) 0%, rgb(0, 112, 211) 50%, rgb(0, 98, 184) 55%, rgb(9, 140, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 127, 237)), color-stop(50%, rgb(0, 112, 211)), color-stop(55%, rgb(0, 98, 184)), color-stop(100%, rgb(9, 140, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 127, 237) 0%, rgb(0, 112, 211) 50%, rgb(0, 98, 184) 55%, rgb(9, 140, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 127, 237) 0%, rgb(0, 112, 211) 50%, rgb(0, 98, 184) 55%, rgb(9, 140, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 127, 237) 0%, rgb(0, 112, 211) 50%, rgb(0, 98, 184) 55%, rgb(9, 140, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 127, 237) 0%, rgb(0, 112, 211) 50%, rgb(0, 98, 184) 55%, rgb(9, 140, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fed', endColorstr='#098cff',GradientType=0 );
}

.background_glassyAliceBlue6a,
.hover_background_glassyAliceBlue6a:hover,
.active_background_glassyAliceBlue6a:active:hover {
    background: #0075dc;
    background-image: -moz-linear-gradient(top,  rgb(9, 140, 255) 0%, rgb(0, 98, 184) 50%, rgb(0, 112, 211) 55%, rgb(0, 127, 237) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(9, 140, 255)), color-stop(50%, rgb(0, 98, 184)), color-stop(55%, rgb(0, 112, 211)), color-stop(100%, rgb(0, 127, 237)));
    background-image: -webkit-linear-gradient(top,  rgb(9, 140, 255) 0%, rgb(0, 98, 184) 50%, rgb(0, 112, 211) 55%, rgb(0, 127, 237) 100%);
    background-image: -o-linear-gradient(top,  rgb(9, 140, 255) 0%, rgb(0, 98, 184) 50%, rgb(0, 112, 211) 55%, rgb(0, 127, 237) 100%);
    background-image: -ms-linear-gradient(top, rgb(9, 140, 255) 0%, rgb(0, 98, 184) 50%, rgb(0, 112, 211) 55%, rgb(0, 127, 237) 100%);
    background-image: linear-gradient(to bottom,  rgb(9, 140, 255) 0%, rgb(0, 98, 184) 50%, rgb(0, 112, 211) 55%, rgb(0, 127, 237) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098cff', endColorstr='#007fed',GradientType=0 );
}

.background_glassyAliceBlue6s,
.hover_background_glassyAliceBlue6s:hover,
.active_background_glassyAliceBlue6s:active:hover {
    background: #0075dc;
    background-image: -moz-linear-gradient(top,  rgb(42, 155, 255) 0%, rgb(9, 140, 255) 50%, rgb(0, 123, 231) 55%, rgb(74, 171, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(42, 155, 255)), color-stop(50%, rgb(9, 140, 255)), color-stop(55%, rgb(0, 123, 231)), color-stop(100%, rgb(74, 171, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(42, 155, 255) 0%, rgb(9, 140, 255) 50%, rgb(0, 123, 231) 55%, rgb(74, 171, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(42, 155, 255) 0%, rgb(9, 140, 255) 50%, rgb(0, 123, 231) 55%, rgb(74, 171, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(42, 155, 255) 0%, rgb(9, 140, 255) 50%, rgb(0, 123, 231) 55%, rgb(74, 171, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(42, 155, 255) 0%, rgb(9, 140, 255) 50%, rgb(0, 123, 231) 55%, rgb(74, 171, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a9bff', endColorstr='#4aabff',GradientType=0 );
}

.background_color_glassyAliceBlue6,
.hover_background_color_glassyAliceBlue6:hover,
.active_background_color_glassyAliceBlue6:active:hover {
    background-color:#0075dc;
}

.background_first_color_glassyAliceBlue6,
.hover_background_first_color_glassyAliceBlue6:hover,
.active_background_first_color_glassyAliceBlue6:active:hover {
    background-color:#0069c6;
}

.background_last_color_glassyAliceBlue6,
.hover_background_last_color_glassyAliceBlue6:hover,
.active_background_color_last_glassyAliceBlue6:active:hover {
   background-color:#0075dc;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyAliceBlue6,
.hover_color_glassyAliceBlue6:hover,
.active_color_glassyAliceBlue6:active:hover {
    color: #c8c8c8;
}

.color_glassyAliceBlue6h,
.hover_color_glassyAliceBlue6h:hover,
.active_color_glassyAliceBlue6h:active:hover {
    color: #c8c8c8;
}

.color_glassyAliceBlue6a,
.hover_color_glassyAliceBlue6a:hover,
.active_color_glassyAliceBlue6a:active:hover {
    color: #ff0;
}

.color_glassyAliceBlue6s,
.hover_color_glassyAliceBlue6s:hover,
.active_color_glassyAliceBlue6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyAliceBlue6,
.hover_border_glassyAliceBlue6:hover,
.active_border_glassyAliceBlue6:active:hover {
    border-color: #00549e #004684 #004684 #00549e;
}

.border_glassyAliceBlue6h,
.hover_border_glassyAliceBlue6h:hover,
.active_border_glassyAliceBlue6h:active:hover {
    border-color: #00549e #004684 #004684 #00549e;
}

.border_glassyAliceBlue6a,
.hover_border_glassyAliceBlue6a:hover,
.active_border_glassyAliceBlue6a:active:hover {
    border-color: #00427b #00427b #00427b #00427b;
}

.border_glassyAliceBlue6s,
.hover_border_glassyAliceBlue6s:hover,
.active_border_glassyAliceBlue6s:active:hover {
    border-color: #00427b #00427b #00427b #00427b;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyAliceBlue6,
.hover_shadow_expand_glassyAliceBlue6:hover,
.active_shadow_expand_glassyAliceBlue6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 117, 220, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 117, 220, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 117, 220, .39);
}

.shadow_expand_glassyAliceBlue6h,
.hover_shadow_expand_glassyAliceBlue6h:hover,
.active_shadow_expand_glassyAliceBlue6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(9, 140, 255, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(9, 140, 255, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(9, 140, 255, .50);
}

.shadow_expand_glassyAliceBlue6a,
.hover_shadow_expand_glassyAliceBlue6a:hover,
.active_shadow_expand_glassyAliceBlue6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 127, 237, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 127, 237, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 127, 237, .63);
}

.shadow_expand_glassyAliceBlue6s,
.hover_shadow_expand_glassyAliceBlue6s:hover,
.active_shadow_expand_glassyAliceBlue6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 127, 237, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 127, 237, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 127, 237, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyAliceBlue6,
.hover_shadow_left_glassyAliceBlue6:hover,
.active_shadow_left_glassyAliceBlue6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 117, 220, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 117, 220, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 117, 220, .39);
}

.shadow_left_glassyAliceBlue6h,
.hover_shadow_left_glassyAliceBlue6h:hover,
.active_shadow_left_glassyAliceBlue6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(9, 140, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(9, 140, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(9, 140, 255, .50);
}

.shadow_left_glassyAliceBlue6a,
.hover_shadow_left_glassyAliceBlue6a:hover,
.active_shadow_left_glassyAliceBlue6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 127, 237, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 127, 237, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 127, 237, .63);
}

.shadow_left_glassyAliceBlue6s,
.hover_shadow_left_glassyAliceBlue6s:hover,
.active_shadow_left_glassyAliceBlue6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 127, 237, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 127, 237, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 127, 237, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyAliceBlue6,
.hover_shadow_right_glassyAliceBlue6:hover,
.active_shadow_right_glassyAliceBlue6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 117, 220, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 117, 220, .39);
    box-shadow: 0.5em 0em 1em rgba(0, 117, 220, .39);
}

.shadow_right_glassyAliceBlue6h,
.hover_shadow_right_glassyAliceBlue6h:hover,
.active_shadow_right_glassyAliceBlue6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(9, 140, 255, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(9, 140, 255, .50);
    box-shadow: 0.5em 0em 1em rgba(9, 140, 255, .50);
}

.shadow_right_glassyAliceBlue6a,
.hover_shadow_right_glassyAliceBlue6a:hover,
.active_shadow_right_glassyAliceBlue6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 127, 237, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 127, 237, .63);
    box-shadow: 0.5em 0em 1em rgba(0, 127, 237, .63);
}

.shadow_right_glassyAliceBlue6s,
.hover_shadow_right_glassyAliceBlue6s:hover,
.active_shadow_right_glassyAliceBlue6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 127, 237, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 127, 237, .78);
    box-shadow: 0.5em 0em 1em rgba(0, 127, 237, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyAliceBlue6,
.hover_shadow_top_glassyAliceBlue6:hover,
.active_shadow_top_glassyAliceBlue6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 117, 220, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 117, 220, .39);
    box-shadow: 0em -0.5em 1em rgba(0, 117, 220, .39);
}

.shadow_top_glassyAliceBlue6h,
.hover_shadow_top_glassyAliceBlue6h:hover,
.active_shadow_top_glassyAliceBlue6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(9, 140, 255, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(9, 140, 255, .50);
    box-shadow: 0em -0.5em 1em rgba(9, 140, 255, .50);
}

.shadow_top_glassyAliceBlue6a,
.hover_shadow_top_glassyAliceBlue6a:hover,
.active_shadow_top_glassyAliceBlue6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 127, 237, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 127, 237, .63);
    box-shadow: 0em -0.5em 1em rgba(0, 127, 237, .63);
}

.shadow_top_glassyAliceBlue6s,
.hover_shadow_top_glassyAliceBlue6s:hover,
.active_shadow_top_glassyAliceBlue6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 127, 237, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 127, 237, .78);
    box-shadow: 0em -0.5em 1em rgba(0, 127, 237, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyAliceBlue6,
.hover_shadow_bottom_glassyAliceBlue6:hover,
.active_shadow_bottom_glassyAliceBlue6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 117, 220, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 117, 220, .39);
    box-shadow: 0em 0.5em 1em rgba(0, 117, 220, .39);
}

.shadow_bottom_glassyAliceBlue6h,
.hover_shadow_bottom_glassyAliceBlue6h:hover,
.active_shadow_bottom_glassyAliceBlue6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(9, 140, 255, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(9, 140, 255, .50);
    box-shadow: 0em 0.5em 1em rgba(9, 140, 255, .50);
}

.shadow_bottom_glassyAliceBlue6a,
.hover_shadow_bottom_glassyAliceBlue6a:hover,
.active_shadow_bottom_glassyAliceBlue6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 127, 237, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 127, 237, .63);
    box-shadow: 0em 0.5em 1em rgba(0, 127, 237, .63);
}

.shadow_bottom_glassyAliceBlue6s,
.hover_shadow_bottom_glassyAliceBlue6s:hover,
.active_shadow_bottom_glassyAliceBlue6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 127, 237, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 127, 237, .78);
    box-shadow: 0em 0.5em 1em rgba(0, 127, 237, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyAliceBlue6,
.hover_shadow_top_left_glassyAliceBlue6:hover,
.active_shadow_top_left_glassyAliceBlue6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 117, 220, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 117, 220, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 117, 220, .39);
}

.shadow_top_left_glassyAliceBlue6h,
.hover_shadow_top_left_glassyAliceBlue6h:hover,
.active_shadow_top_left_glassyAliceBlue6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(9, 140, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(9, 140, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(9, 140, 255, .50);
}

.shadow_top_left_glassyAliceBlue6a,
.hover_shadow_top_left_glassyAliceBlue6a:hover,
.active_shadow_top_left_glassyAliceBlue6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 127, 237, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 127, 237, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 127, 237, .63);
}

.shadow_top_left_glassyAliceBlue6s,
.hover_shadow_top_left_glassyAliceBlue6s:hover,
.active_shadow_top_left_glassyAliceBlue6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 127, 237, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 127, 237, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 127, 237, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyAliceBlue6,
.hover_shadow_top_right_glassyAliceBlue6:hover,
.active_shadow_top_right_glassyAliceBlue6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 117, 220, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 117, 220, .39);
    box-shadow: 0.5em -0.5em 1em rgba(0, 117, 220, .39);
}

.shadow_top_right_glassyAliceBlue6h,
.hover_shadow_top_right_glassyAliceBlue6h:hover,
.active_shadow_top_right_glassyAliceBlue6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(9, 140, 255, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(9, 140, 255, .50);
    box-shadow: 0.5em -0.5em 1em rgba(9, 140, 255, .50);
}

.shadow_top_right_glassyAliceBlue6a,
.hover_shadow_top_right_glassyAliceBlue6a:hover,
.active_shadow_top_right_glassyAliceBlue6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 127, 237, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 127, 237, .63);
    box-shadow: 0.5em -0.5em 1em rgba(0, 127, 237, .63);
}

.shadow_top_right_glassyAliceBlue6s,
.hover_shadow_top_right_glassyAliceBlue6s:hover,
.active_shadow_top_right_glassyAliceBlue6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 127, 237, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 127, 237, .78);
    box-shadow: 0.5em -0.5em 1em rgba(0, 127, 237, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyAliceBlue6,
.hover_shadow_bottom_left_glassyAliceBlue6:hover,
.active_shadow_bottom_left_glassyAliceBlue6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 117, 220, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 117, 220, .39);
    box-shadow: -0.5em 0.5em 1em rgba(0, 117, 220, .39);
}

.shadow_bottom_left_glassyAliceBlue6h,
.hover_shadow_bottom_left_glassyAliceBlue6h:hover,
.active_shadow_bottom_left_glassyAliceBlue6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(9, 140, 255, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(9, 140, 255, .50);
    box-shadow: -0.5em 0.5em 1em rgba(9, 140, 255, .50);
}

.shadow_bottom_left_glassyAliceBlue6a,
.hover_shadow_bottom_left_glassyAliceBlue6a:hover,
.active_shadow_bottom_left_glassyAliceBlue6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 127, 237, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 127, 237, .63);
    box-shadow: -0.5em 0.5em 1em rgba(0, 127, 237, .63);
}

.shadow_bottom_left_glassyAliceBlue6s,
.hover_shadow_bottom_left_glassyAliceBlue6s:hover,
.active_shadow_bottom_left_glassyAliceBlue6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 127, 237, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 127, 237, .78);
    box-shadow: -0.5em 0.5em 1em rgba(0, 127, 237, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyAliceBlue6,
.hover_shadow_bottom_right_glassyAliceBlue6:hover,
.active_shadow_bottom_right_glassyAliceBlue6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 117, 220, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 117, 220, .39);
    box-shadow: 0.5em 0.5em 1em rgba(0, 117, 220, .39);
}

.shadow_bottom_right_glassyAliceBlue6h,
.hover_shadow_bottom_right_glassyAliceBlue6h:hover,
.active_shadow_bottom_right_glassyAliceBlue6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(9, 140, 255, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(9, 140, 255, .50);
    box-shadow: 0.5em 0.5em 1em rgba(9, 140, 255, .50);
}

.shadow_bottom_right_glassyAliceBlue6a,
 .hover_shadow_bottom_right_glassyAliceBlue6a:hover,
 .active_shadow_bottom_right_glassyAliceBlue6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 127, 237, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 127, 237, .63);
     box-shadow: 0.5em 0.5em 1em rgba(0, 127, 237, .63);
 }

 .shadow_bottom_right_glassyAliceBlue6s,
 .hover_shadow_bottom_right_glassyAliceBlue6s:hover,
 .active_shadow_bottom_right_glassyAliceBlue6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 127, 237, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 127, 237, .78);
     box-shadow: 0.5em 0.5em 1em rgba(0, 127, 237, .78);
 }