.background_glassyFireBrick3,
.hover_background_glassyFireBrick3:hover,
.active_background_glassyFireBrick3:active:hover {
    background: #e05e5e;
    background-image: -moz-linear-gradient(top,  rgb(219, 67, 67) 0%, rgb(214, 41, 41) 50%, rgb(187, 36, 36) 55%, rgb(224, 94, 94) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(219, 67, 67)), color-stop(50%, rgb(214, 41, 41)), color-stop(55%, rgb(187, 36, 36)), color-stop(100%, rgb(224, 94, 94)));
    background-image: -webkit-linear-gradient(top,  rgb(219, 67, 67) 0%, rgb(214, 41, 41) 50%, rgb(187, 36, 36) 55%, rgb(224, 94, 94) 100%);
    background-image: -o-linear-gradient(top,  rgb(219, 67, 67) 0%, rgb(214, 41, 41) 50%, rgb(187, 36, 36) 55%, rgb(224, 94, 94) 100%);
    background-image: -ms-linear-gradient(top, rgb(219, 67, 67) 0%, rgb(214, 41, 41) 50%, rgb(187, 36, 36) 55%, rgb(224, 94, 94) 100%);
    background-image: linear-gradient(to bottom,  rgb(219, 67, 67) 0%, rgb(214, 41, 41) 50%, rgb(187, 36, 36) 55%, rgb(224, 94, 94) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db4343', endColorstr='#e05e5e',GradientType=0 );
}

.background_glassyFireBrick3h,
.hover_background_glassyFireBrick3h:hover,
.active_background_glassyFireBrick3h:active:hover {
    background: #e05e5e;
    background-image: -moz-linear-gradient(top,  rgb(228, 116, 116) 0%, rgb(222, 83, 83) 50%, rgb(216, 51, 51) 55%, rgb(234, 148, 148) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(228, 116, 116)), color-stop(50%, rgb(222, 83, 83)), color-stop(55%, rgb(216, 51, 51)), color-stop(100%, rgb(234, 148, 148)));
    background-image: -webkit-linear-gradient(top,  rgb(228, 116, 116) 0%, rgb(222, 83, 83) 50%, rgb(216, 51, 51) 55%, rgb(234, 148, 148) 100%);
    background-image: -o-linear-gradient(top,  rgb(228, 116, 116) 0%, rgb(222, 83, 83) 50%, rgb(216, 51, 51) 55%, rgb(234, 148, 148) 100%);
    background-image: -ms-linear-gradient(top, rgb(228, 116, 116) 0%, rgb(222, 83, 83) 50%, rgb(216, 51, 51) 55%, rgb(234, 148, 148) 100%);
    background-image: linear-gradient(to bottom,  rgb(228, 116, 116) 0%, rgb(222, 83, 83) 50%, rgb(216, 51, 51) 55%, rgb(234, 148, 148) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e47474', endColorstr='#ea9494',GradientType=0 );
}

.background_glassyFireBrick3a,
.hover_background_glassyFireBrick3a:hover,
.active_background_glassyFireBrick3a:active:hover {
    background: #e05e5e;
    background-image: -moz-linear-gradient(top,  rgb(234, 148, 148) 0%, rgb(216, 51, 51) 50%, rgb(222, 83, 83) 55%, rgb(228, 116, 116) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(234, 148, 148)), color-stop(50%, rgb(216, 51, 51)), color-stop(55%, rgb(222, 83, 83)), color-stop(100%, rgb(228, 116, 116)));
    background-image: -webkit-linear-gradient(top,  rgb(234, 148, 148) 0%, rgb(216, 51, 51) 50%, rgb(222, 83, 83) 55%, rgb(228, 116, 116) 100%);
    background-image: -o-linear-gradient(top,  rgb(234, 148, 148) 0%, rgb(216, 51, 51) 50%, rgb(222, 83, 83) 55%, rgb(228, 116, 116) 100%);
    background-image: -ms-linear-gradient(top, rgb(234, 148, 148) 0%, rgb(216, 51, 51) 50%, rgb(222, 83, 83) 55%, rgb(228, 116, 116) 100%);
    background-image: linear-gradient(to bottom,  rgb(234, 148, 148) 0%, rgb(216, 51, 51) 50%, rgb(222, 83, 83) 55%, rgb(228, 116, 116) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea9494', endColorstr='#e47474',GradientType=0 );
}

.background_glassyFireBrick3s,
.hover_background_glassyFireBrick3s:hover,
.active_background_glassyFireBrick3s:active:hover {
    background: #e05e5e;
    background-image: -moz-linear-gradient(top,  rgb(242, 188, 188) 0%, rgb(234, 148, 148) 50%, rgb(227, 108, 108) 55%, rgb(250, 228, 228) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(242, 188, 188)), color-stop(50%, rgb(234, 148, 148)), color-stop(55%, rgb(227, 108, 108)), color-stop(100%, rgb(250, 228, 228)));
    background-image: -webkit-linear-gradient(top,  rgb(242, 188, 188) 0%, rgb(234, 148, 148) 50%, rgb(227, 108, 108) 55%, rgb(250, 228, 228) 100%);
    background-image: -o-linear-gradient(top,  rgb(242, 188, 188) 0%, rgb(234, 148, 148) 50%, rgb(227, 108, 108) 55%, rgb(250, 228, 228) 100%);
    background-image: -ms-linear-gradient(top, rgb(242, 188, 188) 0%, rgb(234, 148, 148) 50%, rgb(227, 108, 108) 55%, rgb(250, 228, 228) 100%);
    background-image: linear-gradient(to bottom,  rgb(242, 188, 188) 0%, rgb(234, 148, 148) 50%, rgb(227, 108, 108) 55%, rgb(250, 228, 228) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2bcbc', endColorstr='#fae4e4',GradientType=0 );
}

.background_color_glassyFireBrick3,
.hover_background_color_glassyFireBrick3:hover,
.active_background_color_glassyFireBrick3:active:hover {
    background-color:#e05e5e;
}

.background_first_color_glassyFireBrick3,
.hover_background_first_color_glassyFireBrick3:hover,
.active_background_first_color_glassyFireBrick3:active:hover {
    background-color:#db4343;
}

.background_last_color_glassyFireBrick3,
.hover_background_last_color_glassyFireBrick3:hover,
.active_background_color_last_glassyFireBrick3:active:hover {
   background-color:#e05e5e;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyFireBrick3,
.hover_color_glassyFireBrick3:hover,
.active_color_glassyFireBrick3:active:hover {
    color: #c8c8c8;
}

.color_glassyFireBrick3h,
.hover_color_glassyFireBrick3h:hover,
.active_color_glassyFireBrick3h:active:hover {
    color: #c8c8c8;
}

.color_glassyFireBrick3a,
.hover_color_glassyFireBrick3a:hover,
.active_color_glassyFireBrick3a:active:hover {
    color: #ff0;
}

.color_glassyFireBrick3s,
.hover_color_glassyFireBrick3s:hover,
.active_color_glassyFireBrick3s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyFireBrick3,
.hover_border_glassyFireBrick3:hover,
.active_border_glassyFireBrick3:active:hover {
    border-color: #c02525 #a01f1f #a01f1f #c02525;
}

.border_glassyFireBrick3h,
.hover_border_glassyFireBrick3h:hover,
.active_border_glassyFireBrick3h:active:hover {
    border-color: #c02525 #a01f1f #a01f1f #c02525;
}

.border_glassyFireBrick3a,
.hover_border_glassyFireBrick3a:hover,
.active_border_glassyFireBrick3a:active:hover {
    border-color: #961d1d #961d1d #961d1d #961d1d;
}

.border_glassyFireBrick3s,
.hover_border_glassyFireBrick3s:hover,
.active_border_glassyFireBrick3s:active:hover {
    border-color: #961d1d #961d1d #961d1d #961d1d;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyFireBrick3,
.hover_shadow_expand_glassyFireBrick3:hover,
.active_shadow_expand_glassyFireBrick3:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(224, 94, 94, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(224, 94, 94, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(224, 94, 94, .39);
}

.shadow_expand_glassyFireBrick3h,
.hover_shadow_expand_glassyFireBrick3h:hover,
.active_shadow_expand_glassyFireBrick3h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(234, 148, 148, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(234, 148, 148, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(234, 148, 148, .50);
}

.shadow_expand_glassyFireBrick3a,
.hover_shadow_expand_glassyFireBrick3a:hover,
.active_shadow_expand_glassyFireBrick3a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(228, 116, 116, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(228, 116, 116, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(228, 116, 116, .63);
}

.shadow_expand_glassyFireBrick3s,
.hover_shadow_expand_glassyFireBrick3s:hover,
.active_shadow_expand_glassyFireBrick3s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(228, 116, 116, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(228, 116, 116, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(228, 116, 116, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyFireBrick3,
.hover_shadow_left_glassyFireBrick3:hover,
.active_shadow_left_glassyFireBrick3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(224, 94, 94, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(224, 94, 94, .39);
    box-shadow: -0.5em -0.5em 1em rgba(224, 94, 94, .39);
}

.shadow_left_glassyFireBrick3h,
.hover_shadow_left_glassyFireBrick3h:hover,
.active_shadow_left_glassyFireBrick3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(234, 148, 148, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(234, 148, 148, .50);
    box-shadow: -0.5em -0.5em 1em rgba(234, 148, 148, .50);
}

.shadow_left_glassyFireBrick3a,
.hover_shadow_left_glassyFireBrick3a:hover,
.active_shadow_left_glassyFireBrick3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(228, 116, 116, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(228, 116, 116, .63);
    box-shadow: -0.5em -0.5em 1em rgba(228, 116, 116, .63);
}

.shadow_left_glassyFireBrick3s,
.hover_shadow_left_glassyFireBrick3s:hover,
.active_shadow_left_glassyFireBrick3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(228, 116, 116, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(228, 116, 116, .78);
    box-shadow: -0.5em -0.5em 1em rgba(228, 116, 116, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyFireBrick3,
.hover_shadow_right_glassyFireBrick3:hover,
.active_shadow_right_glassyFireBrick3:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(224, 94, 94, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(224, 94, 94, .39);
    box-shadow: 0.5em 0em 1em rgba(224, 94, 94, .39);
}

.shadow_right_glassyFireBrick3h,
.hover_shadow_right_glassyFireBrick3h:hover,
.active_shadow_right_glassyFireBrick3h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(234, 148, 148, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(234, 148, 148, .50);
    box-shadow: 0.5em 0em 1em rgba(234, 148, 148, .50);
}

.shadow_right_glassyFireBrick3a,
.hover_shadow_right_glassyFireBrick3a:hover,
.active_shadow_right_glassyFireBrick3a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(228, 116, 116, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(228, 116, 116, .63);
    box-shadow: 0.5em 0em 1em rgba(228, 116, 116, .63);
}

.shadow_right_glassyFireBrick3s,
.hover_shadow_right_glassyFireBrick3s:hover,
.active_shadow_right_glassyFireBrick3s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(228, 116, 116, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(228, 116, 116, .78);
    box-shadow: 0.5em 0em 1em rgba(228, 116, 116, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyFireBrick3,
.hover_shadow_top_glassyFireBrick3:hover,
.active_shadow_top_glassyFireBrick3:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(224, 94, 94, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(224, 94, 94, .39);
    box-shadow: 0em -0.5em 1em rgba(224, 94, 94, .39);
}

.shadow_top_glassyFireBrick3h,
.hover_shadow_top_glassyFireBrick3h:hover,
.active_shadow_top_glassyFireBrick3h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(234, 148, 148, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(234, 148, 148, .50);
    box-shadow: 0em -0.5em 1em rgba(234, 148, 148, .50);
}

.shadow_top_glassyFireBrick3a,
.hover_shadow_top_glassyFireBrick3a:hover,
.active_shadow_top_glassyFireBrick3a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(228, 116, 116, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(228, 116, 116, .63);
    box-shadow: 0em -0.5em 1em rgba(228, 116, 116, .63);
}

.shadow_top_glassyFireBrick3s,
.hover_shadow_top_glassyFireBrick3s:hover,
.active_shadow_top_glassyFireBrick3s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(228, 116, 116, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(228, 116, 116, .78);
    box-shadow: 0em -0.5em 1em rgba(228, 116, 116, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyFireBrick3,
.hover_shadow_bottom_glassyFireBrick3:hover,
.active_shadow_bottom_glassyFireBrick3:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(224, 94, 94, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(224, 94, 94, .39);
    box-shadow: 0em 0.5em 1em rgba(224, 94, 94, .39);
}

.shadow_bottom_glassyFireBrick3h,
.hover_shadow_bottom_glassyFireBrick3h:hover,
.active_shadow_bottom_glassyFireBrick3h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(234, 148, 148, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(234, 148, 148, .50);
    box-shadow: 0em 0.5em 1em rgba(234, 148, 148, .50);
}

.shadow_bottom_glassyFireBrick3a,
.hover_shadow_bottom_glassyFireBrick3a:hover,
.active_shadow_bottom_glassyFireBrick3a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(228, 116, 116, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(228, 116, 116, .63);
    box-shadow: 0em 0.5em 1em rgba(228, 116, 116, .63);
}

.shadow_bottom_glassyFireBrick3s,
.hover_shadow_bottom_glassyFireBrick3s:hover,
.active_shadow_bottom_glassyFireBrick3s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(228, 116, 116, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(228, 116, 116, .78);
    box-shadow: 0em 0.5em 1em rgba(228, 116, 116, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyFireBrick3,
.hover_shadow_top_left_glassyFireBrick3:hover,
.active_shadow_top_left_glassyFireBrick3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(224, 94, 94, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(224, 94, 94, .39);
    box-shadow: -0.5em -0.5em 1em rgba(224, 94, 94, .39);
}

.shadow_top_left_glassyFireBrick3h,
.hover_shadow_top_left_glassyFireBrick3h:hover,
.active_shadow_top_left_glassyFireBrick3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(234, 148, 148, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(234, 148, 148, .50);
    box-shadow: -0.5em -0.5em 1em rgba(234, 148, 148, .50);
}

.shadow_top_left_glassyFireBrick3a,
.hover_shadow_top_left_glassyFireBrick3a:hover,
.active_shadow_top_left_glassyFireBrick3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(228, 116, 116, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(228, 116, 116, .63);
    box-shadow: -0.5em -0.5em 1em rgba(228, 116, 116, .63);
}

.shadow_top_left_glassyFireBrick3s,
.hover_shadow_top_left_glassyFireBrick3s:hover,
.active_shadow_top_left_glassyFireBrick3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(228, 116, 116, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(228, 116, 116, .78);
    box-shadow: -0.5em -0.5em 1em rgba(228, 116, 116, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyFireBrick3,
.hover_shadow_top_right_glassyFireBrick3:hover,
.active_shadow_top_right_glassyFireBrick3:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(224, 94, 94, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(224, 94, 94, .39);
    box-shadow: 0.5em -0.5em 1em rgba(224, 94, 94, .39);
}

.shadow_top_right_glassyFireBrick3h,
.hover_shadow_top_right_glassyFireBrick3h:hover,
.active_shadow_top_right_glassyFireBrick3h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(234, 148, 148, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(234, 148, 148, .50);
    box-shadow: 0.5em -0.5em 1em rgba(234, 148, 148, .50);
}

.shadow_top_right_glassyFireBrick3a,
.hover_shadow_top_right_glassyFireBrick3a:hover,
.active_shadow_top_right_glassyFireBrick3a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(228, 116, 116, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(228, 116, 116, .63);
    box-shadow: 0.5em -0.5em 1em rgba(228, 116, 116, .63);
}

.shadow_top_right_glassyFireBrick3s,
.hover_shadow_top_right_glassyFireBrick3s:hover,
.active_shadow_top_right_glassyFireBrick3s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(228, 116, 116, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(228, 116, 116, .78);
    box-shadow: 0.5em -0.5em 1em rgba(228, 116, 116, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyFireBrick3,
.hover_shadow_bottom_left_glassyFireBrick3:hover,
.active_shadow_bottom_left_glassyFireBrick3:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(224, 94, 94, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(224, 94, 94, .39);
    box-shadow: -0.5em 0.5em 1em rgba(224, 94, 94, .39);
}

.shadow_bottom_left_glassyFireBrick3h,
.hover_shadow_bottom_left_glassyFireBrick3h:hover,
.active_shadow_bottom_left_glassyFireBrick3h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(234, 148, 148, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(234, 148, 148, .50);
    box-shadow: -0.5em 0.5em 1em rgba(234, 148, 148, .50);
}

.shadow_bottom_left_glassyFireBrick3a,
.hover_shadow_bottom_left_glassyFireBrick3a:hover,
.active_shadow_bottom_left_glassyFireBrick3a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(228, 116, 116, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(228, 116, 116, .63);
    box-shadow: -0.5em 0.5em 1em rgba(228, 116, 116, .63);
}

.shadow_bottom_left_glassyFireBrick3s,
.hover_shadow_bottom_left_glassyFireBrick3s:hover,
.active_shadow_bottom_left_glassyFireBrick3s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(228, 116, 116, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(228, 116, 116, .78);
    box-shadow: -0.5em 0.5em 1em rgba(228, 116, 116, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyFireBrick3,
.hover_shadow_bottom_right_glassyFireBrick3:hover,
.active_shadow_bottom_right_glassyFireBrick3:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(224, 94, 94, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(224, 94, 94, .39);
    box-shadow: 0.5em 0.5em 1em rgba(224, 94, 94, .39);
}

.shadow_bottom_right_glassyFireBrick3h,
.hover_shadow_bottom_right_glassyFireBrick3h:hover,
.active_shadow_bottom_right_glassyFireBrick3h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(234, 148, 148, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(234, 148, 148, .50);
    box-shadow: 0.5em 0.5em 1em rgba(234, 148, 148, .50);
}

.shadow_bottom_right_glassyFireBrick3a,
 .hover_shadow_bottom_right_glassyFireBrick3a:hover,
 .active_shadow_bottom_right_glassyFireBrick3a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(228, 116, 116, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(228, 116, 116, .63);
     box-shadow: 0.5em 0.5em 1em rgba(228, 116, 116, .63);
 }

 .shadow_bottom_right_glassyFireBrick3s,
 .hover_shadow_bottom_right_glassyFireBrick3s:hover,
 .active_shadow_bottom_right_glassyFireBrick3s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(228, 116, 116, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(228, 116, 116, .78);
     box-shadow: 0.5em 0.5em 1em rgba(228, 116, 116, .78);
 }