.background_glassyFireBrick5,
.hover_background_glassyFireBrick5:hover,
.active_background_glassyFireBrick5:active:hover {
    background: #c12525;
    background-image: -moz-linear-gradient(top,  rgb(174, 33, 33) 0%, rgb(155, 30, 30) 50%, rgb(135, 26, 26) 55%, rgb(193, 37, 37) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(174, 33, 33)), color-stop(50%, rgb(155, 30, 30)), color-stop(55%, rgb(135, 26, 26)), color-stop(100%, rgb(193, 37, 37)));
    background-image: -webkit-linear-gradient(top,  rgb(174, 33, 33) 0%, rgb(155, 30, 30) 50%, rgb(135, 26, 26) 55%, rgb(193, 37, 37) 100%);
    background-image: -o-linear-gradient(top,  rgb(174, 33, 33) 0%, rgb(155, 30, 30) 50%, rgb(135, 26, 26) 55%, rgb(193, 37, 37) 100%);
    background-image: -ms-linear-gradient(top, rgb(174, 33, 33) 0%, rgb(155, 30, 30) 50%, rgb(135, 26, 26) 55%, rgb(193, 37, 37) 100%);
    background-image: linear-gradient(to bottom,  rgb(174, 33, 33) 0%, rgb(155, 30, 30) 50%, rgb(135, 26, 26) 55%, rgb(193, 37, 37) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae2121', endColorstr='#c12525',GradientType=0 );
}

.background_glassyFireBrick5h,
.hover_background_glassyFireBrick5h:hover,
.active_background_glassyFireBrick5h:active:hover {
    background: #c12525;
    background-image: -moz-linear-gradient(top,  rgb(209, 40, 40) 0%, rgb(185, 35, 35) 50%, rgb(162, 31, 31) 55%, rgb(217, 59, 59) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(209, 40, 40)), color-stop(50%, rgb(185, 35, 35)), color-stop(55%, rgb(162, 31, 31)), color-stop(100%, rgb(217, 59, 59)));
    background-image: -webkit-linear-gradient(top,  rgb(209, 40, 40) 0%, rgb(185, 35, 35) 50%, rgb(162, 31, 31) 55%, rgb(217, 59, 59) 100%);
    background-image: -o-linear-gradient(top,  rgb(209, 40, 40) 0%, rgb(185, 35, 35) 50%, rgb(162, 31, 31) 55%, rgb(217, 59, 59) 100%);
    background-image: -ms-linear-gradient(top, rgb(209, 40, 40) 0%, rgb(185, 35, 35) 50%, rgb(162, 31, 31) 55%, rgb(217, 59, 59) 100%);
    background-image: linear-gradient(to bottom,  rgb(209, 40, 40) 0%, rgb(185, 35, 35) 50%, rgb(162, 31, 31) 55%, rgb(217, 59, 59) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d12828', endColorstr='#d93b3b',GradientType=0 );
}

.background_glassyFireBrick5a,
.hover_background_glassyFireBrick5a:hover,
.active_background_glassyFireBrick5a:active:hover {
    background: #c12525;
    background-image: -moz-linear-gradient(top,  rgb(217, 59, 59) 0%, rgb(162, 31, 31) 50%, rgb(185, 35, 35) 55%, rgb(209, 40, 40) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(217, 59, 59)), color-stop(50%, rgb(162, 31, 31)), color-stop(55%, rgb(185, 35, 35)), color-stop(100%, rgb(209, 40, 40)));
    background-image: -webkit-linear-gradient(top,  rgb(217, 59, 59) 0%, rgb(162, 31, 31) 50%, rgb(185, 35, 35) 55%, rgb(209, 40, 40) 100%);
    background-image: -o-linear-gradient(top,  rgb(217, 59, 59) 0%, rgb(162, 31, 31) 50%, rgb(185, 35, 35) 55%, rgb(209, 40, 40) 100%);
    background-image: -ms-linear-gradient(top, rgb(217, 59, 59) 0%, rgb(162, 31, 31) 50%, rgb(185, 35, 35) 55%, rgb(209, 40, 40) 100%);
    background-image: linear-gradient(to bottom,  rgb(217, 59, 59) 0%, rgb(162, 31, 31) 50%, rgb(185, 35, 35) 55%, rgb(209, 40, 40) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d93b3b', endColorstr='#d12828',GradientType=0 );
}

.background_glassyFireBrick5s,
.hover_background_glassyFireBrick5s:hover,
.active_background_glassyFireBrick5s:active:hover {
    background: #c12525;
    background-image: -moz-linear-gradient(top,  rgb(223, 88, 88) 0%, rgb(217, 59, 59) 50%, rgb(203, 39, 39) 55%, rgb(229, 117, 117) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(223, 88, 88)), color-stop(50%, rgb(217, 59, 59)), color-stop(55%, rgb(203, 39, 39)), color-stop(100%, rgb(229, 117, 117)));
    background-image: -webkit-linear-gradient(top,  rgb(223, 88, 88) 0%, rgb(217, 59, 59) 50%, rgb(203, 39, 39) 55%, rgb(229, 117, 117) 100%);
    background-image: -o-linear-gradient(top,  rgb(223, 88, 88) 0%, rgb(217, 59, 59) 50%, rgb(203, 39, 39) 55%, rgb(229, 117, 117) 100%);
    background-image: -ms-linear-gradient(top, rgb(223, 88, 88) 0%, rgb(217, 59, 59) 50%, rgb(203, 39, 39) 55%, rgb(229, 117, 117) 100%);
    background-image: linear-gradient(to bottom,  rgb(223, 88, 88) 0%, rgb(217, 59, 59) 50%, rgb(203, 39, 39) 55%, rgb(229, 117, 117) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df5858', endColorstr='#e57575',GradientType=0 );
}

.background_color_glassyFireBrick5,
.hover_background_color_glassyFireBrick5:hover,
.active_background_color_glassyFireBrick5:active:hover {
    background-color:#c12525;
}

.background_first_color_glassyFireBrick5,
.hover_background_first_color_glassyFireBrick5:hover,
.active_background_first_color_glassyFireBrick5:active:hover {
    background-color:#ae2121;
}

.background_last_color_glassyFireBrick5,
.hover_background_last_color_glassyFireBrick5:hover,
.active_background_color_last_glassyFireBrick5:active:hover {
   background-color:#c12525;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyFireBrick5,
.hover_color_glassyFireBrick5:hover,
.active_color_glassyFireBrick5:active:hover {
    color: #c8c8c8;
}

.color_glassyFireBrick5h,
.hover_color_glassyFireBrick5h:hover,
.active_color_glassyFireBrick5h:active:hover {
    color: #c8c8c8;
}

.color_glassyFireBrick5a,
.hover_color_glassyFireBrick5a:hover,
.active_color_glassyFireBrick5a:active:hover {
    color: #ff0;
}

.color_glassyFireBrick5s,
.hover_color_glassyFireBrick5s:hover,
.active_color_glassyFireBrick5s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyFireBrick5,
.hover_border_glassyFireBrick5:hover,
.active_border_glassyFireBrick5:active:hover {
    border-color: #8b1b1b #741616 #741616 #8b1b1b;
}

.border_glassyFireBrick5h,
.hover_border_glassyFireBrick5h:hover,
.active_border_glassyFireBrick5h:active:hover {
    border-color: #8b1b1b #741616 #741616 #8b1b1b;
}

.border_glassyFireBrick5a,
.hover_border_glassyFireBrick5a:hover,
.active_border_glassyFireBrick5a:active:hover {
    border-color: #6c1515 #6c1515 #6c1515 #6c1515;
}

.border_glassyFireBrick5s,
.hover_border_glassyFireBrick5s:hover,
.active_border_glassyFireBrick5s:active:hover {
    border-color: #6c1515 #6c1515 #6c1515 #6c1515;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyFireBrick5,
.hover_shadow_expand_glassyFireBrick5:hover,
.active_shadow_expand_glassyFireBrick5:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(193, 37, 37, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(193, 37, 37, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(193, 37, 37, .39);
}

.shadow_expand_glassyFireBrick5h,
.hover_shadow_expand_glassyFireBrick5h:hover,
.active_shadow_expand_glassyFireBrick5h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(217, 59, 59, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(217, 59, 59, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(217, 59, 59, .50);
}

.shadow_expand_glassyFireBrick5a,
.hover_shadow_expand_glassyFireBrick5a:hover,
.active_shadow_expand_glassyFireBrick5a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(209, 40, 40, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(209, 40, 40, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(209, 40, 40, .63);
}

.shadow_expand_glassyFireBrick5s,
.hover_shadow_expand_glassyFireBrick5s:hover,
.active_shadow_expand_glassyFireBrick5s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(209, 40, 40, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(209, 40, 40, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(209, 40, 40, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyFireBrick5,
.hover_shadow_left_glassyFireBrick5:hover,
.active_shadow_left_glassyFireBrick5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(193, 37, 37, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(193, 37, 37, .39);
    box-shadow: -0.5em -0.5em 1em rgba(193, 37, 37, .39);
}

.shadow_left_glassyFireBrick5h,
.hover_shadow_left_glassyFireBrick5h:hover,
.active_shadow_left_glassyFireBrick5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(217, 59, 59, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(217, 59, 59, .50);
    box-shadow: -0.5em -0.5em 1em rgba(217, 59, 59, .50);
}

.shadow_left_glassyFireBrick5a,
.hover_shadow_left_glassyFireBrick5a:hover,
.active_shadow_left_glassyFireBrick5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(209, 40, 40, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(209, 40, 40, .63);
    box-shadow: -0.5em -0.5em 1em rgba(209, 40, 40, .63);
}

.shadow_left_glassyFireBrick5s,
.hover_shadow_left_glassyFireBrick5s:hover,
.active_shadow_left_glassyFireBrick5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(209, 40, 40, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(209, 40, 40, .78);
    box-shadow: -0.5em -0.5em 1em rgba(209, 40, 40, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyFireBrick5,
.hover_shadow_right_glassyFireBrick5:hover,
.active_shadow_right_glassyFireBrick5:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(193, 37, 37, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(193, 37, 37, .39);
    box-shadow: 0.5em 0em 1em rgba(193, 37, 37, .39);
}

.shadow_right_glassyFireBrick5h,
.hover_shadow_right_glassyFireBrick5h:hover,
.active_shadow_right_glassyFireBrick5h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(217, 59, 59, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(217, 59, 59, .50);
    box-shadow: 0.5em 0em 1em rgba(217, 59, 59, .50);
}

.shadow_right_glassyFireBrick5a,
.hover_shadow_right_glassyFireBrick5a:hover,
.active_shadow_right_glassyFireBrick5a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(209, 40, 40, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(209, 40, 40, .63);
    box-shadow: 0.5em 0em 1em rgba(209, 40, 40, .63);
}

.shadow_right_glassyFireBrick5s,
.hover_shadow_right_glassyFireBrick5s:hover,
.active_shadow_right_glassyFireBrick5s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(209, 40, 40, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(209, 40, 40, .78);
    box-shadow: 0.5em 0em 1em rgba(209, 40, 40, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyFireBrick5,
.hover_shadow_top_glassyFireBrick5:hover,
.active_shadow_top_glassyFireBrick5:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(193, 37, 37, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(193, 37, 37, .39);
    box-shadow: 0em -0.5em 1em rgba(193, 37, 37, .39);
}

.shadow_top_glassyFireBrick5h,
.hover_shadow_top_glassyFireBrick5h:hover,
.active_shadow_top_glassyFireBrick5h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(217, 59, 59, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(217, 59, 59, .50);
    box-shadow: 0em -0.5em 1em rgba(217, 59, 59, .50);
}

.shadow_top_glassyFireBrick5a,
.hover_shadow_top_glassyFireBrick5a:hover,
.active_shadow_top_glassyFireBrick5a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(209, 40, 40, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(209, 40, 40, .63);
    box-shadow: 0em -0.5em 1em rgba(209, 40, 40, .63);
}

.shadow_top_glassyFireBrick5s,
.hover_shadow_top_glassyFireBrick5s:hover,
.active_shadow_top_glassyFireBrick5s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(209, 40, 40, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(209, 40, 40, .78);
    box-shadow: 0em -0.5em 1em rgba(209, 40, 40, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyFireBrick5,
.hover_shadow_bottom_glassyFireBrick5:hover,
.active_shadow_bottom_glassyFireBrick5:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(193, 37, 37, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(193, 37, 37, .39);
    box-shadow: 0em 0.5em 1em rgba(193, 37, 37, .39);
}

.shadow_bottom_glassyFireBrick5h,
.hover_shadow_bottom_glassyFireBrick5h:hover,
.active_shadow_bottom_glassyFireBrick5h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(217, 59, 59, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(217, 59, 59, .50);
    box-shadow: 0em 0.5em 1em rgba(217, 59, 59, .50);
}

.shadow_bottom_glassyFireBrick5a,
.hover_shadow_bottom_glassyFireBrick5a:hover,
.active_shadow_bottom_glassyFireBrick5a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(209, 40, 40, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(209, 40, 40, .63);
    box-shadow: 0em 0.5em 1em rgba(209, 40, 40, .63);
}

.shadow_bottom_glassyFireBrick5s,
.hover_shadow_bottom_glassyFireBrick5s:hover,
.active_shadow_bottom_glassyFireBrick5s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(209, 40, 40, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(209, 40, 40, .78);
    box-shadow: 0em 0.5em 1em rgba(209, 40, 40, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyFireBrick5,
.hover_shadow_top_left_glassyFireBrick5:hover,
.active_shadow_top_left_glassyFireBrick5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(193, 37, 37, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(193, 37, 37, .39);
    box-shadow: -0.5em -0.5em 1em rgba(193, 37, 37, .39);
}

.shadow_top_left_glassyFireBrick5h,
.hover_shadow_top_left_glassyFireBrick5h:hover,
.active_shadow_top_left_glassyFireBrick5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(217, 59, 59, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(217, 59, 59, .50);
    box-shadow: -0.5em -0.5em 1em rgba(217, 59, 59, .50);
}

.shadow_top_left_glassyFireBrick5a,
.hover_shadow_top_left_glassyFireBrick5a:hover,
.active_shadow_top_left_glassyFireBrick5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(209, 40, 40, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(209, 40, 40, .63);
    box-shadow: -0.5em -0.5em 1em rgba(209, 40, 40, .63);
}

.shadow_top_left_glassyFireBrick5s,
.hover_shadow_top_left_glassyFireBrick5s:hover,
.active_shadow_top_left_glassyFireBrick5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(209, 40, 40, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(209, 40, 40, .78);
    box-shadow: -0.5em -0.5em 1em rgba(209, 40, 40, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyFireBrick5,
.hover_shadow_top_right_glassyFireBrick5:hover,
.active_shadow_top_right_glassyFireBrick5:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(193, 37, 37, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(193, 37, 37, .39);
    box-shadow: 0.5em -0.5em 1em rgba(193, 37, 37, .39);
}

.shadow_top_right_glassyFireBrick5h,
.hover_shadow_top_right_glassyFireBrick5h:hover,
.active_shadow_top_right_glassyFireBrick5h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(217, 59, 59, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(217, 59, 59, .50);
    box-shadow: 0.5em -0.5em 1em rgba(217, 59, 59, .50);
}

.shadow_top_right_glassyFireBrick5a,
.hover_shadow_top_right_glassyFireBrick5a:hover,
.active_shadow_top_right_glassyFireBrick5a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(209, 40, 40, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(209, 40, 40, .63);
    box-shadow: 0.5em -0.5em 1em rgba(209, 40, 40, .63);
}

.shadow_top_right_glassyFireBrick5s,
.hover_shadow_top_right_glassyFireBrick5s:hover,
.active_shadow_top_right_glassyFireBrick5s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(209, 40, 40, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(209, 40, 40, .78);
    box-shadow: 0.5em -0.5em 1em rgba(209, 40, 40, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyFireBrick5,
.hover_shadow_bottom_left_glassyFireBrick5:hover,
.active_shadow_bottom_left_glassyFireBrick5:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(193, 37, 37, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(193, 37, 37, .39);
    box-shadow: -0.5em 0.5em 1em rgba(193, 37, 37, .39);
}

.shadow_bottom_left_glassyFireBrick5h,
.hover_shadow_bottom_left_glassyFireBrick5h:hover,
.active_shadow_bottom_left_glassyFireBrick5h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(217, 59, 59, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(217, 59, 59, .50);
    box-shadow: -0.5em 0.5em 1em rgba(217, 59, 59, .50);
}

.shadow_bottom_left_glassyFireBrick5a,
.hover_shadow_bottom_left_glassyFireBrick5a:hover,
.active_shadow_bottom_left_glassyFireBrick5a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(209, 40, 40, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(209, 40, 40, .63);
    box-shadow: -0.5em 0.5em 1em rgba(209, 40, 40, .63);
}

.shadow_bottom_left_glassyFireBrick5s,
.hover_shadow_bottom_left_glassyFireBrick5s:hover,
.active_shadow_bottom_left_glassyFireBrick5s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(209, 40, 40, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(209, 40, 40, .78);
    box-shadow: -0.5em 0.5em 1em rgba(209, 40, 40, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyFireBrick5,
.hover_shadow_bottom_right_glassyFireBrick5:hover,
.active_shadow_bottom_right_glassyFireBrick5:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(193, 37, 37, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(193, 37, 37, .39);
    box-shadow: 0.5em 0.5em 1em rgba(193, 37, 37, .39);
}

.shadow_bottom_right_glassyFireBrick5h,
.hover_shadow_bottom_right_glassyFireBrick5h:hover,
.active_shadow_bottom_right_glassyFireBrick5h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(217, 59, 59, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(217, 59, 59, .50);
    box-shadow: 0.5em 0.5em 1em rgba(217, 59, 59, .50);
}

.shadow_bottom_right_glassyFireBrick5a,
 .hover_shadow_bottom_right_glassyFireBrick5a:hover,
 .active_shadow_bottom_right_glassyFireBrick5a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(209, 40, 40, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(209, 40, 40, .63);
     box-shadow: 0.5em 0.5em 1em rgba(209, 40, 40, .63);
 }

 .shadow_bottom_right_glassyFireBrick5s,
 .hover_shadow_bottom_right_glassyFireBrick5s:hover,
 .active_shadow_bottom_right_glassyFireBrick5s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(209, 40, 40, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(209, 40, 40, .78);
     box-shadow: 0.5em 0.5em 1em rgba(209, 40, 40, .78);
 }