.background_glassyBrown6,
.hover_background_glassyBrown6:hover,
.active_background_glassyBrown6:active:hover {
    background: #982727;
    background-image: -moz-linear-gradient(top,  rgb(137, 35, 35) 0%, rgb(122, 31, 31) 50%, rgb(107, 27, 27) 55%, rgb(152, 39, 39) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(137, 35, 35)), color-stop(50%, rgb(122, 31, 31)), color-stop(55%, rgb(107, 27, 27)), color-stop(100%, rgb(152, 39, 39)));
    background-image: -webkit-linear-gradient(top,  rgb(137, 35, 35) 0%, rgb(122, 31, 31) 50%, rgb(107, 27, 27) 55%, rgb(152, 39, 39) 100%);
    background-image: -o-linear-gradient(top,  rgb(137, 35, 35) 0%, rgb(122, 31, 31) 50%, rgb(107, 27, 27) 55%, rgb(152, 39, 39) 100%);
    background-image: -ms-linear-gradient(top, rgb(137, 35, 35) 0%, rgb(122, 31, 31) 50%, rgb(107, 27, 27) 55%, rgb(152, 39, 39) 100%);
    background-image: linear-gradient(to bottom,  rgb(137, 35, 35) 0%, rgb(122, 31, 31) 50%, rgb(107, 27, 27) 55%, rgb(152, 39, 39) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#892323', endColorstr='#982727',GradientType=0 );
}

.background_glassyBrown6h,
.hover_background_glassyBrown6h:hover,
.active_background_glassyBrown6h:active:hover {
    background: #982727;
    background-image: -moz-linear-gradient(top,  rgb(164, 42, 42) 0%, rgb(146, 37, 37) 50%, rgb(128, 33, 33) 55%, rgb(183, 46, 46) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(164, 42, 42)), color-stop(50%, rgb(146, 37, 37)), color-stop(55%, rgb(128, 33, 33)), color-stop(100%, rgb(183, 46, 46)));
    background-image: -webkit-linear-gradient(top,  rgb(164, 42, 42) 0%, rgb(146, 37, 37) 50%, rgb(128, 33, 33) 55%, rgb(183, 46, 46) 100%);
    background-image: -o-linear-gradient(top,  rgb(164, 42, 42) 0%, rgb(146, 37, 37) 50%, rgb(128, 33, 33) 55%, rgb(183, 46, 46) 100%);
    background-image: -ms-linear-gradient(top, rgb(164, 42, 42) 0%, rgb(146, 37, 37) 50%, rgb(128, 33, 33) 55%, rgb(183, 46, 46) 100%);
    background-image: linear-gradient(to bottom,  rgb(164, 42, 42) 0%, rgb(146, 37, 37) 50%, rgb(128, 33, 33) 55%, rgb(183, 46, 46) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a42a2a', endColorstr='#b72e2e',GradientType=0 );
}

.background_glassyBrown6a,
.hover_background_glassyBrown6a:hover,
.active_background_glassyBrown6a:active:hover {
    background: #982727;
    background-image: -moz-linear-gradient(top,  rgb(183, 46, 46) 0%, rgb(128, 33, 33) 50%, rgb(146, 37, 37) 55%, rgb(164, 42, 42) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(183, 46, 46)), color-stop(50%, rgb(128, 33, 33)), color-stop(55%, rgb(146, 37, 37)), color-stop(100%, rgb(164, 42, 42)));
    background-image: -webkit-linear-gradient(top,  rgb(183, 46, 46) 0%, rgb(128, 33, 33) 50%, rgb(146, 37, 37) 55%, rgb(164, 42, 42) 100%);
    background-image: -o-linear-gradient(top,  rgb(183, 46, 46) 0%, rgb(128, 33, 33) 50%, rgb(146, 37, 37) 55%, rgb(164, 42, 42) 100%);
    background-image: -ms-linear-gradient(top, rgb(183, 46, 46) 0%, rgb(128, 33, 33) 50%, rgb(146, 37, 37) 55%, rgb(164, 42, 42) 100%);
    background-image: linear-gradient(to bottom,  rgb(183, 46, 46) 0%, rgb(128, 33, 33) 50%, rgb(146, 37, 37) 55%, rgb(164, 42, 42) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b72e2e', endColorstr='#a42a2a',GradientType=0 );
}

.background_glassyBrown6s,
.hover_background_glassyBrown6s:hover,
.active_background_glassyBrown6s:active:hover {
    background: #982727;
    background-image: -moz-linear-gradient(top,  rgb(204, 54, 54) 0%, rgb(183, 46, 46) 50%, rgb(160, 41, 41) 55%, rgb(210, 77, 77) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(204, 54, 54)), color-stop(50%, rgb(183, 46, 46)), color-stop(55%, rgb(160, 41, 41)), color-stop(100%, rgb(210, 77, 77)));
    background-image: -webkit-linear-gradient(top,  rgb(204, 54, 54) 0%, rgb(183, 46, 46) 50%, rgb(160, 41, 41) 55%, rgb(210, 77, 77) 100%);
    background-image: -o-linear-gradient(top,  rgb(204, 54, 54) 0%, rgb(183, 46, 46) 50%, rgb(160, 41, 41) 55%, rgb(210, 77, 77) 100%);
    background-image: -ms-linear-gradient(top, rgb(204, 54, 54) 0%, rgb(183, 46, 46) 50%, rgb(160, 41, 41) 55%, rgb(210, 77, 77) 100%);
    background-image: linear-gradient(to bottom,  rgb(204, 54, 54) 0%, rgb(183, 46, 46) 50%, rgb(160, 41, 41) 55%, rgb(210, 77, 77) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3636', endColorstr='#d24d4d',GradientType=0 );
}

.background_color_glassyBrown6,
.hover_background_color_glassyBrown6:hover,
.active_background_color_glassyBrown6:active:hover {
    background-color:#982727;
}

.background_first_color_glassyBrown6,
.hover_background_first_color_glassyBrown6:hover,
.active_background_first_color_glassyBrown6:active:hover {
    background-color:#892323;
}

.background_last_color_glassyBrown6,
.hover_background_last_color_glassyBrown6:hover,
.active_background_color_last_glassyBrown6:active:hover {
   background-color:#982727;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyBrown6,
.hover_color_glassyBrown6:hover,
.active_color_glassyBrown6:active:hover {
    color: #c8c8c8;
}

.color_glassyBrown6h,
.hover_color_glassyBrown6h:hover,
.active_color_glassyBrown6h:active:hover {
    color: #c8c8c8;
}

.color_glassyBrown6a,
.hover_color_glassyBrown6a:hover,
.active_color_glassyBrown6a:active:hover {
    color: #ff0;
}

.color_glassyBrown6s,
.hover_color_glassyBrown6s:hover,
.active_color_glassyBrown6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyBrown6,
.hover_border_glassyBrown6:hover,
.active_border_glassyBrown6:active:hover {
    border-color: #6e1c1c #5b1717 #5b1717 #6e1c1c;
}

.border_glassyBrown6h,
.hover_border_glassyBrown6h:hover,
.active_border_glassyBrown6h:active:hover {
    border-color: #6e1c1c #5b1717 #5b1717 #6e1c1c;
}

.border_glassyBrown6a,
.hover_border_glassyBrown6a:hover,
.active_border_glassyBrown6a:active:hover {
    border-color: #551616 #551616 #551616 #551616;
}

.border_glassyBrown6s,
.hover_border_glassyBrown6s:hover,
.active_border_glassyBrown6s:active:hover {
    border-color: #551616 #551616 #551616 #551616;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyBrown6,
.hover_shadow_expand_glassyBrown6:hover,
.active_shadow_expand_glassyBrown6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(152, 39, 39, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(152, 39, 39, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(152, 39, 39, .39);
}

.shadow_expand_glassyBrown6h,
.hover_shadow_expand_glassyBrown6h:hover,
.active_shadow_expand_glassyBrown6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(183, 46, 46, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(183, 46, 46, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(183, 46, 46, .50);
}

.shadow_expand_glassyBrown6a,
.hover_shadow_expand_glassyBrown6a:hover,
.active_shadow_expand_glassyBrown6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(164, 42, 42, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(164, 42, 42, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(164, 42, 42, .63);
}

.shadow_expand_glassyBrown6s,
.hover_shadow_expand_glassyBrown6s:hover,
.active_shadow_expand_glassyBrown6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(164, 42, 42, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(164, 42, 42, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(164, 42, 42, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyBrown6,
.hover_shadow_left_glassyBrown6:hover,
.active_shadow_left_glassyBrown6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(152, 39, 39, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(152, 39, 39, .39);
    box-shadow: -0.5em -0.5em 1em rgba(152, 39, 39, .39);
}

.shadow_left_glassyBrown6h,
.hover_shadow_left_glassyBrown6h:hover,
.active_shadow_left_glassyBrown6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(183, 46, 46, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(183, 46, 46, .50);
    box-shadow: -0.5em -0.5em 1em rgba(183, 46, 46, .50);
}

.shadow_left_glassyBrown6a,
.hover_shadow_left_glassyBrown6a:hover,
.active_shadow_left_glassyBrown6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(164, 42, 42, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(164, 42, 42, .63);
    box-shadow: -0.5em -0.5em 1em rgba(164, 42, 42, .63);
}

.shadow_left_glassyBrown6s,
.hover_shadow_left_glassyBrown6s:hover,
.active_shadow_left_glassyBrown6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(164, 42, 42, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(164, 42, 42, .78);
    box-shadow: -0.5em -0.5em 1em rgba(164, 42, 42, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyBrown6,
.hover_shadow_right_glassyBrown6:hover,
.active_shadow_right_glassyBrown6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(152, 39, 39, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(152, 39, 39, .39);
    box-shadow: 0.5em 0em 1em rgba(152, 39, 39, .39);
}

.shadow_right_glassyBrown6h,
.hover_shadow_right_glassyBrown6h:hover,
.active_shadow_right_glassyBrown6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(183, 46, 46, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(183, 46, 46, .50);
    box-shadow: 0.5em 0em 1em rgba(183, 46, 46, .50);
}

.shadow_right_glassyBrown6a,
.hover_shadow_right_glassyBrown6a:hover,
.active_shadow_right_glassyBrown6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(164, 42, 42, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(164, 42, 42, .63);
    box-shadow: 0.5em 0em 1em rgba(164, 42, 42, .63);
}

.shadow_right_glassyBrown6s,
.hover_shadow_right_glassyBrown6s:hover,
.active_shadow_right_glassyBrown6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(164, 42, 42, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(164, 42, 42, .78);
    box-shadow: 0.5em 0em 1em rgba(164, 42, 42, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyBrown6,
.hover_shadow_top_glassyBrown6:hover,
.active_shadow_top_glassyBrown6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(152, 39, 39, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(152, 39, 39, .39);
    box-shadow: 0em -0.5em 1em rgba(152, 39, 39, .39);
}

.shadow_top_glassyBrown6h,
.hover_shadow_top_glassyBrown6h:hover,
.active_shadow_top_glassyBrown6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(183, 46, 46, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(183, 46, 46, .50);
    box-shadow: 0em -0.5em 1em rgba(183, 46, 46, .50);
}

.shadow_top_glassyBrown6a,
.hover_shadow_top_glassyBrown6a:hover,
.active_shadow_top_glassyBrown6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(164, 42, 42, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(164, 42, 42, .63);
    box-shadow: 0em -0.5em 1em rgba(164, 42, 42, .63);
}

.shadow_top_glassyBrown6s,
.hover_shadow_top_glassyBrown6s:hover,
.active_shadow_top_glassyBrown6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(164, 42, 42, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(164, 42, 42, .78);
    box-shadow: 0em -0.5em 1em rgba(164, 42, 42, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyBrown6,
.hover_shadow_bottom_glassyBrown6:hover,
.active_shadow_bottom_glassyBrown6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(152, 39, 39, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(152, 39, 39, .39);
    box-shadow: 0em 0.5em 1em rgba(152, 39, 39, .39);
}

.shadow_bottom_glassyBrown6h,
.hover_shadow_bottom_glassyBrown6h:hover,
.active_shadow_bottom_glassyBrown6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(183, 46, 46, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(183, 46, 46, .50);
    box-shadow: 0em 0.5em 1em rgba(183, 46, 46, .50);
}

.shadow_bottom_glassyBrown6a,
.hover_shadow_bottom_glassyBrown6a:hover,
.active_shadow_bottom_glassyBrown6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(164, 42, 42, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(164, 42, 42, .63);
    box-shadow: 0em 0.5em 1em rgba(164, 42, 42, .63);
}

.shadow_bottom_glassyBrown6s,
.hover_shadow_bottom_glassyBrown6s:hover,
.active_shadow_bottom_glassyBrown6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(164, 42, 42, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(164, 42, 42, .78);
    box-shadow: 0em 0.5em 1em rgba(164, 42, 42, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyBrown6,
.hover_shadow_top_left_glassyBrown6:hover,
.active_shadow_top_left_glassyBrown6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(152, 39, 39, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(152, 39, 39, .39);
    box-shadow: -0.5em -0.5em 1em rgba(152, 39, 39, .39);
}

.shadow_top_left_glassyBrown6h,
.hover_shadow_top_left_glassyBrown6h:hover,
.active_shadow_top_left_glassyBrown6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(183, 46, 46, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(183, 46, 46, .50);
    box-shadow: -0.5em -0.5em 1em rgba(183, 46, 46, .50);
}

.shadow_top_left_glassyBrown6a,
.hover_shadow_top_left_glassyBrown6a:hover,
.active_shadow_top_left_glassyBrown6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(164, 42, 42, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(164, 42, 42, .63);
    box-shadow: -0.5em -0.5em 1em rgba(164, 42, 42, .63);
}

.shadow_top_left_glassyBrown6s,
.hover_shadow_top_left_glassyBrown6s:hover,
.active_shadow_top_left_glassyBrown6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(164, 42, 42, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(164, 42, 42, .78);
    box-shadow: -0.5em -0.5em 1em rgba(164, 42, 42, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyBrown6,
.hover_shadow_top_right_glassyBrown6:hover,
.active_shadow_top_right_glassyBrown6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(152, 39, 39, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(152, 39, 39, .39);
    box-shadow: 0.5em -0.5em 1em rgba(152, 39, 39, .39);
}

.shadow_top_right_glassyBrown6h,
.hover_shadow_top_right_glassyBrown6h:hover,
.active_shadow_top_right_glassyBrown6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(183, 46, 46, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(183, 46, 46, .50);
    box-shadow: 0.5em -0.5em 1em rgba(183, 46, 46, .50);
}

.shadow_top_right_glassyBrown6a,
.hover_shadow_top_right_glassyBrown6a:hover,
.active_shadow_top_right_glassyBrown6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(164, 42, 42, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(164, 42, 42, .63);
    box-shadow: 0.5em -0.5em 1em rgba(164, 42, 42, .63);
}

.shadow_top_right_glassyBrown6s,
.hover_shadow_top_right_glassyBrown6s:hover,
.active_shadow_top_right_glassyBrown6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(164, 42, 42, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(164, 42, 42, .78);
    box-shadow: 0.5em -0.5em 1em rgba(164, 42, 42, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyBrown6,
.hover_shadow_bottom_left_glassyBrown6:hover,
.active_shadow_bottom_left_glassyBrown6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(152, 39, 39, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(152, 39, 39, .39);
    box-shadow: -0.5em 0.5em 1em rgba(152, 39, 39, .39);
}

.shadow_bottom_left_glassyBrown6h,
.hover_shadow_bottom_left_glassyBrown6h:hover,
.active_shadow_bottom_left_glassyBrown6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(183, 46, 46, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(183, 46, 46, .50);
    box-shadow: -0.5em 0.5em 1em rgba(183, 46, 46, .50);
}

.shadow_bottom_left_glassyBrown6a,
.hover_shadow_bottom_left_glassyBrown6a:hover,
.active_shadow_bottom_left_glassyBrown6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(164, 42, 42, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(164, 42, 42, .63);
    box-shadow: -0.5em 0.5em 1em rgba(164, 42, 42, .63);
}

.shadow_bottom_left_glassyBrown6s,
.hover_shadow_bottom_left_glassyBrown6s:hover,
.active_shadow_bottom_left_glassyBrown6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(164, 42, 42, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(164, 42, 42, .78);
    box-shadow: -0.5em 0.5em 1em rgba(164, 42, 42, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyBrown6,
.hover_shadow_bottom_right_glassyBrown6:hover,
.active_shadow_bottom_right_glassyBrown6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(152, 39, 39, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(152, 39, 39, .39);
    box-shadow: 0.5em 0.5em 1em rgba(152, 39, 39, .39);
}

.shadow_bottom_right_glassyBrown6h,
.hover_shadow_bottom_right_glassyBrown6h:hover,
.active_shadow_bottom_right_glassyBrown6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(183, 46, 46, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(183, 46, 46, .50);
    box-shadow: 0.5em 0.5em 1em rgba(183, 46, 46, .50);
}

.shadow_bottom_right_glassyBrown6a,
 .hover_shadow_bottom_right_glassyBrown6a:hover,
 .active_shadow_bottom_right_glassyBrown6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(164, 42, 42, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(164, 42, 42, .63);
     box-shadow: 0.5em 0.5em 1em rgba(164, 42, 42, .63);
 }

 .shadow_bottom_right_glassyBrown6s,
 .hover_shadow_bottom_right_glassyBrown6s:hover,
 .active_shadow_bottom_right_glassyBrown6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(164, 42, 42, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(164, 42, 42, .78);
     box-shadow: 0.5em 0.5em 1em rgba(164, 42, 42, .78);
 }