.background_glassyChartreuse7,
.hover_background_glassyChartreuse7:hover,
.active_background_glassyChartreuse7:active:hover {
    background: #326400;
    background-image: -moz-linear-gradient(top,  rgb(45, 90, 0) 0%, rgb(40, 80, 0) 50%, rgb(35, 70, 0) 55%, rgb(50, 100, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(45, 90, 0)), color-stop(50%, rgb(40, 80, 0)), color-stop(55%, rgb(35, 70, 0)), color-stop(100%, rgb(50, 100, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(45, 90, 0) 0%, rgb(40, 80, 0) 50%, rgb(35, 70, 0) 55%, rgb(50, 100, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(45, 90, 0) 0%, rgb(40, 80, 0) 50%, rgb(35, 70, 0) 55%, rgb(50, 100, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(45, 90, 0) 0%, rgb(40, 80, 0) 50%, rgb(35, 70, 0) 55%, rgb(50, 100, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(45, 90, 0) 0%, rgb(40, 80, 0) 50%, rgb(35, 70, 0) 55%, rgb(50, 100, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d5a00', endColorstr='#326400',GradientType=0 );
}

.background_glassyChartreuse7h,
.hover_background_glassyChartreuse7h:hover,
.active_background_glassyChartreuse7h:active:hover {
    background: #326400;
    background-image: -moz-linear-gradient(top,  rgb(54, 108, 0) 0%, rgb(48, 96, 0) 50%, rgb(42, 84, 0) 55%, rgb(60, 119, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(54, 108, 0)), color-stop(50%, rgb(48, 96, 0)), color-stop(55%, rgb(42, 84, 0)), color-stop(100%, rgb(60, 119, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(54, 108, 0) 0%, rgb(48, 96, 0) 50%, rgb(42, 84, 0) 55%, rgb(60, 119, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(54, 108, 0) 0%, rgb(48, 96, 0) 50%, rgb(42, 84, 0) 55%, rgb(60, 119, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(54, 108, 0) 0%, rgb(48, 96, 0) 50%, rgb(42, 84, 0) 55%, rgb(60, 119, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(54, 108, 0) 0%, rgb(48, 96, 0) 50%, rgb(42, 84, 0) 55%, rgb(60, 119, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#366c00', endColorstr='#3c7700',GradientType=0 );
}

.background_glassyChartreuse7a,
.hover_background_glassyChartreuse7a:hover,
.active_background_glassyChartreuse7a:active:hover {
    background: #326400;
    background-image: -moz-linear-gradient(top,  rgb(60, 119, 0) 0%, rgb(42, 84, 0) 50%, rgb(48, 96, 0) 55%, rgb(54, 108, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(60, 119, 0)), color-stop(50%, rgb(42, 84, 0)), color-stop(55%, rgb(48, 96, 0)), color-stop(100%, rgb(54, 108, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(60, 119, 0) 0%, rgb(42, 84, 0) 50%, rgb(48, 96, 0) 55%, rgb(54, 108, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(60, 119, 0) 0%, rgb(42, 84, 0) 50%, rgb(48, 96, 0) 55%, rgb(54, 108, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(60, 119, 0) 0%, rgb(42, 84, 0) 50%, rgb(48, 96, 0) 55%, rgb(54, 108, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(60, 119, 0) 0%, rgb(42, 84, 0) 50%, rgb(48, 96, 0) 55%, rgb(54, 108, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c7700', endColorstr='#366c00',GradientType=0 );
}

.background_glassyChartreuse7s,
.hover_background_glassyChartreuse7s:hover,
.active_background_glassyChartreuse7s:active:hover {
    background: #326400;
    background-image: -moz-linear-gradient(top,  rgb(67, 134, 0) 0%, rgb(60, 119, 0) 50%, rgb(52, 105, 0) 55%, rgb(74, 149, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(67, 134, 0)), color-stop(50%, rgb(60, 119, 0)), color-stop(55%, rgb(52, 105, 0)), color-stop(100%, rgb(74, 149, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(67, 134, 0) 0%, rgb(60, 119, 0) 50%, rgb(52, 105, 0) 55%, rgb(74, 149, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(67, 134, 0) 0%, rgb(60, 119, 0) 50%, rgb(52, 105, 0) 55%, rgb(74, 149, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(67, 134, 0) 0%, rgb(60, 119, 0) 50%, rgb(52, 105, 0) 55%, rgb(74, 149, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(67, 134, 0) 0%, rgb(60, 119, 0) 50%, rgb(52, 105, 0) 55%, rgb(74, 149, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438600', endColorstr='#4a9500',GradientType=0 );
}

.background_color_glassyChartreuse7,
.hover_background_color_glassyChartreuse7:hover,
.active_background_color_glassyChartreuse7:active:hover {
    background-color:#326400;
}

.background_first_color_glassyChartreuse7,
.hover_background_first_color_glassyChartreuse7:hover,
.active_background_first_color_glassyChartreuse7:active:hover {
    background-color:#2d5a00;
}

.background_last_color_glassyChartreuse7,
.hover_background_last_color_glassyChartreuse7:hover,
.active_background_color_last_glassyChartreuse7:active:hover {
   background-color:#326400;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyChartreuse7,
.hover_color_glassyChartreuse7:hover,
.active_color_glassyChartreuse7:active:hover {
    color: #c8c8c8;
}

.color_glassyChartreuse7h,
.hover_color_glassyChartreuse7h:hover,
.active_color_glassyChartreuse7h:active:hover {
    color: #c8c8c8;
}

.color_glassyChartreuse7a,
.hover_color_glassyChartreuse7a:hover,
.active_color_glassyChartreuse7a:active:hover {
    color: #ff0;
}

.color_glassyChartreuse7s,
.hover_color_glassyChartreuse7s:hover,
.active_color_glassyChartreuse7s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyChartreuse7,
.hover_border_glassyChartreuse7:hover,
.active_border_glassyChartreuse7:active:hover {
    border-color: #244800 #1e3c00 #1e3c00 #244800;
}

.border_glassyChartreuse7h,
.hover_border_glassyChartreuse7h:hover,
.active_border_glassyChartreuse7h:active:hover {
    border-color: #244800 #1e3c00 #1e3c00 #244800;
}

.border_glassyChartreuse7a,
.hover_border_glassyChartreuse7a:hover,
.active_border_glassyChartreuse7a:active:hover {
    border-color: #1c3800 #1c3800 #1c3800 #1c3800;
}

.border_glassyChartreuse7s,
.hover_border_glassyChartreuse7s:hover,
.active_border_glassyChartreuse7s:active:hover {
    border-color: #1c3800 #1c3800 #1c3800 #1c3800;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyChartreuse7,
.hover_shadow_expand_glassyChartreuse7:hover,
.active_shadow_expand_glassyChartreuse7:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(50, 100, 0, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(50, 100, 0, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(50, 100, 0, .39);
}

.shadow_expand_glassyChartreuse7h,
.hover_shadow_expand_glassyChartreuse7h:hover,
.active_shadow_expand_glassyChartreuse7h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(60, 119, 0, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(60, 119, 0, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(60, 119, 0, .50);
}

.shadow_expand_glassyChartreuse7a,
.hover_shadow_expand_glassyChartreuse7a:hover,
.active_shadow_expand_glassyChartreuse7a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(54, 108, 0, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(54, 108, 0, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(54, 108, 0, .63);
}

.shadow_expand_glassyChartreuse7s,
.hover_shadow_expand_glassyChartreuse7s:hover,
.active_shadow_expand_glassyChartreuse7s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(54, 108, 0, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(54, 108, 0, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(54, 108, 0, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyChartreuse7,
.hover_shadow_left_glassyChartreuse7:hover,
.active_shadow_left_glassyChartreuse7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(50, 100, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(50, 100, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(50, 100, 0, .39);
}

.shadow_left_glassyChartreuse7h,
.hover_shadow_left_glassyChartreuse7h:hover,
.active_shadow_left_glassyChartreuse7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(60, 119, 0, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(60, 119, 0, .50);
    box-shadow: -0.5em -0.5em 1em rgba(60, 119, 0, .50);
}

.shadow_left_glassyChartreuse7a,
.hover_shadow_left_glassyChartreuse7a:hover,
.active_shadow_left_glassyChartreuse7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(54, 108, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(54, 108, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(54, 108, 0, .63);
}

.shadow_left_glassyChartreuse7s,
.hover_shadow_left_glassyChartreuse7s:hover,
.active_shadow_left_glassyChartreuse7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(54, 108, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(54, 108, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(54, 108, 0, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyChartreuse7,
.hover_shadow_right_glassyChartreuse7:hover,
.active_shadow_right_glassyChartreuse7:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(50, 100, 0, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(50, 100, 0, .39);
    box-shadow: 0.5em 0em 1em rgba(50, 100, 0, .39);
}

.shadow_right_glassyChartreuse7h,
.hover_shadow_right_glassyChartreuse7h:hover,
.active_shadow_right_glassyChartreuse7h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(60, 119, 0, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(60, 119, 0, .50);
    box-shadow: 0.5em 0em 1em rgba(60, 119, 0, .50);
}

.shadow_right_glassyChartreuse7a,
.hover_shadow_right_glassyChartreuse7a:hover,
.active_shadow_right_glassyChartreuse7a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(54, 108, 0, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(54, 108, 0, .63);
    box-shadow: 0.5em 0em 1em rgba(54, 108, 0, .63);
}

.shadow_right_glassyChartreuse7s,
.hover_shadow_right_glassyChartreuse7s:hover,
.active_shadow_right_glassyChartreuse7s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(54, 108, 0, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(54, 108, 0, .78);
    box-shadow: 0.5em 0em 1em rgba(54, 108, 0, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyChartreuse7,
.hover_shadow_top_glassyChartreuse7:hover,
.active_shadow_top_glassyChartreuse7:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(50, 100, 0, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(50, 100, 0, .39);
    box-shadow: 0em -0.5em 1em rgba(50, 100, 0, .39);
}

.shadow_top_glassyChartreuse7h,
.hover_shadow_top_glassyChartreuse7h:hover,
.active_shadow_top_glassyChartreuse7h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(60, 119, 0, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(60, 119, 0, .50);
    box-shadow: 0em -0.5em 1em rgba(60, 119, 0, .50);
}

.shadow_top_glassyChartreuse7a,
.hover_shadow_top_glassyChartreuse7a:hover,
.active_shadow_top_glassyChartreuse7a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(54, 108, 0, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(54, 108, 0, .63);
    box-shadow: 0em -0.5em 1em rgba(54, 108, 0, .63);
}

.shadow_top_glassyChartreuse7s,
.hover_shadow_top_glassyChartreuse7s:hover,
.active_shadow_top_glassyChartreuse7s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(54, 108, 0, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(54, 108, 0, .78);
    box-shadow: 0em -0.5em 1em rgba(54, 108, 0, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyChartreuse7,
.hover_shadow_bottom_glassyChartreuse7:hover,
.active_shadow_bottom_glassyChartreuse7:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(50, 100, 0, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(50, 100, 0, .39);
    box-shadow: 0em 0.5em 1em rgba(50, 100, 0, .39);
}

.shadow_bottom_glassyChartreuse7h,
.hover_shadow_bottom_glassyChartreuse7h:hover,
.active_shadow_bottom_glassyChartreuse7h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(60, 119, 0, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(60, 119, 0, .50);
    box-shadow: 0em 0.5em 1em rgba(60, 119, 0, .50);
}

.shadow_bottom_glassyChartreuse7a,
.hover_shadow_bottom_glassyChartreuse7a:hover,
.active_shadow_bottom_glassyChartreuse7a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(54, 108, 0, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(54, 108, 0, .63);
    box-shadow: 0em 0.5em 1em rgba(54, 108, 0, .63);
}

.shadow_bottom_glassyChartreuse7s,
.hover_shadow_bottom_glassyChartreuse7s:hover,
.active_shadow_bottom_glassyChartreuse7s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(54, 108, 0, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(54, 108, 0, .78);
    box-shadow: 0em 0.5em 1em rgba(54, 108, 0, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyChartreuse7,
.hover_shadow_top_left_glassyChartreuse7:hover,
.active_shadow_top_left_glassyChartreuse7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(50, 100, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(50, 100, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(50, 100, 0, .39);
}

.shadow_top_left_glassyChartreuse7h,
.hover_shadow_top_left_glassyChartreuse7h:hover,
.active_shadow_top_left_glassyChartreuse7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(60, 119, 0, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(60, 119, 0, .50);
    box-shadow: -0.5em -0.5em 1em rgba(60, 119, 0, .50);
}

.shadow_top_left_glassyChartreuse7a,
.hover_shadow_top_left_glassyChartreuse7a:hover,
.active_shadow_top_left_glassyChartreuse7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(54, 108, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(54, 108, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(54, 108, 0, .63);
}

.shadow_top_left_glassyChartreuse7s,
.hover_shadow_top_left_glassyChartreuse7s:hover,
.active_shadow_top_left_glassyChartreuse7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(54, 108, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(54, 108, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(54, 108, 0, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyChartreuse7,
.hover_shadow_top_right_glassyChartreuse7:hover,
.active_shadow_top_right_glassyChartreuse7:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(50, 100, 0, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(50, 100, 0, .39);
    box-shadow: 0.5em -0.5em 1em rgba(50, 100, 0, .39);
}

.shadow_top_right_glassyChartreuse7h,
.hover_shadow_top_right_glassyChartreuse7h:hover,
.active_shadow_top_right_glassyChartreuse7h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(60, 119, 0, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(60, 119, 0, .50);
    box-shadow: 0.5em -0.5em 1em rgba(60, 119, 0, .50);
}

.shadow_top_right_glassyChartreuse7a,
.hover_shadow_top_right_glassyChartreuse7a:hover,
.active_shadow_top_right_glassyChartreuse7a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(54, 108, 0, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(54, 108, 0, .63);
    box-shadow: 0.5em -0.5em 1em rgba(54, 108, 0, .63);
}

.shadow_top_right_glassyChartreuse7s,
.hover_shadow_top_right_glassyChartreuse7s:hover,
.active_shadow_top_right_glassyChartreuse7s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(54, 108, 0, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(54, 108, 0, .78);
    box-shadow: 0.5em -0.5em 1em rgba(54, 108, 0, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyChartreuse7,
.hover_shadow_bottom_left_glassyChartreuse7:hover,
.active_shadow_bottom_left_glassyChartreuse7:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(50, 100, 0, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(50, 100, 0, .39);
    box-shadow: -0.5em 0.5em 1em rgba(50, 100, 0, .39);
}

.shadow_bottom_left_glassyChartreuse7h,
.hover_shadow_bottom_left_glassyChartreuse7h:hover,
.active_shadow_bottom_left_glassyChartreuse7h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(60, 119, 0, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(60, 119, 0, .50);
    box-shadow: -0.5em 0.5em 1em rgba(60, 119, 0, .50);
}

.shadow_bottom_left_glassyChartreuse7a,
.hover_shadow_bottom_left_glassyChartreuse7a:hover,
.active_shadow_bottom_left_glassyChartreuse7a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(54, 108, 0, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(54, 108, 0, .63);
    box-shadow: -0.5em 0.5em 1em rgba(54, 108, 0, .63);
}

.shadow_bottom_left_glassyChartreuse7s,
.hover_shadow_bottom_left_glassyChartreuse7s:hover,
.active_shadow_bottom_left_glassyChartreuse7s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(54, 108, 0, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(54, 108, 0, .78);
    box-shadow: -0.5em 0.5em 1em rgba(54, 108, 0, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyChartreuse7,
.hover_shadow_bottom_right_glassyChartreuse7:hover,
.active_shadow_bottom_right_glassyChartreuse7:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(50, 100, 0, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(50, 100, 0, .39);
    box-shadow: 0.5em 0.5em 1em rgba(50, 100, 0, .39);
}

.shadow_bottom_right_glassyChartreuse7h,
.hover_shadow_bottom_right_glassyChartreuse7h:hover,
.active_shadow_bottom_right_glassyChartreuse7h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(60, 119, 0, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(60, 119, 0, .50);
    box-shadow: 0.5em 0.5em 1em rgba(60, 119, 0, .50);
}

.shadow_bottom_right_glassyChartreuse7a,
 .hover_shadow_bottom_right_glassyChartreuse7a:hover,
 .active_shadow_bottom_right_glassyChartreuse7a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(54, 108, 0, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(54, 108, 0, .63);
     box-shadow: 0.5em 0.5em 1em rgba(54, 108, 0, .63);
 }

 .shadow_bottom_right_glassyChartreuse7s,
 .hover_shadow_bottom_right_glassyChartreuse7s:hover,
 .active_shadow_bottom_right_glassyChartreuse7s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(54, 108, 0, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(54, 108, 0, .78);
     box-shadow: 0.5em 0.5em 1em rgba(54, 108, 0, .78);
 }