.background_glassyChartreuse1,
.hover_background_glassyChartreuse1:hover,
.active_background_glassyChartreuse1:active:hover {
    background: #7fff00;
    background-image: -moz-linear-gradient(top,  rgb(114, 230, 0) 0%, rgb(102, 204, 0) 50%, rgb(89, 179, 0) 55%, rgb(127, 255, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(114, 230, 0)), color-stop(50%, rgb(102, 204, 0)), color-stop(55%, rgb(89, 179, 0)), color-stop(100%, rgb(127, 255, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(114, 230, 0) 0%, rgb(102, 204, 0) 50%, rgb(89, 179, 0) 55%, rgb(127, 255, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(114, 230, 0) 0%, rgb(102, 204, 0) 50%, rgb(89, 179, 0) 55%, rgb(127, 255, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(114, 230, 0) 0%, rgb(102, 204, 0) 50%, rgb(89, 179, 0) 55%, rgb(127, 255, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(114, 230, 0) 0%, rgb(102, 204, 0) 50%, rgb(89, 179, 0) 55%, rgb(127, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72e600', endColorstr='#7fff00',GradientType=0 );
}

.background_glassyChartreuse1h,
.hover_background_glassyChartreuse1h:hover,
.active_background_glassyChartreuse1h:active:hover {
    background: #7fff00;
    background-image: -moz-linear-gradient(top,  rgb(137, 255, 20) 0%, rgb(122, 245, 0) 50%, rgb(107, 214, 0) 55%, rgb(153, 255, 51) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(137, 255, 20)), color-stop(50%, rgb(122, 245, 0)), color-stop(55%, rgb(107, 214, 0)), color-stop(100%, rgb(153, 255, 51)));
    background-image: -webkit-linear-gradient(top,  rgb(137, 255, 20) 0%, rgb(122, 245, 0) 50%, rgb(107, 214, 0) 55%, rgb(153, 255, 51) 100%);
    background-image: -o-linear-gradient(top,  rgb(137, 255, 20) 0%, rgb(122, 245, 0) 50%, rgb(107, 214, 0) 55%, rgb(153, 255, 51) 100%);
    background-image: -ms-linear-gradient(top, rgb(137, 255, 20) 0%, rgb(122, 245, 0) 50%, rgb(107, 214, 0) 55%, rgb(153, 255, 51) 100%);
    background-image: linear-gradient(to bottom,  rgb(137, 255, 20) 0%, rgb(122, 245, 0) 50%, rgb(107, 214, 0) 55%, rgb(153, 255, 51) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ff14', endColorstr='#99ff33',GradientType=0 );
}

.background_glassyChartreuse1a,
.hover_background_glassyChartreuse1a:hover,
.active_background_glassyChartreuse1a:active:hover {
    background: #7fff00;
    background-image: -moz-linear-gradient(top,  rgb(153, 255, 51) 0%, rgb(107, 214, 0) 50%, rgb(122, 245, 0) 55%, rgb(137, 255, 20) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(153, 255, 51)), color-stop(50%, rgb(107, 214, 0)), color-stop(55%, rgb(122, 245, 0)), color-stop(100%, rgb(137, 255, 20)));
    background-image: -webkit-linear-gradient(top,  rgb(153, 255, 51) 0%, rgb(107, 214, 0) 50%, rgb(122, 245, 0) 55%, rgb(137, 255, 20) 100%);
    background-image: -o-linear-gradient(top,  rgb(153, 255, 51) 0%, rgb(107, 214, 0) 50%, rgb(122, 245, 0) 55%, rgb(137, 255, 20) 100%);
    background-image: -ms-linear-gradient(top, rgb(153, 255, 51) 0%, rgb(107, 214, 0) 50%, rgb(122, 245, 0) 55%, rgb(137, 255, 20) 100%);
    background-image: linear-gradient(to bottom,  rgb(153, 255, 51) 0%, rgb(107, 214, 0) 50%, rgb(122, 245, 0) 55%, rgb(137, 255, 20) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff33', endColorstr='#89ff14',GradientType=0 );
}

.background_glassyChartreuse1s,
.hover_background_glassyChartreuse1s:hover,
.active_background_glassyChartreuse1s:active:hover {
    background: #7fff00;
    background-image: -moz-linear-gradient(top,  rgb(172, 255, 89) 0%, rgb(153, 255, 51) 50%, rgb(133, 255, 13) 55%, rgb(191, 255, 128) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(172, 255, 89)), color-stop(50%, rgb(153, 255, 51)), color-stop(55%, rgb(133, 255, 13)), color-stop(100%, rgb(191, 255, 128)));
    background-image: -webkit-linear-gradient(top,  rgb(172, 255, 89) 0%, rgb(153, 255, 51) 50%, rgb(133, 255, 13) 55%, rgb(191, 255, 128) 100%);
    background-image: -o-linear-gradient(top,  rgb(172, 255, 89) 0%, rgb(153, 255, 51) 50%, rgb(133, 255, 13) 55%, rgb(191, 255, 128) 100%);
    background-image: -ms-linear-gradient(top, rgb(172, 255, 89) 0%, rgb(153, 255, 51) 50%, rgb(133, 255, 13) 55%, rgb(191, 255, 128) 100%);
    background-image: linear-gradient(to bottom,  rgb(172, 255, 89) 0%, rgb(153, 255, 51) 50%, rgb(133, 255, 13) 55%, rgb(191, 255, 128) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acff59', endColorstr='#bfff80',GradientType=0 );
}

.background_color_glassyChartreuse1,
.hover_background_color_glassyChartreuse1:hover,
.active_background_color_glassyChartreuse1:active:hover {
    background-color:#7fff00;
}

.background_first_color_glassyChartreuse1,
.hover_background_first_color_glassyChartreuse1:hover,
.active_background_first_color_glassyChartreuse1:active:hover {
    background-color:#72e600;
}

.background_last_color_glassyChartreuse1,
.hover_background_last_color_glassyChartreuse1:hover,
.active_background_color_last_glassyChartreuse1:active:hover {
   background-color:#7fff00;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyChartreuse1,
.hover_color_glassyChartreuse1:hover,
.active_color_glassyChartreuse1:active:hover {
    color: #282828;
}

.color_glassyChartreuse1h,
.hover_color_glassyChartreuse1h:hover,
.active_color_glassyChartreuse1h:active:hover {
    color: #282828;
}

.color_glassyChartreuse1a,
.hover_color_glassyChartreuse1a:hover,
.active_color_glassyChartreuse1a:active:hover {
    color: #ff0;
}

.color_glassyChartreuse1s,
.hover_color_glassyChartreuse1s:hover,
.active_color_glassyChartreuse1s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyChartreuse1,
.hover_border_glassyChartreuse1:hover,
.active_border_glassyChartreuse1:active:hover {
    border-color: #5bb800 #4c9900 #4c9900 #5bb800;
}

.border_glassyChartreuse1h,
.hover_border_glassyChartreuse1h:hover,
.active_border_glassyChartreuse1h:active:hover {
    border-color: #5bb800 #4c9900 #4c9900 #5bb800;
}

.border_glassyChartreuse1a,
.hover_border_glassyChartreuse1a:hover,
.active_border_glassyChartreuse1a:active:hover {
    border-color: #478f00 #478f00 #478f00 #478f00;
}

.border_glassyChartreuse1s,
.hover_border_glassyChartreuse1s:hover,
.active_border_glassyChartreuse1s:active:hover {
    border-color: #478f00 #478f00 #478f00 #478f00;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyChartreuse1,
.hover_shadow_expand_glassyChartreuse1:hover,
.active_shadow_expand_glassyChartreuse1:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(127, 255, 0, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(127, 255, 0, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(127, 255, 0, .39);
}

.shadow_expand_glassyChartreuse1h,
.hover_shadow_expand_glassyChartreuse1h:hover,
.active_shadow_expand_glassyChartreuse1h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(153, 255, 51, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(153, 255, 51, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(153, 255, 51, .50);
}

.shadow_expand_glassyChartreuse1a,
.hover_shadow_expand_glassyChartreuse1a:hover,
.active_shadow_expand_glassyChartreuse1a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(137, 255, 20, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(137, 255, 20, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(137, 255, 20, .63);
}

.shadow_expand_glassyChartreuse1s,
.hover_shadow_expand_glassyChartreuse1s:hover,
.active_shadow_expand_glassyChartreuse1s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(137, 255, 20, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(137, 255, 20, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(137, 255, 20, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyChartreuse1,
.hover_shadow_left_glassyChartreuse1:hover,
.active_shadow_left_glassyChartreuse1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(127, 255, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(127, 255, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(127, 255, 0, .39);
}

.shadow_left_glassyChartreuse1h,
.hover_shadow_left_glassyChartreuse1h:hover,
.active_shadow_left_glassyChartreuse1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(153, 255, 51, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(153, 255, 51, .50);
    box-shadow: -0.5em -0.5em 1em rgba(153, 255, 51, .50);
}

.shadow_left_glassyChartreuse1a,
.hover_shadow_left_glassyChartreuse1a:hover,
.active_shadow_left_glassyChartreuse1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(137, 255, 20, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(137, 255, 20, .63);
    box-shadow: -0.5em -0.5em 1em rgba(137, 255, 20, .63);
}

.shadow_left_glassyChartreuse1s,
.hover_shadow_left_glassyChartreuse1s:hover,
.active_shadow_left_glassyChartreuse1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(137, 255, 20, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(137, 255, 20, .78);
    box-shadow: -0.5em -0.5em 1em rgba(137, 255, 20, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyChartreuse1,
.hover_shadow_right_glassyChartreuse1:hover,
.active_shadow_right_glassyChartreuse1:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(127, 255, 0, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(127, 255, 0, .39);
    box-shadow: 0.5em 0em 1em rgba(127, 255, 0, .39);
}

.shadow_right_glassyChartreuse1h,
.hover_shadow_right_glassyChartreuse1h:hover,
.active_shadow_right_glassyChartreuse1h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(153, 255, 51, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(153, 255, 51, .50);
    box-shadow: 0.5em 0em 1em rgba(153, 255, 51, .50);
}

.shadow_right_glassyChartreuse1a,
.hover_shadow_right_glassyChartreuse1a:hover,
.active_shadow_right_glassyChartreuse1a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(137, 255, 20, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(137, 255, 20, .63);
    box-shadow: 0.5em 0em 1em rgba(137, 255, 20, .63);
}

.shadow_right_glassyChartreuse1s,
.hover_shadow_right_glassyChartreuse1s:hover,
.active_shadow_right_glassyChartreuse1s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(137, 255, 20, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(137, 255, 20, .78);
    box-shadow: 0.5em 0em 1em rgba(137, 255, 20, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyChartreuse1,
.hover_shadow_top_glassyChartreuse1:hover,
.active_shadow_top_glassyChartreuse1:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(127, 255, 0, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(127, 255, 0, .39);
    box-shadow: 0em -0.5em 1em rgba(127, 255, 0, .39);
}

.shadow_top_glassyChartreuse1h,
.hover_shadow_top_glassyChartreuse1h:hover,
.active_shadow_top_glassyChartreuse1h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(153, 255, 51, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(153, 255, 51, .50);
    box-shadow: 0em -0.5em 1em rgba(153, 255, 51, .50);
}

.shadow_top_glassyChartreuse1a,
.hover_shadow_top_glassyChartreuse1a:hover,
.active_shadow_top_glassyChartreuse1a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(137, 255, 20, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(137, 255, 20, .63);
    box-shadow: 0em -0.5em 1em rgba(137, 255, 20, .63);
}

.shadow_top_glassyChartreuse1s,
.hover_shadow_top_glassyChartreuse1s:hover,
.active_shadow_top_glassyChartreuse1s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(137, 255, 20, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(137, 255, 20, .78);
    box-shadow: 0em -0.5em 1em rgba(137, 255, 20, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyChartreuse1,
.hover_shadow_bottom_glassyChartreuse1:hover,
.active_shadow_bottom_glassyChartreuse1:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(127, 255, 0, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(127, 255, 0, .39);
    box-shadow: 0em 0.5em 1em rgba(127, 255, 0, .39);
}

.shadow_bottom_glassyChartreuse1h,
.hover_shadow_bottom_glassyChartreuse1h:hover,
.active_shadow_bottom_glassyChartreuse1h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(153, 255, 51, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(153, 255, 51, .50);
    box-shadow: 0em 0.5em 1em rgba(153, 255, 51, .50);
}

.shadow_bottom_glassyChartreuse1a,
.hover_shadow_bottom_glassyChartreuse1a:hover,
.active_shadow_bottom_glassyChartreuse1a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(137, 255, 20, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(137, 255, 20, .63);
    box-shadow: 0em 0.5em 1em rgba(137, 255, 20, .63);
}

.shadow_bottom_glassyChartreuse1s,
.hover_shadow_bottom_glassyChartreuse1s:hover,
.active_shadow_bottom_glassyChartreuse1s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(137, 255, 20, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(137, 255, 20, .78);
    box-shadow: 0em 0.5em 1em rgba(137, 255, 20, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyChartreuse1,
.hover_shadow_top_left_glassyChartreuse1:hover,
.active_shadow_top_left_glassyChartreuse1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(127, 255, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(127, 255, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(127, 255, 0, .39);
}

.shadow_top_left_glassyChartreuse1h,
.hover_shadow_top_left_glassyChartreuse1h:hover,
.active_shadow_top_left_glassyChartreuse1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(153, 255, 51, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(153, 255, 51, .50);
    box-shadow: -0.5em -0.5em 1em rgba(153, 255, 51, .50);
}

.shadow_top_left_glassyChartreuse1a,
.hover_shadow_top_left_glassyChartreuse1a:hover,
.active_shadow_top_left_glassyChartreuse1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(137, 255, 20, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(137, 255, 20, .63);
    box-shadow: -0.5em -0.5em 1em rgba(137, 255, 20, .63);
}

.shadow_top_left_glassyChartreuse1s,
.hover_shadow_top_left_glassyChartreuse1s:hover,
.active_shadow_top_left_glassyChartreuse1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(137, 255, 20, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(137, 255, 20, .78);
    box-shadow: -0.5em -0.5em 1em rgba(137, 255, 20, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyChartreuse1,
.hover_shadow_top_right_glassyChartreuse1:hover,
.active_shadow_top_right_glassyChartreuse1:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(127, 255, 0, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(127, 255, 0, .39);
    box-shadow: 0.5em -0.5em 1em rgba(127, 255, 0, .39);
}

.shadow_top_right_glassyChartreuse1h,
.hover_shadow_top_right_glassyChartreuse1h:hover,
.active_shadow_top_right_glassyChartreuse1h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(153, 255, 51, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(153, 255, 51, .50);
    box-shadow: 0.5em -0.5em 1em rgba(153, 255, 51, .50);
}

.shadow_top_right_glassyChartreuse1a,
.hover_shadow_top_right_glassyChartreuse1a:hover,
.active_shadow_top_right_glassyChartreuse1a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(137, 255, 20, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(137, 255, 20, .63);
    box-shadow: 0.5em -0.5em 1em rgba(137, 255, 20, .63);
}

.shadow_top_right_glassyChartreuse1s,
.hover_shadow_top_right_glassyChartreuse1s:hover,
.active_shadow_top_right_glassyChartreuse1s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(137, 255, 20, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(137, 255, 20, .78);
    box-shadow: 0.5em -0.5em 1em rgba(137, 255, 20, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyChartreuse1,
.hover_shadow_bottom_left_glassyChartreuse1:hover,
.active_shadow_bottom_left_glassyChartreuse1:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(127, 255, 0, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(127, 255, 0, .39);
    box-shadow: -0.5em 0.5em 1em rgba(127, 255, 0, .39);
}

.shadow_bottom_left_glassyChartreuse1h,
.hover_shadow_bottom_left_glassyChartreuse1h:hover,
.active_shadow_bottom_left_glassyChartreuse1h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(153, 255, 51, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(153, 255, 51, .50);
    box-shadow: -0.5em 0.5em 1em rgba(153, 255, 51, .50);
}

.shadow_bottom_left_glassyChartreuse1a,
.hover_shadow_bottom_left_glassyChartreuse1a:hover,
.active_shadow_bottom_left_glassyChartreuse1a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(137, 255, 20, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(137, 255, 20, .63);
    box-shadow: -0.5em 0.5em 1em rgba(137, 255, 20, .63);
}

.shadow_bottom_left_glassyChartreuse1s,
.hover_shadow_bottom_left_glassyChartreuse1s:hover,
.active_shadow_bottom_left_glassyChartreuse1s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(137, 255, 20, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(137, 255, 20, .78);
    box-shadow: -0.5em 0.5em 1em rgba(137, 255, 20, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyChartreuse1,
.hover_shadow_bottom_right_glassyChartreuse1:hover,
.active_shadow_bottom_right_glassyChartreuse1:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(127, 255, 0, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(127, 255, 0, .39);
    box-shadow: 0.5em 0.5em 1em rgba(127, 255, 0, .39);
}

.shadow_bottom_right_glassyChartreuse1h,
.hover_shadow_bottom_right_glassyChartreuse1h:hover,
.active_shadow_bottom_right_glassyChartreuse1h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(153, 255, 51, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(153, 255, 51, .50);
    box-shadow: 0.5em 0.5em 1em rgba(153, 255, 51, .50);
}

.shadow_bottom_right_glassyChartreuse1a,
 .hover_shadow_bottom_right_glassyChartreuse1a:hover,
 .active_shadow_bottom_right_glassyChartreuse1a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(137, 255, 20, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(137, 255, 20, .63);
     box-shadow: 0.5em 0.5em 1em rgba(137, 255, 20, .63);
 }

 .shadow_bottom_right_glassyChartreuse1s,
 .hover_shadow_bottom_right_glassyChartreuse1s:hover,
 .active_shadow_bottom_right_glassyChartreuse1s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(137, 255, 20, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(137, 255, 20, .78);
     box-shadow: 0.5em 0.5em 1em rgba(137, 255, 20, .78);
 }