.background_glassyGainsboro2,
.hover_background_glassyGainsboro2:hover,
.active_background_glassyGainsboro2:active:hover {
    background: #bbbbbb;
    background-image: -moz-linear-gradient(top,  rgb(168, 168, 168) 0%, rgb(150, 150, 150) 50%, rgb(131, 131, 131) 55%, rgb(187, 187, 187) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(168, 168, 168)), color-stop(50%, rgb(150, 150, 150)), color-stop(55%, rgb(131, 131, 131)), color-stop(100%, rgb(187, 187, 187)));
    background-image: -webkit-linear-gradient(top,  rgb(168, 168, 168) 0%, rgb(150, 150, 150) 50%, rgb(131, 131, 131) 55%, rgb(187, 187, 187) 100%);
    background-image: -o-linear-gradient(top,  rgb(168, 168, 168) 0%, rgb(150, 150, 150) 50%, rgb(131, 131, 131) 55%, rgb(187, 187, 187) 100%);
    background-image: -ms-linear-gradient(top, rgb(168, 168, 168) 0%, rgb(150, 150, 150) 50%, rgb(131, 131, 131) 55%, rgb(187, 187, 187) 100%);
    background-image: linear-gradient(to bottom,  rgb(168, 168, 168) 0%, rgb(150, 150, 150) 50%, rgb(131, 131, 131) 55%, rgb(187, 187, 187) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#bbbbbb',GradientType=0 );
}

.background_glassyGainsboro2h,
.hover_background_glassyGainsboro2h:hover,
.active_background_glassyGainsboro2h:active:hover {
    background: #bbbbbb;
    background-image: -moz-linear-gradient(top,  rgb(202, 202, 202) 0%, rgb(180, 180, 180) 50%, rgb(157, 157, 157) 55%, rgb(224, 224, 224) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(202, 202, 202)), color-stop(50%, rgb(180, 180, 180)), color-stop(55%, rgb(157, 157, 157)), color-stop(100%, rgb(224, 224, 224)));
    background-image: -webkit-linear-gradient(top,  rgb(202, 202, 202) 0%, rgb(180, 180, 180) 50%, rgb(157, 157, 157) 55%, rgb(224, 224, 224) 100%);
    background-image: -o-linear-gradient(top,  rgb(202, 202, 202) 0%, rgb(180, 180, 180) 50%, rgb(157, 157, 157) 55%, rgb(224, 224, 224) 100%);
    background-image: -ms-linear-gradient(top, rgb(202, 202, 202) 0%, rgb(180, 180, 180) 50%, rgb(157, 157, 157) 55%, rgb(224, 224, 224) 100%);
    background-image: linear-gradient(to bottom,  rgb(202, 202, 202) 0%, rgb(180, 180, 180) 50%, rgb(157, 157, 157) 55%, rgb(224, 224, 224) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#e0e0e0',GradientType=0 );
}

.background_glassyGainsboro2a,
.hover_background_glassyGainsboro2a:hover,
.active_background_glassyGainsboro2a:active:hover {
    background: #bbbbbb;
    background-image: -moz-linear-gradient(top,  rgb(224, 224, 224) 0%, rgb(157, 157, 157) 50%, rgb(180, 180, 180) 55%, rgb(202, 202, 202) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(224, 224, 224)), color-stop(50%, rgb(157, 157, 157)), color-stop(55%, rgb(180, 180, 180)), color-stop(100%, rgb(202, 202, 202)));
    background-image: -webkit-linear-gradient(top,  rgb(224, 224, 224) 0%, rgb(157, 157, 157) 50%, rgb(180, 180, 180) 55%, rgb(202, 202, 202) 100%);
    background-image: -o-linear-gradient(top,  rgb(224, 224, 224) 0%, rgb(157, 157, 157) 50%, rgb(180, 180, 180) 55%, rgb(202, 202, 202) 100%);
    background-image: -ms-linear-gradient(top, rgb(224, 224, 224) 0%, rgb(157, 157, 157) 50%, rgb(180, 180, 180) 55%, rgb(202, 202, 202) 100%);
    background-image: linear-gradient(to bottom,  rgb(224, 224, 224) 0%, rgb(157, 157, 157) 50%, rgb(180, 180, 180) 55%, rgb(202, 202, 202) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#cacaca',GradientType=0 );
}

.background_glassyGainsboro2s,
.hover_background_glassyGainsboro2s:hover,
.active_background_glassyGainsboro2s:active:hover {
    background: #bbbbbb;
    background-image: -moz-linear-gradient(top,  rgb(252, 252, 252) 0%, rgb(224, 224, 224) 50%, rgb(196, 196, 196) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(252, 252, 252)), color-stop(50%, rgb(224, 224, 224)), color-stop(55%, rgb(196, 196, 196)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(252, 252, 252) 0%, rgb(224, 224, 224) 50%, rgb(196, 196, 196) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(252, 252, 252) 0%, rgb(224, 224, 224) 50%, rgb(196, 196, 196) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(252, 252, 252) 0%, rgb(224, 224, 224) 50%, rgb(196, 196, 196) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(252, 252, 252) 0%, rgb(224, 224, 224) 50%, rgb(196, 196, 196) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ffffff',GradientType=0 );
}

.background_color_glassyGainsboro2,
.hover_background_color_glassyGainsboro2:hover,
.active_background_color_glassyGainsboro2:active:hover {
    background-color:#bbbbbb;
}

.background_first_color_glassyGainsboro2,
.hover_background_first_color_glassyGainsboro2:hover,
.active_background_first_color_glassyGainsboro2:active:hover {
    background-color:#a8a8a8;
}

.background_last_color_glassyGainsboro2,
.hover_background_last_color_glassyGainsboro2:hover,
.active_background_color_last_glassyGainsboro2:active:hover {
   background-color:#bbbbbb;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyGainsboro2,
.hover_color_glassyGainsboro2:hover,
.active_color_glassyGainsboro2:active:hover {
    color: #282828;
}

.color_glassyGainsboro2h,
.hover_color_glassyGainsboro2h:hover,
.active_color_glassyGainsboro2h:active:hover {
    color: #282828;
}

.color_glassyGainsboro2a,
.hover_color_glassyGainsboro2a:hover,
.active_color_glassyGainsboro2a:active:hover {
    color: #ff0;
}

.color_glassyGainsboro2s,
.hover_color_glassyGainsboro2s:hover,
.active_color_glassyGainsboro2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyGainsboro2,
.hover_border_glassyGainsboro2:hover,
.active_border_glassyGainsboro2:active:hover {
    border-color: #878787 #707070 #707070 #878787;
}

.border_glassyGainsboro2h,
.hover_border_glassyGainsboro2h:hover,
.active_border_glassyGainsboro2h:active:hover {
    border-color: #878787 #707070 #707070 #878787;
}

.border_glassyGainsboro2a,
.hover_border_glassyGainsboro2a:hover,
.active_border_glassyGainsboro2a:active:hover {
    border-color: #696969 #696969 #696969 #696969;
}

.border_glassyGainsboro2s,
.hover_border_glassyGainsboro2s:hover,
.active_border_glassyGainsboro2s:active:hover {
    border-color: #696969 #696969 #696969 #696969;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyGainsboro2,
.hover_shadow_expand_glassyGainsboro2:hover,
.active_shadow_expand_glassyGainsboro2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(187, 187, 187, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(187, 187, 187, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(187, 187, 187, .39);
}

.shadow_expand_glassyGainsboro2h,
.hover_shadow_expand_glassyGainsboro2h:hover,
.active_shadow_expand_glassyGainsboro2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(224, 224, 224, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(224, 224, 224, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(224, 224, 224, .50);
}

.shadow_expand_glassyGainsboro2a,
.hover_shadow_expand_glassyGainsboro2a:hover,
.active_shadow_expand_glassyGainsboro2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(202, 202, 202, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(202, 202, 202, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(202, 202, 202, .63);
}

.shadow_expand_glassyGainsboro2s,
.hover_shadow_expand_glassyGainsboro2s:hover,
.active_shadow_expand_glassyGainsboro2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(202, 202, 202, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(202, 202, 202, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(202, 202, 202, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyGainsboro2,
.hover_shadow_left_glassyGainsboro2:hover,
.active_shadow_left_glassyGainsboro2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(187, 187, 187, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(187, 187, 187, .39);
    box-shadow: -0.5em -0.5em 1em rgba(187, 187, 187, .39);
}

.shadow_left_glassyGainsboro2h,
.hover_shadow_left_glassyGainsboro2h:hover,
.active_shadow_left_glassyGainsboro2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(224, 224, 224, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(224, 224, 224, .50);
    box-shadow: -0.5em -0.5em 1em rgba(224, 224, 224, .50);
}

.shadow_left_glassyGainsboro2a,
.hover_shadow_left_glassyGainsboro2a:hover,
.active_shadow_left_glassyGainsboro2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(202, 202, 202, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(202, 202, 202, .63);
    box-shadow: -0.5em -0.5em 1em rgba(202, 202, 202, .63);
}

.shadow_left_glassyGainsboro2s,
.hover_shadow_left_glassyGainsboro2s:hover,
.active_shadow_left_glassyGainsboro2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(202, 202, 202, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(202, 202, 202, .78);
    box-shadow: -0.5em -0.5em 1em rgba(202, 202, 202, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyGainsboro2,
.hover_shadow_right_glassyGainsboro2:hover,
.active_shadow_right_glassyGainsboro2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(187, 187, 187, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(187, 187, 187, .39);
    box-shadow: 0.5em 0em 1em rgba(187, 187, 187, .39);
}

.shadow_right_glassyGainsboro2h,
.hover_shadow_right_glassyGainsboro2h:hover,
.active_shadow_right_glassyGainsboro2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(224, 224, 224, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(224, 224, 224, .50);
    box-shadow: 0.5em 0em 1em rgba(224, 224, 224, .50);
}

.shadow_right_glassyGainsboro2a,
.hover_shadow_right_glassyGainsboro2a:hover,
.active_shadow_right_glassyGainsboro2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(202, 202, 202, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(202, 202, 202, .63);
    box-shadow: 0.5em 0em 1em rgba(202, 202, 202, .63);
}

.shadow_right_glassyGainsboro2s,
.hover_shadow_right_glassyGainsboro2s:hover,
.active_shadow_right_glassyGainsboro2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(202, 202, 202, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(202, 202, 202, .78);
    box-shadow: 0.5em 0em 1em rgba(202, 202, 202, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyGainsboro2,
.hover_shadow_top_glassyGainsboro2:hover,
.active_shadow_top_glassyGainsboro2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(187, 187, 187, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(187, 187, 187, .39);
    box-shadow: 0em -0.5em 1em rgba(187, 187, 187, .39);
}

.shadow_top_glassyGainsboro2h,
.hover_shadow_top_glassyGainsboro2h:hover,
.active_shadow_top_glassyGainsboro2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(224, 224, 224, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(224, 224, 224, .50);
    box-shadow: 0em -0.5em 1em rgba(224, 224, 224, .50);
}

.shadow_top_glassyGainsboro2a,
.hover_shadow_top_glassyGainsboro2a:hover,
.active_shadow_top_glassyGainsboro2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(202, 202, 202, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(202, 202, 202, .63);
    box-shadow: 0em -0.5em 1em rgba(202, 202, 202, .63);
}

.shadow_top_glassyGainsboro2s,
.hover_shadow_top_glassyGainsboro2s:hover,
.active_shadow_top_glassyGainsboro2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(202, 202, 202, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(202, 202, 202, .78);
    box-shadow: 0em -0.5em 1em rgba(202, 202, 202, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyGainsboro2,
.hover_shadow_bottom_glassyGainsboro2:hover,
.active_shadow_bottom_glassyGainsboro2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(187, 187, 187, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(187, 187, 187, .39);
    box-shadow: 0em 0.5em 1em rgba(187, 187, 187, .39);
}

.shadow_bottom_glassyGainsboro2h,
.hover_shadow_bottom_glassyGainsboro2h:hover,
.active_shadow_bottom_glassyGainsboro2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(224, 224, 224, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(224, 224, 224, .50);
    box-shadow: 0em 0.5em 1em rgba(224, 224, 224, .50);
}

.shadow_bottom_glassyGainsboro2a,
.hover_shadow_bottom_glassyGainsboro2a:hover,
.active_shadow_bottom_glassyGainsboro2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(202, 202, 202, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(202, 202, 202, .63);
    box-shadow: 0em 0.5em 1em rgba(202, 202, 202, .63);
}

.shadow_bottom_glassyGainsboro2s,
.hover_shadow_bottom_glassyGainsboro2s:hover,
.active_shadow_bottom_glassyGainsboro2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(202, 202, 202, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(202, 202, 202, .78);
    box-shadow: 0em 0.5em 1em rgba(202, 202, 202, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyGainsboro2,
.hover_shadow_top_left_glassyGainsboro2:hover,
.active_shadow_top_left_glassyGainsboro2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(187, 187, 187, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(187, 187, 187, .39);
    box-shadow: -0.5em -0.5em 1em rgba(187, 187, 187, .39);
}

.shadow_top_left_glassyGainsboro2h,
.hover_shadow_top_left_glassyGainsboro2h:hover,
.active_shadow_top_left_glassyGainsboro2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(224, 224, 224, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(224, 224, 224, .50);
    box-shadow: -0.5em -0.5em 1em rgba(224, 224, 224, .50);
}

.shadow_top_left_glassyGainsboro2a,
.hover_shadow_top_left_glassyGainsboro2a:hover,
.active_shadow_top_left_glassyGainsboro2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(202, 202, 202, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(202, 202, 202, .63);
    box-shadow: -0.5em -0.5em 1em rgba(202, 202, 202, .63);
}

.shadow_top_left_glassyGainsboro2s,
.hover_shadow_top_left_glassyGainsboro2s:hover,
.active_shadow_top_left_glassyGainsboro2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(202, 202, 202, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(202, 202, 202, .78);
    box-shadow: -0.5em -0.5em 1em rgba(202, 202, 202, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyGainsboro2,
.hover_shadow_top_right_glassyGainsboro2:hover,
.active_shadow_top_right_glassyGainsboro2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(187, 187, 187, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(187, 187, 187, .39);
    box-shadow: 0.5em -0.5em 1em rgba(187, 187, 187, .39);
}

.shadow_top_right_glassyGainsboro2h,
.hover_shadow_top_right_glassyGainsboro2h:hover,
.active_shadow_top_right_glassyGainsboro2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(224, 224, 224, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(224, 224, 224, .50);
    box-shadow: 0.5em -0.5em 1em rgba(224, 224, 224, .50);
}

.shadow_top_right_glassyGainsboro2a,
.hover_shadow_top_right_glassyGainsboro2a:hover,
.active_shadow_top_right_glassyGainsboro2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(202, 202, 202, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(202, 202, 202, .63);
    box-shadow: 0.5em -0.5em 1em rgba(202, 202, 202, .63);
}

.shadow_top_right_glassyGainsboro2s,
.hover_shadow_top_right_glassyGainsboro2s:hover,
.active_shadow_top_right_glassyGainsboro2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(202, 202, 202, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(202, 202, 202, .78);
    box-shadow: 0.5em -0.5em 1em rgba(202, 202, 202, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyGainsboro2,
.hover_shadow_bottom_left_glassyGainsboro2:hover,
.active_shadow_bottom_left_glassyGainsboro2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(187, 187, 187, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(187, 187, 187, .39);
    box-shadow: -0.5em 0.5em 1em rgba(187, 187, 187, .39);
}

.shadow_bottom_left_glassyGainsboro2h,
.hover_shadow_bottom_left_glassyGainsboro2h:hover,
.active_shadow_bottom_left_glassyGainsboro2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(224, 224, 224, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(224, 224, 224, .50);
    box-shadow: -0.5em 0.5em 1em rgba(224, 224, 224, .50);
}

.shadow_bottom_left_glassyGainsboro2a,
.hover_shadow_bottom_left_glassyGainsboro2a:hover,
.active_shadow_bottom_left_glassyGainsboro2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(202, 202, 202, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(202, 202, 202, .63);
    box-shadow: -0.5em 0.5em 1em rgba(202, 202, 202, .63);
}

.shadow_bottom_left_glassyGainsboro2s,
.hover_shadow_bottom_left_glassyGainsboro2s:hover,
.active_shadow_bottom_left_glassyGainsboro2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(202, 202, 202, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(202, 202, 202, .78);
    box-shadow: -0.5em 0.5em 1em rgba(202, 202, 202, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyGainsboro2,
.hover_shadow_bottom_right_glassyGainsboro2:hover,
.active_shadow_bottom_right_glassyGainsboro2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(187, 187, 187, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(187, 187, 187, .39);
    box-shadow: 0.5em 0.5em 1em rgba(187, 187, 187, .39);
}

.shadow_bottom_right_glassyGainsboro2h,
.hover_shadow_bottom_right_glassyGainsboro2h:hover,
.active_shadow_bottom_right_glassyGainsboro2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(224, 224, 224, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(224, 224, 224, .50);
    box-shadow: 0.5em 0.5em 1em rgba(224, 224, 224, .50);
}

.shadow_bottom_right_glassyGainsboro2a,
 .hover_shadow_bottom_right_glassyGainsboro2a:hover,
 .active_shadow_bottom_right_glassyGainsboro2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(202, 202, 202, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(202, 202, 202, .63);
     box-shadow: 0.5em 0.5em 1em rgba(202, 202, 202, .63);
 }

 .shadow_bottom_right_glassyGainsboro2s,
 .hover_shadow_bottom_right_glassyGainsboro2s:hover,
 .active_shadow_bottom_right_glassyGainsboro2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(202, 202, 202, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(202, 202, 202, .78);
     box-shadow: 0.5em 0.5em 1em rgba(202, 202, 202, .78);
 }