.background_glassyGainsboro6,
.hover_background_glassyGainsboro6:hover,
.active_background_glassyGainsboro6:active:hover {
    background: #626262;
    background-image: -moz-linear-gradient(top,  rgb(88, 88, 88) 0%, rgb(78, 78, 78) 50%, rgb(68, 68, 68) 55%, rgb(98, 98, 98) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(88, 88, 88)), color-stop(50%, rgb(78, 78, 78)), color-stop(55%, rgb(68, 68, 68)), color-stop(100%, rgb(98, 98, 98)));
    background-image: -webkit-linear-gradient(top,  rgb(88, 88, 88) 0%, rgb(78, 78, 78) 50%, rgb(68, 68, 68) 55%, rgb(98, 98, 98) 100%);
    background-image: -o-linear-gradient(top,  rgb(88, 88, 88) 0%, rgb(78, 78, 78) 50%, rgb(68, 68, 68) 55%, rgb(98, 98, 98) 100%);
    background-image: -ms-linear-gradient(top, rgb(88, 88, 88) 0%, rgb(78, 78, 78) 50%, rgb(68, 68, 68) 55%, rgb(98, 98, 98) 100%);
    background-image: linear-gradient(to bottom,  rgb(88, 88, 88) 0%, rgb(78, 78, 78) 50%, rgb(68, 68, 68) 55%, rgb(98, 98, 98) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#626262',GradientType=0 );
}

.background_glassyGainsboro6h,
.hover_background_glassyGainsboro6h:hover,
.active_background_glassyGainsboro6h:active:hover {
    background: #626262;
    background-image: -moz-linear-gradient(top,  rgb(105, 105, 105) 0%, rgb(94, 94, 94) 50%, rgb(82, 82, 82) 55%, rgb(117, 117, 117) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(105, 105, 105)), color-stop(50%, rgb(94, 94, 94)), color-stop(55%, rgb(82, 82, 82)), color-stop(100%, rgb(117, 117, 117)));
    background-image: -webkit-linear-gradient(top,  rgb(105, 105, 105) 0%, rgb(94, 94, 94) 50%, rgb(82, 82, 82) 55%, rgb(117, 117, 117) 100%);
    background-image: -o-linear-gradient(top,  rgb(105, 105, 105) 0%, rgb(94, 94, 94) 50%, rgb(82, 82, 82) 55%, rgb(117, 117, 117) 100%);
    background-image: -ms-linear-gradient(top, rgb(105, 105, 105) 0%, rgb(94, 94, 94) 50%, rgb(82, 82, 82) 55%, rgb(117, 117, 117) 100%);
    background-image: linear-gradient(to bottom,  rgb(105, 105, 105) 0%, rgb(94, 94, 94) 50%, rgb(82, 82, 82) 55%, rgb(117, 117, 117) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#757575',GradientType=0 );
}

.background_glassyGainsboro6a,
.hover_background_glassyGainsboro6a:hover,
.active_background_glassyGainsboro6a:active:hover {
    background: #626262;
    background-image: -moz-linear-gradient(top,  rgb(117, 117, 117) 0%, rgb(82, 82, 82) 50%, rgb(94, 94, 94) 55%, rgb(105, 105, 105) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(117, 117, 117)), color-stop(50%, rgb(82, 82, 82)), color-stop(55%, rgb(94, 94, 94)), color-stop(100%, rgb(105, 105, 105)));
    background-image: -webkit-linear-gradient(top,  rgb(117, 117, 117) 0%, rgb(82, 82, 82) 50%, rgb(94, 94, 94) 55%, rgb(105, 105, 105) 100%);
    background-image: -o-linear-gradient(top,  rgb(117, 117, 117) 0%, rgb(82, 82, 82) 50%, rgb(94, 94, 94) 55%, rgb(105, 105, 105) 100%);
    background-image: -ms-linear-gradient(top, rgb(117, 117, 117) 0%, rgb(82, 82, 82) 50%, rgb(94, 94, 94) 55%, rgb(105, 105, 105) 100%);
    background-image: linear-gradient(to bottom,  rgb(117, 117, 117) 0%, rgb(82, 82, 82) 50%, rgb(94, 94, 94) 55%, rgb(105, 105, 105) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#696969',GradientType=0 );
}

.background_glassyGainsboro6s,
.hover_background_glassyGainsboro6s:hover,
.active_background_glassyGainsboro6s:active:hover {
    background: #626262;
    background-image: -moz-linear-gradient(top,  rgb(132, 132, 132) 0%, rgb(117, 117, 117) 50%, rgb(102, 102, 102) 55%, rgb(146, 146, 146) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(132, 132, 132)), color-stop(50%, rgb(117, 117, 117)), color-stop(55%, rgb(102, 102, 102)), color-stop(100%, rgb(146, 146, 146)));
    background-image: -webkit-linear-gradient(top,  rgb(132, 132, 132) 0%, rgb(117, 117, 117) 50%, rgb(102, 102, 102) 55%, rgb(146, 146, 146) 100%);
    background-image: -o-linear-gradient(top,  rgb(132, 132, 132) 0%, rgb(117, 117, 117) 50%, rgb(102, 102, 102) 55%, rgb(146, 146, 146) 100%);
    background-image: -ms-linear-gradient(top, rgb(132, 132, 132) 0%, rgb(117, 117, 117) 50%, rgb(102, 102, 102) 55%, rgb(146, 146, 146) 100%);
    background-image: linear-gradient(to bottom,  rgb(132, 132, 132) 0%, rgb(117, 117, 117) 50%, rgb(102, 102, 102) 55%, rgb(146, 146, 146) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#848484', endColorstr='#929292',GradientType=0 );
}

.background_color_glassyGainsboro6,
.hover_background_color_glassyGainsboro6:hover,
.active_background_color_glassyGainsboro6:active:hover {
    background-color:#626262;
}

.background_first_color_glassyGainsboro6,
.hover_background_first_color_glassyGainsboro6:hover,
.active_background_first_color_glassyGainsboro6:active:hover {
    background-color:#585858;
}

.background_last_color_glassyGainsboro6,
.hover_background_last_color_glassyGainsboro6:hover,
.active_background_color_last_glassyGainsboro6:active:hover {
   background-color:#626262;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyGainsboro6,
.hover_color_glassyGainsboro6:hover,
.active_color_glassyGainsboro6:active:hover {
    color: #c8c8c8;
}

.color_glassyGainsboro6h,
.hover_color_glassyGainsboro6h:hover,
.active_color_glassyGainsboro6h:active:hover {
    color: #c8c8c8;
}

.color_glassyGainsboro6a,
.hover_color_glassyGainsboro6a:hover,
.active_color_glassyGainsboro6a:active:hover {
    color: #ff0;
}

.color_glassyGainsboro6s,
.hover_color_glassyGainsboro6s:hover,
.active_color_glassyGainsboro6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyGainsboro6,
.hover_border_glassyGainsboro6:hover,
.active_border_glassyGainsboro6:active:hover {
    border-color: #464646 #3b3b3b #3b3b3b #464646;
}

.border_glassyGainsboro6h,
.hover_border_glassyGainsboro6h:hover,
.active_border_glassyGainsboro6h:active:hover {
    border-color: #464646 #3b3b3b #3b3b3b #464646;
}

.border_glassyGainsboro6a,
.hover_border_glassyGainsboro6a:hover,
.active_border_glassyGainsboro6a:active:hover {
    border-color: #373737 #373737 #373737 #373737;
}

.border_glassyGainsboro6s,
.hover_border_glassyGainsboro6s:hover,
.active_border_glassyGainsboro6s:active:hover {
    border-color: #373737 #373737 #373737 #373737;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyGainsboro6,
.hover_shadow_expand_glassyGainsboro6:hover,
.active_shadow_expand_glassyGainsboro6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(98, 98, 98, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(98, 98, 98, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(98, 98, 98, .39);
}

.shadow_expand_glassyGainsboro6h,
.hover_shadow_expand_glassyGainsboro6h:hover,
.active_shadow_expand_glassyGainsboro6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(117, 117, 117, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(117, 117, 117, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(117, 117, 117, .50);
}

.shadow_expand_glassyGainsboro6a,
.hover_shadow_expand_glassyGainsboro6a:hover,
.active_shadow_expand_glassyGainsboro6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(105, 105, 105, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(105, 105, 105, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(105, 105, 105, .63);
}

.shadow_expand_glassyGainsboro6s,
.hover_shadow_expand_glassyGainsboro6s:hover,
.active_shadow_expand_glassyGainsboro6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(105, 105, 105, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(105, 105, 105, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(105, 105, 105, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyGainsboro6,
.hover_shadow_left_glassyGainsboro6:hover,
.active_shadow_left_glassyGainsboro6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(98, 98, 98, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(98, 98, 98, .39);
    box-shadow: -0.5em -0.5em 1em rgba(98, 98, 98, .39);
}

.shadow_left_glassyGainsboro6h,
.hover_shadow_left_glassyGainsboro6h:hover,
.active_shadow_left_glassyGainsboro6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(117, 117, 117, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(117, 117, 117, .50);
    box-shadow: -0.5em -0.5em 1em rgba(117, 117, 117, .50);
}

.shadow_left_glassyGainsboro6a,
.hover_shadow_left_glassyGainsboro6a:hover,
.active_shadow_left_glassyGainsboro6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(105, 105, 105, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(105, 105, 105, .63);
    box-shadow: -0.5em -0.5em 1em rgba(105, 105, 105, .63);
}

.shadow_left_glassyGainsboro6s,
.hover_shadow_left_glassyGainsboro6s:hover,
.active_shadow_left_glassyGainsboro6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(105, 105, 105, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(105, 105, 105, .78);
    box-shadow: -0.5em -0.5em 1em rgba(105, 105, 105, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyGainsboro6,
.hover_shadow_right_glassyGainsboro6:hover,
.active_shadow_right_glassyGainsboro6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(98, 98, 98, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(98, 98, 98, .39);
    box-shadow: 0.5em 0em 1em rgba(98, 98, 98, .39);
}

.shadow_right_glassyGainsboro6h,
.hover_shadow_right_glassyGainsboro6h:hover,
.active_shadow_right_glassyGainsboro6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(117, 117, 117, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(117, 117, 117, .50);
    box-shadow: 0.5em 0em 1em rgba(117, 117, 117, .50);
}

.shadow_right_glassyGainsboro6a,
.hover_shadow_right_glassyGainsboro6a:hover,
.active_shadow_right_glassyGainsboro6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(105, 105, 105, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(105, 105, 105, .63);
    box-shadow: 0.5em 0em 1em rgba(105, 105, 105, .63);
}

.shadow_right_glassyGainsboro6s,
.hover_shadow_right_glassyGainsboro6s:hover,
.active_shadow_right_glassyGainsboro6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(105, 105, 105, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(105, 105, 105, .78);
    box-shadow: 0.5em 0em 1em rgba(105, 105, 105, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyGainsboro6,
.hover_shadow_top_glassyGainsboro6:hover,
.active_shadow_top_glassyGainsboro6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(98, 98, 98, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(98, 98, 98, .39);
    box-shadow: 0em -0.5em 1em rgba(98, 98, 98, .39);
}

.shadow_top_glassyGainsboro6h,
.hover_shadow_top_glassyGainsboro6h:hover,
.active_shadow_top_glassyGainsboro6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(117, 117, 117, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(117, 117, 117, .50);
    box-shadow: 0em -0.5em 1em rgba(117, 117, 117, .50);
}

.shadow_top_glassyGainsboro6a,
.hover_shadow_top_glassyGainsboro6a:hover,
.active_shadow_top_glassyGainsboro6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(105, 105, 105, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(105, 105, 105, .63);
    box-shadow: 0em -0.5em 1em rgba(105, 105, 105, .63);
}

.shadow_top_glassyGainsboro6s,
.hover_shadow_top_glassyGainsboro6s:hover,
.active_shadow_top_glassyGainsboro6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(105, 105, 105, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(105, 105, 105, .78);
    box-shadow: 0em -0.5em 1em rgba(105, 105, 105, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyGainsboro6,
.hover_shadow_bottom_glassyGainsboro6:hover,
.active_shadow_bottom_glassyGainsboro6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(98, 98, 98, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(98, 98, 98, .39);
    box-shadow: 0em 0.5em 1em rgba(98, 98, 98, .39);
}

.shadow_bottom_glassyGainsboro6h,
.hover_shadow_bottom_glassyGainsboro6h:hover,
.active_shadow_bottom_glassyGainsboro6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(117, 117, 117, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(117, 117, 117, .50);
    box-shadow: 0em 0.5em 1em rgba(117, 117, 117, .50);
}

.shadow_bottom_glassyGainsboro6a,
.hover_shadow_bottom_glassyGainsboro6a:hover,
.active_shadow_bottom_glassyGainsboro6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(105, 105, 105, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(105, 105, 105, .63);
    box-shadow: 0em 0.5em 1em rgba(105, 105, 105, .63);
}

.shadow_bottom_glassyGainsboro6s,
.hover_shadow_bottom_glassyGainsboro6s:hover,
.active_shadow_bottom_glassyGainsboro6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(105, 105, 105, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(105, 105, 105, .78);
    box-shadow: 0em 0.5em 1em rgba(105, 105, 105, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyGainsboro6,
.hover_shadow_top_left_glassyGainsboro6:hover,
.active_shadow_top_left_glassyGainsboro6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(98, 98, 98, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(98, 98, 98, .39);
    box-shadow: -0.5em -0.5em 1em rgba(98, 98, 98, .39);
}

.shadow_top_left_glassyGainsboro6h,
.hover_shadow_top_left_glassyGainsboro6h:hover,
.active_shadow_top_left_glassyGainsboro6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(117, 117, 117, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(117, 117, 117, .50);
    box-shadow: -0.5em -0.5em 1em rgba(117, 117, 117, .50);
}

.shadow_top_left_glassyGainsboro6a,
.hover_shadow_top_left_glassyGainsboro6a:hover,
.active_shadow_top_left_glassyGainsboro6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(105, 105, 105, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(105, 105, 105, .63);
    box-shadow: -0.5em -0.5em 1em rgba(105, 105, 105, .63);
}

.shadow_top_left_glassyGainsboro6s,
.hover_shadow_top_left_glassyGainsboro6s:hover,
.active_shadow_top_left_glassyGainsboro6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(105, 105, 105, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(105, 105, 105, .78);
    box-shadow: -0.5em -0.5em 1em rgba(105, 105, 105, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyGainsboro6,
.hover_shadow_top_right_glassyGainsboro6:hover,
.active_shadow_top_right_glassyGainsboro6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(98, 98, 98, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(98, 98, 98, .39);
    box-shadow: 0.5em -0.5em 1em rgba(98, 98, 98, .39);
}

.shadow_top_right_glassyGainsboro6h,
.hover_shadow_top_right_glassyGainsboro6h:hover,
.active_shadow_top_right_glassyGainsboro6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(117, 117, 117, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(117, 117, 117, .50);
    box-shadow: 0.5em -0.5em 1em rgba(117, 117, 117, .50);
}

.shadow_top_right_glassyGainsboro6a,
.hover_shadow_top_right_glassyGainsboro6a:hover,
.active_shadow_top_right_glassyGainsboro6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(105, 105, 105, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(105, 105, 105, .63);
    box-shadow: 0.5em -0.5em 1em rgba(105, 105, 105, .63);
}

.shadow_top_right_glassyGainsboro6s,
.hover_shadow_top_right_glassyGainsboro6s:hover,
.active_shadow_top_right_glassyGainsboro6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(105, 105, 105, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(105, 105, 105, .78);
    box-shadow: 0.5em -0.5em 1em rgba(105, 105, 105, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyGainsboro6,
.hover_shadow_bottom_left_glassyGainsboro6:hover,
.active_shadow_bottom_left_glassyGainsboro6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(98, 98, 98, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(98, 98, 98, .39);
    box-shadow: -0.5em 0.5em 1em rgba(98, 98, 98, .39);
}

.shadow_bottom_left_glassyGainsboro6h,
.hover_shadow_bottom_left_glassyGainsboro6h:hover,
.active_shadow_bottom_left_glassyGainsboro6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(117, 117, 117, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(117, 117, 117, .50);
    box-shadow: -0.5em 0.5em 1em rgba(117, 117, 117, .50);
}

.shadow_bottom_left_glassyGainsboro6a,
.hover_shadow_bottom_left_glassyGainsboro6a:hover,
.active_shadow_bottom_left_glassyGainsboro6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(105, 105, 105, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(105, 105, 105, .63);
    box-shadow: -0.5em 0.5em 1em rgba(105, 105, 105, .63);
}

.shadow_bottom_left_glassyGainsboro6s,
.hover_shadow_bottom_left_glassyGainsboro6s:hover,
.active_shadow_bottom_left_glassyGainsboro6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(105, 105, 105, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(105, 105, 105, .78);
    box-shadow: -0.5em 0.5em 1em rgba(105, 105, 105, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyGainsboro6,
.hover_shadow_bottom_right_glassyGainsboro6:hover,
.active_shadow_bottom_right_glassyGainsboro6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(98, 98, 98, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(98, 98, 98, .39);
    box-shadow: 0.5em 0.5em 1em rgba(98, 98, 98, .39);
}

.shadow_bottom_right_glassyGainsboro6h,
.hover_shadow_bottom_right_glassyGainsboro6h:hover,
.active_shadow_bottom_right_glassyGainsboro6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(117, 117, 117, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(117, 117, 117, .50);
    box-shadow: 0.5em 0.5em 1em rgba(117, 117, 117, .50);
}

.shadow_bottom_right_glassyGainsboro6a,
 .hover_shadow_bottom_right_glassyGainsboro6a:hover,
 .active_shadow_bottom_right_glassyGainsboro6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(105, 105, 105, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(105, 105, 105, .63);
     box-shadow: 0.5em 0.5em 1em rgba(105, 105, 105, .63);
 }

 .shadow_bottom_right_glassyGainsboro6s,
 .hover_shadow_bottom_right_glassyGainsboro6s:hover,
 .active_shadow_bottom_right_glassyGainsboro6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(105, 105, 105, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(105, 105, 105, .78);
     box-shadow: 0.5em 0.5em 1em rgba(105, 105, 105, .78);
 }