.aquaLemonChiffon5,
.hover_aquaLemonChiffon5:hover,
.active_aquaLemonChiffon5:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(255, 217, 65, .39),
           inset 0 -0.5em 0.9em 0 #ffe2a7,
           inset 0 -0.5em 0em 0.65em rgb(255, 211, 14),
           inset 0 0em 0.5em 2em rgb(238, 223, 158);
    -moz-box-shadow: 0 0.63em 0.75em rgba(255, 217, 65, .39),
           inset 0 -0.5em 0.9em 0 #ffe2a7,
           inset 0 -0.5em 0em 0.65em rgb(255, 211, 14),
           inset 0 0em 0.5em 2em rgb(238, 223, 158);
    box-shadow: 0 0.63em 0.75em rgba(255, 217, 65, .39),
           inset 0 -0.5em 0.9em 0 #ffe2a7,
           inset 0 -0.5em 0em 0.65em rgb(255, 211, 14),
           inset 0 0em 0.5em 2em rgb(238, 223, 158);
}

.aquaLemonChiffon5h,
.hover_aquaLemonChiffon5h:hover,
.active_aquaLemonChiffon5h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(255, 222, 90, .55),
           inset 0 -0.5em 0.9em 0 #fff3da,
           inset 0 -0.5em 0em 0.65em #ffe574,
           inset 0 0em 0.5em 2em #fef8db;
    -moz-box-shadow:0 0.63em 1em rgba(255, 222, 90, .55),
           inset 0 -0.5em 0.9em 0 #fff3da,
           inset 0 -0.5em 0em 0.65em #ffe574,
           inset 0 0em 0.5em 2em #fef8db;
    box-shadow:0 0.63em 1em rgba(255, 222, 90, .55),
           inset 0 -0.5em 0.9em 0 #fff3da,
           inset 0 -0.5em 0em 0.65em #ffe574,
           inset 0 0em 0.5em 2em #fef8db;
}

.aquaLemonChiffon5a,
.hover_aquaLemonChiffon5a:hover,
.active_aquaLemonChiffon5a:active {
    /*background: #ecd400;*/

    -webkit-box-shadow:0 0.63em 1em rgba(255, 207, 14, .55),
           inset 0 -0.5em 0.9em 0 #ffeac0,
           inset 0 -0.5em 0em 0.65em #ffdb3c,
           inset 0 0em 0.5em 2em #ffea8d;
    -moz-box-shadow:0 0.63em 1em rgba(255, 207, 14, .55),
           inset 0 -0.5em 0.9em 0 #ffeac0,
           inset 0 -0.5em 0em 0.65em #ffdb3c,
           inset 0 0em 0.5em 2em #ffea8d;
    box-shadow:0 0.63em 1em rgba(255, 207, 14, .55),
           inset 0 -0.5em 0.9em 0 #ffeac0,
           inset 0 -0.5em 0em 0.65em #ffdb3c,
           inset 0 0em 0.5em 2em #ffea8d;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaLemonChiffon5,
.hover_color_aquaLemonChiffon5:hover,
.active_color_aquaLemonChiffon5:active {
    color: #282828;
}

.color_aquaLemonChiffon5h,
.hover_color_aquaLemonChiffon5h:hover,
.active_color_aquaLemonChiffon5h:active {
    color: #282828;
}

.color_aquaLemonChiffon5a,
.hover_color_aquaLemonChiffon5a:hover,
.active_color_aquaLemonChiffon5a:active {
    color: #282828;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaLemonChiffon5,
.hover_border_aquaLemonChiffon5:hover,
.active_border_aquaLemonChiffon5:active {
    border-color: #ecd400 #ecd400 #ecd400 #ecd400;
}

.border_aquaLemonChiffon5h,
.hover_border_aquaLemonChiffon5h:hover,
.active_border_aquaLemonChiffon5h:active {
    border-color: #ecd400 #ecd400 #ecd400 #ecd400;
}

.border_aquaLemonChiffon5a,
.hover_border_aquaLemonChiffon5a:hover,
.active_border_aquaLemonChiffon5a:active  {
    border-color: #ecd400 #ecd400 #ecd400 #ecd400;
}

