.aquaLemonChiffon6,
.hover_aquaLemonChiffon6:hover,
.active_aquaLemonChiffon6:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(255, 206, 10, .39),
           inset 0 -0.5em 0.9em 0 #ffcf70,
           inset 0 -0.5em 0em 0.65em rgb(214, 175, 0),
           inset 0 0em 0.5em 2em rgb(230, 208, 112);
    -moz-box-shadow: 0 0.63em 0.75em rgba(255, 206, 10, .39),
           inset 0 -0.5em 0.9em 0 #ffcf70,
           inset 0 -0.5em 0em 0.65em rgb(214, 175, 0),
           inset 0 0em 0.5em 2em rgb(230, 208, 112);
    box-shadow: 0 0.63em 0.75em rgba(255, 206, 10, .39),
           inset 0 -0.5em 0.9em 0 #ffcf70,
           inset 0 -0.5em 0em 0.65em rgb(214, 175, 0),
           inset 0 0em 0.5em 2em rgb(230, 208, 112);
}

.aquaLemonChiffon6h,
.hover_aquaLemonChiffon6h:hover,
.active_aquaLemonChiffon6h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(255, 211, 35, .55),
           inset 0 -0.5em 0.9em 0 #ffe0a3,
           inset 0 -0.5em 0em 0.65em #ffdb3d,
           inset 0 0em 0.5em 2em #fdeda5;
    -moz-box-shadow:0 0.63em 1em rgba(255, 211, 35, .55),
           inset 0 -0.5em 0.9em 0 #ffe0a3,
           inset 0 -0.5em 0em 0.65em #ffdb3d,
           inset 0 0em 0.5em 2em #fdeda5;
    box-shadow:0 0.63em 1em rgba(255, 211, 35, .55),
           inset 0 -0.5em 0.9em 0 #ffe0a3,
           inset 0 -0.5em 0em 0.65em #ffdb3d,
           inset 0 0em 0.5em 2em #fdeda5;
}

.aquaLemonChiffon6a,
.hover_aquaLemonChiffon6a:hover,
.active_aquaLemonChiffon6a:active {
    /*background: #bfac00;*/

    -webkit-box-shadow:0 0.63em 1em rgba(214, 171, 0, .55),
           inset 0 -0.5em 0.9em 0 #ffd889,
           inset 0 -0.5em 0em 0.65em #ffd105,
           inset 0 0em 0.5em 2em #ffe056;
    -moz-box-shadow:0 0.63em 1em rgba(214, 171, 0, .55),
           inset 0 -0.5em 0.9em 0 #ffd889,
           inset 0 -0.5em 0em 0.65em #ffd105,
           inset 0 0em 0.5em 2em #ffe056;
    box-shadow:0 0.63em 1em rgba(214, 171, 0, .55),
           inset 0 -0.5em 0.9em 0 #ffd889,
           inset 0 -0.5em 0em 0.65em #ffd105,
           inset 0 0em 0.5em 2em #ffe056;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaLemonChiffon6,
.hover_color_aquaLemonChiffon6:hover,
.active_color_aquaLemonChiffon6:active {
    color: #282828;
}

.color_aquaLemonChiffon6h,
.hover_color_aquaLemonChiffon6h:hover,
.active_color_aquaLemonChiffon6h:active {
    color: #c8c8c8;
}

.color_aquaLemonChiffon6a,
.hover_color_aquaLemonChiffon6a:hover,
.active_color_aquaLemonChiffon6a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaLemonChiffon6,
.hover_border_aquaLemonChiffon6:hover,
.active_border_aquaLemonChiffon6:active {
    border-color: #bfac00 #bfac00 #bfac00 #bfac00;
}

.border_aquaLemonChiffon6h,
.hover_border_aquaLemonChiffon6h:hover,
.active_border_aquaLemonChiffon6h:active {
    border-color: #bfac00 #bfac00 #bfac00 #bfac00;
}

.border_aquaLemonChiffon6a,
.hover_border_aquaLemonChiffon6a:hover,
.active_border_aquaLemonChiffon6a:active  {
    border-color: #bfac00 #bfac00 #bfac00 #bfac00;
}

