.aquaLavender6,
.hover_aquaLavender6:hover,
.active_aquaLavender6:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(59, 75, 216, .39),
           inset 0 -0.5em 0.9em 0 #8aa1ef,
           inset 0 -0.5em 0em 0.65em rgb(4, 22, 220),
           inset 0 0em 0.5em 2em rgb(147, 152, 205);
    -moz-box-shadow: 0 0.63em 0.75em rgba(59, 75, 216, .39),
           inset 0 -0.5em 0.9em 0 #8aa1ef,
           inset 0 -0.5em 0em 0.65em rgb(4, 22, 220),
           inset 0 0em 0.5em 2em rgb(147, 152, 205);
    box-shadow: 0 0.63em 0.75em rgba(59, 75, 216, .39),
           inset 0 -0.5em 0.9em 0 #8aa1ef,
           inset 0 -0.5em 0em 0.65em rgb(4, 22, 220),
           inset 0 0em 0.5em 2em rgb(147, 152, 205);
}

.aquaLavender6h,
.hover_aquaLavender6h:hover,
.active_aquaLavender6h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(80, 94, 220, .55),
           inset 0 -0.5em 0.9em 0 #b7c5f5,
           inset 0 -0.5em 0em 0.65em #5d68ea,
           inset 0 0em 0.5em 2em #bdc1ef;
    -moz-box-shadow:0 0.63em 1em rgba(80, 94, 220, .55),
           inset 0 -0.5em 0.9em 0 #b7c5f5,
           inset 0 -0.5em 0em 0.65em #5d68ea,
           inset 0 0em 0.5em 2em #bdc1ef;
    box-shadow:0 0.63em 1em rgba(80, 94, 220, .55),
           inset 0 -0.5em 0.9em 0 #b7c5f5,
           inset 0 -0.5em 0em 0.65em #5d68ea,
           inset 0 0em 0.5em 2em #bdc1ef;
}

.aquaLavender6a,
.hover_aquaLavender6a:hover,
.active_aquaLavender6a:active {
    /*background: #5050dc;*/

    -webkit-box-shadow:0 0.63em 1em rgba(21, 39, 204, .55),
           inset 0 -0.5em 0.9em 0 #98affb,
           inset 0 -0.5em 0em 0.65em #192bf5,
           inset 0 0em 0.5em 2em #737ded;
    -moz-box-shadow:0 0.63em 1em rgba(21, 39, 204, .55),
           inset 0 -0.5em 0.9em 0 #98affb,
           inset 0 -0.5em 0em 0.65em #192bf5,
           inset 0 0em 0.5em 2em #737ded;
    box-shadow:0 0.63em 1em rgba(21, 39, 204, .55),
           inset 0 -0.5em 0.9em 0 #98affb,
           inset 0 -0.5em 0em 0.65em #192bf5,
           inset 0 0em 0.5em 2em #737ded;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaLavender6,
.hover_color_aquaLavender6:hover,
.active_color_aquaLavender6:active {
    color: #c8c8c8;
}

.color_aquaLavender6h,
.hover_color_aquaLavender6h:hover,
.active_color_aquaLavender6h:active {
    color: #c8c8c8;
}

.color_aquaLavender6a,
.hover_color_aquaLavender6a:hover,
.active_color_aquaLavender6a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaLavender6,
.hover_border_aquaLavender6:hover,
.active_border_aquaLavender6:active {
    border-color: #2121a6 #2121a6 #2121a6 #2121a6;
}

.border_aquaLavender6h,
.hover_border_aquaLavender6h:hover,
.active_border_aquaLavender6h:active {
    border-color: #2121a6 #2121a6 #2121a6 #2121a6;
}

.border_aquaLavender6a,
.hover_border_aquaLavender6a:hover,
.active_border_aquaLavender6a:active  {
    border-color: #2121a6 #2121a6 #2121a6 #2121a6;
}

