.background_glassyCornsilk5,
.hover_background_glassyCornsilk5:hover,
.active_background_glassyCornsilk5:active:hover {
    background: #f8c600;
    background-image: -moz-linear-gradient(top,  rgb(223, 179, 0) 0%, rgb(198, 159, 0) 50%, rgb(174, 139, 0) 55%, rgb(248, 198, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(223, 179, 0)), color-stop(50%, rgb(198, 159, 0)), color-stop(55%, rgb(174, 139, 0)), color-stop(100%, rgb(248, 198, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(223, 179, 0) 0%, rgb(198, 159, 0) 50%, rgb(174, 139, 0) 55%, rgb(248, 198, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(223, 179, 0) 0%, rgb(198, 159, 0) 50%, rgb(174, 139, 0) 55%, rgb(248, 198, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(223, 179, 0) 0%, rgb(198, 159, 0) 50%, rgb(174, 139, 0) 55%, rgb(248, 198, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(223, 179, 0) 0%, rgb(198, 159, 0) 50%, rgb(174, 139, 0) 55%, rgb(248, 198, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfb300', endColorstr='#f8c600',GradientType=0 );
}

.background_glassyCornsilk5h,
.hover_background_glassyCornsilk5h:hover,
.active_background_glassyCornsilk5h:active:hover {
    background: #f8c600;
    background-image: -moz-linear-gradient(top,  rgb(255, 207, 13) 0%, rgb(238, 190, 0) 50%, rgb(208, 167, 0) 55%, rgb(255, 213, 43) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 207, 13)), color-stop(50%, rgb(238, 190, 0)), color-stop(55%, rgb(208, 167, 0)), color-stop(100%, rgb(255, 213, 43)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 207, 13) 0%, rgb(238, 190, 0) 50%, rgb(208, 167, 0) 55%, rgb(255, 213, 43) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 207, 13) 0%, rgb(238, 190, 0) 50%, rgb(208, 167, 0) 55%, rgb(255, 213, 43) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 207, 13) 0%, rgb(238, 190, 0) 50%, rgb(208, 167, 0) 55%, rgb(255, 213, 43) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 207, 13) 0%, rgb(238, 190, 0) 50%, rgb(208, 167, 0) 55%, rgb(255, 213, 43) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcf0d', endColorstr='#ffd52b',GradientType=0 );
}

.background_glassyCornsilk5a,
.hover_background_glassyCornsilk5a:hover,
.active_background_glassyCornsilk5a:active:hover {
    background: #f8c600;
    background-image: -moz-linear-gradient(top,  rgb(255, 213, 43) 0%, rgb(208, 167, 0) 50%, rgb(238, 190, 0) 55%, rgb(255, 207, 13) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 213, 43)), color-stop(50%, rgb(208, 167, 0)), color-stop(55%, rgb(238, 190, 0)), color-stop(100%, rgb(255, 207, 13)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 213, 43) 0%, rgb(208, 167, 0) 50%, rgb(238, 190, 0) 55%, rgb(255, 207, 13) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 213, 43) 0%, rgb(208, 167, 0) 50%, rgb(238, 190, 0) 55%, rgb(255, 207, 13) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 213, 43) 0%, rgb(208, 167, 0) 50%, rgb(238, 190, 0) 55%, rgb(255, 207, 13) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 213, 43) 0%, rgb(208, 167, 0) 50%, rgb(238, 190, 0) 55%, rgb(255, 207, 13) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd52b', endColorstr='#ffcf0d',GradientType=0 );
}

.background_glassyCornsilk5s,
.hover_background_glassyCornsilk5s:hover,
.active_background_glassyCornsilk5s:active:hover {
    background: #f8c600;
    background-image: -moz-linear-gradient(top,  rgb(255, 220, 80) 0%, rgb(255, 213, 43) 50%, rgb(255, 205, 5) 55%, rgb(255, 227, 117) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 220, 80)), color-stop(50%, rgb(255, 213, 43)), color-stop(55%, rgb(255, 205, 5)), color-stop(100%, rgb(255, 227, 117)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 220, 80) 0%, rgb(255, 213, 43) 50%, rgb(255, 205, 5) 55%, rgb(255, 227, 117) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 220, 80) 0%, rgb(255, 213, 43) 50%, rgb(255, 205, 5) 55%, rgb(255, 227, 117) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 220, 80) 0%, rgb(255, 213, 43) 50%, rgb(255, 205, 5) 55%, rgb(255, 227, 117) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 220, 80) 0%, rgb(255, 213, 43) 50%, rgb(255, 205, 5) 55%, rgb(255, 227, 117) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc50', endColorstr='#ffe375',GradientType=0 );
}

.background_color_glassyCornsilk5,
.hover_background_color_glassyCornsilk5:hover,
.active_background_color_glassyCornsilk5:active:hover {
    background-color:#f8c600;
}

.background_first_color_glassyCornsilk5,
.hover_background_first_color_glassyCornsilk5:hover,
.active_background_first_color_glassyCornsilk5:active:hover {
    background-color:#dfb300;
}

.background_last_color_glassyCornsilk5,
.hover_background_last_color_glassyCornsilk5:hover,
.active_background_color_last_glassyCornsilk5:active:hover {
   background-color:#f8c600;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyCornsilk5,
.hover_color_glassyCornsilk5:hover,
.active_color_glassyCornsilk5:active:hover {
    color: #282828;
}

.color_glassyCornsilk5h,
.hover_color_glassyCornsilk5h:hover,
.active_color_glassyCornsilk5h:active:hover {
    color: #282828;
}

.color_glassyCornsilk5a,
.hover_color_glassyCornsilk5a:hover,
.active_color_glassyCornsilk5a:active:hover {
    color: #ff0;
}

.color_glassyCornsilk5s,
.hover_color_glassyCornsilk5s:hover,
.active_color_glassyCornsilk5s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyCornsilk5,
.hover_border_glassyCornsilk5:hover,
.active_border_glassyCornsilk5:active:hover {
    border-color: #b38f00 #957700 #957700 #b38f00;
}

.border_glassyCornsilk5h,
.hover_border_glassyCornsilk5h:hover,
.active_border_glassyCornsilk5h:active:hover {
    border-color: #b38f00 #957700 #957700 #b38f00;
}

.border_glassyCornsilk5a,
.hover_border_glassyCornsilk5a:hover,
.active_border_glassyCornsilk5a:active:hover {
    border-color: #8b6f00 #8b6f00 #8b6f00 #8b6f00;
}

.border_glassyCornsilk5s,
.hover_border_glassyCornsilk5s:hover,
.active_border_glassyCornsilk5s:active:hover {
    border-color: #8b6f00 #8b6f00 #8b6f00 #8b6f00;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyCornsilk5,
.hover_shadow_expand_glassyCornsilk5:hover,
.active_shadow_expand_glassyCornsilk5:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(248, 198, 0, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(248, 198, 0, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(248, 198, 0, .39);
}

.shadow_expand_glassyCornsilk5h,
.hover_shadow_expand_glassyCornsilk5h:hover,
.active_shadow_expand_glassyCornsilk5h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 213, 43, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 213, 43, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 213, 43, .50);
}

.shadow_expand_glassyCornsilk5a,
.hover_shadow_expand_glassyCornsilk5a:hover,
.active_shadow_expand_glassyCornsilk5a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 207, 13, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 207, 13, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 207, 13, .63);
}

.shadow_expand_glassyCornsilk5s,
.hover_shadow_expand_glassyCornsilk5s:hover,
.active_shadow_expand_glassyCornsilk5s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 207, 13, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 207, 13, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 207, 13, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyCornsilk5,
.hover_shadow_left_glassyCornsilk5:hover,
.active_shadow_left_glassyCornsilk5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(248, 198, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(248, 198, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(248, 198, 0, .39);
}

.shadow_left_glassyCornsilk5h,
.hover_shadow_left_glassyCornsilk5h:hover,
.active_shadow_left_glassyCornsilk5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 213, 43, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 213, 43, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 213, 43, .50);
}

.shadow_left_glassyCornsilk5a,
.hover_shadow_left_glassyCornsilk5a:hover,
.active_shadow_left_glassyCornsilk5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 207, 13, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 207, 13, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 207, 13, .63);
}

.shadow_left_glassyCornsilk5s,
.hover_shadow_left_glassyCornsilk5s:hover,
.active_shadow_left_glassyCornsilk5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 207, 13, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 207, 13, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 207, 13, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyCornsilk5,
.hover_shadow_right_glassyCornsilk5:hover,
.active_shadow_right_glassyCornsilk5:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(248, 198, 0, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(248, 198, 0, .39);
    box-shadow: 0.5em 0em 1em rgba(248, 198, 0, .39);
}

.shadow_right_glassyCornsilk5h,
.hover_shadow_right_glassyCornsilk5h:hover,
.active_shadow_right_glassyCornsilk5h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 213, 43, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 213, 43, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 213, 43, .50);
}

.shadow_right_glassyCornsilk5a,
.hover_shadow_right_glassyCornsilk5a:hover,
.active_shadow_right_glassyCornsilk5a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 207, 13, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 207, 13, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 207, 13, .63);
}

.shadow_right_glassyCornsilk5s,
.hover_shadow_right_glassyCornsilk5s:hover,
.active_shadow_right_glassyCornsilk5s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 207, 13, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 207, 13, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 207, 13, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyCornsilk5,
.hover_shadow_top_glassyCornsilk5:hover,
.active_shadow_top_glassyCornsilk5:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(248, 198, 0, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(248, 198, 0, .39);
    box-shadow: 0em -0.5em 1em rgba(248, 198, 0, .39);
}

.shadow_top_glassyCornsilk5h,
.hover_shadow_top_glassyCornsilk5h:hover,
.active_shadow_top_glassyCornsilk5h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 213, 43, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 213, 43, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 213, 43, .50);
}

.shadow_top_glassyCornsilk5a,
.hover_shadow_top_glassyCornsilk5a:hover,
.active_shadow_top_glassyCornsilk5a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 207, 13, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 207, 13, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 207, 13, .63);
}

.shadow_top_glassyCornsilk5s,
.hover_shadow_top_glassyCornsilk5s:hover,
.active_shadow_top_glassyCornsilk5s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 207, 13, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 207, 13, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 207, 13, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyCornsilk5,
.hover_shadow_bottom_glassyCornsilk5:hover,
.active_shadow_bottom_glassyCornsilk5:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(248, 198, 0, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(248, 198, 0, .39);
    box-shadow: 0em 0.5em 1em rgba(248, 198, 0, .39);
}

.shadow_bottom_glassyCornsilk5h,
.hover_shadow_bottom_glassyCornsilk5h:hover,
.active_shadow_bottom_glassyCornsilk5h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 213, 43, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 213, 43, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 213, 43, .50);
}

.shadow_bottom_glassyCornsilk5a,
.hover_shadow_bottom_glassyCornsilk5a:hover,
.active_shadow_bottom_glassyCornsilk5a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 207, 13, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 207, 13, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 207, 13, .63);
}

.shadow_bottom_glassyCornsilk5s,
.hover_shadow_bottom_glassyCornsilk5s:hover,
.active_shadow_bottom_glassyCornsilk5s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 207, 13, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 207, 13, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 207, 13, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyCornsilk5,
.hover_shadow_top_left_glassyCornsilk5:hover,
.active_shadow_top_left_glassyCornsilk5:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(248, 198, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(248, 198, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(248, 198, 0, .39);
}

.shadow_top_left_glassyCornsilk5h,
.hover_shadow_top_left_glassyCornsilk5h:hover,
.active_shadow_top_left_glassyCornsilk5h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 213, 43, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 213, 43, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 213, 43, .50);
}

.shadow_top_left_glassyCornsilk5a,
.hover_shadow_top_left_glassyCornsilk5a:hover,
.active_shadow_top_left_glassyCornsilk5a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 207, 13, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 207, 13, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 207, 13, .63);
}

.shadow_top_left_glassyCornsilk5s,
.hover_shadow_top_left_glassyCornsilk5s:hover,
.active_shadow_top_left_glassyCornsilk5s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 207, 13, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 207, 13, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 207, 13, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyCornsilk5,
.hover_shadow_top_right_glassyCornsilk5:hover,
.active_shadow_top_right_glassyCornsilk5:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(248, 198, 0, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(248, 198, 0, .39);
    box-shadow: 0.5em -0.5em 1em rgba(248, 198, 0, .39);
}

.shadow_top_right_glassyCornsilk5h,
.hover_shadow_top_right_glassyCornsilk5h:hover,
.active_shadow_top_right_glassyCornsilk5h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 213, 43, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 213, 43, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 213, 43, .50);
}

.shadow_top_right_glassyCornsilk5a,
.hover_shadow_top_right_glassyCornsilk5a:hover,
.active_shadow_top_right_glassyCornsilk5a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 207, 13, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 207, 13, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 207, 13, .63);
}

.shadow_top_right_glassyCornsilk5s,
.hover_shadow_top_right_glassyCornsilk5s:hover,
.active_shadow_top_right_glassyCornsilk5s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 207, 13, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 207, 13, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 207, 13, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyCornsilk5,
.hover_shadow_bottom_left_glassyCornsilk5:hover,
.active_shadow_bottom_left_glassyCornsilk5:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(248, 198, 0, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(248, 198, 0, .39);
    box-shadow: -0.5em 0.5em 1em rgba(248, 198, 0, .39);
}

.shadow_bottom_left_glassyCornsilk5h,
.hover_shadow_bottom_left_glassyCornsilk5h:hover,
.active_shadow_bottom_left_glassyCornsilk5h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 213, 43, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 213, 43, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 213, 43, .50);
}

.shadow_bottom_left_glassyCornsilk5a,
.hover_shadow_bottom_left_glassyCornsilk5a:hover,
.active_shadow_bottom_left_glassyCornsilk5a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 207, 13, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 207, 13, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 207, 13, .63);
}

.shadow_bottom_left_glassyCornsilk5s,
.hover_shadow_bottom_left_glassyCornsilk5s:hover,
.active_shadow_bottom_left_glassyCornsilk5s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 207, 13, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 207, 13, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 207, 13, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyCornsilk5,
.hover_shadow_bottom_right_glassyCornsilk5:hover,
.active_shadow_bottom_right_glassyCornsilk5:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(248, 198, 0, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(248, 198, 0, .39);
    box-shadow: 0.5em 0.5em 1em rgba(248, 198, 0, .39);
}

.shadow_bottom_right_glassyCornsilk5h,
.hover_shadow_bottom_right_glassyCornsilk5h:hover,
.active_shadow_bottom_right_glassyCornsilk5h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 213, 43, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 213, 43, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 213, 43, .50);
}

.shadow_bottom_right_glassyCornsilk5a,
 .hover_shadow_bottom_right_glassyCornsilk5a:hover,
 .active_shadow_bottom_right_glassyCornsilk5a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 207, 13, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 207, 13, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 207, 13, .63);
 }

 .shadow_bottom_right_glassyCornsilk5s,
 .hover_shadow_bottom_right_glassyCornsilk5s:hover,
 .active_shadow_bottom_right_glassyCornsilk5s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 207, 13, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 207, 13, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 207, 13, .78);
 }