.background_glassyOrange2,
.hover_background_glassyOrange2:hover,
.active_background_glassyOrange2:active:hover {
    background: #ffad16;
    background-image: -moz-linear-gradient(top,  rgb(249, 161, 0) 0%, rgb(221, 143, 0) 50%, rgb(194, 125, 0) 55%, rgb(255, 173, 22) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(249, 161, 0)), color-stop(50%, rgb(221, 143, 0)), color-stop(55%, rgb(194, 125, 0)), color-stop(100%, rgb(255, 173, 22)));
    background-image: -webkit-linear-gradient(top,  rgb(249, 161, 0) 0%, rgb(221, 143, 0) 50%, rgb(194, 125, 0) 55%, rgb(255, 173, 22) 100%);
    background-image: -o-linear-gradient(top,  rgb(249, 161, 0) 0%, rgb(221, 143, 0) 50%, rgb(194, 125, 0) 55%, rgb(255, 173, 22) 100%);
    background-image: -ms-linear-gradient(top, rgb(249, 161, 0) 0%, rgb(221, 143, 0) 50%, rgb(194, 125, 0) 55%, rgb(255, 173, 22) 100%);
    background-image: linear-gradient(to bottom,  rgb(249, 161, 0) 0%, rgb(221, 143, 0) 50%, rgb(194, 125, 0) 55%, rgb(255, 173, 22) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a100', endColorstr='#ffad16',GradientType=0 );
}

.background_glassyOrange2h,
.hover_background_glassyOrange2h:hover,
.active_background_glassyOrange2h:active:hover {
    background: #ffad16;
    background-image: -moz-linear-gradient(top,  rgb(255, 180, 44) 0%, rgb(255, 169, 11) 50%, rgb(232, 150, 0) 55%, rgb(255, 192, 77) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 180, 44)), color-stop(50%, rgb(255, 169, 11)), color-stop(55%, rgb(232, 150, 0)), color-stop(100%, rgb(255, 192, 77)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 180, 44) 0%, rgb(255, 169, 11) 50%, rgb(232, 150, 0) 55%, rgb(255, 192, 77) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 180, 44) 0%, rgb(255, 169, 11) 50%, rgb(232, 150, 0) 55%, rgb(255, 192, 77) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 180, 44) 0%, rgb(255, 169, 11) 50%, rgb(232, 150, 0) 55%, rgb(255, 192, 77) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 180, 44) 0%, rgb(255, 169, 11) 50%, rgb(232, 150, 0) 55%, rgb(255, 192, 77) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb42c', endColorstr='#ffc04d',GradientType=0 );
}

.background_glassyOrange2a,
.hover_background_glassyOrange2a:hover,
.active_background_glassyOrange2a:active:hover {
    background: #ffad16;
    background-image: -moz-linear-gradient(top,  rgb(255, 192, 77) 0%, rgb(232, 150, 0) 50%, rgb(255, 169, 11) 55%, rgb(255, 180, 44) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 192, 77)), color-stop(50%, rgb(232, 150, 0)), color-stop(55%, rgb(255, 169, 11)), color-stop(100%, rgb(255, 180, 44)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 192, 77) 0%, rgb(232, 150, 0) 50%, rgb(255, 169, 11) 55%, rgb(255, 180, 44) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 192, 77) 0%, rgb(232, 150, 0) 50%, rgb(255, 169, 11) 55%, rgb(255, 180, 44) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 192, 77) 0%, rgb(232, 150, 0) 50%, rgb(255, 169, 11) 55%, rgb(255, 180, 44) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 192, 77) 0%, rgb(232, 150, 0) 50%, rgb(255, 169, 11) 55%, rgb(255, 180, 44) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc04d', endColorstr='#ffb42c',GradientType=0 );
}

.background_glassyOrange2s,
.hover_background_glassyOrange2s:hover,
.active_background_glassyOrange2s:active:hover {
    background: #ffad16;
    background-image: -moz-linear-gradient(top,  rgb(255, 207, 118) 0%, rgb(255, 192, 77) 50%, rgb(255, 178, 35) 55%, rgb(255, 221, 160) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 207, 118)), color-stop(50%, rgb(255, 192, 77)), color-stop(55%, rgb(255, 178, 35)), color-stop(100%, rgb(255, 221, 160)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 207, 118) 0%, rgb(255, 192, 77) 50%, rgb(255, 178, 35) 55%, rgb(255, 221, 160) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 207, 118) 0%, rgb(255, 192, 77) 50%, rgb(255, 178, 35) 55%, rgb(255, 221, 160) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 207, 118) 0%, rgb(255, 192, 77) 50%, rgb(255, 178, 35) 55%, rgb(255, 221, 160) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 207, 118) 0%, rgb(255, 192, 77) 50%, rgb(255, 178, 35) 55%, rgb(255, 221, 160) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcf76', endColorstr='#ffdda0',GradientType=0 );
}

.background_color_glassyOrange2,
.hover_background_color_glassyOrange2:hover,
.active_background_color_glassyOrange2:active:hover {
    background-color:#ffad16;
}

.background_first_color_glassyOrange2,
.hover_background_first_color_glassyOrange2:hover,
.active_background_first_color_glassyOrange2:active:hover {
    background-color:#f9a100;
}

.background_last_color_glassyOrange2,
.hover_background_last_color_glassyOrange2:hover,
.active_background_color_last_glassyOrange2:active:hover {
   background-color:#ffad16;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyOrange2,
.hover_color_glassyOrange2:hover,
.active_color_glassyOrange2:active:hover {
    color: #282828;
}

.color_glassyOrange2h,
.hover_color_glassyOrange2h:hover,
.active_color_glassyOrange2h:active:hover {
    color: #282828;
}

.color_glassyOrange2a,
.hover_color_glassyOrange2a:hover,
.active_color_glassyOrange2a:active:hover {
    color: #ff0;
}

.color_glassyOrange2s,
.hover_color_glassyOrange2s:hover,
.active_color_glassyOrange2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyOrange2,
.hover_border_glassyOrange2:hover,
.active_border_glassyOrange2:active:hover {
    border-color: #c78100 #a66b00 #a66b00 #c78100;
}

.border_glassyOrange2h,
.hover_border_glassyOrange2h:hover,
.active_border_glassyOrange2h:active:hover {
    border-color: #c78100 #a66b00 #a66b00 #c78100;
}

.border_glassyOrange2a,
.hover_border_glassyOrange2a:hover,
.active_border_glassyOrange2a:active:hover {
    border-color: #9b6400 #9b6400 #9b6400 #9b6400;
}

.border_glassyOrange2s,
.hover_border_glassyOrange2s:hover,
.active_border_glassyOrange2s:active:hover {
    border-color: #9b6400 #9b6400 #9b6400 #9b6400;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyOrange2,
.hover_shadow_expand_glassyOrange2:hover,
.active_shadow_expand_glassyOrange2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 173, 22, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 173, 22, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 173, 22, .39);
}

.shadow_expand_glassyOrange2h,
.hover_shadow_expand_glassyOrange2h:hover,
.active_shadow_expand_glassyOrange2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 192, 77, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 192, 77, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 192, 77, .50);
}

.shadow_expand_glassyOrange2a,
.hover_shadow_expand_glassyOrange2a:hover,
.active_shadow_expand_glassyOrange2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 180, 44, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 180, 44, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 180, 44, .63);
}

.shadow_expand_glassyOrange2s,
.hover_shadow_expand_glassyOrange2s:hover,
.active_shadow_expand_glassyOrange2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 180, 44, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 180, 44, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 180, 44, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyOrange2,
.hover_shadow_left_glassyOrange2:hover,
.active_shadow_left_glassyOrange2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 173, 22, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 173, 22, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 173, 22, .39);
}

.shadow_left_glassyOrange2h,
.hover_shadow_left_glassyOrange2h:hover,
.active_shadow_left_glassyOrange2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 192, 77, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 192, 77, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 192, 77, .50);
}

.shadow_left_glassyOrange2a,
.hover_shadow_left_glassyOrange2a:hover,
.active_shadow_left_glassyOrange2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 180, 44, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 180, 44, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 180, 44, .63);
}

.shadow_left_glassyOrange2s,
.hover_shadow_left_glassyOrange2s:hover,
.active_shadow_left_glassyOrange2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 180, 44, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 180, 44, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 180, 44, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyOrange2,
.hover_shadow_right_glassyOrange2:hover,
.active_shadow_right_glassyOrange2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 173, 22, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 173, 22, .39);
    box-shadow: 0.5em 0em 1em rgba(255, 173, 22, .39);
}

.shadow_right_glassyOrange2h,
.hover_shadow_right_glassyOrange2h:hover,
.active_shadow_right_glassyOrange2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 192, 77, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 192, 77, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 192, 77, .50);
}

.shadow_right_glassyOrange2a,
.hover_shadow_right_glassyOrange2a:hover,
.active_shadow_right_glassyOrange2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 180, 44, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 180, 44, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 180, 44, .63);
}

.shadow_right_glassyOrange2s,
.hover_shadow_right_glassyOrange2s:hover,
.active_shadow_right_glassyOrange2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 180, 44, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 180, 44, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 180, 44, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyOrange2,
.hover_shadow_top_glassyOrange2:hover,
.active_shadow_top_glassyOrange2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 173, 22, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 173, 22, .39);
    box-shadow: 0em -0.5em 1em rgba(255, 173, 22, .39);
}

.shadow_top_glassyOrange2h,
.hover_shadow_top_glassyOrange2h:hover,
.active_shadow_top_glassyOrange2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 192, 77, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 192, 77, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 192, 77, .50);
}

.shadow_top_glassyOrange2a,
.hover_shadow_top_glassyOrange2a:hover,
.active_shadow_top_glassyOrange2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 180, 44, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 180, 44, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 180, 44, .63);
}

.shadow_top_glassyOrange2s,
.hover_shadow_top_glassyOrange2s:hover,
.active_shadow_top_glassyOrange2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 180, 44, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 180, 44, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 180, 44, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyOrange2,
.hover_shadow_bottom_glassyOrange2:hover,
.active_shadow_bottom_glassyOrange2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 173, 22, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 173, 22, .39);
    box-shadow: 0em 0.5em 1em rgba(255, 173, 22, .39);
}

.shadow_bottom_glassyOrange2h,
.hover_shadow_bottom_glassyOrange2h:hover,
.active_shadow_bottom_glassyOrange2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 192, 77, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 192, 77, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 192, 77, .50);
}

.shadow_bottom_glassyOrange2a,
.hover_shadow_bottom_glassyOrange2a:hover,
.active_shadow_bottom_glassyOrange2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 180, 44, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 180, 44, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 180, 44, .63);
}

.shadow_bottom_glassyOrange2s,
.hover_shadow_bottom_glassyOrange2s:hover,
.active_shadow_bottom_glassyOrange2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 180, 44, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 180, 44, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 180, 44, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyOrange2,
.hover_shadow_top_left_glassyOrange2:hover,
.active_shadow_top_left_glassyOrange2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 173, 22, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 173, 22, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 173, 22, .39);
}

.shadow_top_left_glassyOrange2h,
.hover_shadow_top_left_glassyOrange2h:hover,
.active_shadow_top_left_glassyOrange2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 192, 77, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 192, 77, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 192, 77, .50);
}

.shadow_top_left_glassyOrange2a,
.hover_shadow_top_left_glassyOrange2a:hover,
.active_shadow_top_left_glassyOrange2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 180, 44, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 180, 44, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 180, 44, .63);
}

.shadow_top_left_glassyOrange2s,
.hover_shadow_top_left_glassyOrange2s:hover,
.active_shadow_top_left_glassyOrange2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 180, 44, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 180, 44, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 180, 44, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyOrange2,
.hover_shadow_top_right_glassyOrange2:hover,
.active_shadow_top_right_glassyOrange2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 173, 22, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 173, 22, .39);
    box-shadow: 0.5em -0.5em 1em rgba(255, 173, 22, .39);
}

.shadow_top_right_glassyOrange2h,
.hover_shadow_top_right_glassyOrange2h:hover,
.active_shadow_top_right_glassyOrange2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 192, 77, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 192, 77, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 192, 77, .50);
}

.shadow_top_right_glassyOrange2a,
.hover_shadow_top_right_glassyOrange2a:hover,
.active_shadow_top_right_glassyOrange2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 180, 44, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 180, 44, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 180, 44, .63);
}

.shadow_top_right_glassyOrange2s,
.hover_shadow_top_right_glassyOrange2s:hover,
.active_shadow_top_right_glassyOrange2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 180, 44, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 180, 44, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 180, 44, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyOrange2,
.hover_shadow_bottom_left_glassyOrange2:hover,
.active_shadow_bottom_left_glassyOrange2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 173, 22, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 173, 22, .39);
    box-shadow: -0.5em 0.5em 1em rgba(255, 173, 22, .39);
}

.shadow_bottom_left_glassyOrange2h,
.hover_shadow_bottom_left_glassyOrange2h:hover,
.active_shadow_bottom_left_glassyOrange2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 192, 77, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 192, 77, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 192, 77, .50);
}

.shadow_bottom_left_glassyOrange2a,
.hover_shadow_bottom_left_glassyOrange2a:hover,
.active_shadow_bottom_left_glassyOrange2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 180, 44, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 180, 44, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 180, 44, .63);
}

.shadow_bottom_left_glassyOrange2s,
.hover_shadow_bottom_left_glassyOrange2s:hover,
.active_shadow_bottom_left_glassyOrange2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 180, 44, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 180, 44, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 180, 44, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyOrange2,
.hover_shadow_bottom_right_glassyOrange2:hover,
.active_shadow_bottom_right_glassyOrange2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 173, 22, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 173, 22, .39);
    box-shadow: 0.5em 0.5em 1em rgba(255, 173, 22, .39);
}

.shadow_bottom_right_glassyOrange2h,
.hover_shadow_bottom_right_glassyOrange2h:hover,
.active_shadow_bottom_right_glassyOrange2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 192, 77, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 192, 77, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 192, 77, .50);
}

.shadow_bottom_right_glassyOrange2a,
 .hover_shadow_bottom_right_glassyOrange2a:hover,
 .active_shadow_bottom_right_glassyOrange2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 180, 44, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 180, 44, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 180, 44, .63);
 }

 .shadow_bottom_right_glassyOrange2s,
 .hover_shadow_bottom_right_glassyOrange2s:hover,
 .active_shadow_bottom_right_glassyOrange2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 180, 44, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 180, 44, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 180, 44, .78);
 }