.aquaBurlyWood5,
.hover_aquaBurlyWood5:hover,
.active_aquaBurlyWood5:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(205, 134, 73, .39),
           inset 0 -0.5em 0.9em 0 #e9af92,
           inset 0 -0.5em 0em 0.65em rgb(212, 109, 15),
           inset 0 0em 0.5em 2em rgb(198, 176, 156);
    -moz-box-shadow: 0 0.63em 0.75em rgba(205, 134, 73, .39),
           inset 0 -0.5em 0.9em 0 #e9af92,
           inset 0 -0.5em 0em 0.65em rgb(212, 109, 15),
           inset 0 0em 0.5em 2em rgb(198, 176, 156);
    box-shadow: 0 0.63em 0.75em rgba(205, 134, 73, .39),
           inset 0 -0.5em 0.9em 0 #e9af92,
           inset 0 -0.5em 0em 0.65em rgb(212, 109, 15),
           inset 0 0em 0.5em 2em rgb(198, 176, 156);
}

.aquaBurlyWood5h,
.hover_aquaBurlyWood5h:hover,
.active_aquaBurlyWood5h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(210, 147, 93, .55),
           inset 0 -0.5em 0.9em 0 #f2cebd,
           inset 0 -0.5em 0em 0.65em #e1a267,
           inset 0 0em 0.5em 2em #ecd6c3;
    -moz-box-shadow:0 0.63em 1em rgba(210, 147, 93, .55),
           inset 0 -0.5em 0.9em 0 #f2cebd,
           inset 0 -0.5em 0em 0.65em #e1a267,
           inset 0 0em 0.5em 2em #ecd6c3;
    box-shadow:0 0.63em 1em rgba(210, 147, 93, .55),
           inset 0 -0.5em 0.9em 0 #f2cebd,
           inset 0 -0.5em 0em 0.65em #e1a267,
           inset 0 0em 0.5em 2em #ecd6c3;
}

.aquaBurlyWood5a,
.hover_aquaBurlyWood5a:hover,
.active_aquaBurlyWood5a:active {
    /*background: #9e6c2b;*/

    -webkit-box-shadow:0 0.63em 1em rgba(195, 107, 32, .55),
           inset 0 -0.5em 0.9em 0 #f5bc9f,
           inset 0 -0.5em 0em 0.65em #e98427,
           inset 0 0em 0.5em 2em #e5af7d;
    -moz-box-shadow:0 0.63em 1em rgba(195, 107, 32, .55),
           inset 0 -0.5em 0.9em 0 #f5bc9f,
           inset 0 -0.5em 0em 0.65em #e98427,
           inset 0 0em 0.5em 2em #e5af7d;
    box-shadow:0 0.63em 1em rgba(195, 107, 32, .55),
           inset 0 -0.5em 0.9em 0 #f5bc9f,
           inset 0 -0.5em 0em 0.65em #e98427,
           inset 0 0em 0.5em 2em #e5af7d;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaBurlyWood5,
.hover_color_aquaBurlyWood5:hover,
.active_color_aquaBurlyWood5:active {
    color: #282828;
}

.color_aquaBurlyWood5h,
.hover_color_aquaBurlyWood5h:hover,
.active_color_aquaBurlyWood5h:active {
    color: #c8c8c8;
}

.color_aquaBurlyWood5a,
.hover_color_aquaBurlyWood5a:hover,
.active_color_aquaBurlyWood5a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaBurlyWood5,
.hover_border_aquaBurlyWood5:hover,
.active_border_aquaBurlyWood5:active {
    border-color: #9e6c2b #9e6c2b #9e6c2b #9e6c2b;
}

.border_aquaBurlyWood5h,
.hover_border_aquaBurlyWood5h:hover,
.active_border_aquaBurlyWood5h:active {
    border-color: #9e6c2b #9e6c2b #9e6c2b #9e6c2b;
}

.border_aquaBurlyWood5a,
.hover_border_aquaBurlyWood5a:hover,
.active_border_aquaBurlyWood5a:active  {
    border-color: #9e6c2b #9e6c2b #9e6c2b #9e6c2b;
}

