.aquaBurlyWood6,
.hover_aquaBurlyWood6:hover,
.active_aquaBurlyWood6:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(181, 110, 50, .39),
           inset 0 -0.5em 0.9em 0 #e2926b,
           inset 0 -0.5em 0em 0.65em rgb(167, 86, 12),
           inset 0 0em 0.5em 2em rgb(181, 152, 126);
    -moz-box-shadow: 0 0.63em 0.75em rgba(181, 110, 50, .39),
           inset 0 -0.5em 0.9em 0 #e2926b,
           inset 0 -0.5em 0em 0.65em rgb(167, 86, 12),
           inset 0 0em 0.5em 2em rgb(181, 152, 126);
    box-shadow: 0 0.63em 0.75em rgba(181, 110, 50, .39),
           inset 0 -0.5em 0.9em 0 #e2926b,
           inset 0 -0.5em 0em 0.65em rgb(167, 86, 12),
           inset 0 0em 0.5em 2em rgb(181, 152, 126);
}

.aquaBurlyWood6h,
.hover_aquaBurlyWood6h:hover,
.active_aquaBurlyWood6h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(200, 123, 56, .55),
           inset 0 -0.5em 0.9em 0 #eab195,
           inset 0 -0.5em 0em 0.65em #d98a40,
           inset 0 0em 0.5em 2em #e0be9f;
    -moz-box-shadow:0 0.63em 1em rgba(200, 123, 56, .55),
           inset 0 -0.5em 0.9em 0 #eab195,
           inset 0 -0.5em 0em 0.65em #d98a40,
           inset 0 0em 0.5em 2em #e0be9f;
    box-shadow:0 0.63em 1em rgba(200, 123, 56, .55),
           inset 0 -0.5em 0.9em 0 #eab195,
           inset 0 -0.5em 0em 0.65em #d98a40,
           inset 0 0em 0.5em 2em #e0be9f;
}

.aquaBurlyWood6a,
.hover_aquaBurlyWood6a:hover,
.active_aquaBurlyWood6a:active {
    /*background: #c18435;*/

    -webkit-box-shadow:0 0.63em 1em rgba(154, 85, 25, .55),
           inset 0 -0.5em 0.9em 0 #f19e74,
           inset 0 -0.5em 0em 0.65em #cd6d14,
           inset 0 0em 0.5em 2em #dd9755;
    -moz-box-shadow:0 0.63em 1em rgba(154, 85, 25, .55),
           inset 0 -0.5em 0.9em 0 #f19e74,
           inset 0 -0.5em 0em 0.65em #cd6d14,
           inset 0 0em 0.5em 2em #dd9755;
    box-shadow:0 0.63em 1em rgba(154, 85, 25, .55),
           inset 0 -0.5em 0.9em 0 #f19e74,
           inset 0 -0.5em 0em 0.65em #cd6d14,
           inset 0 0em 0.5em 2em #dd9755;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaBurlyWood6,
.hover_color_aquaBurlyWood6:hover,
.active_color_aquaBurlyWood6:active {
    color: #282828;
}

.color_aquaBurlyWood6h,
.hover_color_aquaBurlyWood6h:hover,
.active_color_aquaBurlyWood6h:active {
    color: #c8c8c8;
}

.color_aquaBurlyWood6a,
.hover_color_aquaBurlyWood6a:hover,
.active_color_aquaBurlyWood6a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaBurlyWood6,
.hover_border_aquaBurlyWood6:hover,
.active_border_aquaBurlyWood6:active {
    border-color: #805823 #805823 #805823 #805823;
}

.border_aquaBurlyWood6h,
.hover_border_aquaBurlyWood6h:hover,
.active_border_aquaBurlyWood6h:active {
    border-color: #805823 #805823 #805823 #805823;
}

.border_aquaBurlyWood6a,
.hover_border_aquaBurlyWood6a:hover,
.active_border_aquaBurlyWood6a:active  {
    border-color: #805823 #805823 #805823 #805823;
}

