.aquaBurlyWood7,
.hover_aquaBurlyWood7:hover,
.active_aquaBurlyWood7:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(143, 88, 39, .39),
           inset 0 -0.5em 0.9em 0 #da7543,
           inset 0 -0.5em 0em 0.65em rgb(123, 64, 9),
           inset 0 0em 0.5em 2em rgb(163, 128, 96);
    -moz-box-shadow: 0 0.63em 0.75em rgba(143, 88, 39, .39),
           inset 0 -0.5em 0.9em 0 #da7543,
           inset 0 -0.5em 0em 0.65em rgb(123, 64, 9),
           inset 0 0em 0.5em 2em rgb(163, 128, 96);
    box-shadow: 0 0.63em 0.75em rgba(143, 88, 39, .39),
           inset 0 -0.5em 0.9em 0 #da7543,
           inset 0 -0.5em 0em 0.65em rgb(123, 64, 9),
           inset 0 0em 0.5em 2em rgb(163, 128, 96);
}

.aquaBurlyWood7h,
.hover_aquaBurlyWood7h:hover,
.active_aquaBurlyWood7h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(163, 100, 45, .55),
           inset 0 -0.5em 0.9em 0 #e2946e,
           inset 0 -0.5em 0em 0.65em #c37227,
           inset 0 0em 0.5em 2em #d5a67b;
    -moz-box-shadow:0 0.63em 1em rgba(163, 100, 45, .55),
           inset 0 -0.5em 0.9em 0 #e2946e,
           inset 0 -0.5em 0em 0.65em #c37227,
           inset 0 0em 0.5em 2em #d5a67b;
    box-shadow:0 0.63em 1em rgba(163, 100, 45, .55),
           inset 0 -0.5em 0.9em 0 #e2946e,
           inset 0 -0.5em 0em 0.65em #c37227,
           inset 0 0em 0.5em 2em #d5a67b;
}

.aquaBurlyWood7a,
.hover_aquaBurlyWood7a:hover,
.active_aquaBurlyWood7a:active {
    /*background: #946529;*/

    -webkit-box-shadow:0 0.63em 1em rgba(113, 62, 19, .55),
           inset 0 -0.5em 0.9em 0 #ed7f4a,
           inset 0 -0.5em 0em 0.65em #a25610,
           inset 0 0em 0.5em 2em #d57e2e;
    -moz-box-shadow:0 0.63em 1em rgba(113, 62, 19, .55),
           inset 0 -0.5em 0.9em 0 #ed7f4a,
           inset 0 -0.5em 0em 0.65em #a25610,
           inset 0 0em 0.5em 2em #d57e2e;
    box-shadow:0 0.63em 1em rgba(113, 62, 19, .55),
           inset 0 -0.5em 0.9em 0 #ed7f4a,
           inset 0 -0.5em 0em 0.65em #a25610,
           inset 0 0em 0.5em 2em #d57e2e;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaBurlyWood7,
.hover_color_aquaBurlyWood7:hover,
.active_color_aquaBurlyWood7:active {
    color: #c8c8c8;
}

.color_aquaBurlyWood7h,
.hover_color_aquaBurlyWood7h:hover,
.active_color_aquaBurlyWood7h:active {
    color: #c8c8c8;
}

.color_aquaBurlyWood7a,
.hover_color_aquaBurlyWood7a:hover,
.active_color_aquaBurlyWood7a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaBurlyWood7,
.hover_border_aquaBurlyWood7:hover,
.active_border_aquaBurlyWood7:active {
    border-color: #63441b #63441b #63441b #63441b;
}

.border_aquaBurlyWood7h,
.hover_border_aquaBurlyWood7h:hover,
.active_border_aquaBurlyWood7h:active {
    border-color: #63441b #63441b #63441b #63441b;
}

.border_aquaBurlyWood7a,
.hover_border_aquaBurlyWood7a:hover,
.active_border_aquaBurlyWood7a:active  {
    border-color: #63441b #63441b #63441b #63441b;
}

