.background_glassyViolet2,
.hover_background_glassyViolet2:hover,
.active_background_glassyViolet2:active:hover {
    background: #ed7ded;
    background-image: -moz-linear-gradient(top,  rgb(233, 93, 233) 0%, rgb(229, 61, 229) 50%, rgb(223, 30, 223) 55%, rgb(237, 125, 237) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(233, 93, 233)), color-stop(50%, rgb(229, 61, 229)), color-stop(55%, rgb(223, 30, 223)), color-stop(100%, rgb(237, 125, 237)));
    background-image: -webkit-linear-gradient(top,  rgb(233, 93, 233) 0%, rgb(229, 61, 229) 50%, rgb(223, 30, 223) 55%, rgb(237, 125, 237) 100%);
    background-image: -o-linear-gradient(top,  rgb(233, 93, 233) 0%, rgb(229, 61, 229) 50%, rgb(223, 30, 223) 55%, rgb(237, 125, 237) 100%);
    background-image: -ms-linear-gradient(top, rgb(233, 93, 233) 0%, rgb(229, 61, 229) 50%, rgb(223, 30, 223) 55%, rgb(237, 125, 237) 100%);
    background-image: linear-gradient(to bottom,  rgb(233, 93, 233) 0%, rgb(229, 61, 229) 50%, rgb(223, 30, 223) 55%, rgb(237, 125, 237) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e95de9', endColorstr='#ed7ded',GradientType=0 );
}

.background_glassyViolet2h,
.hover_background_glassyViolet2h:hover,
.active_background_glassyViolet2h:active:hover {
    background: #ed7ded;
    background-image: -moz-linear-gradient(top,  rgb(241, 150, 241) 0%, rgb(236, 112, 236) 50%, rgb(230, 74, 230) 55%, rgb(246, 189, 246) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(241, 150, 241)), color-stop(50%, rgb(236, 112, 236)), color-stop(55%, rgb(230, 74, 230)), color-stop(100%, rgb(246, 189, 246)));
    background-image: -webkit-linear-gradient(top,  rgb(241, 150, 241) 0%, rgb(236, 112, 236) 50%, rgb(230, 74, 230) 55%, rgb(246, 189, 246) 100%);
    background-image: -o-linear-gradient(top,  rgb(241, 150, 241) 0%, rgb(236, 112, 236) 50%, rgb(230, 74, 230) 55%, rgb(246, 189, 246) 100%);
    background-image: -ms-linear-gradient(top, rgb(241, 150, 241) 0%, rgb(236, 112, 236) 50%, rgb(230, 74, 230) 55%, rgb(246, 189, 246) 100%);
    background-image: linear-gradient(to bottom,  rgb(241, 150, 241) 0%, rgb(236, 112, 236) 50%, rgb(230, 74, 230) 55%, rgb(246, 189, 246) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f196f1', endColorstr='#f6bdf6',GradientType=0 );
}

.background_glassyViolet2a,
.hover_background_glassyViolet2a:hover,
.active_background_glassyViolet2a:active:hover {
    background: #ed7ded;
    background-image: -moz-linear-gradient(top,  rgb(246, 189, 246) 0%, rgb(230, 74, 230) 50%, rgb(236, 112, 236) 55%, rgb(241, 150, 241) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(246, 189, 246)), color-stop(50%, rgb(230, 74, 230)), color-stop(55%, rgb(236, 112, 236)), color-stop(100%, rgb(241, 150, 241)));
    background-image: -webkit-linear-gradient(top,  rgb(246, 189, 246) 0%, rgb(230, 74, 230) 50%, rgb(236, 112, 236) 55%, rgb(241, 150, 241) 100%);
    background-image: -o-linear-gradient(top,  rgb(246, 189, 246) 0%, rgb(230, 74, 230) 50%, rgb(236, 112, 236) 55%, rgb(241, 150, 241) 100%);
    background-image: -ms-linear-gradient(top, rgb(246, 189, 246) 0%, rgb(230, 74, 230) 50%, rgb(236, 112, 236) 55%, rgb(241, 150, 241) 100%);
    background-image: linear-gradient(to bottom,  rgb(246, 189, 246) 0%, rgb(230, 74, 230) 50%, rgb(236, 112, 236) 55%, rgb(241, 150, 241) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6bdf6', endColorstr='#f196f1',GradientType=0 );
}

.background_glassyViolet2s,
.hover_background_glassyViolet2s:hover,
.active_background_glassyViolet2s:active:hover {
    background: #ed7ded;
    background-image: -moz-linear-gradient(top,  rgb(252, 236, 252) 0%, rgb(246, 189, 246) 50%, rgb(239, 141, 239) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(252, 236, 252)), color-stop(50%, rgb(246, 189, 246)), color-stop(55%, rgb(239, 141, 239)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(252, 236, 252) 0%, rgb(246, 189, 246) 50%, rgb(239, 141, 239) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(252, 236, 252) 0%, rgb(246, 189, 246) 50%, rgb(239, 141, 239) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(252, 236, 252) 0%, rgb(246, 189, 246) 50%, rgb(239, 141, 239) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(252, 236, 252) 0%, rgb(246, 189, 246) 50%, rgb(239, 141, 239) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ffffff',GradientType=0 );
}

.background_color_glassyViolet2,
.hover_background_color_glassyViolet2:hover,
.active_background_color_glassyViolet2:active:hover {
    background-color:#ed7ded;
}

.background_first_color_glassyViolet2,
.hover_background_first_color_glassyViolet2:hover,
.active_background_first_color_glassyViolet2:active:hover {
    background-color:#e95de9;
}

.background_last_color_glassyViolet2,
.hover_background_last_color_glassyViolet2:hover,
.active_background_color_last_glassyViolet2:active:hover {
   background-color:#ed7ded;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyViolet2,
.hover_color_glassyViolet2:hover,
.active_color_glassyViolet2:active:hover {
    color: #282828;
}

.color_glassyViolet2h,
.hover_color_glassyViolet2h:hover,
.active_color_glassyViolet2h:active:hover {
    color: #282828;
}

.color_glassyViolet2a,
.hover_color_glassyViolet2a:hover,
.active_color_glassyViolet2a:active:hover {
    color: #ff0;
}

.color_glassyViolet2s,
.hover_color_glassyViolet2s:hover,
.active_color_glassyViolet2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyViolet2,
.hover_border_glassyViolet2:hover,
.active_border_glassyViolet2:active:hover {
    border-color: #e124e1 #bf1abf #bf1abf #e124e1;
}

.border_glassyViolet2h,
.hover_border_glassyViolet2h:hover,
.active_border_glassyViolet2h:active:hover {
    border-color: #e124e1 #bf1abf #bf1abf #e124e1;
}

.border_glassyViolet2a,
.hover_border_glassyViolet2a:hover,
.active_border_glassyViolet2a:active:hover {
    border-color: #b318b3 #b318b3 #b318b3 #b318b3;
}

.border_glassyViolet2s,
.hover_border_glassyViolet2s:hover,
.active_border_glassyViolet2s:active:hover {
    border-color: #b318b3 #b318b3 #b318b3 #b318b3;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyViolet2,
.hover_shadow_expand_glassyViolet2:hover,
.active_shadow_expand_glassyViolet2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(237, 125, 237, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(237, 125, 237, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(237, 125, 237, .39);
}

.shadow_expand_glassyViolet2h,
.hover_shadow_expand_glassyViolet2h:hover,
.active_shadow_expand_glassyViolet2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(246, 189, 246, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(246, 189, 246, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(246, 189, 246, .50);
}

.shadow_expand_glassyViolet2a,
.hover_shadow_expand_glassyViolet2a:hover,
.active_shadow_expand_glassyViolet2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(241, 150, 241, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(241, 150, 241, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(241, 150, 241, .63);
}

.shadow_expand_glassyViolet2s,
.hover_shadow_expand_glassyViolet2s:hover,
.active_shadow_expand_glassyViolet2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(241, 150, 241, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(241, 150, 241, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(241, 150, 241, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyViolet2,
.hover_shadow_left_glassyViolet2:hover,
.active_shadow_left_glassyViolet2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(237, 125, 237, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(237, 125, 237, .39);
    box-shadow: -0.5em -0.5em 1em rgba(237, 125, 237, .39);
}

.shadow_left_glassyViolet2h,
.hover_shadow_left_glassyViolet2h:hover,
.active_shadow_left_glassyViolet2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(246, 189, 246, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(246, 189, 246, .50);
    box-shadow: -0.5em -0.5em 1em rgba(246, 189, 246, .50);
}

.shadow_left_glassyViolet2a,
.hover_shadow_left_glassyViolet2a:hover,
.active_shadow_left_glassyViolet2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(241, 150, 241, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(241, 150, 241, .63);
    box-shadow: -0.5em -0.5em 1em rgba(241, 150, 241, .63);
}

.shadow_left_glassyViolet2s,
.hover_shadow_left_glassyViolet2s:hover,
.active_shadow_left_glassyViolet2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(241, 150, 241, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(241, 150, 241, .78);
    box-shadow: -0.5em -0.5em 1em rgba(241, 150, 241, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyViolet2,
.hover_shadow_right_glassyViolet2:hover,
.active_shadow_right_glassyViolet2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(237, 125, 237, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(237, 125, 237, .39);
    box-shadow: 0.5em 0em 1em rgba(237, 125, 237, .39);
}

.shadow_right_glassyViolet2h,
.hover_shadow_right_glassyViolet2h:hover,
.active_shadow_right_glassyViolet2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(246, 189, 246, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(246, 189, 246, .50);
    box-shadow: 0.5em 0em 1em rgba(246, 189, 246, .50);
}

.shadow_right_glassyViolet2a,
.hover_shadow_right_glassyViolet2a:hover,
.active_shadow_right_glassyViolet2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(241, 150, 241, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(241, 150, 241, .63);
    box-shadow: 0.5em 0em 1em rgba(241, 150, 241, .63);
}

.shadow_right_glassyViolet2s,
.hover_shadow_right_glassyViolet2s:hover,
.active_shadow_right_glassyViolet2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(241, 150, 241, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(241, 150, 241, .78);
    box-shadow: 0.5em 0em 1em rgba(241, 150, 241, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyViolet2,
.hover_shadow_top_glassyViolet2:hover,
.active_shadow_top_glassyViolet2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(237, 125, 237, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(237, 125, 237, .39);
    box-shadow: 0em -0.5em 1em rgba(237, 125, 237, .39);
}

.shadow_top_glassyViolet2h,
.hover_shadow_top_glassyViolet2h:hover,
.active_shadow_top_glassyViolet2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(246, 189, 246, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(246, 189, 246, .50);
    box-shadow: 0em -0.5em 1em rgba(246, 189, 246, .50);
}

.shadow_top_glassyViolet2a,
.hover_shadow_top_glassyViolet2a:hover,
.active_shadow_top_glassyViolet2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(241, 150, 241, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(241, 150, 241, .63);
    box-shadow: 0em -0.5em 1em rgba(241, 150, 241, .63);
}

.shadow_top_glassyViolet2s,
.hover_shadow_top_glassyViolet2s:hover,
.active_shadow_top_glassyViolet2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(241, 150, 241, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(241, 150, 241, .78);
    box-shadow: 0em -0.5em 1em rgba(241, 150, 241, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyViolet2,
.hover_shadow_bottom_glassyViolet2:hover,
.active_shadow_bottom_glassyViolet2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(237, 125, 237, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(237, 125, 237, .39);
    box-shadow: 0em 0.5em 1em rgba(237, 125, 237, .39);
}

.shadow_bottom_glassyViolet2h,
.hover_shadow_bottom_glassyViolet2h:hover,
.active_shadow_bottom_glassyViolet2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(246, 189, 246, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(246, 189, 246, .50);
    box-shadow: 0em 0.5em 1em rgba(246, 189, 246, .50);
}

.shadow_bottom_glassyViolet2a,
.hover_shadow_bottom_glassyViolet2a:hover,
.active_shadow_bottom_glassyViolet2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(241, 150, 241, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(241, 150, 241, .63);
    box-shadow: 0em 0.5em 1em rgba(241, 150, 241, .63);
}

.shadow_bottom_glassyViolet2s,
.hover_shadow_bottom_glassyViolet2s:hover,
.active_shadow_bottom_glassyViolet2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(241, 150, 241, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(241, 150, 241, .78);
    box-shadow: 0em 0.5em 1em rgba(241, 150, 241, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyViolet2,
.hover_shadow_top_left_glassyViolet2:hover,
.active_shadow_top_left_glassyViolet2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(237, 125, 237, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(237, 125, 237, .39);
    box-shadow: -0.5em -0.5em 1em rgba(237, 125, 237, .39);
}

.shadow_top_left_glassyViolet2h,
.hover_shadow_top_left_glassyViolet2h:hover,
.active_shadow_top_left_glassyViolet2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(246, 189, 246, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(246, 189, 246, .50);
    box-shadow: -0.5em -0.5em 1em rgba(246, 189, 246, .50);
}

.shadow_top_left_glassyViolet2a,
.hover_shadow_top_left_glassyViolet2a:hover,
.active_shadow_top_left_glassyViolet2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(241, 150, 241, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(241, 150, 241, .63);
    box-shadow: -0.5em -0.5em 1em rgba(241, 150, 241, .63);
}

.shadow_top_left_glassyViolet2s,
.hover_shadow_top_left_glassyViolet2s:hover,
.active_shadow_top_left_glassyViolet2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(241, 150, 241, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(241, 150, 241, .78);
    box-shadow: -0.5em -0.5em 1em rgba(241, 150, 241, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyViolet2,
.hover_shadow_top_right_glassyViolet2:hover,
.active_shadow_top_right_glassyViolet2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(237, 125, 237, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(237, 125, 237, .39);
    box-shadow: 0.5em -0.5em 1em rgba(237, 125, 237, .39);
}

.shadow_top_right_glassyViolet2h,
.hover_shadow_top_right_glassyViolet2h:hover,
.active_shadow_top_right_glassyViolet2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(246, 189, 246, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(246, 189, 246, .50);
    box-shadow: 0.5em -0.5em 1em rgba(246, 189, 246, .50);
}

.shadow_top_right_glassyViolet2a,
.hover_shadow_top_right_glassyViolet2a:hover,
.active_shadow_top_right_glassyViolet2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(241, 150, 241, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(241, 150, 241, .63);
    box-shadow: 0.5em -0.5em 1em rgba(241, 150, 241, .63);
}

.shadow_top_right_glassyViolet2s,
.hover_shadow_top_right_glassyViolet2s:hover,
.active_shadow_top_right_glassyViolet2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(241, 150, 241, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(241, 150, 241, .78);
    box-shadow: 0.5em -0.5em 1em rgba(241, 150, 241, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyViolet2,
.hover_shadow_bottom_left_glassyViolet2:hover,
.active_shadow_bottom_left_glassyViolet2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(237, 125, 237, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(237, 125, 237, .39);
    box-shadow: -0.5em 0.5em 1em rgba(237, 125, 237, .39);
}

.shadow_bottom_left_glassyViolet2h,
.hover_shadow_bottom_left_glassyViolet2h:hover,
.active_shadow_bottom_left_glassyViolet2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(246, 189, 246, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(246, 189, 246, .50);
    box-shadow: -0.5em 0.5em 1em rgba(246, 189, 246, .50);
}

.shadow_bottom_left_glassyViolet2a,
.hover_shadow_bottom_left_glassyViolet2a:hover,
.active_shadow_bottom_left_glassyViolet2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(241, 150, 241, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(241, 150, 241, .63);
    box-shadow: -0.5em 0.5em 1em rgba(241, 150, 241, .63);
}

.shadow_bottom_left_glassyViolet2s,
.hover_shadow_bottom_left_glassyViolet2s:hover,
.active_shadow_bottom_left_glassyViolet2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(241, 150, 241, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(241, 150, 241, .78);
    box-shadow: -0.5em 0.5em 1em rgba(241, 150, 241, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyViolet2,
.hover_shadow_bottom_right_glassyViolet2:hover,
.active_shadow_bottom_right_glassyViolet2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(237, 125, 237, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(237, 125, 237, .39);
    box-shadow: 0.5em 0.5em 1em rgba(237, 125, 237, .39);
}

.shadow_bottom_right_glassyViolet2h,
.hover_shadow_bottom_right_glassyViolet2h:hover,
.active_shadow_bottom_right_glassyViolet2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(246, 189, 246, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(246, 189, 246, .50);
    box-shadow: 0.5em 0.5em 1em rgba(246, 189, 246, .50);
}

.shadow_bottom_right_glassyViolet2a,
 .hover_shadow_bottom_right_glassyViolet2a:hover,
 .active_shadow_bottom_right_glassyViolet2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(241, 150, 241, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(241, 150, 241, .63);
     box-shadow: 0.5em 0.5em 1em rgba(241, 150, 241, .63);
 }

 .shadow_bottom_right_glassyViolet2s,
 .hover_shadow_bottom_right_glassyViolet2s:hover,
 .active_shadow_bottom_right_glassyViolet2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(241, 150, 241, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(241, 150, 241, .78);
     box-shadow: 0.5em 0.5em 1em rgba(241, 150, 241, .78);
 }