.aquaPowderBlue3,
.hover_aquaPowderBlue3:hover,
.active_aquaPowderBlue3:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(158, 224, 224, .39),
           inset 0 -0.5em 0.9em 0 #ebfaf8,
           inset 0 -0.5em 0em 0.65em rgb(93, 235, 239),
           inset 0 0em 0.5em 2em rgb(224, 235, 235);
    -moz-box-shadow: 0 0.63em 0.75em rgba(158, 224, 224, .39),
           inset 0 -0.5em 0.9em 0 #ebfaf8,
           inset 0 -0.5em 0em 0.65em rgb(93, 235, 239),
           inset 0 0em 0.5em 2em rgb(224, 235, 235);
    box-shadow: 0 0.63em 0.75em rgba(158, 224, 224, .39),
           inset 0 -0.5em 0.9em 0 #ebfaf8,
           inset 0 -0.5em 0em 0.65em rgb(93, 235, 239),
           inset 0 0em 0.5em 2em rgb(224, 235, 235);
}

.aquaPowderBlue3h,
.hover_aquaPowderBlue3h:hover,
.active_aquaPowderBlue3h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(178, 230, 231, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #c1eff0,
           inset 0 0em 0.5em 2em #ffffff;
    -moz-box-shadow:0 0.63em 1em rgba(178, 230, 231, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #c1eff0,
           inset 0 0em 0.5em 2em #ffffff;
    box-shadow:0 0.63em 1em rgba(178, 230, 231, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #c1eff0,
           inset 0 0em 0.5em 2em #ffffff;
}

.aquaPowderBlue3a,
.hover_aquaPowderBlue3a:hover,
.active_aquaPowderBlue3a:active {
    /*background: #55bcc9;*/

    -webkit-box-shadow:0 0.63em 1em rgba(106, 224, 226, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #8aedf0,
           inset 0 0em 0.5em 2em #d6f4f5;
    -moz-box-shadow:0 0.63em 1em rgba(106, 224, 226, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #8aedf0,
           inset 0 0em 0.5em 2em #d6f4f5;
    box-shadow:0 0.63em 1em rgba(106, 224, 226, .55),
           inset 0 -0.5em 0.9em 0 #ffffff,
           inset 0 -0.5em 0em 0.65em #8aedf0,
           inset 0 0em 0.5em 2em #d6f4f5;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaPowderBlue3,
.hover_color_aquaPowderBlue3:hover,
.active_color_aquaPowderBlue3:active {
    color: #282828;
}

.color_aquaPowderBlue3h,
.hover_color_aquaPowderBlue3h:hover,
.active_color_aquaPowderBlue3h:active {
    color: #282828;
}

.color_aquaPowderBlue3a,
.hover_color_aquaPowderBlue3a:hover,
.active_color_aquaPowderBlue3a:active {
    color: #282828;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaPowderBlue3,
.hover_border_aquaPowderBlue3:hover,
.active_border_aquaPowderBlue3:active {
    border-color: #55bcc9 #55bcc9 #55bcc9 #55bcc9;
}

.border_aquaPowderBlue3h,
.hover_border_aquaPowderBlue3h:hover,
.active_border_aquaPowderBlue3h:active {
    border-color: #55bcc9 #55bcc9 #55bcc9 #55bcc9;
}

.border_aquaPowderBlue3a,
.hover_border_aquaPowderBlue3a:hover,
.active_border_aquaPowderBlue3a:active  {
    border-color: #55bcc9 #55bcc9 #55bcc9 #55bcc9;
}

