.aquaPowderBlue6,
.hover_aquaPowderBlue6:hover,
.active_aquaPowderBlue6:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(57, 178, 180, .39),
           inset 0 -0.5em 0.9em 0 #74ded1,
           inset 0 -0.5em 0em 0.65em rgb(17, 165, 169),
           inset 0 0em 0.5em 2em rgb(135, 177, 178);
    -moz-box-shadow: 0 0.63em 0.75em rgba(57, 178, 180, .39),
           inset 0 -0.5em 0.9em 0 #74ded1,
           inset 0 -0.5em 0em 0.65em rgb(17, 165, 169),
           inset 0 0em 0.5em 2em rgb(135, 177, 178);
    box-shadow: 0 0.63em 0.75em rgba(57, 178, 180, .39),
           inset 0 -0.5em 0.9em 0 #74ded1,
           inset 0 -0.5em 0em 0.65em rgb(17, 165, 169),
           inset 0 0em 0.5em 2em rgb(135, 177, 178);
}

.aquaPowderBlue6h,
.hover_aquaPowderBlue6h:hover,
.active_aquaPowderBlue6h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(67, 194, 195, .55),
           inset 0 -0.5em 0.9em 0 #9ee8df,
           inset 0 -0.5em 0em 0.65em #4bd1d5,
           inset 0 0em 0.5em 2em #a7dddf;
    -moz-box-shadow:0 0.63em 1em rgba(67, 194, 195, .55),
           inset 0 -0.5em 0.9em 0 #9ee8df,
           inset 0 -0.5em 0em 0.65em #4bd1d5,
           inset 0 0em 0.5em 2em #a7dddf;
    box-shadow:0 0.63em 1em rgba(67, 194, 195, .55),
           inset 0 -0.5em 0.9em 0 #9ee8df,
           inset 0 -0.5em 0em 0.65em #4bd1d5,
           inset 0 0em 0.5em 2em #a7dddf;
}

.aquaPowderBlue6a,
.hover_aquaPowderBlue6a:hover,
.active_aquaPowderBlue6a:active {
    /*background: #297780;*/

    -webkit-box-shadow:0 0.63em 1em rgba(31, 154, 155, .55),
           inset 0 -0.5em 0.9em 0 #7eeee0,
           inset 0 -0.5em 0em 0.65em #1bc8cd,
           inset 0 0em 0.5em 2em #60d6da;
    -moz-box-shadow:0 0.63em 1em rgba(31, 154, 155, .55),
           inset 0 -0.5em 0.9em 0 #7eeee0,
           inset 0 -0.5em 0em 0.65em #1bc8cd,
           inset 0 0em 0.5em 2em #60d6da;
    box-shadow:0 0.63em 1em rgba(31, 154, 155, .55),
           inset 0 -0.5em 0.9em 0 #7eeee0,
           inset 0 -0.5em 0em 0.65em #1bc8cd,
           inset 0 0em 0.5em 2em #60d6da;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaPowderBlue6,
.hover_color_aquaPowderBlue6:hover,
.active_color_aquaPowderBlue6:active {
    color: #282828;
}

.color_aquaPowderBlue6h,
.hover_color_aquaPowderBlue6h:hover,
.active_color_aquaPowderBlue6h:active {
    color: #c8c8c8;
}

.color_aquaPowderBlue6a,
.hover_color_aquaPowderBlue6a:hover,
.active_color_aquaPowderBlue6a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaPowderBlue6,
.hover_border_aquaPowderBlue6:hover,
.active_border_aquaPowderBlue6:active {
    border-color: #297780 #297780 #297780 #297780;
}

.border_aquaPowderBlue6h,
.hover_border_aquaPowderBlue6h:hover,
.active_border_aquaPowderBlue6h:active {
    border-color: #297780 #297780 #297780 #297780;
}

.border_aquaPowderBlue6a,
.hover_border_aquaPowderBlue6a:hover,
.active_border_aquaPowderBlue6a:active  {
    border-color: #297780 #297780 #297780 #297780;
}

