.background_oldLace2,
.hover_background_oldLace2:hover,
.active_background_oldLace2:active:hover {
    background: #f2bc57;
    background-image: -moz-linear-gradient(top,  rgb(248, 218, 163) 0%, rgb(242, 188, 87) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(248, 218, 163)), color-stop(100%, rgb(242, 188, 87)));
    background-image: -webkit-linear-gradient(top,  rgb(248, 218, 163) 0%, rgb(242, 188, 87) 100%);
    background-image: -o-linear-gradient(top,  rgb(248, 218, 163) 0%, rgb(242, 188, 87) 100%);
    background-image: -ms-linear-gradient(top, rgb(248, 218, 163) 0%, rgb(242, 188, 87) 100%);
    background-image: linear-gradient(to bottom,  rgb(248, 218, 163) 0%, rgb(242, 188, 87) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8daa3', endColorstr='#f2bc57',GradientType=0 );
}

.background_oldLace2h,
.hover_background_oldLace2h:hover,
.active_background_oldLace2h:active:hover {
    background: #f2bc57;
    background-image: -moz-linear-gradient(top,  rgb(254, 249, 239) 0%, rgb(246, 212, 148) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(254, 249, 239)), color-stop(100%, rgb(246, 212, 148)));
    background-image: -webkit-linear-gradient(top,  rgb(254, 249, 239) 0%, rgb(246, 212, 148) 100%);
    background-image: -o-linear-gradient(top,  rgb(254, 249, 239) 0%, rgb(246, 212, 148) 100%);
    background-image: -ms-linear-gradient(top, rgb(254, 249, 239) 0%, rgb(246, 212, 148) 100%);
    background-image: linear-gradient(to bottom,  rgb(254, 249, 239) 0%, rgb(246, 212, 148) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef9ef', endColorstr='#f6d494',GradientType=0 );
}

.background_oldLace2a,
.hover_background_oldLace2a:hover,
.active_background_oldLace2a:active:hover {
    background: #f2bc57;
    background-image: -moz-linear-gradient(top,  rgb(246, 212, 148) 0%, rgb(254, 249, 239) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(246, 212, 148)), color-stop(100%, rgb(254, 249, 239)));
    background-image: -webkit-linear-gradient(top,  rgb(246, 212, 148) 0%, rgb(254, 249, 239) 100%);
    background-image: -o-linear-gradient(top,  rgb(246, 212, 148) 0%, rgb(254, 249, 239) 100%);
    background-image: -ms-linear-gradient(top, rgb(246, 212, 148) 0%, rgb(254, 249, 239) 100%);
    background-image: linear-gradient(to bottom,  rgb(246, 212, 148) 0%, rgb(254, 249, 239) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d494', endColorstr='#fef9ef',GradientType=0 );
}

.background_oldLace2s,
.hover_background_oldLace2s:hover,
.active_background_oldLace2s:active:hover {
    background: #f2bc57;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(254, 249, 239) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(254, 249, 239)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(254, 249, 239) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(254, 249, 239) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(254, 249, 239) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(254, 249, 239) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fef9ef',GradientType=0 );
}

.background_color_oldLace2,
.hover_background_color_oldLace2:hover,
.active_background_color_oldLace2:active:hover {
    background-color:#f2bc57;
}

.background_first_color_oldLace2,
.hover_background_first_color_oldLace2:hover,
.active_background_first_color_oldLace2:active:hover {
    background-color:#f8daa3;
}

.background_last_color_oldLace2,
.hover_background_last_color_oldLace2:hover,
.active_background_color_last_oldLace2:active:hover {
   background-color:#f2bc57;
}

/* ------------------------------ color settings -------------------------------*/
.color_oldLace2,
.hover_color_oldLace2:hover,
.active_color_oldLace2:active:hover {
    color: #282828;
}

.color_oldLace2h,
.hover_color_oldLace2h:hover,
.active_color_oldLace2h:active:hover {
    color: #282828;
}

.color_oldLace2a,
.hover_color_oldLace2a:hover,
.active_color_oldLace2a:active:hover {
    color: #ff0;
}

.color_oldLace2s,
.hover_color_oldLace2s:hover,
.active_color_oldLace2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_oldLace2,
.hover_border_oldLace2:hover,
.active_border_oldLace2:active:hover {
    border-color: #f2bc57 #f2bc57 #f2bc57 #f2bc57;
}

.border_oldLace2h,
.hover_border_oldLace2h:hover,
.active_border_oldLace2h:active:hover {
    border-color: #efb038 #efb038 #efb038 #efb038;
}

.border_oldLace2a,
.hover_border_oldLace2a:hover,
.active_border_oldLace2a:active:hover {
    border-color: #eda31a #eda31a #eda31a #eda31a;
}

.border_oldLace2s,
.hover_border_oldLace2s:hover,
.active_border_oldLace2s:active:hover {
    border-color: #fef9ef #fef9ef #fef9ef #fef9ef;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_oldLace2,
.hover_shadow_expand_oldLace2:hover,
.active_shadow_expand_oldLace2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(242, 188, 87, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(242, 188, 87, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(242, 188, 87, .39);
}

.shadow_expand_oldLace2h,
.hover_shadow_expand_oldLace2h:hover,
.active_shadow_expand_oldLace2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(246, 212, 148, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(246, 212, 148, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(246, 212, 148, .50);
}

.shadow_expand_oldLace2a,
.hover_shadow_expand_oldLace2a:hover,
.active_shadow_expand_oldLace2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(254, 249, 239, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(254, 249, 239, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(254, 249, 239, .63);
}

.shadow_expand_oldLace2s,
.hover_shadow_expand_oldLace2s:hover,
.active_shadow_expand_oldLace2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(254, 249, 239, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(254, 249, 239, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(254, 249, 239, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_oldLace2,
.hover_shadow_left_oldLace2:hover,
.active_shadow_left_oldLace2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(242, 188, 87, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(242, 188, 87, .39);
    box-shadow: -0.5em -0.5em 1em rgba(242, 188, 87, .39);
}

.shadow_left_oldLace2h,
.hover_shadow_left_oldLace2h:hover,
.active_shadow_left_oldLace2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(246, 212, 148, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(246, 212, 148, .50);
    box-shadow: -0.5em -0.5em 1em rgba(246, 212, 148, .50);
}

.shadow_left_oldLace2a,
.hover_shadow_left_oldLace2a:hover,
.active_shadow_left_oldLace2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(254, 249, 239, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(254, 249, 239, .63);
    box-shadow: -0.5em -0.5em 1em rgba(254, 249, 239, .63);
}

.shadow_left_oldLace2s,
.hover_shadow_left_oldLace2s:hover,
.active_shadow_left_oldLace2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(254, 249, 239, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(254, 249, 239, .78);
    box-shadow: -0.5em -0.5em 1em rgba(254, 249, 239, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_oldLace2,
.hover_shadow_right_oldLace2:hover,
.active_shadow_right_oldLace2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(242, 188, 87, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(242, 188, 87, .39);
    box-shadow: 0.5em 0em 1em rgba(242, 188, 87, .39);
}

.shadow_right_oldLace2h,
.hover_shadow_right_oldLace2h:hover,
.active_shadow_right_oldLace2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(246, 212, 148, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(246, 212, 148, .50);
    box-shadow: 0.5em 0em 1em rgba(246, 212, 148, .50);
}

.shadow_right_oldLace2a,
.hover_shadow_right_oldLace2a:hover,
.active_shadow_right_oldLace2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(254, 249, 239, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(254, 249, 239, .63);
    box-shadow: 0.5em 0em 1em rgba(254, 249, 239, .63);
}

.shadow_right_oldLace2s,
.hover_shadow_right_oldLace2s:hover,
.active_shadow_right_oldLace2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(254, 249, 239, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(254, 249, 239, .78);
    box-shadow: 0.5em 0em 1em rgba(254, 249, 239, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_oldLace2,
.hover_shadow_top_oldLace2:hover,
.active_shadow_top_oldLace2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(242, 188, 87, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(242, 188, 87, .39);
    box-shadow: 0em -0.5em 1em rgba(242, 188, 87, .39);
}

.shadow_top_oldLace2h,
.hover_shadow_top_oldLace2h:hover,
.active_shadow_top_oldLace2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(246, 212, 148, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(246, 212, 148, .50);
    box-shadow: 0em -0.5em 1em rgba(246, 212, 148, .50);
}

.shadow_top_oldLace2a,
.hover_shadow_top_oldLace2a:hover,
.active_shadow_top_oldLace2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(254, 249, 239, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(254, 249, 239, .63);
    box-shadow: 0em -0.5em 1em rgba(254, 249, 239, .63);
}

.shadow_top_oldLace2s,
.hover_shadow_top_oldLace2s:hover,
.active_shadow_top_oldLace2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(254, 249, 239, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(254, 249, 239, .78);
    box-shadow: 0em -0.5em 1em rgba(254, 249, 239, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_oldLace2,
.hover_shadow_bottom_oldLace2:hover,
.active_shadow_bottom_oldLace2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(242, 188, 87, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(242, 188, 87, .39);
    box-shadow: 0em 0.5em 1em rgba(242, 188, 87, .39);
}

.shadow_bottom_oldLace2h,
.hover_shadow_bottom_oldLace2h:hover,
.active_shadow_bottom_oldLace2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(246, 212, 148, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(246, 212, 148, .50);
    box-shadow: 0em 0.5em 1em rgba(246, 212, 148, .50);
}

.shadow_bottom_oldLace2a,
.hover_shadow_bottom_oldLace2a:hover,
.active_shadow_bottom_oldLace2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(254, 249, 239, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(254, 249, 239, .63);
    box-shadow: 0em 0.5em 1em rgba(254, 249, 239, .63);
}

.shadow_bottom_oldLace2s,
.hover_shadow_bottom_oldLace2s:hover,
.active_shadow_bottom_oldLace2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(254, 249, 239, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(254, 249, 239, .78);
    box-shadow: 0em 0.5em 1em rgba(254, 249, 239, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_oldLace2,
.hover_shadow_top_left_oldLace2:hover,
.active_shadow_top_left_oldLace2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(242, 188, 87, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(242, 188, 87, .39);
    box-shadow: -0.5em -0.5em 1em rgba(242, 188, 87, .39);
}

.shadow_top_left_oldLace2h,
.hover_shadow_top_left_oldLace2h:hover,
.active_shadow_top_left_oldLace2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(246, 212, 148, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(246, 212, 148, .50);
    box-shadow: -0.5em -0.5em 1em rgba(246, 212, 148, .50);
}

.shadow_top_left_oldLace2a,
.hover_shadow_top_left_oldLace2a:hover,
.active_shadow_top_left_oldLace2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(254, 249, 239, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(254, 249, 239, .63);
    box-shadow: -0.5em -0.5em 1em rgba(254, 249, 239, .63);
}

.shadow_top_left_oldLace2s,
.hover_shadow_top_left_oldLace2s:hover,
.active_shadow_top_left_oldLace2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(254, 249, 239, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(254, 249, 239, .78);
    box-shadow: -0.5em -0.5em 1em rgba(254, 249, 239, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_oldLace2,
.hover_shadow_top_right_oldLace2:hover,
.active_shadow_top_right_oldLace2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(242, 188, 87, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(242, 188, 87, .39);
    box-shadow: 0.5em -0.5em 1em rgba(242, 188, 87, .39);
}

.shadow_top_right_oldLace2h,
.hover_shadow_top_right_oldLace2h:hover,
.active_shadow_top_right_oldLace2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(246, 212, 148, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(246, 212, 148, .50);
    box-shadow: 0.5em -0.5em 1em rgba(246, 212, 148, .50);
}

.shadow_top_right_oldLace2a,
.hover_shadow_top_right_oldLace2a:hover,
.active_shadow_top_right_oldLace2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(254, 249, 239, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(254, 249, 239, .63);
    box-shadow: 0.5em -0.5em 1em rgba(254, 249, 239, .63);
}

.shadow_top_right_oldLace2s,
.hover_shadow_top_right_oldLace2s:hover,
.active_shadow_top_right_oldLace2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(254, 249, 239, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(254, 249, 239, .78);
    box-shadow: 0.5em -0.5em 1em rgba(254, 249, 239, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_oldLace2,
.hover_shadow_bottom_left_oldLace2:hover,
.active_shadow_bottom_left_oldLace2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(242, 188, 87, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(242, 188, 87, .39);
    box-shadow: -0.5em 0.5em 1em rgba(242, 188, 87, .39);
}

.shadow_bottom_left_oldLace2h,
.hover_shadow_bottom_left_oldLace2h:hover,
.active_shadow_bottom_left_oldLace2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(246, 212, 148, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(246, 212, 148, .50);
    box-shadow: -0.5em 0.5em 1em rgba(246, 212, 148, .50);
}

.shadow_bottom_left_oldLace2a,
.hover_shadow_bottom_left_oldLace2a:hover,
.active_shadow_bottom_left_oldLace2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(254, 249, 239, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(254, 249, 239, .63);
    box-shadow: -0.5em 0.5em 1em rgba(254, 249, 239, .63);
}

.shadow_bottom_left_oldLace2s,
.hover_shadow_bottom_left_oldLace2s:hover,
.active_shadow_bottom_left_oldLace2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(254, 249, 239, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(254, 249, 239, .78);
    box-shadow: -0.5em 0.5em 1em rgba(254, 249, 239, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_oldLace2,
.hover_shadow_bottom_right_oldLace2:hover,
.active_shadow_bottom_right_oldLace2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(242, 188, 87, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(242, 188, 87, .39);
    box-shadow: 0.5em 0.5em 1em rgba(242, 188, 87, .39);
}

.shadow_bottom_right_oldLace2h,
.hover_shadow_bottom_right_oldLace2h:hover,
.active_shadow_bottom_right_oldLace2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(246, 212, 148, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(246, 212, 148, .50);
    box-shadow: 0.5em 0.5em 1em rgba(246, 212, 148, .50);
}

.shadow_bottom_right_oldLace2a,
 .hover_shadow_bottom_right_oldLace2a:hover,
 .active_shadow_bottom_right_oldLace2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(254, 249, 239, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(254, 249, 239, .63);
     box-shadow: 0.5em 0.5em 1em rgba(254, 249, 239, .63);
 }

 .shadow_bottom_right_oldLace2s,
 .hover_shadow_bottom_right_oldLace2s:hover,
 .active_shadow_bottom_right_oldLace2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(254, 249, 239, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(254, 249, 239, .78);
     box-shadow: 0.5em 0.5em 1em rgba(254, 249, 239, .78);
 }