.background_maroon4,
.hover_background_maroon4:hover,
.active_background_maroon4:active:hover {
    background: #e00000;
    background-image: -moz-linear-gradient(top,  rgb(255, 25, 25) 0%, rgb(224, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 25, 25)), color-stop(100%, rgb(224, 0, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 25, 25) 0%, rgb(224, 0, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 25, 25) 0%, rgb(224, 0, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 25, 25) 0%, rgb(224, 0, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 25, 25) 0%, rgb(224, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1919', endColorstr='#e00000',GradientType=0 );
}

.background_maroon4h,
.hover_background_maroon4h:hover,
.active_background_maroon4h:active:hover {
    background: #e00000;
    background-image: -moz-linear-gradient(top,  rgb(255, 80, 80) 0%, rgb(255, 13, 13) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 80, 80)), color-stop(100%, rgb(255, 13, 13)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 80, 80) 0%, rgb(255, 13, 13) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 80, 80) 0%, rgb(255, 13, 13) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 80, 80) 0%, rgb(255, 13, 13) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 80, 80) 0%, rgb(255, 13, 13) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5050', endColorstr='#ff0d0d',GradientType=0 );
}

.background_maroon4a,
.hover_background_maroon4a:hover,
.active_background_maroon4a:active:hover {
    background: #e00000;
    background-image: -moz-linear-gradient(top,  rgb(255, 13, 13) 0%, rgb(255, 80, 80) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 13, 13)), color-stop(100%, rgb(255, 80, 80)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 13, 13) 0%, rgb(255, 80, 80) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 13, 13) 0%, rgb(255, 80, 80) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 13, 13) 0%, rgb(255, 80, 80) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 13, 13) 0%, rgb(255, 80, 80) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0d0d', endColorstr='#ff5050',GradientType=0 );
}

.background_maroon4s,
.hover_background_maroon4s:hover,
.active_background_maroon4s:active:hover {
    background: #e00000;
    background-image: -moz-linear-gradient(top,  rgb(255, 164, 164) 0%, rgb(255, 80, 80) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 164, 164)), color-stop(100%, rgb(255, 80, 80)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 164, 164) 0%, rgb(255, 80, 80) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 164, 164) 0%, rgb(255, 80, 80) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 164, 164) 0%, rgb(255, 80, 80) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 164, 164) 0%, rgb(255, 80, 80) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa4a4', endColorstr='#ff5050',GradientType=0 );
}

.background_color_maroon4,
.hover_background_color_maroon4:hover,
.active_background_color_maroon4:active:hover {
    background-color:#e00000;
}

.background_first_color_maroon4,
.hover_background_first_color_maroon4:hover,
.active_background_first_color_maroon4:active:hover {
    background-color:#ff1919;
}

.background_last_color_maroon4,
.hover_background_last_color_maroon4:hover,
.active_background_color_last_maroon4:active:hover {
   background-color:#e00000;
}

/* ------------------------------ color settings -------------------------------*/
.color_maroon4,
.hover_color_maroon4:hover,
.active_color_maroon4:active:hover {
    color: #c8c8c8;
}

.color_maroon4h,
.hover_color_maroon4h:hover,
.active_color_maroon4h:active:hover {
    color: #c8c8c8;
}

.color_maroon4a,
.hover_color_maroon4a:hover,
.active_color_maroon4a:active:hover {
    color: #ff0;
}

.color_maroon4s,
.hover_color_maroon4s:hover,
.active_color_maroon4s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_maroon4,
.hover_border_maroon4:hover,
.active_border_maroon4:active:hover {
    border-color: #e00000 #e00000 #e00000 #e00000;
}

.border_maroon4h,
.hover_border_maroon4h:hover,
.active_border_maroon4h:active:hover {
    border-color: #c90000 #c90000 #c90000 #c90000;
}

.border_maroon4a,
.hover_border_maroon4a:hover,
.active_border_maroon4a:active:hover {
    border-color: #b30000 #b30000 #b30000 #b30000;
}

.border_maroon4s,
.hover_border_maroon4s:hover,
.active_border_maroon4s:active:hover {
    border-color: #ff5050 #ff5050 #ff5050 #ff5050;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_maroon4,
.hover_shadow_expand_maroon4:hover,
.active_shadow_expand_maroon4:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(224, 0, 0, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(224, 0, 0, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(224, 0, 0, .39);
}

.shadow_expand_maroon4h,
.hover_shadow_expand_maroon4h:hover,
.active_shadow_expand_maroon4h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 13, 13, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 13, 13, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 13, 13, .50);
}

.shadow_expand_maroon4a,
.hover_shadow_expand_maroon4a:hover,
.active_shadow_expand_maroon4a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 80, 80, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 80, 80, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 80, 80, .63);
}

.shadow_expand_maroon4s,
.hover_shadow_expand_maroon4s:hover,
.active_shadow_expand_maroon4s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 80, 80, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 80, 80, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 80, 80, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_maroon4,
.hover_shadow_left_maroon4:hover,
.active_shadow_left_maroon4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(224, 0, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(224, 0, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(224, 0, 0, .39);
}

.shadow_left_maroon4h,
.hover_shadow_left_maroon4h:hover,
.active_shadow_left_maroon4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 13, 13, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 13, 13, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 13, 13, .50);
}

.shadow_left_maroon4a,
.hover_shadow_left_maroon4a:hover,
.active_shadow_left_maroon4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 80, 80, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 80, 80, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 80, 80, .63);
}

.shadow_left_maroon4s,
.hover_shadow_left_maroon4s:hover,
.active_shadow_left_maroon4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 80, 80, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 80, 80, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 80, 80, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_maroon4,
.hover_shadow_right_maroon4:hover,
.active_shadow_right_maroon4:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(224, 0, 0, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(224, 0, 0, .39);
    box-shadow: 0.5em 0em 1em rgba(224, 0, 0, .39);
}

.shadow_right_maroon4h,
.hover_shadow_right_maroon4h:hover,
.active_shadow_right_maroon4h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 13, 13, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 13, 13, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 13, 13, .50);
}

.shadow_right_maroon4a,
.hover_shadow_right_maroon4a:hover,
.active_shadow_right_maroon4a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 80, 80, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 80, 80, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 80, 80, .63);
}

.shadow_right_maroon4s,
.hover_shadow_right_maroon4s:hover,
.active_shadow_right_maroon4s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 80, 80, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 80, 80, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 80, 80, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_maroon4,
.hover_shadow_top_maroon4:hover,
.active_shadow_top_maroon4:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(224, 0, 0, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(224, 0, 0, .39);
    box-shadow: 0em -0.5em 1em rgba(224, 0, 0, .39);
}

.shadow_top_maroon4h,
.hover_shadow_top_maroon4h:hover,
.active_shadow_top_maroon4h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 13, 13, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 13, 13, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 13, 13, .50);
}

.shadow_top_maroon4a,
.hover_shadow_top_maroon4a:hover,
.active_shadow_top_maroon4a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 80, 80, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 80, 80, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 80, 80, .63);
}

.shadow_top_maroon4s,
.hover_shadow_top_maroon4s:hover,
.active_shadow_top_maroon4s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 80, 80, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 80, 80, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 80, 80, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_maroon4,
.hover_shadow_bottom_maroon4:hover,
.active_shadow_bottom_maroon4:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(224, 0, 0, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(224, 0, 0, .39);
    box-shadow: 0em 0.5em 1em rgba(224, 0, 0, .39);
}

.shadow_bottom_maroon4h,
.hover_shadow_bottom_maroon4h:hover,
.active_shadow_bottom_maroon4h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 13, 13, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 13, 13, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 13, 13, .50);
}

.shadow_bottom_maroon4a,
.hover_shadow_bottom_maroon4a:hover,
.active_shadow_bottom_maroon4a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 80, 80, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 80, 80, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 80, 80, .63);
}

.shadow_bottom_maroon4s,
.hover_shadow_bottom_maroon4s:hover,
.active_shadow_bottom_maroon4s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 80, 80, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 80, 80, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 80, 80, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_maroon4,
.hover_shadow_top_left_maroon4:hover,
.active_shadow_top_left_maroon4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(224, 0, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(224, 0, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(224, 0, 0, .39);
}

.shadow_top_left_maroon4h,
.hover_shadow_top_left_maroon4h:hover,
.active_shadow_top_left_maroon4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 13, 13, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 13, 13, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 13, 13, .50);
}

.shadow_top_left_maroon4a,
.hover_shadow_top_left_maroon4a:hover,
.active_shadow_top_left_maroon4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 80, 80, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 80, 80, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 80, 80, .63);
}

.shadow_top_left_maroon4s,
.hover_shadow_top_left_maroon4s:hover,
.active_shadow_top_left_maroon4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 80, 80, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 80, 80, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 80, 80, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_maroon4,
.hover_shadow_top_right_maroon4:hover,
.active_shadow_top_right_maroon4:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(224, 0, 0, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(224, 0, 0, .39);
    box-shadow: 0.5em -0.5em 1em rgba(224, 0, 0, .39);
}

.shadow_top_right_maroon4h,
.hover_shadow_top_right_maroon4h:hover,
.active_shadow_top_right_maroon4h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 13, 13, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 13, 13, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 13, 13, .50);
}

.shadow_top_right_maroon4a,
.hover_shadow_top_right_maroon4a:hover,
.active_shadow_top_right_maroon4a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 80, 80, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 80, 80, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 80, 80, .63);
}

.shadow_top_right_maroon4s,
.hover_shadow_top_right_maroon4s:hover,
.active_shadow_top_right_maroon4s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 80, 80, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 80, 80, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 80, 80, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_maroon4,
.hover_shadow_bottom_left_maroon4:hover,
.active_shadow_bottom_left_maroon4:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(224, 0, 0, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(224, 0, 0, .39);
    box-shadow: -0.5em 0.5em 1em rgba(224, 0, 0, .39);
}

.shadow_bottom_left_maroon4h,
.hover_shadow_bottom_left_maroon4h:hover,
.active_shadow_bottom_left_maroon4h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 13, 13, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 13, 13, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 13, 13, .50);
}

.shadow_bottom_left_maroon4a,
.hover_shadow_bottom_left_maroon4a:hover,
.active_shadow_bottom_left_maroon4a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 80, 80, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 80, 80, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 80, 80, .63);
}

.shadow_bottom_left_maroon4s,
.hover_shadow_bottom_left_maroon4s:hover,
.active_shadow_bottom_left_maroon4s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 80, 80, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 80, 80, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 80, 80, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_maroon4,
.hover_shadow_bottom_right_maroon4:hover,
.active_shadow_bottom_right_maroon4:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(224, 0, 0, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(224, 0, 0, .39);
    box-shadow: 0.5em 0.5em 1em rgba(224, 0, 0, .39);
}

.shadow_bottom_right_maroon4h,
.hover_shadow_bottom_right_maroon4h:hover,
.active_shadow_bottom_right_maroon4h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 13, 13, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 13, 13, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 13, 13, .50);
}

.shadow_bottom_right_maroon4a,
 .hover_shadow_bottom_right_maroon4a:hover,
 .active_shadow_bottom_right_maroon4a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 80, 80, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 80, 80, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 80, 80, .63);
 }

 .shadow_bottom_right_maroon4s,
 .hover_shadow_bottom_right_maroon4s:hover,
 .active_shadow_bottom_right_maroon4s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 80, 80, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 80, 80, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 80, 80, .78);
 }