.background_glassyPaleGoldenRod1,
.hover_background_glassyPaleGoldenRod1:hover,
.active_background_glassyPaleGoldenRod1:active:hover {
    background: #eee8aa;
    background-image: -moz-linear-gradient(top,  rgb(231, 223, 136) 0%, rgb(224, 214, 102) 50%, rgb(218, 204, 68) 55%, rgb(238, 232, 170) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(231, 223, 136)), color-stop(50%, rgb(224, 214, 102)), color-stop(55%, rgb(218, 204, 68)), color-stop(100%, rgb(238, 232, 170)));
    background-image: -webkit-linear-gradient(top,  rgb(231, 223, 136) 0%, rgb(224, 214, 102) 50%, rgb(218, 204, 68) 55%, rgb(238, 232, 170) 100%);
    background-image: -o-linear-gradient(top,  rgb(231, 223, 136) 0%, rgb(224, 214, 102) 50%, rgb(218, 204, 68) 55%, rgb(238, 232, 170) 100%);
    background-image: -ms-linear-gradient(top, rgb(231, 223, 136) 0%, rgb(224, 214, 102) 50%, rgb(218, 204, 68) 55%, rgb(238, 232, 170) 100%);
    background-image: linear-gradient(to bottom,  rgb(231, 223, 136) 0%, rgb(224, 214, 102) 50%, rgb(218, 204, 68) 55%, rgb(238, 232, 170) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7df88', endColorstr='#eee8aa',GradientType=0 );
}

.background_glassyPaleGoldenRod1h,
.hover_background_glassyPaleGoldenRod1h:hover,
.active_background_glassyPaleGoldenRod1h:active:hover {
    background: #eee8aa;
    background-image: -moz-linear-gradient(top,  rgb(243, 239, 197) 0%, rgb(235, 228, 156) 50%, rgb(227, 217, 116) 55%, rgb(252, 250, 238) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(243, 239, 197)), color-stop(50%, rgb(235, 228, 156)), color-stop(55%, rgb(227, 217, 116)), color-stop(100%, rgb(252, 250, 238)));
    background-image: -webkit-linear-gradient(top,  rgb(243, 239, 197) 0%, rgb(235, 228, 156) 50%, rgb(227, 217, 116) 55%, rgb(252, 250, 238) 100%);
    background-image: -o-linear-gradient(top,  rgb(243, 239, 197) 0%, rgb(235, 228, 156) 50%, rgb(227, 217, 116) 55%, rgb(252, 250, 238) 100%);
    background-image: -ms-linear-gradient(top, rgb(243, 239, 197) 0%, rgb(235, 228, 156) 50%, rgb(227, 217, 116) 55%, rgb(252, 250, 238) 100%);
    background-image: linear-gradient(to bottom,  rgb(243, 239, 197) 0%, rgb(235, 228, 156) 50%, rgb(227, 217, 116) 55%, rgb(252, 250, 238) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3efc5', endColorstr='#fcfaee',GradientType=0 );
}

.background_glassyPaleGoldenRod1a,
.hover_background_glassyPaleGoldenRod1a:hover,
.active_background_glassyPaleGoldenRod1a:active:hover {
    background: #eee8aa;
    background-image: -moz-linear-gradient(top,  rgb(252, 250, 238) 0%, rgb(227, 217, 116) 50%, rgb(235, 228, 156) 55%, rgb(243, 239, 197) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(252, 250, 238)), color-stop(50%, rgb(227, 217, 116)), color-stop(55%, rgb(235, 228, 156)), color-stop(100%, rgb(243, 239, 197)));
    background-image: -webkit-linear-gradient(top,  rgb(252, 250, 238) 0%, rgb(227, 217, 116) 50%, rgb(235, 228, 156) 55%, rgb(243, 239, 197) 100%);
    background-image: -o-linear-gradient(top,  rgb(252, 250, 238) 0%, rgb(227, 217, 116) 50%, rgb(235, 228, 156) 55%, rgb(243, 239, 197) 100%);
    background-image: -ms-linear-gradient(top, rgb(252, 250, 238) 0%, rgb(227, 217, 116) 50%, rgb(235, 228, 156) 55%, rgb(243, 239, 197) 100%);
    background-image: linear-gradient(to bottom,  rgb(252, 250, 238) 0%, rgb(227, 217, 116) 50%, rgb(235, 228, 156) 55%, rgb(243, 239, 197) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfaee', endColorstr='#f3efc5',GradientType=0 );
}

.background_glassyPaleGoldenRod1s,
.hover_background_glassyPaleGoldenRod1s:hover,
.active_background_glassyPaleGoldenRod1s:active:hover {
    background: #eee8aa;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(252, 250, 238) 50%, rgb(241, 237, 187) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(252, 250, 238)), color-stop(55%, rgb(241, 237, 187)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(252, 250, 238) 50%, rgb(241, 237, 187) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(252, 250, 238) 50%, rgb(241, 237, 187) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(252, 250, 238) 50%, rgb(241, 237, 187) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(252, 250, 238) 50%, rgb(241, 237, 187) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_color_glassyPaleGoldenRod1,
.hover_background_color_glassyPaleGoldenRod1:hover,
.active_background_color_glassyPaleGoldenRod1:active:hover {
    background-color:#eee8aa;
}

.background_first_color_glassyPaleGoldenRod1,
.hover_background_first_color_glassyPaleGoldenRod1:hover,
.active_background_first_color_glassyPaleGoldenRod1:active:hover {
    background-color:#e7df88;
}

.background_last_color_glassyPaleGoldenRod1,
.hover_background_last_color_glassyPaleGoldenRod1:hover,
.active_background_color_last_glassyPaleGoldenRod1:active:hover {
   background-color:#eee8aa;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyPaleGoldenRod1,
.hover_color_glassyPaleGoldenRod1:hover,
.active_color_glassyPaleGoldenRod1:active:hover {
    color: #282828;
}

.color_glassyPaleGoldenRod1h,
.hover_color_glassyPaleGoldenRod1h:hover,
.active_color_glassyPaleGoldenRod1h:active:hover {
    color: #282828;
}

.color_glassyPaleGoldenRod1a,
.hover_color_glassyPaleGoldenRod1a:hover,
.active_color_glassyPaleGoldenRod1a:active:hover {
    color: #ff0;
}

.color_glassyPaleGoldenRod1s,
.hover_color_glassyPaleGoldenRod1s:hover,
.active_color_glassyPaleGoldenRod1s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyPaleGoldenRod1,
.hover_border_glassyPaleGoldenRod1:hover,
.active_border_glassyPaleGoldenRod1:active:hover {
    border-color: #dbce4b #ccbe29 #ccbe29 #dbce4b;
}

.border_glassyPaleGoldenRod1h,
.hover_border_glassyPaleGoldenRod1h:hover,
.active_border_glassyPaleGoldenRod1h:active:hover {
    border-color: #dbce4b #ccbe29 #ccbe29 #dbce4b;
}

.border_glassyPaleGoldenRod1a,
.hover_border_glassyPaleGoldenRod1a:hover,
.active_border_glassyPaleGoldenRod1a:active:hover {
    border-color: #beb126 #beb126 #beb126 #beb126;
}

.border_glassyPaleGoldenRod1s,
.hover_border_glassyPaleGoldenRod1s:hover,
.active_border_glassyPaleGoldenRod1s:active:hover {
    border-color: #beb126 #beb126 #beb126 #beb126;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyPaleGoldenRod1,
.hover_shadow_expand_glassyPaleGoldenRod1:hover,
.active_shadow_expand_glassyPaleGoldenRod1:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(238, 232, 170, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(238, 232, 170, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(238, 232, 170, .39);
}

.shadow_expand_glassyPaleGoldenRod1h,
.hover_shadow_expand_glassyPaleGoldenRod1h:hover,
.active_shadow_expand_glassyPaleGoldenRod1h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(252, 250, 238, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(252, 250, 238, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(252, 250, 238, .50);
}

.shadow_expand_glassyPaleGoldenRod1a,
.hover_shadow_expand_glassyPaleGoldenRod1a:hover,
.active_shadow_expand_glassyPaleGoldenRod1a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(243, 239, 197, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(243, 239, 197, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(243, 239, 197, .63);
}

.shadow_expand_glassyPaleGoldenRod1s,
.hover_shadow_expand_glassyPaleGoldenRod1s:hover,
.active_shadow_expand_glassyPaleGoldenRod1s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(243, 239, 197, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(243, 239, 197, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(243, 239, 197, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyPaleGoldenRod1,
.hover_shadow_left_glassyPaleGoldenRod1:hover,
.active_shadow_left_glassyPaleGoldenRod1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(238, 232, 170, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(238, 232, 170, .39);
    box-shadow: -0.5em -0.5em 1em rgba(238, 232, 170, .39);
}

.shadow_left_glassyPaleGoldenRod1h,
.hover_shadow_left_glassyPaleGoldenRod1h:hover,
.active_shadow_left_glassyPaleGoldenRod1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(252, 250, 238, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(252, 250, 238, .50);
    box-shadow: -0.5em -0.5em 1em rgba(252, 250, 238, .50);
}

.shadow_left_glassyPaleGoldenRod1a,
.hover_shadow_left_glassyPaleGoldenRod1a:hover,
.active_shadow_left_glassyPaleGoldenRod1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(243, 239, 197, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(243, 239, 197, .63);
    box-shadow: -0.5em -0.5em 1em rgba(243, 239, 197, .63);
}

.shadow_left_glassyPaleGoldenRod1s,
.hover_shadow_left_glassyPaleGoldenRod1s:hover,
.active_shadow_left_glassyPaleGoldenRod1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(243, 239, 197, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(243, 239, 197, .78);
    box-shadow: -0.5em -0.5em 1em rgba(243, 239, 197, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyPaleGoldenRod1,
.hover_shadow_right_glassyPaleGoldenRod1:hover,
.active_shadow_right_glassyPaleGoldenRod1:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(238, 232, 170, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(238, 232, 170, .39);
    box-shadow: 0.5em 0em 1em rgba(238, 232, 170, .39);
}

.shadow_right_glassyPaleGoldenRod1h,
.hover_shadow_right_glassyPaleGoldenRod1h:hover,
.active_shadow_right_glassyPaleGoldenRod1h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(252, 250, 238, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(252, 250, 238, .50);
    box-shadow: 0.5em 0em 1em rgba(252, 250, 238, .50);
}

.shadow_right_glassyPaleGoldenRod1a,
.hover_shadow_right_glassyPaleGoldenRod1a:hover,
.active_shadow_right_glassyPaleGoldenRod1a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(243, 239, 197, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(243, 239, 197, .63);
    box-shadow: 0.5em 0em 1em rgba(243, 239, 197, .63);
}

.shadow_right_glassyPaleGoldenRod1s,
.hover_shadow_right_glassyPaleGoldenRod1s:hover,
.active_shadow_right_glassyPaleGoldenRod1s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(243, 239, 197, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(243, 239, 197, .78);
    box-shadow: 0.5em 0em 1em rgba(243, 239, 197, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyPaleGoldenRod1,
.hover_shadow_top_glassyPaleGoldenRod1:hover,
.active_shadow_top_glassyPaleGoldenRod1:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(238, 232, 170, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(238, 232, 170, .39);
    box-shadow: 0em -0.5em 1em rgba(238, 232, 170, .39);
}

.shadow_top_glassyPaleGoldenRod1h,
.hover_shadow_top_glassyPaleGoldenRod1h:hover,
.active_shadow_top_glassyPaleGoldenRod1h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(252, 250, 238, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(252, 250, 238, .50);
    box-shadow: 0em -0.5em 1em rgba(252, 250, 238, .50);
}

.shadow_top_glassyPaleGoldenRod1a,
.hover_shadow_top_glassyPaleGoldenRod1a:hover,
.active_shadow_top_glassyPaleGoldenRod1a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(243, 239, 197, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(243, 239, 197, .63);
    box-shadow: 0em -0.5em 1em rgba(243, 239, 197, .63);
}

.shadow_top_glassyPaleGoldenRod1s,
.hover_shadow_top_glassyPaleGoldenRod1s:hover,
.active_shadow_top_glassyPaleGoldenRod1s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(243, 239, 197, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(243, 239, 197, .78);
    box-shadow: 0em -0.5em 1em rgba(243, 239, 197, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyPaleGoldenRod1,
.hover_shadow_bottom_glassyPaleGoldenRod1:hover,
.active_shadow_bottom_glassyPaleGoldenRod1:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(238, 232, 170, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(238, 232, 170, .39);
    box-shadow: 0em 0.5em 1em rgba(238, 232, 170, .39);
}

.shadow_bottom_glassyPaleGoldenRod1h,
.hover_shadow_bottom_glassyPaleGoldenRod1h:hover,
.active_shadow_bottom_glassyPaleGoldenRod1h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(252, 250, 238, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(252, 250, 238, .50);
    box-shadow: 0em 0.5em 1em rgba(252, 250, 238, .50);
}

.shadow_bottom_glassyPaleGoldenRod1a,
.hover_shadow_bottom_glassyPaleGoldenRod1a:hover,
.active_shadow_bottom_glassyPaleGoldenRod1a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(243, 239, 197, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(243, 239, 197, .63);
    box-shadow: 0em 0.5em 1em rgba(243, 239, 197, .63);
}

.shadow_bottom_glassyPaleGoldenRod1s,
.hover_shadow_bottom_glassyPaleGoldenRod1s:hover,
.active_shadow_bottom_glassyPaleGoldenRod1s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(243, 239, 197, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(243, 239, 197, .78);
    box-shadow: 0em 0.5em 1em rgba(243, 239, 197, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyPaleGoldenRod1,
.hover_shadow_top_left_glassyPaleGoldenRod1:hover,
.active_shadow_top_left_glassyPaleGoldenRod1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(238, 232, 170, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(238, 232, 170, .39);
    box-shadow: -0.5em -0.5em 1em rgba(238, 232, 170, .39);
}

.shadow_top_left_glassyPaleGoldenRod1h,
.hover_shadow_top_left_glassyPaleGoldenRod1h:hover,
.active_shadow_top_left_glassyPaleGoldenRod1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(252, 250, 238, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(252, 250, 238, .50);
    box-shadow: -0.5em -0.5em 1em rgba(252, 250, 238, .50);
}

.shadow_top_left_glassyPaleGoldenRod1a,
.hover_shadow_top_left_glassyPaleGoldenRod1a:hover,
.active_shadow_top_left_glassyPaleGoldenRod1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(243, 239, 197, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(243, 239, 197, .63);
    box-shadow: -0.5em -0.5em 1em rgba(243, 239, 197, .63);
}

.shadow_top_left_glassyPaleGoldenRod1s,
.hover_shadow_top_left_glassyPaleGoldenRod1s:hover,
.active_shadow_top_left_glassyPaleGoldenRod1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(243, 239, 197, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(243, 239, 197, .78);
    box-shadow: -0.5em -0.5em 1em rgba(243, 239, 197, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyPaleGoldenRod1,
.hover_shadow_top_right_glassyPaleGoldenRod1:hover,
.active_shadow_top_right_glassyPaleGoldenRod1:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(238, 232, 170, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(238, 232, 170, .39);
    box-shadow: 0.5em -0.5em 1em rgba(238, 232, 170, .39);
}

.shadow_top_right_glassyPaleGoldenRod1h,
.hover_shadow_top_right_glassyPaleGoldenRod1h:hover,
.active_shadow_top_right_glassyPaleGoldenRod1h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(252, 250, 238, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(252, 250, 238, .50);
    box-shadow: 0.5em -0.5em 1em rgba(252, 250, 238, .50);
}

.shadow_top_right_glassyPaleGoldenRod1a,
.hover_shadow_top_right_glassyPaleGoldenRod1a:hover,
.active_shadow_top_right_glassyPaleGoldenRod1a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(243, 239, 197, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(243, 239, 197, .63);
    box-shadow: 0.5em -0.5em 1em rgba(243, 239, 197, .63);
}

.shadow_top_right_glassyPaleGoldenRod1s,
.hover_shadow_top_right_glassyPaleGoldenRod1s:hover,
.active_shadow_top_right_glassyPaleGoldenRod1s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(243, 239, 197, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(243, 239, 197, .78);
    box-shadow: 0.5em -0.5em 1em rgba(243, 239, 197, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyPaleGoldenRod1,
.hover_shadow_bottom_left_glassyPaleGoldenRod1:hover,
.active_shadow_bottom_left_glassyPaleGoldenRod1:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(238, 232, 170, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(238, 232, 170, .39);
    box-shadow: -0.5em 0.5em 1em rgba(238, 232, 170, .39);
}

.shadow_bottom_left_glassyPaleGoldenRod1h,
.hover_shadow_bottom_left_glassyPaleGoldenRod1h:hover,
.active_shadow_bottom_left_glassyPaleGoldenRod1h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(252, 250, 238, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(252, 250, 238, .50);
    box-shadow: -0.5em 0.5em 1em rgba(252, 250, 238, .50);
}

.shadow_bottom_left_glassyPaleGoldenRod1a,
.hover_shadow_bottom_left_glassyPaleGoldenRod1a:hover,
.active_shadow_bottom_left_glassyPaleGoldenRod1a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(243, 239, 197, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(243, 239, 197, .63);
    box-shadow: -0.5em 0.5em 1em rgba(243, 239, 197, .63);
}

.shadow_bottom_left_glassyPaleGoldenRod1s,
.hover_shadow_bottom_left_glassyPaleGoldenRod1s:hover,
.active_shadow_bottom_left_glassyPaleGoldenRod1s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(243, 239, 197, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(243, 239, 197, .78);
    box-shadow: -0.5em 0.5em 1em rgba(243, 239, 197, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyPaleGoldenRod1,
.hover_shadow_bottom_right_glassyPaleGoldenRod1:hover,
.active_shadow_bottom_right_glassyPaleGoldenRod1:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(238, 232, 170, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(238, 232, 170, .39);
    box-shadow: 0.5em 0.5em 1em rgba(238, 232, 170, .39);
}

.shadow_bottom_right_glassyPaleGoldenRod1h,
.hover_shadow_bottom_right_glassyPaleGoldenRod1h:hover,
.active_shadow_bottom_right_glassyPaleGoldenRod1h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(252, 250, 238, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(252, 250, 238, .50);
    box-shadow: 0.5em 0.5em 1em rgba(252, 250, 238, .50);
}

.shadow_bottom_right_glassyPaleGoldenRod1a,
 .hover_shadow_bottom_right_glassyPaleGoldenRod1a:hover,
 .active_shadow_bottom_right_glassyPaleGoldenRod1a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(243, 239, 197, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(243, 239, 197, .63);
     box-shadow: 0.5em 0.5em 1em rgba(243, 239, 197, .63);
 }

 .shadow_bottom_right_glassyPaleGoldenRod1s,
 .hover_shadow_bottom_right_glassyPaleGoldenRod1s:hover,
 .active_shadow_bottom_right_glassyPaleGoldenRod1s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(243, 239, 197, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(243, 239, 197, .78);
     box-shadow: 0.5em 0.5em 1em rgba(243, 239, 197, .78);
 }