.background_glassyPaleGoldenRod6,
.hover_background_glassyPaleGoldenRod6:hover,
.active_background_glassyPaleGoldenRod6:active:hover {
    background: #978c1e;
    background-image: -moz-linear-gradient(top,  rgb(136, 126, 27) 0%, rgb(121, 112, 24) 50%, rgb(106, 98, 21) 55%, rgb(151, 140, 30) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(136, 126, 27)), color-stop(50%, rgb(121, 112, 24)), color-stop(55%, rgb(106, 98, 21)), color-stop(100%, rgb(151, 140, 30)));
    background-image: -webkit-linear-gradient(top,  rgb(136, 126, 27) 0%, rgb(121, 112, 24) 50%, rgb(106, 98, 21) 55%, rgb(151, 140, 30) 100%);
    background-image: -o-linear-gradient(top,  rgb(136, 126, 27) 0%, rgb(121, 112, 24) 50%, rgb(106, 98, 21) 55%, rgb(151, 140, 30) 100%);
    background-image: -ms-linear-gradient(top, rgb(136, 126, 27) 0%, rgb(121, 112, 24) 50%, rgb(106, 98, 21) 55%, rgb(151, 140, 30) 100%);
    background-image: linear-gradient(to bottom,  rgb(136, 126, 27) 0%, rgb(121, 112, 24) 50%, rgb(106, 98, 21) 55%, rgb(151, 140, 30) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#887e1b', endColorstr='#978c1e',GradientType=0 );
}

.background_glassyPaleGoldenRod6h,
.hover_background_glassyPaleGoldenRod6h:hover,
.active_background_glassyPaleGoldenRod6h:active:hover {
    background: #978c1e;
    background-image: -moz-linear-gradient(top,  rgb(163, 151, 33) 0%, rgb(145, 135, 29) 50%, rgb(127, 118, 25) 55%, rgb(181, 168, 36) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(163, 151, 33)), color-stop(50%, rgb(145, 135, 29)), color-stop(55%, rgb(127, 118, 25)), color-stop(100%, rgb(181, 168, 36)));
    background-image: -webkit-linear-gradient(top,  rgb(163, 151, 33) 0%, rgb(145, 135, 29) 50%, rgb(127, 118, 25) 55%, rgb(181, 168, 36) 100%);
    background-image: -o-linear-gradient(top,  rgb(163, 151, 33) 0%, rgb(145, 135, 29) 50%, rgb(127, 118, 25) 55%, rgb(181, 168, 36) 100%);
    background-image: -ms-linear-gradient(top, rgb(163, 151, 33) 0%, rgb(145, 135, 29) 50%, rgb(127, 118, 25) 55%, rgb(181, 168, 36) 100%);
    background-image: linear-gradient(to bottom,  rgb(163, 151, 33) 0%, rgb(145, 135, 29) 50%, rgb(127, 118, 25) 55%, rgb(181, 168, 36) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a39721', endColorstr='#b5a824',GradientType=0 );
}

.background_glassyPaleGoldenRod6a,
.hover_background_glassyPaleGoldenRod6a:hover,
.active_background_glassyPaleGoldenRod6a:active:hover {
    background: #978c1e;
    background-image: -moz-linear-gradient(top,  rgb(181, 168, 36) 0%, rgb(127, 118, 25) 50%, rgb(145, 135, 29) 55%, rgb(163, 151, 33) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(181, 168, 36)), color-stop(50%, rgb(127, 118, 25)), color-stop(55%, rgb(145, 135, 29)), color-stop(100%, rgb(163, 151, 33)));
    background-image: -webkit-linear-gradient(top,  rgb(181, 168, 36) 0%, rgb(127, 118, 25) 50%, rgb(145, 135, 29) 55%, rgb(163, 151, 33) 100%);
    background-image: -o-linear-gradient(top,  rgb(181, 168, 36) 0%, rgb(127, 118, 25) 50%, rgb(145, 135, 29) 55%, rgb(163, 151, 33) 100%);
    background-image: -ms-linear-gradient(top, rgb(181, 168, 36) 0%, rgb(127, 118, 25) 50%, rgb(145, 135, 29) 55%, rgb(163, 151, 33) 100%);
    background-image: linear-gradient(to bottom,  rgb(181, 168, 36) 0%, rgb(127, 118, 25) 50%, rgb(145, 135, 29) 55%, rgb(163, 151, 33) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5a824', endColorstr='#a39721',GradientType=0 );
}

.background_glassyPaleGoldenRod6s,
.hover_background_glassyPaleGoldenRod6s:hover,
.active_background_glassyPaleGoldenRod6s:active:hover {
    background: #978c1e;
    background-image: -moz-linear-gradient(top,  rgb(204, 189, 41) 0%, rgb(181, 168, 36) 50%, rgb(158, 147, 32) 55%, rgb(215, 201, 56) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(204, 189, 41)), color-stop(50%, rgb(181, 168, 36)), color-stop(55%, rgb(158, 147, 32)), color-stop(100%, rgb(215, 201, 56)));
    background-image: -webkit-linear-gradient(top,  rgb(204, 189, 41) 0%, rgb(181, 168, 36) 50%, rgb(158, 147, 32) 55%, rgb(215, 201, 56) 100%);
    background-image: -o-linear-gradient(top,  rgb(204, 189, 41) 0%, rgb(181, 168, 36) 50%, rgb(158, 147, 32) 55%, rgb(215, 201, 56) 100%);
    background-image: -ms-linear-gradient(top, rgb(204, 189, 41) 0%, rgb(181, 168, 36) 50%, rgb(158, 147, 32) 55%, rgb(215, 201, 56) 100%);
    background-image: linear-gradient(to bottom,  rgb(204, 189, 41) 0%, rgb(181, 168, 36) 50%, rgb(158, 147, 32) 55%, rgb(215, 201, 56) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccbd29', endColorstr='#d7c938',GradientType=0 );
}

.background_color_glassyPaleGoldenRod6,
.hover_background_color_glassyPaleGoldenRod6:hover,
.active_background_color_glassyPaleGoldenRod6:active:hover {
    background-color:#978c1e;
}

.background_first_color_glassyPaleGoldenRod6,
.hover_background_first_color_glassyPaleGoldenRod6:hover,
.active_background_first_color_glassyPaleGoldenRod6:active:hover {
    background-color:#887e1b;
}

.background_last_color_glassyPaleGoldenRod6,
.hover_background_last_color_glassyPaleGoldenRod6:hover,
.active_background_color_last_glassyPaleGoldenRod6:active:hover {
   background-color:#978c1e;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyPaleGoldenRod6,
.hover_color_glassyPaleGoldenRod6:hover,
.active_color_glassyPaleGoldenRod6:active:hover {
    color: #c8c8c8;
}

.color_glassyPaleGoldenRod6h,
.hover_color_glassyPaleGoldenRod6h:hover,
.active_color_glassyPaleGoldenRod6h:active:hover {
    color: #c8c8c8;
}

.color_glassyPaleGoldenRod6a,
.hover_color_glassyPaleGoldenRod6a:hover,
.active_color_glassyPaleGoldenRod6a:active:hover {
    color: #ff0;
}

.color_glassyPaleGoldenRod6s,
.hover_color_glassyPaleGoldenRod6s:hover,
.active_color_glassyPaleGoldenRod6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyPaleGoldenRod6,
.hover_border_glassyPaleGoldenRod6:hover,
.active_border_glassyPaleGoldenRod6:active:hover {
    border-color: #6d6516 #5b5412 #5b5412 #6d6516;
}

.border_glassyPaleGoldenRod6h,
.hover_border_glassyPaleGoldenRod6h:hover,
.active_border_glassyPaleGoldenRod6h:active:hover {
    border-color: #6d6516 #5b5412 #5b5412 #6d6516;
}

.border_glassyPaleGoldenRod6a,
.hover_border_glassyPaleGoldenRod6a:hover,
.active_border_glassyPaleGoldenRod6a:active:hover {
    border-color: #544f11 #544f11 #544f11 #544f11;
}

.border_glassyPaleGoldenRod6s,
.hover_border_glassyPaleGoldenRod6s:hover,
.active_border_glassyPaleGoldenRod6s:active:hover {
    border-color: #544f11 #544f11 #544f11 #544f11;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyPaleGoldenRod6,
.hover_shadow_expand_glassyPaleGoldenRod6:hover,
.active_shadow_expand_glassyPaleGoldenRod6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(151, 140, 30, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(151, 140, 30, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(151, 140, 30, .39);
}

.shadow_expand_glassyPaleGoldenRod6h,
.hover_shadow_expand_glassyPaleGoldenRod6h:hover,
.active_shadow_expand_glassyPaleGoldenRod6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(181, 168, 36, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(181, 168, 36, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(181, 168, 36, .50);
}

.shadow_expand_glassyPaleGoldenRod6a,
.hover_shadow_expand_glassyPaleGoldenRod6a:hover,
.active_shadow_expand_glassyPaleGoldenRod6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(163, 151, 33, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(163, 151, 33, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(163, 151, 33, .63);
}

.shadow_expand_glassyPaleGoldenRod6s,
.hover_shadow_expand_glassyPaleGoldenRod6s:hover,
.active_shadow_expand_glassyPaleGoldenRod6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(163, 151, 33, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(163, 151, 33, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(163, 151, 33, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyPaleGoldenRod6,
.hover_shadow_left_glassyPaleGoldenRod6:hover,
.active_shadow_left_glassyPaleGoldenRod6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(151, 140, 30, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(151, 140, 30, .39);
    box-shadow: -0.5em -0.5em 1em rgba(151, 140, 30, .39);
}

.shadow_left_glassyPaleGoldenRod6h,
.hover_shadow_left_glassyPaleGoldenRod6h:hover,
.active_shadow_left_glassyPaleGoldenRod6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(181, 168, 36, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(181, 168, 36, .50);
    box-shadow: -0.5em -0.5em 1em rgba(181, 168, 36, .50);
}

.shadow_left_glassyPaleGoldenRod6a,
.hover_shadow_left_glassyPaleGoldenRod6a:hover,
.active_shadow_left_glassyPaleGoldenRod6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(163, 151, 33, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(163, 151, 33, .63);
    box-shadow: -0.5em -0.5em 1em rgba(163, 151, 33, .63);
}

.shadow_left_glassyPaleGoldenRod6s,
.hover_shadow_left_glassyPaleGoldenRod6s:hover,
.active_shadow_left_glassyPaleGoldenRod6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(163, 151, 33, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(163, 151, 33, .78);
    box-shadow: -0.5em -0.5em 1em rgba(163, 151, 33, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyPaleGoldenRod6,
.hover_shadow_right_glassyPaleGoldenRod6:hover,
.active_shadow_right_glassyPaleGoldenRod6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(151, 140, 30, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(151, 140, 30, .39);
    box-shadow: 0.5em 0em 1em rgba(151, 140, 30, .39);
}

.shadow_right_glassyPaleGoldenRod6h,
.hover_shadow_right_glassyPaleGoldenRod6h:hover,
.active_shadow_right_glassyPaleGoldenRod6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(181, 168, 36, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(181, 168, 36, .50);
    box-shadow: 0.5em 0em 1em rgba(181, 168, 36, .50);
}

.shadow_right_glassyPaleGoldenRod6a,
.hover_shadow_right_glassyPaleGoldenRod6a:hover,
.active_shadow_right_glassyPaleGoldenRod6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(163, 151, 33, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(163, 151, 33, .63);
    box-shadow: 0.5em 0em 1em rgba(163, 151, 33, .63);
}

.shadow_right_glassyPaleGoldenRod6s,
.hover_shadow_right_glassyPaleGoldenRod6s:hover,
.active_shadow_right_glassyPaleGoldenRod6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(163, 151, 33, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(163, 151, 33, .78);
    box-shadow: 0.5em 0em 1em rgba(163, 151, 33, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyPaleGoldenRod6,
.hover_shadow_top_glassyPaleGoldenRod6:hover,
.active_shadow_top_glassyPaleGoldenRod6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(151, 140, 30, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(151, 140, 30, .39);
    box-shadow: 0em -0.5em 1em rgba(151, 140, 30, .39);
}

.shadow_top_glassyPaleGoldenRod6h,
.hover_shadow_top_glassyPaleGoldenRod6h:hover,
.active_shadow_top_glassyPaleGoldenRod6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(181, 168, 36, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(181, 168, 36, .50);
    box-shadow: 0em -0.5em 1em rgba(181, 168, 36, .50);
}

.shadow_top_glassyPaleGoldenRod6a,
.hover_shadow_top_glassyPaleGoldenRod6a:hover,
.active_shadow_top_glassyPaleGoldenRod6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(163, 151, 33, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(163, 151, 33, .63);
    box-shadow: 0em -0.5em 1em rgba(163, 151, 33, .63);
}

.shadow_top_glassyPaleGoldenRod6s,
.hover_shadow_top_glassyPaleGoldenRod6s:hover,
.active_shadow_top_glassyPaleGoldenRod6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(163, 151, 33, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(163, 151, 33, .78);
    box-shadow: 0em -0.5em 1em rgba(163, 151, 33, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyPaleGoldenRod6,
.hover_shadow_bottom_glassyPaleGoldenRod6:hover,
.active_shadow_bottom_glassyPaleGoldenRod6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(151, 140, 30, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(151, 140, 30, .39);
    box-shadow: 0em 0.5em 1em rgba(151, 140, 30, .39);
}

.shadow_bottom_glassyPaleGoldenRod6h,
.hover_shadow_bottom_glassyPaleGoldenRod6h:hover,
.active_shadow_bottom_glassyPaleGoldenRod6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(181, 168, 36, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(181, 168, 36, .50);
    box-shadow: 0em 0.5em 1em rgba(181, 168, 36, .50);
}

.shadow_bottom_glassyPaleGoldenRod6a,
.hover_shadow_bottom_glassyPaleGoldenRod6a:hover,
.active_shadow_bottom_glassyPaleGoldenRod6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(163, 151, 33, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(163, 151, 33, .63);
    box-shadow: 0em 0.5em 1em rgba(163, 151, 33, .63);
}

.shadow_bottom_glassyPaleGoldenRod6s,
.hover_shadow_bottom_glassyPaleGoldenRod6s:hover,
.active_shadow_bottom_glassyPaleGoldenRod6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(163, 151, 33, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(163, 151, 33, .78);
    box-shadow: 0em 0.5em 1em rgba(163, 151, 33, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyPaleGoldenRod6,
.hover_shadow_top_left_glassyPaleGoldenRod6:hover,
.active_shadow_top_left_glassyPaleGoldenRod6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(151, 140, 30, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(151, 140, 30, .39);
    box-shadow: -0.5em -0.5em 1em rgba(151, 140, 30, .39);
}

.shadow_top_left_glassyPaleGoldenRod6h,
.hover_shadow_top_left_glassyPaleGoldenRod6h:hover,
.active_shadow_top_left_glassyPaleGoldenRod6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(181, 168, 36, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(181, 168, 36, .50);
    box-shadow: -0.5em -0.5em 1em rgba(181, 168, 36, .50);
}

.shadow_top_left_glassyPaleGoldenRod6a,
.hover_shadow_top_left_glassyPaleGoldenRod6a:hover,
.active_shadow_top_left_glassyPaleGoldenRod6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(163, 151, 33, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(163, 151, 33, .63);
    box-shadow: -0.5em -0.5em 1em rgba(163, 151, 33, .63);
}

.shadow_top_left_glassyPaleGoldenRod6s,
.hover_shadow_top_left_glassyPaleGoldenRod6s:hover,
.active_shadow_top_left_glassyPaleGoldenRod6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(163, 151, 33, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(163, 151, 33, .78);
    box-shadow: -0.5em -0.5em 1em rgba(163, 151, 33, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyPaleGoldenRod6,
.hover_shadow_top_right_glassyPaleGoldenRod6:hover,
.active_shadow_top_right_glassyPaleGoldenRod6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(151, 140, 30, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(151, 140, 30, .39);
    box-shadow: 0.5em -0.5em 1em rgba(151, 140, 30, .39);
}

.shadow_top_right_glassyPaleGoldenRod6h,
.hover_shadow_top_right_glassyPaleGoldenRod6h:hover,
.active_shadow_top_right_glassyPaleGoldenRod6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(181, 168, 36, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(181, 168, 36, .50);
    box-shadow: 0.5em -0.5em 1em rgba(181, 168, 36, .50);
}

.shadow_top_right_glassyPaleGoldenRod6a,
.hover_shadow_top_right_glassyPaleGoldenRod6a:hover,
.active_shadow_top_right_glassyPaleGoldenRod6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(163, 151, 33, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(163, 151, 33, .63);
    box-shadow: 0.5em -0.5em 1em rgba(163, 151, 33, .63);
}

.shadow_top_right_glassyPaleGoldenRod6s,
.hover_shadow_top_right_glassyPaleGoldenRod6s:hover,
.active_shadow_top_right_glassyPaleGoldenRod6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(163, 151, 33, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(163, 151, 33, .78);
    box-shadow: 0.5em -0.5em 1em rgba(163, 151, 33, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyPaleGoldenRod6,
.hover_shadow_bottom_left_glassyPaleGoldenRod6:hover,
.active_shadow_bottom_left_glassyPaleGoldenRod6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(151, 140, 30, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(151, 140, 30, .39);
    box-shadow: -0.5em 0.5em 1em rgba(151, 140, 30, .39);
}

.shadow_bottom_left_glassyPaleGoldenRod6h,
.hover_shadow_bottom_left_glassyPaleGoldenRod6h:hover,
.active_shadow_bottom_left_glassyPaleGoldenRod6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(181, 168, 36, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(181, 168, 36, .50);
    box-shadow: -0.5em 0.5em 1em rgba(181, 168, 36, .50);
}

.shadow_bottom_left_glassyPaleGoldenRod6a,
.hover_shadow_bottom_left_glassyPaleGoldenRod6a:hover,
.active_shadow_bottom_left_glassyPaleGoldenRod6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(163, 151, 33, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(163, 151, 33, .63);
    box-shadow: -0.5em 0.5em 1em rgba(163, 151, 33, .63);
}

.shadow_bottom_left_glassyPaleGoldenRod6s,
.hover_shadow_bottom_left_glassyPaleGoldenRod6s:hover,
.active_shadow_bottom_left_glassyPaleGoldenRod6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(163, 151, 33, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(163, 151, 33, .78);
    box-shadow: -0.5em 0.5em 1em rgba(163, 151, 33, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyPaleGoldenRod6,
.hover_shadow_bottom_right_glassyPaleGoldenRod6:hover,
.active_shadow_bottom_right_glassyPaleGoldenRod6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(151, 140, 30, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(151, 140, 30, .39);
    box-shadow: 0.5em 0.5em 1em rgba(151, 140, 30, .39);
}

.shadow_bottom_right_glassyPaleGoldenRod6h,
.hover_shadow_bottom_right_glassyPaleGoldenRod6h:hover,
.active_shadow_bottom_right_glassyPaleGoldenRod6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(181, 168, 36, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(181, 168, 36, .50);
    box-shadow: 0.5em 0.5em 1em rgba(181, 168, 36, .50);
}

.shadow_bottom_right_glassyPaleGoldenRod6a,
 .hover_shadow_bottom_right_glassyPaleGoldenRod6a:hover,
 .active_shadow_bottom_right_glassyPaleGoldenRod6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(163, 151, 33, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(163, 151, 33, .63);
     box-shadow: 0.5em 0.5em 1em rgba(163, 151, 33, .63);
 }

 .shadow_bottom_right_glassyPaleGoldenRod6s,
 .hover_shadow_bottom_right_glassyPaleGoldenRod6s:hover,
 .active_shadow_bottom_right_glassyPaleGoldenRod6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(163, 151, 33, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(163, 151, 33, .78);
     box-shadow: 0.5em 0.5em 1em rgba(163, 151, 33, .78);
 }