.aquaOrchid7,
.hover_aquaOrchid7:hover,
.active_aquaOrchid7:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(147, 40, 154, .39),
           inset 0 -0.5em 0.9em 0 #c14ade,
           inset 0 -0.5em 0em 0.65em rgb(129, 8, 135),
           inset 0 0em 0.5em 2em rgb(167, 101, 170);
    -moz-box-shadow: 0 0.63em 0.75em rgba(147, 40, 154, .39),
           inset 0 -0.5em 0.9em 0 #c14ade,
           inset 0 -0.5em 0em 0.65em rgb(129, 8, 135),
           inset 0 0em 0.5em 2em rgb(167, 101, 170);
    box-shadow: 0 0.63em 0.75em rgba(147, 40, 154, .39),
           inset 0 -0.5em 0.9em 0 #c14ade,
           inset 0 -0.5em 0em 0.65em rgb(129, 8, 135),
           inset 0 0em 0.5em 2em rgb(167, 101, 170);
}

.aquaOrchid7h,
.hover_aquaOrchid7h:hover,
.active_aquaOrchid7h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(166, 45, 174, .55),
           inset 0 -0.5em 0.9em 0 #d075e6,
           inset 0 -0.5em 0em 0.65em #c726cf,
           inset 0 0em 0.5em 2em #d582d9;
    -moz-box-shadow:0 0.63em 1em rgba(166, 45, 174, .55),
           inset 0 -0.5em 0.9em 0 #d075e6,
           inset 0 -0.5em 0em 0.65em #c726cf,
           inset 0 0em 0.5em 2em #d582d9;
    box-shadow:0 0.63em 1em rgba(166, 45, 174, .55),
           inset 0 -0.5em 0.9em 0 #d075e6,
           inset 0 -0.5em 0em 0.65em #c726cf,
           inset 0 0em 0.5em 2em #d582d9;
}

.aquaOrchid7a,
.hover_aquaOrchid7a:hover,
.active_aquaOrchid7a:active {
    /*background: #a12a9c;*/

    -webkit-box-shadow:0 0.63em 1em rgba(118, 19, 124, .55),
           inset 0 -0.5em 0.9em 0 #d152f0,
           inset 0 -0.5em 0em 0.65em #a60fae,
           inset 0 0em 0.5em 2em #d235da;
    -moz-box-shadow:0 0.63em 1em rgba(118, 19, 124, .55),
           inset 0 -0.5em 0.9em 0 #d152f0,
           inset 0 -0.5em 0em 0.65em #a60fae,
           inset 0 0em 0.5em 2em #d235da;
    box-shadow:0 0.63em 1em rgba(118, 19, 124, .55),
           inset 0 -0.5em 0.9em 0 #d152f0,
           inset 0 -0.5em 0em 0.65em #a60fae,
           inset 0 0em 0.5em 2em #d235da;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaOrchid7,
.hover_color_aquaOrchid7:hover,
.active_color_aquaOrchid7:active {
    color: #c8c8c8;
}

.color_aquaOrchid7h,
.hover_color_aquaOrchid7h:hover,
.active_color_aquaOrchid7h:active {
    color: #c8c8c8;
}

.color_aquaOrchid7a,
.hover_color_aquaOrchid7a:hover,
.active_color_aquaOrchid7a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaOrchid7,
.hover_border_aquaOrchid7:hover,
.active_border_aquaOrchid7:active {
    border-color: #6b1c68 #6b1c68 #6b1c68 #6b1c68;
}

.border_aquaOrchid7h,
.hover_border_aquaOrchid7h:hover,
.active_border_aquaOrchid7h:active {
    border-color: #6b1c68 #6b1c68 #6b1c68 #6b1c68;
}

.border_aquaOrchid7a,
.hover_border_aquaOrchid7a:hover,
.active_border_aquaOrchid7a:active  {
    border-color: #6b1c68 #6b1c68 #6b1c68 #6b1c68;
}

