.background_beige6,
.hover_background_beige6:hover,
.active_background_beige6:active:hover {
    background: #808025;
    background-image: -moz-linear-gradient(top,  rgb(160, 160, 46) 0%, rgb(128, 128, 37) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(160, 160, 46)), color-stop(100%, rgb(128, 128, 37)));
    background-image: -webkit-linear-gradient(top,  rgb(160, 160, 46) 0%, rgb(128, 128, 37) 100%);
    background-image: -o-linear-gradient(top,  rgb(160, 160, 46) 0%, rgb(128, 128, 37) 100%);
    background-image: -ms-linear-gradient(top, rgb(160, 160, 46) 0%, rgb(128, 128, 37) 100%);
    background-image: linear-gradient(to bottom,  rgb(160, 160, 46) 0%, rgb(128, 128, 37) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a02e', endColorstr='#808025',GradientType=0 );
}

.background_beige6h,
.hover_background_beige6h:hover,
.active_background_beige6h:active:hover {
    background: #808025;
    background-image: -moz-linear-gradient(top,  rgb(193, 193, 55) 0%, rgb(154, 154, 44) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(193, 193, 55)), color-stop(100%, rgb(154, 154, 44)));
    background-image: -webkit-linear-gradient(top,  rgb(193, 193, 55) 0%, rgb(154, 154, 44) 100%);
    background-image: -o-linear-gradient(top,  rgb(193, 193, 55) 0%, rgb(154, 154, 44) 100%);
    background-image: -ms-linear-gradient(top, rgb(193, 193, 55) 0%, rgb(154, 154, 44) 100%);
    background-image: linear-gradient(to bottom,  rgb(193, 193, 55) 0%, rgb(154, 154, 44) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c137', endColorstr='#9a9a2c',GradientType=0 );
}

.background_beige6a,
.hover_background_beige6a:hover,
.active_background_beige6a:active:hover {
    background: #808025;
    background-image: -moz-linear-gradient(top,  rgb(154, 154, 44) 0%, rgb(193, 193, 55) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(154, 154, 44)), color-stop(100%, rgb(193, 193, 55)));
    background-image: -webkit-linear-gradient(top,  rgb(154, 154, 44) 0%, rgb(193, 193, 55) 100%);
    background-image: -o-linear-gradient(top,  rgb(154, 154, 44) 0%, rgb(193, 193, 55) 100%);
    background-image: -ms-linear-gradient(top, rgb(154, 154, 44) 0%, rgb(193, 193, 55) 100%);
    background-image: linear-gradient(to bottom,  rgb(154, 154, 44) 0%, rgb(193, 193, 55) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a9a2c', endColorstr='#c1c137',GradientType=0 );
}

.background_beige6s,
.hover_background_beige6s:hover,
.active_background_beige6s:active:hover {
    background: #808025;
    background-image: -moz-linear-gradient(top,  rgb(210, 210, 99) 0%, rgb(193, 193, 55) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(210, 210, 99)), color-stop(100%, rgb(193, 193, 55)));
    background-image: -webkit-linear-gradient(top,  rgb(210, 210, 99) 0%, rgb(193, 193, 55) 100%);
    background-image: -o-linear-gradient(top,  rgb(210, 210, 99) 0%, rgb(193, 193, 55) 100%);
    background-image: -ms-linear-gradient(top, rgb(210, 210, 99) 0%, rgb(193, 193, 55) 100%);
    background-image: linear-gradient(to bottom,  rgb(210, 210, 99) 0%, rgb(193, 193, 55) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d263', endColorstr='#c1c137',GradientType=0 );
}

.background_color_beige6,
.hover_background_color_beige6:hover,
.active_background_color_beige6:active:hover {
    background-color:#808025;
}

.background_first_color_beige6,
.hover_background_first_color_beige6:hover,
.active_background_first_color_beige6:active:hover {
    background-color:#a0a02e;
}

.background_last_color_beige6,
.hover_background_last_color_beige6:hover,
.active_background_color_last_beige6:active:hover {
   background-color:#808025;
}

/* ------------------------------ color settings -------------------------------*/
.color_beige6,
.hover_color_beige6:hover,
.active_color_beige6:active:hover {
    color: #c8c8c8;
}

.color_beige6h,
.hover_color_beige6h:hover,
.active_color_beige6h:active:hover {
    color: #c8c8c8;
}

.color_beige6a,
.hover_color_beige6a:hover,
.active_color_beige6a:active:hover {
    color: #ff0;
}

.color_beige6s,
.hover_color_beige6s:hover,
.active_color_beige6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_beige6,
.hover_border_beige6:hover,
.active_border_beige6:active:hover {
    border-color: #808025 #808025 #808025 #808025;
}

.border_beige6h,
.hover_border_beige6h:hover,
.active_border_beige6h:active:hover {
    border-color: #747421 #747421 #747421 #747421;
}

.border_beige6a,
.hover_border_beige6a:hover,
.active_border_beige6a:active:hover {
    border-color: #67671d #67671d #67671d #67671d;
}

.border_beige6s,
.hover_border_beige6s:hover,
.active_border_beige6s:active:hover {
    border-color: #c1c137 #c1c137 #c1c137 #c1c137;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_beige6,
.hover_shadow_expand_beige6:hover,
.active_shadow_expand_beige6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(128, 128, 37, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(128, 128, 37, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(128, 128, 37, .39);
}

.shadow_expand_beige6h,
.hover_shadow_expand_beige6h:hover,
.active_shadow_expand_beige6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(154, 154, 44, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(154, 154, 44, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(154, 154, 44, .50);
}

.shadow_expand_beige6a,
.hover_shadow_expand_beige6a:hover,
.active_shadow_expand_beige6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(193, 193, 55, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(193, 193, 55, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(193, 193, 55, .63);
}

.shadow_expand_beige6s,
.hover_shadow_expand_beige6s:hover,
.active_shadow_expand_beige6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(193, 193, 55, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(193, 193, 55, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(193, 193, 55, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_beige6,
.hover_shadow_left_beige6:hover,
.active_shadow_left_beige6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(128, 128, 37, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(128, 128, 37, .39);
    box-shadow: -0.5em -0.5em 1em rgba(128, 128, 37, .39);
}

.shadow_left_beige6h,
.hover_shadow_left_beige6h:hover,
.active_shadow_left_beige6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(154, 154, 44, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(154, 154, 44, .50);
    box-shadow: -0.5em -0.5em 1em rgba(154, 154, 44, .50);
}

.shadow_left_beige6a,
.hover_shadow_left_beige6a:hover,
.active_shadow_left_beige6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(193, 193, 55, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(193, 193, 55, .63);
    box-shadow: -0.5em -0.5em 1em rgba(193, 193, 55, .63);
}

.shadow_left_beige6s,
.hover_shadow_left_beige6s:hover,
.active_shadow_left_beige6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(193, 193, 55, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(193, 193, 55, .78);
    box-shadow: -0.5em -0.5em 1em rgba(193, 193, 55, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_beige6,
.hover_shadow_right_beige6:hover,
.active_shadow_right_beige6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(128, 128, 37, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(128, 128, 37, .39);
    box-shadow: 0.5em 0em 1em rgba(128, 128, 37, .39);
}

.shadow_right_beige6h,
.hover_shadow_right_beige6h:hover,
.active_shadow_right_beige6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(154, 154, 44, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(154, 154, 44, .50);
    box-shadow: 0.5em 0em 1em rgba(154, 154, 44, .50);
}

.shadow_right_beige6a,
.hover_shadow_right_beige6a:hover,
.active_shadow_right_beige6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(193, 193, 55, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(193, 193, 55, .63);
    box-shadow: 0.5em 0em 1em rgba(193, 193, 55, .63);
}

.shadow_right_beige6s,
.hover_shadow_right_beige6s:hover,
.active_shadow_right_beige6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(193, 193, 55, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(193, 193, 55, .78);
    box-shadow: 0.5em 0em 1em rgba(193, 193, 55, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_beige6,
.hover_shadow_top_beige6:hover,
.active_shadow_top_beige6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(128, 128, 37, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(128, 128, 37, .39);
    box-shadow: 0em -0.5em 1em rgba(128, 128, 37, .39);
}

.shadow_top_beige6h,
.hover_shadow_top_beige6h:hover,
.active_shadow_top_beige6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(154, 154, 44, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(154, 154, 44, .50);
    box-shadow: 0em -0.5em 1em rgba(154, 154, 44, .50);
}

.shadow_top_beige6a,
.hover_shadow_top_beige6a:hover,
.active_shadow_top_beige6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(193, 193, 55, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(193, 193, 55, .63);
    box-shadow: 0em -0.5em 1em rgba(193, 193, 55, .63);
}

.shadow_top_beige6s,
.hover_shadow_top_beige6s:hover,
.active_shadow_top_beige6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(193, 193, 55, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(193, 193, 55, .78);
    box-shadow: 0em -0.5em 1em rgba(193, 193, 55, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_beige6,
.hover_shadow_bottom_beige6:hover,
.active_shadow_bottom_beige6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(128, 128, 37, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(128, 128, 37, .39);
    box-shadow: 0em 0.5em 1em rgba(128, 128, 37, .39);
}

.shadow_bottom_beige6h,
.hover_shadow_bottom_beige6h:hover,
.active_shadow_bottom_beige6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(154, 154, 44, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(154, 154, 44, .50);
    box-shadow: 0em 0.5em 1em rgba(154, 154, 44, .50);
}

.shadow_bottom_beige6a,
.hover_shadow_bottom_beige6a:hover,
.active_shadow_bottom_beige6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(193, 193, 55, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(193, 193, 55, .63);
    box-shadow: 0em 0.5em 1em rgba(193, 193, 55, .63);
}

.shadow_bottom_beige6s,
.hover_shadow_bottom_beige6s:hover,
.active_shadow_bottom_beige6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(193, 193, 55, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(193, 193, 55, .78);
    box-shadow: 0em 0.5em 1em rgba(193, 193, 55, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_beige6,
.hover_shadow_top_left_beige6:hover,
.active_shadow_top_left_beige6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(128, 128, 37, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(128, 128, 37, .39);
    box-shadow: -0.5em -0.5em 1em rgba(128, 128, 37, .39);
}

.shadow_top_left_beige6h,
.hover_shadow_top_left_beige6h:hover,
.active_shadow_top_left_beige6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(154, 154, 44, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(154, 154, 44, .50);
    box-shadow: -0.5em -0.5em 1em rgba(154, 154, 44, .50);
}

.shadow_top_left_beige6a,
.hover_shadow_top_left_beige6a:hover,
.active_shadow_top_left_beige6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(193, 193, 55, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(193, 193, 55, .63);
    box-shadow: -0.5em -0.5em 1em rgba(193, 193, 55, .63);
}

.shadow_top_left_beige6s,
.hover_shadow_top_left_beige6s:hover,
.active_shadow_top_left_beige6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(193, 193, 55, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(193, 193, 55, .78);
    box-shadow: -0.5em -0.5em 1em rgba(193, 193, 55, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_beige6,
.hover_shadow_top_right_beige6:hover,
.active_shadow_top_right_beige6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(128, 128, 37, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(128, 128, 37, .39);
    box-shadow: 0.5em -0.5em 1em rgba(128, 128, 37, .39);
}

.shadow_top_right_beige6h,
.hover_shadow_top_right_beige6h:hover,
.active_shadow_top_right_beige6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(154, 154, 44, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(154, 154, 44, .50);
    box-shadow: 0.5em -0.5em 1em rgba(154, 154, 44, .50);
}

.shadow_top_right_beige6a,
.hover_shadow_top_right_beige6a:hover,
.active_shadow_top_right_beige6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(193, 193, 55, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(193, 193, 55, .63);
    box-shadow: 0.5em -0.5em 1em rgba(193, 193, 55, .63);
}

.shadow_top_right_beige6s,
.hover_shadow_top_right_beige6s:hover,
.active_shadow_top_right_beige6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(193, 193, 55, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(193, 193, 55, .78);
    box-shadow: 0.5em -0.5em 1em rgba(193, 193, 55, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_beige6,
.hover_shadow_bottom_left_beige6:hover,
.active_shadow_bottom_left_beige6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(128, 128, 37, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(128, 128, 37, .39);
    box-shadow: -0.5em 0.5em 1em rgba(128, 128, 37, .39);
}

.shadow_bottom_left_beige6h,
.hover_shadow_bottom_left_beige6h:hover,
.active_shadow_bottom_left_beige6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(154, 154, 44, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(154, 154, 44, .50);
    box-shadow: -0.5em 0.5em 1em rgba(154, 154, 44, .50);
}

.shadow_bottom_left_beige6a,
.hover_shadow_bottom_left_beige6a:hover,
.active_shadow_bottom_left_beige6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(193, 193, 55, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(193, 193, 55, .63);
    box-shadow: -0.5em 0.5em 1em rgba(193, 193, 55, .63);
}

.shadow_bottom_left_beige6s,
.hover_shadow_bottom_left_beige6s:hover,
.active_shadow_bottom_left_beige6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(193, 193, 55, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(193, 193, 55, .78);
    box-shadow: -0.5em 0.5em 1em rgba(193, 193, 55, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_beige6,
.hover_shadow_bottom_right_beige6:hover,
.active_shadow_bottom_right_beige6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(128, 128, 37, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(128, 128, 37, .39);
    box-shadow: 0.5em 0.5em 1em rgba(128, 128, 37, .39);
}

.shadow_bottom_right_beige6h,
.hover_shadow_bottom_right_beige6h:hover,
.active_shadow_bottom_right_beige6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(154, 154, 44, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(154, 154, 44, .50);
    box-shadow: 0.5em 0.5em 1em rgba(154, 154, 44, .50);
}

.shadow_bottom_right_beige6a,
 .hover_shadow_bottom_right_beige6a:hover,
 .active_shadow_bottom_right_beige6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(193, 193, 55, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(193, 193, 55, .63);
     box-shadow: 0.5em 0.5em 1em rgba(193, 193, 55, .63);
 }

 .shadow_bottom_right_beige6s,
 .hover_shadow_bottom_right_beige6s:hover,
 .active_shadow_bottom_right_beige6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(193, 193, 55, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(193, 193, 55, .78);
     box-shadow: 0.5em 0.5em 1em rgba(193, 193, 55, .78);
 }