.background_glassyHoneyDew2,
.hover_background_glassyHoneyDew2:hover,
.active_background_glassyHoneyDew2:active:hover {
    background: #a6ffa6;
    background-image: -moz-linear-gradient(top,  rgb(124, 255, 124) 0%, rgb(82, 255, 82) 50%, rgb(40, 255, 40) 55%, rgb(166, 255, 166) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(124, 255, 124)), color-stop(50%, rgb(82, 255, 82)), color-stop(55%, rgb(40, 255, 40)), color-stop(100%, rgb(166, 255, 166)));
    background-image: -webkit-linear-gradient(top,  rgb(124, 255, 124) 0%, rgb(82, 255, 82) 50%, rgb(40, 255, 40) 55%, rgb(166, 255, 166) 100%);
    background-image: -o-linear-gradient(top,  rgb(124, 255, 124) 0%, rgb(82, 255, 82) 50%, rgb(40, 255, 40) 55%, rgb(166, 255, 166) 100%);
    background-image: -ms-linear-gradient(top, rgb(124, 255, 124) 0%, rgb(82, 255, 82) 50%, rgb(40, 255, 40) 55%, rgb(166, 255, 166) 100%);
    background-image: linear-gradient(to bottom,  rgb(124, 255, 124) 0%, rgb(82, 255, 82) 50%, rgb(40, 255, 40) 55%, rgb(166, 255, 166) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cff7c', endColorstr='#a6ffa6',GradientType=0 );
}

.background_glassyHoneyDew2h,
.hover_background_glassyHoneyDew2h:hover,
.active_background_glassyHoneyDew2h:active:hover {
    background: #a6ffa6;
    background-image: -moz-linear-gradient(top,  rgb(199, 255, 199) 0%, rgb(149, 255, 149) 50%, rgb(98, 255, 98) 55%, rgb(250, 255, 250) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(199, 255, 199)), color-stop(50%, rgb(149, 255, 149)), color-stop(55%, rgb(98, 255, 98)), color-stop(100%, rgb(250, 255, 250)));
    background-image: -webkit-linear-gradient(top,  rgb(199, 255, 199) 0%, rgb(149, 255, 149) 50%, rgb(98, 255, 98) 55%, rgb(250, 255, 250) 100%);
    background-image: -o-linear-gradient(top,  rgb(199, 255, 199) 0%, rgb(149, 255, 149) 50%, rgb(98, 255, 98) 55%, rgb(250, 255, 250) 100%);
    background-image: -ms-linear-gradient(top, rgb(199, 255, 199) 0%, rgb(149, 255, 149) 50%, rgb(98, 255, 98) 55%, rgb(250, 255, 250) 100%);
    background-image: linear-gradient(to bottom,  rgb(199, 255, 199) 0%, rgb(149, 255, 149) 50%, rgb(98, 255, 98) 55%, rgb(250, 255, 250) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7ffc7', endColorstr='#fafffa',GradientType=0 );
}

.background_glassyHoneyDew2a,
.hover_background_glassyHoneyDew2a:hover,
.active_background_glassyHoneyDew2a:active:hover {
    background: #a6ffa6;
    background-image: -moz-linear-gradient(top,  rgb(250, 255, 250) 0%, rgb(98, 255, 98) 50%, rgb(149, 255, 149) 55%, rgb(199, 255, 199) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(250, 255, 250)), color-stop(50%, rgb(98, 255, 98)), color-stop(55%, rgb(149, 255, 149)), color-stop(100%, rgb(199, 255, 199)));
    background-image: -webkit-linear-gradient(top,  rgb(250, 255, 250) 0%, rgb(98, 255, 98) 50%, rgb(149, 255, 149) 55%, rgb(199, 255, 199) 100%);
    background-image: -o-linear-gradient(top,  rgb(250, 255, 250) 0%, rgb(98, 255, 98) 50%, rgb(149, 255, 149) 55%, rgb(199, 255, 199) 100%);
    background-image: -ms-linear-gradient(top, rgb(250, 255, 250) 0%, rgb(98, 255, 98) 50%, rgb(149, 255, 149) 55%, rgb(199, 255, 199) 100%);
    background-image: linear-gradient(to bottom,  rgb(250, 255, 250) 0%, rgb(98, 255, 98) 50%, rgb(149, 255, 149) 55%, rgb(199, 255, 199) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafffa', endColorstr='#c7ffc7',GradientType=0 );
}

.background_glassyHoneyDew2s,
.hover_background_glassyHoneyDew2s:hover,
.active_background_glassyHoneyDew2s:active:hover {
    background: #a6ffa6;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(250, 255, 250) 50%, rgb(187, 255, 187) 55%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(50%, rgb(250, 255, 250)), color-stop(55%, rgb(187, 255, 187)), color-stop(100%, rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(250, 255, 250) 50%, rgb(187, 255, 187) 55%, rgb(255, 255, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(250, 255, 250) 50%, rgb(187, 255, 187) 55%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(250, 255, 250) 50%, rgb(187, 255, 187) 55%, rgb(255, 255, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(250, 255, 250) 50%, rgb(187, 255, 187) 55%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.background_color_glassyHoneyDew2,
.hover_background_color_glassyHoneyDew2:hover,
.active_background_color_glassyHoneyDew2:active:hover {
    background-color:#a6ffa6;
}

.background_first_color_glassyHoneyDew2,
.hover_background_first_color_glassyHoneyDew2:hover,
.active_background_first_color_glassyHoneyDew2:active:hover {
    background-color:#7cff7c;
}

.background_last_color_glassyHoneyDew2,
.hover_background_last_color_glassyHoneyDew2:hover,
.active_background_color_last_glassyHoneyDew2:active:hover {
   background-color:#a6ffa6;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyHoneyDew2,
.hover_color_glassyHoneyDew2:hover,
.active_color_glassyHoneyDew2:active:hover {
    color: #282828;
}

.color_glassyHoneyDew2h,
.hover_color_glassyHoneyDew2h:hover,
.active_color_glassyHoneyDew2h:active:hover {
    color: #282828;
}

.color_glassyHoneyDew2a,
.hover_color_glassyHoneyDew2a:hover,
.active_color_glassyHoneyDew2a:active:hover {
    color: #ff0;
}

.color_glassyHoneyDew2s,
.hover_color_glassyHoneyDew2s:hover,
.active_color_glassyHoneyDew2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyHoneyDew2,
.hover_border_glassyHoneyDew2:hover,
.active_border_glassyHoneyDew2:active:hover {
    border-color: #30ff30 #00fc00 #00fc00 #30ff30;
}

.border_glassyHoneyDew2h,
.hover_border_glassyHoneyDew2h:hover,
.active_border_glassyHoneyDew2h:active:hover {
    border-color: #30ff30 #00fc00 #00fc00 #30ff30;
}

.border_glassyHoneyDew2a,
.hover_border_glassyHoneyDew2a:hover,
.active_border_glassyHoneyDew2a:active:hover {
    border-color: #00ec00 #00ec00 #00ec00 #00ec00;
}

.border_glassyHoneyDew2s,
.hover_border_glassyHoneyDew2s:hover,
.active_border_glassyHoneyDew2s:active:hover {
    border-color: #00ec00 #00ec00 #00ec00 #00ec00;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyHoneyDew2,
.hover_shadow_expand_glassyHoneyDew2:hover,
.active_shadow_expand_glassyHoneyDew2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(166, 255, 166, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(166, 255, 166, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(166, 255, 166, .39);
}

.shadow_expand_glassyHoneyDew2h,
.hover_shadow_expand_glassyHoneyDew2h:hover,
.active_shadow_expand_glassyHoneyDew2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(250, 255, 250, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(250, 255, 250, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(250, 255, 250, .50);
}

.shadow_expand_glassyHoneyDew2a,
.hover_shadow_expand_glassyHoneyDew2a:hover,
.active_shadow_expand_glassyHoneyDew2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(199, 255, 199, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(199, 255, 199, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(199, 255, 199, .63);
}

.shadow_expand_glassyHoneyDew2s,
.hover_shadow_expand_glassyHoneyDew2s:hover,
.active_shadow_expand_glassyHoneyDew2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(199, 255, 199, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(199, 255, 199, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(199, 255, 199, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyHoneyDew2,
.hover_shadow_left_glassyHoneyDew2:hover,
.active_shadow_left_glassyHoneyDew2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(166, 255, 166, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(166, 255, 166, .39);
    box-shadow: -0.5em -0.5em 1em rgba(166, 255, 166, .39);
}

.shadow_left_glassyHoneyDew2h,
.hover_shadow_left_glassyHoneyDew2h:hover,
.active_shadow_left_glassyHoneyDew2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(250, 255, 250, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(250, 255, 250, .50);
    box-shadow: -0.5em -0.5em 1em rgba(250, 255, 250, .50);
}

.shadow_left_glassyHoneyDew2a,
.hover_shadow_left_glassyHoneyDew2a:hover,
.active_shadow_left_glassyHoneyDew2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(199, 255, 199, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(199, 255, 199, .63);
    box-shadow: -0.5em -0.5em 1em rgba(199, 255, 199, .63);
}

.shadow_left_glassyHoneyDew2s,
.hover_shadow_left_glassyHoneyDew2s:hover,
.active_shadow_left_glassyHoneyDew2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(199, 255, 199, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(199, 255, 199, .78);
    box-shadow: -0.5em -0.5em 1em rgba(199, 255, 199, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyHoneyDew2,
.hover_shadow_right_glassyHoneyDew2:hover,
.active_shadow_right_glassyHoneyDew2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(166, 255, 166, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(166, 255, 166, .39);
    box-shadow: 0.5em 0em 1em rgba(166, 255, 166, .39);
}

.shadow_right_glassyHoneyDew2h,
.hover_shadow_right_glassyHoneyDew2h:hover,
.active_shadow_right_glassyHoneyDew2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(250, 255, 250, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(250, 255, 250, .50);
    box-shadow: 0.5em 0em 1em rgba(250, 255, 250, .50);
}

.shadow_right_glassyHoneyDew2a,
.hover_shadow_right_glassyHoneyDew2a:hover,
.active_shadow_right_glassyHoneyDew2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(199, 255, 199, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(199, 255, 199, .63);
    box-shadow: 0.5em 0em 1em rgba(199, 255, 199, .63);
}

.shadow_right_glassyHoneyDew2s,
.hover_shadow_right_glassyHoneyDew2s:hover,
.active_shadow_right_glassyHoneyDew2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(199, 255, 199, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(199, 255, 199, .78);
    box-shadow: 0.5em 0em 1em rgba(199, 255, 199, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyHoneyDew2,
.hover_shadow_top_glassyHoneyDew2:hover,
.active_shadow_top_glassyHoneyDew2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(166, 255, 166, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(166, 255, 166, .39);
    box-shadow: 0em -0.5em 1em rgba(166, 255, 166, .39);
}

.shadow_top_glassyHoneyDew2h,
.hover_shadow_top_glassyHoneyDew2h:hover,
.active_shadow_top_glassyHoneyDew2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(250, 255, 250, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(250, 255, 250, .50);
    box-shadow: 0em -0.5em 1em rgba(250, 255, 250, .50);
}

.shadow_top_glassyHoneyDew2a,
.hover_shadow_top_glassyHoneyDew2a:hover,
.active_shadow_top_glassyHoneyDew2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(199, 255, 199, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(199, 255, 199, .63);
    box-shadow: 0em -0.5em 1em rgba(199, 255, 199, .63);
}

.shadow_top_glassyHoneyDew2s,
.hover_shadow_top_glassyHoneyDew2s:hover,
.active_shadow_top_glassyHoneyDew2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(199, 255, 199, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(199, 255, 199, .78);
    box-shadow: 0em -0.5em 1em rgba(199, 255, 199, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyHoneyDew2,
.hover_shadow_bottom_glassyHoneyDew2:hover,
.active_shadow_bottom_glassyHoneyDew2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(166, 255, 166, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(166, 255, 166, .39);
    box-shadow: 0em 0.5em 1em rgba(166, 255, 166, .39);
}

.shadow_bottom_glassyHoneyDew2h,
.hover_shadow_bottom_glassyHoneyDew2h:hover,
.active_shadow_bottom_glassyHoneyDew2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(250, 255, 250, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(250, 255, 250, .50);
    box-shadow: 0em 0.5em 1em rgba(250, 255, 250, .50);
}

.shadow_bottom_glassyHoneyDew2a,
.hover_shadow_bottom_glassyHoneyDew2a:hover,
.active_shadow_bottom_glassyHoneyDew2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(199, 255, 199, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(199, 255, 199, .63);
    box-shadow: 0em 0.5em 1em rgba(199, 255, 199, .63);
}

.shadow_bottom_glassyHoneyDew2s,
.hover_shadow_bottom_glassyHoneyDew2s:hover,
.active_shadow_bottom_glassyHoneyDew2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(199, 255, 199, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(199, 255, 199, .78);
    box-shadow: 0em 0.5em 1em rgba(199, 255, 199, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyHoneyDew2,
.hover_shadow_top_left_glassyHoneyDew2:hover,
.active_shadow_top_left_glassyHoneyDew2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(166, 255, 166, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(166, 255, 166, .39);
    box-shadow: -0.5em -0.5em 1em rgba(166, 255, 166, .39);
}

.shadow_top_left_glassyHoneyDew2h,
.hover_shadow_top_left_glassyHoneyDew2h:hover,
.active_shadow_top_left_glassyHoneyDew2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(250, 255, 250, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(250, 255, 250, .50);
    box-shadow: -0.5em -0.5em 1em rgba(250, 255, 250, .50);
}

.shadow_top_left_glassyHoneyDew2a,
.hover_shadow_top_left_glassyHoneyDew2a:hover,
.active_shadow_top_left_glassyHoneyDew2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(199, 255, 199, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(199, 255, 199, .63);
    box-shadow: -0.5em -0.5em 1em rgba(199, 255, 199, .63);
}

.shadow_top_left_glassyHoneyDew2s,
.hover_shadow_top_left_glassyHoneyDew2s:hover,
.active_shadow_top_left_glassyHoneyDew2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(199, 255, 199, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(199, 255, 199, .78);
    box-shadow: -0.5em -0.5em 1em rgba(199, 255, 199, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyHoneyDew2,
.hover_shadow_top_right_glassyHoneyDew2:hover,
.active_shadow_top_right_glassyHoneyDew2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(166, 255, 166, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(166, 255, 166, .39);
    box-shadow: 0.5em -0.5em 1em rgba(166, 255, 166, .39);
}

.shadow_top_right_glassyHoneyDew2h,
.hover_shadow_top_right_glassyHoneyDew2h:hover,
.active_shadow_top_right_glassyHoneyDew2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(250, 255, 250, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(250, 255, 250, .50);
    box-shadow: 0.5em -0.5em 1em rgba(250, 255, 250, .50);
}

.shadow_top_right_glassyHoneyDew2a,
.hover_shadow_top_right_glassyHoneyDew2a:hover,
.active_shadow_top_right_glassyHoneyDew2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(199, 255, 199, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(199, 255, 199, .63);
    box-shadow: 0.5em -0.5em 1em rgba(199, 255, 199, .63);
}

.shadow_top_right_glassyHoneyDew2s,
.hover_shadow_top_right_glassyHoneyDew2s:hover,
.active_shadow_top_right_glassyHoneyDew2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(199, 255, 199, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(199, 255, 199, .78);
    box-shadow: 0.5em -0.5em 1em rgba(199, 255, 199, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyHoneyDew2,
.hover_shadow_bottom_left_glassyHoneyDew2:hover,
.active_shadow_bottom_left_glassyHoneyDew2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(166, 255, 166, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(166, 255, 166, .39);
    box-shadow: -0.5em 0.5em 1em rgba(166, 255, 166, .39);
}

.shadow_bottom_left_glassyHoneyDew2h,
.hover_shadow_bottom_left_glassyHoneyDew2h:hover,
.active_shadow_bottom_left_glassyHoneyDew2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(250, 255, 250, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(250, 255, 250, .50);
    box-shadow: -0.5em 0.5em 1em rgba(250, 255, 250, .50);
}

.shadow_bottom_left_glassyHoneyDew2a,
.hover_shadow_bottom_left_glassyHoneyDew2a:hover,
.active_shadow_bottom_left_glassyHoneyDew2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(199, 255, 199, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(199, 255, 199, .63);
    box-shadow: -0.5em 0.5em 1em rgba(199, 255, 199, .63);
}

.shadow_bottom_left_glassyHoneyDew2s,
.hover_shadow_bottom_left_glassyHoneyDew2s:hover,
.active_shadow_bottom_left_glassyHoneyDew2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(199, 255, 199, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(199, 255, 199, .78);
    box-shadow: -0.5em 0.5em 1em rgba(199, 255, 199, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyHoneyDew2,
.hover_shadow_bottom_right_glassyHoneyDew2:hover,
.active_shadow_bottom_right_glassyHoneyDew2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(166, 255, 166, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(166, 255, 166, .39);
    box-shadow: 0.5em 0.5em 1em rgba(166, 255, 166, .39);
}

.shadow_bottom_right_glassyHoneyDew2h,
.hover_shadow_bottom_right_glassyHoneyDew2h:hover,
.active_shadow_bottom_right_glassyHoneyDew2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(250, 255, 250, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(250, 255, 250, .50);
    box-shadow: 0.5em 0.5em 1em rgba(250, 255, 250, .50);
}

.shadow_bottom_right_glassyHoneyDew2a,
 .hover_shadow_bottom_right_glassyHoneyDew2a:hover,
 .active_shadow_bottom_right_glassyHoneyDew2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(199, 255, 199, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(199, 255, 199, .63);
     box-shadow: 0.5em 0.5em 1em rgba(199, 255, 199, .63);
 }

 .shadow_bottom_right_glassyHoneyDew2s,
 .hover_shadow_bottom_right_glassyHoneyDew2s:hover,
 .active_shadow_bottom_right_glassyHoneyDew2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(199, 255, 199, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(199, 255, 199, .78);
     box-shadow: 0.5em 0.5em 1em rgba(199, 255, 199, .78);
 }