.aquaGreenYellow3,
.hover_aquaGreenYellow3:hover,
.active_aquaGreenYellow3:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(191, 255, 36, .39),
           inset 0 -0.5em 0.9em 0 #ecff8a,
           inset 0 -0.5em 0em 0.65em rgb(166, 240, 0),
           inset 0 0em 0.5em 2em rgb(203, 234, 134);
    -moz-box-shadow: 0 0.63em 0.75em rgba(191, 255, 36, .39),
           inset 0 -0.5em 0.9em 0 #ecff8a,
           inset 0 -0.5em 0em 0.65em rgb(166, 240, 0),
           inset 0 0em 0.5em 2em rgb(203, 234, 134);
    box-shadow: 0 0.63em 0.75em rgba(191, 255, 36, .39),
           inset 0 -0.5em 0.9em 0 #ecff8a,
           inset 0 -0.5em 0em 0.65em rgb(166, 240, 0),
           inset 0 0em 0.5em 2em rgb(203, 234, 134);
}

.aquaGreenYellow3h,
.hover_aquaGreenYellow3h:hover,
.active_aquaGreenYellow3h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(198, 255, 62, .55),
           inset 0 -0.5em 0.9em 0 #f4ffbd,
           inset 0 -0.5em 0em 0.65em #cbff57,
           inset 0 0em 0.5em 2em #eafdbf;
    -moz-box-shadow:0 0.63em 1em rgba(198, 255, 62, .55),
           inset 0 -0.5em 0.9em 0 #f4ffbd,
           inset 0 -0.5em 0em 0.65em #cbff57,
           inset 0 0em 0.5em 2em #eafdbf;
    box-shadow:0 0.63em 1em rgba(198, 255, 62, .55),
           inset 0 -0.5em 0.9em 0 #f4ffbd,
           inset 0 -0.5em 0em 0.65em #cbff57,
           inset 0 0em 0.5em 2em #eafdbf;
}

.aquaGreenYellow3a,
.hover_aquaGreenYellow3a:hover,
.active_aquaGreenYellow3a:active {
    /*background: #81d500;*/

    -webkit-box-shadow:0 0.63em 1em rgba(170, 240, 0, .55),
           inset 0 -0.5em 0.9em 0 #f0ffa4,
           inset 0 -0.5em 0em 0.65em #b9ff1f,
           inset 0 0em 0.5em 2em #d3ff71;
    -moz-box-shadow:0 0.63em 1em rgba(170, 240, 0, .55),
           inset 0 -0.5em 0.9em 0 #f0ffa4,
           inset 0 -0.5em 0em 0.65em #b9ff1f,
           inset 0 0em 0.5em 2em #d3ff71;
    box-shadow:0 0.63em 1em rgba(170, 240, 0, .55),
           inset 0 -0.5em 0.9em 0 #f0ffa4,
           inset 0 -0.5em 0em 0.65em #b9ff1f,
           inset 0 0em 0.5em 2em #d3ff71;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaGreenYellow3,
.hover_color_aquaGreenYellow3:hover,
.active_color_aquaGreenYellow3:active {
    color: #282828;
}

.color_aquaGreenYellow3h,
.hover_color_aquaGreenYellow3h:hover,
.active_color_aquaGreenYellow3h:active {
    color: #282828;
}

.color_aquaGreenYellow3a,
.hover_color_aquaGreenYellow3a:hover,
.active_color_aquaGreenYellow3a:active {
    color: #282828;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaGreenYellow3,
.hover_border_aquaGreenYellow3:hover,
.active_border_aquaGreenYellow3:active {
    border-color: #81d500 #81d500 #81d500 #81d500;
}

.border_aquaGreenYellow3h,
.hover_border_aquaGreenYellow3h:hover,
.active_border_aquaGreenYellow3h:active {
    border-color: #81d500 #81d500 #81d500 #81d500;
}

.border_aquaGreenYellow3a,
.hover_border_aquaGreenYellow3a:hover,
.active_border_aquaGreenYellow3a:active  {
    border-color: #81d500 #81d500 #81d500 #81d500;
}

