.aquaGreenYellow7,
.hover_aquaGreenYellow7:hover,
.active_aquaGreenYellow7:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(103, 146, 0, .39),
           inset 0 -0.5em 0.9em 0 #d0f800,
           inset 0 -0.5em 0em 0.65em rgb(66, 95, 0),
           inset 0 0em 0.5em 2em rgb(141, 189, 33);
    -moz-box-shadow: 0 0.63em 0.75em rgba(103, 146, 0, .39),
           inset 0 -0.5em 0.9em 0 #d0f800,
           inset 0 -0.5em 0em 0.65em rgb(66, 95, 0),
           inset 0 0em 0.5em 2em rgb(141, 189, 33);
    box-shadow: 0 0.63em 0.75em rgba(103, 146, 0, .39),
           inset 0 -0.5em 0.9em 0 #d0f800,
           inset 0 -0.5em 0em 0.65em rgb(66, 95, 0),
           inset 0 0em 0.5em 2em rgb(141, 189, 33);
}

.aquaGreenYellow7h,
.hover_aquaGreenYellow7h:hover,
.active_aquaGreenYellow7h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(121, 172, 0, .55),
           inset 0 -0.5em 0.9em 0 #ddff2c,
           inset 0 -0.5em 0em 0.65em #88c500,
           inset 0 0em 0.5em 2em #bcfa32;
    -moz-box-shadow:0 0.63em 1em rgba(121, 172, 0, .55),
           inset 0 -0.5em 0.9em 0 #ddff2c,
           inset 0 -0.5em 0em 0.65em #88c500,
           inset 0 0em 0.5em 2em #bcfa32;
    box-shadow:0 0.63em 1em rgba(121, 172, 0, .55),
           inset 0 -0.5em 0.9em 0 #ddff2c,
           inset 0 -0.5em 0em 0.65em #88c500,
           inset 0 0em 0.5em 2em #bcfa32;
}

.aquaGreenYellow7a,
.hover_aquaGreenYellow7a:hover,
.active_aquaGreenYellow7a:active {
    /*background: #589100;*/

    -webkit-box-shadow:0 0.63em 1em rgba(67, 95, 0, .55),
           inset 0 -0.5em 0.9em 0 #d9ff13,
           inset 0 -0.5em 0em 0.65em #618d00,
           inset 0 0em 0.5em 2em #9adf00;
    -moz-box-shadow:0 0.63em 1em rgba(67, 95, 0, .55),
           inset 0 -0.5em 0.9em 0 #d9ff13,
           inset 0 -0.5em 0em 0.65em #618d00,
           inset 0 0em 0.5em 2em #9adf00;
    box-shadow:0 0.63em 1em rgba(67, 95, 0, .55),
           inset 0 -0.5em 0.9em 0 #d9ff13,
           inset 0 -0.5em 0em 0.65em #618d00,
           inset 0 0em 0.5em 2em #9adf00;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaGreenYellow7,
.hover_color_aquaGreenYellow7:hover,
.active_color_aquaGreenYellow7:active {
    color: #282828;
}

.color_aquaGreenYellow7h,
.hover_color_aquaGreenYellow7h:hover,
.active_color_aquaGreenYellow7h:active {
    color: #c8c8c8;
}

.color_aquaGreenYellow7a,
.hover_color_aquaGreenYellow7a:hover,
.active_color_aquaGreenYellow7a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaGreenYellow7,
.hover_border_aquaGreenYellow7:hover,
.active_border_aquaGreenYellow7:active {
    border-color: #3b6100 #3b6100 #3b6100 #3b6100;
}

.border_aquaGreenYellow7h,
.hover_border_aquaGreenYellow7h:hover,
.active_border_aquaGreenYellow7h:active {
    border-color: #3b6100 #3b6100 #3b6100 #3b6100;
}

.border_aquaGreenYellow7a,
.hover_border_aquaGreenYellow7a:hover,
.active_border_aquaGreenYellow7a:active  {
    border-color: #3b6100 #3b6100 #3b6100 #3b6100;
}

