.aquaOliveDrab6,
.hover_aquaOliveDrab6:hover,
.active_aquaOliveDrab6:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(127, 153, 38, .39),
           inset 0 -0.5em 0.9em 0 #d1df46,
           inset 0 -0.5em 0em 0.65em rgb(102, 133, 7),
           inset 0 0em 0.5em 2em rgb(153, 171, 97);
    -moz-box-shadow: 0 0.63em 0.75em rgba(127, 153, 38, .39),
           inset 0 -0.5em 0.9em 0 #d1df46,
           inset 0 -0.5em 0em 0.65em rgb(102, 133, 7),
           inset 0 0em 0.5em 2em rgb(153, 171, 97);
    box-shadow: 0 0.63em 0.75em rgba(127, 153, 38, .39),
           inset 0 -0.5em 0.9em 0 #d1df46,
           inset 0 -0.5em 0em 0.65em rgb(102, 133, 7),
           inset 0 0em 0.5em 2em rgb(153, 171, 97);
}

.aquaOliveDrab6h,
.hover_aquaOliveDrab6h:hover,
.active_aquaOliveDrab6h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(144, 174, 43, .55),
           inset 0 -0.5em 0.9em 0 #dbe671,
           inset 0 -0.5em 0em 0.65em #a5ce24,
           inset 0 0em 0.5em 2em #c4da7e;
    -moz-box-shadow:0 0.63em 1em rgba(144, 174, 43, .55),
           inset 0 -0.5em 0.9em 0 #dbe671,
           inset 0 -0.5em 0em 0.65em #a5ce24,
           inset 0 0em 0.5em 2em #c4da7e;
    box-shadow:0 0.63em 1em rgba(144, 174, 43, .55),
           inset 0 -0.5em 0.9em 0 #dbe671,
           inset 0 -0.5em 0em 0.65em #a5ce24,
           inset 0 0em 0.5em 2em #c4da7e;
}

.aquaOliveDrab6a,
.hover_aquaOliveDrab6a:hover,
.active_aquaOliveDrab6a:active {
    /*background: #789f27;*/

    -webkit-box-shadow:0 0.63em 1em rgba(99, 123, 17, .55),
           inset 0 -0.5em 0.9em 0 #e2f14d,
           inset 0 -0.5em 0em 0.65em #86ac0e,
           inset 0 0em 0.5em 2em #b1db30;
    -moz-box-shadow:0 0.63em 1em rgba(99, 123, 17, .55),
           inset 0 -0.5em 0.9em 0 #e2f14d,
           inset 0 -0.5em 0em 0.65em #86ac0e,
           inset 0 0em 0.5em 2em #b1db30;
    box-shadow:0 0.63em 1em rgba(99, 123, 17, .55),
           inset 0 -0.5em 0.9em 0 #e2f14d,
           inset 0 -0.5em 0em 0.65em #86ac0e,
           inset 0 0em 0.5em 2em #b1db30;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaOliveDrab6,
.hover_color_aquaOliveDrab6:hover,
.active_color_aquaOliveDrab6:active {
    color: #282828;
}

.color_aquaOliveDrab6h,
.hover_color_aquaOliveDrab6h:hover,
.active_color_aquaOliveDrab6h:active {
    color: #c8c8c8;
}

.color_aquaOliveDrab6a,
.hover_color_aquaOliveDrab6a:hover,
.active_color_aquaOliveDrab6a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaOliveDrab6,
.hover_border_aquaOliveDrab6:hover,
.active_border_aquaOliveDrab6:active {
    border-color: #506a1a #506a1a #506a1a #506a1a;
}

.border_aquaOliveDrab6h,
.hover_border_aquaOliveDrab6h:hover,
.active_border_aquaOliveDrab6h:active {
    border-color: #506a1a #506a1a #506a1a #506a1a;
}

.border_aquaOliveDrab6a,
.hover_border_aquaOliveDrab6a:hover,
.active_border_aquaOliveDrab6a:active  {
    border-color: #506a1a #506a1a #506a1a #506a1a;
}

