.background_lavenderBlush8,
.hover_background_lavenderBlush8:hover,
.active_background_lavenderBlush8:active:hover {
    background: #88002d;
    background-image: -moz-linear-gradient(top,  rgb(170, 0, 57) 0%, rgb(136, 0, 45) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(170, 0, 57)), color-stop(100%, rgb(136, 0, 45)));
    background-image: -webkit-linear-gradient(top,  rgb(170, 0, 57) 0%, rgb(136, 0, 45) 100%);
    background-image: -o-linear-gradient(top,  rgb(170, 0, 57) 0%, rgb(136, 0, 45) 100%);
    background-image: -ms-linear-gradient(top, rgb(170, 0, 57) 0%, rgb(136, 0, 45) 100%);
    background-image: linear-gradient(to bottom,  rgb(170, 0, 57) 0%, rgb(136, 0, 45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa0039', endColorstr='#88002d',GradientType=0 );
}

.background_lavenderBlush8h,
.hover_background_lavenderBlush8h:hover,
.active_background_lavenderBlush8h:active:hover {
    background: #88002d;
    background-image: -moz-linear-gradient(top,  rgb(204, 0, 68) 0%, rgb(163, 0, 54) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(204, 0, 68)), color-stop(100%, rgb(163, 0, 54)));
    background-image: -webkit-linear-gradient(top,  rgb(204, 0, 68) 0%, rgb(163, 0, 54) 100%);
    background-image: -o-linear-gradient(top,  rgb(204, 0, 68) 0%, rgb(163, 0, 54) 100%);
    background-image: -ms-linear-gradient(top, rgb(204, 0, 68) 0%, rgb(163, 0, 54) 100%);
    background-image: linear-gradient(to bottom,  rgb(204, 0, 68) 0%, rgb(163, 0, 54) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0044', endColorstr='#a30036',GradientType=0 );
}

.background_lavenderBlush8a,
.hover_background_lavenderBlush8a:hover,
.active_background_lavenderBlush8a:active:hover {
    background: #88002d;
    background-image: -moz-linear-gradient(top,  rgb(163, 0, 54) 0%, rgb(204, 0, 68) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(163, 0, 54)), color-stop(100%, rgb(204, 0, 68)));
    background-image: -webkit-linear-gradient(top,  rgb(163, 0, 54) 0%, rgb(204, 0, 68) 100%);
    background-image: -o-linear-gradient(top,  rgb(163, 0, 54) 0%, rgb(204, 0, 68) 100%);
    background-image: -ms-linear-gradient(top, rgb(163, 0, 54) 0%, rgb(204, 0, 68) 100%);
    background-image: linear-gradient(to bottom,  rgb(163, 0, 54) 0%, rgb(204, 0, 68) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a30036', endColorstr='#cc0044',GradientType=0 );
}

.background_lavenderBlush8s,
.hover_background_lavenderBlush8s:hover,
.active_background_lavenderBlush8s:active:hover {
    background: #88002d;
    background-image: -moz-linear-gradient(top,  rgb(255, 0, 85) 0%, rgb(204, 0, 68) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 0, 85)), color-stop(100%, rgb(204, 0, 68)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 0, 85) 0%, rgb(204, 0, 68) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 0, 85) 0%, rgb(204, 0, 68) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 0, 85) 0%, rgb(204, 0, 68) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 0, 85) 0%, rgb(204, 0, 68) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0055', endColorstr='#cc0044',GradientType=0 );
}

.background_color_lavenderBlush8,
.hover_background_color_lavenderBlush8:hover,
.active_background_color_lavenderBlush8:active:hover {
    background-color:#88002d;
}

.background_first_color_lavenderBlush8,
.hover_background_first_color_lavenderBlush8:hover,
.active_background_first_color_lavenderBlush8:active:hover {
    background-color:#aa0039;
}

.background_last_color_lavenderBlush8,
.hover_background_last_color_lavenderBlush8:hover,
.active_background_color_last_lavenderBlush8:active:hover {
   background-color:#88002d;
}

/* ------------------------------ color settings -------------------------------*/
.color_lavenderBlush8,
.hover_color_lavenderBlush8:hover,
.active_color_lavenderBlush8:active:hover {
    color: #c8c8c8;
}

.color_lavenderBlush8h,
.hover_color_lavenderBlush8h:hover,
.active_color_lavenderBlush8h:active:hover {
    color: #c8c8c8;
}

.color_lavenderBlush8a,
.hover_color_lavenderBlush8a:hover,
.active_color_lavenderBlush8a:active:hover {
    color: #ff0;
}

.color_lavenderBlush8s,
.hover_color_lavenderBlush8s:hover,
.active_color_lavenderBlush8s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_lavenderBlush8,
.hover_border_lavenderBlush8:hover,
.active_border_lavenderBlush8:active:hover {
    border-color: #88002d #88002d #88002d #88002d;
}

.border_lavenderBlush8h,
.hover_border_lavenderBlush8h:hover,
.active_border_lavenderBlush8h:active:hover {
    border-color: #7a0029 #7a0029 #7a0029 #7a0029;
}

.border_lavenderBlush8a,
.hover_border_lavenderBlush8a:hover,
.active_border_lavenderBlush8a:active:hover {
    border-color: #6d0024 #6d0024 #6d0024 #6d0024;
}

.border_lavenderBlush8s,
.hover_border_lavenderBlush8s:hover,
.active_border_lavenderBlush8s:active:hover {
    border-color: #cc0044 #cc0044 #cc0044 #cc0044;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_lavenderBlush8,
.hover_shadow_expand_lavenderBlush8:hover,
.active_shadow_expand_lavenderBlush8:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(136, 0, 45, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(136, 0, 45, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(136, 0, 45, .39);
}

.shadow_expand_lavenderBlush8h,
.hover_shadow_expand_lavenderBlush8h:hover,
.active_shadow_expand_lavenderBlush8h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(163, 0, 54, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(163, 0, 54, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(163, 0, 54, .50);
}

.shadow_expand_lavenderBlush8a,
.hover_shadow_expand_lavenderBlush8a:hover,
.active_shadow_expand_lavenderBlush8a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(204, 0, 68, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(204, 0, 68, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(204, 0, 68, .63);
}

.shadow_expand_lavenderBlush8s,
.hover_shadow_expand_lavenderBlush8s:hover,
.active_shadow_expand_lavenderBlush8s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(204, 0, 68, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(204, 0, 68, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(204, 0, 68, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_lavenderBlush8,
.hover_shadow_left_lavenderBlush8:hover,
.active_shadow_left_lavenderBlush8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(136, 0, 45, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(136, 0, 45, .39);
    box-shadow: -0.5em -0.5em 1em rgba(136, 0, 45, .39);
}

.shadow_left_lavenderBlush8h,
.hover_shadow_left_lavenderBlush8h:hover,
.active_shadow_left_lavenderBlush8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(163, 0, 54, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(163, 0, 54, .50);
    box-shadow: -0.5em -0.5em 1em rgba(163, 0, 54, .50);
}

.shadow_left_lavenderBlush8a,
.hover_shadow_left_lavenderBlush8a:hover,
.active_shadow_left_lavenderBlush8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(204, 0, 68, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(204, 0, 68, .63);
    box-shadow: -0.5em -0.5em 1em rgba(204, 0, 68, .63);
}

.shadow_left_lavenderBlush8s,
.hover_shadow_left_lavenderBlush8s:hover,
.active_shadow_left_lavenderBlush8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(204, 0, 68, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(204, 0, 68, .78);
    box-shadow: -0.5em -0.5em 1em rgba(204, 0, 68, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_lavenderBlush8,
.hover_shadow_right_lavenderBlush8:hover,
.active_shadow_right_lavenderBlush8:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(136, 0, 45, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(136, 0, 45, .39);
    box-shadow: 0.5em 0em 1em rgba(136, 0, 45, .39);
}

.shadow_right_lavenderBlush8h,
.hover_shadow_right_lavenderBlush8h:hover,
.active_shadow_right_lavenderBlush8h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(163, 0, 54, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(163, 0, 54, .50);
    box-shadow: 0.5em 0em 1em rgba(163, 0, 54, .50);
}

.shadow_right_lavenderBlush8a,
.hover_shadow_right_lavenderBlush8a:hover,
.active_shadow_right_lavenderBlush8a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(204, 0, 68, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(204, 0, 68, .63);
    box-shadow: 0.5em 0em 1em rgba(204, 0, 68, .63);
}

.shadow_right_lavenderBlush8s,
.hover_shadow_right_lavenderBlush8s:hover,
.active_shadow_right_lavenderBlush8s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(204, 0, 68, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(204, 0, 68, .78);
    box-shadow: 0.5em 0em 1em rgba(204, 0, 68, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_lavenderBlush8,
.hover_shadow_top_lavenderBlush8:hover,
.active_shadow_top_lavenderBlush8:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(136, 0, 45, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(136, 0, 45, .39);
    box-shadow: 0em -0.5em 1em rgba(136, 0, 45, .39);
}

.shadow_top_lavenderBlush8h,
.hover_shadow_top_lavenderBlush8h:hover,
.active_shadow_top_lavenderBlush8h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(163, 0, 54, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(163, 0, 54, .50);
    box-shadow: 0em -0.5em 1em rgba(163, 0, 54, .50);
}

.shadow_top_lavenderBlush8a,
.hover_shadow_top_lavenderBlush8a:hover,
.active_shadow_top_lavenderBlush8a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(204, 0, 68, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(204, 0, 68, .63);
    box-shadow: 0em -0.5em 1em rgba(204, 0, 68, .63);
}

.shadow_top_lavenderBlush8s,
.hover_shadow_top_lavenderBlush8s:hover,
.active_shadow_top_lavenderBlush8s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(204, 0, 68, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(204, 0, 68, .78);
    box-shadow: 0em -0.5em 1em rgba(204, 0, 68, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_lavenderBlush8,
.hover_shadow_bottom_lavenderBlush8:hover,
.active_shadow_bottom_lavenderBlush8:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(136, 0, 45, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(136, 0, 45, .39);
    box-shadow: 0em 0.5em 1em rgba(136, 0, 45, .39);
}

.shadow_bottom_lavenderBlush8h,
.hover_shadow_bottom_lavenderBlush8h:hover,
.active_shadow_bottom_lavenderBlush8h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(163, 0, 54, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(163, 0, 54, .50);
    box-shadow: 0em 0.5em 1em rgba(163, 0, 54, .50);
}

.shadow_bottom_lavenderBlush8a,
.hover_shadow_bottom_lavenderBlush8a:hover,
.active_shadow_bottom_lavenderBlush8a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(204, 0, 68, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(204, 0, 68, .63);
    box-shadow: 0em 0.5em 1em rgba(204, 0, 68, .63);
}

.shadow_bottom_lavenderBlush8s,
.hover_shadow_bottom_lavenderBlush8s:hover,
.active_shadow_bottom_lavenderBlush8s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(204, 0, 68, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(204, 0, 68, .78);
    box-shadow: 0em 0.5em 1em rgba(204, 0, 68, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_lavenderBlush8,
.hover_shadow_top_left_lavenderBlush8:hover,
.active_shadow_top_left_lavenderBlush8:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(136, 0, 45, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(136, 0, 45, .39);
    box-shadow: -0.5em -0.5em 1em rgba(136, 0, 45, .39);
}

.shadow_top_left_lavenderBlush8h,
.hover_shadow_top_left_lavenderBlush8h:hover,
.active_shadow_top_left_lavenderBlush8h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(163, 0, 54, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(163, 0, 54, .50);
    box-shadow: -0.5em -0.5em 1em rgba(163, 0, 54, .50);
}

.shadow_top_left_lavenderBlush8a,
.hover_shadow_top_left_lavenderBlush8a:hover,
.active_shadow_top_left_lavenderBlush8a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(204, 0, 68, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(204, 0, 68, .63);
    box-shadow: -0.5em -0.5em 1em rgba(204, 0, 68, .63);
}

.shadow_top_left_lavenderBlush8s,
.hover_shadow_top_left_lavenderBlush8s:hover,
.active_shadow_top_left_lavenderBlush8s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(204, 0, 68, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(204, 0, 68, .78);
    box-shadow: -0.5em -0.5em 1em rgba(204, 0, 68, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_lavenderBlush8,
.hover_shadow_top_right_lavenderBlush8:hover,
.active_shadow_top_right_lavenderBlush8:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(136, 0, 45, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(136, 0, 45, .39);
    box-shadow: 0.5em -0.5em 1em rgba(136, 0, 45, .39);
}

.shadow_top_right_lavenderBlush8h,
.hover_shadow_top_right_lavenderBlush8h:hover,
.active_shadow_top_right_lavenderBlush8h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(163, 0, 54, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(163, 0, 54, .50);
    box-shadow: 0.5em -0.5em 1em rgba(163, 0, 54, .50);
}

.shadow_top_right_lavenderBlush8a,
.hover_shadow_top_right_lavenderBlush8a:hover,
.active_shadow_top_right_lavenderBlush8a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(204, 0, 68, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(204, 0, 68, .63);
    box-shadow: 0.5em -0.5em 1em rgba(204, 0, 68, .63);
}

.shadow_top_right_lavenderBlush8s,
.hover_shadow_top_right_lavenderBlush8s:hover,
.active_shadow_top_right_lavenderBlush8s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(204, 0, 68, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(204, 0, 68, .78);
    box-shadow: 0.5em -0.5em 1em rgba(204, 0, 68, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_lavenderBlush8,
.hover_shadow_bottom_left_lavenderBlush8:hover,
.active_shadow_bottom_left_lavenderBlush8:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(136, 0, 45, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(136, 0, 45, .39);
    box-shadow: -0.5em 0.5em 1em rgba(136, 0, 45, .39);
}

.shadow_bottom_left_lavenderBlush8h,
.hover_shadow_bottom_left_lavenderBlush8h:hover,
.active_shadow_bottom_left_lavenderBlush8h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(163, 0, 54, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(163, 0, 54, .50);
    box-shadow: -0.5em 0.5em 1em rgba(163, 0, 54, .50);
}

.shadow_bottom_left_lavenderBlush8a,
.hover_shadow_bottom_left_lavenderBlush8a:hover,
.active_shadow_bottom_left_lavenderBlush8a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(204, 0, 68, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(204, 0, 68, .63);
    box-shadow: -0.5em 0.5em 1em rgba(204, 0, 68, .63);
}

.shadow_bottom_left_lavenderBlush8s,
.hover_shadow_bottom_left_lavenderBlush8s:hover,
.active_shadow_bottom_left_lavenderBlush8s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(204, 0, 68, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(204, 0, 68, .78);
    box-shadow: -0.5em 0.5em 1em rgba(204, 0, 68, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_lavenderBlush8,
.hover_shadow_bottom_right_lavenderBlush8:hover,
.active_shadow_bottom_right_lavenderBlush8:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(136, 0, 45, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(136, 0, 45, .39);
    box-shadow: 0.5em 0.5em 1em rgba(136, 0, 45, .39);
}

.shadow_bottom_right_lavenderBlush8h,
.hover_shadow_bottom_right_lavenderBlush8h:hover,
.active_shadow_bottom_right_lavenderBlush8h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(163, 0, 54, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(163, 0, 54, .50);
    box-shadow: 0.5em 0.5em 1em rgba(163, 0, 54, .50);
}

.shadow_bottom_right_lavenderBlush8a,
 .hover_shadow_bottom_right_lavenderBlush8a:hover,
 .active_shadow_bottom_right_lavenderBlush8a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(204, 0, 68, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(204, 0, 68, .63);
     box-shadow: 0.5em 0.5em 1em rgba(204, 0, 68, .63);
 }

 .shadow_bottom_right_lavenderBlush8s,
 .hover_shadow_bottom_right_lavenderBlush8s:hover,
 .active_shadow_bottom_right_lavenderBlush8s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(204, 0, 68, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(204, 0, 68, .78);
     box-shadow: 0.5em 0.5em 1em rgba(204, 0, 68, .78);
 }