.background_lavenderBlush6,
.hover_background_lavenderBlush6:hover,
.active_background_lavenderBlush6:active:hover {
    background: #b0003b;
    background-image: -moz-linear-gradient(top,  rgb(220, 0, 73) 0%, rgb(176, 0, 59) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(220, 0, 73)), color-stop(100%, rgb(176, 0, 59)));
    background-image: -webkit-linear-gradient(top,  rgb(220, 0, 73) 0%, rgb(176, 0, 59) 100%);
    background-image: -o-linear-gradient(top,  rgb(220, 0, 73) 0%, rgb(176, 0, 59) 100%);
    background-image: -ms-linear-gradient(top, rgb(220, 0, 73) 0%, rgb(176, 0, 59) 100%);
    background-image: linear-gradient(to bottom,  rgb(220, 0, 73) 0%, rgb(176, 0, 59) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0049', endColorstr='#b0003b',GradientType=0 );
}

.background_lavenderBlush6h,
.hover_background_lavenderBlush6h:hover,
.active_background_lavenderBlush6h:active:hover {
    background: #b0003b;
    background-image: -moz-linear-gradient(top,  rgb(255, 9, 91) 0%, rgb(211, 0, 70) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 9, 91)), color-stop(100%, rgb(211, 0, 70)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 9, 91) 0%, rgb(211, 0, 70) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 9, 91) 0%, rgb(211, 0, 70) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 9, 91) 0%, rgb(211, 0, 70) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 9, 91) 0%, rgb(211, 0, 70) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff095b', endColorstr='#d30046',GradientType=0 );
}

.background_lavenderBlush6a,
.hover_background_lavenderBlush6a:hover,
.active_background_lavenderBlush6a:active:hover {
    background: #b0003b;
    background-image: -moz-linear-gradient(top,  rgb(211, 0, 70) 0%, rgb(255, 9, 91) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(211, 0, 70)), color-stop(100%, rgb(255, 9, 91)));
    background-image: -webkit-linear-gradient(top,  rgb(211, 0, 70) 0%, rgb(255, 9, 91) 100%);
    background-image: -o-linear-gradient(top,  rgb(211, 0, 70) 0%, rgb(255, 9, 91) 100%);
    background-image: -ms-linear-gradient(top, rgb(211, 0, 70) 0%, rgb(255, 9, 91) 100%);
    background-image: linear-gradient(to bottom,  rgb(211, 0, 70) 0%, rgb(255, 9, 91) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d30046', endColorstr='#ff095b',GradientType=0 );
}

.background_lavenderBlush6s,
.hover_background_lavenderBlush6s:hover,
.active_background_lavenderBlush6s:active:hover {
    background: #b0003b;
    background-image: -moz-linear-gradient(top,  rgb(255, 74, 135) 0%, rgb(255, 9, 91) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 74, 135)), color-stop(100%, rgb(255, 9, 91)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 74, 135) 0%, rgb(255, 9, 91) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 74, 135) 0%, rgb(255, 9, 91) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 74, 135) 0%, rgb(255, 9, 91) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 74, 135) 0%, rgb(255, 9, 91) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4a87', endColorstr='#ff095b',GradientType=0 );
}

.background_color_lavenderBlush6,
.hover_background_color_lavenderBlush6:hover,
.active_background_color_lavenderBlush6:active:hover {
    background-color:#b0003b;
}

.background_first_color_lavenderBlush6,
.hover_background_first_color_lavenderBlush6:hover,
.active_background_first_color_lavenderBlush6:active:hover {
    background-color:#dc0049;
}

.background_last_color_lavenderBlush6,
.hover_background_last_color_lavenderBlush6:hover,
.active_background_color_last_lavenderBlush6:active:hover {
   background-color:#b0003b;
}

/* ------------------------------ color settings -------------------------------*/
.color_lavenderBlush6,
.hover_color_lavenderBlush6:hover,
.active_color_lavenderBlush6:active:hover {
    color: #c8c8c8;
}

.color_lavenderBlush6h,
.hover_color_lavenderBlush6h:hover,
.active_color_lavenderBlush6h:active:hover {
    color: #c8c8c8;
}

.color_lavenderBlush6a,
.hover_color_lavenderBlush6a:hover,
.active_color_lavenderBlush6a:active:hover {
    color: #ff0;
}

.color_lavenderBlush6s,
.hover_color_lavenderBlush6s:hover,
.active_color_lavenderBlush6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_lavenderBlush6,
.hover_border_lavenderBlush6:hover,
.active_border_lavenderBlush6:active:hover {
    border-color: #b0003b #b0003b #b0003b #b0003b;
}

.border_lavenderBlush6h,
.hover_border_lavenderBlush6h:hover,
.active_border_lavenderBlush6h:active:hover {
    border-color: #9e0035 #9e0035 #9e0035 #9e0035;
}

.border_lavenderBlush6a,
.hover_border_lavenderBlush6a:hover,
.active_border_lavenderBlush6a:active:hover {
    border-color: #8d002f #8d002f #8d002f #8d002f;
}

.border_lavenderBlush6s,
.hover_border_lavenderBlush6s:hover,
.active_border_lavenderBlush6s:active:hover {
    border-color: #ff095b #ff095b #ff095b #ff095b;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_lavenderBlush6,
.hover_shadow_expand_lavenderBlush6:hover,
.active_shadow_expand_lavenderBlush6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(176, 0, 59, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(176, 0, 59, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(176, 0, 59, .39);
}

.shadow_expand_lavenderBlush6h,
.hover_shadow_expand_lavenderBlush6h:hover,
.active_shadow_expand_lavenderBlush6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(211, 0, 70, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(211, 0, 70, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(211, 0, 70, .50);
}

.shadow_expand_lavenderBlush6a,
.hover_shadow_expand_lavenderBlush6a:hover,
.active_shadow_expand_lavenderBlush6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 9, 91, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 9, 91, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 9, 91, .63);
}

.shadow_expand_lavenderBlush6s,
.hover_shadow_expand_lavenderBlush6s:hover,
.active_shadow_expand_lavenderBlush6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 9, 91, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 9, 91, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 9, 91, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_lavenderBlush6,
.hover_shadow_left_lavenderBlush6:hover,
.active_shadow_left_lavenderBlush6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(176, 0, 59, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(176, 0, 59, .39);
    box-shadow: -0.5em -0.5em 1em rgba(176, 0, 59, .39);
}

.shadow_left_lavenderBlush6h,
.hover_shadow_left_lavenderBlush6h:hover,
.active_shadow_left_lavenderBlush6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(211, 0, 70, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(211, 0, 70, .50);
    box-shadow: -0.5em -0.5em 1em rgba(211, 0, 70, .50);
}

.shadow_left_lavenderBlush6a,
.hover_shadow_left_lavenderBlush6a:hover,
.active_shadow_left_lavenderBlush6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 9, 91, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 9, 91, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 9, 91, .63);
}

.shadow_left_lavenderBlush6s,
.hover_shadow_left_lavenderBlush6s:hover,
.active_shadow_left_lavenderBlush6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 9, 91, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 9, 91, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 9, 91, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_lavenderBlush6,
.hover_shadow_right_lavenderBlush6:hover,
.active_shadow_right_lavenderBlush6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(176, 0, 59, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(176, 0, 59, .39);
    box-shadow: 0.5em 0em 1em rgba(176, 0, 59, .39);
}

.shadow_right_lavenderBlush6h,
.hover_shadow_right_lavenderBlush6h:hover,
.active_shadow_right_lavenderBlush6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(211, 0, 70, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(211, 0, 70, .50);
    box-shadow: 0.5em 0em 1em rgba(211, 0, 70, .50);
}

.shadow_right_lavenderBlush6a,
.hover_shadow_right_lavenderBlush6a:hover,
.active_shadow_right_lavenderBlush6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 9, 91, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 9, 91, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 9, 91, .63);
}

.shadow_right_lavenderBlush6s,
.hover_shadow_right_lavenderBlush6s:hover,
.active_shadow_right_lavenderBlush6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 9, 91, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 9, 91, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 9, 91, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_lavenderBlush6,
.hover_shadow_top_lavenderBlush6:hover,
.active_shadow_top_lavenderBlush6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(176, 0, 59, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(176, 0, 59, .39);
    box-shadow: 0em -0.5em 1em rgba(176, 0, 59, .39);
}

.shadow_top_lavenderBlush6h,
.hover_shadow_top_lavenderBlush6h:hover,
.active_shadow_top_lavenderBlush6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(211, 0, 70, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(211, 0, 70, .50);
    box-shadow: 0em -0.5em 1em rgba(211, 0, 70, .50);
}

.shadow_top_lavenderBlush6a,
.hover_shadow_top_lavenderBlush6a:hover,
.active_shadow_top_lavenderBlush6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 9, 91, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 9, 91, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 9, 91, .63);
}

.shadow_top_lavenderBlush6s,
.hover_shadow_top_lavenderBlush6s:hover,
.active_shadow_top_lavenderBlush6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 9, 91, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 9, 91, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 9, 91, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_lavenderBlush6,
.hover_shadow_bottom_lavenderBlush6:hover,
.active_shadow_bottom_lavenderBlush6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(176, 0, 59, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(176, 0, 59, .39);
    box-shadow: 0em 0.5em 1em rgba(176, 0, 59, .39);
}

.shadow_bottom_lavenderBlush6h,
.hover_shadow_bottom_lavenderBlush6h:hover,
.active_shadow_bottom_lavenderBlush6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(211, 0, 70, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(211, 0, 70, .50);
    box-shadow: 0em 0.5em 1em rgba(211, 0, 70, .50);
}

.shadow_bottom_lavenderBlush6a,
.hover_shadow_bottom_lavenderBlush6a:hover,
.active_shadow_bottom_lavenderBlush6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 9, 91, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 9, 91, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 9, 91, .63);
}

.shadow_bottom_lavenderBlush6s,
.hover_shadow_bottom_lavenderBlush6s:hover,
.active_shadow_bottom_lavenderBlush6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 9, 91, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 9, 91, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 9, 91, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_lavenderBlush6,
.hover_shadow_top_left_lavenderBlush6:hover,
.active_shadow_top_left_lavenderBlush6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(176, 0, 59, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(176, 0, 59, .39);
    box-shadow: -0.5em -0.5em 1em rgba(176, 0, 59, .39);
}

.shadow_top_left_lavenderBlush6h,
.hover_shadow_top_left_lavenderBlush6h:hover,
.active_shadow_top_left_lavenderBlush6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(211, 0, 70, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(211, 0, 70, .50);
    box-shadow: -0.5em -0.5em 1em rgba(211, 0, 70, .50);
}

.shadow_top_left_lavenderBlush6a,
.hover_shadow_top_left_lavenderBlush6a:hover,
.active_shadow_top_left_lavenderBlush6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 9, 91, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 9, 91, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 9, 91, .63);
}

.shadow_top_left_lavenderBlush6s,
.hover_shadow_top_left_lavenderBlush6s:hover,
.active_shadow_top_left_lavenderBlush6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 9, 91, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 9, 91, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 9, 91, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_lavenderBlush6,
.hover_shadow_top_right_lavenderBlush6:hover,
.active_shadow_top_right_lavenderBlush6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(176, 0, 59, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(176, 0, 59, .39);
    box-shadow: 0.5em -0.5em 1em rgba(176, 0, 59, .39);
}

.shadow_top_right_lavenderBlush6h,
.hover_shadow_top_right_lavenderBlush6h:hover,
.active_shadow_top_right_lavenderBlush6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(211, 0, 70, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(211, 0, 70, .50);
    box-shadow: 0.5em -0.5em 1em rgba(211, 0, 70, .50);
}

.shadow_top_right_lavenderBlush6a,
.hover_shadow_top_right_lavenderBlush6a:hover,
.active_shadow_top_right_lavenderBlush6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 9, 91, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 9, 91, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 9, 91, .63);
}

.shadow_top_right_lavenderBlush6s,
.hover_shadow_top_right_lavenderBlush6s:hover,
.active_shadow_top_right_lavenderBlush6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 9, 91, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 9, 91, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 9, 91, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_lavenderBlush6,
.hover_shadow_bottom_left_lavenderBlush6:hover,
.active_shadow_bottom_left_lavenderBlush6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(176, 0, 59, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(176, 0, 59, .39);
    box-shadow: -0.5em 0.5em 1em rgba(176, 0, 59, .39);
}

.shadow_bottom_left_lavenderBlush6h,
.hover_shadow_bottom_left_lavenderBlush6h:hover,
.active_shadow_bottom_left_lavenderBlush6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(211, 0, 70, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(211, 0, 70, .50);
    box-shadow: -0.5em 0.5em 1em rgba(211, 0, 70, .50);
}

.shadow_bottom_left_lavenderBlush6a,
.hover_shadow_bottom_left_lavenderBlush6a:hover,
.active_shadow_bottom_left_lavenderBlush6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 9, 91, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 9, 91, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 9, 91, .63);
}

.shadow_bottom_left_lavenderBlush6s,
.hover_shadow_bottom_left_lavenderBlush6s:hover,
.active_shadow_bottom_left_lavenderBlush6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 9, 91, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 9, 91, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 9, 91, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_lavenderBlush6,
.hover_shadow_bottom_right_lavenderBlush6:hover,
.active_shadow_bottom_right_lavenderBlush6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(176, 0, 59, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(176, 0, 59, .39);
    box-shadow: 0.5em 0.5em 1em rgba(176, 0, 59, .39);
}

.shadow_bottom_right_lavenderBlush6h,
.hover_shadow_bottom_right_lavenderBlush6h:hover,
.active_shadow_bottom_right_lavenderBlush6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(211, 0, 70, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(211, 0, 70, .50);
    box-shadow: 0.5em 0.5em 1em rgba(211, 0, 70, .50);
}

.shadow_bottom_right_lavenderBlush6a,
 .hover_shadow_bottom_right_lavenderBlush6a:hover,
 .active_shadow_bottom_right_lavenderBlush6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 9, 91, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 9, 91, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 9, 91, .63);
 }

 .shadow_bottom_right_lavenderBlush6s,
 .hover_shadow_bottom_right_lavenderBlush6s:hover,
 .active_shadow_bottom_right_lavenderBlush6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 9, 91, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 9, 91, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 9, 91, .78);
 }