.aquaYellowGreen6,
.hover_aquaYellowGreen6:hover,
.active_aquaYellowGreen6:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(124, 150, 37, .39),
           inset 0 -0.5em 0.9em 0 #d0df42,
           inset 0 -0.5em 0em 0.65em rgb(99, 129, 6),
           inset 0 0em 0.5em 2em rgb(151, 170, 94);
    -moz-box-shadow: 0 0.63em 0.75em rgba(124, 150, 37, .39),
           inset 0 -0.5em 0.9em 0 #d0df42,
           inset 0 -0.5em 0em 0.65em rgb(99, 129, 6),
           inset 0 0em 0.5em 2em rgb(151, 170, 94);
    box-shadow: 0 0.63em 0.75em rgba(124, 150, 37, .39),
           inset 0 -0.5em 0.9em 0 #d0df42,
           inset 0 -0.5em 0em 0.65em rgb(99, 129, 6),
           inset 0 0em 0.5em 2em rgb(151, 170, 94);
}

.aquaYellowGreen6h,
.hover_aquaYellowGreen6h:hover,
.active_aquaYellowGreen6h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(141, 171, 42, .55),
           inset 0 -0.5em 0.9em 0 #dbe66e,
           inset 0 -0.5em 0em 0.65em #a2cb23,
           inset 0 0em 0.5em 2em #c2d97a;
    -moz-box-shadow:0 0.63em 1em rgba(141, 171, 42, .55),
           inset 0 -0.5em 0.9em 0 #dbe66e,
           inset 0 -0.5em 0em 0.65em #a2cb23,
           inset 0 0em 0.5em 2em #c2d97a;
    box-shadow:0 0.63em 1em rgba(141, 171, 42, .55),
           inset 0 -0.5em 0.9em 0 #dbe66e,
           inset 0 -0.5em 0em 0.65em #a2cb23,
           inset 0 0em 0.5em 2em #c2d97a;
}

.aquaYellowGreen6a,
.hover_aquaYellowGreen6a:hover,
.active_aquaYellowGreen6a:active {
    /*background: #759b26;*/

    -webkit-box-shadow:0 0.63em 1em rgba(96, 119, 16, .55),
           inset 0 -0.5em 0.9em 0 #e1f149,
           inset 0 -0.5em 0em 0.65em #82a90d,
           inset 0 0em 0.5em 2em #b0db2c;
    -moz-box-shadow:0 0.63em 1em rgba(96, 119, 16, .55),
           inset 0 -0.5em 0.9em 0 #e1f149,
           inset 0 -0.5em 0em 0.65em #82a90d,
           inset 0 0em 0.5em 2em #b0db2c;
    box-shadow:0 0.63em 1em rgba(96, 119, 16, .55),
           inset 0 -0.5em 0.9em 0 #e1f149,
           inset 0 -0.5em 0em 0.65em #82a90d,
           inset 0 0em 0.5em 2em #b0db2c;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaYellowGreen6,
.hover_color_aquaYellowGreen6:hover,
.active_color_aquaYellowGreen6:active {
    color: #282828;
}

.color_aquaYellowGreen6h,
.hover_color_aquaYellowGreen6h:hover,
.active_color_aquaYellowGreen6h:active {
    color: #c8c8c8;
}

.color_aquaYellowGreen6a,
.hover_color_aquaYellowGreen6a:hover,
.active_color_aquaYellowGreen6a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaYellowGreen6,
.hover_border_aquaYellowGreen6:hover,
.active_border_aquaYellowGreen6:active {
    border-color: #4e6819 #4e6819 #4e6819 #4e6819;
}

.border_aquaYellowGreen6h,
.hover_border_aquaYellowGreen6h:hover,
.active_border_aquaYellowGreen6h:active {
    border-color: #4e6819 #4e6819 #4e6819 #4e6819;
}

.border_aquaYellowGreen6a,
.hover_border_aquaYellowGreen6a:hover,
.active_border_aquaYellowGreen6a:active  {
    border-color: #4e6819 #4e6819 #4e6819 #4e6819;
}

