.aquaYellowGreen4,
.hover_aquaYellowGreen4:hover,
.active_aquaYellowGreen4:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(172, 206, 55, .39),
           inset 0 -0.5em 0.9em 0 #e0ea82,
           inset 0 -0.5em 0em 0.65em rgb(154, 200, 10),
           inset 0 0em 0.5em 2em rgb(182, 195, 142);
    -moz-box-shadow: 0 0.63em 0.75em rgba(172, 206, 55, .39),
           inset 0 -0.5em 0.9em 0 #e0ea82,
           inset 0 -0.5em 0em 0.65em rgb(154, 200, 10),
           inset 0 0em 0.5em 2em rgb(182, 195, 142);
    box-shadow: 0 0.63em 0.75em rgba(172, 206, 55, .39),
           inset 0 -0.5em 0.9em 0 #e0ea82,
           inset 0 -0.5em 0em 0.65em rgb(154, 200, 10),
           inset 0 0em 0.5em 2em rgb(182, 195, 142);
}

.aquaYellowGreen4h,
.hover_aquaYellowGreen4h:hover,
.active_aquaYellowGreen4h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(180, 211, 75, .55),
           inset 0 -0.5em 0.9em 0 #eaf1ad,
           inset 0 -0.5em 0em 0.65em #c0e256,
           inset 0 0em 0.5em 2em #ddeab4;
    -moz-box-shadow:0 0.63em 1em rgba(180, 211, 75, .55),
           inset 0 -0.5em 0.9em 0 #eaf1ad,
           inset 0 -0.5em 0em 0.65em #c0e256,
           inset 0 0em 0.5em 2em #ddeab4;
    box-shadow:0 0.63em 1em rgba(180, 211, 75, .55),
           inset 0 -0.5em 0.9em 0 #eaf1ad,
           inset 0 -0.5em 0em 0.65em #c0e256,
           inset 0 0em 0.5em 2em #ddeab4;
}

.aquaYellowGreen4a,
.hover_aquaYellowGreen4a:hover,
.active_aquaYellowGreen4a:active {
    /*background: #729825;*/

    -webkit-box-shadow:0 0.63em 1em rgba(148, 185, 25, .55),
           inset 0 -0.5em 0.9em 0 #ecf68e,
           inset 0 -0.5em 0em 0.65em #b7ed13,
           inset 0 0em 0.5em 2em #c8e66c;
    -moz-box-shadow:0 0.63em 1em rgba(148, 185, 25, .55),
           inset 0 -0.5em 0.9em 0 #ecf68e,
           inset 0 -0.5em 0em 0.65em #b7ed13,
           inset 0 0em 0.5em 2em #c8e66c;
    box-shadow:0 0.63em 1em rgba(148, 185, 25, .55),
           inset 0 -0.5em 0.9em 0 #ecf68e,
           inset 0 -0.5em 0em 0.65em #b7ed13,
           inset 0 0em 0.5em 2em #c8e66c;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaYellowGreen4,
.hover_color_aquaYellowGreen4:hover,
.active_color_aquaYellowGreen4:active {
    color: #282828;
}

.color_aquaYellowGreen4h,
.hover_color_aquaYellowGreen4h:hover,
.active_color_aquaYellowGreen4h:active {
    color: #c8c8c8;
}

.color_aquaYellowGreen4a,
.hover_color_aquaYellowGreen4a:hover,
.active_color_aquaYellowGreen4a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaYellowGreen4,
.hover_border_aquaYellowGreen4:hover,
.active_border_aquaYellowGreen4:active {
    border-color: #729825 #729825 #729825 #729825;
}

.border_aquaYellowGreen4h,
.hover_border_aquaYellowGreen4h:hover,
.active_border_aquaYellowGreen4h:active {
    border-color: #729825 #729825 #729825 #729825;
}

.border_aquaYellowGreen4a,
.hover_border_aquaYellowGreen4a:hover,
.active_border_aquaYellowGreen4a:active  {
    border-color: #729825 #729825 #729825 #729825;
}

