.background_floralWhite2,
.hover_background_floralWhite2:hover,
.active_background_floralWhite2:active:hover {
    background: #ffc552;
    background-image: -moz-linear-gradient(top,  rgb(255, 225, 166) 0%, rgb(255, 197, 82) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 225, 166)), color-stop(100%, rgb(255, 197, 82)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 225, 166) 0%, rgb(255, 197, 82) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 225, 166) 0%, rgb(255, 197, 82) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 225, 166) 0%, rgb(255, 197, 82) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 225, 166) 0%, rgb(255, 197, 82) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe1a6', endColorstr='#ffc552',GradientType=0 );
}

.background_floralWhite2h,
.hover_background_floralWhite2h:hover,
.active_background_floralWhite2h:active:hover {
    background: #ffc552;
    background-image: -moz-linear-gradient(top,  rgb(255, 253, 250) 0%, rgb(255, 220, 149) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 253, 250)), color-stop(100%, rgb(255, 220, 149)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 253, 250) 0%, rgb(255, 220, 149) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 253, 250) 0%, rgb(255, 220, 149) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 253, 250) 0%, rgb(255, 220, 149) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 253, 250) 0%, rgb(255, 220, 149) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdfa', endColorstr='#ffdc95',GradientType=0 );
}

.background_floralWhite2a,
.hover_background_floralWhite2a:hover,
.active_background_floralWhite2a:active:hover {
    background: #ffc552;
    background-image: -moz-linear-gradient(top,  rgb(255, 220, 149) 0%, rgb(255, 253, 250) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 220, 149)), color-stop(100%, rgb(255, 253, 250)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 220, 149) 0%, rgb(255, 253, 250) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 220, 149) 0%, rgb(255, 253, 250) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 220, 149) 0%, rgb(255, 253, 250) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 220, 149) 0%, rgb(255, 253, 250) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc95', endColorstr='#fffdfa',GradientType=0 );
}

.background_floralWhite2s,
.hover_background_floralWhite2s:hover,
.active_background_floralWhite2s:active:hover {
    background: #ffc552;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 253, 250) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(255, 253, 250)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 253, 250) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 253, 250) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 253, 250) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(255, 253, 250) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fffdfa',GradientType=0 );
}

.background_color_floralWhite2,
.hover_background_color_floralWhite2:hover,
.active_background_color_floralWhite2:active:hover {
    background-color:#ffc552;
}

.background_first_color_floralWhite2,
.hover_background_first_color_floralWhite2:hover,
.active_background_first_color_floralWhite2:active:hover {
    background-color:#ffe1a6;
}

.background_last_color_floralWhite2,
.hover_background_last_color_floralWhite2:hover,
.active_background_color_last_floralWhite2:active:hover {
   background-color:#ffc552;
}

/* ------------------------------ color settings -------------------------------*/
.color_floralWhite2,
.hover_color_floralWhite2:hover,
.active_color_floralWhite2:active:hover {
    color: #282828;
}

.color_floralWhite2h,
.hover_color_floralWhite2h:hover,
.active_color_floralWhite2h:active:hover {
    color: #282828;
}

.color_floralWhite2a,
.hover_color_floralWhite2a:hover,
.active_color_floralWhite2a:active:hover {
    color: #ff0;
}

.color_floralWhite2s,
.hover_color_floralWhite2s:hover,
.active_color_floralWhite2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_floralWhite2,
.hover_border_floralWhite2:hover,
.active_border_floralWhite2:active:hover {
    border-color: #ffc552 #ffc552 #ffc552 #ffc552;
}

.border_floralWhite2h,
.hover_border_floralWhite2h:hover,
.active_border_floralWhite2h:active:hover {
    border-color: #ffba30 #ffba30 #ffba30 #ffba30;
}

.border_floralWhite2a,
.hover_border_floralWhite2a:hover,
.active_border_floralWhite2a:active:hover {
    border-color: #ffaf0e #ffaf0e #ffaf0e #ffaf0e;
}

.border_floralWhite2s,
.hover_border_floralWhite2s:hover,
.active_border_floralWhite2s:active:hover {
    border-color: #fffdfa #fffdfa #fffdfa #fffdfa;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_floralWhite2,
.hover_shadow_expand_floralWhite2:hover,
.active_shadow_expand_floralWhite2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 197, 82, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 197, 82, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 197, 82, .39);
}

.shadow_expand_floralWhite2h,
.hover_shadow_expand_floralWhite2h:hover,
.active_shadow_expand_floralWhite2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 220, 149, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 220, 149, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 220, 149, .50);
}

.shadow_expand_floralWhite2a,
.hover_shadow_expand_floralWhite2a:hover,
.active_shadow_expand_floralWhite2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 253, 250, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 253, 250, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 253, 250, .63);
}

.shadow_expand_floralWhite2s,
.hover_shadow_expand_floralWhite2s:hover,
.active_shadow_expand_floralWhite2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 253, 250, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 253, 250, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 253, 250, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_floralWhite2,
.hover_shadow_left_floralWhite2:hover,
.active_shadow_left_floralWhite2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 197, 82, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 197, 82, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 197, 82, .39);
}

.shadow_left_floralWhite2h,
.hover_shadow_left_floralWhite2h:hover,
.active_shadow_left_floralWhite2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 220, 149, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 220, 149, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 220, 149, .50);
}

.shadow_left_floralWhite2a,
.hover_shadow_left_floralWhite2a:hover,
.active_shadow_left_floralWhite2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 253, 250, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 253, 250, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 253, 250, .63);
}

.shadow_left_floralWhite2s,
.hover_shadow_left_floralWhite2s:hover,
.active_shadow_left_floralWhite2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 253, 250, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 253, 250, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 253, 250, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_floralWhite2,
.hover_shadow_right_floralWhite2:hover,
.active_shadow_right_floralWhite2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 197, 82, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 197, 82, .39);
    box-shadow: 0.5em 0em 1em rgba(255, 197, 82, .39);
}

.shadow_right_floralWhite2h,
.hover_shadow_right_floralWhite2h:hover,
.active_shadow_right_floralWhite2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 220, 149, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 220, 149, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 220, 149, .50);
}

.shadow_right_floralWhite2a,
.hover_shadow_right_floralWhite2a:hover,
.active_shadow_right_floralWhite2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 253, 250, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 253, 250, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 253, 250, .63);
}

.shadow_right_floralWhite2s,
.hover_shadow_right_floralWhite2s:hover,
.active_shadow_right_floralWhite2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 253, 250, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 253, 250, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 253, 250, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_floralWhite2,
.hover_shadow_top_floralWhite2:hover,
.active_shadow_top_floralWhite2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 197, 82, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 197, 82, .39);
    box-shadow: 0em -0.5em 1em rgba(255, 197, 82, .39);
}

.shadow_top_floralWhite2h,
.hover_shadow_top_floralWhite2h:hover,
.active_shadow_top_floralWhite2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 220, 149, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 220, 149, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 220, 149, .50);
}

.shadow_top_floralWhite2a,
.hover_shadow_top_floralWhite2a:hover,
.active_shadow_top_floralWhite2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 253, 250, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 253, 250, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 253, 250, .63);
}

.shadow_top_floralWhite2s,
.hover_shadow_top_floralWhite2s:hover,
.active_shadow_top_floralWhite2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 253, 250, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 253, 250, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 253, 250, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_floralWhite2,
.hover_shadow_bottom_floralWhite2:hover,
.active_shadow_bottom_floralWhite2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 197, 82, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 197, 82, .39);
    box-shadow: 0em 0.5em 1em rgba(255, 197, 82, .39);
}

.shadow_bottom_floralWhite2h,
.hover_shadow_bottom_floralWhite2h:hover,
.active_shadow_bottom_floralWhite2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 220, 149, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 220, 149, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 220, 149, .50);
}

.shadow_bottom_floralWhite2a,
.hover_shadow_bottom_floralWhite2a:hover,
.active_shadow_bottom_floralWhite2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 253, 250, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 253, 250, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 253, 250, .63);
}

.shadow_bottom_floralWhite2s,
.hover_shadow_bottom_floralWhite2s:hover,
.active_shadow_bottom_floralWhite2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 253, 250, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 253, 250, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 253, 250, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_floralWhite2,
.hover_shadow_top_left_floralWhite2:hover,
.active_shadow_top_left_floralWhite2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 197, 82, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 197, 82, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 197, 82, .39);
}

.shadow_top_left_floralWhite2h,
.hover_shadow_top_left_floralWhite2h:hover,
.active_shadow_top_left_floralWhite2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 220, 149, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 220, 149, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 220, 149, .50);
}

.shadow_top_left_floralWhite2a,
.hover_shadow_top_left_floralWhite2a:hover,
.active_shadow_top_left_floralWhite2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 253, 250, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 253, 250, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 253, 250, .63);
}

.shadow_top_left_floralWhite2s,
.hover_shadow_top_left_floralWhite2s:hover,
.active_shadow_top_left_floralWhite2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 253, 250, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 253, 250, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 253, 250, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_floralWhite2,
.hover_shadow_top_right_floralWhite2:hover,
.active_shadow_top_right_floralWhite2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 197, 82, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 197, 82, .39);
    box-shadow: 0.5em -0.5em 1em rgba(255, 197, 82, .39);
}

.shadow_top_right_floralWhite2h,
.hover_shadow_top_right_floralWhite2h:hover,
.active_shadow_top_right_floralWhite2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 220, 149, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 220, 149, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 220, 149, .50);
}

.shadow_top_right_floralWhite2a,
.hover_shadow_top_right_floralWhite2a:hover,
.active_shadow_top_right_floralWhite2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 253, 250, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 253, 250, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 253, 250, .63);
}

.shadow_top_right_floralWhite2s,
.hover_shadow_top_right_floralWhite2s:hover,
.active_shadow_top_right_floralWhite2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 253, 250, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 253, 250, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 253, 250, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_floralWhite2,
.hover_shadow_bottom_left_floralWhite2:hover,
.active_shadow_bottom_left_floralWhite2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 197, 82, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 197, 82, .39);
    box-shadow: -0.5em 0.5em 1em rgba(255, 197, 82, .39);
}

.shadow_bottom_left_floralWhite2h,
.hover_shadow_bottom_left_floralWhite2h:hover,
.active_shadow_bottom_left_floralWhite2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 220, 149, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 220, 149, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 220, 149, .50);
}

.shadow_bottom_left_floralWhite2a,
.hover_shadow_bottom_left_floralWhite2a:hover,
.active_shadow_bottom_left_floralWhite2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 253, 250, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 253, 250, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 253, 250, .63);
}

.shadow_bottom_left_floralWhite2s,
.hover_shadow_bottom_left_floralWhite2s:hover,
.active_shadow_bottom_left_floralWhite2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 253, 250, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 253, 250, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 253, 250, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_floralWhite2,
.hover_shadow_bottom_right_floralWhite2:hover,
.active_shadow_bottom_right_floralWhite2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 197, 82, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 197, 82, .39);
    box-shadow: 0.5em 0.5em 1em rgba(255, 197, 82, .39);
}

.shadow_bottom_right_floralWhite2h,
.hover_shadow_bottom_right_floralWhite2h:hover,
.active_shadow_bottom_right_floralWhite2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 220, 149, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 220, 149, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 220, 149, .50);
}

.shadow_bottom_right_floralWhite2a,
 .hover_shadow_bottom_right_floralWhite2a:hover,
 .active_shadow_bottom_right_floralWhite2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 253, 250, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 253, 250, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 253, 250, .63);
 }

 .shadow_bottom_right_floralWhite2s,
 .hover_shadow_bottom_right_floralWhite2s:hover,
 .active_shadow_bottom_right_floralWhite2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 253, 250, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 253, 250, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 253, 250, .78);
 }