.aquaTeal7,
.hover_aquaTeal7:hover,
.active_aquaTeal7:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(0, 117, 106, .39),
           inset 0 -0.5em 0.9em 0 #00dba8,
           inset 0 -0.5em 0em 0.65em rgb(0, 66, 61),
           inset 0 0em 0.5em 2em rgb(29, 165, 154);
    -moz-box-shadow: 0 0.63em 0.75em rgba(0, 117, 106, .39),
           inset 0 -0.5em 0.9em 0 #00dba8,
           inset 0 -0.5em 0em 0.65em rgb(0, 66, 61),
           inset 0 0em 0.5em 2em rgb(29, 165, 154);
    box-shadow: 0 0.63em 0.75em rgba(0, 117, 106, .39),
           inset 0 -0.5em 0.9em 0 #00dba8,
           inset 0 -0.5em 0em 0.65em rgb(0, 66, 61),
           inset 0 0em 0.5em 2em rgb(29, 165, 154);
}

.aquaTeal7h,
.hover_aquaTeal7h:hover,
.active_aquaTeal7h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(0, 143, 129, .55),
           inset 0 -0.5em 0.9em 0 #0fffc7,
           inset 0 -0.5em 0em 0.65em #00a89a,
           inset 0 0em 0.5em 2em #15f9e6;
    -moz-box-shadow:0 0.63em 1em rgba(0, 143, 129, .55),
           inset 0 -0.5em 0.9em 0 #0fffc7,
           inset 0 -0.5em 0em 0.65em #00a89a,
           inset 0 0em 0.5em 2em #15f9e6;
    box-shadow:0 0.63em 1em rgba(0, 143, 129, .55),
           inset 0 -0.5em 0.9em 0 #0fffc7,
           inset 0 -0.5em 0em 0.65em #00a89a,
           inset 0 0em 0.5em 2em #15f9e6;
}

.aquaTeal7a,
.hover_aquaTeal7a:hover,
.active_aquaTeal7a:active {
    /*background: #006e6e;*/

    -webkit-box-shadow:0 0.63em 1em rgba(0, 66, 60, .55),
           inset 0 -0.5em 0.9em 0 #00f5bc,
           inset 0 -0.5em 0em 0.65em #007067,
           inset 0 0em 0.5em 2em #00c2b2;
    -moz-box-shadow:0 0.63em 1em rgba(0, 66, 60, .55),
           inset 0 -0.5em 0.9em 0 #00f5bc,
           inset 0 -0.5em 0em 0.65em #007067,
           inset 0 0em 0.5em 2em #00c2b2;
    box-shadow:0 0.63em 1em rgba(0, 66, 60, .55),
           inset 0 -0.5em 0.9em 0 #00f5bc,
           inset 0 -0.5em 0em 0.65em #007067,
           inset 0 0em 0.5em 2em #00c2b2;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaTeal7,
.hover_color_aquaTeal7:hover,
.active_color_aquaTeal7:active {
    color: #c8c8c8;
}

.color_aquaTeal7h,
.hover_color_aquaTeal7h:hover,
.active_color_aquaTeal7h:active {
    color: #c8c8c8;
}

.color_aquaTeal7a,
.hover_color_aquaTeal7a:hover,
.active_color_aquaTeal7a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaTeal7,
.hover_border_aquaTeal7:hover,
.active_border_aquaTeal7:active {
    border-color: #004a4a #004a4a #004a4a #004a4a;
}

.border_aquaTeal7h,
.hover_border_aquaTeal7h:hover,
.active_border_aquaTeal7h:active {
    border-color: #004a4a #004a4a #004a4a #004a4a;
}

.border_aquaTeal7a,
.hover_border_aquaTeal7a:hover,
.active_border_aquaTeal7a:active  {
    border-color: #004a4a #004a4a #004a4a #004a4a;
}

