.background_navajoWhite2,
.hover_background_navajoWhite2:hover,
.active_background_navajoWhite2:active:hover {
    background: #ffa724;
    background-image: -moz-linear-gradient(top,  rgb(255, 196, 109) 0%, rgb(255, 167, 36) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 196, 109)), color-stop(100%, rgb(255, 167, 36)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 196, 109) 0%, rgb(255, 167, 36) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 196, 109) 0%, rgb(255, 167, 36) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 196, 109) 0%, rgb(255, 167, 36) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 196, 109) 0%, rgb(255, 167, 36) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc46d', endColorstr='#ffa724',GradientType=0 );
}

.background_navajoWhite2h,
.hover_background_navajoWhite2h:hover,
.active_background_navajoWhite2h:active:hover {
    background: #ffa724;
    background-image: -moz-linear-gradient(top,  rgb(255, 225, 182) 0%, rgb(255, 190, 94) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 225, 182)), color-stop(100%, rgb(255, 190, 94)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 225, 182) 0%, rgb(255, 190, 94) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 225, 182) 0%, rgb(255, 190, 94) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 225, 182) 0%, rgb(255, 190, 94) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 225, 182) 0%, rgb(255, 190, 94) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe1b6', endColorstr='#ffbe5e',GradientType=0 );
}

.background_navajoWhite2a,
.hover_background_navajoWhite2a:hover,
.active_background_navajoWhite2a:active:hover {
    background: #ffa724;
    background-image: -moz-linear-gradient(top,  rgb(255, 190, 94) 0%, rgb(255, 225, 182) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 190, 94)), color-stop(100%, rgb(255, 225, 182)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 190, 94) 0%, rgb(255, 225, 182) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 190, 94) 0%, rgb(255, 225, 182) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 190, 94) 0%, rgb(255, 225, 182) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 190, 94) 0%, rgb(255, 225, 182) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbe5e', endColorstr='#ffe1b6',GradientType=0 );
}

.background_navajoWhite2s,
.hover_background_navajoWhite2s:hover,
.active_background_navajoWhite2s:active:hover {
    background: #ffa724;
    background-image: -moz-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 225, 182) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(255, 225, 182)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 225, 182) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 255, 255) 0%, rgb(255, 225, 182) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(255, 225, 182) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 255, 255) 0%, rgb(255, 225, 182) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffe1b6',GradientType=0 );
}

.background_color_navajoWhite2,
.hover_background_color_navajoWhite2:hover,
.active_background_color_navajoWhite2:active:hover {
    background-color:#ffa724;
}

.background_first_color_navajoWhite2,
.hover_background_first_color_navajoWhite2:hover,
.active_background_first_color_navajoWhite2:active:hover {
    background-color:#ffc46d;
}

.background_last_color_navajoWhite2,
.hover_background_last_color_navajoWhite2:hover,
.active_background_color_last_navajoWhite2:active:hover {
   background-color:#ffa724;
}

/* ------------------------------ color settings -------------------------------*/
.color_navajoWhite2,
.hover_color_navajoWhite2:hover,
.active_color_navajoWhite2:active:hover {
    color: #282828;
}

.color_navajoWhite2h,
.hover_color_navajoWhite2h:hover,
.active_color_navajoWhite2h:active:hover {
    color: #282828;
}

.color_navajoWhite2a,
.hover_color_navajoWhite2a:hover,
.active_color_navajoWhite2a:active:hover {
    color: #ff0;
}

.color_navajoWhite2s,
.hover_color_navajoWhite2s:hover,
.active_color_navajoWhite2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_navajoWhite2,
.hover_border_navajoWhite2:hover,
.active_border_navajoWhite2:active:hover {
    border-color: #ffa724 #ffa724 #ffa724 #ffa724;
}

.border_navajoWhite2h,
.hover_border_navajoWhite2h:hover,
.active_border_navajoWhite2h:active:hover {
    border-color: #ff9b07 #ff9b07 #ff9b07 #ff9b07;
}

.border_navajoWhite2a,
.hover_border_navajoWhite2a:hover,
.active_border_navajoWhite2a:active:hover {
    border-color: #e98b00 #e98b00 #e98b00 #e98b00;
}

.border_navajoWhite2s,
.hover_border_navajoWhite2s:hover,
.active_border_navajoWhite2s:active:hover {
    border-color: #ffe1b6 #ffe1b6 #ffe1b6 #ffe1b6;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_navajoWhite2,
.hover_shadow_expand_navajoWhite2:hover,
.active_shadow_expand_navajoWhite2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 167, 36, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 167, 36, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 167, 36, .39);
}

.shadow_expand_navajoWhite2h,
.hover_shadow_expand_navajoWhite2h:hover,
.active_shadow_expand_navajoWhite2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 190, 94, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 190, 94, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 190, 94, .50);
}

.shadow_expand_navajoWhite2a,
.hover_shadow_expand_navajoWhite2a:hover,
.active_shadow_expand_navajoWhite2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 225, 182, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 225, 182, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 225, 182, .63);
}

.shadow_expand_navajoWhite2s,
.hover_shadow_expand_navajoWhite2s:hover,
.active_shadow_expand_navajoWhite2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 225, 182, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 225, 182, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 225, 182, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_navajoWhite2,
.hover_shadow_left_navajoWhite2:hover,
.active_shadow_left_navajoWhite2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 167, 36, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 167, 36, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 167, 36, .39);
}

.shadow_left_navajoWhite2h,
.hover_shadow_left_navajoWhite2h:hover,
.active_shadow_left_navajoWhite2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 190, 94, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 190, 94, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 190, 94, .50);
}

.shadow_left_navajoWhite2a,
.hover_shadow_left_navajoWhite2a:hover,
.active_shadow_left_navajoWhite2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .63);
}

.shadow_left_navajoWhite2s,
.hover_shadow_left_navajoWhite2s:hover,
.active_shadow_left_navajoWhite2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_navajoWhite2,
.hover_shadow_right_navajoWhite2:hover,
.active_shadow_right_navajoWhite2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 167, 36, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 167, 36, .39);
    box-shadow: 0.5em 0em 1em rgba(255, 167, 36, .39);
}

.shadow_right_navajoWhite2h,
.hover_shadow_right_navajoWhite2h:hover,
.active_shadow_right_navajoWhite2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 190, 94, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 190, 94, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 190, 94, .50);
}

.shadow_right_navajoWhite2a,
.hover_shadow_right_navajoWhite2a:hover,
.active_shadow_right_navajoWhite2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 225, 182, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 225, 182, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 225, 182, .63);
}

.shadow_right_navajoWhite2s,
.hover_shadow_right_navajoWhite2s:hover,
.active_shadow_right_navajoWhite2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 225, 182, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 225, 182, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 225, 182, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_navajoWhite2,
.hover_shadow_top_navajoWhite2:hover,
.active_shadow_top_navajoWhite2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 167, 36, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 167, 36, .39);
    box-shadow: 0em -0.5em 1em rgba(255, 167, 36, .39);
}

.shadow_top_navajoWhite2h,
.hover_shadow_top_navajoWhite2h:hover,
.active_shadow_top_navajoWhite2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 190, 94, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 190, 94, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 190, 94, .50);
}

.shadow_top_navajoWhite2a,
.hover_shadow_top_navajoWhite2a:hover,
.active_shadow_top_navajoWhite2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 225, 182, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 225, 182, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 225, 182, .63);
}

.shadow_top_navajoWhite2s,
.hover_shadow_top_navajoWhite2s:hover,
.active_shadow_top_navajoWhite2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 225, 182, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 225, 182, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 225, 182, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_navajoWhite2,
.hover_shadow_bottom_navajoWhite2:hover,
.active_shadow_bottom_navajoWhite2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 167, 36, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 167, 36, .39);
    box-shadow: 0em 0.5em 1em rgba(255, 167, 36, .39);
}

.shadow_bottom_navajoWhite2h,
.hover_shadow_bottom_navajoWhite2h:hover,
.active_shadow_bottom_navajoWhite2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 190, 94, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 190, 94, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 190, 94, .50);
}

.shadow_bottom_navajoWhite2a,
.hover_shadow_bottom_navajoWhite2a:hover,
.active_shadow_bottom_navajoWhite2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 225, 182, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 225, 182, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 225, 182, .63);
}

.shadow_bottom_navajoWhite2s,
.hover_shadow_bottom_navajoWhite2s:hover,
.active_shadow_bottom_navajoWhite2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 225, 182, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 225, 182, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 225, 182, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_navajoWhite2,
.hover_shadow_top_left_navajoWhite2:hover,
.active_shadow_top_left_navajoWhite2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 167, 36, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 167, 36, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 167, 36, .39);
}

.shadow_top_left_navajoWhite2h,
.hover_shadow_top_left_navajoWhite2h:hover,
.active_shadow_top_left_navajoWhite2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 190, 94, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 190, 94, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 190, 94, .50);
}

.shadow_top_left_navajoWhite2a,
.hover_shadow_top_left_navajoWhite2a:hover,
.active_shadow_top_left_navajoWhite2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .63);
}

.shadow_top_left_navajoWhite2s,
.hover_shadow_top_left_navajoWhite2s:hover,
.active_shadow_top_left_navajoWhite2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 225, 182, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_navajoWhite2,
.hover_shadow_top_right_navajoWhite2:hover,
.active_shadow_top_right_navajoWhite2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 167, 36, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 167, 36, .39);
    box-shadow: 0.5em -0.5em 1em rgba(255, 167, 36, .39);
}

.shadow_top_right_navajoWhite2h,
.hover_shadow_top_right_navajoWhite2h:hover,
.active_shadow_top_right_navajoWhite2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 190, 94, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 190, 94, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 190, 94, .50);
}

.shadow_top_right_navajoWhite2a,
.hover_shadow_top_right_navajoWhite2a:hover,
.active_shadow_top_right_navajoWhite2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 225, 182, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 225, 182, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 225, 182, .63);
}

.shadow_top_right_navajoWhite2s,
.hover_shadow_top_right_navajoWhite2s:hover,
.active_shadow_top_right_navajoWhite2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 225, 182, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 225, 182, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 225, 182, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_navajoWhite2,
.hover_shadow_bottom_left_navajoWhite2:hover,
.active_shadow_bottom_left_navajoWhite2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 167, 36, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 167, 36, .39);
    box-shadow: -0.5em 0.5em 1em rgba(255, 167, 36, .39);
}

.shadow_bottom_left_navajoWhite2h,
.hover_shadow_bottom_left_navajoWhite2h:hover,
.active_shadow_bottom_left_navajoWhite2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 190, 94, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 190, 94, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 190, 94, .50);
}

.shadow_bottom_left_navajoWhite2a,
.hover_shadow_bottom_left_navajoWhite2a:hover,
.active_shadow_bottom_left_navajoWhite2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 225, 182, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 225, 182, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 225, 182, .63);
}

.shadow_bottom_left_navajoWhite2s,
.hover_shadow_bottom_left_navajoWhite2s:hover,
.active_shadow_bottom_left_navajoWhite2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 225, 182, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 225, 182, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 225, 182, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_navajoWhite2,
.hover_shadow_bottom_right_navajoWhite2:hover,
.active_shadow_bottom_right_navajoWhite2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 167, 36, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 167, 36, .39);
    box-shadow: 0.5em 0.5em 1em rgba(255, 167, 36, .39);
}

.shadow_bottom_right_navajoWhite2h,
.hover_shadow_bottom_right_navajoWhite2h:hover,
.active_shadow_bottom_right_navajoWhite2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 190, 94, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 190, 94, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 190, 94, .50);
}

.shadow_bottom_right_navajoWhite2a,
 .hover_shadow_bottom_right_navajoWhite2a:hover,
 .active_shadow_bottom_right_navajoWhite2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 225, 182, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 225, 182, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 225, 182, .63);
 }

 .shadow_bottom_right_navajoWhite2s,
 .hover_shadow_bottom_right_navajoWhite2s:hover,
 .active_shadow_bottom_right_navajoWhite2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 225, 182, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 225, 182, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 225, 182, .78);
 }