.background_glassyMistyRose6,
.hover_background_glassyMistyRose6:hover,
.active_background_glassyMistyRose6:active:hover {
    background: #d51500;
    background-image: -moz-linear-gradient(top,  rgb(192, 19, 0) 0%, rgb(170, 17, 0) 50%, rgb(149, 15, 0) 55%, rgb(213, 21, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(192, 19, 0)), color-stop(50%, rgb(170, 17, 0)), color-stop(55%, rgb(149, 15, 0)), color-stop(100%, rgb(213, 21, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(192, 19, 0) 0%, rgb(170, 17, 0) 50%, rgb(149, 15, 0) 55%, rgb(213, 21, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(192, 19, 0) 0%, rgb(170, 17, 0) 50%, rgb(149, 15, 0) 55%, rgb(213, 21, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(192, 19, 0) 0%, rgb(170, 17, 0) 50%, rgb(149, 15, 0) 55%, rgb(213, 21, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(192, 19, 0) 0%, rgb(170, 17, 0) 50%, rgb(149, 15, 0) 55%, rgb(213, 21, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c01300', endColorstr='#d51500',GradientType=0 );
}

.background_glassyMistyRose6h,
.hover_background_glassyMistyRose6h:hover,
.active_background_glassyMistyRose6h:active:hover {
    background: #d51500;
    background-image: -moz-linear-gradient(top,  rgb(230, 23, 0) 0%, rgb(204, 20, 0) 50%, rgb(179, 18, 0) 55%, rgb(255, 26, 1) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(230, 23, 0)), color-stop(50%, rgb(204, 20, 0)), color-stop(55%, rgb(179, 18, 0)), color-stop(100%, rgb(255, 26, 1)));
    background-image: -webkit-linear-gradient(top,  rgb(230, 23, 0) 0%, rgb(204, 20, 0) 50%, rgb(179, 18, 0) 55%, rgb(255, 26, 1) 100%);
    background-image: -o-linear-gradient(top,  rgb(230, 23, 0) 0%, rgb(204, 20, 0) 50%, rgb(179, 18, 0) 55%, rgb(255, 26, 1) 100%);
    background-image: -ms-linear-gradient(top, rgb(230, 23, 0) 0%, rgb(204, 20, 0) 50%, rgb(179, 18, 0) 55%, rgb(255, 26, 1) 100%);
    background-image: linear-gradient(to bottom,  rgb(230, 23, 0) 0%, rgb(204, 20, 0) 50%, rgb(179, 18, 0) 55%, rgb(255, 26, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61700', endColorstr='#ff1a01',GradientType=0 );
}

.background_glassyMistyRose6a,
.hover_background_glassyMistyRose6a:hover,
.active_background_glassyMistyRose6a:active:hover {
    background: #d51500;
    background-image: -moz-linear-gradient(top,  rgb(255, 26, 1) 0%, rgb(179, 18, 0) 50%, rgb(204, 20, 0) 55%, rgb(230, 23, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 26, 1)), color-stop(50%, rgb(179, 18, 0)), color-stop(55%, rgb(204, 20, 0)), color-stop(100%, rgb(230, 23, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 26, 1) 0%, rgb(179, 18, 0) 50%, rgb(204, 20, 0) 55%, rgb(230, 23, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 26, 1) 0%, rgb(179, 18, 0) 50%, rgb(204, 20, 0) 55%, rgb(230, 23, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 26, 1) 0%, rgb(179, 18, 0) 50%, rgb(204, 20, 0) 55%, rgb(230, 23, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 26, 1) 0%, rgb(179, 18, 0) 50%, rgb(204, 20, 0) 55%, rgb(230, 23, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a01', endColorstr='#e61700',GradientType=0 );
}

.background_glassyMistyRose6s,
.hover_background_glassyMistyRose6s:hover,
.active_background_glassyMistyRose6s:active:hover {
    background: #d51500;
    background-image: -moz-linear-gradient(top,  rgb(255, 55, 33) 0%, rgb(255, 26, 1) 50%, rgb(224, 22, 0) 55%, rgb(255, 84, 64) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 55, 33)), color-stop(50%, rgb(255, 26, 1)), color-stop(55%, rgb(224, 22, 0)), color-stop(100%, rgb(255, 84, 64)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 55, 33) 0%, rgb(255, 26, 1) 50%, rgb(224, 22, 0) 55%, rgb(255, 84, 64) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 55, 33) 0%, rgb(255, 26, 1) 50%, rgb(224, 22, 0) 55%, rgb(255, 84, 64) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 55, 33) 0%, rgb(255, 26, 1) 50%, rgb(224, 22, 0) 55%, rgb(255, 84, 64) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 55, 33) 0%, rgb(255, 26, 1) 50%, rgb(224, 22, 0) 55%, rgb(255, 84, 64) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3721', endColorstr='#ff5440',GradientType=0 );
}

.background_color_glassyMistyRose6,
.hover_background_color_glassyMistyRose6:hover,
.active_background_color_glassyMistyRose6:active:hover {
    background-color:#d51500;
}

.background_first_color_glassyMistyRose6,
.hover_background_first_color_glassyMistyRose6:hover,
.active_background_first_color_glassyMistyRose6:active:hover {
    background-color:#c01300;
}

.background_last_color_glassyMistyRose6,
.hover_background_last_color_glassyMistyRose6:hover,
.active_background_color_last_glassyMistyRose6:active:hover {
   background-color:#d51500;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyMistyRose6,
.hover_color_glassyMistyRose6:hover,
.active_color_glassyMistyRose6:active:hover {
    color: #c8c8c8;
}

.color_glassyMistyRose6h,
.hover_color_glassyMistyRose6h:hover,
.active_color_glassyMistyRose6h:active:hover {
    color: #c8c8c8;
}

.color_glassyMistyRose6a,
.hover_color_glassyMistyRose6a:hover,
.active_color_glassyMistyRose6a:active:hover {
    color: #ff0;
}

.color_glassyMistyRose6s,
.hover_color_glassyMistyRose6s:hover,
.active_color_glassyMistyRose6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyMistyRose6,
.hover_border_glassyMistyRose6:hover,
.active_border_glassyMistyRose6:active:hover {
    border-color: #990f00 #800d00 #800d00 #990f00;
}

.border_glassyMistyRose6h,
.hover_border_glassyMistyRose6h:hover,
.active_border_glassyMistyRose6h:active:hover {
    border-color: #990f00 #800d00 #800d00 #990f00;
}

.border_glassyMistyRose6a,
.hover_border_glassyMistyRose6a:hover,
.active_border_glassyMistyRose6a:active:hover {
    border-color: #770c00 #770c00 #770c00 #770c00;
}

.border_glassyMistyRose6s,
.hover_border_glassyMistyRose6s:hover,
.active_border_glassyMistyRose6s:active:hover {
    border-color: #770c00 #770c00 #770c00 #770c00;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyMistyRose6,
.hover_shadow_expand_glassyMistyRose6:hover,
.active_shadow_expand_glassyMistyRose6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(213, 21, 0, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(213, 21, 0, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(213, 21, 0, .39);
}

.shadow_expand_glassyMistyRose6h,
.hover_shadow_expand_glassyMistyRose6h:hover,
.active_shadow_expand_glassyMistyRose6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 26, 1, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 26, 1, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 26, 1, .50);
}

.shadow_expand_glassyMistyRose6a,
.hover_shadow_expand_glassyMistyRose6a:hover,
.active_shadow_expand_glassyMistyRose6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(230, 23, 0, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(230, 23, 0, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(230, 23, 0, .63);
}

.shadow_expand_glassyMistyRose6s,
.hover_shadow_expand_glassyMistyRose6s:hover,
.active_shadow_expand_glassyMistyRose6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(230, 23, 0, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(230, 23, 0, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(230, 23, 0, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyMistyRose6,
.hover_shadow_left_glassyMistyRose6:hover,
.active_shadow_left_glassyMistyRose6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(213, 21, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(213, 21, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(213, 21, 0, .39);
}

.shadow_left_glassyMistyRose6h,
.hover_shadow_left_glassyMistyRose6h:hover,
.active_shadow_left_glassyMistyRose6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 26, 1, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 26, 1, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 26, 1, .50);
}

.shadow_left_glassyMistyRose6a,
.hover_shadow_left_glassyMistyRose6a:hover,
.active_shadow_left_glassyMistyRose6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(230, 23, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(230, 23, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(230, 23, 0, .63);
}

.shadow_left_glassyMistyRose6s,
.hover_shadow_left_glassyMistyRose6s:hover,
.active_shadow_left_glassyMistyRose6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(230, 23, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(230, 23, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(230, 23, 0, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyMistyRose6,
.hover_shadow_right_glassyMistyRose6:hover,
.active_shadow_right_glassyMistyRose6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(213, 21, 0, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(213, 21, 0, .39);
    box-shadow: 0.5em 0em 1em rgba(213, 21, 0, .39);
}

.shadow_right_glassyMistyRose6h,
.hover_shadow_right_glassyMistyRose6h:hover,
.active_shadow_right_glassyMistyRose6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 26, 1, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 26, 1, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 26, 1, .50);
}

.shadow_right_glassyMistyRose6a,
.hover_shadow_right_glassyMistyRose6a:hover,
.active_shadow_right_glassyMistyRose6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(230, 23, 0, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(230, 23, 0, .63);
    box-shadow: 0.5em 0em 1em rgba(230, 23, 0, .63);
}

.shadow_right_glassyMistyRose6s,
.hover_shadow_right_glassyMistyRose6s:hover,
.active_shadow_right_glassyMistyRose6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(230, 23, 0, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(230, 23, 0, .78);
    box-shadow: 0.5em 0em 1em rgba(230, 23, 0, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyMistyRose6,
.hover_shadow_top_glassyMistyRose6:hover,
.active_shadow_top_glassyMistyRose6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(213, 21, 0, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(213, 21, 0, .39);
    box-shadow: 0em -0.5em 1em rgba(213, 21, 0, .39);
}

.shadow_top_glassyMistyRose6h,
.hover_shadow_top_glassyMistyRose6h:hover,
.active_shadow_top_glassyMistyRose6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 26, 1, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 26, 1, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 26, 1, .50);
}

.shadow_top_glassyMistyRose6a,
.hover_shadow_top_glassyMistyRose6a:hover,
.active_shadow_top_glassyMistyRose6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(230, 23, 0, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(230, 23, 0, .63);
    box-shadow: 0em -0.5em 1em rgba(230, 23, 0, .63);
}

.shadow_top_glassyMistyRose6s,
.hover_shadow_top_glassyMistyRose6s:hover,
.active_shadow_top_glassyMistyRose6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(230, 23, 0, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(230, 23, 0, .78);
    box-shadow: 0em -0.5em 1em rgba(230, 23, 0, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyMistyRose6,
.hover_shadow_bottom_glassyMistyRose6:hover,
.active_shadow_bottom_glassyMistyRose6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(213, 21, 0, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(213, 21, 0, .39);
    box-shadow: 0em 0.5em 1em rgba(213, 21, 0, .39);
}

.shadow_bottom_glassyMistyRose6h,
.hover_shadow_bottom_glassyMistyRose6h:hover,
.active_shadow_bottom_glassyMistyRose6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 26, 1, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 26, 1, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 26, 1, .50);
}

.shadow_bottom_glassyMistyRose6a,
.hover_shadow_bottom_glassyMistyRose6a:hover,
.active_shadow_bottom_glassyMistyRose6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(230, 23, 0, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(230, 23, 0, .63);
    box-shadow: 0em 0.5em 1em rgba(230, 23, 0, .63);
}

.shadow_bottom_glassyMistyRose6s,
.hover_shadow_bottom_glassyMistyRose6s:hover,
.active_shadow_bottom_glassyMistyRose6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(230, 23, 0, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(230, 23, 0, .78);
    box-shadow: 0em 0.5em 1em rgba(230, 23, 0, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyMistyRose6,
.hover_shadow_top_left_glassyMistyRose6:hover,
.active_shadow_top_left_glassyMistyRose6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(213, 21, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(213, 21, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(213, 21, 0, .39);
}

.shadow_top_left_glassyMistyRose6h,
.hover_shadow_top_left_glassyMistyRose6h:hover,
.active_shadow_top_left_glassyMistyRose6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 26, 1, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 26, 1, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 26, 1, .50);
}

.shadow_top_left_glassyMistyRose6a,
.hover_shadow_top_left_glassyMistyRose6a:hover,
.active_shadow_top_left_glassyMistyRose6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(230, 23, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(230, 23, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(230, 23, 0, .63);
}

.shadow_top_left_glassyMistyRose6s,
.hover_shadow_top_left_glassyMistyRose6s:hover,
.active_shadow_top_left_glassyMistyRose6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(230, 23, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(230, 23, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(230, 23, 0, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyMistyRose6,
.hover_shadow_top_right_glassyMistyRose6:hover,
.active_shadow_top_right_glassyMistyRose6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(213, 21, 0, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(213, 21, 0, .39);
    box-shadow: 0.5em -0.5em 1em rgba(213, 21, 0, .39);
}

.shadow_top_right_glassyMistyRose6h,
.hover_shadow_top_right_glassyMistyRose6h:hover,
.active_shadow_top_right_glassyMistyRose6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 26, 1, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 26, 1, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 26, 1, .50);
}

.shadow_top_right_glassyMistyRose6a,
.hover_shadow_top_right_glassyMistyRose6a:hover,
.active_shadow_top_right_glassyMistyRose6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(230, 23, 0, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(230, 23, 0, .63);
    box-shadow: 0.5em -0.5em 1em rgba(230, 23, 0, .63);
}

.shadow_top_right_glassyMistyRose6s,
.hover_shadow_top_right_glassyMistyRose6s:hover,
.active_shadow_top_right_glassyMistyRose6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(230, 23, 0, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(230, 23, 0, .78);
    box-shadow: 0.5em -0.5em 1em rgba(230, 23, 0, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyMistyRose6,
.hover_shadow_bottom_left_glassyMistyRose6:hover,
.active_shadow_bottom_left_glassyMistyRose6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(213, 21, 0, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(213, 21, 0, .39);
    box-shadow: -0.5em 0.5em 1em rgba(213, 21, 0, .39);
}

.shadow_bottom_left_glassyMistyRose6h,
.hover_shadow_bottom_left_glassyMistyRose6h:hover,
.active_shadow_bottom_left_glassyMistyRose6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 26, 1, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 26, 1, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 26, 1, .50);
}

.shadow_bottom_left_glassyMistyRose6a,
.hover_shadow_bottom_left_glassyMistyRose6a:hover,
.active_shadow_bottom_left_glassyMistyRose6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(230, 23, 0, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(230, 23, 0, .63);
    box-shadow: -0.5em 0.5em 1em rgba(230, 23, 0, .63);
}

.shadow_bottom_left_glassyMistyRose6s,
.hover_shadow_bottom_left_glassyMistyRose6s:hover,
.active_shadow_bottom_left_glassyMistyRose6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(230, 23, 0, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(230, 23, 0, .78);
    box-shadow: -0.5em 0.5em 1em rgba(230, 23, 0, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyMistyRose6,
.hover_shadow_bottom_right_glassyMistyRose6:hover,
.active_shadow_bottom_right_glassyMistyRose6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(213, 21, 0, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(213, 21, 0, .39);
    box-shadow: 0.5em 0.5em 1em rgba(213, 21, 0, .39);
}

.shadow_bottom_right_glassyMistyRose6h,
.hover_shadow_bottom_right_glassyMistyRose6h:hover,
.active_shadow_bottom_right_glassyMistyRose6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 26, 1, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 26, 1, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 26, 1, .50);
}

.shadow_bottom_right_glassyMistyRose6a,
 .hover_shadow_bottom_right_glassyMistyRose6a:hover,
 .active_shadow_bottom_right_glassyMistyRose6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(230, 23, 0, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(230, 23, 0, .63);
     box-shadow: 0.5em 0.5em 1em rgba(230, 23, 0, .63);
 }

 .shadow_bottom_right_glassyMistyRose6s,
 .hover_shadow_bottom_right_glassyMistyRose6s:hover,
 .active_shadow_bottom_right_glassyMistyRose6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(230, 23, 0, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(230, 23, 0, .78);
     box-shadow: 0.5em 0.5em 1em rgba(230, 23, 0, .78);
 }