.background_glassyMagenta4,
.hover_background_glassyMagenta4:hover,
.active_background_glassyMagenta4:active:hover {
    background: #ff0dff;
    background-image: -moz-linear-gradient(top,  rgb(241, 0, 241) 0%, rgb(214, 0, 214) 50%, rgb(187, 0, 187) 55%, rgb(255, 13, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(241, 0, 241)), color-stop(50%, rgb(214, 0, 214)), color-stop(55%, rgb(187, 0, 187)), color-stop(100%, rgb(255, 13, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(241, 0, 241) 0%, rgb(214, 0, 214) 50%, rgb(187, 0, 187) 55%, rgb(255, 13, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(241, 0, 241) 0%, rgb(214, 0, 214) 50%, rgb(187, 0, 187) 55%, rgb(255, 13, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(241, 0, 241) 0%, rgb(214, 0, 214) 50%, rgb(187, 0, 187) 55%, rgb(255, 13, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(241, 0, 241) 0%, rgb(214, 0, 214) 50%, rgb(187, 0, 187) 55%, rgb(255, 13, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f100f1', endColorstr='#ff0dff',GradientType=0 );
}

.background_glassyMagenta4h,
.hover_background_glassyMagenta4h:hover,
.active_background_glassyMagenta4h:active:hover {
    background: #ff0dff;
    background-image: -moz-linear-gradient(top,  rgb(255, 34, 255) 0%, rgb(255, 2, 255) 50%, rgb(225, 0, 225) 55%, rgb(255, 66, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 34, 255)), color-stop(50%, rgb(255, 2, 255)), color-stop(55%, rgb(225, 0, 225)), color-stop(100%, rgb(255, 66, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 34, 255) 0%, rgb(255, 2, 255) 50%, rgb(225, 0, 225) 55%, rgb(255, 66, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 34, 255) 0%, rgb(255, 2, 255) 50%, rgb(225, 0, 225) 55%, rgb(255, 66, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 34, 255) 0%, rgb(255, 2, 255) 50%, rgb(225, 0, 225) 55%, rgb(255, 66, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 34, 255) 0%, rgb(255, 2, 255) 50%, rgb(225, 0, 225) 55%, rgb(255, 66, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff22ff', endColorstr='#ff42ff',GradientType=0 );
}

.background_glassyMagenta4a,
.hover_background_glassyMagenta4a:hover,
.active_background_glassyMagenta4a:active:hover {
    background: #ff0dff;
    background-image: -moz-linear-gradient(top,  rgb(255, 66, 255) 0%, rgb(225, 0, 225) 50%, rgb(255, 2, 255) 55%, rgb(255, 34, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 66, 255)), color-stop(50%, rgb(225, 0, 225)), color-stop(55%, rgb(255, 2, 255)), color-stop(100%, rgb(255, 34, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 66, 255) 0%, rgb(225, 0, 225) 50%, rgb(255, 2, 255) 55%, rgb(255, 34, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 66, 255) 0%, rgb(225, 0, 225) 50%, rgb(255, 2, 255) 55%, rgb(255, 34, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 66, 255) 0%, rgb(225, 0, 225) 50%, rgb(255, 2, 255) 55%, rgb(255, 34, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 66, 255) 0%, rgb(225, 0, 225) 50%, rgb(255, 2, 255) 55%, rgb(255, 34, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff42ff', endColorstr='#ff22ff',GradientType=0 );
}

.background_glassyMagenta4s,
.hover_background_glassyMagenta4s:hover,
.active_background_glassyMagenta4s:active:hover {
    background: #ff0dff;
    background-image: -moz-linear-gradient(top,  rgb(255, 107, 255) 0%, rgb(255, 66, 255) 50%, rgb(255, 26, 255) 55%, rgb(255, 147, 255) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 107, 255)), color-stop(50%, rgb(255, 66, 255)), color-stop(55%, rgb(255, 26, 255)), color-stop(100%, rgb(255, 147, 255)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 107, 255) 0%, rgb(255, 66, 255) 50%, rgb(255, 26, 255) 55%, rgb(255, 147, 255) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 107, 255) 0%, rgb(255, 66, 255) 50%, rgb(255, 26, 255) 55%, rgb(255, 147, 255) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 107, 255) 0%, rgb(255, 66, 255) 50%, rgb(255, 26, 255) 55%, rgb(255, 147, 255) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 107, 255) 0%, rgb(255, 66, 255) 50%, rgb(255, 26, 255) 55%, rgb(255, 147, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6bff', endColorstr='#ff93ff',GradientType=0 );
}

.background_color_glassyMagenta4,
.hover_background_color_glassyMagenta4:hover,
.active_background_color_glassyMagenta4:active:hover {
    background-color:#ff0dff;
}

.background_first_color_glassyMagenta4,
.hover_background_first_color_glassyMagenta4:hover,
.active_background_first_color_glassyMagenta4:active:hover {
    background-color:#f100f1;
}

.background_last_color_glassyMagenta4,
.hover_background_last_color_glassyMagenta4:hover,
.active_background_color_last_glassyMagenta4:active:hover {
   background-color:#ff0dff;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyMagenta4,
.hover_color_glassyMagenta4:hover,
.active_color_glassyMagenta4:active:hover {
    color: #c8c8c8;
}

.color_glassyMagenta4h,
.hover_color_glassyMagenta4h:hover,
.active_color_glassyMagenta4h:active:hover {
    color: #c8c8c8;
}

.color_glassyMagenta4a,
.hover_color_glassyMagenta4a:hover,
.active_color_glassyMagenta4a:active:hover {
    color: #ff0;
}

.color_glassyMagenta4s,
.hover_color_glassyMagenta4s:hover,
.active_color_glassyMagenta4s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyMagenta4,
.hover_border_glassyMagenta4:hover,
.active_border_glassyMagenta4:active:hover {
    border-color: #c100c1 #a100a1 #a100a1 #c100c1;
}

.border_glassyMagenta4h,
.hover_border_glassyMagenta4h:hover,
.active_border_glassyMagenta4h:active:hover {
    border-color: #c100c1 #a100a1 #a100a1 #c100c1;
}

.border_glassyMagenta4a,
.hover_border_glassyMagenta4a:hover,
.active_border_glassyMagenta4a:active:hover {
    border-color: #960096 #960096 #960096 #960096;
}

.border_glassyMagenta4s,
.hover_border_glassyMagenta4s:hover,
.active_border_glassyMagenta4s:active:hover {
    border-color: #960096 #960096 #960096 #960096;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyMagenta4,
.hover_shadow_expand_glassyMagenta4:hover,
.active_shadow_expand_glassyMagenta4:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 13, 255, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 13, 255, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 13, 255, .39);
}

.shadow_expand_glassyMagenta4h,
.hover_shadow_expand_glassyMagenta4h:hover,
.active_shadow_expand_glassyMagenta4h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 66, 255, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 66, 255, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 66, 255, .50);
}

.shadow_expand_glassyMagenta4a,
.hover_shadow_expand_glassyMagenta4a:hover,
.active_shadow_expand_glassyMagenta4a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 34, 255, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 34, 255, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 34, 255, .63);
}

.shadow_expand_glassyMagenta4s,
.hover_shadow_expand_glassyMagenta4s:hover,
.active_shadow_expand_glassyMagenta4s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(255, 34, 255, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(255, 34, 255, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(255, 34, 255, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyMagenta4,
.hover_shadow_left_glassyMagenta4:hover,
.active_shadow_left_glassyMagenta4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 13, 255, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 13, 255, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 13, 255, .39);
}

.shadow_left_glassyMagenta4h,
.hover_shadow_left_glassyMagenta4h:hover,
.active_shadow_left_glassyMagenta4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 66, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 66, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 66, 255, .50);
}

.shadow_left_glassyMagenta4a,
.hover_shadow_left_glassyMagenta4a:hover,
.active_shadow_left_glassyMagenta4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 34, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 34, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 34, 255, .63);
}

.shadow_left_glassyMagenta4s,
.hover_shadow_left_glassyMagenta4s:hover,
.active_shadow_left_glassyMagenta4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 34, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 34, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 34, 255, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyMagenta4,
.hover_shadow_right_glassyMagenta4:hover,
.active_shadow_right_glassyMagenta4:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 13, 255, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 13, 255, .39);
    box-shadow: 0.5em 0em 1em rgba(255, 13, 255, .39);
}

.shadow_right_glassyMagenta4h,
.hover_shadow_right_glassyMagenta4h:hover,
.active_shadow_right_glassyMagenta4h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 66, 255, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 66, 255, .50);
    box-shadow: 0.5em 0em 1em rgba(255, 66, 255, .50);
}

.shadow_right_glassyMagenta4a,
.hover_shadow_right_glassyMagenta4a:hover,
.active_shadow_right_glassyMagenta4a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 34, 255, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 34, 255, .63);
    box-shadow: 0.5em 0em 1em rgba(255, 34, 255, .63);
}

.shadow_right_glassyMagenta4s,
.hover_shadow_right_glassyMagenta4s:hover,
.active_shadow_right_glassyMagenta4s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(255, 34, 255, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(255, 34, 255, .78);
    box-shadow: 0.5em 0em 1em rgba(255, 34, 255, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyMagenta4,
.hover_shadow_top_glassyMagenta4:hover,
.active_shadow_top_glassyMagenta4:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 13, 255, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 13, 255, .39);
    box-shadow: 0em -0.5em 1em rgba(255, 13, 255, .39);
}

.shadow_top_glassyMagenta4h,
.hover_shadow_top_glassyMagenta4h:hover,
.active_shadow_top_glassyMagenta4h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 66, 255, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 66, 255, .50);
    box-shadow: 0em -0.5em 1em rgba(255, 66, 255, .50);
}

.shadow_top_glassyMagenta4a,
.hover_shadow_top_glassyMagenta4a:hover,
.active_shadow_top_glassyMagenta4a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 34, 255, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 34, 255, .63);
    box-shadow: 0em -0.5em 1em rgba(255, 34, 255, .63);
}

.shadow_top_glassyMagenta4s,
.hover_shadow_top_glassyMagenta4s:hover,
.active_shadow_top_glassyMagenta4s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(255, 34, 255, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(255, 34, 255, .78);
    box-shadow: 0em -0.5em 1em rgba(255, 34, 255, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyMagenta4,
.hover_shadow_bottom_glassyMagenta4:hover,
.active_shadow_bottom_glassyMagenta4:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 13, 255, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 13, 255, .39);
    box-shadow: 0em 0.5em 1em rgba(255, 13, 255, .39);
}

.shadow_bottom_glassyMagenta4h,
.hover_shadow_bottom_glassyMagenta4h:hover,
.active_shadow_bottom_glassyMagenta4h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 66, 255, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 66, 255, .50);
    box-shadow: 0em 0.5em 1em rgba(255, 66, 255, .50);
}

.shadow_bottom_glassyMagenta4a,
.hover_shadow_bottom_glassyMagenta4a:hover,
.active_shadow_bottom_glassyMagenta4a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 34, 255, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 34, 255, .63);
    box-shadow: 0em 0.5em 1em rgba(255, 34, 255, .63);
}

.shadow_bottom_glassyMagenta4s,
.hover_shadow_bottom_glassyMagenta4s:hover,
.active_shadow_bottom_glassyMagenta4s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(255, 34, 255, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(255, 34, 255, .78);
    box-shadow: 0em 0.5em 1em rgba(255, 34, 255, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyMagenta4,
.hover_shadow_top_left_glassyMagenta4:hover,
.active_shadow_top_left_glassyMagenta4:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 13, 255, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 13, 255, .39);
    box-shadow: -0.5em -0.5em 1em rgba(255, 13, 255, .39);
}

.shadow_top_left_glassyMagenta4h,
.hover_shadow_top_left_glassyMagenta4h:hover,
.active_shadow_top_left_glassyMagenta4h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 66, 255, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 66, 255, .50);
    box-shadow: -0.5em -0.5em 1em rgba(255, 66, 255, .50);
}

.shadow_top_left_glassyMagenta4a,
.hover_shadow_top_left_glassyMagenta4a:hover,
.active_shadow_top_left_glassyMagenta4a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 34, 255, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 34, 255, .63);
    box-shadow: -0.5em -0.5em 1em rgba(255, 34, 255, .63);
}

.shadow_top_left_glassyMagenta4s,
.hover_shadow_top_left_glassyMagenta4s:hover,
.active_shadow_top_left_glassyMagenta4s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(255, 34, 255, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(255, 34, 255, .78);
    box-shadow: -0.5em -0.5em 1em rgba(255, 34, 255, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyMagenta4,
.hover_shadow_top_right_glassyMagenta4:hover,
.active_shadow_top_right_glassyMagenta4:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 13, 255, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 13, 255, .39);
    box-shadow: 0.5em -0.5em 1em rgba(255, 13, 255, .39);
}

.shadow_top_right_glassyMagenta4h,
.hover_shadow_top_right_glassyMagenta4h:hover,
.active_shadow_top_right_glassyMagenta4h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 66, 255, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 66, 255, .50);
    box-shadow: 0.5em -0.5em 1em rgba(255, 66, 255, .50);
}

.shadow_top_right_glassyMagenta4a,
.hover_shadow_top_right_glassyMagenta4a:hover,
.active_shadow_top_right_glassyMagenta4a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 34, 255, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 34, 255, .63);
    box-shadow: 0.5em -0.5em 1em rgba(255, 34, 255, .63);
}

.shadow_top_right_glassyMagenta4s,
.hover_shadow_top_right_glassyMagenta4s:hover,
.active_shadow_top_right_glassyMagenta4s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(255, 34, 255, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(255, 34, 255, .78);
    box-shadow: 0.5em -0.5em 1em rgba(255, 34, 255, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyMagenta4,
.hover_shadow_bottom_left_glassyMagenta4:hover,
.active_shadow_bottom_left_glassyMagenta4:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 13, 255, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 13, 255, .39);
    box-shadow: -0.5em 0.5em 1em rgba(255, 13, 255, .39);
}

.shadow_bottom_left_glassyMagenta4h,
.hover_shadow_bottom_left_glassyMagenta4h:hover,
.active_shadow_bottom_left_glassyMagenta4h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 66, 255, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 66, 255, .50);
    box-shadow: -0.5em 0.5em 1em rgba(255, 66, 255, .50);
}

.shadow_bottom_left_glassyMagenta4a,
.hover_shadow_bottom_left_glassyMagenta4a:hover,
.active_shadow_bottom_left_glassyMagenta4a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 34, 255, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 34, 255, .63);
    box-shadow: -0.5em 0.5em 1em rgba(255, 34, 255, .63);
}

.shadow_bottom_left_glassyMagenta4s,
.hover_shadow_bottom_left_glassyMagenta4s:hover,
.active_shadow_bottom_left_glassyMagenta4s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(255, 34, 255, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(255, 34, 255, .78);
    box-shadow: -0.5em 0.5em 1em rgba(255, 34, 255, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyMagenta4,
.hover_shadow_bottom_right_glassyMagenta4:hover,
.active_shadow_bottom_right_glassyMagenta4:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 13, 255, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 13, 255, .39);
    box-shadow: 0.5em 0.5em 1em rgba(255, 13, 255, .39);
}

.shadow_bottom_right_glassyMagenta4h,
.hover_shadow_bottom_right_glassyMagenta4h:hover,
.active_shadow_bottom_right_glassyMagenta4h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 66, 255, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 66, 255, .50);
    box-shadow: 0.5em 0.5em 1em rgba(255, 66, 255, .50);
}

.shadow_bottom_right_glassyMagenta4a,
 .hover_shadow_bottom_right_glassyMagenta4a:hover,
 .active_shadow_bottom_right_glassyMagenta4a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 34, 255, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 34, 255, .63);
     box-shadow: 0.5em 0.5em 1em rgba(255, 34, 255, .63);
 }

 .shadow_bottom_right_glassyMagenta4s,
 .hover_shadow_bottom_right_glassyMagenta4s:hover,
 .active_shadow_bottom_right_glassyMagenta4s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(255, 34, 255, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(255, 34, 255, .78);
     box-shadow: 0.5em 0.5em 1em rgba(255, 34, 255, .78);
 }