.background_dodgerBlue6,
.hover_background_dodgerBlue6:hover,
.active_background_dodgerBlue6:active:hover {
    background: #004c95;
    background-image: -moz-linear-gradient(top,  rgb(0, 95, 187) 0%, rgb(0, 76, 149) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 95, 187)), color-stop(100%, rgb(0, 76, 149)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 95, 187) 0%, rgb(0, 76, 149) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 95, 187) 0%, rgb(0, 76, 149) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 95, 187) 0%, rgb(0, 76, 149) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 95, 187) 0%, rgb(0, 76, 149) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005fbb', endColorstr='#004c95',GradientType=0 );
}

.background_dodgerBlue6h,
.hover_background_dodgerBlue6h:hover,
.active_background_dodgerBlue6h:active:hover {
    background: #004c95;
    background-image: -moz-linear-gradient(top,  rgb(0, 114, 224) 0%, rgb(0, 91, 179) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 114, 224)), color-stop(100%, rgb(0, 91, 179)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 114, 224) 0%, rgb(0, 91, 179) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 114, 224) 0%, rgb(0, 91, 179) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 114, 224) 0%, rgb(0, 91, 179) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 114, 224) 0%, rgb(0, 91, 179) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072e0', endColorstr='#005bb3',GradientType=0 );
}

.background_dodgerBlue6a,
.hover_background_dodgerBlue6a:hover,
.active_background_dodgerBlue6a:active:hover {
    background: #004c95;
    background-image: -moz-linear-gradient(top,  rgb(0, 91, 179) 0%, rgb(0, 114, 224) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 91, 179)), color-stop(100%, rgb(0, 114, 224)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 91, 179) 0%, rgb(0, 114, 224) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 91, 179) 0%, rgb(0, 114, 224) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 91, 179) 0%, rgb(0, 114, 224) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 91, 179) 0%, rgb(0, 114, 224) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005bb3', endColorstr='#0072e0',GradientType=0 );
}

.background_dodgerBlue6s,
.hover_background_dodgerBlue6s:hover,
.active_background_dodgerBlue6s:active:hover {
    background: #004c95;
    background-image: -moz-linear-gradient(top,  rgb(25, 142, 255) 0%, rgb(0, 114, 224) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(25, 142, 255)), color-stop(100%, rgb(0, 114, 224)));
    background-image: -webkit-linear-gradient(top,  rgb(25, 142, 255) 0%, rgb(0, 114, 224) 100%);
    background-image: -o-linear-gradient(top,  rgb(25, 142, 255) 0%, rgb(0, 114, 224) 100%);
    background-image: -ms-linear-gradient(top, rgb(25, 142, 255) 0%, rgb(0, 114, 224) 100%);
    background-image: linear-gradient(to bottom,  rgb(25, 142, 255) 0%, rgb(0, 114, 224) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#198eff', endColorstr='#0072e0',GradientType=0 );
}

.background_color_dodgerBlue6,
.hover_background_color_dodgerBlue6:hover,
.active_background_color_dodgerBlue6:active:hover {
    background-color:#004c95;
}

.background_first_color_dodgerBlue6,
.hover_background_first_color_dodgerBlue6:hover,
.active_background_first_color_dodgerBlue6:active:hover {
    background-color:#005fbb;
}

.background_last_color_dodgerBlue6,
.hover_background_last_color_dodgerBlue6:hover,
.active_background_color_last_dodgerBlue6:active:hover {
   background-color:#004c95;
}

/* ------------------------------ color settings -------------------------------*/
.color_dodgerBlue6,
.hover_color_dodgerBlue6:hover,
.active_color_dodgerBlue6:active:hover {
    color: #c8c8c8;
}

.color_dodgerBlue6h,
.hover_color_dodgerBlue6h:hover,
.active_color_dodgerBlue6h:active:hover {
    color: #c8c8c8;
}

.color_dodgerBlue6a,
.hover_color_dodgerBlue6a:hover,
.active_color_dodgerBlue6a:active:hover {
    color: #ff0;
}

.color_dodgerBlue6s,
.hover_color_dodgerBlue6s:hover,
.active_color_dodgerBlue6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_dodgerBlue6,
.hover_border_dodgerBlue6:hover,
.active_border_dodgerBlue6:active:hover {
    border-color: #004c95 #004c95 #004c95 #004c95;
}

.border_dodgerBlue6h,
.hover_border_dodgerBlue6h:hover,
.active_border_dodgerBlue6h:active:hover {
    border-color: #004487 #004487 #004487 #004487;
}

.border_dodgerBlue6a,
.hover_border_dodgerBlue6a:hover,
.active_border_dodgerBlue6a:active:hover {
    border-color: #003d78 #003d78 #003d78 #003d78;
}

.border_dodgerBlue6s,
.hover_border_dodgerBlue6s:hover,
.active_border_dodgerBlue6s:active:hover {
    border-color: #0072e0 #0072e0 #0072e0 #0072e0;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_dodgerBlue6,
.hover_shadow_expand_dodgerBlue6:hover,
.active_shadow_expand_dodgerBlue6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 76, 149, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 76, 149, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 76, 149, .39);
}

.shadow_expand_dodgerBlue6h,
.hover_shadow_expand_dodgerBlue6h:hover,
.active_shadow_expand_dodgerBlue6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 91, 179, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 91, 179, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 91, 179, .50);
}

.shadow_expand_dodgerBlue6a,
.hover_shadow_expand_dodgerBlue6a:hover,
.active_shadow_expand_dodgerBlue6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 114, 224, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 114, 224, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 114, 224, .63);
}

.shadow_expand_dodgerBlue6s,
.hover_shadow_expand_dodgerBlue6s:hover,
.active_shadow_expand_dodgerBlue6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 114, 224, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 114, 224, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 114, 224, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_dodgerBlue6,
.hover_shadow_left_dodgerBlue6:hover,
.active_shadow_left_dodgerBlue6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 76, 149, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 76, 149, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 76, 149, .39);
}

.shadow_left_dodgerBlue6h,
.hover_shadow_left_dodgerBlue6h:hover,
.active_shadow_left_dodgerBlue6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 91, 179, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 91, 179, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 91, 179, .50);
}

.shadow_left_dodgerBlue6a,
.hover_shadow_left_dodgerBlue6a:hover,
.active_shadow_left_dodgerBlue6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 114, 224, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 114, 224, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 114, 224, .63);
}

.shadow_left_dodgerBlue6s,
.hover_shadow_left_dodgerBlue6s:hover,
.active_shadow_left_dodgerBlue6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 114, 224, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 114, 224, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 114, 224, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_dodgerBlue6,
.hover_shadow_right_dodgerBlue6:hover,
.active_shadow_right_dodgerBlue6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 76, 149, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 76, 149, .39);
    box-shadow: 0.5em 0em 1em rgba(0, 76, 149, .39);
}

.shadow_right_dodgerBlue6h,
.hover_shadow_right_dodgerBlue6h:hover,
.active_shadow_right_dodgerBlue6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 91, 179, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 91, 179, .50);
    box-shadow: 0.5em 0em 1em rgba(0, 91, 179, .50);
}

.shadow_right_dodgerBlue6a,
.hover_shadow_right_dodgerBlue6a:hover,
.active_shadow_right_dodgerBlue6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 114, 224, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 114, 224, .63);
    box-shadow: 0.5em 0em 1em rgba(0, 114, 224, .63);
}

.shadow_right_dodgerBlue6s,
.hover_shadow_right_dodgerBlue6s:hover,
.active_shadow_right_dodgerBlue6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 114, 224, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 114, 224, .78);
    box-shadow: 0.5em 0em 1em rgba(0, 114, 224, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_dodgerBlue6,
.hover_shadow_top_dodgerBlue6:hover,
.active_shadow_top_dodgerBlue6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 76, 149, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 76, 149, .39);
    box-shadow: 0em -0.5em 1em rgba(0, 76, 149, .39);
}

.shadow_top_dodgerBlue6h,
.hover_shadow_top_dodgerBlue6h:hover,
.active_shadow_top_dodgerBlue6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 91, 179, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 91, 179, .50);
    box-shadow: 0em -0.5em 1em rgba(0, 91, 179, .50);
}

.shadow_top_dodgerBlue6a,
.hover_shadow_top_dodgerBlue6a:hover,
.active_shadow_top_dodgerBlue6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 114, 224, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 114, 224, .63);
    box-shadow: 0em -0.5em 1em rgba(0, 114, 224, .63);
}

.shadow_top_dodgerBlue6s,
.hover_shadow_top_dodgerBlue6s:hover,
.active_shadow_top_dodgerBlue6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 114, 224, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 114, 224, .78);
    box-shadow: 0em -0.5em 1em rgba(0, 114, 224, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_dodgerBlue6,
.hover_shadow_bottom_dodgerBlue6:hover,
.active_shadow_bottom_dodgerBlue6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 76, 149, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 76, 149, .39);
    box-shadow: 0em 0.5em 1em rgba(0, 76, 149, .39);
}

.shadow_bottom_dodgerBlue6h,
.hover_shadow_bottom_dodgerBlue6h:hover,
.active_shadow_bottom_dodgerBlue6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 91, 179, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 91, 179, .50);
    box-shadow: 0em 0.5em 1em rgba(0, 91, 179, .50);
}

.shadow_bottom_dodgerBlue6a,
.hover_shadow_bottom_dodgerBlue6a:hover,
.active_shadow_bottom_dodgerBlue6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 114, 224, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 114, 224, .63);
    box-shadow: 0em 0.5em 1em rgba(0, 114, 224, .63);
}

.shadow_bottom_dodgerBlue6s,
.hover_shadow_bottom_dodgerBlue6s:hover,
.active_shadow_bottom_dodgerBlue6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 114, 224, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 114, 224, .78);
    box-shadow: 0em 0.5em 1em rgba(0, 114, 224, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_dodgerBlue6,
.hover_shadow_top_left_dodgerBlue6:hover,
.active_shadow_top_left_dodgerBlue6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 76, 149, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 76, 149, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 76, 149, .39);
}

.shadow_top_left_dodgerBlue6h,
.hover_shadow_top_left_dodgerBlue6h:hover,
.active_shadow_top_left_dodgerBlue6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 91, 179, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 91, 179, .50);
    box-shadow: -0.5em -0.5em 1em rgba(0, 91, 179, .50);
}

.shadow_top_left_dodgerBlue6a,
.hover_shadow_top_left_dodgerBlue6a:hover,
.active_shadow_top_left_dodgerBlue6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 114, 224, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 114, 224, .63);
    box-shadow: -0.5em -0.5em 1em rgba(0, 114, 224, .63);
}

.shadow_top_left_dodgerBlue6s,
.hover_shadow_top_left_dodgerBlue6s:hover,
.active_shadow_top_left_dodgerBlue6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 114, 224, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 114, 224, .78);
    box-shadow: -0.5em -0.5em 1em rgba(0, 114, 224, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_dodgerBlue6,
.hover_shadow_top_right_dodgerBlue6:hover,
.active_shadow_top_right_dodgerBlue6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 76, 149, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 76, 149, .39);
    box-shadow: 0.5em -0.5em 1em rgba(0, 76, 149, .39);
}

.shadow_top_right_dodgerBlue6h,
.hover_shadow_top_right_dodgerBlue6h:hover,
.active_shadow_top_right_dodgerBlue6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 91, 179, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 91, 179, .50);
    box-shadow: 0.5em -0.5em 1em rgba(0, 91, 179, .50);
}

.shadow_top_right_dodgerBlue6a,
.hover_shadow_top_right_dodgerBlue6a:hover,
.active_shadow_top_right_dodgerBlue6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 114, 224, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 114, 224, .63);
    box-shadow: 0.5em -0.5em 1em rgba(0, 114, 224, .63);
}

.shadow_top_right_dodgerBlue6s,
.hover_shadow_top_right_dodgerBlue6s:hover,
.active_shadow_top_right_dodgerBlue6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 114, 224, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 114, 224, .78);
    box-shadow: 0.5em -0.5em 1em rgba(0, 114, 224, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_dodgerBlue6,
.hover_shadow_bottom_left_dodgerBlue6:hover,
.active_shadow_bottom_left_dodgerBlue6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 76, 149, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 76, 149, .39);
    box-shadow: -0.5em 0.5em 1em rgba(0, 76, 149, .39);
}

.shadow_bottom_left_dodgerBlue6h,
.hover_shadow_bottom_left_dodgerBlue6h:hover,
.active_shadow_bottom_left_dodgerBlue6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 91, 179, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 91, 179, .50);
    box-shadow: -0.5em 0.5em 1em rgba(0, 91, 179, .50);
}

.shadow_bottom_left_dodgerBlue6a,
.hover_shadow_bottom_left_dodgerBlue6a:hover,
.active_shadow_bottom_left_dodgerBlue6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 114, 224, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 114, 224, .63);
    box-shadow: -0.5em 0.5em 1em rgba(0, 114, 224, .63);
}

.shadow_bottom_left_dodgerBlue6s,
.hover_shadow_bottom_left_dodgerBlue6s:hover,
.active_shadow_bottom_left_dodgerBlue6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 114, 224, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 114, 224, .78);
    box-shadow: -0.5em 0.5em 1em rgba(0, 114, 224, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_dodgerBlue6,
.hover_shadow_bottom_right_dodgerBlue6:hover,
.active_shadow_bottom_right_dodgerBlue6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 76, 149, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 76, 149, .39);
    box-shadow: 0.5em 0.5em 1em rgba(0, 76, 149, .39);
}

.shadow_bottom_right_dodgerBlue6h,
.hover_shadow_bottom_right_dodgerBlue6h:hover,
.active_shadow_bottom_right_dodgerBlue6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 91, 179, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 91, 179, .50);
    box-shadow: 0.5em 0.5em 1em rgba(0, 91, 179, .50);
}

.shadow_bottom_right_dodgerBlue6a,
 .hover_shadow_bottom_right_dodgerBlue6a:hover,
 .active_shadow_bottom_right_dodgerBlue6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 114, 224, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 114, 224, .63);
     box-shadow: 0.5em 0.5em 1em rgba(0, 114, 224, .63);
 }

 .shadow_bottom_right_dodgerBlue6s,
 .hover_shadow_bottom_right_dodgerBlue6s:hover,
 .active_shadow_bottom_right_dodgerBlue6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 114, 224, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 114, 224, .78);
     box-shadow: 0.5em 0.5em 1em rgba(0, 114, 224, .78);
 }