.background_glassySpringGreen1,
.hover_background_glassySpringGreen1:hover,
.active_background_glassySpringGreen1:active:hover {
    background: #00ff7f;
    background-image: -moz-linear-gradient(top,  rgb(0, 230, 114) 0%, rgb(0, 204, 102) 50%, rgb(0, 179, 89) 55%, rgb(0, 255, 127) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0, 230, 114)), color-stop(50%, rgb(0, 204, 102)), color-stop(55%, rgb(0, 179, 89)), color-stop(100%, rgb(0, 255, 127)));
    background-image: -webkit-linear-gradient(top,  rgb(0, 230, 114) 0%, rgb(0, 204, 102) 50%, rgb(0, 179, 89) 55%, rgb(0, 255, 127) 100%);
    background-image: -o-linear-gradient(top,  rgb(0, 230, 114) 0%, rgb(0, 204, 102) 50%, rgb(0, 179, 89) 55%, rgb(0, 255, 127) 100%);
    background-image: -ms-linear-gradient(top, rgb(0, 230, 114) 0%, rgb(0, 204, 102) 50%, rgb(0, 179, 89) 55%, rgb(0, 255, 127) 100%);
    background-image: linear-gradient(to bottom,  rgb(0, 230, 114) 0%, rgb(0, 204, 102) 50%, rgb(0, 179, 89) 55%, rgb(0, 255, 127) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e672', endColorstr='#00ff7f',GradientType=0 );
}

.background_glassySpringGreen1h,
.hover_background_glassySpringGreen1h:hover,
.active_background_glassySpringGreen1h:active:hover {
    background: #00ff7f;
    background-image: -moz-linear-gradient(top,  rgb(20, 255, 137) 0%, rgb(0, 245, 122) 50%, rgb(0, 214, 107) 55%, rgb(51, 255, 153) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(20, 255, 137)), color-stop(50%, rgb(0, 245, 122)), color-stop(55%, rgb(0, 214, 107)), color-stop(100%, rgb(51, 255, 153)));
    background-image: -webkit-linear-gradient(top,  rgb(20, 255, 137) 0%, rgb(0, 245, 122) 50%, rgb(0, 214, 107) 55%, rgb(51, 255, 153) 100%);
    background-image: -o-linear-gradient(top,  rgb(20, 255, 137) 0%, rgb(0, 245, 122) 50%, rgb(0, 214, 107) 55%, rgb(51, 255, 153) 100%);
    background-image: -ms-linear-gradient(top, rgb(20, 255, 137) 0%, rgb(0, 245, 122) 50%, rgb(0, 214, 107) 55%, rgb(51, 255, 153) 100%);
    background-image: linear-gradient(to bottom,  rgb(20, 255, 137) 0%, rgb(0, 245, 122) 50%, rgb(0, 214, 107) 55%, rgb(51, 255, 153) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14ff89', endColorstr='#33ff99',GradientType=0 );
}

.background_glassySpringGreen1a,
.hover_background_glassySpringGreen1a:hover,
.active_background_glassySpringGreen1a:active:hover {
    background: #00ff7f;
    background-image: -moz-linear-gradient(top,  rgb(51, 255, 153) 0%, rgb(0, 214, 107) 50%, rgb(0, 245, 122) 55%, rgb(20, 255, 137) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(51, 255, 153)), color-stop(50%, rgb(0, 214, 107)), color-stop(55%, rgb(0, 245, 122)), color-stop(100%, rgb(20, 255, 137)));
    background-image: -webkit-linear-gradient(top,  rgb(51, 255, 153) 0%, rgb(0, 214, 107) 50%, rgb(0, 245, 122) 55%, rgb(20, 255, 137) 100%);
    background-image: -o-linear-gradient(top,  rgb(51, 255, 153) 0%, rgb(0, 214, 107) 50%, rgb(0, 245, 122) 55%, rgb(20, 255, 137) 100%);
    background-image: -ms-linear-gradient(top, rgb(51, 255, 153) 0%, rgb(0, 214, 107) 50%, rgb(0, 245, 122) 55%, rgb(20, 255, 137) 100%);
    background-image: linear-gradient(to bottom,  rgb(51, 255, 153) 0%, rgb(0, 214, 107) 50%, rgb(0, 245, 122) 55%, rgb(20, 255, 137) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ff99', endColorstr='#14ff89',GradientType=0 );
}

.background_glassySpringGreen1s,
.hover_background_glassySpringGreen1s:hover,
.active_background_glassySpringGreen1s:active:hover {
    background: #00ff7f;
    background-image: -moz-linear-gradient(top,  rgb(89, 255, 172) 0%, rgb(51, 255, 153) 50%, rgb(13, 255, 133) 55%, rgb(128, 255, 191) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(89, 255, 172)), color-stop(50%, rgb(51, 255, 153)), color-stop(55%, rgb(13, 255, 133)), color-stop(100%, rgb(128, 255, 191)));
    background-image: -webkit-linear-gradient(top,  rgb(89, 255, 172) 0%, rgb(51, 255, 153) 50%, rgb(13, 255, 133) 55%, rgb(128, 255, 191) 100%);
    background-image: -o-linear-gradient(top,  rgb(89, 255, 172) 0%, rgb(51, 255, 153) 50%, rgb(13, 255, 133) 55%, rgb(128, 255, 191) 100%);
    background-image: -ms-linear-gradient(top, rgb(89, 255, 172) 0%, rgb(51, 255, 153) 50%, rgb(13, 255, 133) 55%, rgb(128, 255, 191) 100%);
    background-image: linear-gradient(to bottom,  rgb(89, 255, 172) 0%, rgb(51, 255, 153) 50%, rgb(13, 255, 133) 55%, rgb(128, 255, 191) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffac', endColorstr='#80ffbf',GradientType=0 );
}

.background_color_glassySpringGreen1,
.hover_background_color_glassySpringGreen1:hover,
.active_background_color_glassySpringGreen1:active:hover {
    background-color:#00ff7f;
}

.background_first_color_glassySpringGreen1,
.hover_background_first_color_glassySpringGreen1:hover,
.active_background_first_color_glassySpringGreen1:active:hover {
    background-color:#00e672;
}

.background_last_color_glassySpringGreen1,
.hover_background_last_color_glassySpringGreen1:hover,
.active_background_color_last_glassySpringGreen1:active:hover {
   background-color:#00ff7f;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassySpringGreen1,
.hover_color_glassySpringGreen1:hover,
.active_color_glassySpringGreen1:active:hover {
    color: #282828;
}

.color_glassySpringGreen1h,
.hover_color_glassySpringGreen1h:hover,
.active_color_glassySpringGreen1h:active:hover {
    color: #282828;
}

.color_glassySpringGreen1a,
.hover_color_glassySpringGreen1a:hover,
.active_color_glassySpringGreen1a:active:hover {
    color: #ff0;
}

.color_glassySpringGreen1s,
.hover_color_glassySpringGreen1s:hover,
.active_color_glassySpringGreen1s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassySpringGreen1,
.hover_border_glassySpringGreen1:hover,
.active_border_glassySpringGreen1:active:hover {
    border-color: #00b85b #00994c #00994c #00b85b;
}

.border_glassySpringGreen1h,
.hover_border_glassySpringGreen1h:hover,
.active_border_glassySpringGreen1h:active:hover {
    border-color: #00b85b #00994c #00994c #00b85b;
}

.border_glassySpringGreen1a,
.hover_border_glassySpringGreen1a:hover,
.active_border_glassySpringGreen1a:active:hover {
    border-color: #008f47 #008f47 #008f47 #008f47;
}

.border_glassySpringGreen1s,
.hover_border_glassySpringGreen1s:hover,
.active_border_glassySpringGreen1s:active:hover {
    border-color: #008f47 #008f47 #008f47 #008f47;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassySpringGreen1,
.hover_shadow_expand_glassySpringGreen1:hover,
.active_shadow_expand_glassySpringGreen1:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(0, 255, 127, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(0, 255, 127, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(0, 255, 127, .39);
}

.shadow_expand_glassySpringGreen1h,
.hover_shadow_expand_glassySpringGreen1h:hover,
.active_shadow_expand_glassySpringGreen1h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(51, 255, 153, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(51, 255, 153, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(51, 255, 153, .50);
}

.shadow_expand_glassySpringGreen1a,
.hover_shadow_expand_glassySpringGreen1a:hover,
.active_shadow_expand_glassySpringGreen1a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(20, 255, 137, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(20, 255, 137, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(20, 255, 137, .63);
}

.shadow_expand_glassySpringGreen1s,
.hover_shadow_expand_glassySpringGreen1s:hover,
.active_shadow_expand_glassySpringGreen1s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(20, 255, 137, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(20, 255, 137, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(20, 255, 137, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassySpringGreen1,
.hover_shadow_left_glassySpringGreen1:hover,
.active_shadow_left_glassySpringGreen1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 255, 127, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 255, 127, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 255, 127, .39);
}

.shadow_left_glassySpringGreen1h,
.hover_shadow_left_glassySpringGreen1h:hover,
.active_shadow_left_glassySpringGreen1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(51, 255, 153, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(51, 255, 153, .50);
    box-shadow: -0.5em -0.5em 1em rgba(51, 255, 153, .50);
}

.shadow_left_glassySpringGreen1a,
.hover_shadow_left_glassySpringGreen1a:hover,
.active_shadow_left_glassySpringGreen1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(20, 255, 137, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(20, 255, 137, .63);
    box-shadow: -0.5em -0.5em 1em rgba(20, 255, 137, .63);
}

.shadow_left_glassySpringGreen1s,
.hover_shadow_left_glassySpringGreen1s:hover,
.active_shadow_left_glassySpringGreen1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(20, 255, 137, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(20, 255, 137, .78);
    box-shadow: -0.5em -0.5em 1em rgba(20, 255, 137, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassySpringGreen1,
.hover_shadow_right_glassySpringGreen1:hover,
.active_shadow_right_glassySpringGreen1:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(0, 255, 127, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(0, 255, 127, .39);
    box-shadow: 0.5em 0em 1em rgba(0, 255, 127, .39);
}

.shadow_right_glassySpringGreen1h,
.hover_shadow_right_glassySpringGreen1h:hover,
.active_shadow_right_glassySpringGreen1h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(51, 255, 153, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(51, 255, 153, .50);
    box-shadow: 0.5em 0em 1em rgba(51, 255, 153, .50);
}

.shadow_right_glassySpringGreen1a,
.hover_shadow_right_glassySpringGreen1a:hover,
.active_shadow_right_glassySpringGreen1a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(20, 255, 137, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(20, 255, 137, .63);
    box-shadow: 0.5em 0em 1em rgba(20, 255, 137, .63);
}

.shadow_right_glassySpringGreen1s,
.hover_shadow_right_glassySpringGreen1s:hover,
.active_shadow_right_glassySpringGreen1s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(20, 255, 137, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(20, 255, 137, .78);
    box-shadow: 0.5em 0em 1em rgba(20, 255, 137, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassySpringGreen1,
.hover_shadow_top_glassySpringGreen1:hover,
.active_shadow_top_glassySpringGreen1:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(0, 255, 127, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(0, 255, 127, .39);
    box-shadow: 0em -0.5em 1em rgba(0, 255, 127, .39);
}

.shadow_top_glassySpringGreen1h,
.hover_shadow_top_glassySpringGreen1h:hover,
.active_shadow_top_glassySpringGreen1h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(51, 255, 153, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(51, 255, 153, .50);
    box-shadow: 0em -0.5em 1em rgba(51, 255, 153, .50);
}

.shadow_top_glassySpringGreen1a,
.hover_shadow_top_glassySpringGreen1a:hover,
.active_shadow_top_glassySpringGreen1a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(20, 255, 137, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(20, 255, 137, .63);
    box-shadow: 0em -0.5em 1em rgba(20, 255, 137, .63);
}

.shadow_top_glassySpringGreen1s,
.hover_shadow_top_glassySpringGreen1s:hover,
.active_shadow_top_glassySpringGreen1s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(20, 255, 137, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(20, 255, 137, .78);
    box-shadow: 0em -0.5em 1em rgba(20, 255, 137, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassySpringGreen1,
.hover_shadow_bottom_glassySpringGreen1:hover,
.active_shadow_bottom_glassySpringGreen1:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(0, 255, 127, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(0, 255, 127, .39);
    box-shadow: 0em 0.5em 1em rgba(0, 255, 127, .39);
}

.shadow_bottom_glassySpringGreen1h,
.hover_shadow_bottom_glassySpringGreen1h:hover,
.active_shadow_bottom_glassySpringGreen1h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(51, 255, 153, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(51, 255, 153, .50);
    box-shadow: 0em 0.5em 1em rgba(51, 255, 153, .50);
}

.shadow_bottom_glassySpringGreen1a,
.hover_shadow_bottom_glassySpringGreen1a:hover,
.active_shadow_bottom_glassySpringGreen1a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(20, 255, 137, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(20, 255, 137, .63);
    box-shadow: 0em 0.5em 1em rgba(20, 255, 137, .63);
}

.shadow_bottom_glassySpringGreen1s,
.hover_shadow_bottom_glassySpringGreen1s:hover,
.active_shadow_bottom_glassySpringGreen1s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(20, 255, 137, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(20, 255, 137, .78);
    box-shadow: 0em 0.5em 1em rgba(20, 255, 137, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassySpringGreen1,
.hover_shadow_top_left_glassySpringGreen1:hover,
.active_shadow_top_left_glassySpringGreen1:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(0, 255, 127, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(0, 255, 127, .39);
    box-shadow: -0.5em -0.5em 1em rgba(0, 255, 127, .39);
}

.shadow_top_left_glassySpringGreen1h,
.hover_shadow_top_left_glassySpringGreen1h:hover,
.active_shadow_top_left_glassySpringGreen1h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(51, 255, 153, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(51, 255, 153, .50);
    box-shadow: -0.5em -0.5em 1em rgba(51, 255, 153, .50);
}

.shadow_top_left_glassySpringGreen1a,
.hover_shadow_top_left_glassySpringGreen1a:hover,
.active_shadow_top_left_glassySpringGreen1a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(20, 255, 137, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(20, 255, 137, .63);
    box-shadow: -0.5em -0.5em 1em rgba(20, 255, 137, .63);
}

.shadow_top_left_glassySpringGreen1s,
.hover_shadow_top_left_glassySpringGreen1s:hover,
.active_shadow_top_left_glassySpringGreen1s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(20, 255, 137, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(20, 255, 137, .78);
    box-shadow: -0.5em -0.5em 1em rgba(20, 255, 137, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassySpringGreen1,
.hover_shadow_top_right_glassySpringGreen1:hover,
.active_shadow_top_right_glassySpringGreen1:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(0, 255, 127, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(0, 255, 127, .39);
    box-shadow: 0.5em -0.5em 1em rgba(0, 255, 127, .39);
}

.shadow_top_right_glassySpringGreen1h,
.hover_shadow_top_right_glassySpringGreen1h:hover,
.active_shadow_top_right_glassySpringGreen1h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(51, 255, 153, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(51, 255, 153, .50);
    box-shadow: 0.5em -0.5em 1em rgba(51, 255, 153, .50);
}

.shadow_top_right_glassySpringGreen1a,
.hover_shadow_top_right_glassySpringGreen1a:hover,
.active_shadow_top_right_glassySpringGreen1a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(20, 255, 137, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(20, 255, 137, .63);
    box-shadow: 0.5em -0.5em 1em rgba(20, 255, 137, .63);
}

.shadow_top_right_glassySpringGreen1s,
.hover_shadow_top_right_glassySpringGreen1s:hover,
.active_shadow_top_right_glassySpringGreen1s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(20, 255, 137, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(20, 255, 137, .78);
    box-shadow: 0.5em -0.5em 1em rgba(20, 255, 137, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassySpringGreen1,
.hover_shadow_bottom_left_glassySpringGreen1:hover,
.active_shadow_bottom_left_glassySpringGreen1:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(0, 255, 127, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(0, 255, 127, .39);
    box-shadow: -0.5em 0.5em 1em rgba(0, 255, 127, .39);
}

.shadow_bottom_left_glassySpringGreen1h,
.hover_shadow_bottom_left_glassySpringGreen1h:hover,
.active_shadow_bottom_left_glassySpringGreen1h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(51, 255, 153, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(51, 255, 153, .50);
    box-shadow: -0.5em 0.5em 1em rgba(51, 255, 153, .50);
}

.shadow_bottom_left_glassySpringGreen1a,
.hover_shadow_bottom_left_glassySpringGreen1a:hover,
.active_shadow_bottom_left_glassySpringGreen1a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(20, 255, 137, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(20, 255, 137, .63);
    box-shadow: -0.5em 0.5em 1em rgba(20, 255, 137, .63);
}

.shadow_bottom_left_glassySpringGreen1s,
.hover_shadow_bottom_left_glassySpringGreen1s:hover,
.active_shadow_bottom_left_glassySpringGreen1s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(20, 255, 137, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(20, 255, 137, .78);
    box-shadow: -0.5em 0.5em 1em rgba(20, 255, 137, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassySpringGreen1,
.hover_shadow_bottom_right_glassySpringGreen1:hover,
.active_shadow_bottom_right_glassySpringGreen1:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(0, 255, 127, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(0, 255, 127, .39);
    box-shadow: 0.5em 0.5em 1em rgba(0, 255, 127, .39);
}

.shadow_bottom_right_glassySpringGreen1h,
.hover_shadow_bottom_right_glassySpringGreen1h:hover,
.active_shadow_bottom_right_glassySpringGreen1h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(51, 255, 153, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(51, 255, 153, .50);
    box-shadow: 0.5em 0.5em 1em rgba(51, 255, 153, .50);
}

.shadow_bottom_right_glassySpringGreen1a,
 .hover_shadow_bottom_right_glassySpringGreen1a:hover,
 .active_shadow_bottom_right_glassySpringGreen1a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(20, 255, 137, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(20, 255, 137, .63);
     box-shadow: 0.5em 0.5em 1em rgba(20, 255, 137, .63);
 }

 .shadow_bottom_right_glassySpringGreen1s,
 .hover_shadow_bottom_right_glassySpringGreen1s:hover,
 .active_shadow_bottom_right_glassySpringGreen1s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(20, 255, 137, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(20, 255, 137, .78);
     box-shadow: 0.5em 0.5em 1em rgba(20, 255, 137, .78);
 }