.background_blueViolet6,
.hover_background_blueViolet6:hover,
.active_background_blueViolet6:active:hover {
    background: #501389;
    background-image: -moz-linear-gradient(top,  rgb(100, 23, 171) 0%, rgb(80, 19, 137) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(100, 23, 171)), color-stop(100%, rgb(80, 19, 137)));
    background-image: -webkit-linear-gradient(top,  rgb(100, 23, 171) 0%, rgb(80, 19, 137) 100%);
    background-image: -o-linear-gradient(top,  rgb(100, 23, 171) 0%, rgb(80, 19, 137) 100%);
    background-image: -ms-linear-gradient(top, rgb(100, 23, 171) 0%, rgb(80, 19, 137) 100%);
    background-image: linear-gradient(to bottom,  rgb(100, 23, 171) 0%, rgb(80, 19, 137) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6417ab', endColorstr='#501389',GradientType=0 );
}

.background_blueViolet6h,
.hover_background_blueViolet6h:hover,
.active_background_blueViolet6h:active:hover {
    background: #501389;
    background-image: -moz-linear-gradient(top,  rgb(120, 28, 205) 0%, rgb(96, 22, 164) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(120, 28, 205)), color-stop(100%, rgb(96, 22, 164)));
    background-image: -webkit-linear-gradient(top,  rgb(120, 28, 205) 0%, rgb(96, 22, 164) 100%);
    background-image: -o-linear-gradient(top,  rgb(120, 28, 205) 0%, rgb(96, 22, 164) 100%);
    background-image: -ms-linear-gradient(top, rgb(120, 28, 205) 0%, rgb(96, 22, 164) 100%);
    background-image: linear-gradient(to bottom,  rgb(120, 28, 205) 0%, rgb(96, 22, 164) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#781ccd', endColorstr='#6016a4',GradientType=0 );
}

.background_blueViolet6a,
.hover_background_blueViolet6a:hover,
.active_background_blueViolet6a:active:hover {
    background: #501389;
    background-image: -moz-linear-gradient(top,  rgb(96, 22, 164) 0%, rgb(120, 28, 205) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(96, 22, 164)), color-stop(100%, rgb(120, 28, 205)));
    background-image: -webkit-linear-gradient(top,  rgb(96, 22, 164) 0%, rgb(120, 28, 205) 100%);
    background-image: -o-linear-gradient(top,  rgb(96, 22, 164) 0%, rgb(120, 28, 205) 100%);
    background-image: -ms-linear-gradient(top, rgb(96, 22, 164) 0%, rgb(120, 28, 205) 100%);
    background-image: linear-gradient(to bottom,  rgb(96, 22, 164) 0%, rgb(120, 28, 205) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6016a4', endColorstr='#781ccd',GradientType=0 );
}

.background_blueViolet6s,
.hover_background_blueViolet6s:hover,
.active_background_blueViolet6s:active:hover {
    background: #501389;
    background-image: -moz-linear-gradient(top,  rgb(149, 63, 229) 0%, rgb(120, 28, 205) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(149, 63, 229)), color-stop(100%, rgb(120, 28, 205)));
    background-image: -webkit-linear-gradient(top,  rgb(149, 63, 229) 0%, rgb(120, 28, 205) 100%);
    background-image: -o-linear-gradient(top,  rgb(149, 63, 229) 0%, rgb(120, 28, 205) 100%);
    background-image: -ms-linear-gradient(top, rgb(149, 63, 229) 0%, rgb(120, 28, 205) 100%);
    background-image: linear-gradient(to bottom,  rgb(149, 63, 229) 0%, rgb(120, 28, 205) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#953fe5', endColorstr='#781ccd',GradientType=0 );
}

.background_color_blueViolet6,
.hover_background_color_blueViolet6:hover,
.active_background_color_blueViolet6:active:hover {
    background-color:#501389;
}

.background_first_color_blueViolet6,
.hover_background_first_color_blueViolet6:hover,
.active_background_first_color_blueViolet6:active:hover {
    background-color:#6417ab;
}

.background_last_color_blueViolet6,
.hover_background_last_color_blueViolet6:hover,
.active_background_color_last_blueViolet6:active:hover {
   background-color:#501389;
}

/* ------------------------------ color settings -------------------------------*/
.color_blueViolet6,
.hover_color_blueViolet6:hover,
.active_color_blueViolet6:active:hover {
    color: #c8c8c8;
}

.color_blueViolet6h,
.hover_color_blueViolet6h:hover,
.active_color_blueViolet6h:active:hover {
    color: #c8c8c8;
}

.color_blueViolet6a,
.hover_color_blueViolet6a:hover,
.active_color_blueViolet6a:active:hover {
    color: #ff0;
}

.color_blueViolet6s,
.hover_color_blueViolet6s:hover,
.active_color_blueViolet6s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_blueViolet6,
.hover_border_blueViolet6:hover,
.active_border_blueViolet6:active:hover {
    border-color: #501389 #501389 #501389 #501389;
}

.border_blueViolet6h,
.hover_border_blueViolet6h:hover,
.active_border_blueViolet6h:active:hover {
    border-color: #48117b #48117b #48117b #48117b;
}

.border_blueViolet6a,
.hover_border_blueViolet6a:hover,
.active_border_blueViolet6a:active:hover {
    border-color: #400f6d #400f6d #400f6d #400f6d;
}

.border_blueViolet6s,
.hover_border_blueViolet6s:hover,
.active_border_blueViolet6s:active:hover {
    border-color: #781ccd #781ccd #781ccd #781ccd;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_blueViolet6,
.hover_shadow_expand_blueViolet6:hover,
.active_shadow_expand_blueViolet6:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(80, 19, 137, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(80, 19, 137, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(80, 19, 137, .39);
}

.shadow_expand_blueViolet6h,
.hover_shadow_expand_blueViolet6h:hover,
.active_shadow_expand_blueViolet6h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(96, 22, 164, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(96, 22, 164, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(96, 22, 164, .50);
}

.shadow_expand_blueViolet6a,
.hover_shadow_expand_blueViolet6a:hover,
.active_shadow_expand_blueViolet6a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(120, 28, 205, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(120, 28, 205, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(120, 28, 205, .63);
}

.shadow_expand_blueViolet6s,
.hover_shadow_expand_blueViolet6s:hover,
.active_shadow_expand_blueViolet6s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(120, 28, 205, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(120, 28, 205, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(120, 28, 205, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_blueViolet6,
.hover_shadow_left_blueViolet6:hover,
.active_shadow_left_blueViolet6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(80, 19, 137, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(80, 19, 137, .39);
    box-shadow: -0.5em -0.5em 1em rgba(80, 19, 137, .39);
}

.shadow_left_blueViolet6h,
.hover_shadow_left_blueViolet6h:hover,
.active_shadow_left_blueViolet6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(96, 22, 164, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(96, 22, 164, .50);
    box-shadow: -0.5em -0.5em 1em rgba(96, 22, 164, .50);
}

.shadow_left_blueViolet6a,
.hover_shadow_left_blueViolet6a:hover,
.active_shadow_left_blueViolet6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(120, 28, 205, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(120, 28, 205, .63);
    box-shadow: -0.5em -0.5em 1em rgba(120, 28, 205, .63);
}

.shadow_left_blueViolet6s,
.hover_shadow_left_blueViolet6s:hover,
.active_shadow_left_blueViolet6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(120, 28, 205, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(120, 28, 205, .78);
    box-shadow: -0.5em -0.5em 1em rgba(120, 28, 205, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_blueViolet6,
.hover_shadow_right_blueViolet6:hover,
.active_shadow_right_blueViolet6:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(80, 19, 137, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(80, 19, 137, .39);
    box-shadow: 0.5em 0em 1em rgba(80, 19, 137, .39);
}

.shadow_right_blueViolet6h,
.hover_shadow_right_blueViolet6h:hover,
.active_shadow_right_blueViolet6h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(96, 22, 164, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(96, 22, 164, .50);
    box-shadow: 0.5em 0em 1em rgba(96, 22, 164, .50);
}

.shadow_right_blueViolet6a,
.hover_shadow_right_blueViolet6a:hover,
.active_shadow_right_blueViolet6a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(120, 28, 205, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(120, 28, 205, .63);
    box-shadow: 0.5em 0em 1em rgba(120, 28, 205, .63);
}

.shadow_right_blueViolet6s,
.hover_shadow_right_blueViolet6s:hover,
.active_shadow_right_blueViolet6s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(120, 28, 205, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(120, 28, 205, .78);
    box-shadow: 0.5em 0em 1em rgba(120, 28, 205, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_blueViolet6,
.hover_shadow_top_blueViolet6:hover,
.active_shadow_top_blueViolet6:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(80, 19, 137, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(80, 19, 137, .39);
    box-shadow: 0em -0.5em 1em rgba(80, 19, 137, .39);
}

.shadow_top_blueViolet6h,
.hover_shadow_top_blueViolet6h:hover,
.active_shadow_top_blueViolet6h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(96, 22, 164, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(96, 22, 164, .50);
    box-shadow: 0em -0.5em 1em rgba(96, 22, 164, .50);
}

.shadow_top_blueViolet6a,
.hover_shadow_top_blueViolet6a:hover,
.active_shadow_top_blueViolet6a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(120, 28, 205, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(120, 28, 205, .63);
    box-shadow: 0em -0.5em 1em rgba(120, 28, 205, .63);
}

.shadow_top_blueViolet6s,
.hover_shadow_top_blueViolet6s:hover,
.active_shadow_top_blueViolet6s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(120, 28, 205, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(120, 28, 205, .78);
    box-shadow: 0em -0.5em 1em rgba(120, 28, 205, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_blueViolet6,
.hover_shadow_bottom_blueViolet6:hover,
.active_shadow_bottom_blueViolet6:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(80, 19, 137, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(80, 19, 137, .39);
    box-shadow: 0em 0.5em 1em rgba(80, 19, 137, .39);
}

.shadow_bottom_blueViolet6h,
.hover_shadow_bottom_blueViolet6h:hover,
.active_shadow_bottom_blueViolet6h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(96, 22, 164, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(96, 22, 164, .50);
    box-shadow: 0em 0.5em 1em rgba(96, 22, 164, .50);
}

.shadow_bottom_blueViolet6a,
.hover_shadow_bottom_blueViolet6a:hover,
.active_shadow_bottom_blueViolet6a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(120, 28, 205, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(120, 28, 205, .63);
    box-shadow: 0em 0.5em 1em rgba(120, 28, 205, .63);
}

.shadow_bottom_blueViolet6s,
.hover_shadow_bottom_blueViolet6s:hover,
.active_shadow_bottom_blueViolet6s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(120, 28, 205, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(120, 28, 205, .78);
    box-shadow: 0em 0.5em 1em rgba(120, 28, 205, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_blueViolet6,
.hover_shadow_top_left_blueViolet6:hover,
.active_shadow_top_left_blueViolet6:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(80, 19, 137, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(80, 19, 137, .39);
    box-shadow: -0.5em -0.5em 1em rgba(80, 19, 137, .39);
}

.shadow_top_left_blueViolet6h,
.hover_shadow_top_left_blueViolet6h:hover,
.active_shadow_top_left_blueViolet6h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(96, 22, 164, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(96, 22, 164, .50);
    box-shadow: -0.5em -0.5em 1em rgba(96, 22, 164, .50);
}

.shadow_top_left_blueViolet6a,
.hover_shadow_top_left_blueViolet6a:hover,
.active_shadow_top_left_blueViolet6a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(120, 28, 205, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(120, 28, 205, .63);
    box-shadow: -0.5em -0.5em 1em rgba(120, 28, 205, .63);
}

.shadow_top_left_blueViolet6s,
.hover_shadow_top_left_blueViolet6s:hover,
.active_shadow_top_left_blueViolet6s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(120, 28, 205, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(120, 28, 205, .78);
    box-shadow: -0.5em -0.5em 1em rgba(120, 28, 205, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_blueViolet6,
.hover_shadow_top_right_blueViolet6:hover,
.active_shadow_top_right_blueViolet6:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(80, 19, 137, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(80, 19, 137, .39);
    box-shadow: 0.5em -0.5em 1em rgba(80, 19, 137, .39);
}

.shadow_top_right_blueViolet6h,
.hover_shadow_top_right_blueViolet6h:hover,
.active_shadow_top_right_blueViolet6h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(96, 22, 164, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(96, 22, 164, .50);
    box-shadow: 0.5em -0.5em 1em rgba(96, 22, 164, .50);
}

.shadow_top_right_blueViolet6a,
.hover_shadow_top_right_blueViolet6a:hover,
.active_shadow_top_right_blueViolet6a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(120, 28, 205, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(120, 28, 205, .63);
    box-shadow: 0.5em -0.5em 1em rgba(120, 28, 205, .63);
}

.shadow_top_right_blueViolet6s,
.hover_shadow_top_right_blueViolet6s:hover,
.active_shadow_top_right_blueViolet6s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(120, 28, 205, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(120, 28, 205, .78);
    box-shadow: 0.5em -0.5em 1em rgba(120, 28, 205, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_blueViolet6,
.hover_shadow_bottom_left_blueViolet6:hover,
.active_shadow_bottom_left_blueViolet6:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(80, 19, 137, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(80, 19, 137, .39);
    box-shadow: -0.5em 0.5em 1em rgba(80, 19, 137, .39);
}

.shadow_bottom_left_blueViolet6h,
.hover_shadow_bottom_left_blueViolet6h:hover,
.active_shadow_bottom_left_blueViolet6h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(96, 22, 164, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(96, 22, 164, .50);
    box-shadow: -0.5em 0.5em 1em rgba(96, 22, 164, .50);
}

.shadow_bottom_left_blueViolet6a,
.hover_shadow_bottom_left_blueViolet6a:hover,
.active_shadow_bottom_left_blueViolet6a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(120, 28, 205, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(120, 28, 205, .63);
    box-shadow: -0.5em 0.5em 1em rgba(120, 28, 205, .63);
}

.shadow_bottom_left_blueViolet6s,
.hover_shadow_bottom_left_blueViolet6s:hover,
.active_shadow_bottom_left_blueViolet6s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(120, 28, 205, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(120, 28, 205, .78);
    box-shadow: -0.5em 0.5em 1em rgba(120, 28, 205, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_blueViolet6,
.hover_shadow_bottom_right_blueViolet6:hover,
.active_shadow_bottom_right_blueViolet6:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(80, 19, 137, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(80, 19, 137, .39);
    box-shadow: 0.5em 0.5em 1em rgba(80, 19, 137, .39);
}

.shadow_bottom_right_blueViolet6h,
.hover_shadow_bottom_right_blueViolet6h:hover,
.active_shadow_bottom_right_blueViolet6h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(96, 22, 164, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(96, 22, 164, .50);
    box-shadow: 0.5em 0.5em 1em rgba(96, 22, 164, .50);
}

.shadow_bottom_right_blueViolet6a,
 .hover_shadow_bottom_right_blueViolet6a:hover,
 .active_shadow_bottom_right_blueViolet6a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(120, 28, 205, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(120, 28, 205, .63);
     box-shadow: 0.5em 0.5em 1em rgba(120, 28, 205, .63);
 }

 .shadow_bottom_right_blueViolet6s,
 .hover_shadow_bottom_right_blueViolet6s:hover,
 .active_shadow_bottom_right_blueViolet6s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(120, 28, 205, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(120, 28, 205, .78);
     box-shadow: 0.5em 0.5em 1em rgba(120, 28, 205, .78);
 }