.background_salmon3,
.hover_background_salmon3:hover,
.active_background_salmon3:active:hover {
    background: #f62209;
    background-image: -moz-linear-gradient(top,  rgb(248, 89, 71) 0%, rgb(246, 34, 9) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(248, 89, 71)), color-stop(100%, rgb(246, 34, 9)));
    background-image: -webkit-linear-gradient(top,  rgb(248, 89, 71) 0%, rgb(246, 34, 9) 100%);
    background-image: -o-linear-gradient(top,  rgb(248, 89, 71) 0%, rgb(246, 34, 9) 100%);
    background-image: -ms-linear-gradient(top, rgb(248, 89, 71) 0%, rgb(246, 34, 9) 100%);
    background-image: linear-gradient(to bottom,  rgb(248, 89, 71) 0%, rgb(246, 34, 9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85947', endColorstr='#f62209',GradientType=0 );
}

.background_salmon3h,
.hover_background_salmon3h:hover,
.active_background_salmon3h:active:hover {
    background: #f62209;
    background-image: -moz-linear-gradient(top,  rgb(251, 145, 133) 0%, rgb(248, 78, 59) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(251, 145, 133)), color-stop(100%, rgb(248, 78, 59)));
    background-image: -webkit-linear-gradient(top,  rgb(251, 145, 133) 0%, rgb(248, 78, 59) 100%);
    background-image: -o-linear-gradient(top,  rgb(251, 145, 133) 0%, rgb(248, 78, 59) 100%);
    background-image: -ms-linear-gradient(top, rgb(251, 145, 133) 0%, rgb(248, 78, 59) 100%);
    background-image: linear-gradient(to bottom,  rgb(251, 145, 133) 0%, rgb(248, 78, 59) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9185', endColorstr='#f84e3b',GradientType=0 );
}

.background_salmon3a,
.hover_background_salmon3a:hover,
.active_background_salmon3a:active:hover {
    background: #f62209;
    background-image: -moz-linear-gradient(top,  rgb(248, 78, 59) 0%, rgb(251, 145, 133) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(248, 78, 59)), color-stop(100%, rgb(251, 145, 133)));
    background-image: -webkit-linear-gradient(top,  rgb(248, 78, 59) 0%, rgb(251, 145, 133) 100%);
    background-image: -o-linear-gradient(top,  rgb(248, 78, 59) 0%, rgb(251, 145, 133) 100%);
    background-image: -ms-linear-gradient(top, rgb(248, 78, 59) 0%, rgb(251, 145, 133) 100%);
    background-image: linear-gradient(to bottom,  rgb(248, 78, 59) 0%, rgb(251, 145, 133) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f84e3b', endColorstr='#fb9185',GradientType=0 );
}

.background_salmon3s,
.hover_background_salmon3s:hover,
.active_background_salmon3s:active:hover {
    background: #f62209;
    background-image: -moz-linear-gradient(top,  rgb(254, 228, 226) 0%, rgb(251, 145, 133) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(254, 228, 226)), color-stop(100%, rgb(251, 145, 133)));
    background-image: -webkit-linear-gradient(top,  rgb(254, 228, 226) 0%, rgb(251, 145, 133) 100%);
    background-image: -o-linear-gradient(top,  rgb(254, 228, 226) 0%, rgb(251, 145, 133) 100%);
    background-image: -ms-linear-gradient(top, rgb(254, 228, 226) 0%, rgb(251, 145, 133) 100%);
    background-image: linear-gradient(to bottom,  rgb(254, 228, 226) 0%, rgb(251, 145, 133) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee4e2', endColorstr='#fb9185',GradientType=0 );
}

.background_color_salmon3,
.hover_background_color_salmon3:hover,
.active_background_color_salmon3:active:hover {
    background-color:#f62209;
}

.background_first_color_salmon3,
.hover_background_first_color_salmon3:hover,
.active_background_first_color_salmon3:active:hover {
    background-color:#f85947;
}

.background_last_color_salmon3,
.hover_background_last_color_salmon3:hover,
.active_background_color_last_salmon3:active:hover {
   background-color:#f62209;
}

/* ------------------------------ color settings -------------------------------*/
.color_salmon3,
.hover_color_salmon3:hover,
.active_color_salmon3:active:hover {
    color: #c8c8c8;
}

.color_salmon3h,
.hover_color_salmon3h:hover,
.active_color_salmon3h:active:hover {
    color: #c8c8c8;
}

.color_salmon3a,
.hover_color_salmon3a:hover,
.active_color_salmon3a:active:hover {
    color: #ff0;
}

.color_salmon3s,
.hover_color_salmon3s:hover,
.active_color_salmon3s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_salmon3,
.hover_border_salmon3:hover,
.active_border_salmon3:active:hover {
    border-color: #f62209 #f62209 #f62209 #f62209;
}

.border_salmon3h,
.hover_border_salmon3h:hover,
.active_border_salmon3h:active:hover {
    border-color: #de1e08 #de1e08 #de1e08 #de1e08;
}

.border_salmon3a,
.hover_border_salmon3a:hover,
.active_border_salmon3a:active:hover {
    border-color: #c61b07 #c61b07 #c61b07 #c61b07;
}

.border_salmon3s,
.hover_border_salmon3s:hover,
.active_border_salmon3s:active:hover {
    border-color: #fb9185 #fb9185 #fb9185 #fb9185;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_salmon3,
.hover_shadow_expand_salmon3:hover,
.active_shadow_expand_salmon3:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(246, 34, 9, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(246, 34, 9, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(246, 34, 9, .39);
}

.shadow_expand_salmon3h,
.hover_shadow_expand_salmon3h:hover,
.active_shadow_expand_salmon3h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(248, 78, 59, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(248, 78, 59, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(248, 78, 59, .50);
}

.shadow_expand_salmon3a,
.hover_shadow_expand_salmon3a:hover,
.active_shadow_expand_salmon3a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(251, 145, 133, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(251, 145, 133, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(251, 145, 133, .63);
}

.shadow_expand_salmon3s,
.hover_shadow_expand_salmon3s:hover,
.active_shadow_expand_salmon3s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(251, 145, 133, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(251, 145, 133, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(251, 145, 133, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_salmon3,
.hover_shadow_left_salmon3:hover,
.active_shadow_left_salmon3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(246, 34, 9, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(246, 34, 9, .39);
    box-shadow: -0.5em -0.5em 1em rgba(246, 34, 9, .39);
}

.shadow_left_salmon3h,
.hover_shadow_left_salmon3h:hover,
.active_shadow_left_salmon3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(248, 78, 59, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(248, 78, 59, .50);
    box-shadow: -0.5em -0.5em 1em rgba(248, 78, 59, .50);
}

.shadow_left_salmon3a,
.hover_shadow_left_salmon3a:hover,
.active_shadow_left_salmon3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .63);
    box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .63);
}

.shadow_left_salmon3s,
.hover_shadow_left_salmon3s:hover,
.active_shadow_left_salmon3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .78);
    box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_salmon3,
.hover_shadow_right_salmon3:hover,
.active_shadow_right_salmon3:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(246, 34, 9, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(246, 34, 9, .39);
    box-shadow: 0.5em 0em 1em rgba(246, 34, 9, .39);
}

.shadow_right_salmon3h,
.hover_shadow_right_salmon3h:hover,
.active_shadow_right_salmon3h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(248, 78, 59, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(248, 78, 59, .50);
    box-shadow: 0.5em 0em 1em rgba(248, 78, 59, .50);
}

.shadow_right_salmon3a,
.hover_shadow_right_salmon3a:hover,
.active_shadow_right_salmon3a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(251, 145, 133, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(251, 145, 133, .63);
    box-shadow: 0.5em 0em 1em rgba(251, 145, 133, .63);
}

.shadow_right_salmon3s,
.hover_shadow_right_salmon3s:hover,
.active_shadow_right_salmon3s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(251, 145, 133, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(251, 145, 133, .78);
    box-shadow: 0.5em 0em 1em rgba(251, 145, 133, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_salmon3,
.hover_shadow_top_salmon3:hover,
.active_shadow_top_salmon3:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(246, 34, 9, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(246, 34, 9, .39);
    box-shadow: 0em -0.5em 1em rgba(246, 34, 9, .39);
}

.shadow_top_salmon3h,
.hover_shadow_top_salmon3h:hover,
.active_shadow_top_salmon3h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(248, 78, 59, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(248, 78, 59, .50);
    box-shadow: 0em -0.5em 1em rgba(248, 78, 59, .50);
}

.shadow_top_salmon3a,
.hover_shadow_top_salmon3a:hover,
.active_shadow_top_salmon3a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(251, 145, 133, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(251, 145, 133, .63);
    box-shadow: 0em -0.5em 1em rgba(251, 145, 133, .63);
}

.shadow_top_salmon3s,
.hover_shadow_top_salmon3s:hover,
.active_shadow_top_salmon3s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(251, 145, 133, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(251, 145, 133, .78);
    box-shadow: 0em -0.5em 1em rgba(251, 145, 133, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_salmon3,
.hover_shadow_bottom_salmon3:hover,
.active_shadow_bottom_salmon3:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(246, 34, 9, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(246, 34, 9, .39);
    box-shadow: 0em 0.5em 1em rgba(246, 34, 9, .39);
}

.shadow_bottom_salmon3h,
.hover_shadow_bottom_salmon3h:hover,
.active_shadow_bottom_salmon3h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(248, 78, 59, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(248, 78, 59, .50);
    box-shadow: 0em 0.5em 1em rgba(248, 78, 59, .50);
}

.shadow_bottom_salmon3a,
.hover_shadow_bottom_salmon3a:hover,
.active_shadow_bottom_salmon3a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(251, 145, 133, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(251, 145, 133, .63);
    box-shadow: 0em 0.5em 1em rgba(251, 145, 133, .63);
}

.shadow_bottom_salmon3s,
.hover_shadow_bottom_salmon3s:hover,
.active_shadow_bottom_salmon3s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(251, 145, 133, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(251, 145, 133, .78);
    box-shadow: 0em 0.5em 1em rgba(251, 145, 133, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_salmon3,
.hover_shadow_top_left_salmon3:hover,
.active_shadow_top_left_salmon3:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(246, 34, 9, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(246, 34, 9, .39);
    box-shadow: -0.5em -0.5em 1em rgba(246, 34, 9, .39);
}

.shadow_top_left_salmon3h,
.hover_shadow_top_left_salmon3h:hover,
.active_shadow_top_left_salmon3h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(248, 78, 59, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(248, 78, 59, .50);
    box-shadow: -0.5em -0.5em 1em rgba(248, 78, 59, .50);
}

.shadow_top_left_salmon3a,
.hover_shadow_top_left_salmon3a:hover,
.active_shadow_top_left_salmon3a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .63);
    box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .63);
}

.shadow_top_left_salmon3s,
.hover_shadow_top_left_salmon3s:hover,
.active_shadow_top_left_salmon3s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .78);
    box-shadow: -0.5em -0.5em 1em rgba(251, 145, 133, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_salmon3,
.hover_shadow_top_right_salmon3:hover,
.active_shadow_top_right_salmon3:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(246, 34, 9, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(246, 34, 9, .39);
    box-shadow: 0.5em -0.5em 1em rgba(246, 34, 9, .39);
}

.shadow_top_right_salmon3h,
.hover_shadow_top_right_salmon3h:hover,
.active_shadow_top_right_salmon3h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(248, 78, 59, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(248, 78, 59, .50);
    box-shadow: 0.5em -0.5em 1em rgba(248, 78, 59, .50);
}

.shadow_top_right_salmon3a,
.hover_shadow_top_right_salmon3a:hover,
.active_shadow_top_right_salmon3a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(251, 145, 133, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(251, 145, 133, .63);
    box-shadow: 0.5em -0.5em 1em rgba(251, 145, 133, .63);
}

.shadow_top_right_salmon3s,
.hover_shadow_top_right_salmon3s:hover,
.active_shadow_top_right_salmon3s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(251, 145, 133, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(251, 145, 133, .78);
    box-shadow: 0.5em -0.5em 1em rgba(251, 145, 133, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_salmon3,
.hover_shadow_bottom_left_salmon3:hover,
.active_shadow_bottom_left_salmon3:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(246, 34, 9, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(246, 34, 9, .39);
    box-shadow: -0.5em 0.5em 1em rgba(246, 34, 9, .39);
}

.shadow_bottom_left_salmon3h,
.hover_shadow_bottom_left_salmon3h:hover,
.active_shadow_bottom_left_salmon3h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(248, 78, 59, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(248, 78, 59, .50);
    box-shadow: -0.5em 0.5em 1em rgba(248, 78, 59, .50);
}

.shadow_bottom_left_salmon3a,
.hover_shadow_bottom_left_salmon3a:hover,
.active_shadow_bottom_left_salmon3a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(251, 145, 133, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(251, 145, 133, .63);
    box-shadow: -0.5em 0.5em 1em rgba(251, 145, 133, .63);
}

.shadow_bottom_left_salmon3s,
.hover_shadow_bottom_left_salmon3s:hover,
.active_shadow_bottom_left_salmon3s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(251, 145, 133, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(251, 145, 133, .78);
    box-shadow: -0.5em 0.5em 1em rgba(251, 145, 133, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_salmon3,
.hover_shadow_bottom_right_salmon3:hover,
.active_shadow_bottom_right_salmon3:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(246, 34, 9, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(246, 34, 9, .39);
    box-shadow: 0.5em 0.5em 1em rgba(246, 34, 9, .39);
}

.shadow_bottom_right_salmon3h,
.hover_shadow_bottom_right_salmon3h:hover,
.active_shadow_bottom_right_salmon3h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(248, 78, 59, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(248, 78, 59, .50);
    box-shadow: 0.5em 0.5em 1em rgba(248, 78, 59, .50);
}

.shadow_bottom_right_salmon3a,
 .hover_shadow_bottom_right_salmon3a:hover,
 .active_shadow_bottom_right_salmon3a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(251, 145, 133, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(251, 145, 133, .63);
     box-shadow: 0.5em 0.5em 1em rgba(251, 145, 133, .63);
 }

 .shadow_bottom_right_salmon3s,
 .hover_shadow_bottom_right_salmon3s:hover,
 .active_shadow_bottom_right_salmon3s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(251, 145, 133, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(251, 145, 133, .78);
     box-shadow: 0.5em 0.5em 1em rgba(251, 145, 133, .78);
 }