.aquaRosyBrown8,
.hover_aquaRosyBrown8:hover,
.active_aquaRosyBrown8:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(90, 54, 57, .39),
           inset 0 -0.5em 0.9em 0 #a65064,
           inset 0 -0.5em 0em 0.65em rgb(72, 21, 25),
           inset 0 0em 0.5em 2em rgb(110, 110, 110);
    -moz-box-shadow: 0 0.63em 0.75em rgba(90, 54, 57, .39),
           inset 0 -0.5em 0.9em 0 #a65064,
           inset 0 -0.5em 0em 0.65em rgb(72, 21, 25),
           inset 0 0em 0.5em 2em rgb(110, 110, 110);
    box-shadow: 0 0.63em 0.75em rgba(90, 54, 57, .39),
           inset 0 -0.5em 0.9em 0 #a65064,
           inset 0 -0.5em 0em 0.65em rgb(72, 21, 25),
           inset 0 0em 0.5em 2em rgb(110, 110, 110);
}

.aquaRosyBrown8h,
.hover_aquaRosyBrown8h:hover,
.active_aquaRosyBrown8h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(106, 63, 68, .55),
           inset 0 -0.5em 0.9em 0 #ba6f80,
           inset 0 -0.5em 0em 0.65em #843f45,
           inset 0 0em 0.5em 2em #aa7f83;
    -moz-box-shadow:0 0.63em 1em rgba(106, 63, 68, .55),
           inset 0 -0.5em 0.9em 0 #ba6f80,
           inset 0 -0.5em 0em 0.65em #843f45,
           inset 0 0em 0.5em 2em #aa7f83;
    box-shadow:0 0.63em 1em rgba(106, 63, 68, .55),
           inset 0 -0.5em 0.9em 0 #ba6f80,
           inset 0 -0.5em 0em 0.65em #843f45,
           inset 0 0em 0.5em 2em #aa7f83;
}

.aquaRosyBrown8a,
.hover_aquaRosyBrown8a:hover,
.active_aquaRosyBrown8a:active {
    /*background: #593535;*/

    -webkit-box-shadow:0 0.63em 1em rgba(65, 28, 31, .55),
           inset 0 -0.5em 0.9em 0 #c34c68,
           inset 0 -0.5em 0em 0.65em #682328,
           inset 0 0em 0.5em 2em #95474e;
    -moz-box-shadow:0 0.63em 1em rgba(65, 28, 31, .55),
           inset 0 -0.5em 0.9em 0 #c34c68,
           inset 0 -0.5em 0em 0.65em #682328,
           inset 0 0em 0.5em 2em #95474e;
    box-shadow:0 0.63em 1em rgba(65, 28, 31, .55),
           inset 0 -0.5em 0.9em 0 #c34c68,
           inset 0 -0.5em 0em 0.65em #682328,
           inset 0 0em 0.5em 2em #95474e;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaRosyBrown8,
.hover_color_aquaRosyBrown8:hover,
.active_color_aquaRosyBrown8:active {
    color: #c8c8c8;
}

.color_aquaRosyBrown8h,
.hover_color_aquaRosyBrown8h:hover,
.active_color_aquaRosyBrown8h:active {
    color: #c8c8c8;
}

.color_aquaRosyBrown8a,
.hover_color_aquaRosyBrown8a:hover,
.active_color_aquaRosyBrown8a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaRosyBrown8,
.hover_border_aquaRosyBrown8:hover,
.active_border_aquaRosyBrown8:active {
    border-color: #3b2323 #3b2323 #3b2323 #3b2323;
}

.border_aquaRosyBrown8h,
.hover_border_aquaRosyBrown8h:hover,
.active_border_aquaRosyBrown8h:active {
    border-color: #3b2323 #3b2323 #3b2323 #3b2323;
}

.border_aquaRosyBrown8a,
.hover_border_aquaRosyBrown8a:hover,
.active_border_aquaRosyBrown8a:active  {
    border-color: #3b2323 #3b2323 #3b2323 #3b2323;
}

