.background_indianRed7,
.hover_background_indianRed7:hover,
.active_background_indianRed7:active:hover {
    background: #692020;
    background-image: -moz-linear-gradient(top,  rgb(131, 40, 40) 0%, rgb(105, 32, 32) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(131, 40, 40)), color-stop(100%, rgb(105, 32, 32)));
    background-image: -webkit-linear-gradient(top,  rgb(131, 40, 40) 0%, rgb(105, 32, 32) 100%);
    background-image: -o-linear-gradient(top,  rgb(131, 40, 40) 0%, rgb(105, 32, 32) 100%);
    background-image: -ms-linear-gradient(top, rgb(131, 40, 40) 0%, rgb(105, 32, 32) 100%);
    background-image: linear-gradient(to bottom,  rgb(131, 40, 40) 0%, rgb(105, 32, 32) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#832828', endColorstr='#692020',GradientType=0 );
}

.background_indianRed7h,
.hover_background_indianRed7h:hover,
.active_background_indianRed7h:active:hover {
    background: #692020;
    background-image: -moz-linear-gradient(top,  rgb(157, 48, 48) 0%, rgb(126, 39, 39) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(157, 48, 48)), color-stop(100%, rgb(126, 39, 39)));
    background-image: -webkit-linear-gradient(top,  rgb(157, 48, 48) 0%, rgb(126, 39, 39) 100%);
    background-image: -o-linear-gradient(top,  rgb(157, 48, 48) 0%, rgb(126, 39, 39) 100%);
    background-image: -ms-linear-gradient(top, rgb(157, 48, 48) 0%, rgb(126, 39, 39) 100%);
    background-image: linear-gradient(to bottom,  rgb(157, 48, 48) 0%, rgb(126, 39, 39) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d3030', endColorstr='#7e2727',GradientType=0 );
}

.background_indianRed7a,
.hover_background_indianRed7a:hover,
.active_background_indianRed7a:active:hover {
    background: #692020;
    background-image: -moz-linear-gradient(top,  rgb(126, 39, 39) 0%, rgb(157, 48, 48) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(126, 39, 39)), color-stop(100%, rgb(157, 48, 48)));
    background-image: -webkit-linear-gradient(top,  rgb(126, 39, 39) 0%, rgb(157, 48, 48) 100%);
    background-image: -o-linear-gradient(top,  rgb(126, 39, 39) 0%, rgb(157, 48, 48) 100%);
    background-image: -ms-linear-gradient(top, rgb(126, 39, 39) 0%, rgb(157, 48, 48) 100%);
    background-image: linear-gradient(to bottom,  rgb(126, 39, 39) 0%, rgb(157, 48, 48) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e2727', endColorstr='#9d3030',GradientType=0 );
}

.background_indianRed7s,
.hover_background_indianRed7s:hover,
.active_background_indianRed7s:active:hover {
    background: #692020;
    background-image: -moz-linear-gradient(top,  rgb(196, 61, 61) 0%, rgb(157, 48, 48) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(196, 61, 61)), color-stop(100%, rgb(157, 48, 48)));
    background-image: -webkit-linear-gradient(top,  rgb(196, 61, 61) 0%, rgb(157, 48, 48) 100%);
    background-image: -o-linear-gradient(top,  rgb(196, 61, 61) 0%, rgb(157, 48, 48) 100%);
    background-image: -ms-linear-gradient(top, rgb(196, 61, 61) 0%, rgb(157, 48, 48) 100%);
    background-image: linear-gradient(to bottom,  rgb(196, 61, 61) 0%, rgb(157, 48, 48) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c43d3d', endColorstr='#9d3030',GradientType=0 );
}

.background_color_indianRed7,
.hover_background_color_indianRed7:hover,
.active_background_color_indianRed7:active:hover {
    background-color:#692020;
}

.background_first_color_indianRed7,
.hover_background_first_color_indianRed7:hover,
.active_background_first_color_indianRed7:active:hover {
    background-color:#832828;
}

.background_last_color_indianRed7,
.hover_background_last_color_indianRed7:hover,
.active_background_color_last_indianRed7:active:hover {
   background-color:#692020;
}

/* ------------------------------ color settings -------------------------------*/
.color_indianRed7,
.hover_color_indianRed7:hover,
.active_color_indianRed7:active:hover {
    color: #c8c8c8;
}

.color_indianRed7h,
.hover_color_indianRed7h:hover,
.active_color_indianRed7h:active:hover {
    color: #c8c8c8;
}

.color_indianRed7a,
.hover_color_indianRed7a:hover,
.active_color_indianRed7a:active:hover {
    color: #ff0;
}

.color_indianRed7s,
.hover_color_indianRed7s:hover,
.active_color_indianRed7s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_indianRed7,
.hover_border_indianRed7:hover,
.active_border_indianRed7:active:hover {
    border-color: #692020 #692020 #692020 #692020;
}

.border_indianRed7h,
.hover_border_indianRed7h:hover,
.active_border_indianRed7h:active:hover {
    border-color: #5e1d1d #5e1d1d #5e1d1d #5e1d1d;
}

.border_indianRed7a,
.hover_border_indianRed7a:hover,
.active_border_indianRed7a:active:hover {
    border-color: #541a1a #541a1a #541a1a #541a1a;
}

.border_indianRed7s,
.hover_border_indianRed7s:hover,
.active_border_indianRed7s:active:hover {
    border-color: #9d3030 #9d3030 #9d3030 #9d3030;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_indianRed7,
.hover_shadow_expand_indianRed7:hover,
.active_shadow_expand_indianRed7:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(105, 32, 32, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(105, 32, 32, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(105, 32, 32, .39);
}

.shadow_expand_indianRed7h,
.hover_shadow_expand_indianRed7h:hover,
.active_shadow_expand_indianRed7h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(126, 39, 39, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(126, 39, 39, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(126, 39, 39, .50);
}

.shadow_expand_indianRed7a,
.hover_shadow_expand_indianRed7a:hover,
.active_shadow_expand_indianRed7a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(157, 48, 48, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(157, 48, 48, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(157, 48, 48, .63);
}

.shadow_expand_indianRed7s,
.hover_shadow_expand_indianRed7s:hover,
.active_shadow_expand_indianRed7s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(157, 48, 48, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(157, 48, 48, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(157, 48, 48, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_indianRed7,
.hover_shadow_left_indianRed7:hover,
.active_shadow_left_indianRed7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(105, 32, 32, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(105, 32, 32, .39);
    box-shadow: -0.5em -0.5em 1em rgba(105, 32, 32, .39);
}

.shadow_left_indianRed7h,
.hover_shadow_left_indianRed7h:hover,
.active_shadow_left_indianRed7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(126, 39, 39, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(126, 39, 39, .50);
    box-shadow: -0.5em -0.5em 1em rgba(126, 39, 39, .50);
}

.shadow_left_indianRed7a,
.hover_shadow_left_indianRed7a:hover,
.active_shadow_left_indianRed7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 48, 48, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 48, 48, .63);
    box-shadow: -0.5em -0.5em 1em rgba(157, 48, 48, .63);
}

.shadow_left_indianRed7s,
.hover_shadow_left_indianRed7s:hover,
.active_shadow_left_indianRed7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 48, 48, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 48, 48, .78);
    box-shadow: -0.5em -0.5em 1em rgba(157, 48, 48, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_indianRed7,
.hover_shadow_right_indianRed7:hover,
.active_shadow_right_indianRed7:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(105, 32, 32, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(105, 32, 32, .39);
    box-shadow: 0.5em 0em 1em rgba(105, 32, 32, .39);
}

.shadow_right_indianRed7h,
.hover_shadow_right_indianRed7h:hover,
.active_shadow_right_indianRed7h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(126, 39, 39, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(126, 39, 39, .50);
    box-shadow: 0.5em 0em 1em rgba(126, 39, 39, .50);
}

.shadow_right_indianRed7a,
.hover_shadow_right_indianRed7a:hover,
.active_shadow_right_indianRed7a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(157, 48, 48, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(157, 48, 48, .63);
    box-shadow: 0.5em 0em 1em rgba(157, 48, 48, .63);
}

.shadow_right_indianRed7s,
.hover_shadow_right_indianRed7s:hover,
.active_shadow_right_indianRed7s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(157, 48, 48, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(157, 48, 48, .78);
    box-shadow: 0.5em 0em 1em rgba(157, 48, 48, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_indianRed7,
.hover_shadow_top_indianRed7:hover,
.active_shadow_top_indianRed7:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(105, 32, 32, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(105, 32, 32, .39);
    box-shadow: 0em -0.5em 1em rgba(105, 32, 32, .39);
}

.shadow_top_indianRed7h,
.hover_shadow_top_indianRed7h:hover,
.active_shadow_top_indianRed7h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(126, 39, 39, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(126, 39, 39, .50);
    box-shadow: 0em -0.5em 1em rgba(126, 39, 39, .50);
}

.shadow_top_indianRed7a,
.hover_shadow_top_indianRed7a:hover,
.active_shadow_top_indianRed7a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(157, 48, 48, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(157, 48, 48, .63);
    box-shadow: 0em -0.5em 1em rgba(157, 48, 48, .63);
}

.shadow_top_indianRed7s,
.hover_shadow_top_indianRed7s:hover,
.active_shadow_top_indianRed7s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(157, 48, 48, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(157, 48, 48, .78);
    box-shadow: 0em -0.5em 1em rgba(157, 48, 48, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_indianRed7,
.hover_shadow_bottom_indianRed7:hover,
.active_shadow_bottom_indianRed7:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(105, 32, 32, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(105, 32, 32, .39);
    box-shadow: 0em 0.5em 1em rgba(105, 32, 32, .39);
}

.shadow_bottom_indianRed7h,
.hover_shadow_bottom_indianRed7h:hover,
.active_shadow_bottom_indianRed7h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(126, 39, 39, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(126, 39, 39, .50);
    box-shadow: 0em 0.5em 1em rgba(126, 39, 39, .50);
}

.shadow_bottom_indianRed7a,
.hover_shadow_bottom_indianRed7a:hover,
.active_shadow_bottom_indianRed7a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(157, 48, 48, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(157, 48, 48, .63);
    box-shadow: 0em 0.5em 1em rgba(157, 48, 48, .63);
}

.shadow_bottom_indianRed7s,
.hover_shadow_bottom_indianRed7s:hover,
.active_shadow_bottom_indianRed7s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(157, 48, 48, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(157, 48, 48, .78);
    box-shadow: 0em 0.5em 1em rgba(157, 48, 48, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_indianRed7,
.hover_shadow_top_left_indianRed7:hover,
.active_shadow_top_left_indianRed7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(105, 32, 32, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(105, 32, 32, .39);
    box-shadow: -0.5em -0.5em 1em rgba(105, 32, 32, .39);
}

.shadow_top_left_indianRed7h,
.hover_shadow_top_left_indianRed7h:hover,
.active_shadow_top_left_indianRed7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(126, 39, 39, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(126, 39, 39, .50);
    box-shadow: -0.5em -0.5em 1em rgba(126, 39, 39, .50);
}

.shadow_top_left_indianRed7a,
.hover_shadow_top_left_indianRed7a:hover,
.active_shadow_top_left_indianRed7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 48, 48, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 48, 48, .63);
    box-shadow: -0.5em -0.5em 1em rgba(157, 48, 48, .63);
}

.shadow_top_left_indianRed7s,
.hover_shadow_top_left_indianRed7s:hover,
.active_shadow_top_left_indianRed7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(157, 48, 48, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(157, 48, 48, .78);
    box-shadow: -0.5em -0.5em 1em rgba(157, 48, 48, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_indianRed7,
.hover_shadow_top_right_indianRed7:hover,
.active_shadow_top_right_indianRed7:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(105, 32, 32, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(105, 32, 32, .39);
    box-shadow: 0.5em -0.5em 1em rgba(105, 32, 32, .39);
}

.shadow_top_right_indianRed7h,
.hover_shadow_top_right_indianRed7h:hover,
.active_shadow_top_right_indianRed7h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(126, 39, 39, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(126, 39, 39, .50);
    box-shadow: 0.5em -0.5em 1em rgba(126, 39, 39, .50);
}

.shadow_top_right_indianRed7a,
.hover_shadow_top_right_indianRed7a:hover,
.active_shadow_top_right_indianRed7a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(157, 48, 48, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(157, 48, 48, .63);
    box-shadow: 0.5em -0.5em 1em rgba(157, 48, 48, .63);
}

.shadow_top_right_indianRed7s,
.hover_shadow_top_right_indianRed7s:hover,
.active_shadow_top_right_indianRed7s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(157, 48, 48, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(157, 48, 48, .78);
    box-shadow: 0.5em -0.5em 1em rgba(157, 48, 48, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_indianRed7,
.hover_shadow_bottom_left_indianRed7:hover,
.active_shadow_bottom_left_indianRed7:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(105, 32, 32, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(105, 32, 32, .39);
    box-shadow: -0.5em 0.5em 1em rgba(105, 32, 32, .39);
}

.shadow_bottom_left_indianRed7h,
.hover_shadow_bottom_left_indianRed7h:hover,
.active_shadow_bottom_left_indianRed7h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(126, 39, 39, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(126, 39, 39, .50);
    box-shadow: -0.5em 0.5em 1em rgba(126, 39, 39, .50);
}

.shadow_bottom_left_indianRed7a,
.hover_shadow_bottom_left_indianRed7a:hover,
.active_shadow_bottom_left_indianRed7a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(157, 48, 48, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(157, 48, 48, .63);
    box-shadow: -0.5em 0.5em 1em rgba(157, 48, 48, .63);
}

.shadow_bottom_left_indianRed7s,
.hover_shadow_bottom_left_indianRed7s:hover,
.active_shadow_bottom_left_indianRed7s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(157, 48, 48, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(157, 48, 48, .78);
    box-shadow: -0.5em 0.5em 1em rgba(157, 48, 48, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_indianRed7,
.hover_shadow_bottom_right_indianRed7:hover,
.active_shadow_bottom_right_indianRed7:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(105, 32, 32, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(105, 32, 32, .39);
    box-shadow: 0.5em 0.5em 1em rgba(105, 32, 32, .39);
}

.shadow_bottom_right_indianRed7h,
.hover_shadow_bottom_right_indianRed7h:hover,
.active_shadow_bottom_right_indianRed7h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(126, 39, 39, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(126, 39, 39, .50);
    box-shadow: 0.5em 0.5em 1em rgba(126, 39, 39, .50);
}

.shadow_bottom_right_indianRed7a,
 .hover_shadow_bottom_right_indianRed7a:hover,
 .active_shadow_bottom_right_indianRed7a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(157, 48, 48, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(157, 48, 48, .63);
     box-shadow: 0.5em 0.5em 1em rgba(157, 48, 48, .63);
 }

 .shadow_bottom_right_indianRed7s,
 .hover_shadow_bottom_right_indianRed7s:hover,
 .active_shadow_bottom_right_indianRed7s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(157, 48, 48, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(157, 48, 48, .78);
     box-shadow: 0.5em 0.5em 1em rgba(157, 48, 48, .78);
 }