.background_blanchedAlmond7,
.hover_background_blanchedAlmond7:hover,
.active_background_blanchedAlmond7:active:hover {
    background: #905600;
    background-image: -moz-linear-gradient(top,  rgb(180, 108, 0) 0%, rgb(144, 86, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(180, 108, 0)), color-stop(100%, rgb(144, 86, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(180, 108, 0) 0%, rgb(144, 86, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(180, 108, 0) 0%, rgb(144, 86, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(180, 108, 0) 0%, rgb(144, 86, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(180, 108, 0) 0%, rgb(144, 86, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b46c00', endColorstr='#905600',GradientType=0 );
}

.background_blanchedAlmond7h,
.hover_background_blanchedAlmond7h:hover,
.active_background_blanchedAlmond7h:active:hover {
    background: #905600;
    background-image: -moz-linear-gradient(top,  rgb(216, 129, 0) 0%, rgb(172, 103, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(216, 129, 0)), color-stop(100%, rgb(172, 103, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(216, 129, 0) 0%, rgb(172, 103, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(216, 129, 0) 0%, rgb(172, 103, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(216, 129, 0) 0%, rgb(172, 103, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(216, 129, 0) 0%, rgb(172, 103, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d88100', endColorstr='#ac6700',GradientType=0 );
}

.background_blanchedAlmond7a,
.hover_background_blanchedAlmond7a:hover,
.active_background_blanchedAlmond7a:active:hover {
    background: #905600;
    background-image: -moz-linear-gradient(top,  rgb(172, 103, 0) 0%, rgb(216, 129, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(172, 103, 0)), color-stop(100%, rgb(216, 129, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(172, 103, 0) 0%, rgb(216, 129, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(172, 103, 0) 0%, rgb(216, 129, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(172, 103, 0) 0%, rgb(216, 129, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(172, 103, 0) 0%, rgb(216, 129, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac6700', endColorstr='#d88100',GradientType=0 );
}

.background_blanchedAlmond7s,
.hover_background_blanchedAlmond7s:hover,
.active_background_blanchedAlmond7s:active:hover {
    background: #905600;
    background-image: -moz-linear-gradient(top,  rgb(255, 159, 14) 0%, rgb(216, 129, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 159, 14)), color-stop(100%, rgb(216, 129, 0)));
    background-image: -webkit-linear-gradient(top,  rgb(255, 159, 14) 0%, rgb(216, 129, 0) 100%);
    background-image: -o-linear-gradient(top,  rgb(255, 159, 14) 0%, rgb(216, 129, 0) 100%);
    background-image: -ms-linear-gradient(top, rgb(255, 159, 14) 0%, rgb(216, 129, 0) 100%);
    background-image: linear-gradient(to bottom,  rgb(255, 159, 14) 0%, rgb(216, 129, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9f0e', endColorstr='#d88100',GradientType=0 );
}

.background_color_blanchedAlmond7,
.hover_background_color_blanchedAlmond7:hover,
.active_background_color_blanchedAlmond7:active:hover {
    background-color:#905600;
}

.background_first_color_blanchedAlmond7,
.hover_background_first_color_blanchedAlmond7:hover,
.active_background_first_color_blanchedAlmond7:active:hover {
    background-color:#b46c00;
}

.background_last_color_blanchedAlmond7,
.hover_background_last_color_blanchedAlmond7:hover,
.active_background_color_last_blanchedAlmond7:active:hover {
   background-color:#905600;
}

/* ------------------------------ color settings -------------------------------*/
.color_blanchedAlmond7,
.hover_color_blanchedAlmond7:hover,
.active_color_blanchedAlmond7:active:hover {
    color: #c8c8c8;
}

.color_blanchedAlmond7h,
.hover_color_blanchedAlmond7h:hover,
.active_color_blanchedAlmond7h:active:hover {
    color: #c8c8c8;
}

.color_blanchedAlmond7a,
.hover_color_blanchedAlmond7a:hover,
.active_color_blanchedAlmond7a:active:hover {
    color: #ff0;
}

.color_blanchedAlmond7s,
.hover_color_blanchedAlmond7s:hover,
.active_color_blanchedAlmond7s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_blanchedAlmond7,
.hover_border_blanchedAlmond7:hover,
.active_border_blanchedAlmond7:active:hover {
    border-color: #905600 #905600 #905600 #905600;
}

.border_blanchedAlmond7h,
.hover_border_blanchedAlmond7h:hover,
.active_border_blanchedAlmond7h:active:hover {
    border-color: #814e00 #814e00 #814e00 #814e00;
}

.border_blanchedAlmond7a,
.hover_border_blanchedAlmond7a:hover,
.active_border_blanchedAlmond7a:active:hover {
    border-color: #734500 #734500 #734500 #734500;
}

.border_blanchedAlmond7s,
.hover_border_blanchedAlmond7s:hover,
.active_border_blanchedAlmond7s:active:hover {
    border-color: #d88100 #d88100 #d88100 #d88100;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_blanchedAlmond7,
.hover_shadow_expand_blanchedAlmond7:hover,
.active_shadow_expand_blanchedAlmond7:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(144, 86, 0, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(144, 86, 0, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(144, 86, 0, .39);
}

.shadow_expand_blanchedAlmond7h,
.hover_shadow_expand_blanchedAlmond7h:hover,
.active_shadow_expand_blanchedAlmond7h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(172, 103, 0, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(172, 103, 0, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(172, 103, 0, .50);
}

.shadow_expand_blanchedAlmond7a,
.hover_shadow_expand_blanchedAlmond7a:hover,
.active_shadow_expand_blanchedAlmond7a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(216, 129, 0, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(216, 129, 0, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(216, 129, 0, .63);
}

.shadow_expand_blanchedAlmond7s,
.hover_shadow_expand_blanchedAlmond7s:hover,
.active_shadow_expand_blanchedAlmond7s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(216, 129, 0, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(216, 129, 0, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(216, 129, 0, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_blanchedAlmond7,
.hover_shadow_left_blanchedAlmond7:hover,
.active_shadow_left_blanchedAlmond7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(144, 86, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(144, 86, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(144, 86, 0, .39);
}

.shadow_left_blanchedAlmond7h,
.hover_shadow_left_blanchedAlmond7h:hover,
.active_shadow_left_blanchedAlmond7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(172, 103, 0, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(172, 103, 0, .50);
    box-shadow: -0.5em -0.5em 1em rgba(172, 103, 0, .50);
}

.shadow_left_blanchedAlmond7a,
.hover_shadow_left_blanchedAlmond7a:hover,
.active_shadow_left_blanchedAlmond7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(216, 129, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(216, 129, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(216, 129, 0, .63);
}

.shadow_left_blanchedAlmond7s,
.hover_shadow_left_blanchedAlmond7s:hover,
.active_shadow_left_blanchedAlmond7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(216, 129, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(216, 129, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(216, 129, 0, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_blanchedAlmond7,
.hover_shadow_right_blanchedAlmond7:hover,
.active_shadow_right_blanchedAlmond7:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(144, 86, 0, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(144, 86, 0, .39);
    box-shadow: 0.5em 0em 1em rgba(144, 86, 0, .39);
}

.shadow_right_blanchedAlmond7h,
.hover_shadow_right_blanchedAlmond7h:hover,
.active_shadow_right_blanchedAlmond7h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(172, 103, 0, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(172, 103, 0, .50);
    box-shadow: 0.5em 0em 1em rgba(172, 103, 0, .50);
}

.shadow_right_blanchedAlmond7a,
.hover_shadow_right_blanchedAlmond7a:hover,
.active_shadow_right_blanchedAlmond7a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(216, 129, 0, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(216, 129, 0, .63);
    box-shadow: 0.5em 0em 1em rgba(216, 129, 0, .63);
}

.shadow_right_blanchedAlmond7s,
.hover_shadow_right_blanchedAlmond7s:hover,
.active_shadow_right_blanchedAlmond7s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(216, 129, 0, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(216, 129, 0, .78);
    box-shadow: 0.5em 0em 1em rgba(216, 129, 0, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_blanchedAlmond7,
.hover_shadow_top_blanchedAlmond7:hover,
.active_shadow_top_blanchedAlmond7:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(144, 86, 0, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(144, 86, 0, .39);
    box-shadow: 0em -0.5em 1em rgba(144, 86, 0, .39);
}

.shadow_top_blanchedAlmond7h,
.hover_shadow_top_blanchedAlmond7h:hover,
.active_shadow_top_blanchedAlmond7h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(172, 103, 0, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(172, 103, 0, .50);
    box-shadow: 0em -0.5em 1em rgba(172, 103, 0, .50);
}

.shadow_top_blanchedAlmond7a,
.hover_shadow_top_blanchedAlmond7a:hover,
.active_shadow_top_blanchedAlmond7a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(216, 129, 0, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(216, 129, 0, .63);
    box-shadow: 0em -0.5em 1em rgba(216, 129, 0, .63);
}

.shadow_top_blanchedAlmond7s,
.hover_shadow_top_blanchedAlmond7s:hover,
.active_shadow_top_blanchedAlmond7s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(216, 129, 0, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(216, 129, 0, .78);
    box-shadow: 0em -0.5em 1em rgba(216, 129, 0, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_blanchedAlmond7,
.hover_shadow_bottom_blanchedAlmond7:hover,
.active_shadow_bottom_blanchedAlmond7:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(144, 86, 0, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(144, 86, 0, .39);
    box-shadow: 0em 0.5em 1em rgba(144, 86, 0, .39);
}

.shadow_bottom_blanchedAlmond7h,
.hover_shadow_bottom_blanchedAlmond7h:hover,
.active_shadow_bottom_blanchedAlmond7h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(172, 103, 0, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(172, 103, 0, .50);
    box-shadow: 0em 0.5em 1em rgba(172, 103, 0, .50);
}

.shadow_bottom_blanchedAlmond7a,
.hover_shadow_bottom_blanchedAlmond7a:hover,
.active_shadow_bottom_blanchedAlmond7a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(216, 129, 0, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(216, 129, 0, .63);
    box-shadow: 0em 0.5em 1em rgba(216, 129, 0, .63);
}

.shadow_bottom_blanchedAlmond7s,
.hover_shadow_bottom_blanchedAlmond7s:hover,
.active_shadow_bottom_blanchedAlmond7s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(216, 129, 0, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(216, 129, 0, .78);
    box-shadow: 0em 0.5em 1em rgba(216, 129, 0, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_blanchedAlmond7,
.hover_shadow_top_left_blanchedAlmond7:hover,
.active_shadow_top_left_blanchedAlmond7:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(144, 86, 0, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(144, 86, 0, .39);
    box-shadow: -0.5em -0.5em 1em rgba(144, 86, 0, .39);
}

.shadow_top_left_blanchedAlmond7h,
.hover_shadow_top_left_blanchedAlmond7h:hover,
.active_shadow_top_left_blanchedAlmond7h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(172, 103, 0, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(172, 103, 0, .50);
    box-shadow: -0.5em -0.5em 1em rgba(172, 103, 0, .50);
}

.shadow_top_left_blanchedAlmond7a,
.hover_shadow_top_left_blanchedAlmond7a:hover,
.active_shadow_top_left_blanchedAlmond7a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(216, 129, 0, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(216, 129, 0, .63);
    box-shadow: -0.5em -0.5em 1em rgba(216, 129, 0, .63);
}

.shadow_top_left_blanchedAlmond7s,
.hover_shadow_top_left_blanchedAlmond7s:hover,
.active_shadow_top_left_blanchedAlmond7s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(216, 129, 0, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(216, 129, 0, .78);
    box-shadow: -0.5em -0.5em 1em rgba(216, 129, 0, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_blanchedAlmond7,
.hover_shadow_top_right_blanchedAlmond7:hover,
.active_shadow_top_right_blanchedAlmond7:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(144, 86, 0, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(144, 86, 0, .39);
    box-shadow: 0.5em -0.5em 1em rgba(144, 86, 0, .39);
}

.shadow_top_right_blanchedAlmond7h,
.hover_shadow_top_right_blanchedAlmond7h:hover,
.active_shadow_top_right_blanchedAlmond7h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(172, 103, 0, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(172, 103, 0, .50);
    box-shadow: 0.5em -0.5em 1em rgba(172, 103, 0, .50);
}

.shadow_top_right_blanchedAlmond7a,
.hover_shadow_top_right_blanchedAlmond7a:hover,
.active_shadow_top_right_blanchedAlmond7a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(216, 129, 0, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(216, 129, 0, .63);
    box-shadow: 0.5em -0.5em 1em rgba(216, 129, 0, .63);
}

.shadow_top_right_blanchedAlmond7s,
.hover_shadow_top_right_blanchedAlmond7s:hover,
.active_shadow_top_right_blanchedAlmond7s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(216, 129, 0, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(216, 129, 0, .78);
    box-shadow: 0.5em -0.5em 1em rgba(216, 129, 0, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_blanchedAlmond7,
.hover_shadow_bottom_left_blanchedAlmond7:hover,
.active_shadow_bottom_left_blanchedAlmond7:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(144, 86, 0, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(144, 86, 0, .39);
    box-shadow: -0.5em 0.5em 1em rgba(144, 86, 0, .39);
}

.shadow_bottom_left_blanchedAlmond7h,
.hover_shadow_bottom_left_blanchedAlmond7h:hover,
.active_shadow_bottom_left_blanchedAlmond7h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(172, 103, 0, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(172, 103, 0, .50);
    box-shadow: -0.5em 0.5em 1em rgba(172, 103, 0, .50);
}

.shadow_bottom_left_blanchedAlmond7a,
.hover_shadow_bottom_left_blanchedAlmond7a:hover,
.active_shadow_bottom_left_blanchedAlmond7a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(216, 129, 0, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(216, 129, 0, .63);
    box-shadow: -0.5em 0.5em 1em rgba(216, 129, 0, .63);
}

.shadow_bottom_left_blanchedAlmond7s,
.hover_shadow_bottom_left_blanchedAlmond7s:hover,
.active_shadow_bottom_left_blanchedAlmond7s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(216, 129, 0, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(216, 129, 0, .78);
    box-shadow: -0.5em 0.5em 1em rgba(216, 129, 0, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_blanchedAlmond7,
.hover_shadow_bottom_right_blanchedAlmond7:hover,
.active_shadow_bottom_right_blanchedAlmond7:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(144, 86, 0, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(144, 86, 0, .39);
    box-shadow: 0.5em 0.5em 1em rgba(144, 86, 0, .39);
}

.shadow_bottom_right_blanchedAlmond7h,
.hover_shadow_bottom_right_blanchedAlmond7h:hover,
.active_shadow_bottom_right_blanchedAlmond7h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(172, 103, 0, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(172, 103, 0, .50);
    box-shadow: 0.5em 0.5em 1em rgba(172, 103, 0, .50);
}

.shadow_bottom_right_blanchedAlmond7a,
 .hover_shadow_bottom_right_blanchedAlmond7a:hover,
 .active_shadow_bottom_right_blanchedAlmond7a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(216, 129, 0, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(216, 129, 0, .63);
     box-shadow: 0.5em 0.5em 1em rgba(216, 129, 0, .63);
 }

 .shadow_bottom_right_blanchedAlmond7s,
 .hover_shadow_bottom_right_blanchedAlmond7s:hover,
 .active_shadow_bottom_right_blanchedAlmond7s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(216, 129, 0, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(216, 129, 0, .78);
     box-shadow: 0.5em 0.5em 1em rgba(216, 129, 0, .78);
 }