.aquaCoral7,
.hover_aquaCoral7:hover,
.active_aquaCoral7:active {
    -webkit-box-shadow: 0 0.63em 0.75em rgba(197, 33, 0, .39),
           inset 0 -0.5em 0.9em 0 #ff332c,
           inset 0 -0.5em 0em 0.65em rgb(146, 27, 0),
           inset 0 0em 0.5em 2em rgb(219, 84, 54);
    -moz-box-shadow: 0 0.63em 0.75em rgba(197, 33, 0, .39),
           inset 0 -0.5em 0.9em 0 #ff332c,
           inset 0 -0.5em 0em 0.65em rgb(146, 27, 0),
           inset 0 0em 0.5em 2em rgb(219, 84, 54);
    box-shadow: 0 0.63em 0.75em rgba(197, 33, 0, .39),
           inset 0 -0.5em 0.9em 0 #ff332c,
           inset 0 -0.5em 0em 0.65em rgb(146, 27, 0),
           inset 0 0em 0.5em 2em rgb(219, 84, 54);
}

.aquaCoral7h,
.hover_aquaCoral7h:hover,
.active_aquaCoral7h:active {
    -webkit-box-shadow:0 0.63em 1em rgba(222, 37, 0, .55),
           inset 0 -0.5em 0.9em 0 #ff645f,
           inset 0 -0.5em 0em 0.65em #f82e00,
           inset 0 0em 0.5em 2em #fb7f63;
    -moz-box-shadow:0 0.63em 1em rgba(222, 37, 0, .55),
           inset 0 -0.5em 0.9em 0 #ff645f,
           inset 0 -0.5em 0em 0.65em #f82e00,
           inset 0 0em 0.5em 2em #fb7f63;
    box-shadow:0 0.63em 1em rgba(222, 37, 0, .55),
           inset 0 -0.5em 0.9em 0 #ff645f,
           inset 0 -0.5em 0em 0.65em #f82e00,
           inset 0 0em 0.5em 2em #fb7f63;
}

.aquaCoral7a,
.hover_aquaCoral7a:hover,
.active_aquaCoral7a:active {
    /*background: #cd3700;*/

    -webkit-box-shadow:0 0.63em 1em rgba(146, 25, 0, .55),
           inset 0 -0.5em 0.9em 0 #ff4c45,
           inset 0 -0.5em 0em 0.65em #bf2300,
           inset 0 0em 0.5em 2em #ff3e12;
    -moz-box-shadow:0 0.63em 1em rgba(146, 25, 0, .55),
           inset 0 -0.5em 0.9em 0 #ff4c45,
           inset 0 -0.5em 0em 0.65em #bf2300,
           inset 0 0em 0.5em 2em #ff3e12;
    box-shadow:0 0.63em 1em rgba(146, 25, 0, .55),
           inset 0 -0.5em 0.9em 0 #ff4c45,
           inset 0 -0.5em 0em 0.65em #bf2300,
           inset 0 0em 0.5em 2em #ff3e12;
}

/* ------------------------------ color settings ----------------------------*/
.color_aquaCoral7,
.hover_color_aquaCoral7:hover,
.active_color_aquaCoral7:active {
    color: #c8c8c8;
}

.color_aquaCoral7h,
.hover_color_aquaCoral7h:hover,
.active_color_aquaCoral7h:active {
    color: #c8c8c8;
}

.color_aquaCoral7a,
.hover_color_aquaCoral7a:hover,
.active_color_aquaCoral7a:active {
    color: #c8c8c8;
}

/* -------------------------- border settings --------------------------------*/
.border_aquaCoral7,
.hover_border_aquaCoral7:hover,
.active_border_aquaCoral7:active {
    border-color: #892500 #892500 #892500 #892500;
}

.border_aquaCoral7h,
.hover_border_aquaCoral7h:hover,
.active_border_aquaCoral7h:active {
    border-color: #892500 #892500 #892500 #892500;
}

.border_aquaCoral7a,
.hover_border_aquaCoral7a:hover,
.active_border_aquaCoral7a:active  {
    border-color: #892500 #892500 #892500 #892500;
}

