.background_glassyPeru2,
.hover_background_glassyPeru2:hover,
.active_background_glassyPeru2:active:hover {
    background: #dba875;
    background-image: -moz-linear-gradient(top,  rgb(212, 151, 91) 0%, rgb(205, 134, 64) 50%, rgb(187, 117, 49) 55%, rgb(219, 168, 117) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(212, 151, 91)), color-stop(50%, rgb(205, 134, 64)), color-stop(55%, rgb(187, 117, 49)), color-stop(100%, rgb(219, 168, 117)));
    background-image: -webkit-linear-gradient(top,  rgb(212, 151, 91) 0%, rgb(205, 134, 64) 50%, rgb(187, 117, 49) 55%, rgb(219, 168, 117) 100%);
    background-image: -o-linear-gradient(top,  rgb(212, 151, 91) 0%, rgb(205, 134, 64) 50%, rgb(187, 117, 49) 55%, rgb(219, 168, 117) 100%);
    background-image: -ms-linear-gradient(top, rgb(212, 151, 91) 0%, rgb(205, 134, 64) 50%, rgb(187, 117, 49) 55%, rgb(219, 168, 117) 100%);
    background-image: linear-gradient(to bottom,  rgb(212, 151, 91) 0%, rgb(205, 134, 64) 50%, rgb(187, 117, 49) 55%, rgb(219, 168, 117) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4975b', endColorstr='#dba875',GradientType=0 );
}

.background_glassyPeru2h,
.hover_background_glassyPeru2h:hover,
.active_background_glassyPeru2h:active:hover {
    background: #dba875;
    background-image: -moz-linear-gradient(top,  rgb(225, 181, 139) 0%, rgb(216, 161, 107) 50%, rgb(208, 140, 75) 55%, rgb(233, 202, 171) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(225, 181, 139)), color-stop(50%, rgb(216, 161, 107)), color-stop(55%, rgb(208, 140, 75)), color-stop(100%, rgb(233, 202, 171)));
    background-image: -webkit-linear-gradient(top,  rgb(225, 181, 139) 0%, rgb(216, 161, 107) 50%, rgb(208, 140, 75) 55%, rgb(233, 202, 171) 100%);
    background-image: -o-linear-gradient(top,  rgb(225, 181, 139) 0%, rgb(216, 161, 107) 50%, rgb(208, 140, 75) 55%, rgb(233, 202, 171) 100%);
    background-image: -ms-linear-gradient(top, rgb(225, 181, 139) 0%, rgb(216, 161, 107) 50%, rgb(208, 140, 75) 55%, rgb(233, 202, 171) 100%);
    background-image: linear-gradient(to bottom,  rgb(225, 181, 139) 0%, rgb(216, 161, 107) 50%, rgb(208, 140, 75) 55%, rgb(233, 202, 171) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1b58b', endColorstr='#e9caab',GradientType=0 );
}

.background_glassyPeru2a,
.hover_background_glassyPeru2a:hover,
.active_background_glassyPeru2a:active:hover {
    background: #dba875;
    background-image: -moz-linear-gradient(top,  rgb(233, 202, 171) 0%, rgb(208, 140, 75) 50%, rgb(216, 161, 107) 55%, rgb(225, 181, 139) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(233, 202, 171)), color-stop(50%, rgb(208, 140, 75)), color-stop(55%, rgb(216, 161, 107)), color-stop(100%, rgb(225, 181, 139)));
    background-image: -webkit-linear-gradient(top,  rgb(233, 202, 171) 0%, rgb(208, 140, 75) 50%, rgb(216, 161, 107) 55%, rgb(225, 181, 139) 100%);
    background-image: -o-linear-gradient(top,  rgb(233, 202, 171) 0%, rgb(208, 140, 75) 50%, rgb(216, 161, 107) 55%, rgb(225, 181, 139) 100%);
    background-image: -ms-linear-gradient(top, rgb(233, 202, 171) 0%, rgb(208, 140, 75) 50%, rgb(216, 161, 107) 55%, rgb(225, 181, 139) 100%);
    background-image: linear-gradient(to bottom,  rgb(233, 202, 171) 0%, rgb(208, 140, 75) 50%, rgb(216, 161, 107) 55%, rgb(225, 181, 139) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9caab', endColorstr='#e1b58b',GradientType=0 );
}

.background_glassyPeru2s,
.hover_background_glassyPeru2s:hover,
.active_background_glassyPeru2s:active:hover {
    background: #dba875;
    background-image: -moz-linear-gradient(top,  rgb(244, 227, 211) 0%, rgb(233, 202, 171) 50%, rgb(223, 176, 131) 55%, rgb(254, 252, 251) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(244, 227, 211)), color-stop(50%, rgb(233, 202, 171)), color-stop(55%, rgb(223, 176, 131)), color-stop(100%, rgb(254, 252, 251)));
    background-image: -webkit-linear-gradient(top,  rgb(244, 227, 211) 0%, rgb(233, 202, 171) 50%, rgb(223, 176, 131) 55%, rgb(254, 252, 251) 100%);
    background-image: -o-linear-gradient(top,  rgb(244, 227, 211) 0%, rgb(233, 202, 171) 50%, rgb(223, 176, 131) 55%, rgb(254, 252, 251) 100%);
    background-image: -ms-linear-gradient(top, rgb(244, 227, 211) 0%, rgb(233, 202, 171) 50%, rgb(223, 176, 131) 55%, rgb(254, 252, 251) 100%);
    background-image: linear-gradient(to bottom,  rgb(244, 227, 211) 0%, rgb(233, 202, 171) 50%, rgb(223, 176, 131) 55%, rgb(254, 252, 251) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e3d3', endColorstr='#fefcfb',GradientType=0 );
}

.background_color_glassyPeru2,
.hover_background_color_glassyPeru2:hover,
.active_background_color_glassyPeru2:active:hover {
    background-color:#dba875;
}

.background_first_color_glassyPeru2,
.hover_background_first_color_glassyPeru2:hover,
.active_background_first_color_glassyPeru2:active:hover {
    background-color:#d4975b;
}

.background_last_color_glassyPeru2,
.hover_background_last_color_glassyPeru2:hover,
.active_background_color_last_glassyPeru2:active:hover {
   background-color:#dba875;
}

/* ------------------------------ color settings -------------------------------*/
.color_glassyPeru2,
.hover_color_glassyPeru2:hover,
.active_color_glassyPeru2:active:hover {
    color: #282828;
}

.color_glassyPeru2h,
.hover_color_glassyPeru2h:hover,
.active_color_glassyPeru2h:active:hover {
    color: #282828;
}

.color_glassyPeru2a,
.hover_color_glassyPeru2a:hover,
.active_color_glassyPeru2a:active:hover {
    color: #ff0;
}

.color_glassyPeru2s,
.hover_color_glassyPeru2s:hover,
.active_color_glassyPeru2s:active:hover {
    color: #dd0;
}

/* -------------------------- border color settings -----------------------------*/
.border_glassyPeru2,
.hover_border_glassyPeru2:hover,
.active_border_glassyPeru2:active:hover {
    border-color: #c07832 #a0642a #a0642a #c07832;
}

.border_glassyPeru2h,
.hover_border_glassyPeru2h:hover,
.active_border_glassyPeru2h:active:hover {
    border-color: #c07832 #a0642a #a0642a #c07832;
}

.border_glassyPeru2a,
.hover_border_glassyPeru2a:hover,
.active_border_glassyPeru2a:active:hover {
    border-color: #965d27 #965d27 #965d27 #965d27;
}

.border_glassyPeru2s,
.hover_border_glassyPeru2s:hover,
.active_border_glassyPeru2s:active:hover {
    border-color: #965d27 #965d27 #965d27 #965d27;
}


/* -------------------------- shadow expand settings --------------------------------*/
.shadow_expand_glassyPeru2,
.hover_shadow_expand_glassyPeru2:hover,
.active_shadow_expand_glassyPeru2:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(219, 168, 117, .39);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(219, 168, 117, .39);
    box-shadow: 0em 0em 1em 0.25em rgba(219, 168, 117, .39);
}

.shadow_expand_glassyPeru2h,
.hover_shadow_expand_glassyPeru2h:hover,
.active_shadow_expand_glassyPeru2h:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(233, 202, 171, .50);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(233, 202, 171, .50);
    box-shadow: 0em 0em 1em 0.25em rgba(233, 202, 171, .50);
}

.shadow_expand_glassyPeru2a,
.hover_shadow_expand_glassyPeru2a:hover,
.active_shadow_expand_glassyPeru2a:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(225, 181, 139, .63);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(225, 181, 139, .63);
    box-shadow: 0em 0em 1em 0.25em rgba(225, 181, 139, .63);
}

.shadow_expand_glassyPeru2s,
.hover_shadow_expand_glassyPeru2s:hover,
.active_shadow_expand_glassyPeru2s:active:hover {
    -webkit-box-shadow: 0em 0em 1em 0.25em rgba(225, 181, 139, .78);
    -moz-box-shadow: 0em 0em 1em 0.25em rgba(225, 181, 139, .78);
    box-shadow: 0em 0em 1em 0.25em rgba(225, 181, 139, .78);
}

/* -------------------------- shadow left settings --------------------------------*/
.shadow_left_glassyPeru2,
.hover_shadow_left_glassyPeru2:hover,
.active_shadow_left_glassyPeru2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(219, 168, 117, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(219, 168, 117, .39);
    box-shadow: -0.5em -0.5em 1em rgba(219, 168, 117, .39);
}

.shadow_left_glassyPeru2h,
.hover_shadow_left_glassyPeru2h:hover,
.active_shadow_left_glassyPeru2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(233, 202, 171, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(233, 202, 171, .50);
    box-shadow: -0.5em -0.5em 1em rgba(233, 202, 171, .50);
}

.shadow_left_glassyPeru2a,
.hover_shadow_left_glassyPeru2a:hover,
.active_shadow_left_glassyPeru2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(225, 181, 139, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(225, 181, 139, .63);
    box-shadow: -0.5em -0.5em 1em rgba(225, 181, 139, .63);
}

.shadow_left_glassyPeru2s,
.hover_shadow_left_glassyPeru2s:hover,
.active_shadow_left_glassyPeru2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(225, 181, 139, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(225, 181, 139, .78);
    box-shadow: -0.5em -0.5em 1em rgba(225, 181, 139, .78);
}

/* -------------------------- shadow right settings --------------------------------*/
.shadow_right_glassyPeru2,
.hover_shadow_right_glassyPeru2:hover,
.active_shadow_right_glassyPeru2:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(219, 168, 117, .39);
    -moz-box-shadow: 0.5em 0em 1em rgba(219, 168, 117, .39);
    box-shadow: 0.5em 0em 1em rgba(219, 168, 117, .39);
}

.shadow_right_glassyPeru2h,
.hover_shadow_right_glassyPeru2h:hover,
.active_shadow_right_glassyPeru2h:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(233, 202, 171, .50);
    -moz-box-shadow: 0.5em 0em 1em rgba(233, 202, 171, .50);
    box-shadow: 0.5em 0em 1em rgba(233, 202, 171, .50);
}

.shadow_right_glassyPeru2a,
.hover_shadow_right_glassyPeru2a:hover,
.active_shadow_right_glassyPeru2a:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(225, 181, 139, .63);
    -moz-box-shadow: 0.5em 0em 1em rgba(225, 181, 139, .63);
    box-shadow: 0.5em 0em 1em rgba(225, 181, 139, .63);
}

.shadow_right_glassyPeru2s,
.hover_shadow_right_glassyPeru2s:hover,
.active_shadow_right_glassyPeru2s:active:hover {
    -webkit-box-shadow: 0.5em 0em 1em rgba(225, 181, 139, .78);
    -moz-box-shadow: 0.5em 0em 1em rgba(225, 181, 139, .78);
    box-shadow: 0.5em 0em 1em rgba(225, 181, 139, .78);
}

/* -------------------------- shadow top settings --------------------------------*/
.shadow_top_glassyPeru2,
.hover_shadow_top_glassyPeru2:hover,
.active_shadow_top_glassyPeru2:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(219, 168, 117, .39);
    -moz-box-shadow: 0em -0.5em 1em rgba(219, 168, 117, .39);
    box-shadow: 0em -0.5em 1em rgba(219, 168, 117, .39);
}

.shadow_top_glassyPeru2h,
.hover_shadow_top_glassyPeru2h:hover,
.active_shadow_top_glassyPeru2h:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(233, 202, 171, .50);
    -moz-box-shadow: 0em -0.5em 1em rgba(233, 202, 171, .50);
    box-shadow: 0em -0.5em 1em rgba(233, 202, 171, .50);
}

.shadow_top_glassyPeru2a,
.hover_shadow_top_glassyPeru2a:hover,
.active_shadow_top_glassyPeru2a:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(225, 181, 139, .63);
    -moz-box-shadow: 0em -0.5em 1em rgba(225, 181, 139, .63);
    box-shadow: 0em -0.5em 1em rgba(225, 181, 139, .63);
}

.shadow_top_glassyPeru2s,
.hover_shadow_top_glassyPeru2s:hover,
.active_shadow_top_glassyPeru2s:active:hover {
    -webkit-box-shadow: 0em -0.5em 1em rgba(225, 181, 139, .78);
    -moz-box-shadow: 0em -0.5em 1em rgba(225, 181, 139, .78);
    box-shadow: 0em -0.5em 1em rgba(225, 181, 139, .78);
}

/* -------------------------- shadow bottom settings --------------------------------*/
.shadow_bottom_glassyPeru2,
.hover_shadow_bottom_glassyPeru2:hover,
.active_shadow_bottom_glassyPeru2:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(219, 168, 117, .39);
    -moz-box-shadow: 0em 0.5em 1em rgba(219, 168, 117, .39);
    box-shadow: 0em 0.5em 1em rgba(219, 168, 117, .39);
}

.shadow_bottom_glassyPeru2h,
.hover_shadow_bottom_glassyPeru2h:hover,
.active_shadow_bottom_glassyPeru2h:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(233, 202, 171, .50);
    -moz-box-shadow: 0em 0.5em 1em rgba(233, 202, 171, .50);
    box-shadow: 0em 0.5em 1em rgba(233, 202, 171, .50);
}

.shadow_bottom_glassyPeru2a,
.hover_shadow_bottom_glassyPeru2a:hover,
.active_shadow_bottom_glassyPeru2a:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(225, 181, 139, .63);
    -moz-box-shadow: 0em 0.5em 1em rgba(225, 181, 139, .63);
    box-shadow: 0em 0.5em 1em rgba(225, 181, 139, .63);
}

.shadow_bottom_glassyPeru2s,
.hover_shadow_bottom_glassyPeru2s:hover,
.active_shadow_bottom_glassyPeru2s:active:hover {
    -webkit-box-shadow: 0em 0.5em 1em rgba(225, 181, 139, .78);
    -moz-box-shadow: 0em 0.5em 1em rgba(225, 181, 139, .78);
    box-shadow: 0em 0.5em 1em rgba(225, 181, 139, .78);
}

/* -------------------------- shadow top_left settings --------------------------------*/
.shadow_top_left_glassyPeru2,
.hover_shadow_top_left_glassyPeru2:hover,
.active_shadow_top_left_glassyPeru2:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(219, 168, 117, .39);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(219, 168, 117, .39);
    box-shadow: -0.5em -0.5em 1em rgba(219, 168, 117, .39);
}

.shadow_top_left_glassyPeru2h,
.hover_shadow_top_left_glassyPeru2h:hover,
.active_shadow_top_left_glassyPeru2h:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(233, 202, 171, .50);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(233, 202, 171, .50);
    box-shadow: -0.5em -0.5em 1em rgba(233, 202, 171, .50);
}

.shadow_top_left_glassyPeru2a,
.hover_shadow_top_left_glassyPeru2a:hover,
.active_shadow_top_left_glassyPeru2a:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(225, 181, 139, .63);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(225, 181, 139, .63);
    box-shadow: -0.5em -0.5em 1em rgba(225, 181, 139, .63);
}

.shadow_top_left_glassyPeru2s,
.hover_shadow_top_left_glassyPeru2s:hover,
.active_shadow_top_left_glassyPeru2s:active:hover {
    -webkit-box-shadow: -0.5em -0.5em 1em rgba(225, 181, 139, .78);
    -moz-box-shadow: -0.5em -0.5em 1em rgba(225, 181, 139, .78);
    box-shadow: -0.5em -0.5em 1em rgba(225, 181, 139, .78);
}

/* -------------------------- shadow top_right settings --------------------------------*/
.shadow_top_right_glassyPeru2,
.hover_shadow_top_right_glassyPeru2:hover,
.active_shadow_top_right_glassyPeru2:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(219, 168, 117, .39);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(219, 168, 117, .39);
    box-shadow: 0.5em -0.5em 1em rgba(219, 168, 117, .39);
}

.shadow_top_right_glassyPeru2h,
.hover_shadow_top_right_glassyPeru2h:hover,
.active_shadow_top_right_glassyPeru2h:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(233, 202, 171, .50);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(233, 202, 171, .50);
    box-shadow: 0.5em -0.5em 1em rgba(233, 202, 171, .50);
}

.shadow_top_right_glassyPeru2a,
.hover_shadow_top_right_glassyPeru2a:hover,
.active_shadow_top_right_glassyPeru2a:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(225, 181, 139, .63);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(225, 181, 139, .63);
    box-shadow: 0.5em -0.5em 1em rgba(225, 181, 139, .63);
}

.shadow_top_right_glassyPeru2s,
.hover_shadow_top_right_glassyPeru2s:hover,
.active_shadow_top_right_glassyPeru2s:active:hover {
    -webkit-box-shadow: 0.5em -0.5em 1em rgba(225, 181, 139, .78);
    -moz-box-shadow: 0.5em -0.5em 1em rgba(225, 181, 139, .78);
    box-shadow: 0.5em -0.5em 1em rgba(225, 181, 139, .78);
}

/* -------------------------- shadow bottom_left settings --------------------------------*/
.shadow_bottom_left_glassyPeru2,
.hover_shadow_bottom_left_glassyPeru2:hover,
.active_shadow_bottom_left_glassyPeru2:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(219, 168, 117, .39);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(219, 168, 117, .39);
    box-shadow: -0.5em 0.5em 1em rgba(219, 168, 117, .39);
}

.shadow_bottom_left_glassyPeru2h,
.hover_shadow_bottom_left_glassyPeru2h:hover,
.active_shadow_bottom_left_glassyPeru2h:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(233, 202, 171, .50);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(233, 202, 171, .50);
    box-shadow: -0.5em 0.5em 1em rgba(233, 202, 171, .50);
}

.shadow_bottom_left_glassyPeru2a,
.hover_shadow_bottom_left_glassyPeru2a:hover,
.active_shadow_bottom_left_glassyPeru2a:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(225, 181, 139, .63);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(225, 181, 139, .63);
    box-shadow: -0.5em 0.5em 1em rgba(225, 181, 139, .63);
}

.shadow_bottom_left_glassyPeru2s,
.hover_shadow_bottom_left_glassyPeru2s:hover,
.active_shadow_bottom_left_glassyPeru2s:active:hover {
    -webkit-box-shadow: -0.5em 0.5em 1em rgba(225, 181, 139, .78);
    -moz-box-shadow: -0.5em 0.5em 1em rgba(225, 181, 139, .78);
    box-shadow: -0.5em 0.5em 1em rgba(225, 181, 139, .78);
}

/* -------------------------- shadow bottom_right settings --------------------------------*/
.shadow_bottom_right_glassyPeru2,
.hover_shadow_bottom_right_glassyPeru2:hover,
.active_shadow_bottom_right_glassyPeru2:active:hover {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(219, 168, 117, .39);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(219, 168, 117, .39);
    box-shadow: 0.5em 0.5em 1em rgba(219, 168, 117, .39);
}

.shadow_bottom_right_glassyPeru2h,
.hover_shadow_bottom_right_glassyPeru2h:hover,
.active_shadow_bottom_right_glassyPeru2h:active:hover  {
    -webkit-box-shadow: 0.5em 0.5em 1em rgba(233, 202, 171, .50);
    -moz-box-shadow: 0.5em 0.5em 1em rgba(233, 202, 171, .50);
    box-shadow: 0.5em 0.5em 1em rgba(233, 202, 171, .50);
}

.shadow_bottom_right_glassyPeru2a,
 .hover_shadow_bottom_right_glassyPeru2a:hover,
 .active_shadow_bottom_right_glassyPeru2a:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(225, 181, 139, .63);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(225, 181, 139, .63);
     box-shadow: 0.5em 0.5em 1em rgba(225, 181, 139, .63);
 }

 .shadow_bottom_right_glassyPeru2s,
 .hover_shadow_bottom_right_glassyPeru2s:hover,
 .active_shadow_bottom_right_glassyPeru2s:active:hover {
     -webkit-box-shadow: 0.5em 0.5em 1em rgba(225, 181, 139, .78);
     -moz-box-shadow: 0.5em 0.5em 1em rgba(225, 181, 139, .78);
     box-shadow: 0.5em 0.5em 1em rgba(225, 181, 139, .78);
 }